[2022-09-11 06:16] rizazoel opened #5631 "Bug/error: Notifikasi jika anjungan terdeteksi tapi belum ada pesanan anjungan"
### Jelaskan error yg dialami

Ketika memasukkan IP Address pada menu Anjungan, dihalaman Layanan Mandiri tetap tidak terbaca bahwa IP tersebut merupakan IP Anjungan.

### Cara untuk mereplikasi errornya

1. Buka halaman siteman kemudian ke menu anjungan https://berputar.opendesa.id/anjungan
2. Tambah anjungan mandiri dengan memasukkan IP Address
3. Buka dihalaman https://berputar.opendesa.id/laya

[2022-09-11 07:51] langonsari opened #5632 "Permintaan fitur: Penambahan Form isian Gelar di Depan dan Belakang"
### Apa kekurangan yg ingin diatasi?

Penambahan Form Isian Gelar Depan dan Belakang
![image](https://user-images.githubusercontent.com/96863107/189517222-2118e135-8f1a-43f5-8fcc-b34fcbbd629f.png)

### Jelaskan solusi yg diinginkan

- [ ]  Penambahan Form isian Gelas didepan dan Belakang untuk pemisahan antara Gelar dan Nama
- [ ] Gelar bisa dimunculkan di Salinan Kartu Keluar, Biodata Penduduk, F

[2022-09-11 14:57] yogiperdana commented on #5508
Apa yang diperbaiki mas @vickyrolanda

[2022-09-11 15:31] mranca commented on #5519
sekian di perbaiki pak untuk fitur import data respon pada analisis, ini sangat memudahkan kita di banding harus input data satu persatu

[2022-09-12 01:07] andifahruddinakas commented on #5631
Mas @devrakapriyo, @vickyrolanda, alur anjungan disesuaikan sesuai permintaan pelaksana, bisa dikonfirmasi ulang.

[2022-09-12 05:28] #5607 closed, assigned to andifahruddinakas

[2022-09-12 05:34] Wiliyantoro opened #5633 "Bug/error: [NO KK SEMENTARA] no kk sementara tidak berfungsi jika pecah kk apabila no kknya KK SEMENTARA"
### Jelaskan error yg dialami

tidak bisa Pecah KK karena No KK Sementara tidak muncul apabila sebelumnya no kknya masih no KK SEMENTARA

### Cara untuk mereplikasi errornya

1. home
2. Keluarga
3. filter KK meninggal/pindah/....
4. aksi pecah kk
5. checklist no kk sementara

### Hasil yg diharapkan

bisa melakukan pecah kk apabila no kk sementara

### Tangkapan layar dan log error

![BUG PECAH KK

[2022-09-12 06:06] ai-skematik commented on #5631
@rizazoel  perangkat hanya akan terbaca sebagai Anjungan jika membeli Perangkat Anjungan dari OpenDesa atau membeli lisensi Anjungan.

[2022-09-12 07:05] andifahruddinakas commented on #5633
Mas @devrakapriyo, @vickyrolanda, saya coba duplikasi issue ini tapi tidak ada masalah. Mungkin bisa di cek dan dikonfirmasi ulang, lengkapi alur untuk menemukan error yang dimaksudkan issue ini.

[2022-09-12 08:02] #5231 closed, assigned to nobody

[2022-09-12 10:09] yogiperdana commented on #5518
Duplikat issue https://github.com/OpenSID/OpenSID/issues/5609

[2022-09-12 10:21] devrakapriyo opened #5634 "Bug/error: NIK saksi tidak sesuai ketentuan"
### Jelaskan error yg dialami

pada saat cetak surat Keterangan Kelahiran form input NIK saksi masih bisa diinput asal
- NIK kurang dari 16 digit
- NIK dapat di isi huruf dan simbol
- NIK bisa diinput lebih dari 16 digit

<img width="1440" alt="Screen Shot 2022-09-12 at 16 50 18" src="https://user-images.githubusercontent.com/36557759/189630521-5939fb80-f128-4661-8700-802d653eb5bf.png">
<img width

[2022-09-12 11:34] andifahruddinakas commented on #5634
Mas @devrakapriyo, lain kali bisa di infokan surat2 apa saja yang perlu diperbaiki.

[2022-09-12 12:17] eddieridwan commented on #5631
@vickyrolanda @andifahruddinakas untuk kasus di mana perangkat terdaftar sebagai anjungan, tetapi belum memiliki pemesanan anjungan, sebaiknya ditampilkan notifikasi di form login tersebut menjelaskan hal itu -- supaya pengguna tidak bingung mengapa perangkat mereka tidak dikenal sebagai anjungan. Untuk kata2/notifikasi yg tepat bisa tanyakan pada bung @ai-skematik .

[2022-09-12 12:21] vickyrolanda commented on #5606
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1326

[2022-09-12 12:21] #5606 closed, assigned to agungsugiarto

[2022-09-12 12:54] vickyrolanda commented on #5634
ini surat apa ya mas @andifahruddinakas ?

[2022-09-12 12:55] andifahruddinakas commented on #5634
Bisa di lihat PR file change

[2022-09-12 14:13] vickyrolanda commented on #5634
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1331

[2022-09-12 14:13] #5634 closed, assigned to andifahruddinakas

[2022-09-12 22:35] vickyrolanda commented on #5616
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1330

[2022-09-12 22:35] #5616 closed, assigned to andifahruddinakas

[2022-09-12 22:47] vickyrolanda commented on #5624
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1324

[2022-09-12 22:47] #5624 closed, assigned to andifahruddinakas

[2022-09-12 23:14] vickyrolanda commented on #5345
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1329

[2022-09-12 23:14] #5345 closed, assigned to andifahruddinakas

[2022-09-12 23:20] vickyrolanda commented on #5549
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1323

[2022-09-12 23:38] vickyrolanda commented on #2565
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1322

[2022-09-12 23:38] #2565 closed

[2022-09-12 23:46] vickyrolanda commented on #5467
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1321

[2022-09-12 23:46] #5467 closed, assigned to FirlianiF

[2022-09-13 00:11] vickyrolanda commented on #5518
untuk issue ini mas @yogiperdana dibuatkan migrasi agar surat lama yang sebelum ada alur surat bisa masuk ke arsip, atau pemeriksaan apakah pengaturan alur surat ada verifikasi sekdes / kades kalo tidak ada maka status surat yang masih ke permohonan agar di ganti kearsip hal ini hanya dikhususkan untuk surat lama mau tinymce maupun rtf.

atau solusi lain agar tidak menjadi ambigu, kita bisa mengub

[2022-09-13 00:12] vickyrolanda commented on #5076
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1308

[2022-09-13 00:12] #5076 closed, assigned to yogiperdana

[2022-09-13 00:37] vickyrolanda commented on #5309
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1304

[2022-09-13 00:37] #5309 closed, assigned to andifahruddinakas

[2022-09-13 00:54] vickyrolanda commented on #5515
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1312

[2022-09-13 00:54] #5515 closed, assigned to andifahruddinakas

[2022-09-13 02:43] vickyrolanda commented on #5508
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1303

[2022-09-13 02:43] #5508 closed, assigned to yogiperdana

[2022-09-13 03:11] devrakapriyo commented on #5611
@indr14 issue ini akan kami tutup, jika masih bermasalah silahkan dibuka lagi

[2022-09-13 03:12] #5611 closed, assigned to nobody

[2022-09-13 03:13] vickyrolanda commented on #5623
Saya check muncul jika pengaturan qrcode di aktifkan :
<img width="535" alt="image" src="https://user-images.githubusercontent.com/59082428/189799360-aa22df2c-1fca-4fd9-a5be-add32c2594b6.png">

[2022-09-13 03:14] devrakapriyo commented on #5623
issue ini sudah saya cek kembali dan sudah solved

[2022-09-13 03:14] #5623 closed, assigned to nobody

[2022-09-13 03:17] devrakapriyo commented on #5570
setelah saya konfirmasi dengan pengguna terkahir di tanggal 8 september tidak ada pertanyaan lagi, sepertinya sudah solved
mungkin ada sangkut paut dengan issue https://github.com/OpenSID/OpenSID/issues/5624

[2022-09-13 03:17] #5570 closed, assigned to nobody

[2022-09-13 03:18] andifahruddinakas commented on #5570
Mas @devrakapriyo, biasanya error ini disebabkan karena penggunaan font yang belum tersedia di librari html2pdf. Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/1324

[2022-09-13 03:23] devrakapriyo commented on #5569
terkahir saya hubungi pengguna melalui telegram dengan username @SuryaWijaya88 di tanggal 8 september tidak ada info lebih lanjut
sementara di tutup dan akan buka kembali jika pengguna mengabarkan

[2022-09-13 03:50] vickyrolanda commented on #5239
mas @yogiperdana untuk Issue ini sudah pernah dikerjain oleh mas @apidong mungkin bisa di lanjutin perbaikin di pr ini mas https://github.com/OpenSID/premium/pull/1048 atau pr itu mau di close dan buat pr baru, untuk tahapannya seperti berikut ini mas :

Fitur Paud akan ada perubahan input datanya mas @yogiperdana  berikut stepnya :
**1. Tambah Paud**
<img width="760" alt="image" src="https://user

[2022-09-13 03:58] rizazoel commented on #5631
Kami sudah ada anjungannya pak. Untuk membeli lisensi anjungan nya dimana?

[2022-09-13 04:01] andifahruddinakas commented on #5597
Jangan gunakan halaman utama (domain utama).
Gunakan url : domain/layanan-mandiri, sedangkan halaman sebelumnya (domain/layanan-mandiri) diganti menjadi domain/layanan-mandiri/dashboard.

[2022-09-13 04:27] ruririzal opened #5635 "Bug/error: duplikasi event js ketika load modal jika halaman tidak di-refresh"
### Jelaskan error yg dialami

duplikasi event js ketik load modal jika halaman tidak di-refresh

### Cara untuk mereplikasi errornya

1. contoh di halaman rumah tangga yang ketika menekan tombol tambah akan memuat modal dari server
2. server juga mengirimkan` view/global/validasi_form` dimana file itu memanggil ulang `js/script.js`
3. pada `file js/script.js` akan mendaftarkan event `$('#modalBox

[2022-09-13 04:40] devrakapriyo opened #5637 "Bug/error: clear cache di satukan dengan proses migrasi"
### Jelaskan error yg dialami

saat ini fitur clear cache masih terpisah dengan proses migrasi, untuk mempermudah dalam 1 kali proses update agar fitur clear cache di satukan saat proses migrasi

### Cara untuk mereplikasi errornya

-

### Hasil yg diharapkan

-

### Tangkapan layar dan log error

-

### Rilis Versi OpenSID

Rilis Premium

### Versi OpenSID

v22.08-premium-rev02

### Tema Yang Dig

[2022-09-13 08:47] devrakapriyo opened #5638 "Bug/error: notifikasi kehadiran muncul angka 1"
### Jelaskan error yg dialami

notifikasi kehadiran muncul angka 1
![image](https://user-images.githubusercontent.com/36557759/189856286-d3d185a7-e23d-4ec8-afde-6b5c3fd81dc6.png)

### Cara untuk mereplikasi errornya

-

### Hasil yg diharapkan

hilangkan angka 1

### Tangkapan layar dan log error

-

### Rilis Versi OpenSID

Rilis Premium

### Versi OpenSID

v22.08-premium-rev02

### Tema Yang Dig

[2022-09-13 08:52] devrakapriyo opened #5639 "Bug/error: kebutuhan sistem OpenSID"
### Jelaskan error yg dialami

sesuai yang di laporkan pak @ariandii di group Telegram Pengelolaan Hosting OpenDesa
![image](https://user-images.githubusercontent.com/36557759/189856819-54abd3c6-44cd-46e9-a85f-c9a013aed065.png)
notifikasi versi PHP dan Database memenuhi syarat, tetapi aplikasi tidak berjalan dengan normal.

pertanyaan saya, apakah OpenSID belum support versi 8 PHP dan databasenya

[2022-09-13 09:04] devrakapriyo opened #5640 "Bug/error: error 500 saat ubah Buku Tanah Kas Desa"
### Jelaskan error yg dialami

saat mengubah data Buku Tanah Kas Desa terjadi error 500 ketika klik Simpan
<img width="1440" alt="Screen Shot 2022-09-13 at 16 01 26" src="https://user-images.githubusercontent.com/36557759/189859721-c156c53e-f7d7-411b-9a29-11978f3b65c7.png">

### Cara untuk mereplikasi errornya

- klik menu Buku Administrasi Desa
- klik menu Buku Administrasi Umum
- klik menu Buku

[2022-09-13 09:06] devrakapriyo commented on #5640
info dari pak @ai-skematik muncul error

Query error: Column 'luas' cannot be null - Invalid query: UPDATE tanah_kas_desa SET nama_pemilik_asal = '1', letter_c = '001', kelas = '2', luas = NULL, asli_milik_desa = '10000', pemerintah = '0', provinsi = '0', kabupaten_kota = '0', lain_lain = '0', sawah = '10000', `tegal
= '0', kebun = '0', tambak_kolam = '0', tanah_kering_darat = '0', ada_patok = '10

[2022-09-13 09:22] yogiperdana commented on #5178
Untuk poin nomor 2 maksudnya ada beberapa alasan atau status kah pak @Wiliyantoro ? Aapakah bisa dibuatkan satu alasan yang umum yang bisa meng-_cover_ semua status selain keluar karena sudah waktunya.

[2022-09-13 11:48] luxmant354 opened #5641 "Bug/error:"
### Jelaskan error yg dialami

Buku Mutasi Penduduk, ketika di cetak/ di unduh maka filter tidak berfungsi (semua data mutasi penduduk terunduh)

### Cara untuk mereplikasi errornya

1. Buku Administrasi Desa
2. Administrasi Penduduk
3. pilih buku mutasi penduduk, meskipun tidak di filter / status kosong tidak ada kegiatan mutasi penduduk di bulan tersebut ketika di klik cetak, maka akan muncul se

[2022-09-13 11:52] Wiliyantoro commented on #5178
Point no 2 pk yogi,
1. di rekapitulasi apabila tidak melakukan in dan out pada tanggal tersebut (hari ini) maka di anggap tidak masuk/alpha.
2. Jika point pertama sudah bisa, maka pada kolom status ambil pilihan/alasan keluar.
3. Jika lupa keluar pada jam kerja , maka otomatiskan rubah status masuk ke lupa lapor keluar 5 jam setelah jam keluar, karena pada versi ini status masuk/ada di kantor desa

[2022-09-13 12:47] yogiperdana commented on #5178
1. Baik pak nanti saya cek
2. Jadi untuk alasan keluar pilihannya ada apa saja pak? Atau alasannya diketik manual pak pak @Wiliyantoro?
3. Ini bisa dilakukan apabila desa mengaktifkan cron job di serve masing masing pak. Sepertinya poin no 3 akan dibuatkan di issue terpisah

[2022-09-13 13:45] Wiliyantoro commented on #5178
Jika keluar pada saat jam kerja maka munculkan pilihan :
1. Keluar ada keperluan dinas
2. Keluar karena pulang lebih awal.

Catatan: mungkin jika ada masukan dari rekan rekan yang lain bagaimana enaknya, sediakan tombol atau isi manual.

Sediakan hak administrator untuk rubah keterangan kehadiran apabila orang tersebut keluar namun tidak check out, mungkin ini nanti perlu dibuatkan issue,

Keuntun

[2022-09-14 02:52] andifahruddinakas opened #5642 "Bug/error: template tinymce tidak teratur"
Jika melakukan ubah struktur tabel sedikit saja, maka tampilan surat akan jadi berantakan. Misanya mengubah ukuran box penanda tangan.

[2022-09-14 02:53] andifahruddinakas commented on #5642
@ai-skematik

[2022-09-14 03:07] pemdespancur opened #5643 "Bug/error: Sebuah kesalahan basis data terjadi"
### Jelaskan error yg dialami

1146

Table 'sid_pancur.ref_penduduk_hamil' doesn't exist
Bagaimana cara mengatasi ini ?

### Cara untuk mereplikasi errornya

Tiap buka database atau menambah penduduk baru langsung auto logout

### Hasil yg diharapkan

Perbaikan database

### Tangkapan layar dan log error

![image](https://user-images.githubusercontent.com/34035346/190049178-67810923-0219-48cc-9070

[2022-09-14 03:07] yogiperdana commented on #5178
Baik pak. Jika masih ada saran atau masukkan boleh dibagikan lagi ya pak

[2022-09-14 03:41] andifahruddinakas commented on #5643
Untuk sementara bisa jalankan perintah sql berikut di phpMyAdmin :
[code]

[2022-09-14 04:12] Wiliyantoro commented on #5178
Kalau ijin atau sakit bisa ditambahkan di fitur ini pak,? melihat fungsi fitur ini hanya presensi kehadiran, bukan absensi.

[2022-09-14 04:35] devrakapriyo opened #5644 "Bug/error: penandatanganan halaman kerja sama tidak sesuai"
### Jelaskan error yg dialami

![image](https://user-images.githubusercontent.com/36557759/190059750-4bc54aa7-ad4e-4df0-8205-606edb253d23.png)
tertera di info desa, kepala desa a.n Muhammad Ilham sedangkan di halaman kerja sama penandatanganan a.n Mustahiq S.ADM
![image](https://user-images.githubusercontent.com/36557759/190060229-62608a84-65ae-4097-a9f3-cad13d9b98aa.png)

### Cara untuk mereplika

[2022-09-14 07:41] yogiperdana commented on #5518
Jadi khusus surat rtf tidak harus diperiksa dan langsung masuk arsip begitu ya mas @vickyrolanda?

[2022-09-14 07:46] yogiperdana commented on #5178
Sepertinya ini bukan tujuan awal dari pembuatan fitur ini pak namun akan saya coba diskusikan terlebih dahulu pak. Yang pasti nanti akan dikerjakan di issue terpisah

[2022-09-14 08:10] andifahruddinakas opened #5645 "Tampilan datatable kosong"
![datatables](https://user-images.githubusercontent.com/57283157/190098397-d4dc420c-7a19-4985-9e39-2d2afed60ff8.png)

[2022-09-14 08:20] devrakapriyo commented on #5518
mas @vickyrolanda perihal pembahasan di group Divisi Pengembangan, untuk itu agar dilakukan analisis kebutuhannya
karena issue ini masih general

[2022-09-14 08:27] andifahruddinakas commented on #4225
Duplicate issue https://github.com/OpenSID/OpenSID/issues/4943

[2022-09-14 08:27] #4225 closed

[2022-09-14 08:28] andifahruddinakas commented on #4945
Duplicate issue https://github.com/OpenSID/OpenSID/issues/5259

[2022-09-14 08:28] #4945 closed, assigned to nobody

[2022-09-14 08:28] andifahruddinakas commented on #5531
Duplicate issue https://github.com/OpenSID/OpenSID/issues/5259

[2022-09-14 08:28] #5531 closed, assigned to nobody

[2022-09-14 08:28] andifahruddinakas commented on #5620
Duplicate issue https://github.com/OpenSID/OpenSID/issues/5259

[2022-09-14 08:28] #5620 closed, assigned to nobody

[2022-09-14 08:29] andifahruddinakas commented on #5458
Mulai dari surat yang sederhana terlebih dahulu.

[2022-09-14 09:43] andifahruddinakas commented on #5633
Mas @devrakapriyo, di local dan berputar tidak ada masalah. Mungkin masalah database, server atau lainnya. Untuk saat ini mungkin perlu di cek databasenya.

[2022-09-14 09:50] vickyrolanda commented on #5563
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1333

[2022-09-14 10:18] vickyrolanda commented on #5637
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1336

[2022-09-14 10:18] #5637 closed, assigned to andifahruddinakas

[2022-09-14 10:27] vickyrolanda commented on #5296
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1337

[2022-09-14 10:27] #5296 closed, assigned to yogiperdana

[2022-09-14 10:39] vickyrolanda commented on #5639
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1338

[2022-09-14 10:39] #5639 closed, assigned to andifahruddinakas

[2022-09-14 11:10] vickyrolanda commented on #5638
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1339

[2022-09-14 11:10] #5638 closed, assigned to andifahruddinakas

[2022-09-14 11:50] vickyrolanda opened #5646 "Buat field required berdasarkan opsi yang dipilih saja untuk anjungan mandiri"
Saat ini IP masih required padahal saat ini ID Browser sudah cukup untuk pengaturan,  maka ketika di isi ID Browser maka IP tidak wajib di isi begitu sebaliknya.

<img width="793" alt="image" src="https://user-images.githubusercontent.com/59082428/190145823-a831438a-c687-43ec-92be-6e300e2fb520.png">

[2022-09-14 11:54] vickyrolanda opened #5647 "Tambahkan validasi pengaturan gawai pada saat sesudah login"
1. Pada saat pengaturan gawai ketika semua pengaturan di kosongkan maka sudah tepat yang muncul gawai tidak terdaftar seperti dibawah ini :
![image](https://user-images.githubusercontent.com/59082428/190146639-e56b8ac8-ad73-4b98-bbee-722a929d06eb.png)
2. Lalu ketika sudah di lakukan pengaturan yang benar lalu login dan absen se[erti dibawah ini :
![image](https://user-images.githubusercontent.com/

[2022-09-14 14:38] vickyrolanda commented on #5640
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1340

[2022-09-14 14:38] #5640 closed, assigned to andifahruddinakas

[2022-09-14 15:07] vickyrolanda commented on #5641
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1341

[2022-09-14 15:07] #5641 closed, assigned to andifahruddinakas

[2022-09-14 15:21] #5635 closed, assigned to nobody

[2022-09-14 15:45] vickyrolanda commented on #5642
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1344

[2022-09-14 15:45] #5642 closed, assigned to andifahruddinakas

[2022-09-14 16:21] andifahruddinakas opened #5648 "Urutan jabatan tidak sesuai"
![jabatan 3](https://user-images.githubusercontent.com/57283157/190208992-5da3df13-fabb-42cb-bb80-28bce76ce58e.png)

[2022-09-15 02:46] yogiperdana commented on #5178
Mas @vickyrolanda mohon diikuti juga pembahasan terkait fitur kehadiran ini karena beberapa permintaan fitur yang dibahas dan perlu dilakukan analisis lebih lanjut

[2022-09-15 02:48] andifahruddinakas opened #5649 "Sesuaikan cara deteksi anjungan opendesa"
Cek pembahasan :
https://github.com/OpenSID/OpenSID/issues/5631
https://github.com/OpenSID/premium/pull/1342

[2022-09-15 03:31] devrakapriyo opened #5650 "Bug/error: id_penduduk kosong yang menyebabkan surat tidak muncul"
### Jelaskan error yg dialami

beberapa surat tidak muncul di arsip dan permohonan, ketika cek di database id_penduduk kosong.

laporan dari pengguna desa sukoharjo, kategori surat non warga tidak muncul
![image](https://user-images.githubusercontent.com/36557759/190307419-d67b7c0e-1859-4c53-a431-fcb19149ef00.png)

setelah di cek ternyata id_pend nya null
![image](https://user-images.githubusercon

[2022-09-15 03:36] devrakapriyo opened #5651 "Bug/error: surat permohonan dan arsip tidak muncul di akun kades atau sekdes"
### Jelaskan error yg dialami

daftar surat permohonan dan arsip tidak muncul akun dengan role admin kades dan sekdes sedangkan akun admin selain kades dan sekdes muncul
![image](https://user-images.githubusercontent.com/36557759/190308038-f184d0df-7007-46eb-af33-5b30eb586fed.png)

### Cara untuk mereplikasi errornya

- klik menu layanan surat
- klik menu arsip layanan

### Hasil yg diharapkan

-

[2022-09-15 03:40] devrakapriyo opened #5652 "Bug/error: Data too long for column"
### Jelaskan error yg dialami

perlu di tambahkan max lenght di inputan masing masing form sesuai lenght value field nya
CATATAN : saya akan coba data masing masing form

### Cara untuk mereplikasi errornya

-

### Hasil yg diharapkan

-

### Tangkapan layar dan log error

-

### Rilis Versi OpenSID

Rilis Premium

### Versi OpenSID

v22.08-premium-rev02

### Tema Yang Digunakan

_No response_

##

[2022-09-15 03:42] vickyrolanda commented on #5644
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1347

[2022-09-15 03:42] #5644 closed, assigned to andifahruddinakas

[2022-09-15 03:43] devrakapriyo commented on #5650
dikarenakan non warga tidak mempunyai id_pend yang menyebabkan surat tidak muncul

[2022-09-15 03:49] vickyrolanda commented on #5555
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1348

[2022-09-15 03:49] #5555 closed, assigned to yogiperdana

[2022-09-15 04:13] vickyrolanda commented on #5297
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1349

[2022-09-15 04:13] #5297 closed, assigned to yogiperdana

[2022-09-15 04:20] Sukoharjo3 commented on #5648
ditukar saja itu diedit bisa, kmrn punya saya tak edit

[2022-09-15 04:24] Wiliyantoro commented on #5650
rolenya tampilkan di permohonan surat jika id_penduduk null ambil nik_non_warga / nama_non_warga, apabila ada surat yang tidak mengirimkan id_penduduk , nik_non_warga, nama_non_warga seperti surat ubahan desa contoh surat undangan dll , ambil id suratnya, ini hanya saran pak @devrakapriyo

[2022-09-15 04:29] vickyrolanda commented on #5645
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1350

[2022-09-15 04:29] #5645 closed, assigned to andifahruddinakas

[2022-09-15 04:32] Sukoharjo3 commented on #5650
betul ini, diberi role tambahan jika null menuju ke nama atau bisa mendeteksi null

[2022-09-15 04:36] andifahruddinakas commented on #5651
Mas @devrakapriyo, ini harapannya mau di apakan? Mas @vickyrolanda, coba di cek issue ini, untuk solusinya. Karena seblumnya di desain seperti ini, dimana surat yang tampil di kades atau sekdes tampil sesuai dengan pengaturan untuk membedakan yang mana perlu diverifikasi. Coba diperjelas lg alur surat ini.

[2022-09-15 04:37] andifahruddinakas commented on #5649
Kerjakan issue ini setelah PR https://github.com/OpenSID/premium/pull/1353 digabungkan.

[2022-09-15 05:09] devrakapriyo commented on #5549
dari pembahasan di group Pengelolaan Hosting ada beberapa saran dari pak @ariandii untuk di sesuaikan
- pada saat dropdown masing masing icon di beri label nama, jangan icon saja
- icon profile, icon FAQ OpenSID dan icon lainnya di masukan ke list dropdown
![189571372-ea0aae1f-39b4-4cbf-95a8-ebebb5fe8fe4](https://user-images.githubusercontent.com/36557759/190317691-47ca7f83-dcb7-43eb-99a0-930d21d2

[2022-09-15 05:22] vickyrolanda commented on #5646
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1353

[2022-09-15 05:22] #5646 closed, assigned to andifahruddinakas

[2022-09-15 05:35] vickyrolanda commented on #5643
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1346

[2022-09-15 05:35] #5643 closed, assigned to andifahruddinakas

[2022-09-15 06:03] vickyrolanda commented on #5648
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1352

[2022-09-15 06:03] #5648 closed, assigned to andifahruddinakas

[2022-09-15 06:07] andifahruddinakas commented on #5651
Duplicate issue https://github.com/OpenSID/OpenSID/issues/5518

[2022-09-15 06:07] #5651 closed, assigned to nobody

[2022-09-15 06:14] devrakapriyo commented on #5633
pak @Wiliyantoro apakah masih mengalami error? jika iya tolong kirimkan backup database ke telegram saya @rakapriyo

[2022-09-15 06:57] andifahruddinakas opened #5653 "Ambil Foto dengan Kamera Tidak Jalan jika tidak https/ssl"
![cam 2](https://user-images.githubusercontent.com/57283157/190334163-bc289643-615a-43ae-9f48-6f2f3beaa3ad.png)
![cam 1](https://user-images.githubusercontent.com/57283157/190334179-66b0d539-c65d-4a83-bdce-b1a82654e303.png)

[2022-09-15 07:01] pemdespancur commented on #5643
Terimakasih banyak....masalah sudah teratasi

[2022-09-15 07:50] yogiperdana commented on #5178
Issue ini ditangguhkan sementara untuk dibahas lebih lanjut terkait status baku alasan keluar

[2022-09-15 07:56] yogiperdana commented on #5178
Dan untuk permintaan rekapitulasi rekapitulasi perangkat yang tidak melakukan absen ( masuk dan keluar ) dengan status kehadiran Tidak Masuk dan permintaan penyesuaian perangkat yang lupa checkout akan dibuatkan issue masing-masing

Tambahan:
Untuk penyesuaian perangkat yang lupa checkout disediakan beberapa alternatif seperti ketika admin opensid login / ketika ada pengunjung di luar jam kerja ma

[2022-09-15 07:57] yogiperdana commented on #5178
Sementara itu issue ini fokus pada pembahasan alasan keluar

[2022-09-15 08:01] yogiperdana commented on #4691
Issue ini ditutup karena sudah tercakup ke dalam tema

[2022-09-15 08:01] #4691 closed, assigned to yogiperdana

[2022-09-15 08:47] #5597 closed, assigned to agungsugiarto

[2022-09-15 11:41] langonsari commented on #5569
![image](https://user-images.githubusercontent.com/96863107/190394496-50c85fe0-43e1-4a00-9321-14bf91da04e7.png)
![image](https://user-images.githubusercontent.com/96863107/190394565-779b7fb1-3007-4b27-83cc-a746b4afa9c9.png)

Backup & Surat TinyMCE masih Error 500

[2022-09-15 15:14] mah-mudi opened #5654 "Permintaan fitur: [PREMIUM] Format output Lampiran Formulir F-2.01 disesuaikan berdasarkan Permendagri Nomor 109 Tahun 2019"
### Apa kekurangan yg ingin diatasi?

Format output Lampiran Formulir **F-2.01** yang dihasilkan dari menu **Layanan Surat -> Cetak Surat** masih menggunaan format lama. Berikut Hasil nya :
![surat_ket_kelahiran_5201144609786995_2022-09-15_4_lampiran_page-0001](https://user-images.githubusercontent.com/57661283/190440294-f43c0272-e282-461b-b5b3-661046460d6a.jpg)

### Jelaskan solusi yg diinginkan

[2022-09-16 00:57] pandigresik commented on #5653
setau saya untuk akses kamera menggunakan browser harus dari domain yang secure, yang sudah https atau dari localhost saja

[2022-09-16 01:22] andifahruddinakas commented on #5653
Ya, solusinya hanya disable tombol dan berikan informasi jika domain not secure.

[2022-09-16 03:12] andifahruddinakas commented on #5652
1. sys_traffic
![sys_traffic](https://user-images.githubusercontent.com/57283157/190548870-8b90712e-93fb-475a-b4ae-fcd76cb4f81f.png)

[2022-09-16 03:37] andifahruddinakas commented on #5569
HASIL PENGECEKAN SEBELUMNYA TIDAK MENEMUKAN ERROR YANG DIMAKSUDKAN, CUMA ADA BEBERAPA MASLAH BERIKUT INI :

![langonsari 3](https://user-images.githubusercontent.com/57283157/190550901-b7bc945f-7b0b-4502-9c90-cf9367ea664f.png)
![langonsari 2](https://user-images.githubusercontent.com/57283157/190550904-39cdaaec-8565-4b82-9fda-dc8cd7c91d54.png)
![langonsari 1](https://user-images.githubusercontent.

[2022-09-16 08:30] andifahruddinakas commented on #4719
SOLUSI :
1. Untuk status **PINDAH_KELUAR** jika kembalikan status maka status di log_penduduk bertambah  dengan status  **BARU_PINDAH_MASUK** dengan data yang sama.
2. Tambahkan tombol hapus dan bedakan fungsinya dengan tombol kembalikan status.
3. Tombol kembalikan status digunakan untuk kasus penduduk pulang pergi dimana log lama tidak terhapus, sehingga tidak merusak log_penduduk
4. Tombol hapu

[2022-09-16 10:45] eddieridwan commented on #5569
@devrakapriyo @vickyrolanda @andifahruddinakas jika pelapor menggunakan versi OpenSID ubahan (bukan rilis resmi), maka kebijakan OpenDesa adalah tidak bisa membantu terkait masalah yang dialami. Karena terlalu sulit untuk melacak akar permasalahan. Dan menjadi tanggung jawab pihak yg mengembangkan versi ubahan tersebut.

@devrakapriyo , jika kita sudah yakin pelapor betul menggunakan versi ubahan,

[2022-09-16 10:59] eddieridwan commented on #4719
@andifahruddinakas @vickyrolanda saran saya sbb:

1. Bagi penduduk yang `pindah keluar`, sediakan tombol untuk `pindah masuk kembali`, dengan data yang sama. Di log_penduduk tercatat peristiwa `pindah keluar` dan `pindah masuk` bagi penduduk tersebut. Tombol tersebut disediakan di log_penduduk dan juga di daftar penduduk utama (pada filter untuk semua penduduk atau khusus penduduk pindah keluar).

[2022-09-16 11:19] afri18 commented on #4719
cocok

[2022-09-16 11:28] andifahruddinakas commented on #4719
Ok

[2022-09-16 14:59] Fajar-blackdeath opened #5655 "Permintaan fitur: pada saat menambahkan lokasi penduduk bisa mnambhkan beberapa sub menu lokasi seperti data kepemilikan kendaraan, ngelink data bantuan,"
### Apa kekurangan yg ingin diatasi?

setiap menambakan data bantuan. data bantuan bisa dilihat di peta berdasarkan lokasi penduduk kemudian di peta bisa difilter menjadi data bantuan.
itu juga berlaku untuk data suplemen

### Jelaskan solusi yg diinginkan

sayya ingin menambahkan filter data berdasarkan lokasi penerima bantuan.

### Apakah ada alternatif lain

![Uploading image.png…]()

### Untuk

[2022-09-17 12:52] pandigresik commented on #4582
masukkan saja laporan dari siskeudes dalam artikel statis sehingga nanti artikel statis tersebut dapat diset sebagai menu di website

[2022-09-17 13:02] vickyrolanda commented on #5647
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1355

[2022-09-17 13:02] #5647 closed, assigned to andifahruddinakas

[2022-09-17 13:30] vickyrolanda commented on #5650
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1356

[2022-09-17 13:30] #5650 closed, assigned to andifahruddinakas

[2022-09-18 07:42] vickyrolanda commented on #5652
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1362

[2022-09-18 07:42] #5652 closed, assigned to andifahruddinakas

[2022-09-18 08:03] vickyrolanda opened #5656 "Error saat cetak surat TinyMCE dengan font bookman_old_style"
<img width="629" alt="image" src="https://user-images.githubusercontent.com/59082428/190891962-2d1847cf-d0ec-4784-91ec-a28ab1069eb9.png">

ERROR - 2022-09-18 14:48:55 --> Severity: error --> Exception: TCPDF ERROR: Could not include font definition file: bookman_old_style C:\xampp\htdocs\OpenDesa\OpenSID\vendor\tecnickcom\tcpdf\tcpdf.php 3007

[2022-09-18 10:34] vickyrolanda commented on #5538
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1343

[2022-09-18 10:34] #5538 closed, assigned to agungsugiarto, andifahruddinakas

[2022-09-18 10:57] vickyrolanda opened #5657 "[penduduk] Tambahkan gelar depan & belakang pada tambah penduduk dan edit penduduk"
Saat ini gelar depan & belakang telah di tambahkan di pemerintah desa namun belum di tambah di tambah penduduk dan edit penduduk  sehingga nama penduduk yang tampil menjadi tidak konsisten antara pemerintah desa dan data penduduk.

<img width="415" alt="image" src="https://user-images.githubusercontent.com/59082428/190898440-4080ff94-226b-4d85-ad8b-ce6e6fa79bbe.png">

Tambahkan seperti dibawah ini

[2022-09-18 11:09] vickyrolanda commented on #3255
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1345

[2022-09-18 11:09] #3255 closed

[2022-09-18 17:12] vickyrolanda commented on #5274
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1354

[2022-09-18 17:12] #5274 closed, assigned to yogiperdana

[2022-09-18 17:32] vickyrolanda commented on #5549
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1357

[2022-09-18 17:32] #5549 closed, assigned to agungsugiarto

[2022-09-19 03:19] pemdespancur opened #5658 "Bug/error: Unknown column 'telegram' in 'field list'"
### Jelaskan error yg dialami

Unknown column 'telegram' in 'field list'

Ketika input data kk baru dan di save muncul notivikasi berikut

### Cara untuk mereplikasi errornya

Gagal dalam penyimpanan data penduduk baru

### Hasil yg diharapkan

Dapat menambah jumlah penduduk

### Tangkapan layar dan log error

![image](https://user-images.githubusercontent.com/34035346/190944542-48142009-bba1-45a6

[2022-09-19 03:33] scqolbu24 opened #5659 "Bug/error: Tidak dapat membuat dusun pada wilayah administratif"
### Jelaskan error yg dialami

Ketika inputkan dusun baru di wilayah administratif tidak tampil, kemudian setelah di cek dari database terinput 3.
Pada Versi 22.08 bisa berjalan normal.

### Cara untuk mereplikasi errornya

1. Masuk he halaman admin.
2. Klik Modul Info Desa
3. Pilih Wilayah Administratif
4. Klik Tambah Dusun
5. Masukan Nama Dusun
6. Klik Simpan

### Hasil yg diharapkan

Dapat berf

[2022-09-19 03:48] devrakapriyo commented on #5659
Mas @andifahruddinakas saya cek di dev.opendesa.id berjalan normal dan domain ini untuk rev 3, apakah issue ini ada sangkut paut dengan issue yang sudah di perbaiki di rev 3 mas?

[2022-09-19 03:49] scqolbu24 commented on #5659
saya baru coba di https://dev.opendesa.id/index.php/sid_core tidak bisa mas

[2022-09-19 03:50] devrakapriyo commented on #5659
Iya mas, saya salah lihat
Dan masih bug di dev opendesa

[2022-09-19 04:02] vickyrolanda opened #5660 "Buat wajib isi pada kode lembaga & Merubah parameter menu lembaga agar tidak melekat dengan nama lembaga."
1. Buat required pada menambahan kode lembaga
    - Masuk menu Info Desa -> Lembaga Desa
    - Buat Kategori Lembaga
    - Buat Lembaga dan isi kolomnya (kosongkan Kode Lembaga)
    - simpan
* karena jika di kosongkan lalu diedit maka akan muncul informasi seperti dibawah ini dan kode lembaga menjadi tidak bisa di edit.
![image](https://user-images.githubusercontent.com/59082428/190947038-08dc7eae

[2022-09-19 04:17] ferdianhadi opened #5661 "Bug/error: Update Konten Artikel Statis"
### Jelaskan error yg dialami

selamat siang pak, saya mendapatkan bug update konten artikel statis menggunakan hak akses operator,
lalu saat saya login menggunakan hak akses operator dan melakukan update pada artikel statis, dan menekan tombol simpan otomatis terlogout sendiri, setelah itu saya coba login menggunakan superadmin saya mendapatkan error sbb

### Cara untuk mereplikasi errornya

1. L

[2022-09-19 04:52] andifahruddinakas commented on #5656
Mas @vickyrolanda, font bookman_old_style hanya tersedia di rilis-dev, di bug-fix belum ada. Coba dibedakan database yang digunakan untuk test rilis-dev dan bug-fix atau reset database setiap PR yang ada migrasinya. Kecuali hal ini berlaku di rilis-dev (beri label susulan) bisa mention mas @yogiperdana yang mengerjakan issue tsb. https://github.com/OpenSID/OpenSID/issues/5555

[2022-09-19 05:29] vickyrolanda opened #5662 "Permintaan fitur: Pisahkan menu anjungan kemenu tersendiri (tidak didalam menu layanan mandiri)"
### Apa kekurangan yg ingin diatasi?

Saat ini menu anjungan berada di dalam sub menu layanan mandiri, karena anjungan sudah dibatasin harus memiliki lisensi anjungan maka perlu di pisahkan menjadi menu tersendiri.

yang nantinya pengaturan anjungan akan tersedia di menu tersebut.
<img width="231" alt="image" src="https://user-images.githubusercontent.com/59082428/190954224-4a3c3560-8146-41a2-ad20

[2022-09-19 06:49] devrakapriyo opened #5663 "Bug/error: fitur filter buku induk penduduk tidak berfungsi"
### Jelaskan error yg dialami

fitur filter bulan dan tahun buku induk penduduk tidak berfungsi

<img width="1440" alt="Screen Shot 2022-09-19 at 13 35 30" src="https://user-images.githubusercontent.com/36557759/190963122-833c96fd-bb4a-45f8-85dc-54795dff9365.png">

### Cara untuk mereplikasi errornya

- klik menu Buku Administrasi Desa
- klik menu Administrasi Penduduk
- klik menu Buku Induk Pendu

[2022-09-19 06:57] yogiperdana commented on #5656
Saya coba normal mas

[2022-09-19 06:58] yogiperdana commented on #5656
Unduhan font arial:
[surat_raw_tinymce_5201142005716996_2022-09-19_1.pdf](https://github.com/OpenSID/OpenSID/files/9596669/surat_raw_tinymce_5201142005716996_2022-09-19_1.pdf)

Unduhan font bookman:
[surat_raw_tinymce_5201145003976995_2022-09-19_2.pdf](https://github.com/OpenSID/OpenSID/files/9596674/surat_raw_tinymce_5201145003976995_2022-09-19_2.pdf)

Unduhan font impact:
[surat_raw_tinymce_5201

[2022-09-19 07:19] andifahruddinakas commented on #5631
Bisa hubungi pelaksana di OpenDesa

[2022-09-19 07:19] #5631 closed, assigned to andifahruddinakas

[2022-09-19 07:21] devrakapriyo opened #5664 "Bug/error: issue 5616 susulan"
### Jelaskan error yg dialami

setelah di cek lebih lanjut sidebar menu dropdown jika di klik masih scroll ke atas, bisa dibandingkan dengan opensid umum sidebar menu dropdown tidak ter scroll ke atas

issue susulan : https://github.com/OpenSID/OpenSID/issues/5616

### Cara untuk mereplikasi errornya

-

### Hasil yg diharapkan

seperti opensid umum

### Tangkapan layar dan log error

-

### Rilis

[2022-09-19 07:29] andifahruddinakas commented on #5663
Mas @devrakapriyo, Ini tidak ada masalah.
![laporan](https://user-images.githubusercontent.com/57283157/190968726-7c8a712e-d156-41a9-8583-4e6b4acb07d2.png)

Mungkin perlu dipahami filter pada bagian bumindes penduduk atau dibeberapa modul lainnya itu menggunakan <=, jadi data sebelumnya sebelum thn dan bln tsb tetap tampil. Beda di beberapa modul, filternya =, dimana tahun yang ditampilkan tahun y

[2022-09-19 07:50] devrakapriyo commented on #5658
@pemdespancur tolong kirimkan backup database desanya ke telegram saya @rakapriyo

[2022-09-19 08:46] devrakapriyo commented on #5569
iya pak @eddieridwan sesuai dengan yang di laporkan oleh pak @langonsari OpenSID tersebut ada di server Diskominfo dan ada beberapa fitur custome dari Diskominfo

[2022-09-19 08:51] devrakapriyo commented on #5663
baik mas, makasih infonya saya close issue ini

[2022-09-19 08:51] #5663 closed, assigned to nobody

[2022-09-19 09:02] devrakapriyo opened #5665 "Bug/error: icon kunci diubah menjadi lonceng pada navbar"
### Jelaskan error yg dialami

![image](https://user-images.githubusercontent.com/36557759/190983661-2f6fa14b-d633-493e-a661-649f0f904eff.png)

ubah icon kunci menjadi lonceng
![image](https://user-images.githubusercontent.com/36557759/190983781-581c9986-bf0f-4b1c-91f9-5d0110e520b9.png)

### Cara untuk mereplikasi errornya

-

### Hasil yg diharapkan

-

### Tangkapan layar dan log error

-

### R

[2022-09-19 09:15] ariandii commented on #5661
https://github.com/OpenSID/OpenSID/issues/5269

[2022-09-19 09:16] #5661 closed, assigned to nobody

[2022-09-19 10:01] vickyrolanda commented on #5659
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1366

[2022-09-19 10:01] #5659 closed, assigned to andifahruddinakas

[2022-09-19 12:34] langonsari commented on #5569
untuk Versi yang dipakai oleh Desa kami itu bukan ubahan dari sistem asli pak hanya penambahan modul saja,, dan itu hanya menambahkan file modul di:
- [ ] /donjo-app/controllers
- [ ] /donjo-app/models
- [ ] /donjo-app/view
tidak ada ubahan dari sistem bawaan secara default, karena untuk update pun saya menggunakan pola git,
Adapun untuk databasenya ada sedikit tambahan table & field:
- [ ] Table

[2022-09-19 13:01] langonsari commented on #5569
untuk saat  ini Bug yang terjadi hanya HTTP ERROR 500 saat membuka Cetak Surat/form Surat TinyMCE baik yang bawaan sistem maupun yang hasil tambah Surat TinyMCE di Pengaturan Surat,,,

**Pertanyaan:**
1. apakah ada Extention atau Function di PHP yang harus diaktifkan secara khusus untuk membuka Format Surat TinyMCE karena di Format Surat untuk ubahan Pengaturan Surat TinyMCE berfungsi normal?

ter

[2022-09-19 13:06] apidong commented on #5569
bisa di infokan. log errornya?

[2022-09-19 13:26] langonsari commented on #5569
[log-2022-09-19.txt](https://github.com/OpenSID/OpenSID/files/9599260/log-2022-09-19.txt)
ini pak Log errornya

[2022-09-19 16:38] andifahruddinakas commented on #5656
masih belum jelas issuenya, kayaknya dari database rilis-dev yang settingan font defaultnya pakai font bookman yang dipakai di bug-fix. Jadinya bakal error karena font bookman belum tersedia di bug-fix.

[2022-09-19 16:39] andifahruddinakas commented on #5658
Migrasi tidak jalan sempurna, coba lakukan migrasi database lagi.

[2022-09-19 16:53] andifahruddinakas commented on #4943
Ini : https://github.com/OpenSID/OpenSID/files/6589020/FORMULIR.F.1-01.BIODATA.KELUARGA.pdf

[2022-09-19 16:55] andifahruddinakas commented on #4944
Ini : https://disdukcapil.inhilkab.go.id/wp-content/uploads/2021/06/FORMULER_F1.02.pdf

[2022-09-19 17:13] andifahruddinakas commented on #5259
Mas @vickyrolanda, Dicek format mana yang harus dibuat, ada beberapa contoh file yang di lampirkan tapi berbeda. Tapi kalau sesuai aturan ada di halaman 48 (https://peraturan.bpk.go.id/Home/Details/138575/permendagri-no-109-tahun-2019) atau sama dengan https://github.com/OpenSID/OpenSID/files/9526633/Formulir-F2-01.pdf tp beda tampilan saja.

[2022-09-19 17:15] andifahruddinakas commented on #5632
Duplicate issue https://github.com/OpenSID/OpenSID/issues/5657

[2022-09-19 17:15] #5632 closed, assigned to nobody

[2022-09-19 17:57] vickyrolanda opened #5666 "Buat anjungan menjadi modul agar bisa di pilih menjadi menu dipengaturan menu."
Tambahkan menu anjungan pada pengaturan menu seperti dibawah ini
<img width="564" alt="image" src="https://user-images.githubusercontent.com/59082428/191082373-efb5b085-471c-4266-99db-690421bf177c.png">
dimana ketika memilih anjungan maka muncul sub berdasarkan list anjungan yang terdaftar dan aktif
* Syarat lain adalah menu ini akan muncul jika anjungan telah aktif dan telah memesan lisensi anjun

[2022-09-19 18:26] vickyrolanda opened #5668 "Merubah download file pada menu informasi publik ke bentuk view popup"
- Saat ini kondisi informasi yang di sampaikan di menu informasi publik adalah ada file yang dapat di lihat oleh publik saat ini dafatar dibawah ini akan terdownload jika di klik untuk melihat isinya.
<img width="790" alt="image" src="https://user-images.githubusercontent.com/59082428/191083796-0871d5b1-9e7c-4097-9676-81ab332678e0.png">

Berkaitan akan di buatnya menu anjungan sebaiknya untuk meli

[2022-09-19 18:54] vickyrolanda commented on #5259
Ketika saya cari di google semua sumber mengarah ke format lampiran F-2.01 (Formulir Pelaporan Pencatatan Sipil di Dalam Wilayah NKRI) bentuknya seprti ini  https://github.com/OpenSID/OpenSID/files/9526633/Formulir-F2-01.pdf  dan dibeberapa website .go.id juga melampikan itu dan ketika saya mencari formati F.201 malah tidak menemukan.

[2022-09-19 18:59] vickyrolanda commented on #5656
konfirmasi mas @andifahruddinakas & mas @yogiperdana  saya check memang saya salah test saya test di bug-fix. saat ini sudah saya konfirmasi dan jalan di rilis-dev.

[2022-09-19 18:59] #5656 closed, assigned to andifahruddinakas

[2022-09-19 21:10] vickyrolanda commented on #5653
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1358

[2022-09-19 21:10] #5653 closed, assigned to andifahruddinakas

[2022-09-20 01:46] vickyrolanda commented on #5665
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1371

[2022-09-20 01:46] #5665 closed, assigned to andifahruddinakas

[2022-09-20 01:50] andifahruddinakas commented on #5665
Mas @vickyrolanda, karena perubahan 2 tempat, saat gabunga bug-fix ke rilis-dev perlu dicek ulang.

[2022-09-20 03:01] devrakapriyo commented on #5633
mas @andifahruddinakas setelah saya cek lagi jadi kasusnya itu dari KK sementara di pecah menjadi KK sementara yang menyebabkan tidak bisa mengklik simpan
untuk databasenya bisa akses di link gdrive

https://drive.google.com/drive/folders/1aOqM0vrOpig2-t2vabWxzsCypkv1jdFD?usp=sharing

[2022-09-20 03:06] yogiperdana commented on #5514
Berdasarkan hasil diskusi dengan pengguna diperoleh hasil sbb:

1. Total Alokasi Dana diisi jumlah anggaran kegiatan untuk kegiatan pencegahan stunting, contoh kegiatan posyandu balita, paud, dan yang berhubungan dengan stunting
2.  Alokasi dana di isi dengan jumlah realisai per hari di input

Terkait skemanya akan dibuat 2 input form baru:
1. Buat form input -> pilih bidang kegiatan -> isi nama k

[2022-09-20 03:49] devrakapriyo opened #5669 "test v22.09-pasca"

[2022-09-20 03:51] FirlianiF opened #5670 "Bug/error: terbalik nya fungsi gembok anjungan"
### Jelaskan error yg dialami

status anjungan digembok tetapi masih terdeteksi anjungan di Layanan Mandiri nya.
sedangkan jika gembok terbuka, anjungan menjadi nonaktif.

### Cara untuk mereplikasi errornya

-

### Hasil yg diharapkan

-

### Tangkapan layar dan log error

![photo_2022-09-20_10-48-49](https://user-images.githubusercontent.com/30171560/191163259-44eeb4d9-1767-4831-bfb4-fdd8e09cd51

[2022-09-20 04:17] vickyrolanda commented on #5660
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1367

[2022-09-20 04:17] #5660 closed, assigned to andifahruddinakas

[2022-09-20 04:32] FirlianiF opened #5671 "Bug/error: error ketika tambah perangkat anjungan"
### Jelaskan error yg dialami

error ketika tambah perangkat anjungan.
sebagai info tambahan, sudah klik migrasidb, namun tetap gagal tambah anjungan.

### Cara untuk mereplikasi errornya

![photo_2022-09-20_10-52-29](https://user-images.githubusercontent.com/30171560/191163724-177a78d5-5e31-463f-9b47-5c665fe1b526.jpg)

### Hasil yg diharapkan

-

### Tangkapan layar dan log error

![photo_2022-09

[2022-09-20 04:35] FirlianiF opened #5672 "Bug/error: email verifikasi tidak terkirim saat pendaftaran kerjasama"
### Jelaskan error yg dialami

email verifikasi tidak terkirim saat pendaftaran kerjasama

### Cara untuk mereplikasi errornya

-

### Hasil yg diharapkan

-

### Tangkapan layar dan log error

-

### Rilis Versi OpenSID

Rilis Premium

### Versi OpenSID

v22.09-premium-rev3

### Tema Yang Digunakan

_No response_

### Informasi tambahan

_No response_

[2022-09-20 06:02] vickyrolanda commented on #5178
mas @yogiperdana , untuk alasan keluar ini apakah di tambah saja seperti ini :

Diatas tombol keluar terdapat Select Option :
 -  Keluar Pulang
 -  Keluar Lainnya
     ketika pilih ini maka muncul text inputan
 - lalu klik tombol keluar.

- Sehingga bawaan yang terpilih keluar pulang tapi kalo mau di pilih keluar lainnya tinggal di ketik aja keluar kemana.

[2022-09-20 06:47] #5658 closed, assigned to nobody

[2022-09-20 10:06] ai-skematik commented on #5666
Bung @vickyrolanda  apa maksud anjungan 1 dan anjungan 2 di tangkapan layar diatas ?

[2022-09-20 15:10] vickyrolanda commented on #5664
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1370

[2022-09-20 15:10] #5664 closed, assigned to andifahruddinakas

[2022-09-20 15:47] vickyrolanda commented on #5649
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1361

[2022-09-20 15:47] #5649 closed, assigned to agungsugiarto

[2022-09-20 15:47] vickyrolanda commented on #5670
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1361

[2022-09-20 15:47] #5670 closed, assigned to andifahruddinakas

[2022-09-20 16:15] ai-skematik commented on #5666
Bung @vickyrolanda  menambah menu adalah menambah halaman statis domain/anjungan. bukan memilih perangkat perangkat anjungan.

[2022-09-20 16:17] ai-skematik commented on #5630
untuk bpd sebaiknya aplikasi terpisah

[2022-09-21 02:03] pemdespancur commented on #5658
Tidak bisa migrasi database
![image](https://user-images.githubusercontent.com/34035346/191397634-cf1c9f77-9b31-452f-ab80-0e8fb6864e9b.png)

[2022-09-21 10:57] vickyrolanda commented on #4719
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1372

[2022-09-21 10:57] #4719 closed, assigned to andifahruddinakas

[2022-09-21 17:47] FirlianiF opened #5673 "Bug/error: Gagal migrasi untuk instal baru tanpa token"
### Jelaskan error yg dialami

Migrasi terhenti di 217 table dari seharusnya 231 table. Gagal Hanya untuk install baru dan tanpa token.
Kalau di masukkan tokennya terlebih dulu, baru lancar.

### Cara untuk mereplikasi errornya

-

### Hasil yg diharapkan

-

### Tangkapan layar dan log error

-

### Rilis Versi OpenSID

Rilis Premium

### Versi OpenSID

V22.09-premium Rev 3

### Tema Yang Digunak

[2022-09-21 21:37] hasap86 opened #5674 "Bug/error: Tidak bisa menambahkan anggot Rumah Tangga lebih dari 7 orang"
### Jelaskan error yg dialami

Saat menambahkan anggota Rumah Tangga lebih dari 7 orang tidak bisa. kotak pencarian penduduk tidak bisa diketik

### Cara untuk mereplikasi errornya

tambahkan anggota Rumah Tangga lebih dari 7 orang

### Hasil yg diharapkan

bisa menambahkan anggota Rumah Tangga lebih dari 7 orang

### Tangkapan layar dan log error

![tambah anggota rumah tangga](https://user-image

[2022-09-22 00:40] vickyrolanda commented on #5594
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1381

[2022-09-22 00:42] vickyrolanda commented on #5594
untuk PR ini belum sy gabungkan ke rilis-dev mas https://github.com/OpenSID/premium/pull/1369 karena masih ada  2 menu yang  masih di kerjain saat ini di pr menampilkan error seperti ini
<img width="724" alt="image" src="https://user-images.githubusercontent.com/59082428/191634058-8d06af98-10b6-4eca-badb-bfa1afafe42e.png">

mungkin menunggu PR yang lain ya mas ?

[2022-09-22 00:56] vickyrolanda commented on #5666
yg ini salah pak , keamren sudah kami diskusikan juga.

[2022-09-22 00:56] #5666 closed, assigned to yogiperdana

[2022-09-22 02:58] vickyrolanda commented on #5633
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1377

[2022-09-22 02:58] #5633 closed, assigned to andifahruddinakas

[2022-09-22 03:11] vickyrolanda commented on #4943
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1380

[2022-09-22 03:11] #4943 closed, assigned to andifahruddinakas

[2022-09-22 03:11] vickyrolanda commented on #4225
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1380

[2022-09-22 03:49] vickyrolanda commented on #5247
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1262

[2022-09-22 03:49] #5247 closed, assigned to apidong

[2022-09-22 04:04] vickyrolanda commented on #5671
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1376

[2022-09-22 04:04] #5671 closed, assigned to andifahruddinakas

[2022-09-22 04:09] vickyrolanda opened #5675 "Penambahan status penggunaan TTE dari OpenSID ke TrackSID"

[2022-09-22 05:19] vickyrolanda commented on #5596
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1383

[2022-09-22 05:19] #5596 closed, assigned to yogiperdana

[2022-09-22 05:23] #5594 closed, assigned to yogiperdana

[2022-09-22 05:59] vickyrolanda commented on #5662
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1374

[2022-09-22 05:59] #5662 closed, assigned to yogiperdana

[2022-09-22 07:13] hasap86 opened #5676 "Bug/error: Tidak bisa menambahkan anggota keluarga lebih dari 5 orang"
### Jelaskan error yg dialami

saat menambahkan anggota keluarga lebih dari 5, form pencarian penduduk tidak bisa diketik

### Cara untuk mereplikasi errornya

tambahkan anggota keluarga lebih dari 5 orang

### Hasil yg diharapkan

bisa menambahkan anggota keluarga lebih dari 5 orang

### Tangkapan layar dan log error

-

### Rilis Versi OpenSID

Rilis Umum

### Versi OpenSID

v22.09

### Tema Yan

[2022-09-22 07:19] devrakapriyo commented on #5569
berdasarkan diskusi tim dan informasi ini, karena menggunakan versi ubahan struktur database dan sesuai ketentuan jika menggunakan versi ubahan maka kebijakan OpenDesa adalah tidak bisa membantu terkait masalah yang dialami

maka issue ini kami close

[2022-09-22 07:19] #5569 closed, assigned to nobody

[2022-09-22 07:21] yogiperdana commented on #5514
Issue ini ditangguhkan sementara menunggu analisis lebih lanjut.

Untuk melanjutkan pekerjaan perlu informasi sbb:
1. Hubungan permintaan ini dengan modul keuangan
2. Alur pengisian anggaran dan realisasi anggara

[2022-09-22 08:42] yogiperdana opened #5677 "Penyesuaian mengeluarkan secara otomatis perangkat lupa absen"

[2022-09-22 08:43] yogiperdana opened #5678 "Penambahan tombol mengeluarkan perangkat desa yang lupa absen"
Buat log aktivitasnya

[2022-09-22 08:50] devrakapriyo opened #5679 "Bug/error: gagal migrasi desa pancur"
### Jelaskan error yg dialami

ada pengguna yang melaporkan gagal migrasi saat update versi 22.09-premium-rev03 dari 22.08
setelah saya cek memang gagal migrasi, di log muncul pesan kekuarangan field dan duplikat NIK
terlampir database desa dan log error di gdrive OpenDesa

### Cara untuk mereplikasi errornya

-

### Hasil yg diharapkan

-

### Tangkapan layar dan log error

-

### Rilis Versi Ope

[2022-09-22 08:52] devrakapriyo commented on #5679
link gdrive : https://drive.google.com/drive/folders/1TN1dgB6DdoeoKKoK4EvsKQpqkCskkN3B?usp=sharing

[2022-09-22 09:13] devrakapriyo commented on #5676
selamat sore pak @hasap86, setelah saya coba replikasi di dev.opendesa.id berjalan normal
bisa tolong replikasikan lebih detailnya pak?

[2022-09-22 09:15] devrakapriyo commented on #5674
pak @hasap86 apakah ini masih 1 issue yang sama?

https://github.com/OpenSID/OpenSID/issues/5676

[2022-09-22 10:20] hasap86 commented on #842
Fitur ini ada progresnya gak ya?

sekarang diperlukan untuk pengajuan Bantuan YAPI (Yatim Piatu) BBM :)

[2022-09-22 10:50] hasap86 commented on #5674
beda menu

[2022-09-22 10:54] hasap86 commented on #5674
![dev-rt](https://user-images.githubusercontent.com/45263721/191728688-e3851b6d-b5a1-452b-9424-8c9c8e904189.jpg)

setelah mengisi 7 anggota, coba tambahkan anggota ke 8 dengan cara mengetikan di form pencarian penduduk

[2022-09-22 10:58] hasap86 commented on #5676
![dev-keluarga](https://user-images.githubusercontent.com/45263721/191729236-25d01dac-83d4-4203-abfa-de089f77ce26.jpg)

tambahkan lebih dari 5 anggota keluarga, tambahkan dari penduduk yang sudah ada, lakukan pencarian, itu tidak bisa diketik pencarian penduduknya. sudah saya coba juga di dev.

[2022-09-22 11:33] hasap86 commented on #5679
cek di tabel kelompok, kelompok_anggota, kelompok_master
sama hapus NIK yg duplikat

saya juga begitu

[2022-09-22 22:57] JosMan200201 opened #5680 "Bug/error: Gambar tidak bisa terupload"
### Jelaskan error yg dialami

Kami mengosongkan database karena ingin mengupload data penduduk dan mengedit semua untuk data desa, tapi ketika ingin mengupload gambar di artikel atau galeri, gambar tidak bisa terupload. Saya sudah mencoba untuk mengubah dimensi foto seperti normal dan mengubah besar file foto menjadi kecil tapi tetap tidak bisa. Mungkin masalahnya ada di website yang tidak bisa

[2022-09-23 02:35] scqolbu24 opened #5681 "Bug/error: Migrasi Awal"
### Jelaskan error yg dialami

Pada saat uji coba install OpenSID Siap Pakai, ketika dicek pada master-api untuk env belum dapat dikonfigurasi seharusnya dapat dikonfigurasi secara otomatis ketika pertama kali install master-api, kemudian dilakukan penelusuran secara manual:
1. Jalankan perintah `php artisan:key generate` belum tersedia
2. Jalankan perintah `php artisan` belum tersedia
3. Jalankan

[2022-09-23 02:47] devrakapriyo commented on #5676
<img width="1440" alt="Screen Shot 2022-09-23 at 09 29 59" src="https://user-images.githubusercontent.com/36557759/191882109-9b99ef98-01a9-4ae0-a7fa-085980a1ed54.png">

setelah saya cek, ini tidak hanya berlaku untuk jumlah anggota keluarga lebih dari 5 orang tetapi semua anggota keluarga.

pencarian anggota keluarga itu berlaku untuk penduduk yang tidak memiliki KK

[2022-09-23 02:51] devrakapriyo commented on #5676
pak @hasap86 bisa coba jika salah satau penduduk di keluarkan dari anggota keluarga tersebut, dan tambahkan di keluarga lain maka penduduk tersebut akan keluar di pencarian penduduk

[2022-09-23 02:53] devrakapriyo commented on #5674
pak @hasap86 setelah saya cek, di tambah anggota rumah tangga saya masih bisa menambahkan di pencarian penduduk

[2022-09-23 02:55] devrakapriyo commented on #5680
pak @JosMan200201 bisa tolongkan kirimkan log nya?

[2022-09-23 06:30] hasap86 commented on #5674
bisa di skrinsut tampilannya...

[2022-09-23 06:32] hasap86 commented on #5676
betul, pencarian itu untuk penduduk yg tidak memiliki kk makanya mau dimasukan...
di saya masalahnya form ketikan untuk pencarian posisi mouse tidak bisa di posisikan di form pencarian...

coba ketikan di form pencarian beberapa kata dan skrinsut.

[2022-09-23 07:54] andifahruddinakas opened #5682 "Sebutan Kepala Desa ada di 2 tempat"
sebutan kepala_desa ada di setting dan sekarang ada juga di modul jabatan.

kondisi saat ini jika edit jabatan akan merubah sebutan_kepala_desa yang ada di setting, tp tidak berlaku sebaliknya.

Solusi :
Hapus pengaturan sebutan_kepala_desa, dengan ketentuan variable $this->setting->sebutan_kepala_desa masih bisa digunakan (defaultnya diambil dari jabatan dengan id = 1)

[2022-09-23 08:12] andifahruddinakas opened #5683 "[TinyMCE] Lampiran Surat"
Sesuaikan pemanggilan lampiran surat, saat ini lampiran surat disertakan di masing2 surat yang membutuhkan. Hal ini menyebabkan banyaknya duplikasi. Hal ini berpengaruh saat melakukan ubah lampiran (misalnya F-1.01) dimana harus mengganti semua lampiran tsb di semua surat yang menggunakan.

Solusi :
1. Tempatkan lampiran di folder khusus (sudah diterapkan)
2. Panggil lampiran surat berdasar pengat

[2022-09-23 08:19] andifahruddinakas commented on #5593
Solsusi :
1. Pindahkan halaman domain/layanan-mandiri lama ke domain/layanan-mandiri/beranda
2. Gunakan domain/layanan-mandiri untuk halaman anjungan, dimana hanya bisa diakses jika sudah di daftarkan sebagai anjungan (dengan ketentuan berlaku)

[2022-09-23 09:00] devrakapriyo commented on #5681
mas @scqolbu24 saya sudah replikasi, dan hasilnya normal

<img width="583" alt="Screen Shot 2022-09-23 at 15 58 20" src="https://user-images.githubusercontent.com/36557759/191926397-7c79e77a-d26a-4940-9b4e-24702b4b2847.png">

[2022-09-23 09:08] devrakapriyo commented on #5674
<img width="1440" alt="Screen Shot 2022-09-23 at 16 07 58" src="https://user-images.githubusercontent.com/36557759/191928067-af60f86e-dc6a-4362-a3d7-637ea330aa6f.png">

seperti ini pak

[2022-09-23 09:09] devrakapriyo commented on #5676
<img width="1440" alt="Screen Shot 2022-09-23 at 16 09 29" src="https://user-images.githubusercontent.com/36557759/191928310-2ef433ce-c89b-4df3-8ac8-031b390149b1.png">

seperti ini pak

[2022-09-23 10:06] andifahruddinakas commented on #5458
Pecah modul ini per 1 surat.

[2022-09-23 10:31] devrakapriyo opened #5684 "Bug/error: error 500 import bantuan desa sarimekar-buleleng.opendesa.id"
### Jelaskan error yg dialami

pengguna dari desa tersebut melaporkan error saat import di menu bantuan, setelah saya cek di log muncul pesan error

Query error: Incorrect date value: '' for column 'kartu_tanggal_lahir' at row 1 - Invalid query: INSERT INTO `program_peserta`

database desa dan file import sudah di upload di gdrive OpenDesa

### Cara untuk mereplikasi errornya

-

### Hasil yg diha

[2022-09-23 10:33] devrakapriyo commented on #5684
link gdrive OpenDesa : https://drive.google.com/drive/folders/1pH38ifJDaceNfFkDWEG0RUFMsM7IAbn5?usp=sharing

[2022-09-23 11:56] hasap86 commented on #5676
saya ke laptop 11", itu tidak bisa diketik di form pencariannya kalo lebih dari 5

[2022-09-23 11:57] hasap86 commented on #5674
ia bener, saya tidak bisa ketik itu doi formnya di laptop 11" disini :)

[2022-09-23 11:58] eddieridwan commented on #5676
@devrakapriyo periksa apakah modal dialog itu bisa di-scroll pada layar kecil.

[2022-09-23 11:59] eddieridwan commented on #5674
@devrakapriyo periksa apakah modal dialog itu bisa di-scroll pada layar kecil.

[2022-09-23 12:47] devrakapriyo opened #5685 "Bug/error: peta tidak berfungsi dan nama dusun hilang desa tanjungrejo-waykanan.desa.id"
### Jelaskan error yg dialami

peta tidak berfungsi dan nama dusun hilang saat update ke 22.09-premium-rev03

### Cara untuk mereplikasi errornya

-

### Hasil yg diharapkan

-

### Tangkapan layar dan log error

-

### Rilis Versi OpenSID

Rilis Premium

### Versi OpenSID

v22.09-premium-rev3

### Tema Yang Digunakan

_No response_

### Informasi tambahan

_No response_

[2022-09-23 12:50] devrakapriyo commented on #5685
terlampir database di gdrive OpenDesa : https://drive.google.com/drive/folders/1pBDdu0BQCgonKS7NmThOEiqEecYHq8tw?usp=sharing

[2022-09-23 13:04] devrakapriyo commented on #5684
info tambahan, jika di kolom tempat tanggal lahir dan alamat di isi pada file excel, maka berhasil terimport
seharusnya tanpa mengisi data tersebut sudah ada dari table penduduk

[2022-09-23 13:13] devrakapriyo opened #5686 "Bug/error: penyesuaian panjang karaketer id peserta/no peserta DTKS"
### Jelaskan error yg dialami

Penyesuaian panjang karakter di menu bantuan untuk input kolom id peserta/no peserta dengan maxlenght 36

![image](https://user-images.githubusercontent.com/36557759/191967612-104497f1-e36c-47df-8b01-87522b1f8ee7.png)

### Cara untuk mereplikasi errornya

-

### Hasil yg diharapkan

-

### Tangkapan layar dan log error

-

### Rilis Versi OpenSID

Rilis Premium

###

[2022-09-23 14:45] ai-skematik opened #5687 "Input (angka / huruf)"

[2022-09-23 15:00] andifahruddinakas commented on #5687
Pak @ai-skematik, ini apa?

[2022-09-23 15:01] andifahruddinakas commented on #5686
Mas @devrakapriyo, isian tsb belum tersedia di penduduk, harusnya issue ini berupa fitur.

[2022-09-23 15:42] andifahruddinakas commented on #5684
Mas @devrakapriyo, untuk issue mengenai impor, sertakan juga contoh file yang gagal impor tsb.

[2022-09-23 15:49] andifahruddinakas commented on #5679
Mas @devrakapriyo, mungkin alur tambahan untuk pengecekan:
- [ ] Jalankan pemeriksaan database terlebih dahulu, bisa buka domain/periksa
- [ ] Kosongkan semua log, dan migrasi ulang (biar log yang akan dikirim log terbaru)

[2022-09-23 16:34] andifahruddinakas commented on #5679
![kk ganda 1](https://user-images.githubusercontent.com/57283157/192009438-2c509d13-1db8-4c9b-84f0-d523d9f03b6d.png)
![panjang kk](https://user-images.githubusercontent.com/57283157/192009446-d30ba581-37ee-42dc-9095-3b5ca396fc68.png)

[2022-09-23 16:39] andifahruddinakas commented on #5673
Sy coba tidak ada masalah (tanpa token), jumlah tabel 224 dan view 5, di cek mas @devrakapriyo

[2022-09-23 16:52] andifahruddinakas commented on #5676
Sy coba sesuaikan dengan perangkat 11" tidak menemukan error tsb.

https://www.webmobilefirst.com/en/screencasts/dlDQtqKDXP/

[2022-09-23 16:55] andifahruddinakas commented on #5680
Cek :
- Sesuaikan struktur folder desa dengan folder desa_contoh
- Cek permisson folder

[2022-09-23 17:21] andifahruddinakas commented on #5685
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/1390

[2022-09-23 17:21] #5685 closed, assigned to apidong

[2022-09-23 20:16] syahidmid commented on #5680
Saya juga mengalami, pak. Kasusnya persis, setelah Kosongkah Database, upload artikel gambarnya tidak muncul. Saya pernah melakukan ini sebelumnya tapi tidak masalah. Baru kali ini terjadi.

Kalau dari Resposnif File Manager seperti ini. Mohon bantuannya.

![Screenshot_1](https://user-images.githubusercontent.com/69981696/192049887-3df498f8-fbb6-4abd-be18-995381fc13dc.png)

[2022-09-24 05:28] eddieridwan commented on #5686
@devrakapriyo , apakah anda sudah verifikasi dulu laporan bug ini? Apakah mereka menggunakan versi ubahan?

[2022-09-24 06:49] ruririzal commented on #5676
kemungkinan disebabkan karena ini jika search box pada select2 tidak bisa mendapat fokus kursor :
https://select2.org/troubleshooting/common-problems

solusi yg bisa dicoba :
![image](https://user-images.githubusercontent.com/28647065/192084150-1193c269-7ae6-40a8-9595-6e607b5d7dbb.png)

[2022-09-24 08:46] vickyrolanda commented on #5178
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1359

[2022-09-24 08:46] #5178 closed, assigned to yogiperdana

[2022-09-24 09:25] vickyrolanda commented on #4944
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1382

[2022-09-24 09:25] #4944 closed, assigned to andifahruddinakas

[2022-09-25 00:10] apidong commented on #5673
mungkin terkena request timeout. karena di server secara default max_execution timenya 60 detik. jika melebihi itu, proses akan berhenti. alternatif lain agar tidak terkena request timout, migrasi dijalankan lewat terminal

[2022-09-25 05:48] vickyrolanda commented on #5303
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1385

[2022-09-25 05:48] #5303 closed, assigned to andifahruddinakas

[2022-09-25 05:55] vickyrolanda commented on #5593
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1388

[2022-09-25 05:55] #5593 closed, assigned to andifahruddinakas

[2022-09-25 06:06] vickyrolanda commented on #5240
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1365

[2022-09-25 06:06] #5240 closed, assigned to andifahruddinakas

[2022-09-25 10:47] ai-skematik commented on #5358
Up

[2022-09-25 11:27] #5687 closed, assigned to nobody

[2022-09-25 12:20] yogiperdana opened #5688 "Bug/error: error ketika edit surat lama (rtf)"
### Jelaskan error yg dialami

error ketika edit surat lama (rtf)

### Cara untuk mereplikasi errornya

Edit surat rtf lalu simpan

### Hasil yg diharapkan

Normal

### Tangkapan layar dan log error

-

### Rilis Versi OpenSID

Rilis Premium

### Versi OpenSID

v22.09-premium beta-04

### Tema Yang Digunakan

_No response_

### Informasi tambahan

_No response_

[2022-09-25 16:23] yogiperdana opened #5689 "Tambahkan tombol copy id pengunjung di halaman masuk layanan mandiri"

[2022-09-25 16:37] vickyrolanda commented on #5689
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1394

[2022-09-25 16:37] #5689 closed, assigned to yogiperdana

[2022-09-25 16:49] vickyrolanda commented on #5682
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1391

[2022-09-25 16:49] #5682 closed, assigned to andifahruddinakas

[2022-09-25 17:06] apidong opened #5690 "Bug/error: layanan mandiri siap di ambil tanpa di buatkan surat."
### Jelaskan error yg dialami

-

### Cara untuk mereplikasi errornya

1. Buat permohonan surat melalui layanan mandiri, semisal surat raw tinymce
![image](https://user-images.githubusercontent.com/20056421/192155802-e1d8b14b-e520-4844-8811-28803aa24758.png)
2. Setelah permohonan surat melalui layanan mandiri selesai, buat sebuah surat dengan nama surat yang sama melalui layanan surat > cetak sura

[2022-09-25 17:51] vickyrolanda opened #5691 "Tampilkan status TTE demo jika menggunakan modul eSign demo / modul BSrE belum terpasang"
Karena TTE sudah berhasil maka informasi di bawah perlu di hilangkan jika TTE berhasil diterapkan.
<img width="798" alt="image" src="https://user-images.githubusercontent.com/59082428/192157689-ccace0b6-90b3-4500-bdd2-45c5383f9b0e.png">

1. Saat ini syarat pengaturan tte harus ada akun kepala desa
2. Maka perlu adanya pemeriksaan NIK penandatangan yaitu kepala desa untuk dilakukan verifikasi (kare

[2022-09-25 17:52] #5675 closed, assigned to nobody

[2022-09-25 22:41] eddieridwan commented on #5691
@vickyrolanda @agungsugiarto masih diperlukan. Seperti kita sudah bicarakan sebelumnya, desa yg belum memperoleh TTE, perlu bisa melihat simulasi TTE. Jadi informasi demo/simulasi hanya dihilangkan kalau modul BSrE betulan telah terpasang. Yaitu perlu bisa membedakan antara modul BSrE betulan dengan yg bersifat demo.

[2022-09-25 23:39] scqolbu24 commented on #5681
@devrakapriyo Apakah sudah dicoba lakukan sesuai dengan yang ada di Cara Replikasi ? karena saya coba berulang kali gagal, itu terjadi di versi 22.09-premium dan rev untuk versi 22.08-premium-rev04 dan sebelumnya berjalan normal

[2022-09-26 02:15] #5679 closed, assigned to nobody

[2022-09-26 04:30] devrakapriyo commented on #5681
di saya normal mas, pada saat proses migrasi OpenSID v22.09-preemium-rev03 dan jalankan composer install di OpenSID API

[2022-09-26 04:33] andifahruddinakas commented on #5672
saya coba melakukan pendaftaran kerjasama, dan berhasil terkirim.

Cuma, kalau menggunakan email yang sudah pernah terdaftar akan gagal tanpa notifikasi yang jelas dari layanan. Coba cek di `'email' => "required|valid_email|is_unique[users.email,email,{$this->request->getPost('email')}]",`

![verif2](https://user-images.githubusercontent.com/57283157/192194365-62f44b3d-7377-4de6-b4b0-c86d9720760a.

[2022-09-26 04:37] apidong commented on #5681
@scqolbu24 @devrakapriyo ini dikarenakan, saat intall baru opensid belum dilakukan migrasi. sehingga ada struktur tabel yang belum sesuai.

[2022-09-26 07:07] andifahruddinakas commented on #5680
Cek :

Sesuaikan struktur folder desa dengan folder desa_contoh
Cek permisson folder

[2022-09-26 07:07] #5680 closed, assigned to nobody

[2022-09-26 07:34] devrakapriyo commented on #5684
ini mas @andifahruddinakas

[2022-09-26 07:39] andifahruddinakas commented on #5684
ok

[2022-09-26 08:13] scqolbu24 commented on #5681
Apakah databasenya sudah dibuat baru? dan dilakukan langkah demi langkah, jangan dilakukan bareng.

[2022-09-26 08:14] scqolbu24 commented on #5681
Iya betul mas, jika dilakukan secara otomatis di OpenSID Layanan Siap Pakai akhirnya tidak bisa
begitu juga saya lakukan secara manual sesuai tahapan yang ada di Cara Replikasi tetap tidak bisa:

1. Unduh versi OpenSID premium terbaru di https://github.com/OpenSID/rilis-premium.git
2. Buat database dan konfigurasi di desa/config/database.php serta desa/config/config.php
3. Jalankan pada browser we

[2022-09-26 08:21] devrakapriyo opened #5692 "Bug/error: file name unduh Jalan, Irigasi dan Jaringan tidak sama"
### Jelaskan error yg dialami

pada saat unduh excel di Jalan, Irigasi dan Jaringan name file excel tersebut menjadi Inventaris_Peralatan.xls yang seharusnya Jalan_Irigasi_Jaringan.xls

![image](https://user-images.githubusercontent.com/36557759/192227586-1cf3eca5-dbfc-4ea8-b754-11ecfd9df883.png)

![image](https://user-images.githubusercontent.com/36557759/192227609-57422713-8881-4faf-80c2-d31c8d9

[2022-09-26 10:14] devrakapriyo commented on #5681
setelah di replikasi dengan mas @scqolbu24 tertanya teridentifikasi bug
yang sebelumnya saya testing menggunakan database desa yang sudah ada datanya, sedangkan tadi pure awal migrasi database kosong yang menyebabkan error Unknown column 'c.pamong_id'

[2022-09-26 18:18] vickyrolanda commented on #5688
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1395

[2022-09-26 18:18] #5688 closed, assigned to andifahruddinakas

[2022-09-26 18:47] vickyrolanda commented on #5672
mbak @FirlianiF mohon bantuan untuk check ini ya mbak

[2022-09-26 19:01] vickyrolanda commented on #5686
mas @devrakapriyo mohon bantuannya sumber ini dapatnya darimana, karena butuh jga nanyak dari penggunanya perihal DTKS jika ini versi ubahan, mungkin setidaknya bisa kasih masukkan sedikit tetnang DTKS, jika ada penggunanya bisa kasih informasinya agar bisa saya kontak mas.

[2022-09-26 19:24] vickyrolanda commented on #5673
untuk bug ini @FirlianiF saya sudah check di saya normal , saya stuju dengan mas @apidong kemungkinan max_execution_timenya.

kalo memang ini sering jadi masalah mungkin bisa di tambahkan didaftar checklist syarat install mas @agungsugiarto untuk menaikkan limit max_execution_timenya dengan standart yang kita tentukan.

hasil saya test normal :
<img width="952" alt="image" src="https://user-images

[2022-09-26 19:36] vickyrolanda commented on #5676
mas @andifahruddinakas saya ketemu error ini :
caranya :
1. klik tambah anggota tapi jangn di save cukup close saja
2. jangan di refresh lalu klik lagi tambah anggota dan select maka muncul seperti dibawah ini
<img width="458" alt="image" src="https://user-images.githubusercontent.com/59082428/192364140-e668d565-e46a-43e4-b936-f58247b33b40.png">

[2022-09-26 19:38] vickyrolanda commented on #5674
mas @andifahruddinakas saya ketemu error ini :
caranya :
1. klik tambah anggota tapi jangn di save cukup close saja
2. jangan di refresh lalu klik lagi tambah anggota dan select maka muncul seperti dibawah ini
<img width="458" alt="image" src="https://user-images.githubusercontent.com/59082428/192364140-e668d565-e46a-43e4-b936-f58247b33b40.png">

[2022-09-26 19:47] vickyrolanda commented on #5676
mas @andifahruddinakas saya ketemu error ini :
caranya :

1. klik tambah anggota tapi jangn di save cukup close saja
2. jangan di refresh lalu klik lagi tambah anggota dan select maka muncul seperti dibawah ini

(jika tidak muncul error bisa ulangin hal di atas beberapa kali tanpa di refresh) lalu kadang ketika dari layar besar saya pindah ke layar kecil memang formnya tidak bisa di klik tpi ketik

[2022-09-26 23:19] eddieridwan commented on #5686
@devrakapriyo @vickyrolanda jika masalah ini terkait versi ubahan, tutup saja. Beritahu pelapor. Masalah seperti itu perlu diatasi oleh yg membuat ubahan, bukan OpenDesa.

[2022-09-27 00:58] agungsugiarto commented on #5673
mas @vickyrolanda berapa maksimal max max_execution_timenya ?

[2022-09-27 05:38] vickyrolanda commented on #5691
baik pak sudah sy tambahkan dideskripsi.

[2022-09-27 05:49] vickyrolanda commented on #5692
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1399

[2022-09-27 05:49] #5692 closed, assigned to agungsugiarto

[2022-09-27 05:56] vickyrolanda commented on #5672
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1397

[2022-09-27 05:56] #5672 closed, assigned to andifahruddinakas

[2022-09-27 06:00] andifahruddinakas commented on #5674
sy coba tidak ada masalah.

[2022-09-27 06:09] andifahruddinakas commented on #5674
untuk kasus ini sudah dibuatkan PR https://github.com/OpenSID/premium/pull/1403

[2022-09-27 06:10] andifahruddinakas commented on #5676
untuk kasus ini sudah dibuatkan PR https://github.com/OpenSID/premium/pull/1403

[2022-09-27 06:50] devrakapriyo opened #5693 "Bug/error: cetak surat TinyMCE blank"
### Jelaskan error yg dialami

saat cetak surat TinyMCE file PDF menjadi blank

![image](https://user-images.githubusercontent.com/36557759/192453539-0c0e4c22-579e-4637-a361-a052a5b1919b.png)

### Cara untuk mereplikasi errornya

-

### Hasil yg diharapkan

-

### Tangkapan layar dan log error

-

### Rilis Versi OpenSID

Rilis Premium

### Versi OpenSID

v22.09-premium-beta04

### Tema Yang Digun

[2022-09-27 07:08] devrakapriyo opened #5694 "Bug/error: Stunting - nomor RT RW stuning tidak muncul"
### Jelaskan error yg dialami

<img width="1440" alt="Screen Shot 2022-09-27 at 14 06 30" src="https://user-images.githubusercontent.com/36557759/192457587-a8d25859-d0a7-4007-b1e7-fb4417284946.png">

### Cara untuk mereplikasi errornya

-

### Hasil yg diharapkan

-

### Tangkapan layar dan log error

-

### Rilis Versi OpenSID

Rilis Premium

### Versi OpenSID

v22.09-premium-beta04

### Tema Yan

[2022-09-27 07:11] vickyrolanda opened #5695 "Data RT / RW Dusun tidak tampil di stunting"
Pada menu stunting -> KIA
<img width="592" alt="image" src="https://user-images.githubusercontent.com/59082428/192457858-43140669-3a57-48cc-b223-d11cf872a1ae.png">

[2022-09-27 07:12] #5695 closed, assigned to yogiperdana

[2022-09-27 07:14] devrakapriyo commented on #5695
mas @vickyrolanda sepertinya ini duplicate issue

https://github.com/OpenSID/OpenSID/issues/5694

[2022-09-27 07:31] vickyrolanda opened #5696 "Admin auto logout setelah hanya buka link /kehadiran"
- [ ] halaman admin terlogout setelah mengunjungin halaman  domain/kehadiran

cara testnya :
1. buka halaman admin
2. lalu buka domain/kehadiran
3. refresh halaman admin maka terlogout

[2022-09-27 07:39] vickyrolanda opened #5697 "IP dan Mac di layanan-mandiri tidak tampil saat di set anjungan"
Pada saat pengaturan anjungan di matikan dan hanya di atur melalui ID browser saja maka IP & Mac tidak muncul.

<img width="450" alt="image" src="https://user-images.githubusercontent.com/59082428/192463637-a57154af-562f-4064-8801-668adc8418f6.png">

<img width="478" alt="image" src="https://user-images.githubusercontent.com/59082428/192464329-e5160b2b-c470-4e6d-ade5-fc0f26aafa57.png">

[2022-09-27 07:46] vickyrolanda opened #5698 "Tidak ada validasi saat nambah anjungan"
Tambah Informasi pada saat tambah anjungan

- [x] Membuat nilai bawaan status tidak terkunci pada saat nambah anjungan
- [x] Membuat validasi IP / MAC / ID Browser *tambahkan informasi data sudah ada

[2022-09-27 07:59] vickyrolanda opened #5699 "Penyesuaian Penanda tangan & diketehui kebalik"
<img width="525" alt="image" src="https://user-images.githubusercontent.com/59082428/192467934-4c1b08c5-4393-437b-ae4a-60aa9a1b2dfb.png">

[2022-09-27 08:02] vickyrolanda opened #5700 "Jabatan tidak muncul menu statistik"
<img width="940" alt="image" src="https://user-images.githubusercontent.com/59082428/192468753-130f878a-e86f-4bb0-b1d7-166abb25e126.png">

[2022-09-27 08:07] vickyrolanda opened #5701 "Penyesuian jenis Widget statis (tidak muncul di tema pro) hanya muncul yang esensi & natra"
Yang muncul hanya
<img width="964" alt="image" src="https://user-images.githubusercontent.com/59082428/192469357-2dd65fa8-01ab-4959-aab1-27bb00f10fa2.png">
Padahal dilihat di server
<img width="1012" alt="image" src="https://user-images.githubusercontent.com/59082428/192469569-5297713d-0b5e-456f-b677-949baec2a8f2.png">

[2022-09-27 08:17] vickyrolanda opened #5702 "Ketika cetak buku pembangunan muncul semua saat tidak memilih tahun"
ketika pilih semua tahun maka muncul teks Semua
<img width="789" alt="image" src="https://user-images.githubusercontent.com/59082428/192471944-c6a8584e-f933-41f7-9625-a6eb7a9b31db.png">

solusi jika pilih semua tampilkan minimal tahun s/d maksimal tahun

[2022-09-27 08:22] vickyrolanda opened #5703 "Tambah form isian penerima di modul surat keluar"
pada saat klik masukkan buku ekpedisi muncul Popup
dengan isian  :
1. Nama Penerima
2. Tanggal
3. Attachment Photo  & Kamera

[2022-09-27 08:29] vickyrolanda opened #5704 "Cetak pada administrasi umum muncul semua pamong harusnya hanya ub"
<img width="515" alt="image" src="https://user-images.githubusercontent.com/59082428/192475412-e1825d82-4d50-4f2f-a246-bbd8bc84aa52.png">

<img width="898" alt="image" src="https://user-images.githubusercontent.com/59082428/192474943-a7e48bfb-7562-4ab3-bde4-1a9806b73fca.png">

harusnya yang muncul hanya ub yang aktif saja.

[2022-09-27 08:42] ariandii commented on #5510
Saat ini masih muncul Status Penduduk "Tidak Tetap" pada saat "Menambah Keluarga Baru" atau "Menambah Anggota Keluarga".

Tambahan:
Saat ini ada penduduk "Tidak Tetap" yang sudah terlanjur masuk ke salah satu KK, maka penduduk tersebut tidak muncul di List Anggota Keluarga sehingga tidak dapat di keluarkan dari KK.

dan Penduduk Tidak Tetap yang sudah terlanjur masuk KK, jika diubah, saat ini kolo

[2022-09-27 08:51] vickyrolanda opened #5705 "Bagian view mobile untuk status langganan."
Token Premium -> menjadi Status Langganan
<img width="266" alt="image" src="https://user-images.githubusercontent.com/59082428/192480030-d3e9170a-8c8f-4392-bcc9-34bbed3e21b7.png">

[2022-09-27 09:25] vickyrolanda commented on #5693
Sudah diselesaikan di PR https://github.com/OpenSID/OpenSID/issues/5693

[2022-09-27 09:25] #5693 closed, assigned to andifahruddinakas

[2022-09-27 09:35] andifahruddinakas commented on #5700
Mas @vickyrolanda, bisa di cek ulang. Sudah ikut terselesaikan melalui PR https://github.com/OpenSID/premium/pull/1398

[2022-09-27 09:53] vickyrolanda commented on #5518
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1378

[2022-09-27 09:53] #5518 closed, assigned to andifahruddinakas

[2022-09-27 10:43] syahidmid opened #5706 "Pengaturan Waktu Kadaluarsa Token OTP"
### Jelaskan error yg dialami

Waktu kadaluarsa token OTP yang dikirim ke email user oleh sistem OpenSID saat pengguna melakukan registrasi saat ini adalah 1 menit. Menurut saya, waktu 1 menit ini terlalu singkat.

Ada banyak faktor yang menyebabkan OTP cukup lama didapatkan oleh user seperti kecepatan internet di daerah sampai karena faktor email hostingnya (yang menurut pihak hosting saya, bisa

[2022-09-27 18:19] apidong commented on #5681
perbaikan ada di API https://github.com/OpenSID/opensid-laravel/pull/29

[2022-09-28 01:07] scqolbu24 commented on #5681
sudah diperbaiki melalui PR https://github.com/OpenSID/opensid-laravel/pull/27

[2022-09-28 01:07] #5681 closed, assigned to apidong

[2022-09-28 03:28] FirlianiF opened #5707 "Bug/error: Perbaiki token tidak terbaca karena hapus cache"
### Jelaskan error yg dialami

Saat ini untuk desa yang server nya diluar opendesa, banyak yang mengalami token selalu terhapus / tidak terbaca karena menggunakan cloudflare.

Solusi:
Buatkan pengaturan aktifkan otomatisasi hapus cache layanan pelanggan.
Jika Ya, maka fungsi hapus cache otomatis akan berjalan seperti biasa nya
Jika Tidak, maka fungsi hapus cache otomatis tidak akan dijalankan, kar

[2022-09-28 04:27] cepiandiana commented on #5707
Betul, Solusi yang saya lakukan sementara adalah :
1. Minta Token Baru
2. Input Token di phpmyadmin
3. Ketika aplikasi opensid sudah bisa diakses kembali, tidak menekan tombol batre dan key, karena ketika ini dilakukan maka akan kembali ada notifikasi Token Kosong

[2022-09-28 04:36] devrakapriyo opened #5708 "Bug/error: token tidak bisa tersimpan di db"
### Jelaskan error yg dialami

token tidak bisa tersimpan di db, padahal alert nya berhasil tersimpan

![image](https://user-images.githubusercontent.com/36557759/192688589-d9efe8c5-bc95-4249-a969-8d096959ea3d.png)

### Cara untuk mereplikasi errornya

-

### Hasil yg diharapkan

-

### Tangkapan layar dan log error

-

### Rilis Versi OpenSID

Rilis Premium

### Versi OpenSID

v22.09-premium-beta

[2022-09-28 05:04] #5700 closed, assigned to andifahruddinakas

[2022-09-28 05:05] andifahruddinakas commented on #5696
Ini udah ada PRnya

[2022-09-28 05:46] andifahruddinakas commented on #5707
https://github.com/OpenSID/OpenSID/issues/5200

[2022-09-28 05:46] andifahruddinakas commented on #5708
https://github.com/OpenSID/OpenSID/issues/5200

[2022-09-28 06:39] devrakapriyo opened #5709 "Bug/error: khusus notifikasi BETA jangan ditampilkan"
### Jelaskan error yg dialami

![image](https://user-images.githubusercontent.com/36557759/192705823-99054949-4b45-4986-9697-c34135a98171.png)

notifikasi BETA baiknya jangan ditampilkan, karena akan membingungkan pengguna

### Cara untuk mereplikasi errornya

-

### Hasil yg diharapkan

-

### Tangkapan layar dan log error

-

### Rilis Versi OpenSID

Rilis Premium

### Versi OpenSID

22.09-premi

[2022-09-28 06:53] andifahruddinakas commented on #5709
Mas @vickyrolanda, untuk rilis beta (public) disimpan di branch terpisah sj.

[2022-09-28 08:09] agushariyanto opened #5710 "Permintaan fitur: Kehadiran (tambahan Geo Tagging)"
### Apa kekurangan yg ingin diatasi?

mengetahui perangkat absensi di lokasi tertentu jika posisi dinas luar

### Jelaskan solusi yg diinginkan

kebanyakan absensi sekarang sudah ada fitur Geo Tagging

### Apakah ada alternatif lain

tidak ada

### Untuk versi OpenSID mana

premium 22.09

### Informasi tambahan

_No response_

[2022-09-28 08:36] vickyrolanda commented on #5676
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1403

[2022-09-28 08:36] #5676 closed, assigned to andifahruddinakas

[2022-09-28 08:36] vickyrolanda commented on #5674
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1403

[2022-09-28 08:36] #5674 closed, assigned to andifahruddinakas

[2022-09-28 08:45] vickyrolanda commented on #5691
mas @agungsugiarto :
saya coba ganti NIK kepala desa dan setting namun tetap tidak muncul demonya , harusnya tetap muncul mas.
<img width="759" alt="image" src="https://user-images.githubusercontent.com/59082428/192733199-f8610497-34b4-49dc-838a-5c174b7d98f9.png">

[2022-09-28 08:49] vickyrolanda commented on #5696
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1405

[2022-09-28 08:49] #5696 closed, assigned to andifahruddinakas

[2022-09-28 09:43] vickyrolanda commented on #5694
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1406

[2022-09-28 09:43] #5694 closed, assigned to yogiperdana

[2022-09-28 09:51] vickyrolanda opened #5711 "Bug tidak bisa aktifkan anjungan"
Icon gembok tidak dapat di klik untuk mengaktifkan anjungannya.
<img width="411" alt="image" src="https://user-images.githubusercontent.com/59082428/192748482-c1c3c4f2-8281-4f78-ad5a-510d8a905c0e.png">

[2022-09-28 09:54] #5711 closed, assigned to yogiperdana

[2022-09-28 09:59] vickyrolanda commented on #5698
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1408

[2022-09-28 09:59] #5698 closed, assigned to yogiperdana

[2022-09-28 10:03] vickyrolanda commented on #5697
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1407

[2022-09-28 10:03] #5697 closed, assigned to yogiperdana

[2022-09-28 17:14] andifahruddinakas opened #5712 "Cek ulang Fitur Url / Link Dokumen"
Cek komentar https://github.com/OpenSID/premium/pull/1322#issuecomment-1259070899, https://github.com/OpenSID/premium/pull/1322#issuecomment-1260261910

[2022-09-28 17:19] andifahruddinakas opened #5713 "Cek Ulang Fitur gelar depan & belakang untuk pemerintah desa"
Tidak tampil di identitas desa :
![gelar 3](https://user-images.githubusercontent.com/57283157/192847530-e2751b20-2daf-442e-9717-c725e7fd6d79.jpg)

Saat melakukan cetak dokumen, gelar tampil :
![gelar 1](https://user-images.githubusercontent.com/57283157/192847261-5c796c40-10df-45a5-881f-000f0b6c494a.jpg)

Namun hasil cetaknya tidak tampil:
![gelar 2](https://user-images.githubusercontent.com/5728

[2022-09-28 17:24] andifahruddinakas opened #5714 "Pencarian Spesifik"
Tambahkan validasi dimana umur awal < umur akhir

![pencarian 2](https://user-images.githubusercontent.com/57283157/192848381-532e5e32-7696-46ac-ac45-75c2bb0461b8.jpg)

Karena jika umur awal > umur akhir hasil pencarian akan kosong.

[2022-09-28 17:35] andifahruddinakas opened #5715 "Cek fitur Bisa tambah anggota rumah tangga bersumber dari daftar nama di kartu keluarga kepala rumah tangga"
PR https://github.com/OpenSID/premium/pull/1354

Maksud dari issue tsb agar lebih memudahkan menambah anggota rumah tangga :
1. Sediakan tambah anggota rumah tangga yang diambil berdasarkan individu (yang saat ini)
2. Sediakan tambah anggota rumah tangga yang diambil dari kk (pencarian berdasarkan kepala keluarga), setelah dipilih maka anggota keluarga tsb tampil, yang bisa dipilih (ceklis) yang a

[2022-09-28 17:38] andifahruddinakas opened #5716 "Cek issue teks berjalan anjungan"
PR https://github.com/OpenSID/premium/pull/1306

Saat ini ada pengelompokan modul anjungan, apa perlu dipisahkan teksberjalan yg di web dan anjungan/layanan mandiri.

[2022-09-28 19:18] vickyrolanda commented on #5702
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1409

[2022-09-28 19:18] #5702 closed, assigned to apidong

[2022-09-28 19:40] vickyrolanda commented on #5699
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1411

[2022-09-28 19:40] #5699 closed, assigned to andifahruddinakas

[2022-09-28 20:10] vickyrolanda commented on #5701
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1413

[2022-09-28 20:10] #5701 closed, assigned to andifahruddinakas

[2022-09-29 01:28] Wiliyantoro opened #5717 "Permintaan Fitur Agar Bisa Menampilkan Keterangan Keluar & Tidak Hadir"
### Jelaskan error yg dialami

ketika user / pegawai sudah melakukan presensi keluar,
pada halaman depan status keharian perangkat masih muncul " Belum Rekam Kehadiran "
seharusnya status tersebut di munculkan apabila user / Pegawai sama sekali belum melakukan presensi masuk

### Cara untuk mereplikasi errornya

halaman depan, cari di bagian kehadiran aparatur desa
![Uploading image.png…]()

### H

[2022-09-29 02:00] yogiperdana commented on #5717
Bug ini ditemukan setelah ada penambahan fitur baru ya pak (pilih alasan keluar) @Wiliyantoro

[2022-09-29 02:02] Wiliyantoro commented on #5717
sebelum ada fitur baru tersebut pak

[2022-09-29 02:04] yogiperdana commented on #5717
Berarti bug lama ya pak. Kemungkinan masalah ada di temanya pak nanti saya coba cek lagi

[2022-09-29 02:04] Wiliyantoro commented on #5717
siap pak,

[2022-09-29 02:25] vickyrolanda commented on #5684
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1401

[2022-09-29 02:25] #5684 closed, assigned to andifahruddinakas

[2022-09-29 03:14] vickyrolanda commented on #5709
untuk issue ini sudah ada solusinya untuk kedapan tidak akan ada beta masuk ke notifikasi rilis karena hanya di buat di branch BETA dan akan di sebar melalui link branch beta seperti berikut ini : https://github.com/OpenSID/rilis-premium/tree/beta

[2022-09-29 03:14] #5709 closed, assigned to agungsugiarto

[2022-09-29 03:14] andifahruddinakas opened #5718 "[TinyMCE] Penambahan fungsi jarak antra baris (tools tinymce linehight)"
Belum ada tools lineheight di editor TinyMCE.

Solusi :
- Update libary TinyMCE ke versi 5 terkahir (versi 6 banyak yang perlu diubah)

[2022-09-29 03:52] vickyrolanda commented on #5717
mas @yogiperdana  Perlu informasi tambahan untuk memeriksa apakah perangkat tertentu sudah hadir atau tidak setelah jam masuk kerja.

[2022-09-29 04:22] ariandii commented on #5717
Karena di OpenSID belum tersedia fitur mengenai informasi kehadiran, yang ada saat ini hanya 1 kondisi yang tampil di website yakni Hadir Di Kantor Desa. Default jika tidak hadir maka tidak tampilakn keterangan.

Sebagai pemanis, di sisi Tema DeNatra diberi 2 kondisi yang keterangan kosong diganti dengan sebutan Belum Rekam Kehadiran.
Petunjuk nya ada di file readme yang ada di folder denatra (pal

[2022-09-29 04:24] ariandii commented on #5717
Pak @Wiliyantoro
bisa cek penjelasan ada di atas.

dan bisa ubah issues ini menjadi permintaan fitur.

[2022-09-29 04:29] Wiliyantoro commented on #5717
terimakasih pak @ariandii, sudah dirubah menjadi permintaan fitur

[2022-09-29 04:41] devrakapriyo opened #5719 "Bug/error: error unduh Buku Inventaris dan Kekayaan Desa"
### Jelaskan error yg dialami

error ini terjadi di branch daftar-pamong, bagian Kepala desa dan Seketaris Desa

![image](https://user-images.githubusercontent.com/36557759/192939930-0340a63c-9b60-4c1b-a397-6880aac746f4.png)
![image](https://user-images.githubusercontent.com/36557759/192939990-1b037a68-9131-4128-b0a7-6506fc45e51a.png)

### Cara untuk mereplikasi errornya

1. klik menu Buku Adminis

[2022-09-29 05:27] vickyrolanda commented on #5715
mas @devrakapriyo mohon bantuannya untuk testing ini mas

[2022-09-29 07:24] yogiperdana commented on #5239
Jadi jumlah guru dll itu diambil pada semester terakhir diinput atau semester saat ini mas? Lalu data apa yang akan dikirim/disinkronisasikan dengan opendk @vickyrolanda

[2022-09-29 07:37] andifahruddinakas commented on #5719
https://github.com/OpenSID/premium/pull/1412

[2022-09-29 08:44] yogiperdana commented on #5715
Ini kelanjutannya gimana mas? Saya lihat komentar Pak Eddie di issue untuk checklist belum bisa dilakukan

[2022-09-29 18:35] vickyrolanda commented on #5510
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1410

[2022-09-29 18:35] #5510 closed, assigned to scqolbu24

[2022-09-29 18:51] vickyrolanda opened #5720 "Error saat nambahkan Disposisi Surat Masuk"
http://opensid.test/surat_masuk/form

<img width="773" alt="image" src="https://user-images.githubusercontent.com/59082428/193117233-4e74ed70-1732-4a36-a4c2-4061cc4db706.png">

Log :
<img width="657" alt="image" src="https://user-images.githubusercontent.com/59082428/193117594-b020446d-6f27-408b-9be5-df2c371e0152.png">

[2022-09-29 18:56] vickyrolanda commented on #5719
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1412

[2022-09-29 18:56] vickyrolanda commented on #5704
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1412

[2022-09-29 18:56] #5704 closed, assigned to andifahruddinakas

[2022-09-29 19:27] vickyrolanda commented on #5705
mas @apidong mohon bantuannya untuk menyelesaikan issue ini

[2022-09-29 19:27] vickyrolanda commented on #5690
mas @agungsugiarto mohon bantuannya untuk nyelesaikan issue ini mas

[2022-09-29 19:37] apidong commented on #5720
Pak, @vickyrolanda butuh database contoh.

[2022-09-30 01:02] eddieridwan opened #5721 "Permintaan fitur: Sediakan modul "Gawai Layanan" sebagai pengganti fitur anjungan"
### Apa kekurangan yg ingin diatasi?

Fitur anjungan berlisensi saat ini menghilangkan fitur sebelumnya yang memungkinkan layanan warga-hadir menggunakan scan RFID dan mengabaikan keharusan unggah dokumen pendukung.

Sedangkan fitur itu dibutuhkan oleh kantor desa/dusun/RT untuk memudahkan pemberian layanan pada warga yg hadir langsung.

### Jelaskan solusi yg diinginkan

Sediakan pengenalan gawai

[2022-09-30 02:05] #5713 closed, assigned to andifahruddinakas

[2022-09-30 02:05] #5714 closed, assigned to yogiperdana

[2022-09-30 04:23] vickyrolanda commented on #5720
sy kirim ke telegram ya mas

[2022-09-30 06:51] FirlianiF opened #5722 "Permintaan fitur: Perjelas informasi layanan pelanggan"
### Apa kekurangan yg ingin diatasi?

Pengguna sering terkecoh sampai hostingnya ter suspend. bahkan ada yg terminate.

Perjelas notifikasi bila memiliki beberapa pemesanan dengan masa berakhir yang berbeda.

Supaya tidak terkecoh. Yg ditampilkan masa berakhir Premium. Jadi jika hosting akan berakhir sebelum itu tidak terlihat.

Mungkin perlu tampilkan masa berakhir bagi setiap pemesanan yg berbed

[2022-09-30 06:51] FirlianiF opened #6841 "Permintaan fitur: Perjelas informasi layanan pelanggan"
### Apa kekurangan yg ingin diatasi?

Pengguna sering terkecoh sampai hostingnya ter suspend. bahkan ada yg terminate.

Perjelas notifikasi bila memiliki beberapa pemesanan dengan masa berakhir yang berbeda.

Supaya tidak terkecoh. Yg ditampilkan masa berakhir Premium. Jadi jika hosting akan berakhir sebelum itu tidak terlihat.

Mungkin perlu tampilkan masa berakhir bagi setiap pemesanan yg berbed

[2022-09-30 07:19] apidong opened #5723 "Bug/error: error migrasi dari umum 22.03 ke 22.09-premium-rev03"
### Jelaskan error yg dialami

Severity: error --> Exception: SQLSTATE[42S02]: Base table or view not found: 1146 Table 'serp5942_desa.kehadiran_jam_kerja' doesn't exist (SQL: select * from kehadiran_jam_kerja) /home/serp5942/public_html/vendor/illuminate/database/Connection.php 712

### Cara untuk mereplikasi errornya

-

### Hasil yg diharapkan

-

### Tangkapan layar dan log error

-

### Rilis

[2022-09-30 07:45] vickyrolanda commented on #5720
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1418

[2022-09-30 07:45] #5720 closed, assigned to andifahruddinakas

[2022-09-30 08:16] vickyrolanda commented on #5690
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1420

[2022-09-30 08:16] #5690 closed, assigned to agungsugiarto

[2022-09-30 08:57] vickyrolanda commented on #5705
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1421

[2022-09-30 08:57] #5705 closed, assigned to apidong

[2022-09-30 10:05] devrakapriyo opened #5724 "Bug/error: pending upload image tertentu di dengan filemanager"
### Jelaskan error yg dialami

hanya gambar tentu yang tidak bisa terupload di filemanager, terlampir gambar yang dapat di upload dan tidak dapat di upload di GDrive OpenDesa

<img width="1042" alt="Screen Shot 2022-09-30 at 17 03 16" src="https://user-images.githubusercontent.com/36557759/193246922-75b59f9e-be96-432d-97dc-525603577122.png">

<img width="1393" alt="Screen Shot 2022-09-30 at 17 03

[2022-09-30 10:08] devrakapriyo commented on #5724
gambar ada di link gdrive : https://drive.google.com/drive/folders/1U-7oh6Ko1zN_x7ciX9HLdy0Kk3kT1cVZ?usp=sharing

[2022-09-30 11:49] andiju1778 opened #5725 "Menambah fitur"
### Apa kekurangan yg ingin diatasi?

Menambah fitur agar bisa menampilkan siapa warga yg berulang tahun hari ini

### Jelaskan solusi yg diinginkan

Agar bisa Menambah fitur agar bisa menampilkan siapa warga yg berulang tahun hari ini

### Apakah ada alternatif lain

agar masyarakat bisa melihat sendiri siapa yang berulang tahun hari ini

### Untuk versi OpenSID mana

-

### Informasi tambahan

-

[2022-09-30 12:02] eddieridwan commented on #5725
@andiju1778 fitur seperti ini tidak dapat diterapkan, karena berpotensi mempublikasikan data yang dirahasiakan (ulang tahun seseorang).

[2022-09-30 12:03] #5725 closed, assigned to nobody

[2022-09-30 12:34] devrakapriyo opened #5726 "Bug/error: pengaturan pengguna tampilkan data tidak sesuai pada datatable"
### Jelaskan error yg dialami

![image](https://user-images.githubusercontent.com/36557759/193270584-c10d9579-d2fd-47e3-971d-e83e2ef47beb.png)

pada gambar di atas, tampilkan 20 data sedangkan yang tampil hanya 10 dari 11 data

### Cara untuk mereplikasi errornya

1. klik menu Pengaturan
2. klik menu Pengguna

### Hasil yg diharapkan

-

### Tangkapan layar dan log error

-

### Rilis Versi OpenSI

[2022-09-30 12:47] devrakapriyo opened #5727 "Bug/error: pengaturan pengguna berstatuskan staf sedangkan bukan staf"
### Jelaskan error yg dialami

<img width="1175" alt="Screen Shot 2022-09-30 at 19 43 14" src="https://user-images.githubusercontent.com/36557759/193272728-562efee6-dff6-4e90-a90f-fa2430ee15dd.png">

<img width="1133" alt="Screen Shot 2022-09-30 at 19 44 05" src="https://user-images.githubusercontent.com/36557759/193272740-b2fcfd10-7499-4a24-a635-d29d8587e057.png">

pada gambar diatas, seharusnya

[2022-09-30 12:51] devrakapriyo opened #5728 "aparatur desa dihapus maka penandatanganan menjadi hilang"
### Jelaskan error yg dialami

![image](https://user-images.githubusercontent.com/36557759/193273378-83b587b7-c872-4f5a-b322-52ad760e5ced.png)

pada gambar diatas surat tersebut di tanda tangani oleh Ahmad Allif Rizki, lalu akun aparatur Ahmad Allif Rizki dihapus maka penanda tanganan menjadi hilang seperti gambar dibawah

![image](https://user-images.githubusercontent.com/36557759/193273556-c4c27

[2022-09-30 12:53] andiju1778 opened #5729 "Permintaan fitur:"
### Apa kekurangan yg ingin diatasi?

-

### Jelaskan solusi yg diinginkan

Penambahan format surat keterangan telah menikah

### Apakah ada alternatif lain

-

### Untuk versi OpenSID mana

-

### Informasi tambahan

_No response_

[2022-09-30 12:57] devrakapriyo opened #5730 "Bug/error: id paramater permalink artikel dapat diubah dan tidak menyebabkan 404"
### Jelaskan error yg dialami

dari link artikel ini https://berputar.opendesa.id/artikel/2016/8/24/data-desa diubah menjadi https://berputar.opendesa.id/artikel/2016/8765/20499999999999999999999999/data-desa seharunya link tersebut 404 tetapi ini masih bisa diakses

### Cara untuk mereplikasi errornya

-

### Hasil yg diharapkan

-

### Tangkapan layar dan log error

-

### Rilis Versi OpenSID

R

[2022-09-30 12:59] devrakapriyo commented on #5730
jika dibiarkan akan menyebabkan duplicate content oleh crawler google

[2022-09-30 13:02] ariandii commented on #5730
link mana yang seharusnya 404?
link awal atau kedua?

menurut saya tidak bisa ubah permalink, karena berkaitan dengan slug siapa tau sudah terindex google. sehingga jika misal artikel tahun lalu diedit permalink. maka kasian pengunjung lama menjadi 404.

[2022-09-30 13:06] andiju1778 opened #5731 "Permintaan fitur: Tampilkan warga Desa yg berualng tahun hari ini"
### Apa kekurangan yg ingin diatasi?

-

### Jelaskan solusi yg diinginkan

-

### Apakah ada alternatif lain

-

### Untuk versi OpenSID mana

-

### Informasi tambahan

-

[2022-09-30 13:45] scqolbu24 commented on #5726
Selain di berputar, saya coba di dev.opendesa sama terjadi bug, namun saya coba menggunakan branch rilis-dev dan bug fix dengan terdapat 12 data untuk hasilnya dapat ditampilkan semuanya dalam 1 tabel, tangkapan layar sebagai berikut:
Hasil dari rilis-dev
![test-beta](https://user-images.githubusercontent.com/68048807/193282900-a1ec1364-57ad-4f2a-aa3b-aa07d121dc35.JPG)

Hasil dari bug-fix
![test-r

[2022-09-30 13:56] scqolbu24 commented on #5726
dengan testing menggunakan rilis-dev dan bug-fix sudah normal, maka issue ini ditutup.

[2022-09-30 13:56] #5726 closed, assigned to scqolbu24

[2022-09-30 14:35] vickyrolanda commented on #5727
issue ini terjadi karena ketika ditambah pengguna status pengguna masih ada di pemerintah desa sehingga statusnya staff
<img width="578" alt="image" src="https://user-images.githubusercontent.com/59082428/193293608-c8af5f1b-3084-4a82-9288-fa7c46b2ae86.png">
lalu ketika staff di keluarkan dan bukan lagi bagian dari pemerintah desa maka status staff pada pengguna tidak berubah.
harusnya ikut berubah

[2022-09-30 14:44] devrakapriyo commented on #5730
Link ke 2 pak @ariandii, seharusnya 404

[2022-09-30 16:15] vickyrolanda commented on #5712
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1423

[2022-09-30 16:15] #5712 closed, assigned to yogiperdana

[2022-09-30 16:31] vickyrolanda commented on #5727
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1425

[2022-09-30 16:31] #5727 closed, assigned to scqolbu24

[2022-09-30 17:00] vickyrolanda commented on #5728
Kenapa hilang karena saat ini log surat tersimpan ID pamong , jika Pamong di hilangkan maka ID pamong menjadi tidak terbaca ini bisa atasin dengan 2 cara :

1. Soft delete artinya ID pamong tidak benar - benar di hapus namun berubah status non-aktif sehingga tidak muncul di pemerintah desa
2. Bisa dengan cara simpan nama pamong setiap buat surat.

ke2 hal diatas akan di diskusikan terlebih dahulu

[2022-09-30 17:50] vickyrolanda commented on #5723
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1426

[2022-09-30 17:50] #5723 closed, assigned to apidong

[2022-09-30 18:14] vickyrolanda commented on #5730
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1427

[2022-09-30 18:14] #5730 closed, assigned to andifahruddinakas

[2022-09-30 18:48] vickyrolanda commented on #5724
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1429

[2022-09-30 18:48] #5724 closed, assigned to andifahruddinakas

[2022-09-30 18:59] vickyrolanda commented on #5708
issue ini sama https://github.com/OpenSID/OpenSID/issues/5707

[2022-09-30 22:17] eddieridwan commented on #5728
@vickyrolanda @devrakapriyo , seharusnya perangkat desa yg sudah digunakan untuk menandatangani surat tidak boleh dihapus. Perangkat desa yg sudah keluar atau tidak bertugas lagi seharusnya diganti statusnya menjadi tidak aktif, tidak dihapus. Riwayat perangkat desa perlu terus tersimpan.

Penghapusan perangkat desa hanya dilakukan jika salah buat.

Jadi yg perlu diterapkan:

1. Di front-end, tomb

[2022-10-01 04:38] vickyrolanda commented on #5728
mas @andifahruddinakas berarti yang perlu diterapkan seperti diskusi kita kemarin harus ada soft delete (artinya menon-aktifkan perangkat desa)

tapi lebih jelas bisa dilihat kommentar pak eddie di atas.

[2022-10-01 05:07] devrakapriyo commented on #5719
<img width="1440" alt="Screen Shot 2022-10-01 at 12 06 00" src="https://user-images.githubusercontent.com/36557759/193393540-9f5ecb5c-d938-4924-828d-730d08948307.png">

setelah saya cek di berputar.opendesa.id lis kepala desa dan seketaris desa masih error

[2022-10-01 08:48] devrakapriyo opened #5734 "Bug/error: error struktur tabel informasi publik"
### Jelaskan error yg dialami

![image](https://user-images.githubusercontent.com/36557759/193401285-62ae83d2-05b8-4bd1-a0f4-0649b88dbf5d.png)

pada gambar diatas isi table tidak sesuai dengan judul table, dan ubah struktur table informasi menjadi
<table>
<tr>
<th>No</th>
<th>Judul Informasi</th>
<th>URL</th>
<th>Tahun</th>
<th>Kategori</th>
<th>Tanggal Upload</th>
</tr>
</table>

### Cara untuk m

[2022-10-01 12:58] vickyrolanda commented on #5719
sy cek normal mas
<img width="759" alt="image" src="https://user-images.githubusercontent.com/59082428/193410644-bab497f1-196f-4659-a166-d27e904bf59d.png">

[2022-10-01 13:52] vickyrolanda commented on #5734
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1432

[2022-10-01 13:52] #5734 closed, assigned to yogiperdana

[2022-10-01 13:54] #5719 closed, assigned to nobody

[2022-10-01 14:23] devrakapriyo commented on #5563
<img width="1440" alt="Screen Shot 2022-10-01 at 21 22 36" src="https://user-images.githubusercontent.com/36557759/193414072-3eff8260-4671-438c-bfe6-45ddb09901ef.png">

mas @yogiperdana untuk variable nya di ubah menjadi placeholder

[2022-10-01 15:23] devrakapriyo opened #5735 "Bug/error: gagal migrasi v22.10-premium khusus desa sempano.desa.id"
### Jelaskan error yg dialami

saat migrasi ke versi 22.10-premium terjadi error, tetapi di versi 22.09-premium-rev03 berjalan normal

database dan log error ada di GDrive OpenDesa : https://drive.google.com/drive/folders/1DplziI7jjbVWWLkp3ivxr9SYpsxewJ53?usp=sharing

### Cara untuk mereplikasi errornya

-

### Hasil yg diharapkan

-

### Tangkapan layar dan log error

-

### Rilis Versi OpenSID

[2022-10-01 17:05] mah-mudi opened #5736 "Bug Login Aplikasi Layanan Mandiri OPENSID"
![IMG_20221002_000703.jpg](https://user-images.githubusercontent.com/57661283/193420399-854dc8f7-6d06-4ef3-a99a-0510704260fd.jpg)

[2022-10-01 17:17] mah-mudi opened #5737 "Bug/error: Tidak Bisa Login di Aplikasi Playstore Layanan Mandiri OPENSID"
### Jelaskan error yg dialami

Tidak Bisa Login di Aplikasi Playstore Layanan Mandiri OPENSID

### Cara untuk mereplikasi errornya

Setelah unduh aplikasi Playstore Layanan Mandiri OPENSID, memilih Provinsi, Kabupaten, Kecamatan, Desa sudah sesuai, kemudian klik Mulai, muncul login layanan Mandiri, mengisi NIK dan Pin sudah sesuai dg data login dari operator desa. Namun tidak bisa masuk.

### Hasi

[2022-10-01 17:17] #5736 closed, assigned to nobody

[2022-10-02 03:05] mah-mudi opened #5738 "Bug/error: [PREMIUM] Desimal dua digit tidak dapat ditampilkan pada Transparansi APBDesa"
### Jelaskan error yg dialami

Sesuai Lampiran Perdes APBDesa bahwa Pendapatan, Belanja dan Pembiayaan di APBDesa biasanya ada desimal dua digit, dan itu tidak bisa dinput pakai desimal di Modul **Keuangan->Input Data**  . Ketika input pakai desimal, ada keterangan **_hanya boleh isi karektek numerik_**.

### Cara untuk mereplikasi errornya

1. Pergi ke Modul Keuangan
2. Input Data
3. Masukkan nil

[2022-10-02 03:05] #4884 closed, assigned to nobody

[2022-10-02 06:35] eddieridwan commented on #5728
@vickyrolanda @andifahruddinakas **TIDAK** perlu ada soft-delete. Fitur aktif/nonaktifkan perangkat sudah lama ada.

[2022-10-02 11:30] eddieridwan commented on #5572
@andifahruddinakas @vickyrolanda tugas ini perlu dirinci dan dibuatkan issue terpisah untuk setiap pengaturan

[2022-10-02 11:36] eddieridwan commented on #5458
@vickyrolanda buat issue terpisah untuk masing2 surat yg perlu dikonversi

[2022-10-02 11:39] hasap86 opened #5739 "Bug/error: Daftar penerima bantuan tetap muncul walaupun diseting Tidak pada pengaturan halaman web"
### Jelaskan error yg dialami

Daftar penerima bantuan tetap muncul walaupun diseting Tidak pada pengaturan halaman web

### Cara untuk mereplikasi errornya

Seting di Pengaturan Halaman Web pada daftar penerima bantuan "Tidak"
cek di halaman web penerima bantuan
data penerima bantuan tetap muncul, seharusnya tidak muncul

### Hasil yg diharapkan

sesuai setingan jika Ya = Muncul, Jika Tidak = Tid

[2022-10-02 11:44] hasap86 opened #5740 "Bug/error: Beberapa Menu tidak terbuka pada versi 22.10 tema Esensi"
### Jelaskan error yg dialami

tidak bisa membuka menu Lapak

### Cara untuk mereplikasi errornya

buka menu lapak

- [ ] https://demosid.opendesa.id/lapak
- [ ] https://demosid.opendesa.id/pembangunan
- [ ] https://demosid.opendesa.id/data-wilayah
- [ ] https://demosid.opendesa.id/pengaduan

### Hasil yg diharapkan

bisa terbuka pada versi 22.10 menu Esensi

### Tangkapan layar dan log error

htt

[2022-10-02 11:46] hasap86 opened #5741 "Bug/error: Menu pengaduan pada v22.10 tema Esensi tidak bisa terbuka"
### Jelaskan error yg dialami

tidak bisa membuka menu Pengaduan

### Cara untuk mereplikasi errornya

buka menu Pengaduan

https://demosid.opendesa.id/pengaduan

### Hasil yg diharapkan

bisa membuka menu pengaduan pada v22.10 tema Esensi

### Tangkapan layar dan log error

https://demosid.opendesa.id/pengaduan

### Rilis Versi OpenSID

Rilis Umum

### Versi OpenSID

v22.10

### Tema Yang Digunak

[2022-10-02 11:48] hasap86 opened #5742 "Bug/error: Menu Pembangunan pada v22.10 tema Esensi tidak bisa terbuka"
### Jelaskan error yg dialami

tidak bisa membuka menu Pembangunan pada v22.10  tema esensi

### Cara untuk mereplikasi errornya

buka halaman pembangunan

https://demosid.opendesa.id/pembangunan

### Hasil yg diharapkan

bisa membuka halaman pembangunan pada v22.10 tema Esensi

### Tangkapan layar dan log error

https://demosid.opendesa.id/pembangunan

### Rilis Versi OpenSID

Rilis Umum

### Ver

[2022-10-02 11:50] hasap86 opened #5743 "Bug/error: Menu Statistik Populasi WIlayah pada v22.10 tema Esensi tidak bisa dibuka"
### Jelaskan error yg dialami

tidak bisa membuka Menu Statistik Populasi Wilayah pada v22.10 tema Esensi

### Cara untuk mereplikasi errornya

buka halaman Statistik Populasi Wilayah

https://demosid.opendesa.id/data-wilayah

### Hasil yg diharapkan

bisa membuka statistik populasi wilayah pada v22.10 tema Esensi

### Tangkapan layar dan log error

https://demosid.opendesa.id/data-wilayah

### Ri

[2022-10-02 12:48] hasap86 opened #5744 "Bug/error: Update tersedia terus walaupun sudah di update terbaru"
### Jelaskan error yg dialami

status update selalu tersedia walaupun sudah terupdate versi terbaru

### Cara untuk mereplikasi errornya

buka halaman admin terbaru setelah update muncul notifikasi updater tesedia

### Hasil yg diharapkan

tidak ada notif setelah di update terbaru

### Tangkapan layar dan log error

![update-tersedia-terus](https://user-images.githubusercontent.com/45263721/193454

[2022-10-02 12:53] hasap86 commented on #2523
Up

[2022-10-02 12:56] hasap86 commented on #2601
Up

[2022-10-02 12:59] hasap86 commented on #2623
bisa digunakan untuk tema esensi...

[2022-10-02 17:01] mah-mudi commented on #5630
Kalau bisa all in one tapi hak akses administratornya perlu diatur.
Diharapkan Sistem Informasi Desa nya satu pintu.

Sehingga perlu pembagian hak adminstrator bagi Badan Publik Desa.
1. Hak Akses Administrator Pemerintah Desa
2. Hak Akses Administrator BPD
3. Hak Akses Adminiatrator BUMDesa
4. Hak Akses  Administrator BKAD

Tujuan nya Pejabat Pengelola Informasi dan Dokumentasi Desa (PPID Desa) d

[2022-10-02 22:31] hasap86 opened #5745 "Permintaan fitur: Daftar Data Suplemen tambahkan Umur, hapus Tempat Lahir"
### Apa kekurangan yg ingin diatasi?

saat ini daftar data suplemen menampilkan Tempat Lahir yang mungkin datanya tidak terlalu penting untuk ditampilkan. lebih baik diganti dengan Umur

### Jelaskan solusi yg diinginkan

ganti Tempat Lahir pada data daftar suplemen menjadi Umur

### Apakah ada alternatif lain

baris Jenis Kelamin di geser setelah Nama, kemudian Umur baru Alamat

No. | Nama | Jeni

[2022-10-02 23:48] eddieridwan commented on #5729
@vickyrolanda , harap permintaan yg tidak lengkap seperti ini segera ditindaklanjuti.

[2022-10-03 01:26] hasap86 opened #5746 "Permintaan fitur: Pisahkan Foto Aparatur Desa dengan Foto Penduduk"
### Apa kekurangan yg ingin diatasi?

saat ini Foto Aparatur Desa menyatu dengan Foto Penduduk, sehingga ketika format foto untuk Widget Aparatur Desa menggunakan Frame khusus, otomatis muncul di surat yang menggunakan foto yang seharusnya tanpa menggunakan frame.

### Jelaskan solusi yg diinginkan

Pisahkan Foto Aparatur Desa dengan Foto Penduduk sehingga untuk Widget paratur Desa bisa leluasa me

[2022-10-03 03:07] andifahruddinakas commented on #3953
Untuk lampiran F-1.01 sudah disesuaikan di rilis v22.10-premium sesuai aturan yang berlaku, untuk lampiran dengan format yang digunakan berbeda, bisa sediakan agar lampiran tsb bisa disesuaikan sendiri oleh desa. Poin 3 issue https://github.com/OpenSID/OpenSID/issues/5683

[2022-10-03 03:07] #3953 closed

[2022-10-03 03:08] andifahruddinakas commented on #5654
Duplicate issue https://github.com/OpenSID/OpenSID/issues/5259

[2022-10-03 03:08] #5654 closed, assigned to nobody

[2022-10-03 03:14] andifahruddinakas commented on #5578
Saat ini :
* Huruf pertama dan kedua huruf besar --> ganti dengan huruf besar semua:
* [SEbutan_kepala_desa] ==> KEPALA DESA
*
* Huruf pertama besar dan kedua kecil --> ganti dengan huruf besar pertama saja:
* [Sebutan_kepala_desa] ==> Kepala desa
*
* Huruf pertama kecil --> ganti dengan huruf kecil semua:
* [sebutan_kepala_desa] ==> kepala desa

Solusi :
* Huruf pertama dan ketiga huruf besar -->

[2022-10-03 03:16] devrakapriyo commented on #5735
info tambahan :

![image](https://user-images.githubusercontent.com/36557759/193495508-33950f04-4356-4a48-b316-30beb78ba213.png)

di table tidak ada yang duplicate

[2022-10-03 03:17] andifahruddinakas commented on #5628
SOLUSI :
1. Sediakan RFM pada editor TinyMCE, namu path perlu dikonversi dlu saat generate pdf
2. Sediakan upload logo di pengaturan aplikasi.

[2022-10-03 03:23] devrakapriyo opened #5747 "Bug/error: gagal migrasi v22.10-premium khusus desa cigelam.desa.id"
### Jelaskan error yg dialami

update dari versi 22.09-premium-rev03 ke 22.10-premium gagal migrasi

dilihat dari error lognya Incorect datetime value
![image](https://user-images.githubusercontent.com/36557759/193496108-628af6ba-4bc4-4edb-8b97-bb66300520eb.png)

### Cara untuk mereplikasi errornya

-

### Hasil yg diharapkan

-

### Tangkapan layar dan log error

-

### Rilis Versi OpenSID

Rilis

[2022-10-03 03:25] andifahruddinakas commented on #5747
SOLUSI :
1. tambahkan pengecekan tgl tidak valid di periksa/database

[2022-10-03 03:29] #5669 closed, assigned to nobody

[2022-10-03 03:31] #5529 closed, assigned to nobody

[2022-10-03 03:32] andifahruddinakas commented on #5494
Duplicate issue https://github.com/OpenSID/OpenSID/issues/5259

[2022-10-03 03:32] #5494 closed, assigned to nobody

[2022-10-03 03:34] andifahruddinakas commented on #5430
Duplicate issue https://github.com/OpenSID/OpenSID/issues/5429

[2022-10-03 03:34] #5430 closed, assigned to nobody

[2022-10-03 03:35] andifahruddinakas commented on #5428
Duplicate issue https://github.com/OpenSID/OpenSID/issues/5429

[2022-10-03 03:35] #5428 closed, assigned to nobody

[2022-10-03 03:37] andifahruddinakas commented on #5368
Sudah disediakan di rilis v22.10-premium

[2022-10-03 03:37] #5368 closed, assigned to nobody

[2022-10-03 03:41] #5334 closed, assigned to nobody

[2022-10-03 03:43] #5203 closed, assigned to nobody

[2022-10-03 03:43] andifahruddinakas commented on #5203
Sudah disesiakan pengaturan min dan max zoom pada peta.

[2022-10-03 03:45] andifahruddinakas commented on #5052
Fiturt ini dihapus saja, untuk mencari data pengguna OpenSID bisa buka https://pantau.opensid.my.id/

[2022-10-03 03:48] andifahruddinakas commented on #5612
Duplicate issue https://github.com/OpenSID/OpenSID/issues/5746

[2022-10-03 03:48] #5612 closed, assigned to nobody

[2022-10-03 04:13] haerulmutaaly commented on #5744
Sama Gan adakah solusi fitur migrasi juga tidak berfungsi

[2022-10-03 04:20] andifahruddinakas commented on #2317
Mas @vickyrolanda, mungkin bisa dijelaskan konsep Plt dan sekalian dengan solusi (alurnya).
Mas @devrakapriyo mohon diperiksa, apakah bug?

[2022-10-03 04:23] andifahruddinakas commented on #5360
Bung @eddieridwan, @vickyrolanda, mungkin issue serupa (non warga) bisa dikerjakan dlu issue https://github.com/OpenSID/OpenSID/issues/5520 biar lebih mudah mengelola data non warga. Jadi tidak perlu di setiap modul (yang membutuhkan) menyediakan input non warga.

[2022-10-03 04:24] andifahruddinakas commented on #5520
Issue terkait :
- https://github.com/OpenSID/OpenSID/issues/5250
- https://github.com/OpenSID/OpenSID/issues/5493
- https://github.com/OpenSID/OpenSID/issues/5360
- https://github.com/OpenSID/OpenSID/issues/5821

[2022-10-03 06:38] #5581 closed, assigned to nobody

[2022-10-03 06:38] #5582 closed, assigned to nobody

[2022-10-03 06:38] #5583 closed, assigned to nobody

[2022-10-03 06:38] #5584 closed, assigned to nobody

[2022-10-03 06:38] #5585 closed, assigned to nobody

[2022-10-03 06:38] #5586 closed, assigned to nobody

[2022-10-03 06:38] #5587 closed, assigned to nobody

[2022-10-03 06:39] #5588 closed, assigned to nobody

[2022-10-03 06:39] #5589 closed, assigned to nobody

[2022-10-03 06:39] #5590 closed, assigned to nobody

[2022-10-03 06:39] #5610 closed, assigned to nobody

[2022-10-03 06:40] #5328 closed, assigned to nobody

[2022-10-03 06:40] #5332 closed, assigned to nobody

[2022-10-03 06:40] #5461 closed, assigned to nobody

[2022-10-03 06:40] #5463 closed, assigned to nobody

[2022-10-03 06:40] #5464 closed, assigned to nobody

[2022-10-03 06:40] #5465 closed, assigned to nobody

[2022-10-03 06:40] #5466 closed, assigned to nobody

[2022-10-03 06:50] haerulmutaaly commented on #5747
Sama gan'

[2022-10-03 07:45] azzamy-bendungan opened #5748 "Penambahan Kelas Tanah C Desa"
### Apa kekurangan yg ingin diatasi?

dalam dokumen C Desa kami, kelas tanah di bagi menjadi 3; S (sawah), D (pekarangan) dan T (tegalan)
saya melihat di menu pertanahan, input persil hanya ada kelas tanah S dan D, jadi ada kendala saat input data pertanahan.

![image](https://user-images.githubusercontent.com/96734091/193525490-ee723d6f-93a6-4094-ba66-6f49611c03f1.png)

### Jelaskan solusi yg dii

[2022-10-03 07:49] vickyrolanda opened #5749 "Penandatangan dari luar tidak muncul gelarnya"
Penandatangan dari luar tidak muncul gelarnya :
![image](https://user-images.githubusercontent.com/59082428/193526190-7dac30a7-f0d3-4e76-8076-1aba33a3697b.png)

jika dari penduduk lancar/muncul
![image](https://user-images.githubusercontent.com/59082428/193526247-3e5419e2-fc37-469d-9730-ad60947299e3.png)

[2022-10-03 07:52] vickyrolanda opened #5750 "Menambah tombol hapus pada backup inkremental folder desa SID (.zip)"
![image](https://user-images.githubusercontent.com/59082428/193526606-ead6f6e0-fcd7-4365-bb82-616b148867f4.png)
bila satu saat tidak dibutuhkan lagi adanya tombol hapus langsung di system, sehingga untuk menghapus Backup Inkremental Folder Desa SID (.zip) tidak harus melalui cpanel.

[2022-10-03 09:01] andifahruddinakas commented on #3161
Sederhanakan hal berikut :
- Menggunakan tabel yang sama yang sudah di normalisasi.
- Gunakan 1 tampilan (CRUD) + laporan untuk menampilkan data keuangan.
- Untuk impor dari siskuedes, hanya ambil bagian yang diperlukan saja.
- Sesuaikan bagian2 yang berkaitan (widget, artikel, dll)

[2022-10-03 09:06] andifahruddinakas commented on #5657
Aturan saat ini : https://www.kompas.tv/article/291558/aturan-baru-ktp-gelar-pendidikan-adat-dan-keagamaan-boleh-dicantumkan-nama-minimal-dua-kata

Mungkin perlu untuk data penduduk lama ? Dan disedikan pengaturan apakah gelar ditampilkan pada KK, Persuratan atau lainnya?

[2022-10-03 09:06] andifahruddinakas commented on #5572
Dibagi per modul saja

[2022-10-03 09:09] andifahruddinakas commented on #5404
SOLUSI :
- Buat tambahkan posisi widget, dimana masing2 tema bisa menampilkan widget sesuai posisi tsb. Bisa cek cara menampilkan widget di wordpress.

[2022-10-03 09:11] andifahruddinakas commented on #5392
Karena hasil cetak disesuaikan dengan aturan yang berlaku. Mungkin dibuat pilihan saja saat mau cetak/unduh, apakah dengan total atau tidak.

Pada halaman view utama (index), tampilkan akumulasi masing2 kolom. Yang dibatasi hanya cetak/unduh.

[2022-10-03 09:11] andifahruddinakas commented on #5391
https://github.com/OpenSID/OpenSID/issues/5392#issuecomment-1265154070

[2022-10-03 09:34] haerulmutaaly opened #5751 "Bug/error: Tidak bisa update via Terminal sudah melakukan update manual sama aja malah tetap ada notif"
### Jelaskan error yg dialami

![Capture](https://user-images.githubusercontent.com/13283785/193545174-549cf8db-cad2-485e-ad94-5b51bfee9366.PNG)

### Cara untuk mereplikasi errornya

4

### Hasil yg diharapkan

Ada nya auto update atau update onclik

### Tangkapan layar dan log error

HEAD is now at 3d764c817 sesuaikan nama database

### Rilis Versi OpenSID

Rilis Umum

### Versi OpenSID

v22.10

[2022-10-03 13:06] apidong commented on #5747
baik mas

[2022-10-03 13:42] ariandii commented on #5751
cermati kembali cara update nya. jika benar pasti sukses.

[2022-10-03 18:17] vickyrolanda opened #5752 "Merubah backup incremental menjadi backup ubahan terakhir"
drpd incremental lebih baik diubah sekalian jd bhs indo sprt backup ubahan terakhir.

[2022-10-03 18:37] vickyrolanda opened #5753 "[TinyMCE] Konversi surat RTF - Pernyataan Penguasaan Fisik Bidang Tanah (SPORADIK)"
<img width="743" alt="image" src="https://user-images.githubusercontent.com/59082428/193652192-0f6d8cad-818e-4ee2-8f68-3b2e79f7b075.png">
[surat_sporadik_1357901357901357_2022-10-04_.pdf](https://github.com/OpenSID/OpenSID/files/9700077/surat_sporadik_1357901357901357_2022-10-04_.pdf)

[2022-10-03 18:43] vickyrolanda opened #5754 "[TinyMCE] Konversi surat RTF - Keterangan Pengantar"
<img width="769" alt="image" src="https://user-images.githubusercontent.com/59082428/193653715-b1d2943f-f1b6-4fb1-940c-c5901c9518dd.png">
[surat_ket_pengantar_5201145003976995_2022-10-04_8.pdf](https://github.com/OpenSID/OpenSID/files/9700104/surat_ket_pengantar_5201145003976995_2022-10-04_8.pdf)

[2022-10-03 18:46] vickyrolanda opened #5755 "[TinyMCE] Konversi surat RTF - Surat Keterangan Penduduk"
<img width="770" alt="image" src="https://user-images.githubusercontent.com/59082428/193654528-c81aa66d-da49-4b90-b764-0cfc4fb38b61.png">
[surat_ket_penduduk_5201141003666996_2022-10-04_7.pdf](https://github.com/OpenSID/OpenSID/files/9700128/surat_ket_penduduk_5201141003666996_2022-10-04_7.pdf)

[2022-10-03 18:49] vickyrolanda opened #5756 "[TinyMCE] Konversi surat RTF - Keterangan Pindah Penduduk"
<img width="782" alt="image" src="https://user-images.githubusercontent.com/59082428/193654990-7185283f-197c-4bd6-a4b8-bebea69ef8b7.png">

Lampiran :
F-1.03, F-1.08, F-1.25, F-1.27

[surat_ket_pindah_penduduk_5201145003976995_2022-10-04_2.zip](https://github.com/OpenSID/OpenSID/files/9700143/surat_ket_pindah_penduduk_5201145003976995_2022-10-04_2.zip)

[2022-10-03 18:52] vickyrolanda opened #5757 "[TinyMCE] Konversi surat RTF - Surat Keterangan Jual Beli"
<img width="779" alt="image" src="https://user-images.githubusercontent.com/59082428/193655729-a75c0af8-2122-4db3-8e89-f7e41027c888.png">

[surat_ket_jual_beli_5201145003976995_2022-10-04_3.pdf](https://github.com/OpenSID/OpenSID/files/9700157/surat_ket_jual_beli_5201145003976995_2022-10-04_3.pdf)

[2022-10-03 18:54] vickyrolanda opened #5758 "[TinyMCE] Konversi surat RTF - Pengantar Surat Keterangan Catatan Kepolisian"
<img width="788" alt="image" src="https://user-images.githubusercontent.com/59082428/193655924-5e1e9091-69e1-41d9-ae8a-2f51affa6913.png">
[surat_ket_catatan_kriminal_5201141003666996_2022-10-04_2.pdf](https://github.com/OpenSID/OpenSID/files/9700165/surat_ket_catatan_kriminal_5201141003666996_2022-10-04_2.pdf)

[2022-10-03 18:56] vickyrolanda opened #5759 "[TinyMCE] Konversi surat RTF - Keterangan KTP dalam Proses"
<img width="795" alt="image" src="https://user-images.githubusercontent.com/59082428/193656355-80f990bd-c589-4d12-b9db-d1b92343a7cb.png">

[surat_ket_ktp_dalam_proses_5201145003976995_2022-10-04_3.pdf](https://github.com/OpenSID/OpenSID/files/9700179/surat_ket_ktp_dalam_proses_5201145003976995_2022-10-04_3.pdf)

[2022-10-03 18:59] vickyrolanda opened #5760 "[TinyMCE] Konversi surat RTF - Keterangan Beda Identitas"
<img width="787" alt="image" src="https://user-images.githubusercontent.com/59082428/193656890-c4b0066a-0647-46b9-bf12-73d395a5acba.png">
[surat_ket_beda_nama_5201145003976995_2022-10-04_2.pdf](https://github.com/OpenSID/OpenSID/files/9700192/surat_ket_beda_nama_5201145003976995_2022-10-04_2.pdf)

[2022-10-03 19:03] vickyrolanda opened #5761 "[TinyMCE] Konversi surat RTF - Keterangan Kurang Mampu"
<img width="794" alt="image" src="https://user-images.githubusercontent.com/59082428/193657263-3c98e498-e528-4bba-8620-1098fc53d890.png">
[surat_ket_kurang_mampu_5201141412121724_2022-10-04_2.pdf](https://github.com/OpenSID/OpenSID/files/9700213/surat_ket_kurang_mampu_5201141412121724_2022-10-04_2.pdf)

[2022-10-03 19:07] vickyrolanda opened #5762 "[TinyMCE] Konversi surat RTF - Pengantar Izin Keramaian"
<img width="789" alt="image" src="https://user-images.githubusercontent.com/59082428/193658027-d0d7ffcf-1247-4517-a6d0-0f6aa9918740.png">
[surat_izin_keramaian_5201141412121724_2022-10-04_3.pdf](https://github.com/OpenSID/OpenSID/files/9700237/surat_izin_keramaian_5201141412121724_2022-10-04_3.pdf)

[2022-10-03 19:09] vickyrolanda opened #5763 "[TinyMCE] Konversi surat RTF - Pengantar Laporan Kehilangan"
<img width="790" alt="image" src="https://user-images.githubusercontent.com/59082428/193658679-679c8780-b03f-4a87-8c57-9afae5382e08.png">
[surat_ket_kehilangan_5201145003976995_2022-10-04_2.pdf](https://github.com/OpenSID/OpenSID/files/9700247/surat_ket_kehilangan_5201145003976995_2022-10-04_2.pdf)

[2022-10-03 19:12] vickyrolanda opened #5764 "[TinyMCE] Konversi surat RTF - Keterangan Usaha"
<img width="793" alt="image" src="https://user-images.githubusercontent.com/59082428/193659050-71b644c5-4d62-46f2-9c4b-2f7d9d36c830.png">
[surat_ket_usaha_1357901357901357_2022-10-04_2.pdf](https://github.com/OpenSID/OpenSID/files/9700256/surat_ket_usaha_1357901357901357_2022-10-04_2.pdf)

[2022-10-03 19:14] vickyrolanda opened #5765 "[TinyMCE] Konversi surat RTF - Keterangan JAMKESOS"
<img width="788" alt="image" src="https://user-images.githubusercontent.com/59082428/193659468-7436b708-8272-492c-b753-c0b057a979bd.png">
[surat_ket_jamkesos_1357901357901357_2022-10-04_2.pdf](https://github.com/OpenSID/OpenSID/files/9700266/surat_ket_jamkesos_1357901357901357_2022-10-04_2.pdf)

[2022-10-03 19:14] vickyrolanda commented on #5458
- [ ] https://github.com/OpenSID/OpenSID/issues/5754
- [ ] https://github.com/OpenSID/OpenSID/issues/5755
- [ ] https://github.com/OpenSID/OpenSID/issues/5757
- [ ] https://github.com/OpenSID/OpenSID/issues/5758
- [ ] https://github.com/OpenSID/OpenSID/issues/5759
- [ ] https://github.com/OpenSID/OpenSID/issues/5761
- [ ] https://github.com/OpenSID/OpenSID/issues/5762
- [ ] https://github.com/Open

[2022-10-03 19:18] vickyrolanda opened #5766 "[TinyMCE] Konversi surat RTF - Keterangan Domisili Usaha"
<img width="793" alt="image" src="https://user-images.githubusercontent.com/59082428/193660115-db02f9c1-36b3-463b-b8f5-c4a582e8775b.png">
[surat_ket_domisili_usaha_5201145003976995_2022-10-04_2.pdf](https://github.com/OpenSID/OpenSID/files/9700280/surat_ket_domisili_usaha_5201145003976995_2022-10-04_2.pdf)

[2022-10-03 19:21] vickyrolanda opened #5767 "[TinyMCE] Konversi surat RTF - Keterangan Kelahiran"
<img width="779" alt="image" src="https://user-images.githubusercontent.com/59082428/193660787-7f015bb0-6c97-4dc4-80b5-e29edf86f50c.png">
[surat_ket_kelahiran_5201144301171725_2022-10-04_4.zip](https://github.com/OpenSID/OpenSID/files/9700295/surat_ket_kelahiran_5201144301171725_2022-10-04_4.zip)

[2022-10-03 19:24] vickyrolanda opened #5768 "[TinyMCE] Konversi surat RTF - Permohonan Akta Lahir"
<img width="791" alt="image" src="https://user-images.githubusercontent.com/59082428/193661023-50703d38-fb03-4723-918f-442b7d2ff53b.png">
[surat_permohonan_akta_1357901357901357_2022-10-04_2 (1).pdf](https://github.com/OpenSID/OpenSID/files/9700323/surat_permohonan_akta_1357901357901357_2022-10-04_2.1.pdf)

[2022-10-03 19:27] vickyrolanda opened #5769 "[TinyMCE] Konversi surat RTF - Pernyataan Belum Memiliki Akta Lahir"
<img width="789" alt="image" src="https://user-images.githubusercontent.com/59082428/193661735-a2c4da22-ed9e-45ba-a73d-fe0eaf5c48d3.png">
[surat_pernyataan_akta_5201145003976995_2022-10-04_1.pdf](https://github.com/OpenSID/OpenSID/files/9700332/surat_pernyataan_akta_5201145003976995_2022-10-04_1.pdf)

[2022-10-03 19:31] vickyrolanda opened #5770 "[TinyMCE] Konversi surat RTF - Permohonan Duplikat Kelahiran"
<img width="780" alt="image" src="https://user-images.githubusercontent.com/59082428/193662122-c6a77976-3472-4d68-a33c-5709c5dee860.png">
[Uploading surat_permohonan_duplikat_kelahiran_5201145003976995_2022-10-04_2.pdf…]()

[2022-10-03 19:33] vickyrolanda opened #5771 "[TinyMCE] Konversi surat RTF - Keterangan Kematian"
<img width="775" alt="image" src="https://user-images.githubusercontent.com/59082428/193662903-7f80d227-fa05-4b9a-acce-4e0ed557bf08.png">

Lampiran :
F-2.29

[2022-10-03 19:35] vickyrolanda opened #5772 "[TinyMCE] Konversi surat RTF - Keterangan Lahir Mati"
<img width="780" alt="image" src="https://user-images.githubusercontent.com/59082428/193663301-2d256013-b8a0-4dd4-9736-53c162970bae.png">

[2022-10-03 19:38] vickyrolanda opened #5773 "[TinyMCE] Konversi surat RTF - Keterangan Pergi Kawin"
<img width="795" alt="image" src="https://user-images.githubusercontent.com/59082428/193663564-76251f39-370e-4f93-9f86-a40f072634e8.png">
[surat_ket_pergi_kawin_5201145003976995_2022-10-04_2.pdf](https://github.com/OpenSID/OpenSID/files/9700398/surat_ket_pergi_kawin_5201145003976995_2022-10-04_2.pdf)

[2022-10-03 19:40] vickyrolanda opened #5774 "[TinyMCE] Konversi surat RTF - Keterangan Wali Hakim"
<img width="791" alt="image" src="https://user-images.githubusercontent.com/59082428/193664053-2aed927f-ec2f-481a-bce8-1ae942960878.png">
[surat_ket_wali_hakim_5201145003976995_2022-10-04_1.pdf](https://github.com/OpenSID/OpenSID/files/9700414/surat_ket_wali_hakim_5201145003976995_2022-10-04_1.pdf)

[2022-10-03 19:56] vickyrolanda opened #5775 "TTE - Sesuaikan ukurang font di bagian footer tte"
<img width="779" alt="image" src="https://user-images.githubusercontent.com/59082428/193666488-b6d086cf-3269-49ca-94bb-7d3f822af665.png">

Referensi bisa ikutin ukuran di bawah ini :
<img width="591" alt="image" src="https://user-images.githubusercontent.com/59082428/193667130-16bd72ae-6d45-409f-975c-cfe073584250.png">

[2022-10-03 20:00] vickyrolanda opened #5776 "TTE - Menambahkan Visual Tanda tangan"
saat ini tanda tangan tidak memiliki visual untuk TTE harus memiliki visual tertanda tangan seperti dibawah ini :
<img width="594" alt="image" src="https://user-images.githubusercontent.com/59082428/193667861-7068b291-633b-4b77-9d09-3bd8f78aa040.png">

Visual TTD akan muncul berbarengan dengan TTE berhasil di tandatanganin.

saat ini yang kita pakai adalah TTD dengan barcode dimana yang posisinya

[2022-10-04 02:39] devrakapriyo opened #5777 "Bug/error: perbaiki cara menampilkan artikel sesuai tanggal"
### Jelaskan error yg dialami

saat ini artikel yang baru dibuat tidak muncul, setelah berdiskusi dengan mas @andifahruddinakas ada 1 line code yang perlu di comment

<img width="1440" alt="Screen Shot 2022-10-04 at 09 38 22 1" src="https://user-images.githubusercontent.com/36557759/193722751-50401d7f-480f-4a3e-8639-1e3b020e4693.png">

### Cara untuk mereplikasi errornya

-

### Hasil yg diharapka

[2022-10-04 02:46] apidong commented on #5775
mas @vickyrolanda ada contoh file pdfnya? biar bisa di bandingkan.

[2022-10-04 02:50] apidong commented on #5776
@vickyrolanda bisa dijelaskan alurnya seperti apa? ttd tersebut apakah di tambahkan di server ttenya atau di OpenSID

[2022-10-04 02:50] #5458 closed, assigned to nobody

[2022-10-04 02:53] andifahruddinakas commented on #5572
Mas @vickyrolanda, ini juga dipecah berdasarkan modul.

[2022-10-04 02:57] apidong commented on #2663
pak @vickyrolanda, mohon dianalisis. kebutuhannya seperti apa?

[2022-10-04 03:28] vickyrolanda commented on #5776
ok mas akan sy detailskan mas

[2022-10-04 03:31] vickyrolanda commented on #5775
ada di google drive mas lengkap.
[Contoh 1_Invisible_BPRD DKI Jakarta.pdf](https://github.com/OpenSID/OpenSID/files/9702555/Contoh.1_Invisible_BPRD.DKI.Jakarta.pdf)

[2022-10-04 03:35] andifahruddinakas commented on #5683
Untuk konversi lampiran agar bisa digunakan di TinyMCE bisa dibuatkan issue masing2 lampiran.

[2022-10-04 08:15] devrakapriyo opened #5778 "Bug/error: tambah buku pengaturan desa, jika tidak mengunggah dokumen menjadi data gagal tersimpan"
### Jelaskan error yg dialami

<img width="1440" alt="Screen Shot 2022-10-04 at 14 58 04" src="https://user-images.githubusercontent.com/36557759/193767820-134ca663-f3ce-4b16-a513-75c79bedeb32.png">

pada gambar di atas jika tidak mengunggah dokumen saat di klik tombol Simpan, maka muncul pesan Data gagal disimpan seperti gambar di bawah ini, sedangkan input unggah dokumen bukan required

<img wid

[2022-10-04 08:21] devrakapriyo opened #5779 "Bug/error: tambah buku keputusan, jika tidak mengunggah dokumen menjadi data gagal tersimpan"
### Jelaskan error yg dialami

<img width="1440" alt="Screen Shot 2022-10-04 at 15 16 57" src="https://user-images.githubusercontent.com/36557759/193769964-d781e74f-0555-4692-90cc-793c0c5e4e3f.png">

pada gambar di atas jika tidak mengunggah dokumen saat di klik tombol Simpan, maka muncul pesan Data gagal disimpan seperti gambar di bawah ini, sedangkan input unggah dokumen bukan required

<img wid

[2022-10-04 10:44] mranca commented on #5392
Ok kasih pilihan saja untuk cetak total atau tidak,karena kolom total itu sangat dibutuhkan untuk mengetahui total keseluruhan penduduk tanpa harus lagi unduh dalam bentuk excel dan di jumlahkan dengan rumus

[2022-10-05 02:05] andifahruddinakas commented on #5777
Mas @devrakapriyo, di cek ulang di server desa tsb pengaturan time_zone nya.

[2022-10-05 02:46] apidong commented on #5747
@devrakapriyo sepertinya butuh databasenya untuk diperiksa

[2022-10-05 03:08] devrakapriyo commented on #5747
baik mas, kemarin saya minta kan belum ada respon mas
coba hari ini saya followup lagi

[2022-10-05 04:00] yogiperdana commented on #5563
Bisa berikan contoh kalimat placeholder yang dimaksud mas @devrakapriyo @vickyrolanda. Jika menggunakan data dummy seperti diskusi dengan mas akas kemarin tidak bisa diterapkan untuk semua surat (hanya bisa diterapkan untuk surat sederhana seperti individu)

[2022-10-05 04:06] devrakapriyo commented on #5747
mas @apidong setelah saya konfirmasi ke pengguna issue ini sudah solved

saya close issue ini

[2022-10-05 04:06] #5747 closed, assigned to apidong

[2022-10-05 04:12] yogiperdana commented on #5343
Bisa tolong telusuri mas @devrakapriyo saya coba normal

[2022-10-05 05:15] apidong commented on #5747
Baik mas

[2022-10-05 06:19] andifahruddinakas commented on #5738
Mas @vickyrolanda, di cek ketentuan ini https://github.com/OpenSID/OpenSID/issues/4027

https://drive.google.com/file/d/1blm5w1IKsZXkb01-yMJw0TUG_KJTjxnT/view

[2022-10-05 06:46] andifahruddinakas opened #5781 "Link pembangunan tidak tampil dengan benar pada peta"
![pembangunan](https://user-images.githubusercontent.com/57283157/193997670-fc22abe7-f79f-4a93-bca1-f71d4b33ba70.png)

[2022-10-05 07:59] yogiperdana commented on #5716
Untuk issue ini apakah datanya masuk ke pengaturan atau tetap di tabel sebelumnya mas @vickyrolanda?

[2022-10-05 10:43] mah-mudi commented on #5738
Sip, karena ada bunga bank, atau pendapatan lain yg mengakibatkan desimal dua digit diperlukan.

[2022-10-05 10:48] vickyrolanda commented on #5216
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1437

[2022-10-05 10:48] #5216 closed, assigned to apidong

[2022-10-05 11:00] vickyrolanda commented on #5778
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1439

[2022-10-05 11:00] #5778 closed, assigned to yogiperdana

[2022-10-05 11:00] vickyrolanda commented on #5779
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1439

[2022-10-05 11:00] #5779 closed, assigned to yogiperdana

[2022-10-05 13:44] vickyrolanda opened #5782 "Pada informasi public ubah unduh menjadi preview popup terkait anjungan"
<img width="545" alt="image" src="https://user-images.githubusercontent.com/59082428/194074930-684522dd-83c6-4424-9a09-abc0a2339005.png">

- [x] tambah kolom dokument
- [x] tambah tulisan lihat dokument untuk bisa di klik dan popup

[2022-10-05 13:54] vickyrolanda opened #5783 "Pindahkan pengaturan screenserver ke pengaturan anjungan"
<img width="578" alt="image" src="https://user-images.githubusercontent.com/59082428/194077732-53d76d2f-df44-427a-a270-079b12af8077.png">

- [ ] Pindahkan pengaturan screenserver pada pengaturan layanan mandiri ke pengaturan anjungan

[2022-10-05 14:13] vickyrolanda opened #5784 "Tambahkan pengaturan slide , video & url untuk ditampilkan diAnjungan"
- [x] Perlu dibuat pengaturan slide yang di ambil dari gallery
- [x] lalu jika pilih opsi video maka perlu menginput embed youtube
- [x] lalu tambahkan opsi URL untuk menambahkan url agar bisa iframe

[2022-10-05 14:20] vickyrolanda opened #5785 "Pengaturan landscape & potrait terkait layout anjungan"
Pertelu ditambahkan pengaturan layout anjungan landscape / potrait

[2022-10-05 14:29] vickyrolanda opened #5786 "Menambahkan daftar aparatur desa pada anjungan"
<img width="297" alt="image" src="https://user-images.githubusercontent.com/59082428/194086276-0f3e5be1-51ab-4140-b5e2-6771c59b679c.png">

[2022-10-05 17:41] vickyrolanda commented on #5749
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1441

[2022-10-05 17:41] #5749 closed, assigned to andifahruddinakas

[2022-10-05 17:51] syahransaputra opened #5787 "Bug/error: Tombol Edit Peserta form di Program bantuan & Tombol Profil Administrator"
### Jelaskan error yg dialami

Saat masuk ke Dashboard menu Bantuan dan masuk kesalahsatu detail bantuan misal ke Program PKH, setelah itu klik tombol edit maka akan tampil popup Ubah Data Peserta, jika ditutup lalu klik profile administrator maka akan tampil popup Ubah Data Peserta yg sebelumnya. begitupun sebaliknya jika saat di detail bantuan sebelum klik tombol edit langsung klik profile admin

[2022-10-05 17:59] vickyrolanda commented on #5781
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1442

[2022-10-05 17:59] #5781 closed, assigned to andifahruddinakas

[2022-10-05 18:20] syahransaputra commented on #5787
Ternyata bukan di halaman Bantuan saja namun dihalaman yang sifatnya menampilkan popup akan kejadian hal yg sama contoh di menu [Keluarga](https://berputar.opendesa.id/keluarga) saat edit pun juga akan menampilkan popup detail profil pengguna/administrator ketika mereplikasi contoh bug diatas

[2022-10-05 18:49] vickyrolanda commented on #5735
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1440

[2022-10-05 18:49] #5735 closed, assigned to apidong

[2022-10-05 20:43] vickyrolanda commented on #5742
issue di gabung ke https://github.com/OpenSID/OpenSID/issues/5740

[2022-10-05 20:43] #5742 closed, assigned to apidong

[2022-10-05 20:44] vickyrolanda commented on #5743
issue di gabung ke https://github.com/OpenSID/OpenSID/issues/5740

[2022-10-05 20:44] #5743 closed, assigned to apidong

[2022-10-05 20:44] vickyrolanda commented on #5741
issue di gabung ke https://github.com/OpenSID/OpenSID/issues/5740

[2022-10-05 20:44] #5741 closed, assigned to apidong

[2022-10-05 20:56] vickyrolanda commented on #5738
ia dari aturan memang  mencantumkan angka sampai dengan satuan rupiah, tidak sampai dengan sen.
https://jdih.kemenkeu.go.id/fulltext/2010/250~PMK.05~2010Per.htm
<img width="780" alt="image" src="https://user-images.githubusercontent.com/59082428/194161998-3afdc750-b3cd-4e57-b066-e5143d388043.png">

[2022-10-05 22:16] mah-mudi commented on #5738
Pak @vickyrolanda , memang dalam pembayaran pengeluaran negara satuan rupiah tanpa sen.

Karena yg dimaksud di issues ini adalah penyesuaian desimal dua digit dalam input nominal Anggaran Pendapatan dan Belanja Desa.

APBN pun juga memakai desimal dua digit.
![Screenshot_2022-10-06-05-14-27-658_com.google.android.apps.docs.jpg](https://user-images.githubusercontent.com/57661283/194173999-e8e5b49b-

[2022-10-06 02:20] #5751 closed, assigned to nobody

[2022-10-06 04:06] FirlianiF commented on #5708
note: Token kosong bukan dikarenakan cloudflare

cc: mas @vickyrolanda

[2022-10-06 04:30] andifahruddinakas opened #5788 "Gunakan kode wilayah BPS yang diambil dari pantau"
Untuk SDGS

API untuk data kode desa berdasarkan kode BPS belum tersedia di pantuan.

[2022-10-06 08:05] makhbub opened #5789 "Pemisahan pengaturan warna area dan garis area pada peta"
### Apa kekurangan yg ingin diatasi?

Dalam membuat warna area / wilayah pada peta hanya ada satu pengaturan warna. Saat kita ingin membuat  area berwarna transparan, maka otomatis garis tepi berwarna putih.
Akibatnya garis tepi sulit terlihat pada jenis peta Mapbox streets dan open streetmap

### Jelaskan solusi yg diinginkan

Pengaturan warna area peta (cont : wil kadus/RT) dibuat terpisah denga

[2022-10-06 09:57] K4nzzz opened #5790 "Permintaan fitur: warga bisa mengupdate data Kk sendiri di layanan mandiri"
### Apa kekurangan yg ingin diatasi?

Untuk mempermudahkan dalam proses update data pada data base.

### Jelaskan solusi yg diinginkan

Menambahkan menu edit anggota keluarga

### Apakah ada alternatif lain

Ok

### Untuk versi OpenSID mana

V22.10

### Informasi tambahan

_No response_

[2022-10-06 23:09] hasap86 opened #9297 "Modul Lapak : Buatkan Halaman Detail Produk pada Fitur Lapak"
Saat ini pada fitur lapak hanya menampilkan katalog produk saja, belum disediakan detail produk per itemnya.
Baiknya dibuatkan link halaman detail produk seperti halnya menu pembangunan yg bisa dilihat detail produknya, deskripsi produk, foto foto produknya dan link pembelian via WA, dll

[2022-10-07 02:52] ruririzal opened #5791 "solusi untuk key pada settingAplikasiModel yang dalam bentuk string terkonversi ke int"
https://github.com/OpenSID/premium/pull/1386/commits/e3ca735d601713a50f17ebfb02cd3fd41a5f3df3

[2022-10-07 03:21] vickyrolanda commented on #5777
mas @devrakapriyo mohon bantunya untuk contact ke pelapor untuk di check ke pengaturan time zonenya.

[2022-10-07 03:36] yogiperdana commented on #5678
Untuk issue ini apakah tombol hanya muncul ketika berada di luar jam kerja/libur atau dapat dimunculkan setiap status perangkat hadir mas @vickyrolanda

[2022-10-07 03:40] devrakapriyo commented on #5777
<img width="1440" alt="Screen Shot 2022-10-07 at 10 38 11" src="https://user-images.githubusercontent.com/36557759/194462942-33d462de-656d-4853-ad67-5855f3b077c1.png">

setelah di cek, web tersebut masih menggunkan timezone Asia/Jakarta belum menggunakan waktu Asia/Makassar

dengan informasi ini bukan bug, melainkan salah di timezone nya, issue ini saya close

[2022-10-07 03:40] #5777 closed, assigned to andifahruddinakas

[2022-10-07 03:43] andifahruddinakas commented on #5738
Mas @vickyrolanda, apa ini ditutup atau tetap dikerjakan, agar bisa masuk rev01?

[2022-10-07 04:27] vickyrolanda commented on #5563
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1447

[2022-10-07 04:27] #5563 closed, assigned to yogiperdana

[2022-10-07 04:31] vickyrolanda commented on #5744
Sudah diselesaikan di PR https://github.com/OpenSID/OpenSID/pull/5780

[2022-10-07 04:31] #5744 closed, assigned to apidong

[2022-10-07 05:30] eddieridwan commented on #5678
@yogiperdana khusus untuk perangkat yg hadir di luar jam kerja/libur.

[2022-10-07 05:33] eddieridwan commented on #5777
@devrakapriyo , tambahkan entri di forum.opendesa.id terkait ini dan cara mengatasinya.

Untuk setiap kasus laporan bug yg ternyata bukan bug, berarti ada kekeliruan pengertian. Untuk itu perlu ada petunjuk di forum.opendesa.id bagi pengguna lainnya yg juga mungkin keliru.

[2022-10-07 05:40] yogiperdana commented on #5678
Jika demikian sepertinya tombol ini tidak berguna pak. Karena saat ini ketika opensid diakses dari halaman manapun di luar jam kerja maka perangkat yang lupa absen statusnya akan berubah pak

[2022-10-07 05:41] yogiperdana commented on #5678
Jadi status akan berubah terlebih dahulu sebelum tombol ditekan bahkan sebelum halaman sebelum halaman rekapitulasi dibuka

[2022-10-07 06:35] eddieridwan commented on #5678
@yogiperdana apakah ada kasus/situasi di mana status tidak terubah secara otomatis? Kalau tidak ada, issue ini tidak diperlukan.

[2022-10-07 06:53] devrakapriyo opened #5792 "Bug/error: ada desa yang menggunakan tanda petik"
### Jelaskan error yg dialami

saat ini pada form identitas desa pembatasan karakater nama desa hanya boleh alfanumerik, sepasi dan strip. sedangkan ada desa yang menggunakan ' (tanda petik)

![image](https://user-images.githubusercontent.com/36557759/194485842-d9ffce1f-ec5c-4914-be5b-8dc8677f1b31.png)

![image](https://user-images.githubusercontent.com/36557759/194485940-4380d225-247f-44b9-823e-f

[2022-10-07 07:04] vickyrolanda commented on #5792
Perlu juga di sesuaikan di TrackSID,  karena tidak bisa dicari menggunakan kotak cari.

![image](https://user-images.githubusercontent.com/59082428/194487825-690a0de1-c612-49fa-975b-d9bfca5e0992.png)

[2022-10-07 07:15] vickyrolanda opened #5793 "Perlu dicheck pemanggilan images latar belakang login"
Saat ini latar belakang di arahkan ke images ini :
<img width="748" alt="image" src="https://user-images.githubusercontent.com/59082428/194493254-9688e679-765d-42b6-bd78-6149109b3214.png">

sedangkan melalui aplikasi latar belakang beda dengan pengaturan sibawah ini :
<img width="211" alt="image" src="https://user-images.githubusercontent.com/59082428/194493459-817f5607-81f4-4a3f-bd7a-5ab60c223700

[2022-10-07 07:31] vickyrolanda opened #5794 "Tambahkan tombol reset pengaturan OpenDK"
Tambahkan tombol reset / hapus pengaturan Key OpenDK

<img width="334" alt="image" src="https://user-images.githubusercontent.com/59082428/194497305-d42fafc5-72d4-439f-9b64-d0721aea4cdc.png">

[2022-10-07 07:34] vickyrolanda opened #5795 "di menu anjungan tambahkan pemberitahuan jika tidak berlangganan anjungan"
Saat ini user tetap bisa nambah anjungan walau tidak beli lisensi anjungan
<img width="341" alt="image" src="https://user-images.githubusercontent.com/59082428/194497905-4803e15e-b20d-41f8-9a2d-ada9b584679e.png">

[2022-10-07 07:39] vickyrolanda opened #5796 "Menambah validasi support ipv6 ketika nambah ip di anjungan"
saat ini ketika nambah anjungan hanya support ipv4 dan saat ini butuh di sesuaikan agar bisa nambah ipv6

![image](https://user-images.githubusercontent.com/59082428/194498578-cd65e751-baac-4df9-85a8-f43fcd3bc98d.png)

[2022-10-07 07:51] vickyrolanda opened #5797 "Perlu penyesuaian tombol hapus peserta tidak valid pada pada program bantuan"
<img width="261" alt="image" src="https://user-images.githubusercontent.com/59082428/194500583-34ffda12-362a-4dc7-bf71-2012fefc1a55.png">

- [ ] check data yang di hapus apakah duplikasi dari antar bantuan jika iya tidak boleh dihapus
- [ ] jika di program yang sama terdapat duplikasi memang benar boleh di hapus

dan merubahan konsepnya ketika klik tombol maka munculkan data yang ingin di hapus la

[2022-10-07 08:00] vickyrolanda opened #5798 "Perlu dilakukan pemeriksaan apakah entri data dengan nik yang sama tetap bisa masuk ke program bantuan"
<img width="383" alt="image" src="https://user-images.githubusercontent.com/59082428/194502926-30eb49ac-0cd7-47f5-a2cc-e13dff36ca71.png">

<img width="386" alt="image" src="https://user-images.githubusercontent.com/59082428/194503424-04312b2d-7ac1-4180-b3a0-c4c391089653.png">

saat ini ada laporan bahwa ada nik yang sama bisa masuk ke program bantuan , maka perlu di lakukan testing masuknya data d

[2022-10-07 08:13] vickyrolanda opened #5799 "Perlu ditesting dan di cari tau terkait update ver22.10-premium"
laporan dari pak ariandi perlu database mungkin bisa minta dengan pak ariandi mas @devrakapriyo

ERROR - 2022-10-05 13:18:59 --> Severity: error --> Exception: SQLSTATE[42S22]: Column not found: 1054 Unknown column 'updated_at' in 'field list' (SQL: select id_pend, tanggal_buat, updated_at from tweb_penduduk_mandiri where date(updated_at) = 0000-00-00) /home/u1712551/public_html/vendor/illuminate/

[2022-10-07 08:22] vickyrolanda opened #5800 "File IDM perlu di commit ke OpenSID Umum"
<img width="372" alt="image" src="https://user-images.githubusercontent.com/59082428/194507095-b919f977-e9a5-4490-97fc-d0052525de14.png">

langsung di commit ke umum.

[2022-10-07 08:41] Restony33 opened #5801 "Bug/error: gagal memasukan gambar/logo pada identitas desa"
### Jelaskan error yg dialami

Saat memilih gambar/logo yang ingin diterapkan pada lambang desa, kembali lagi ke pilih gambar

### Cara untuk mereplikasi errornya

masuk ke admin >> info desa >>Identitas Desa >> ubah data Desa >> ganti lambang desa

### Hasil yg diharapkan

normal dapat memilih gambar/logo yang digunakan sebagai logo desa

### Tangkapan layar dan log error

![Capture](https://user

[2022-10-07 08:47] vickyrolanda opened #5802 "Tambahkan fungsi export & import surat TinyMCE"
sama dengan trf ketika dari desa lain ingin mengadopsi template dari desa lain maka ada fungsi untuk import & export.

[2022-10-07 08:57] vickyrolanda opened #5803 "Error pada print di peta"
1. masuk ke menu pemetaan
<img width="798" alt="image" src="https://user-images.githubusercontent.com/59082428/194695172-ed345a31-c52c-4826-8262-fca2bfd03e04.png">
2. lalukan filter apa saja
<img width="794" alt="image" src="https://user-images.githubusercontent.com/59082428/194695283-8e12ba95-313f-418b-a1ca-b6024c8f4303.png">

3. Lalu klik print dan pilih salah satu dari 3 pilihan
<img width="157

[2022-10-07 09:02] andifahruddinakas commented on #5803
Mas @vickyrolanda, di tulis juga solusinya atau apa yang diharapkan.

[2022-10-07 09:06] vickyrolanda opened #5804 "OpenSID & OpenDK tidak sinkronisasi jika ada penduduk yang sudah pindah dll."
Kasus terjadinya ini kemungkinan karena ada pergantian data di database sehingga tidak ada log penduduknya.

Perlu di periksa di UMUM.

[2022-10-07 09:18] vickyrolanda commented on #5787
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1449

[2022-10-07 09:18] #5787 closed, assigned to apidong

[2022-10-07 09:45] apidong commented on #5800
baik mas

[2022-10-07 09:52] vickyrolanda commented on #5792
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1450

[2022-10-07 09:52] #5792 closed, assigned to apidong

[2022-10-07 10:24] vickyrolanda commented on #5740
Sudah diselesaikan di PR https://github.com/OpenSID/OpenSID/pull/5805

[2022-10-07 10:24] #5740 closed, assigned to apidong

[2022-10-07 12:15] WAHYUDIK commented on #5514
saran saya, jangan dihubungkan dengan modul keuangan, karena setiap desa beda-beda cara menganggarkannya untuk dikategorikan dalam pencegahan stunting ini. Adapun beberapa contoh kegiatan yang tergolong dalam kategori pencegahan stuning:
1. PMT (Pemberian Makanan Tambahan)
2. rembuk stunting
3. RDS (rumah desa sehat)

dari ketiga contoh kegiatan tersebut di atas, setiap kabupaten terkadang mempuny

[2022-10-07 19:22] apidong commented on #5801
mungkin lebih tepatnya judulnya double input file saat pilih gambar.

[2022-10-07 19:50] hasap86 opened #5806 "Bug/error: Artikel terbaru di OpenSID tidak muncul di OpenDK"
### Jelaskan error yg dialami

Artikel terbaru yang ditulis di opensid tidak muncul di opendk

### Cara untuk mereplikasi errornya

tulis artikel di opensid terbaru dan lihat di opendk yg terhubung

### Hasil yg diharapkan

biasanya muncul artikel dari opensid desa di opendk kecamatan

### Tangkapan layar dan log error

OPENSID :

https://cikahuripan.desa.id/artikel/2022/10/7/kapolres-sukabumi-dan

[2022-10-07 20:40] hasap86 opened #5807 "Permintaan fitur: Foto Rumah pada Menu Rumah Tangga Kependudukan"
### Apa kekurangan yg ingin diatasi?

Saat ini sering diperlukan foto rumah untuk keperluan bantuan sosial yang disalurkan pemerintah

### Jelaskan solusi yg diinginkan

Tambahkan Foto Rumah pada Menu Rumah Tangga Kependudukan setelah kolom BDT, bisa dengan Camera atau Gallery

### Apakah ada alternatif lain

-

### Untuk versi OpenSID mana

v22.10

### Informasi tambahan

_No response_

[2022-10-07 21:53] hasap86 opened #5808 "Permintaan fitur: Titik Koordinat Rumah Tangga"
### Apa kekurangan yg ingin diatasi?

Saat ini tidak ada keterangan titik koordinat Rumah Tangga

### Jelaskan solusi yg diinginkan

tambahkan Titik Koordinat Rumah Tangga yang nantinya otomatis terhubung ke titik koordinat penduduk yang merupakan anggota Rumah Tangga tersebut

### Apakah ada alternatif lain

saat ini hanya ada pada data penduduk

### Untuk versi OpenSID mana

v22.10

### Informas

[2022-10-08 01:45] eddieridwan commented on #5807
@hasap86 @vickyrolanda foto rumah sedang dikembangkan di modul Regsosek/DTKS. Jadi issuenya ini tidak perlu.

[2022-10-08 02:11] hasap86 commented on #5807
Baik bung @eddieridwan terimakasih infonya

[2022-10-08 02:13] hasap86 commented on #5807
Tapi mungkin bisa dimunculkan di menu Rumah Tangga ya?

[2022-10-08 06:41] andifahruddinakas commented on #5803
Mas @vickyrolanda, diperjelas issue ini maunya di apakan, karena bagian ini sy tdk terlalu menyimak.

[2022-10-08 06:52] apidong commented on #5343
pak saya coba normal. mohon di cek lagi @vickyrolanda @devrakapriyo.
harap ditutup kalau tidak ada bug
![image](https://user-images.githubusercontent.com/20056421/194694165-52db4067-6a3d-4325-b64d-4406b487e028.png)
![image](https://user-images.githubusercontent.com/20056421/194694198-3e8b2063-5469-4aa7-b1d6-5d35e8a4a9ef.png)

[2022-10-08 07:14] vickyrolanda commented on #5800
Sudah diselesaikan di PR https://github.com/OpenSID/OpenSID/pull/5809

[2022-10-08 07:14] #5800 closed, assigned to apidong

[2022-10-08 07:22] vickyrolanda commented on #5803
mas @andifahruddinakas sudah sy lengkapin di deskripsi intinya ketika klik print maka tampilan harusnya minta print tanpa klik + P lagi mas.

[2022-10-08 07:27] vickyrolanda commented on #5343
mas @sulaimanlawidhub kami uji coba normal mungkin bisa coba upgrade ke versi yang terbaru pak atau jika memungkin kan bisa hubungi saya melalui telegram untuk melampirkan databasenya .

[2022-10-08 07:27] #5343 closed, assigned to yogiperdana

[2022-10-08 07:46] andifahruddinakas commented on #5803
Ok

[2022-10-08 07:56] syahransaputra opened #5810 "Permintaan fitur: IP Pengunjung jika menggunakan Cloudflare"
### Apa kekurangan yg ingin diatasi?

Jika menggunakan Cloudflare maka IP pengunjung yg berada di widget Statistik pengunjung maupun di halaman Layanan Mandiri yang tampil bukan IP sebenarnya melainkan IP yg diberikan Cloudflare

### Jelaskan solusi yg diinginkan

diharapakan yg tampil adalah IP dari provider yg digunakan pengunjung

### Apakah ada alternatif lain

Memungkinkan OpenSID dapat menge

[2022-10-08 11:29] vickyrolanda commented on #5801
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1453

[2022-10-08 11:29] #5801 closed, assigned to apidong

[2022-10-08 11:53] vickyrolanda commented on #5793
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1451

[2022-10-08 11:53] #5793 closed, assigned to andifahruddinakas

[2022-10-08 12:32] Zoel-WB opened #5811 "Permintaan fitur: Kolom Jumlah Barang pada Fitur Sekretariat-Iventaris->Daftar Inventaris Peralatan Dan Mesin"
### Apa kekurangan yg ingin diatasi?

Kolom Isian Jumlah Unit Peralatan Yang sama supaya dapat dimasukkan jumlah unitnya misalnya seperti yg terjadi pada kategori dengan Jenis KURSI PLASTIK semestinya dapat dimasukkan jumlah unitnya, begitu juga dengan peralatan yg sama lainnya seperti Bola Kali, Bola Voley maupun Kostum harus dapat dimasukkan JUMLAH-NYA dan satuannya seperti LUSIN/BUAH/UNIT/BOX

[2022-10-08 12:46] vickyrolanda commented on #5738
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1452

[2022-10-08 12:46] #5738 closed, assigned to apidong

[2022-10-09 07:01] yogiperdana commented on #5678
Issue ini ditutup karena saat ini perangkat yang lupa absen statusnya akan berubah secara otomatis ketika berada di luar jam kerja https://github.com/OpenSID/OpenSID/issues/5677

[2022-10-09 07:01] #5678 closed, assigned to yogiperdana

[2022-10-09 07:03] yogiperdana commented on #5716
Adakah masukan terkait issue ini mas @andifahruddinakas

[2022-10-09 07:08] yogiperdana commented on #5804
Ralat mas: jika penduduk sudah dihapus/pindah/ganti status namun tidak terdaftar di log terkait sehingga menimbulkan data lama di opendk tidak terupdate

[2022-10-09 07:49] vickyrolanda opened #5812 "Ubah status aktif & tidak aktif pada program bantuan tidak berfungsi"
1. coba edit program bantuan
<img width="793" alt="image" src="https://user-images.githubusercontent.com/59082428/194744515-93985d22-b96e-49c1-b9f2-d5e854119088.png">
di ubah menjadi aktif -> lalu simpan

2. lihat di daftar di bagian status
ketika di simpan laporan berhasil namun di daftar tidak berubah status dan ketika di edit lagi status juga tidak berubah
<img width="795" alt="image" src="http

[2022-10-09 09:43] andifahruddinakas commented on #5812
Rancangan awal dibuat otomatis aktif dimana status aktif diambil dari retang tanggal awal dan akhir. Namun duplikasi inputan, harusnya pilih status di hilangkan atau hanya sebagai informasi saja.

[2022-10-09 09:45] andifahruddinakas commented on #5716
Pindahkan dan gunakan ORM dan blade pada modul tsb (yg baru). Untuk yang lama kembalikan seperti semula, dgn catatan setiap kali tambah teks berjalan kategorinya selalu web.

[2022-10-09 18:03] vickyrolanda commented on #5803
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1457

[2022-10-09 18:03] #5803 closed, assigned to apidong

[2022-10-09 18:04] ruririzal opened #5813 "Bug/error: modalBox hanya sekali tampil dan tidak berubah jika halaman tidak di refresh"
### Jelaskan error yg dialami

-

### Cara untuk mereplikasi errornya

1. pergi ke halaman penduduk
2. klik tombol "pilih aksi lainnya' -> 'cetak'
3. muncul load tampilan cetak
4. klik tombol "pilih aksi lainnya' -> unduh
5. tidak me-load tampilan unduh
6. --- coba refresh halaman -----
7. klik tombol "pilih aksi lainnya' -> unduh
8. muncul load tampilan unduh
9. klik tombol "pilih aksi lainnya' -

[2022-10-09 18:06] ruririzal commented on #5813
repikasi error dapat terjadi di berbagai halaman yg sering menggunakan modal tanpa refresh halaman

[2022-10-09 18:26] vickyrolanda commented on #5739
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1438

[2022-10-09 18:26] #5739 closed, assigned to andifahruddinakas

[2022-10-09 19:15] andifahruddinakas opened #5814 "Gagal migrasi"
[code]

Lakukan migrasi pada data desa yang sudah ada data keuangan impor maupun manual.

Mas @vickyrolanda, @devrakapriyo, @apidong, coba di cek yang ini.

[2022-10-10 02:51] HerryWanda opened #5815 "Permintaan fitur: LAPORAN REKAPITULASI KEHADIRAN PADA FITUR KEHADIRAN"
### Apa kekurangan yg ingin diatasi?

Saat ini sudah ada sub menu rekapitulasi, tapi masih ada kekurangan format dalam rekapitulasi kehadiran tersebut.
Tidak adanya, jumlah kehadiran dari perangkat, yang gunanya untuk pemenuhan kinerja dan pengambilan kebijakan kepada perangkat tersebut dalam disiplin perangkat desa.

Saat di unduh rekapitulasi, ketika perangkat desa tidak hadir, maka direkap tida

[2022-10-10 04:28] pemdespancur opened #5816 "Bug/error: Composer detected issues in your platform: Your Composer dependencies require a PHP version ">= 7.4.0"."
### Jelaskan error yg dialami

Composer detected issues in your platform: Your Composer dependencies require a PHP version ">= 7.4.0".

### Cara untuk mereplikasi errornya

Setelah update dari versi 22.09 ke versi 22.10

### Hasil yg diharapkan

bug teratasi

### Tangkapan layar dan log error

![image](https://user-images.githubusercontent.com/34035346/194799362-5093ccd7-c0ce-405a-9824-e12179f80e4

[2022-10-10 05:47] Fajar-blackdeath opened #5817 "Dimohon untuk versi terbaru tema berbayar atau premium langsung masuk kedalam zipp. supaya jika ada update tema langsung dipilih dan desa juga bisa mencoba tema tema terabaru"
### Apa kekurangan yg ingin diatasi?

Dimohon untuk versi terbaru opensid premium didaalamnya sudag ada tema berbayar atau premium langsung masuk kedalam zipp. supaya jika ada update tema langsung dipilih dan desa juga bisa mencoba tema tema terabaru.
kesulitan untuk update tiap ada pembaruan tema dll, kemudna ada beberapa tema yang klo sudah diperbarui tema lama tidak bisa digunakan

### Jelaskan

[2022-10-10 08:35] muhtar-coder commented on #5731
Keren juga ini...bisa kirim kartu ucapan selamat via telegram/wa atau bisa post di fb

[2022-10-10 10:05] eddieridwan commented on #5731
@muhtar-coder @andiju1778 fitur ini sudah diminta sebelumnya, dan ditolak. Karena akan merupakan celah privasi data. Tanggal lahir penduduk merupakan data pribadi yg dijaga privasinya (data lain yg dijaga privasinya termasuk NIK, No KK). Jadi issue ini akan ditutup, karena tidak bisa diterapkan di OpenSID.

[2022-10-10 10:05] #5731 closed, assigned to nobody

[2022-10-10 10:47] vickyrolanda commented on #5814
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1459

[2022-10-10 10:47] #5814 closed, assigned to nobody

[2022-10-10 15:57] apidong commented on #5816
@pemdespancur silahkan update versi php ke versi 7.4.xx

[2022-10-10 16:01] apidong commented on #5813
@vickyrolanda bug ini sama dengan issue https://github.com/OpenSID/OpenSID/issues/5787 dan sudah diperbaiki di premium

[2022-10-10 16:07] apidong commented on #5806
@hasap86 Silahkan update OPENDK nya ke Versi Terbaru.
![image](https://user-images.githubusercontent.com/20056421/194909361-8a0a21bd-a798-411c-8142-834d55ec7589.png)

[2022-10-10 16:07] apidong commented on #5806
@vickyrolanda silahkan cek menggunakan opendk versi terbaru pak.

[2022-10-10 16:11] makhbub opened #5818 "Fitur hapus surat tidak muncul di opensid versi 20.10 premium"
### Jelaskan error yg dialami

Di menu arsip surat pilihan hapus tidak muncul, sehingga tidak bisa menghapus surat yg salah

### Cara untuk mereplikasi errornya

Layanan surat > Arsip surat

### Hasil yg diharapkan

Tampilkan kembali fitur hapus surat, untuk menghapus surat layanan yg salah,

### Tangkapan layar dan log error

![Uploading 1665418195103193373852697490295.jpg…]()

### Rilis Versi Op

[2022-10-10 19:25] vickyrolanda commented on #5812
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1464

[2022-10-10 19:25] #5812 closed, assigned to apidong

[2022-10-10 19:40] vickyrolanda commented on #5673
coba aja tambah mas 3600 mas @agungsugiarto

[2022-10-10 19:53] vickyrolanda commented on #5718
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1436

[2022-10-10 19:53] #5718 closed, assigned to andifahruddinakas

[2022-10-10 20:16] vickyrolanda commented on #5578
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1446

[2022-10-10 20:16] #5578 closed, assigned to andifahruddinakas

[2022-10-10 20:51] vickyrolanda commented on #5775
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1444

[2022-10-10 20:51] #5775 closed, assigned to apidong

[2022-10-10 20:56] vickyrolanda commented on #5816
mas @pemdespancur  silahkan update versi php ke versi 7.4.xx sesuai rekomendasi sistem, jika masih mengalamin kendala silahkan open lagi issue ini dan berikan log errornya mas.

[2022-10-10 20:56] #5816 closed, assigned to nobody

[2022-10-10 21:00] vickyrolanda commented on #5813
mas @ruririzal  saya sudah check ulang dan konfirmasi dan sudah di perbaikin sebelumnya silahkan update dengan PR ini mas https://github.com/OpenSID/premium/pull/1449 jika masih mengalamin kendala silahkan open lagi issue ini mas.

[2022-10-10 21:00] #5813 closed, assigned to apidong

[2022-10-10 21:10] vickyrolanda commented on #5806
terimakasih mas @apidong , saya sudah coba dan terkonfirmasiih muncul mas , mohon tes ke OpenDK yang versi terbaru ya pak dan jangan lupa setting link website desanya pak @hasap86 , saat ini saya close issuenya pak mohon di buka kembali jika masih mengalamin dan mohon lampirkan log errornya ya pak.
<img width="747" alt="image" src="https://user-images.githubusercontent.com/59082428/194952644-170af

[2022-10-10 21:10] #5806 closed, assigned to apidong

[2022-10-10 23:27] FirlianiF opened #5819 "OPENSID: Alert gagal pendaftaran kerjasama"
### Jelaskan error yg dialami

[-](https://github.com/OpenSID/OpenSID/issues/5672)

### Cara untuk mereplikasi errornya

-

### Hasil yg diharapkan

-

### Tangkapan layar dan log error

-

### Rilis Versi OpenSID

Rilis Premium

### Versi OpenSID

-

### Tema Yang Digunakan

_No response_

### Informasi tambahan

_No response_

[2022-10-11 00:35] FirlianiF opened #5820 "OPENSID: Perbaiki kirim versi"

[2022-10-11 02:24] agungsugiarto commented on #5691
mas @vickyrolanda, mode demo hanya jika `URL API Server TTE` adalah sama dengan domain web desa masing2, jika dilihat punya mas vicky urlnya adalah `tte-dev.kamparkab.go.id`

[2022-10-11 02:43] apidong commented on #5818
@vickyrolanda coba cek dengan issue ini pak https://github.com/OpenSID/OpenSID/issues/5580.
apakah issuenya sama?

[2022-10-11 02:56] makhbub commented on #5818
Ternyata sama pak, mohon maaf kurang teliti
Dengan ini issue saya tutup

[2022-10-11 02:56] #5818 closed, assigned to apidong

[2022-10-11 03:31] devrakapriyo opened #5821 "Permintaan fitur: surat TinyMCE untuk non warga"
### Apa kekurangan yg ingin diatasi?

saat ini di surat TinyMCE belum tersedia untuk non warga tidak sama seperti dengan surat RTF yang sudah tersedia untuk non warga

### Jelaskan solusi yg diinginkan

sediakan fitur untuk non warga di surat TinyMCE

### Apakah ada alternatif lain

-

### Untuk versi OpenSID mana

v22.11-premium

### Informasi tambahan

_No response_

[2022-10-11 03:35] vickyrolanda commented on #5804
Solusinya : seperti sinkronisasi awal ketika di lakukan sinkron maka data dihapus dan di ganti yang baru .
Perlu dicheck bagaimana proses sinkronisasinya OpenSID ke OpenDK, mungkin jika di perlukan buat 1 fungsi untuk meganti semua penduduk dengan sinkronisasi data yang baru sehingga semua data diperbarui sesuai data yang ada di OpenSID.

[2022-10-11 03:45] vickyrolanda opened #5822 "Perlu ditambahkan diagnosa koneksi di menu info sistem"
Diagnosa Koneksi :
Perlu ditambahkan 1 diagnosa pemeriksaan koneksi antar

- [ ] OpenSID ke OpenDK,
- [ ] OpenSID ke Layanan
- [ ] OpenSID ke TrackSID
- [ ] Bisa juga menampilkan Versi API yang di gunakan.
agar dapat didagnosa masalahnya.  ( untuk ditampilkan apakah antar sistem terkoneksi / tidak )

[2022-10-11 05:51] ariandii opened #5823 "Permintaan fitur: Tersedianya Pengaturan Sebutan Aparatur Desa"
### Apa kekurangan yg ingin diatasi?

Memperhatikan ada beberapa sebutan Pemerintah Desa di berbagai wilayah, seperti Aparatur, Pamong, Perangkat, Kamituwo, Bayan, Bekel, Bau, DLL.

### Jelaskan solusi yg diinginkan

Sebagaimana diterapkan pada Pengaturan Sebutan Dusun, Sebutan Desa, hingga Sebutan Kabupaten. Agar juga tersedia Kolom untuk Sebutan Aparatur Desa tersebut.

### Apakah ada alternatif

[2022-10-11 14:15] ariandii opened #5824 "Permintaan fitur: Bahan Hari Libur 2023 sesuai SKB 3 Menteri"
### Apa kekurangan yg ingin diatasi?

![IMG_20221011_211210](https://user-images.githubusercontent.com/46939846/195115101-bde41eb6-ed9c-4cf9-a31c-dd7f8bf022d9.jpg)

![IMG_20221011_211225](https://user-images.githubusercontent.com/46939846/195115135-24e70d3a-3baa-4abb-a198-7285a7a79e42.jpg)

### Jelaskan solusi yg diinginkan

Sebagai bahan untuk masuk ke Menu Kehadiran - Hari Libur untuk Tahun 2023

[2022-10-12 01:35] agungsugiarto commented on #5259
mas @vickyrolanda issue ini perlu dipecah untuk surat kelahiran dan kematian

[2022-10-12 04:13] vickyrolanda commented on #5764
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1458

[2022-10-12 04:13] #5764 closed, assigned to andifahruddinakas

[2022-10-12 04:46] vickyrolanda commented on #5754
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1462

[2022-10-12 04:46] #5754 closed, assigned to andifahruddinakas

[2022-10-12 04:54] andifahruddinakas opened #5825 "Tambah surat baru dengan nama yang sama"
Jika menambahkan surat baru dengan nama yang sama akan terjadi error.

Misalnya menambahkan Raw TinyMCE yang sudah ada,

Error :
[code]

SOLUSI :
1. kolom url_surat dibuat unik
2. tampilkan notifikasi jika surat tsb (url_surat) sudah digunakan atau otomatis tambah n++ (1, 2, dst) jika sudah ada saat tambah data baru (bisa cek cara buat slug)

[2022-10-12 05:01] vickyrolanda commented on #5371
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1465

[2022-10-12 05:01] #5371 closed, assigned to apidong

[2022-10-12 05:13] vickyrolanda commented on #5763
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1462

[2022-10-12 05:13] #5763 closed, assigned to andifahruddinakas

[2022-10-12 05:19] #5729 closed, assigned to nobody

[2022-10-12 05:23] vickyrolanda commented on #5820
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1467

[2022-10-12 05:23] #5820 closed, assigned to FirlianiF

[2022-10-12 06:01] vickyrolanda commented on #5755
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1468

[2022-10-12 06:01] #5755 closed, assigned to andifahruddinakas

[2022-10-12 06:13] vickyrolanda commented on #2663
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1469

[2022-10-12 06:13] #2663 closed

[2022-10-12 06:54] FirlianiF commented on #5708
a:3:{s:4:"time";i:1665557481;s:3:"ttl";i:86400;s:4:"data";O:8:"stdClass":2:{s:6:"header";O:8:"stdClass":37:{s:3:"url";s:54:"https://layanan.opendesa.id/api/v1/pelanggan/pemesanan";s:12:"content_type";s:9:"text/html";s:9:"http_code";i:200;s:11:"header_size";i:291;s:12:"request_size";i:774;s:8:"filetime";i:-1;s:17:"ssl_verify_result";i:0;s:14:"redirect_count";i:0;s:10:"total_time";d:0.067634;s:15:"n

[2022-10-12 06:54] FirlianiF commented on #5708
mas @vickyrolanda @apidong diatas terlampir scrypt yang didapat oleh cache status langganan yang mengakibatkan token kososng.

[2022-10-12 07:06] devrakapriyo opened #5826 "Bug/error: tidak boleh menghapus wilayah RW atau Dusun yang sudah berpenghuni"
### Jelaskan error yg dialami

jika RW atau Dusun di hapus hal ini akan menyebabkan data tweb penduduk pada kolom id cluster, angka yg ada adalah ID cluster lain yg sudah tidak ada di tweb_cluster.

jika RW atau Dusun sudah terhapus maka solusi saat ini dengan membuat RW baru, lalu pada tabel tweb cluster diubah ID nya sesuai ID RW lama maka akan normal kembali.

### Cara untuk mereplikasi errorny

[2022-10-12 11:48] apidong commented on #5673
@vickyrolanda @agungsugiarto
alternatif untuk awal instalasi. jalankan php index.php dari teriminal. karena perintah php di terminal biasanya bebas dari max_execution_time

[2022-10-12 18:18] FirlianiF opened #5827 "OPENSID: Tambah tombol pada informasi layanan"
### Apa kekurangan yg ingin diatasi?

https://github.com/OpenSID/wiki-layanan-opendesa/issues/164

### Jelaskan solusi yg diinginkan

-

### Apakah ada alternatif lain

-

### Untuk versi OpenSID mana

-

### Informasi tambahan

_No response_

[2022-10-12 19:13] FirlianiF opened #5828 "OPENSID: Pisah tabel pemesanan dan lainnya"
### Apa kekurangan yg ingin diatasi?

https://github.com/OpenSID/wiki-layanan-opendesa/issues/163

### Jelaskan solusi yg diinginkan

-

### Apakah ada alternatif lain

-

### Untuk versi OpenSID mana

-

### Informasi tambahan

_No response_

[2022-10-13 03:00] andifahruddinakas opened #5829 "Bedakan jenis Surat RTF dan TinyMCE pada Modul pengaturan dan cetak surat"

[2022-10-13 03:12] devrakapriyo opened #5830 "Permintaan fitur: export Scorecard Konvergensi"
### Apa kekurangan yg ingin diatasi?

Scorecard Konvergensi salah satu syarat pengajuan Dana Desa Tahap III, dan saat ini belum ada fitur export

![image](https://user-images.githubusercontent.com/36557759/195490666-5431575a-70d4-4af7-aa5c-1d200cd4adac.png)

### Jelaskan solusi yg diinginkan

tambahkan fitur export Scorecard Konvergensi

### Apakah ada alternatif lain

-

### Untuk versi OpenSID m

[2022-10-13 12:05] devrakapriyo commented on #5830
[LAPORAN KONVERGENSI.xlsx](https://github.com/OpenSID/OpenSID/files/9776368/LAPORAN.KONVERGENSI.xlsx)

Format export

[2022-10-13 15:31] K4nzzz opened #5831 "Bug/error thema esensi : Pilihan import dokumen tidak berfungsi pada layanan surat mandiri"
### Jelaskan error yg dialami

Ketika akan mengimport foto atau dokumen pendukung pada lyananan surat mandiri.
Tidak muncul pilihan atau tidak diarahkan menuju penyimpanan atau galery.
Ini berlaku juga saat mengimport dokumen pendukung mendaftar mandiri.

### Cara untuk mereplikasi errornya

.

### Hasil yg diharapkan

Segera di perbaiki

### Tangkapan layar dan log error

Versi mobile
![IMG_20221

[2022-10-13 15:40] yogiperdana opened #5832 "Bug/error: Terjadi error ketika periksa surat tinymce permohonan warga yang tidak ada dokumen / persyaratan"
### Jelaskan error yg dialami

ERROR - 2022-10-13 22:34:47 --> Severity: error --> Exception: Argument 1 passed to Illuminate\Database\Query\Builder::cleanBindings() must be of the type array, null given, called in premium\vendor\illuminate\database\Query\Builder.php on line 997 (View: premium\resources\views\admin\surat\periksa.blade.php) premium\vendor\illuminate\database\Query\Builder.php 3369

[2022-10-14 03:10] ariandii commented on #5826
Termasuk RT

[2022-10-14 06:31] K4nzzz opened #5834 "Bug/error: tampilan priview embed /source code pada thema essensi tidak bisa tampil diwebsite"
### Jelaskan error yg dialami

Tampilan priview embed pada thema essensi tidak bisa tampil di website
Hanya tampil source codenya saja

### Cara untuk mereplikasi errornya

Ok

### Hasil yg diharapkan

Dapat segera diperbaiki dan tampil normal

### Tangkapan layar dan log error

Tampilan mengimport embed

![Uploading IMG_20221014_132420.jpg…]()

Output di halaman website
![Screenshot_2022-10-14-13

[2022-10-14 07:03] vickyrolanda commented on #5819
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1466

[2022-10-14 07:03] #5819 closed, assigned to FirlianiF

[2022-10-14 13:42] makhbub opened #5835 "Rubah form excel impor Klasifikasi Surat menjadi seperti form excel impor penduduk"
### Apa kekurangan yg ingin diatasi?

di beberapa daerah, termasuk kabupaten kami, klasifikasi surat memiliki aturan tersendiri, sehingga form impor data klasifikasi surat sangat diperlukan.
form excel impor klasifikasi surat yang saat ini sudah ada cukup sulit untuk diterapkan, karena seluruh komponen klasifikasi surat seperti id,kode,nama,uraian,enabled dibuat dalam satu cell excel dan hanya dip

[2022-10-14 17:51] ilamazuliaf opened #5836 "Bug/error: Menu Pada Peta Hilang"
### Jelaskan error yg dialami

Tampilan menu peta tidak muncul di Identitas Desa maupun dilainnya

### Cara untuk mereplikasi errornya

1. Pergi ke halaman Identitas Desa
2. Klik tombol Lokasi Kantor Desa

### Hasil yg diharapkan

Menu peta yang hilang bisa kembali seperti sedia kala

### Tangkapan layar dan log error

<img width="1280" alt="Screen Shot 2022-10-14 at 23 13 35" src="https://user-im

[2022-10-14 19:34] vickyrolanda opened #5837 "BUG Daftar Rekapitulasi Kehadiran"
<img width="948" alt="image" src="https://user-images.githubusercontent.com/59082428/195927665-e208fdb2-9f10-4202-b5a9-643a84b8cd72.png">

[2022-10-14 19:58] vickyrolanda commented on #5796
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1460

[2022-10-14 19:58] #5796 closed, assigned to yogiperdana

[2022-10-14 20:30] vickyrolanda commented on #5706
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1472

[2022-10-14 20:30] #5706 closed, assigned to apidong

[2022-10-14 20:47] vickyrolanda commented on #5349
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1473

[2022-10-14 20:47] #5349 closed, assigned to agungsugiarto

[2022-10-14 21:33] vickyrolanda opened #5838 "Error pada buat surat , surat berhasil dibuat namun tidak tersimpan dan tidak muncul di arsip dan permohonan surat"
Check setiap buat surat surat tidak masuk ke permohonan surat / arsip surat, mau di aktifkan TTE atau tidak diaktifkan TTEnya.
<img width="951" alt="image" src="https://user-images.githubusercontent.com/59082428/195947170-11bacf68-4c32-440a-b5b0-6aa198ab974e.png">

[2022-10-14 22:47] vickyrolanda commented on #5829
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1480

[2022-10-14 22:47] #5829 closed, assigned to andifahruddinakas

[2022-10-14 22:58] vickyrolanda commented on #5716
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1481

[2022-10-14 22:58] #5716 closed, assigned to yogiperdana

[2022-10-14 23:19] vickyrolanda commented on #5721
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1484

[2022-10-14 23:19] #5721 closed, assigned to yogiperdana

[2022-10-14 23:33] vickyrolanda commented on #5826
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1485

[2022-10-14 23:33] #5826 closed, assigned to apidong

[2022-10-14 23:42] vickyrolanda commented on #5836
mas @devrakapriyo  mohon bantu check apakah issue ini valid di mas raka ? karena di saya itu masih muncul
<img width="795" alt="image" src="https://user-images.githubusercontent.com/59082428/195958253-fdbd26bf-9387-4db8-a1af-28a0159216d9.png">

[2022-10-14 23:43] vickyrolanda commented on #5834
mas @K4nzzz  mohon bantuannya memperjelas ini ditambahkan pada menu apa ?

[2022-10-15 06:29] ariandii commented on #5836
100% ini faktor dari sisi hosting.

[2022-10-15 12:18] ilamazuliaf commented on #5836
Setelah menghubungi pihak hosting alhamdulillah bisa. Jadi permasalahannya ada di pihak hosting

[2022-10-15 12:18] #5836 closed, assigned to nobody

[2022-10-15 22:59] K4nzzz commented on #5834
Tampilan websitnya tidak tampil perintah emberd .
Di menu artikel bpk @vickyrolanda
Ketika kita insert video (embed) sudah memasukan source tapi di tampilan website tidak bisa menampilkan .

[2022-10-15 23:01] K4nzzz commented on #5834
![Uploading IMG_20221014_132420.jpg…]()

[2022-10-16 00:29] K4nzzz commented on #5834
![Uploading IMG_20221016_072709.jpg…]()
![Uploading IMG_20221016_072820.jpg…]()

[2022-10-16 00:32] K4nzzz commented on #5834
![IMG-20221016-WA0006](https://user-images.githubusercontent.com/115149951/196012405-face59cc-a806-4cc9-9c6d-d6a3b978614b.jpg)
![IMG-20221016-WA0005](https://user-images.githubusercontent.com/115149951/196012406-863078d8-9d92-41c8-b0be-316c2c7ad174.jpg)

[2022-10-16 07:02] vickyrolanda commented on #5717
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1456

[2022-10-16 07:02] #5717 closed, assigned to yogiperdana

[2022-10-16 07:36] vickyrolanda commented on #5837
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1489

[2022-10-16 07:36] #5837 closed, assigned to apidong

[2022-10-16 07:43] scqolbu24 commented on #5838
Tambahan issue berkaitan dengan Surat yang dilaporkan oleh Pak Guspendi Ansyori:
Menu Pengaturan Surat, Cetak Surat, Permohonan Surat, Daftar Persyaratan muncul eror seperti berikut:
![error buka modul layanan surat](https://user-images.githubusercontent.com/68048807/196023938-ee977a1e-1d4a-49b8-b7e6-e3f7abf19147.jpg)

Untuk Arsip surat dapat tampil, namun ketika klik Cetak Surat muncul error beri

[2022-10-16 08:06] scqolbu24 opened #5839 "Bug/error: ketika klik semua menu di Layanan Surat muncul error datatables warning: tableid=tabeldata"
Issue ini dilaporkan oleh Pak Guspendi Ansyori:
Klik Menu Pengaturan Surat, Cetak Surat, Permohonan Surat, Daftar Persyaratan muncul eror seperti berikut:
![error buka modul layanan surat](https://user-images.githubusercontent.com/68048807/196023938-ee977a1e-1d4a-49b8-b7e6-e3f7abf19147.jpg)

Untuk Arsip surat dapat tampil, namun ketika klik Cetak Surat muncul error berikut:
![error ketika cetak su

[2022-10-16 08:52] vickyrolanda commented on #5828
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1477

[2022-10-16 08:52] #5828 closed, assigned to FirlianiF

[2022-10-16 17:51] vickyrolanda commented on #5762
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1470

[2022-10-16 17:51] #5762 closed, assigned to andifahruddinakas

[2022-10-16 19:17] vickyrolanda commented on #5758
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1482

[2022-10-16 19:17] #5758 closed, assigned to andifahruddinakas

[2022-10-16 19:42] vickyrolanda commented on #5773
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1483

[2022-10-16 19:42] #5773 closed, assigned to andifahruddinakas

[2022-10-16 20:03] vickyrolanda commented on #5759
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1486

[2022-10-16 20:03] #5759 closed, assigned to andifahruddinakas

[2022-10-16 20:25] vickyrolanda commented on #5838
mas @apidong saya test di rilis-dev & bug-fix sudah tidak mengalamin ini jadi saya close dulu ya

[2022-10-16 20:25] #5838 closed, assigned to apidong

[2022-10-16 20:34] vickyrolanda commented on #5832
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1490

[2022-10-16 20:34] #5832 closed, assigned to apidong

[2022-10-16 20:43] vickyrolanda commented on #5825
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1487

[2022-10-16 20:43] #5825 closed, assigned to apidong

[2022-10-17 01:01] apidong commented on #5839
![image](https://user-images.githubusercontent.com/20056421/196068390-43f26f94-e3ec-4d5f-8e5d-afd10a166a5b.png)
![image](https://user-images.githubusercontent.com/20056421/196068462-8a4364cd-6ed5-4b2e-bd5c-d148fbe8dc44.png)
![image](https://user-images.githubusercontent.com/20056421/196068509-accb68f2-de32-45c6-8373-94a2e84fa370.png)
saya cek di lokal semuanya normal

[2022-10-17 01:50] apidong commented on #5831
@K4nzzz itu karena dokumennya belum ada.
apakah dokumen sudah di upload?
jika belum, silahkan upload terlebih dahulu di modul dokumen.
![image](https://user-images.githubusercontent.com/20056421/196072423-192d0baa-82b4-49be-94c4-491062d979bd.png)

[2022-10-17 02:19] AliAshgar opened #5840 "Permintaan fitur: PENAMBAHAN FITUR UNTUK PERMOHONAN AKTA KELAHIRAN BAGI ORANG DEWASA"
### Apa kekurangan yg ingin diatasi?

sekiranya ada fitur untuk pembuatan akta kelahiran untuk orang dewasa yang status orang tuanya sudah lama  meninggal

### Jelaskan solusi yg diinginkan

di berikan opsi mematikan error ketika orang tua sudah meninggal sehingga tidak perlu mengisi data NIK

### Apakah ada alternatif lain

tidak ada

### Untuk versi OpenSID mana

 v21.03

### Informasi tambahan

[2022-10-17 05:04] apidong commented on #5834
https://github.com/OpenSID/OpenSID/wiki/Artikel#cara-menyisipkan-media-dalam-artikel
silahkan di baca terlebih dahulu terkait embed media melalui iframe. @K4nzzz @vickyrolanda

[2022-10-17 05:11] K4nzzz commented on #5834
Oke thanks min

[2022-10-17 05:18] apidong commented on #5839
info dari pak guspendi. error sudah teratasi dengan menginstall ulang  opensid.
issue saya closse.

[2022-10-17 05:18] #5839 closed, assigned to nobody

[2022-10-17 05:18] K4nzzz commented on #5831
Terimakasih infonya min maju terus opensid

[2022-10-17 11:34] yogiperdana commented on #5795
Jadi jika tidak berlangganan di anjungan apa yang ditampilkan mas @vickyrolanda?
1. Apakah hanya list anjungan dan semua tombol aksi disembunyikan atau memang tidak ada yang ditampilkan selain keterangan belum berlangganan seperti ketika token belum kosong/tidak valid di opensid premium
2. Apakah hanya berlaku untuk submodul daftar anjungan atau semua modul anjungan

[2022-10-17 19:29] vickyrolanda commented on #5827
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1491

[2022-10-17 19:29] #5827 closed, assigned to FirlianiF

[2022-10-18 02:41] #5834 closed, assigned to nobody

[2022-10-18 02:41] #5831 closed, assigned to nobody

[2022-10-18 02:42] ariandii opened #5841 "Bug/error: Tulisan Pada Surat Tidak Sesuai mulai KOP sampai bawah TTD"
### Jelaskan error yg dialami

Bisa perhatikan gambar di bawah ini:

<img width="498" alt="screenshot_93" src="https://user-images.githubusercontent.com/46939846/196322416-a905200e-413f-4cdd-b627-afc456eb9c47.png">

<img width="660" alt="screenshot_92" src="https://user-images.githubusercontent.com/46939846/196322421-381d1fa7-46ea-4346-89a4-50fc760a7e35.png">

<img width="340" alt="screenshot_91"

[2022-10-18 03:11] andifahruddinakas commented on #2486
Yang ini pak @eddieridwan

[2022-10-18 03:30] makhbub opened #5842 "Data induvidu selain menampilkan data bantuan individu juga menampilkan data bantuan Keluarga dan Rumah Tangga"
### Apa kekurangan yg ingin diatasi?

data bantuan ada tiga kelompok penerima yaitu ;
1. Individu dimana penerimanya setiap orang secara pribadi
2. Keluarga dimana penerimanya adalah keluarga.
3. Rumah Tangga dimana  penerima bantuannya adalah satu rumah tertentu

Di desa, data bantuan merupakan suatu hal yang riskan apabila tidak terkelola dengan baik. Pemerintah desa harus memastikan / mengusaha

[2022-10-18 18:12] syahransaputra commented on #5543
UP @vickyrolanda @eddieridwan
Issue ini sangat penting diterapkan Semoga parameter tersebut dapat diterapkan di Versi update Premium selanjutnya.

[2022-10-19 07:15] andifahruddinakas commented on #5572
https://github.com/Laravel-Backpack/Settings

[2022-10-19 07:47] vickyrolanda commented on #5677
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1448

[2022-10-19 07:47] #5677 closed, assigned to yogiperdana

[2022-10-19 10:46] vickyrolanda commented on #5782
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1454

[2022-10-19 10:46] #5782 closed, assigned to yogiperdana

[2022-10-19 11:27] ai-skematik commented on #5795
https://github.com/OpenSID/premium/issues/1501

[2022-10-19 11:32] ai-skematik commented on #5795
Bung @yogiperdana  ketika tidak berlangganan anjungan tidak ada yang ditampilkan selain keterangan belum berlangganan seperti ketika token kosong/tidak valid di opensid premium

[2022-10-19 11:41] yogiperdana commented on #5795
Baik pak

[2022-10-19 11:44] ai-skematik commented on #5514
saya setuju untuk jumlah dana itu di isi manual saja.

[2022-10-19 18:39] vickyrolanda commented on #5628
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1478

[2022-10-19 18:39] #5628 closed, assigned to andifahruddinakas

[2022-10-19 19:17] vickyrolanda commented on #5683
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1492

[2022-10-19 19:17] #5683 closed, assigned to andifahruddinakas

[2022-10-20 00:37] vickyrolanda commented on #5774
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1493

[2022-10-20 00:37] #5774 closed, assigned to andifahruddinakas

[2022-10-20 00:46] vickyrolanda commented on #5769
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1494

[2022-10-20 00:46] #5769 closed, assigned to andifahruddinakas

[2022-10-20 00:55] vickyrolanda commented on #5524
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1495

[2022-10-20 01:05] vickyrolanda commented on #5766
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1496

[2022-10-20 01:05] #5766 closed, assigned to andifahruddinakas

[2022-10-20 01:17] vickyrolanda opened #5843 "[TinyMCE] Tambahkan fungsi pilih surat untuk di export"
Saat ini sudah ada fungsi export namun export berfungsi untuk export semua surat, namun perlu di buat pilih surat tertentu dan export hal ini agar tidak menjadi tumpang tindih jika dari desa lain hanya butuh 1 type surat saja.

[2022-10-20 01:18] eddieridwan opened #5844 "Di peta lokasi/wilayah desa, sediakan tautan bisa buka lokasi di peta OpenStreetMap atau Google Maps"
### Apa kekurangan yg ingin diatasi?

Saat ini di widget lokasi/wilayah desa, tautan OpenStreetMap membuka OpenStreetMap pada halaman copyright bukan menunjukkan lokasi/wilayah desa terkait.

<img width="279" alt="image" src="https://user-images.githubusercontent.com/249563/196833384-8d226d1d-c411-4aec-9fa5-af60cdb1c168.png">

### Jelaskan solusi yg diinginkan

Ubah tautan OpenStreetMap supaya mem

[2022-10-20 01:27] vickyrolanda commented on #5802
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1497

[2022-10-20 01:27] #5802 closed, assigned to andifahruddinakas

[2022-10-20 02:26] devrakapriyo opened #5845 "Bug/error: peraturan desa, upload dokumen data too long"
### Jelaskan error yg dialami

![image](https://user-images.githubusercontent.com/36557759/196841157-f1d11d75-7fe2-4855-b82c-73bd5070c503.png)

saat mengupload dokumen dengan name file yang panjang terjadi error

### Cara untuk mereplikasi errornya

- klik menu Administrasi Desa
- klik menu Administrasi Umum
- klik menu Buku Peraturan Desa
- klik tombol Perdes Baru

### Hasil yg diharapkan

-

###

[2022-10-20 02:43] devrakapriyo opened #5846 "Bug/error: error proses migrasi karena identifikasi versi yang keliru"
### Jelaskan error yg dialami

bug ini yang di sampaikan pak Bubby Saputra di group OpenSID Premium
![image](https://user-images.githubusercontent.com/36557759/196843470-1dc50548-2699-4fe9-9f72-a5d652656e2e.png)
dan sudah di berikan solusi oleh pak @ariandii
![image](https://user-images.githubusercontent.com/36557759/196843681-d4c27b58-aafc-45d6-94d1-429340688cbf.png)
![image](https://user-images.

[2022-10-20 02:49] devrakapriyo commented on #5846
INFO SOLUSI : mengubah current version dari 22.10 ke 22.09 di table setting_aplikasi

sehingga penamaan versi lama tidak dikenali dengan baik.

ini membuat keliru 22.10 yg tidak dikenali. padahal sudah terpasang 22.10-premium maupun rev nya.

[2022-10-20 02:54] eddieridwan commented on #5846
Mengubah current version bukan solusi utk diterapkan (itu hanya cara pelaksana supaya dapat membantu secara praktis). Solusinya yg diperlukan adalah mampu deteksi versi secara akurat. Dan juga perhatikan bahwa migrasi tergantung juga versi database.

[2022-10-20 03:03] devrakapriyo commented on #5846
ini terjadi error saat melakukan proses migrasi :
- dari versi umum ke premium
- dari versi premium yang cukup jauh versinya ke versi premium terbaru

[2022-10-20 03:15] devrakapriyo opened #5847 "Bug/error: gelar penandatangan surat tidak muncul pada permohonan dan arsip surat"
### Jelaskan error yg dialami

gelar depan dan belakang penandatangan surat tidak muncul pada permohonan dan arsip surat
<img width="1144" alt="Screen Shot 2022-10-20 at 10 12 09" src="https://user-images.githubusercontent.com/36557759/196848002-d72b0aeb-27d5-4866-a15d-37297e95425c.png">

<img width="1165" alt="Screen Shot 2022-10-20 at 10 13 11" src="https://user-images.githubusercontent.com/3655

[2022-10-20 03:31] vickyrolanda commented on #5841
pak @ariandii  ini mungkin masuknya ke rilis-dev sebagai susulan, agar tidak terjadi duplikasi perbaikan (krn di rilis-dev sudah disediakan). Untuk data normal bisa gunakan [kode_isian] kecil semuan untuk keluaran data dari database (tanpa ada ubahan)

jadi ijin saya close issue ini ya pak.

[2022-10-20 03:31] #5841 closed, assigned to apidong

[2022-10-20 03:32] vickyrolanda opened #5848 "Tambahan kode isian khusus kata -kata yang harus berupa huruf besar."
$pendidikan = 'Slb Sederajat';

        $pekerjaan = 'Anggota dprd';

        $contoh1 = 'Saya adalah [PekerjaaN] di kabupaten Bontang.';
        $contoh2 = 'Dimana saya selesai [Pendidikan]';

        return json([
            'hasil 1' =>  case_lainnya('pendidikan', $pendidikan),
            'hasil 2' =>  case_lainnya('pekerjaan', $pekerjaan),
            'hasil 3' =>  case_replace('[PekerjaaN]'

[2022-10-20 03:33] devrakapriyo opened #5849 "Bug/error: file pdf hasil cetak surat tinymce tidak sesuai"
### Jelaskan error yg dialami

![image](https://user-images.githubusercontent.com/36557759/196850043-b085f5ad-05cf-424b-9044-06e7d45169bf.png)

![image](https://user-images.githubusercontent.com/36557759/196850078-fc102ec3-3e31-4ede-98c0-94bbbe158c5b.png)

dari kedua 2 screenshot di atas, hasil pdf saat cetak surat tidak sesuai

### Cara untuk mereplikasi errornya

-

### Hasil yg diharapkan

-

#

[2022-10-20 03:46] andifahruddinakas commented on #5849
Sudah ditambahkan tools paragraf menjorok di PR https://github.com/OpenSID/premium/pull/1436

[2022-10-20 03:46] #5849 closed, assigned to nobody

[2022-10-20 04:12] devrakapriyo opened #5850 "Bug/error: error import SISKEUDES karena tidak ada kolom F12"
### Jelaskan error yg dialami

![image](https://user-images.githubusercontent.com/36557759/196854263-52bdc8e1-7225-4ab4-9302-eab0019e5ccc.png)

pada table keuangan_ta_spp belum ada kolom F12, F13 dan F14 yang menyebabkan error pada saat import data

karena pada file excel ada kolom sesuai gambar di bawah

![image](https://user-images.githubusercontent.com/36557759/196854538-6a8b602e-8339-4f3e-b48d

[2022-10-20 08:36] devrakapriyo opened #5851 "Bug/error: error import data responden di menu analisis"
### Jelaskan error yg dialami

error pada saat mengimport data responden di menu analisis

<img width="551" alt="Screen Shot 2022-10-20 at 15 27 37" src="https://user-images.githubusercontent.com/36557759/196897622-8680e35f-dba3-4550-a3c2-38b8b9a7f48d.png">

### Cara untuk mereplikasi errornya

- klik menu Analisis
- klik menu Master Analisis
- klik tombol Rincian Analisis
<img width="500" alt="Sc

[2022-10-20 08:47] mranca commented on #5851
mantap semoga issue  ini bisa selesai secepatnya

[2022-10-20 11:19] devrakapriyo opened #5852 "Permintaan fitur: sediakan fitur ubah urutan posisi pada Indikator & Pertanyaan"
### Apa kekurangan yg ingin diatasi?

![image](https://user-images.githubusercontent.com/36557759/196933474-025cc301-f87a-4e5a-856f-a5ca9be855f5.png)

saat ini di menu Indikator & Pertanyaan belum tersedia ubah urutan posisi seperti yang ada di menu Admin Web-Menu

![image](https://user-images.githubusercontent.com/36557759/196933685-bfc049b6-38af-427a-849f-3ec68bce8d86.png)

INFO : karena ada ana

[2022-10-21 03:16] andifahruddinakas opened #5854 "Gunakan slug untuk identifikasi modul"
Saat ini jika membuat modul menggunakan id sebagai parameter. Terkadang ada tumpang tindih jika dalam 1 waktu perkerjaan membuat modul dengan id yang sama. Sehingga tiap kali PR modul baru di gabungkan ke rilis-dev maka PR lain yang menambahkan modul harus mengganti id nya agar tidak sama.

Hal tersebut membuat pekerjaan tidak efisien.

Solusi :
- [ ] Tambahkan kolom slug pada tabel setting_modul

[2022-10-21 06:54] andifahruddinakas opened #5855 "Kamera masih hidup walau modal sudah ditutup"
![kamera](https://user-images.githubusercontent.com/57283157/197131973-ccd43ced-0c44-4118-aa96-a085f13c9fb1.jpg)

[2022-10-21 07:45] apidong commented on #5851
ini disebabkan karena cara membuat file excel menggunakan cara file html yang dirubah formatnya menjadi xls. sehingga saat melakukan import, file tsb masih terbaca sebagai html dan datanya tidak bisa terbaca.
untuk cara mengatasinya, file yang sudah di download perlu di file save as ke format .xls setelah itu baru  bisa di import.

pak @vickyrolanda bagaimana kalau generate untuk file unduh diruba

[2022-10-21 09:10] mranca commented on #5851
Sudah pak kami lakukan seperti itu pak namun hasilnya tetap sama

[2022-10-21 09:43] mranca commented on #5851
Ok silahkan di close pak saya sudah coba dan berhasil tenyata filenya harus di simpan dengan format xls. Bukan xlsx

[2022-10-21 17:44] vickyrolanda commented on #5848
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1499

[2022-10-21 17:44] #5848 closed, assigned to andifahruddinakas

[2022-10-21 18:03] vickyrolanda opened #5857 "Perlu disesuaikan pengaturan slide untuk anjungan"
Perlu disesuaikan :
1. Pada gallery terdapat 3 album hanya 2 yang aktif 1 terkunci
<img width="789" alt="image" src="https://user-images.githubusercontent.com/59082428/197259988-892ca86d-58ab-4eb4-ac40-08953beff262.png">
namun pada pengaturan anjungan muncul ke3 slide harusnya hanya yang aktif saja yang muncul sesuai pengaturan pada gallery
<img width="788" alt="image" src="https://user-images.git

[2022-10-21 18:09] vickyrolanda commented on #5784
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1503

[2022-10-21 18:09] #5784 closed, assigned to yogiperdana

[2022-10-21 18:24] vickyrolanda commented on #5795
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1504

[2022-10-21 18:24] #5795 closed, assigned to yogiperdana

[2022-10-21 19:46] vickyrolanda opened #5858 "[SUSUSLAN] , penyesuian pengaturan TTE dengan Visual TTD"
Beberapa hal berikut ini perlu di sesuaikan :

- [ ]  Ketika pengaturan TTD Visual yang baru  ada pilihan Ya /Tidak (perlu dibuat ketika pilih Ya maka Inputan dibawah perlu muncul , namun ketika pilihan Tidak maka disembunyikan saja seperti fungsi toggle)
![image](https://user-images.githubusercontent.com/59082428/197276044-c9432d30-8980-4b12-9344-d062aa3478ae.png)

- [ ]  Perlu tampahan keteranga

[2022-10-21 19:55] vickyrolanda commented on #5776
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1505

[2022-10-21 19:55] #5776 closed, assigned to apidong

[2022-10-21 20:38] vickyrolanda commented on #5843
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1514

[2022-10-21 20:38] #5843 closed, assigned to andifahruddinakas

[2022-10-21 20:56] vickyrolanda commented on #5846
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1506

[2022-10-21 20:56] #5846 closed, assigned to andifahruddinakas

[2022-10-22 11:38] vickyrolanda commented on #5847
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1513

[2022-10-22 11:38] #5847 closed, assigned to apidong

[2022-10-22 17:05] vickyrolanda commented on #5850
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1511

[2022-10-22 17:05] #5850 closed, assigned to apidong

[2022-10-22 17:42] vickyrolanda commented on #5845
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1512

[2022-10-22 17:42] #5845 closed, assigned to apidong

[2022-10-22 18:10] vickyrolanda commented on #5855
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1519

[2022-10-22 18:10] #5855 closed, assigned to nobody

[2022-10-22 18:24] vickyrolanda opened #5859 "Merubaha format unduhan pada menu analisis menjadi .xlsx menggunakan php spreadsheet."
Terjadi error jika melakukan upload hasil unduhan pada menu analisis, hal ini disebabkan karena cara membuat file excel menggunakan cara file html yang dirubah formatnya menjadi xls. sehingga saat melakukan import, file tsb masih terbaca sebagai html dan datanya tidak bisa terbaca.
untuk cara mengatasinya, file yang sudah di download perlu di file save as ke format .xls setelah itu baru bisa di im

[2022-10-22 18:25] vickyrolanda commented on #5851
solusi dari mas @apidong perlu kita terapkan juga maka saya buat issue untuk menjadi perubahan pada fitur analisis https://github.com/OpenSID/OpenSID/issues/5859

[2022-10-22 18:25] #5851 closed, assigned to apidong

[2022-10-23 04:33] roaddee commented on #5846
Cara ini juga kami (pelaksana) dapatkan Dari programmer, yang kami minta pendapat untuk penyelesaian tercepat terhadap masalah tersebut.

[2022-10-23 07:16] vickyrolanda commented on #5691
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1402

[2022-10-23 07:16] #5691 closed, assigned to agungsugiarto

[2022-10-23 08:14] vickyrolanda commented on #5783
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1510