[2022-02-18 08:24] yogiperdana commented on #4896
Telah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/757

[2022-02-18 08:24] #4896 closed, assigned to scqolbu24

[2022-02-18 08:47] scqolbu24 commented on #4904
sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/756

[2022-02-18 08:47] #4904 closed, assigned to yogiperdana

[2022-02-18 08:53] scqolbu24 commented on #4604
sudah dibuatkan semua panduan

[2022-02-18 08:53] #4604 closed, assigned to nobody

[2022-02-18 09:38] mizwaruddin opened #4907 "[PREMIUM] Bug/error: Username menggunakan tanda baca titik (.) tidak tampil di daftar pengguna"
### Jelaskan error yg dialami

Username menggunakan tanda baca titik (.) tidak tampil di daftar pengguna. Padahal tanda baca tersebut diizinkan dalam validation form

### Cara untuk mereplikasi errornya

1. Pengaturan-> pengguna
2. Tambah penggun baru / Edit
3. Tambahkan username mengandung tanda baca titik
4. Data tersimpan, namun tanda baca tersebut tidak tampil di daftar pengguna

### Hasil yg

[2022-02-18 09:43] mizwaruddin opened #4908 "[PREMIUM] Bug/error: Tanda baca titik, petik satu, dan koma pada nama pengguna tidak tampil di daftar pengguna"
### Jelaskan error yg dialami

Tanda baca titik, petik satu, dan koma pada nama pengguna tidak tampil di daftar pengguna

### Cara untuk mereplikasi errornya

1. Pengaturan-> pengguna
2. Tambah pengguna baru / edit
3. Pada field nama pengguna tambahkan nama yang mengandung tanda baca: titik, petik satu, koma
4. Data tersimpan, namun pada daftar pengguna tanda baca tersebut tidak tampil

### Hasil

[2022-02-18 10:05] mizwaruddin opened #4909 "[PREMIUM] Bug/error: inventaris yang sudah dimutasi tetap tampil di total nilai aset inventaris gedung dan bangunan"
### Jelaskan error yg dialami

Total nilai aset inventaris peralatan dan mesin tidak tampil

### Cara untuk mereplikasi errornya

1. Sekretariat-> inventaris-> gedung dan bangunan
2. Tambahkan data kemudian lakukan mutasi
3. Inventaris yang sudah dimutasi nilainya tetap tampil di total harga

### Hasil yg diharapkan

inventaris yang sudah dimutasi nilainya tidak masuk perhitungan total harga/aset

[2022-02-18 13:20] balongbesuk opened #4910 "Permintaan fitur: tambahkan dukungan format gambar dan WebP dan AVIF"
### Apa kekurangan yg ingin diatasi?

tambahkan dukungan format gambar dan WebP dan AVIF

### Jelaskan solusi yg diinginkan

Image formats like WebP and AVIF often provide better compression than PNG or JPEG, which means faster downloads and less data consumption. [Learn more](https://web.dev/uses-webp-images/?utm_source=lighthouse&utm_medium=devtools).

### Apakah ada alternatif lain

-

### Untu

[2022-02-18 19:43] rudiansyahyunanda opened #4911 "[PREMIUM] Bug/error: Virtual keyboard saat verifikasi email layanan mandiri hanya berupa numerik (angka)"
### Jelaskan error yg dialami

ketika login layanan mandiri pada anjungan yang mengaktifkan virtual keyboard, pada saat verifikasi email virtual keybord hanya menampilkan tombol-tombol yang berisi anka 0-9 saja. percobaan juga dilakukan pada web : https://berputar.opensid.or.id/

### Cara untuk mereplikasi errornya

1. Login Layanan Mandiri
2. Klik tombol Verifikasi
3. Pilih Email
4. Pada langkah

[2022-02-19 00:36] ariandii opened #4912 "Bug/error: Terjadi Loading Lama"
### Jelaskan error yg dialami

Ketika login halaman admin, setelah ketik username dan password klik login maka proses lama sekali (sekitar 3 menit)
sampai muncul gambar berikut.

<img width="960" alt="screenshot_283" src="https://user-images.githubusercontent.com/46939846/154778415-e5d3aef0-9457-4869-b95e-7330cc74462d.png">

### Cara untuk mereplikasi errornya

Seperti di atas

### Hasil yg dihara

[2022-02-19 04:46] mizwaruddin opened #4913 "[PREMIUM] Bug/error: KK hasil impor penduduk susulan tidak tercatat di laporan bulanan"
### Jelaskan error yg dialami

KK hasil impor penduduk susulan tidak tercatat di laporan bulanan

### Cara untuk mereplikasi errornya

1. Lakukan impor penduduk susulan (setelah melakukan impor penduduk pertama) melalui: pengaturan->database->impor database
2. Cek laporan bulanan. KK tidak bertambah

### Hasil yg diharapkan

KK hasil impor susulan tercatat di laporan bulanan

### Tangkapan layar d

[2022-02-19 04:54] mizwaruddin opened #4914 "Permintaan fitur: Batasi status kawin sesuai dengan peraturan yang berlaku"
### Apa kekurangan yg ingin diatasi?

Saat ini status kawin dapat diterapkan untuk semua usia.

### Jelaskan solusi yg diinginkan

Izinkan status kawin hanya pada usia yang ditentukan oleh peraturan yang berlaku, yaitu 19 tahun baik untuk laki-laki maupun perempuan sesuai dengan UU No. 16 Tahun 2019 (https://jdihn.go.id/files/4/2019uu016.pdf)
Jika ada warga yang menikah dengan usia di bawah 19 tah

[2022-02-19 05:28] mizwaruddin opened #4915 "[PREMIUM] Bug/error: Pilihan jawaban hilang jika dilakukan edit data indikator dan pertanyaan di modul analisis"
### Jelaskan error yg dialami

Pilihan jawaban hilang jika dilakukan perubahan/edit data indikator dan pertanyaan di modul analisis. Jika sudah terlanjur melakukan input data kemudian melakukan perubahan setting di "publikasi indikator" maka jawaban yg sdh diinputkan juga akan hilang. Bug ini hanya berlaku untuk analisis baru. Untuk analisis bawaan sistem tidak ada masalah.

### Cara untuk merepli

[2022-02-19 05:33] yogiperdana commented on #4905
Telah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/761

[2022-02-19 05:33] #4905 closed, assigned to scqolbu24

[2022-02-19 05:48] scqolbu24 commented on #4876
sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/759

[2022-02-19 05:48] #4876 closed, assigned to yogiperdana

[2022-02-19 06:24] scqolbu24 opened #4917 "[PREMIUM-22.02 BETA02] Tampilan Halaman (Paging) Pada Website atau Filter Statistik"
### Jelaskan error yg dialami

Saat ini Halaman paging yang ditampilkan di web normal atau belum dapat diketahui bug atau erornya karena data yang di entri baru berjumlah 288, namun jika data tersebut sudah melebihi 500, maka bug error yang dialamai sama seperti halnya pada issue https://github.com/OpenSID/OpenSID/issues/4875.

Bedanya pada issue https://github.com/OpenSID/OpenSID/issues/4875 yang

[2022-02-19 06:39] andifahruddinakas commented on #4917
@scqolbu24, hapus batas/limit tampilkan seluruh data sj. pada web gunakan datatables untuk memudahkan.

[2022-02-19 07:11] mizwaruddin commented on #4913
Terjadi juga pada impor penduduk menggunakan format BIP

[2022-02-19 07:15] yogiperdana commented on #4875
Telah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/762

[2022-02-19 07:15] #4875 closed, assigned to scqolbu24

[2022-02-19 07:17] mizwaruddin opened #4918 "[PREMIUM] Bug/error: Penduduk dengan status "tidak valid" terhitung dalam laporan bulanan"
### Jelaskan error yg dialami

Penduduk dengan status "tidak valid" terhitung dalam laporan bulanan

### Cara untuk mereplikasi errornya

1. Pengaturan-> database -> impor BIP
2. Lakukan impor BIP menggunakan format siak menggunakan data contoh
3. Terjadi selisih data jumlah data penduduk antara data di dashboard dan di laporan bulanan
4. Penyebabnya karena ada data penduduk dengan status tidak va

[2022-02-19 07:26] mizwaruddin opened #4919 "Permintaan fitur: Munculkan isian KITAS hanya pada status WNA"
### Apa kekurangan yg ingin diatasi?

Saat ini isian KITAS muncul pada status kewarganegaraan WNI dan WNA saat menambahkan/mengedit biodata penduduk. Padahal isian KITAS tidak diperlukan pada penduduk WNI.

### Jelaskan solusi yg diinginkan

Munculkan isian KITAS jika status kewarganegaraan penduduk WNA saja.

### Apakah ada alternatif lain

Tidak ada

### Untuk versi OpenSID mana

OpenSID 22.02-p

[2022-02-19 07:36] yogiperdana commented on #4902
Telah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/760

[2022-02-19 07:36] #4902 closed, assigned to scqolbu24

[2022-02-19 07:54] afri18 commented on #4914
Sebaiknya jangan, masih banyak di jumpai usia di bawah 19 tahun sudah kawin, aturan itu menurut saya untuk pengurusan surat nikah di kua....
Jadi sebaiknya jangan d terapkan akan banyak bug nantinya....

[2022-02-19 07:55] yogiperdana opened #4920 "Bug/error: Beberapa menu/tombol pada peta area tidak tampil setelah koordinat area dikosongkan dikosongkan"
### Jelaskan error yg dialami

Issue ini merupakan memiliki masalah yang sama dengan issue https://github.com/OpenSID/OpenSID/issues/4876 namun terjadi pada menu peta area. Yaitu beberapa menu/tombol pada peta area tidak tampil setelah koordinat area dikosongkan dikosongkan

### Cara untuk mereplikasi errornya

1. Buka pemetaan > pengaturan peta
2. Pilih area
3. Edit salah satu lokasi area
4. Hapu

[2022-02-19 08:09] mizwaruddin opened #4921 "[PREMIUM] Bug/error: Tombol Tipe Pertanyaan masih berfungsi ketika indikator dihubungkan Dengan Data Keluarga / KK pada modul analisis"
### Jelaskan error yg dialami

Tombol Tipe Pertanyaan masih berfungsi ketika indikator dihubungkan Dengan Data Keluarga / KK pada modul analisis. Padahal pada tampilannya cursor menunjukkan stop--yang semestinya disable/tidak aktif-- karena jika pertanyaan dihubungkan dengan data penduduk/keluarga seharusnya hanya tombol isian teks yg aktif.

### Cara untuk mereplikasi errornya

1. Analisis-> mast

[2022-02-19 09:37] mizwaruddin commented on #4914
Jika ada usia di bawah 19 tahun, wajib mencantumkan nomor akta dan tgl nikah. Bukan berarti usia di bawah 19th tidak bisa diubah status menjadi kawin.

[2022-02-19 09:46] afri18 commented on #4914
Tetap tidak relevan, karna d kartu keluarga hanya tercantum tgl nikah, sebaiknya biarkan seperti saat ini, peraturan kadang tidak relevan dengan situasi lapangan....

[2022-02-19 15:06] Zoel-WB opened #4922 "[PREMIUM-22.02 BETA02] Fitur Edit dan Simpan Data Lapak Desa Tidak Berfungsi"
### Jelaskan error yg dialami

[PREMIUM-22.02 BETA02] Fitur Edit dan Simpan Data Lapak Desa Tidak Berfungsi

### Cara untuk mereplikasi errornya

1. Buka Fitur Lapak
2. Pilih Salah Satu Produik -->Klik Edit
3. Edit Data Apa saja atau Upload Ganti Foto
4. Pilih Simpan
![image](https://user-images.githubusercontent.com/64481641/154806653-13562d3d-d37d-4798-8ee2-93a99a75c7d4.png)

### Hasil yg dihara

[2022-02-19 15:26] Zoel-WB opened #4923 "[PREMIUM-22.02 BETA02] Halaman Website Lapak Desa Pilihan Filter Kategori Produk Tidak Berfungsi"
### Jelaskan error yg dialami

Halaman Website Lapak Desa Pilihan Filter Kategori Produk Tidak Berfungsi

### Cara untuk mereplikasi errornya

Buka Halaman/Page  Lapak Desa --> Pilih Salah Satu Produk untuk ditampilkan

### Hasil yg diharapkan

Supaya berfungsi

### Tangkapan layar dan log error

![image](https://user-images.githubusercontent.com/64481641/154807249-cc604643-64c3-4d8a-a477-5cd5f89e

[2022-02-20 04:22] Zoel-WB commented on #4922
Sudah di Tester di Berputar--> Juga tidak dapat disimpan setelah edit data
https://berputar.opensid.or.id/lapak_admin/produk_form/2
![image](https://user-images.githubusercontent.com/64481641/154828312-9047c10f-1b94-4d41-b269-2fb4a417bb9d.png)

[2022-02-20 06:05] eddieridwan opened #4924 "Permintaan fitur: Pindahkan impor rumah tangga ke modul Rumah Tangga"
### Apa kekurangan yg ingin diatasi?

Saat ini fitur untuk impor data rumah tangga ada di `Pengaturan > Database > Impor Database` yang membingungkan bagi pengguna pemula.

### Jelaskan solusi yg diinginkan

Pindahkan impor data rumah tangga ke modul rumah tangga.

### Apakah ada alternatif lain

Tidak ada.

### Untuk versi OpenSID mana

v22.02-premium

### Informasi tambahan

_No response_

[2022-02-20 10:02] yogiperdana commented on #4907
Perbaikan username mangacu pada username yang ditetapkan pada pembuatan google akun yang disesuaikan dengan kebutuhan opensid. Adapun aturan username di opensid adalah sebagai berikut:
1. Terdiri dari nomor, huruf, titik dan garis bawah
2. Tidak diawali dan diakhiri dengan titik atau garis bawah
3. Tidak mengandung titik atau garis bawah secara berturut-turut 2 kali
4. Terdiri dari 6-30 karakter

[2022-02-20 11:00] Zoel-WB commented on #4922
Bug ini terjadi saat edit foto atau ganti foto produk
Buka edit --> pilih uploap foto atau ganti foto produk tanpa merubah data lain.... klik simpan, tombol simpan tak respon

[2022-02-20 11:38] mizwaruddin commented on #4914
Saat mengajukan KK kan hrs melampirkan akta nikah.
Klo alasan di KK hanya ada tgl nikah, knp hrs ada input data no. akta nikah saat tambah penduduk? Klo tdk dibutuhkan lbh baik diajukan penghapusan saja.

[2022-02-20 11:47] Zoel-WB opened #4925 "[PREMIUM] Permintaan Required Data Isian Biodata Data Anggota Keluarga (Prodeskel) Otomatis Terisi dari Data Penduduk"
### Apa kekurangan yg ingin diatasi?

Permintaan supaya data-data yg berkenaan biodata penduduk pada Template [Data Anggota Keluarga] dapat terisi secara otomatis dari database penduduk, sehingga tidak terjadi double isi data serta menghindari kekeliruan data salah

### Jelaskan solusi yg diinginkan

Data-data seperti screensote berikut 👍
![image](https://user-images.githubusercontent.com/64481641

[2022-02-20 13:53] Zoel-WB opened #4926 "[UMUM V22-02-PASCA] Gagal Impor Data Penduduk FormatExcel Bila Kolom Hamil Tidak Terisi"
### Jelaskan error yg dialami

Tidak dapat memingimpor data penduduk apabila kolom hamil tidak terisi (null)

### Cara untuk mereplikasi errornya

Import data penduduk dari data excel

### Hasil yg diharapkan

Agar dapat mengimpor data walaun kolom2 data ada yg masih kosong, karena pada versi sebelum-sebelumnya tidak ada kendala untuk impor data walaupun kolom umum yg kosong seperti kasus kolom Ha

[2022-02-20 13:56] yogiperdana commented on #4909
Bagaimana dengan total pada saat dicetak pak? Apakah hanya menampilkan total gedung yang tidak dimutasi atau total semua gedung termasuk yang sudah dimutasi?

[2022-02-20 14:37] Zoel-WB opened #4927 "[PREMIUM-22.02 BETA02] Edit Data Pembangunan Tahun Anggaran Berubah Otomatis Ke Tahun Sekarang"
### Jelaskan error yg dialami

Saat melakukan Edit Data Pembangunan Tahun Anggara secara otomati berubah ke tahun berjalan tahun saat ini

### Cara untuk mereplikasi errornya

Buka Fitur Pembangunan
Pilih Edit Salah Satu Data Pembangunan

### Hasil yg diharapkan

Saat Edit Data Kolom Tahun Angaran Jangan Otomatis Berubah ketahun saat ini, bila tidak dirubah atau di edit

### Tangkapan layar dan lo

[2022-02-20 14:47] #4926 closed, assigned to nobody

[2022-02-20 14:49] andifahruddinakas commented on #4654
@apidong, untuk login ektp buat di PR yg berbeda.

[2022-02-20 14:51] apidong commented on #4654
siap.

[2022-02-20 19:05] FirlianiF commented on #4924
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/766

[2022-02-20 19:05] #4924 closed, assigned to eddieridwan

[2022-02-20 19:34] FirlianiF commented on #4806
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/758

[2022-02-20 19:34] #4806 closed, assigned to apidong

[2022-02-21 01:54] scqolbu24 commented on #4920
sduah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/765

[2022-02-21 01:54] #4920 closed, assigned to yogiperdana

[2022-02-21 03:04] andifahruddinakas commented on #4886
Sudah digabungkan melalui PR https://github.com/OpenSID/premium/pull/747

[2022-02-21 03:05] #4886 closed, assigned to eddieridwan

[2022-02-21 04:09] andifahruddinakas commented on #4834
Sudah digabung melalui PR https://github.com/OpenSID/premium/pull/739

[2022-02-21 04:09] #4834 closed, assigned to eddieridwan

[2022-02-21 04:21] agungsugiarto commented on #4897
Pak @Zoel-WB bisa bagikan file importnya ?

[2022-02-21 04:31] Zoel-WB commented on #4897
Oke Pak.....
Filenya :
[Jl Desa.zip](https://github.com/OpenSID/OpenSID/files/8106199/Jl.Desa.zip)

[2022-02-21 04:36] agungsugiarto commented on #4912
Pak @ariandii karena ini terkait server, apakah bisa dijanjikan pertemuan untuk membahas ?

[2022-02-21 04:47] ariandii opened #4928 "Permintaan fitur: Informasi Login Pengguna"
### Apa kekurangan yg ingin diatasi?

Saat ini belum tersedia informasi mengenai list history login yang masih aktif jika sudah login di beberapa perangkat komputer atau hp.

### Jelaskan solusi yg diinginkan

Ingin adanya halaman mengenai informasi khusus untuk akun yang sama masih login di halaman komputer lain, untuk kemudian bisa dilogout dari komputer atau hp yang sedang digunakan.

### Apaka

[2022-02-21 05:49] balongbesuk commented on #4928
kl saya biasaya mengubah file /donjo-app/config/config.php pada bagian

$config['sess_expiration'] = 7200; ubah jadi 0 maka ketika pengguna menutup browser akan otomatis terlogout

karena keseringan perangkat yang lain lupa logout

[2022-02-21 06:21] scqolbu24 commented on #4922
sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/769

[2022-02-21 06:21] #4922 closed, assigned to yogiperdana

[2022-02-21 06:43] scqolbu24 commented on #4917
issue ini ditutup karena source code yang tidak dipakai, sehingga dihapus source tersebut,
perbaikannya perubahan teknis. pada PR https://github.com/OpenSID/premium/pull/772

[2022-02-21 06:43] #4917 closed, assigned to scqolbu24

[2022-02-21 07:22] agungsugiarto commented on #4913
Pak @mizwaruddin saya tidak bisa meriplikasi issuenya, bisa kirimkan format import pertama dan susulannya ke telegram saya?

[2022-02-21 08:50] scqolbu24 commented on #4911
sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/773

[2022-02-21 08:50] #4911 closed, assigned to agungsugiarto

[2022-02-21 08:50] mizwaruddin commented on #4913
Ini sdh sya replikasi bareng Mas Sarwono via discord. Mas Sarwono jg mengalami bug ini.

[2022-02-21 09:24] scqolbu24 commented on #4897
pada issue ini disebabkan karena perbedaan format peta yaitu hasil KML google sehingga tidak dapat di import ke format GPX, solusinya adalah di convert dari KML ke GPX, dapat menggunakan https://mygeodata.cloud/converter/kml-to-gpx untuk konversinya.

dari penjelasan tersebut issue ini di close.

[2022-02-21 09:24] #4897 closed, assigned to nobody

[2022-02-21 09:38] scqolbu24 commented on #4923
untuk issue merupakan penambahan fitur bukan bug, karena untuk kategori dari awal permintaan fitur sudah sesuai.

[2022-02-21 09:51] scqolbu24 commented on #4881
sudah direplikasi lewat gmeet, tidak terjadi bug atau berjalan normal, maka dari itu issue ini di close.

[2022-02-21 09:51] #4881 closed, assigned to yogiperdana

[2022-02-21 10:44] ariandii opened #4929 "Permintaan fitur: Tersedianya Pengaturan Email melalui Halaman Admin"
### Apa kekurangan yg ingin diatasi?

Saat ini pengaturan untuk config email masih manual di file desa/config/config.php

Dibawah ini saat ingin tes melalui web berputar.

<img width="960" alt="image" src="https://user-images.githubusercontent.com/46939846/154939557-e090344a-9b46-4b7e-af33-202c6e97d0d0.png">

### Jelaskan solusi yg diinginkan

Tersedia pengaturan config email melalui halaman admin

[2022-02-21 11:01] ariandii opened #4930 "Bug/error: Error Info Covid"
### Jelaskan error yg dialami

<img width="960" alt="screenshot_298" src="https://user-images.githubusercontent.com/46939846/154942238-31eda0b5-4593-4149-b454-0005acf673a4.png">

<img width="960" alt="screenshot_299" src="https://user-images.githubusercontent.com/46939846/154942262-5a2eb93a-a16f-4271-a2f1-2aa4fb0a6a81.png">

### Cara untuk mereplikasi errornya

Seperti gambar di atas

### Hasil yg

[2022-02-21 11:55] #4912 closed, assigned to nobody

[2022-02-21 12:26] ariandii opened #4931 "Bug/error: Jumlah Data di Layanan Mandiri tidak sesuai seharusnya."
### Jelaskan error yg dialami

Ketika salah 1 penduduk yang sebelumnya telah dibuatkan akun login layanan mandiri, kemudian penduduk tersebut pindah/meninggal/dsb maka di tabel pendaftaran layanan mandiri baris penduduk tersebut tetap ada walau identitasnya sudah terhapus.

Penjelasan ada di gambar bawah ini.

### Cara untuk mereplikasi errornya

seperti di atas.

### Hasil yg diharapkan

Normal.

[2022-02-21 17:20] andifahruddinakas commented on #4643
Sudah digabung melalui PR https://github.com/OpenSID/premium/pull/775

[2022-02-21 17:20] #4643 closed, assigned to FirlianiF

[2022-02-21 17:49] #4927 closed, assigned to scqolbu24

[2022-02-21 23:18] eddieridwan commented on #4913
Bung @agungsugiarto , peran impor penduduk perlu ditinjau ulang. Karena bersifat agak rentan, dengan alur ketentuan yg kurang jelas. Terutama masalah status dasar. Sebaiknya status dasar tidak bisa diekspor/impor.

Terlihat ekspor/impor penduduk menjadi sumber banyak masalah yang dilaporkan pengguna, karena kerancuan alur/ketentuan saat ini.

**Mohon kita bahas dulu sebelum perbaikan diterapkan. T

[2022-02-22 02:19] scqolbu24 commented on #4907
sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/767

[2022-02-22 02:19] #4907 closed, assigned to yogiperdana

[2022-02-22 06:46] makhbub opened #4932 "Membuat Rincian APBDesa yang tampil di website"
### Jelaskan error yg dialami

menu Pembiayaan pada grafis APBDesa yang tampil di website tidak dirinci, padahal seharusnya pembiayaan itu terdiri atas
1. Penerimaan Pembiayaan (contoh: Silpa tahun sebelunya dan Pencairan Dana Cadangan)
2. Pengeluaran Pembiayaan (contoh : Penyertaan Modal Desa dan pembentukan dana Cadangan)

selain itu jumlah total Pembiayaan yang ditampilkan di grafis APBDesa mer

[2022-02-22 07:09] scqolbu24 commented on #4908
sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/768

[2022-02-22 07:09] #4908 closed, assigned to yogiperdana

[2022-02-22 09:46] Zoel-WB opened #4933 "[PREMIUM-22.02 BETA02] Koreksi Fitur Pengaduan"
### Jelaskan error yg dialami

Fitur belum belum stabil setelah memasuk kode captcha muncul pesan Kode captcha anda salah. Silakan ulangi lag, setelah klik tombol tutup...
![image](https://user-images.githubusercontent.com/64481641/155104701-bf3ad882-474b-4a11-893a-0c3e40f44af6.png)

Buka Kembali atau Klik Pengaduan lagi, form data sebelumnya masih terisi data sebelumnya yang dibuat gagal atau sal

[2022-02-22 10:24] eddieridwan opened #4934 "Permintaan fitur: Sesuaikan ketentuan bantuan PKH"
### Apa kekurangan yg ingin diatasi?

Saat ini modul bantuan tidak mendukung ketentuan pengelolaan bantuan PKH. Walaupun acuan resmi belum ditemukan, tapi artikel berikut menjelaskan ketentuan bantuan PKH terkait status kepala keluarga/penerima bantuan: https://blitarkota.go.id/id/berita/jika-penerima-manfaat-pkh-meninggal-bisa-dilanjutkan-ahli-waris

Acuan berikut menjelaskan program PKH secara l

[2022-02-22 10:33] Zoel-WB commented on #4933
INFORMASI TAMBAHAN--->PASSWORD LOGIN --->TAMPIL DI KOLOM E-MAIL PENGADUAN TAMPA SENSOR, atau mungkin dapat diabaikan karena pengaruh browser dengan terpasangnya "autocomplete"

![image](https://user-images.githubusercontent.com/64481641/155114587-39cffacc-c186-415e-b7d3-8f537ccf8d88.png)

[2022-02-22 15:37] scqolbu24 commented on #4931
pak @ariandii, saat ini pada table layanan mandiri ada field "aktif" yang mana apabila penduduk tersebut aktif maka dapat mengakses atau login di layanan mandiri.

Dan apabila penduduk tersebut pindah/meninggal/dsb, apakah baiknya hanya merubah field tersebut menjadi tidak aktif.

maksudnya tidak menghapus data pada tabel layanan mandiri agar tetap ada history

[2022-02-22 17:10] ariandii commented on #4931
nampaknya jika melihat gambar di atas, baris penduduk yang pindah, meninggal, hilang atau lainnya menjadi kosong.
NIK dan Nama terlihat kosong, dengan demikian history apa yang diharapkan?

[2022-02-22 23:36] scqolbu24 commented on #4931
Sesuai dengan judul pada issue ini bahwa "Jumlah Data di Layanan Mandiri tidak sesuai seharusnya",
yaitu jumlah layanan mandiri melebihi jumlah pada pada data penduduk,padahal penduduk tersebut sudah pindah/meninggal/dsb.

Pertanyaannya adalah, apakah penduduk yang pindah/meninggal/dsb pada layanan mandiri :
1. dihapus ?
2. tetap ada dan menampilkan nik serta  nama penduduk dengan status sudah tid

[2022-02-23 00:35] eddieridwan commented on #4931
@scqolbu24 dihapus saja. Karena penduduk tersebut sudah berubah status dasarnya: sudah mati, pindah, hilang. Sepertinya tidak ada manfaat disimpan riwayatnya sebagai pengguna Layanan Mandiri. Tetapi perlu dipastikan tidak ada dampak dari penghapusan itu.

Yaitu, yg perlu diterapkan:
1. Saat mengubah status dasar penduduk menjadi mati/hilang/pindah, hapus entrinya di pendaftar layanan mandiri
2. Mi

[2022-02-23 00:37] scqolbu24 commented on #4931
Baik pak @eddieridwan

[2022-02-23 02:16] agungsugiarto commented on #4930
Error ini karena api.kawalcorona.com yg sudah tidak bisa diakses?

[2022-02-23 04:47] scqolbu24 commented on #4931
sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/780

[2022-02-23 04:47] #4931 closed, assigned to agungsugiarto

[2022-02-23 05:35] scqolbu24 commented on #4921
sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/779

[2022-02-23 05:35] #4921 closed, assigned to agungsugiarto

[2022-02-23 09:32] yogiperdana opened #4935 "Bug/error: Kesalahan redirect ketika hapus kelompok dan lembaga"
### Jelaskan error yg dialami

Ketika menekan tombol hapus lembaga/kelompok, muncul pesan error Call to a member function hapus_peserta_dari_sasaran() on null

### Cara untuk mereplikasi errornya

1. Pergi ke menu kependudukan > kelompok
2. Hapus kelompok

### Hasil yg diharapkan

Setelah dihapus tidak muncul pesan error dan kembali ke halaman kelompok/lembaga

### Tangkapan layar dan log error

!

[2022-02-23 10:38] yogiperdana commented on #4909
Issue ini di-close karena bug tidak dapat direplikasi

[2022-02-23 10:38] #4909 closed, assigned to yogiperdana

[2022-02-23 18:07] Zoel-WB opened #4936 "[PREMIUM-BETA03] Tidak Dapat Menghapus Nama Program Bantuan"
### Jelaskan error yg dialami

Nama Program Bantuan Tidak Dapat Dihapus lewat system setelah semua data dikosongkan, Pada Kolom Jumlah Peserta Bantuan tetap ada satu data jumlah peserta yang tertera dalam kolom akan tetapi setelah dibuka datanya tidak ada atau kosong..

### Cara untuk mereplikasi errornya

1. Pilih Menu Bantuan
2. Pilih Salah Satu Nama Bantuan
3. Hapus Semua Data Peserta Program B

[2022-02-23 18:14] #4935 closed, assigned to yogiperdana

[2022-02-23 18:56] Zoel-WB opened #4937 "Permintaan fitur: Penambahan Kolom Keterangan Pada List Daftar Bantuan"
### Apa kekurangan yg ingin diatasi?

Permintaan Penambahan Kolom Keterangan Yang Ditampilkan Di List Daftar Bantuan untuk dapat menandakan dan memisahkan serta pengelompokan peserta bantuan sesuai dengan kategori tempat lokasi penyaluran/pencairan bantuan, misalnya seperti bantuan BPNT, BST biasanya tempat penyaluran berbeda-beda, ada BPNT/BST yang disalurkan oleh PT. Pos Indonesia dan ada yang d

[2022-02-23 19:21] andifahruddinakas commented on #4915
Sudah digabung melalui commit https://github.com/OpenSID/premium/commit/8999709d7ba664f85a894ad4c22d72ec5d4dc776

[2022-02-23 19:21] #4915 closed, assigned to scqolbu24

[2022-02-23 19:24] andifahruddinakas commented on #4933
Sudah diperbaiki melalui PR https://github.com/OpenSID/tema-natra/pull/91

[2022-02-23 19:24] #4933 closed, assigned to scqolbu24

[2022-02-23 20:17] Zoel-WB commented on #4936
Informasi Tambahan, Satu Data Yang masih terhitung dalam Jumlah Peserta-->Ternyata Data Penduduk yang telah berubah status dasar...
![image](https://user-images.githubusercontent.com/64481641/155401094-627f2593-b86d-4453-ad74-58656d103d21.png)

[2022-02-23 20:32] Zoel-WB opened #4938 "[PREMIUM-BETA03] Data Penduduk Yg Telah Berubah Status Dasar Masih Terhitung Dalam Data Statistik Program Bantuan Aktif"
### Jelaskan error yg dialami

Data Penduduk Yg Telah Berubah Status Dasar Masih Terhitung Dalam Data Statistik Program Bantuan Aktif

### Cara untuk mereplikasi errornya

Buka Statistik Program Bantuan
Cari Data Penduduk Yang Berubah Status Dasar Mati/Pindah/Hilang

### Hasil yg diharapkan

Agar Data Penduduk Yg telah merubah status dasar tidak lagi hitung dalam statistik program bantuan yang mas

[2022-02-24 01:20] eddieridwan commented on #4925
Bukannya fitur menghubungkan pertanyaan ke data penduduk sudah tersedia?

[2022-02-24 01:35] andifahruddinakas opened #4939 "Panduan"
- [x] 1. [#4803](https://github.com/OpenSID/OpenSID/issues/4803) Default no telpon pengguna saat buat surat di layanan mandiri.
- [x] 2. [#4767](https://github.com/OpenSID/OpenSID/issues/4767) Hanya tampilkan daftar Perangkat Desa yang aktif saat pilih Kepala Desa di Identitas Desa.
- [x] 3. [#4730](https://github.com/OpenSID/OpenSID/issues/4730) Urutan Nama Dusun Belum ter-Urut tampil pada menu c

[2022-02-24 03:09] scqolbu24 commented on #4930
Langkah untuk solusi ini dari hasil pertemuan rutin:
1. Apabila API yang digunakan masih belum ditemukan maka fitur di non aktifkan (data tidak ditemukan).
2. Mencari refrensi lain kepada pengguna yang menyediakan API Covid 19.

[2022-02-24 06:18] ariandii opened #4940 "Permintaan fitur: Pindah Tanggal Lengkap dan Data Lengkap Aktif"
### Apa kekurangan yg ingin diatasi?

Saat ini setiap ingin laporan harian atau bulanan, perlu akses menu pengaturan tersebih dahulu untuk sesuaikan tanggal data lengkap.

<img width="960" alt="screenshot_344" src="https://user-images.githubusercontent.com/46939846/155468889-c1b5b057-65ab-4101-8db8-73942f228e45.png">

### Jelaskan solusi yg diinginkan

Tersedia di popup aksi di Menu Laporan Bulana

[2022-02-24 07:26] Zoel-WB commented on #4925
Iya pak @eddieridwan maksud data-data yang sudah ada dalam biodata penduduk seperti "hubungan keluarga, pekerjaan, pendidikan terakhir, nama ayah kandung, nama ibu kandung" bisa langsung masuk otomatis tanpa harus mengimput ulang lagi...

[2022-02-24 10:44] Zoel-WB opened #4941 "[PREMIUM-BETA04] Input Data Keuangan setelah Di Imput Tekan Tombol Enter Data Tidak Tersimpan"
### Jelaskan error yg dialami

Saat input data keuangan manual, setelah selesai tekan enter keluar dari form input, akan tetapi data tidak tersimpan bila bukan di klik pada tombol simpan....

### Cara untuk mereplikasi errornya

1. Buka Data Keuangan-->Pilih Input Data
2. Pilih Salah Satu Item Keuangan yang akan di imput
3. Masukkan/Input data atau nilai
4. Tekan Enter..

### Hasil yg diharapkan

[2022-02-24 11:01] Zoel-WB opened #4942 "[PREMIUM-BETA04] Input atau Edit Data pada Fitur Pembangunan Filter Tahun Selalu Kembali Ke Default Setelah Data Disimpan"
### Jelaskan error yg dialami

Input atau Edit Data pada Fitur Pembangunan Filter Tahun Selalu Kembali Default Setelah Data Disimpan, sehingga untuk memilih edit data berikut harus selalu memfilter ulang tahun anggaran

### Cara untuk mereplikasi errornya

1. Buka Menu Pembangungan ---. Pilih Filter Tahun Anggaran
2. Pilih Jenis Kegiatan Pembangunan Yang Akan di Edit
3. Setelah Di Edit Klik Simpan

[2022-02-24 11:38] muhtar-coder opened #4943 "Permintaan fitur: Sesuaikan Template Format F-1.01 Dengan model Terbaru"
### Apa kekurangan yg ingin diatasi?

Ada formulir baru yang di keluarkan kemendagri untuk model F 1.01
pada model baru tersebut terdapat dua lembar formulir dalam satu jenis surat

### Jelaskan solusi yg diinginkan

Penyesuaian template formulir F 1.01 dengan yang terbaru
berikut model dari F 1.01 :
[Formulir F 1.01 terbaru.pdf](https://github.com/OpenSID/OpenSID/files/8132153/Formulir.F.1.01.ter

[2022-02-24 11:45] muhtar-coder opened #4944 "Permintaan fitur: Sesuaikan Format Surat Model F-1.02 Dengan Model Terbaru"
### Apa kekurangan yg ingin diatasi?

Ada model format surat F 1.02 terbaru yang perlu di sesuaikan di dalam template surat OpenSID.

### Jelaskan solusi yg diinginkan

Sesuaikan Format surat F 1.02 Dengan model terbaru

berikut ini model surat F 1.02 terbaru :
[formulir F 1.02 terbaru.pdf](https://github.com/OpenSID/OpenSID/files/8132175/formulir.F.1.02.terbaru.pdf)

### Apakah ada alternatif lai

[2022-02-24 11:53] muhtar-coder opened #4945 "Permintaan fitur: Sesuaikan Format Surat Model F 2.01 ( Pelaporan Kematian) Dengan Model Terbaru"
### Apa kekurangan yg ingin diatasi?

Ada Format Surat Model F 2.01 Dengan Model Terbaru

### Jelaskan solusi yg diinginkan

Sesuaikan Model Surat F 2.01 Dengan yang Terbaru
Berikut ini Model Surat F 2.01 Terbaru :
[Formulir F 2.01 terbaru.pdf](https://github.com/OpenSID/OpenSID/files/8132203/Formulir.F.2.01.terbaru.pdf)

### Apakah ada alternatif lain

Tidak ada

### Untuk versi OpenSID mana

sem

[2022-02-24 15:59] mizwaruddin opened #4946 "[PREMIUM] Bug/error: Duplikat data pada penduduk dengan status pindah belum tercover dalam fitur perbaiki"
### Jelaskan error yg dialami

Saat melakukan migrasi dari 22.02-beta03 ke beta04 muncul keterangan gagal migrasi dengan keterangan error: 2022-02-24 21:27:03  Data kolom email pada tabel tweb_penduduk ada yang duplikat dan perlu diperbaiki sebelum migrasi dilanjutkan.

Selanjutnya saya menggunakan fitur perbaiki, muncul keterangan database diperbaiki, email diubah menjadi array. Namun saat saya m

[2022-02-24 16:40] mizwaruddin opened #4947 "[PREMIUM] Bug/error: Tidak bisa mengunggah logo dan foto kantor desa di menu identitas desa"
### Jelaskan error yg dialami

Tidak bisa mengunggah logo dan foto kantor desa di menu identitas desa

### Cara untuk mereplikasi errornya

1. Info desa-> Identitas desa
2. Ubah data desa
3. Tidak bisa mengunggah logo dan foto kantor desa

### Hasil yg diharapkan

Fungsi unggah lambag dan kantor desa berjalan normal

### Tangkapan layar dan log error

![bug_identitas_desa](https://user-images.gith

[2022-02-24 16:41] mizwaruddin commented on #4767
Masih belum berfungsi

[2022-02-24 17:10] mizwaruddin opened #4948 "[PREMIUM] Bug/error: Tampilan detail pengaduan di admin tidak bekerja semestinya"
### Jelaskan error yg dialami

Tampilan pengaduan di dashboar admin harusnya di disable. Berikutnya gambar juga tampil terlalu besar.

### Cara untuk mereplikasi errornya

1. Pengaduan-> tampilkan detail
2. Field text input tidak di disable
3. Gambar tampil besar

### Hasil yg diharapkan

1. Field text input di disable
2. Gambar tampil normal

### Tangkapan layar dan log error

![bug_pengaduan](ht

[2022-02-24 17:16] mizwaruddin opened #4949 "[PREMIUM] Bug/error: Salah penulisan list select2 "Yang menerangkan kematian" pada ubah status dasar mati"
### Jelaskan error yg dialami

Salah penulisan list select2 "Yang menerangkan kematian" pada ubah status dasar mati

### Cara untuk mereplikasi errornya

1. Kependudukan-> penduduk
2. Ubah status dasar penduduk->mati
3. Pada isian "Yang menerangkan kematian" bagian list select2 tampil "Pilih penyebab kematian"

### Hasil yg diharapkan

Pada isian "Yang menerangkan kematian" bagian list select2 seh

[2022-02-24 17:21] mizwaruddin opened #4950 "[PREMIUM] Permintaan fitur: Rapikan tampilan tombol impor pada menu rumah tangga di tampilan handphone"
### Apa kekurangan yg ingin diatasi?

tampilan tombol impor pada menu rumah tangga di tampilan handphone tidak selaras dengan tombol-tombol lainnya.

![fitur_impor_rumahtangga](https://user-images.githubusercontent.com/39736008/155574885-86fad92f-9350-4adc-aeff-833de89d53f9.png)

### Jelaskan solusi yg diinginkan

tampilan tombol impor pada menu rumah tangga di tampilan handphone selaras dengan to

[2022-02-24 17:29] mizwaruddin opened #4951 "[PREMIUM] Bug/error: Pada cetak laporan lembaga tidak ada spasi antara sebutan kecamatan dan nama kecamatan"
### Jelaskan error yg dialami

Pada cetak laporan lembaga tidak ada spasi antara sebutan kecamatan dan nama kecamatan

### Cara untuk mereplikasi errornya

1. Info desa->lembaga desa-> cetak
2. Pada halaman cetak laporan, kop laporan bagian kecamatan tidak ada spasi antara sebutan kecamatan dan nama kecamatan

### Hasil yg diharapkan

Tambahkan spasi antara sebutan kecamatan dan nama kecamatan

##

[2022-02-24 23:49] mizwaruddin opened #4952 "[PREMIUM] Bug/error: Tampilan tambah anggota kelompok tidak rapi"
### Jelaskan error yg dialami

Tampilan tambah anggota kelompok tidak rapi

### Cara untuk mereplikasi errornya

1. Kependudukan-> kelompok
2. Rincian kelompok
3. Tambah Satu Anggota Kelompok / Tambah Beberapa Anggota Kelompok
4. Tampilan form tambah data anggota kelompok tidak rapi

### Hasil yg diharapkan

Tampilan form tambah data anggota kelompok rapi

### Tangkapan layar dan log error

![bug_

[2022-02-25 02:01] mizwaruddin opened #4953 "[PREMIUM] Bug/error: Nama anggota kelompok terdata masih tampil di list penambahan anggota"
### Jelaskan error yg dialami

Nama anggota kelompok terdata masih tampil di list penambahan anggota

### Cara untuk mereplikasi errornya

1. Kependudukan-> kelompok
2. Rincian kelompok-> Tambah anggota-> Tambah anggota satu orang/ Tambah anggota beberapa orang
3. Penduduk yang sudah terdata sebagai anggota kelompok masih tampil dalam list
4. Pilih anggota kelompok yang sama tersebut-> simpan
5. D

[2022-02-25 02:11] mizwaruddin opened #4954 "[PREMIUM] Bug/error: Nama penduduk yang mengandung tanda baca koma (,) tidak berfungsi"
### Jelaskan error yg dialami

Nama penduduk yang mengandung tanda baca koma (,) tidak berfungsi

### Cara untuk mereplikasi errornya

1. Kependudukan-> penduduk
2. Ketikkan nama penduduk yang mengandung tanda baca koma (,) di kotak pencarian
3. Data penduduk tersebut tidak tampil

### Hasil yg diharapkan

Nama penduduk yang mengandung tanda baca koma (,) tampil dalam pencarian

### Tangkapan laya

[2022-02-25 02:35] eddieridwan commented on #4954
Apa contoh nama di KTP atau Kartu Keluarga yg ada tanda koma (,)?
Beri tangkapan layarnya.

[2022-02-25 02:38] mizwaruddin commented on #4954
Ada, Bang. Contoh Asminah, HJ.

[2022-02-25 04:43] scqolbu24 commented on #4954
saya coba pakai pencarian menggunakan tanda baca (,) dapat menampilkan :

<img width="100%" alt="penduduk-spasi" src="https://user-images.githubusercontent.com/68048807/155655112-adc0b713-5b88-491e-9cd5-663c64e4585b.PNG">

[2022-02-25 05:35] eddieridwan commented on #4946
@andifahruddinakas @agungsugiarto : apakah issue ini sdh ada yg mengambil? Kalau belum biar saya kerjakan. Harap segera beritahu.

[2022-02-25 05:37] agungsugiarto commented on #4946
belum ada pak

[2022-02-25 05:38] eddieridwan commented on #4946
Ok, saya sudah ambil.

[2022-02-25 05:46] andifahruddinakas commented on #4953
Mas @scqolbu24, karena perubahan sebelumnya mengizinkan untuk mengganti nama anggota, tp pengecekan hanya dilakukan pada saat insert sj. Dmna perlu ada pengecualian untuk kasus update jika tdk ada perubahan pd id anggota tsb. Dan mungkin juga perlu di cek di bagian lemabaga krn kelompok dan lembaga menggunakan tabel yg sama, maka perlu adanya where tipe.

https://github.com/OpenSID/premium/pull/65

[2022-02-25 05:55] andifahruddinakas commented on #4953
Pak @mizwaruddin, list penduduk memang tetap ditampilkan tp jika disimpan akan ada notifikasi jika penduduk tsb sudah diterdatar.

[2022-02-25 06:39] yogiperdana commented on #4942
Issue ini termasuk ke dalam kategori permintaan fitur

[2022-02-25 06:44] Zoel-WB commented on #4942
Oke pak...

Dapatkan Outlook untuk Android<https://aka.ms/AAb9ysg>
________________________________
From: Yogi Perdana ***@***.***>
Sent: Friday, February 25, 2022 1:40:02 PM
To: OpenSID/OpenSID ***@***.***>
Cc: ZoelWB ***@***.***>; Author ***@***.***>
Subject: Re: [OpenSID/OpenSID] [PREMIUM-BETA04] Input atau Edit Data pada Fitur Pembangunan Filter Tahun Selalu Kembali Ke Default Setelah Data Dis

[2022-02-25 06:47] andifahruddinakas commented on #4953
Perbaikian :
1. Tampilkan daftar semua daftar penduduk hidup kecuali yang sudah terdafatar tp termasuk yg akan di ubah datanya.

[2022-02-25 06:56] yogiperdana commented on #4951
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/794

[2022-02-25 06:56] #4951 closed, assigned to scqolbu24

[2022-02-25 07:02] eddieridwan commented on #4946
Masalahnya karena adanya email user yg ganda, yg belum terdeteksi. Solusinya dengan menambah deteksi dan perbaiki email user ganda.

[2022-02-25 07:06] makhbub opened #4955 "Bug/error:"
### Jelaskan error yg dialami

Modul pembangunan, data pembangunan dengan status dinonaktifkan masih muncul di website

### Cara untuk mereplikasi errornya

1. pergi ke modul pembangunan, kemudian nonaktifkan salah satu kegiatan
2. kemudian pergi ke bagian website, cek apakan kegiatan yang dinonaktifkan masih tampil atau tidak

### Hasil yg diharapkan

maksud  penonaktifan kegiatan adalah supaya k

[2022-02-25 07:29] Zoel-WB opened #4956 "Permintaan fitur: Penambahan Tombol View Dokumen Pada Fitur Buku Agenda Surat Keluar"
### Apa kekurangan yg ingin diatasi?

Penambahan Fitur View Pada Dokumen Fitur Buku Agenda Surat Keluar

![image](https://user-images.githubusercontent.com/64481641/155673077-a93800be-1e17-4fe1-97f5-464daa934927.png)

### Jelaskan solusi yg diinginkan

Sama dengan tampilan Pada Fitur Buku Agenda Surat Masuk

![image](https://user-images.githubusercontent.com/64481641/155673019-36cbedd6-accd-4cbd-8

[2022-02-25 07:39] apidong commented on #4949
sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/793

[2022-02-25 07:39] #4949 closed, assigned to scqolbu24

[2022-02-25 07:54] andifahruddinakas commented on #4947
Sudah diperbaiki https://github.com/OpenSID/premium/commit/f2be1be1732e20ba32bbe2f7dd9a5f9ebbc841ac

[2022-02-25 07:54] #4947 closed, assigned to nobody

[2022-02-25 08:00] yogiperdana commented on #4952
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/800

[2022-02-25 08:00] #4952 closed, assigned to andifahruddinakas

[2022-02-25 08:12] makhbub opened #4957 "Bug/error: Jumlah bukan penerima pada laporan penerima bantuan keluarga tidak sama dengan jumlah pada kartu keluarga"
### Jelaskan error yg dialami

pada menu statistik > Bantuan Keluarga> Bantuan Aktif
pada tabel statistik jumlah keluarga yang tidak menerima bantuan aktif sudah benar, tapi saat di klik yang muncul jumlah keluarga yang tidak menerima bantuan (Baik aktif maupun tidak)

### Cara untuk mereplikasi errornya

1. menu statistik >bantuan keluarga, kemudian pilih bantuan aktif
2. perhatikan jumlah keluar

[2022-02-25 08:22] andifahruddinakas commented on #4946
Sudah digabung melalui PR https://github.com/OpenSID/premium/pull/798

[2022-02-25 08:22] #4946 closed, assigned to eddieridwan

[2022-02-25 08:28] Zoel-WB opened #4958 "[PREMIUM-BETA04] Pilihan Identitas-KTP-EL, Masih dapat memilih Status Rekam-> BELUM REKAM Data Penduduk"
### Jelaskan error yg dialami

Pilihan Identitas-KTP-EL, Masih dapat memilih Status Rekam-> BELUM REKAM Data Penduduk

### Cara untuk mereplikasi errornya

1. Buka Data Penduduk
2. Pilih Edit Data --. Pilih Identitas-KTP-EL
3. Pergi Ke Kolom Status Rekan --. Pilih BELUM REKAM
4. Simpan

### Hasil yg diharapkan

Bila Status KTP-EL yang di pilih Pada Kolom Status Rekam Mestinya Hanya Dapat Memilih C

[2022-02-25 08:39] Zoel-WB opened #4959 "[PREMIUM-BETA04] Dapat Menyimpan Data Penduduk Dengan Tanggal Penerbitan KTP Dimasa Akan Datang"
### Jelaskan error yg dialami

Dapat Menyimpan Dapat Penduduk Dengan Tanggal Penerbitan KTP Dimasa Akan Datang

### Cara untuk mereplikasi errornya

1. Buka Rubah/Input Data Penduduk
2. Gantikan/Input Tanggal Penerbitan KTP ke Tanggal Depan Nya Misalnya tanggal 20-06-2023
3. Klik Simpan

### Hasil yg diharapkan

Agak tidak dapat merekam/menyimpan data dengan tanggal penerbitan KTP diatas tanggal i

[2022-02-25 08:39] scqolbu24 commented on #4953
sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/797

[2022-02-25 08:39] #4953 closed, assigned to andifahruddinakas

[2022-02-25 08:45] Zoel-WB opened #4960 "[PREMIUM-BETA04] Kolom Input Pilihan Status Penduduk Tidak Aktif"
### Jelaskan error yg dialami

[PREMIUM-BETA04] Kolom Input Pilihan Status Penduduk Tidak Aktif

### Cara untuk mereplikasi errornya

Buka Data Penduduk --> Rubah Status Penduduk

### Hasil yg diharapkan

Agar Pilihan Status Penduduk dapat Dipilih atau Diganti untuk meng-antipasi salah pilihan dalam input data

### Tangkapan layar dan log error

![image](https://user-images.githubusercontent.com/6

[2022-02-25 09:06] eddieridwan commented on #4960
@Zoel-WB , perhatikan kalau penduduk adalah anggota keluarga, status penduduk HARUS tetap, dan tidak boleh diubah. Kalau kasus yg anda laporkan seperti itu, silakan ditutup saja.

Kalau status penduduk ingin diubah, pecah keluarga dulu.

[2022-02-25 09:09] eddieridwan commented on #4959
@Zoel-WB ini bukan bug. Belum pernah ada yg meminta data penerbitan KTP di masa akan datang. Jika ingin diterapkan, harap beri penjelasan mengapa diperlukan, apa dasarnya. Beri contoh kasusnya. Dan bagaimana menghindari diisi tanggal sembarang di masa datang.

[2022-02-25 09:10] scqolbu24 commented on #4955
sudah digabungkan melalui PR https://github.com/OpenSID/premium/pull/799

[2022-02-25 09:10] #4955 closed, assigned to andifahruddinakas

[2022-02-25 09:15] apidong commented on #4948
sudah diperbaiki melalui https://github.com/OpenSID/premium/pull/792

[2022-02-25 09:15] #4948 closed, assigned to scqolbu24

[2022-02-25 09:26] Zoel-WB commented on #4959
Maksudnya supaya tidak dapat mengimput data Tanggal Penerbitan KTP melebih atau diatas Tanggal Input Data pada system, tanggal yg dapat di input pada kolom Tanggal Penerbitan KTP maksimal tanggal input data ke system....

[2022-02-25 09:27] yogiperdana commented on #4930
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/786

[2022-02-25 09:27] #4930 closed, assigned to agungsugiarto

[2022-02-25 09:27] Zoel-WB commented on #4960
Oke pak,,,

[2022-02-25 09:27] #4960 closed, assigned to nobody

[2022-02-25 10:41] eddieridwan commented on #4959
Oohh... ok salah baca.

[2022-02-25 11:20] Zoel-WB opened #4961 "Permintaan fitur: Penambahan Fitur Bukan Peserta Program Bantuan Pada Filter Keluarga Program Bantuan"
### Apa kekurangan yg ingin diatasi?

1. Penambahan Fitur Pada Fitur Keluarga -> Pilih Aksi Lainnya ->Pencarian Program Bantuan
2. Permintaan Penambahan Fitur Filter Data Keluarga Bukan Peserta Dari Program Bantuan

### Jelaskan solusi yg diinginkan

![image](https://user-images.githubusercontent.com/64481641/155706495-e5c15072-2db4-4c6c-95ea-b4eba43443c3.png)

### Apakah ada alternatif lain

Memp

[2022-02-25 11:35] Zoel-WB opened #4962 "Permintaan fitur: Penambahan Filter Data pada Pilih Aksi Lainnya Penduduk Pada Pencarian Program Bantuan -> Pendudukan Bukan Peserta Program Bantuan"
### Apa kekurangan yg ingin diatasi?

1. Penambahan Filter Data Penduduk Pada Fitur Pilih Aksi Lainnya ->Pencarian Program Bantuan
2. Permintaan Satu Lagi Fitur Filter -> Bukan Peserta Program Bantuan

### Jelaskan solusi yg diinginkan

Penambahan Dimaksud adalah seperti screensote berikut :
![image](https://user-images.githubusercontent.com/64481641/155708174-3494eb92-3822-4e15-bd91-dc4b4f282750.

[2022-02-25 12:36] makhbub commented on #4961
Mungkin perlu diperjelas " bukan penerima bantuan yg masih aktiv"
Karena diaplikasi mungkin saja ada bantuan yg sudah tdk aktif, tapi sayang untuk dihapus

[2022-02-25 13:43] apidong commented on #4957
@makhbub jika ada kasus kepala keluarga atau KK tersebut tidak aktif (pecah keluarga karena Kepala keluarga meninggal).
apakah tetap di hitung?

[2022-02-25 14:00] makhbub commented on #4957
Untuk hal tersebut sebaiknya dibahas lebih dalam di issue tersendiri,
tpi kalau pendapat saya, selama masih ada di bantuan aktif, sebaiknya tetap dicatat. karena dalam beberapa kasus bantuan, apabila nama yg tercantum meninggal bantuan tetap bisa menerima bantuan selama ada ahli warisnya

Pokok issue yg saya angkat disini, di tabel statistik bantuan aktif, angka keluarga yg tidak menerima bantuan

[2022-02-25 14:05] Zoel-WB opened #4963 "[PREMIUM-BETA04] Peta Wilayah Desa Pilihan Warna Peta Tidak Tersimpan"
### Jelaskan error yg dialami

Saat Membuat Peta Wilayah Desa Pilihan Warna Peta Tidak Tersimpan

### Cara untuk mereplikasi errornya

1. Pilih Info Desa --> Indentitas Desa-> Pilih Koordinat Lokasi Kantor Desa
2. Pilih Peta Wilayah Desa-->Buat Peta Desa atau Inpor Peta dari KML-> Pilih Warna Yang Inginkan
3. Klik Simpan
4. Pergi Ke Fitur Pemetaan atau Ke website -->Tampilkan Peta

### Hasil yg di

[2022-02-25 14:13] scqolbu24 commented on #4959
sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/802

[2022-02-25 14:13] #4959 closed, assigned to yogiperdana

[2022-02-25 14:43] mizwaruddin opened #4964 "[PREMIUM] Permintaan fitur: Perbaiki gagal migrasi akibat tabel tidak lengkap"
### Apa kekurangan yg ingin diatasi?

Dalam fitur periksa, terdeteksi masalah gagal migrasi akibat ada tabel yang kurang. namun, masalah tersebut belum bisa diperbaiki melalui fitur periksa.

### Jelaskan solusi yg diinginkan

Masalah gagal migrasi akibat ada tabel yang tidak lengkap dapat diperbaiki melalui fitur periksa

### Apakah ada alternatif lain

-

### Untuk versi OpenSID mana

OpenSID 22

[2022-02-25 15:01] andifahruddinakas commented on #4963
Sudah di perbaiki melalui commit https://github.com/OpenSID/premium/commit/0683a1fc3fe6c3822a52552b017863eb0ec4390e

[2022-02-25 15:01] #4963 closed, assigned to andifahruddinakas

[2022-02-25 15:14] scqolbu24 commented on #4941
sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/795

[2022-02-25 15:14] #4941 closed, assigned to yogiperdana

[2022-02-25 15:47] yogiperdana commented on #4958
Issue ini merupakan permintaan perubahan alur dan harus didiskusikan dengan pengguna lain terlebih dahulu

[2022-02-25 15:54] yogiperdana commented on #4938
Issue ini tumpang tindih dengan issue https://github.com/OpenSID/OpenSID/issues/4936. Yaitu penduduk yang berubah status dasar tetap akan terdaftar pada program bantuan. Hal ini sudah didiskusikan bersama Pak @eddieridwan

[2022-02-25 15:54] #4938 closed, assigned to scqolbu24

[2022-02-25 15:55] scqolbu24 commented on #4954
Sudah dicek @yogiperdana dan @andifahruddinakas berjalan dengan normal, issue ini di close.

apabila dikemudian hari masih ditemukan bug, issue ini dapat dibuka kembali.

[2022-02-25 15:55] #4954 closed, assigned to nobody

[2022-02-25 16:47] Zoel-WB commented on #4938
Maksudnya terhitung dalam jumlah perserta program bantuan sedangkan data dalam list program tidak tampil lagi, begitu juga yang terjadi pada issue nomor #4936

[2022-02-25 16:51] Zoel-WB commented on #4936
Maksudnya terhitung dalam jumlah perserta program bantuan sedangkan data dalam list program tidak tampil lagi

[2022-02-26 02:45] eddieridwan commented on #4964
Bung @mizwaruddin menyediakan database dari Pasirlungu di mana masalah terkait issue ini ditemukan.

Ternyata masalah untuk database dari desa Pasirlangu bukan karena tabel ref_penduduk_hamil terhapus, tetapi disebabkan berbagai migrasi gagal karena ada NIK ganda dan No KK yg melebihi 16 karakter.

Solusinya menyediakan periksa/perbaiki untuk kedua masalah database tersebut.

[2022-02-26 04:17] andifahruddinakas commented on #4936
Sudah digabung melalui PR https://github.com/OpenSID/premium/pull/787

[2022-02-26 04:17] #4936 closed, assigned to yogiperdana

[2022-02-26 04:33] andifahruddinakas opened #4965 "Bug/error: Favicon tidak berubah setelah perbaharui logo desa"
### Jelaskan error yg dialami

Favicon tidak berubah setelah ubah data logo desa

### Cara untuk mereplikasi errornya

1. Buka indentitas desa
2. Buka ubah data desa
3. Ubah logo desa
4. Simpan

### Hasil yg diharapkan

Favicon berubah sesuai dengan logo yang diperbaharui

### Tangkapan layar dan log error

.

### Rilis Versi OpenSID

Rilis Premium

### Versi OpenSID

v22.02

### Tema Yang Digunak

[2022-02-26 04:38] apidong commented on #4965
ini karena masalah chace di browser mas @andifahruddinakas
coba lakukan setelah simpan.
buka google chrome dalam mode _**Incognito (Jendela samaran baru).**_
logo akan terupdate sesuai gambar yang barusan diubah.

[2022-02-26 05:22] apidong commented on #4965
sudah diperbaiki melalui https://github.com/OpenSID/premium/pull/806

[2022-02-26 05:22] #4965 closed, assigned to andifahruddinakas

[2022-02-26 08:42] Zoel-WB opened #4966 "[PREMIUM-BETA04] Filter Data Buku Inventaris dan Kekayaan Desa Tidak Berfungsi Normal"
### Jelaskan error yg dialami

Filter Data Menurut Tahun Perolehan Pada Buku Inventaris dan Kekayaan Desa Tidak Berfungsi seperti semestinya, misalnya memilih menampilkan data semua tahun->tampilannya data malah tidak tampil atau kosong, memilih tampilan data tahun 2022 malah menampilkan seluruh data yg seharusnya tahun 2022 belum ada data yg tercatat dalam Buku Inventaris dan Kekayaan Desa.

###

[2022-02-26 11:49] Zoel-WB opened #4967 "[OpenSID Mobile] Nama Penandatangan Pada Arsip Surat OpenSID Mobile Masih Muncul Nama Kepala Desa Bawaan"
### Jelaskan error yg dialami

Nama Penandatangan Pada Arsip Surat OpenSID Mobile Masih Muncul Nama Kepala Desa Bawaan System atas nama Muhammad Ilham

### Cara untuk mereplikasi errornya

1. Buka OpenSID Mobile
2. Pilih Arsip Surat

### Hasil yg diharapkan

Agar Sesuai dengan Nama Kepala Desa yang menanda tangan pada surat yg ada pada system OpenSID Desa

### Tangkapan layar dan log error

![imag

[2022-02-26 11:56] ariandii opened #4968 "Bug/error: perlu diperbaiki fieldnya pada kolom komentar"
### Jelaskan error yg dialami

Error ditemukan pada rilis premium terbaru

### Cara untuk mereplikasi errornya

Kirim komentar dengan isi script tertentu pada kolom nama

### Hasil yg diharapkan

normal

### Tangkapan layar dan log error

Hasil Log error gagal disimpan :
Query error: Data too long for column 'owner' at row 1 - Invalid query: INSERT INTO `komentar` (`komentar`, `owner`, `no_hp`, `e

[2022-02-26 12:01] ariandii opened #4969 "Bug/error: Notifikasi tidak sesuai Halaman Module"
### Jelaskan error yg dialami

Simpan Data Pendaftaran Kerjasama, namun Gagal dengan Notifikasi Lembaga.

### Cara untuk mereplikasi errornya

Klik Simpan pada module pendaftaran kerjasama, setelah sebelumnya gagal tambah lembaga.

### Hasil yg diharapkan

Pesan Error sesuai module masing-masing.

### Tangkapan layar dan log error

<img width="960" alt="image" src="https://user-images.githubuserco

[2022-02-26 13:42] #4964 closed, assigned to eddieridwan

[2022-02-26 16:27] mizwaruddin opened #4970 "[PREMIUM] Bug/error: Input NIK pada lupa pin layanan mandiri belum tervalidasi"
### Jelaskan error yg dialami

Saat melakukan lupa PIN, input PIN dapat diisi dengan sembarang karakter.

### Cara untuk mereplikasi errornya

1. Masuk login layanan mandiri
2. Klik lupa PIN
3. Isikan sembarang karakter ke input NIK
4. Semua karakter dapat diinputkan

### Hasil yg diharapkan

Input NIK dibatasi hanya angka dengan jumlah 16 digit

### Tangkapan layar dan log error

![bug_lupa_pin1]

[2022-02-26 16:30] apidong commented on #4968
sudah diperbaiki melalui https://github.com/OpenSID/premium/pull/809

[2022-02-26 16:30] #4968 closed, assigned to andifahruddinakas

[2022-02-26 16:37] mizwaruddin opened #4971 "[PREMIUM] Bug/error: NIK tidak terdaftar di layanan mandiri muncul notif berhasil kirim PIN ke telegram/email pada fitur lupa PIN"
### Jelaskan error yg dialami

NIK tidak terdaftar di layanan mandiri muncul notif berhasil kirim PIN ke telegram/email pada fitur lupa PIN

### Cara untuk mereplikasi errornya

1. Masuk ke layanan mandiri
2. Klik lupa PIN
3. Inputkan NIK sembarang (tidak terdaftar di layanan mandiri)
4. Klik telegram/email
5. Muncul notif berhasil kirim PIN ke telegram/email

### Hasil yg diharapkan

Lupa PIN han

[2022-02-26 16:40] andifahruddinakas commented on #4966
Untu filter tahun di modul ini, jika memilih semua tahun sama saja kalau memilih filter tahun sekarang. Misalnya kasus di issue ini, semua tahun == 2022, tapi terjadi masalah krn tdk tampil.

[2022-02-26 16:48] mizwaruddin opened #4972 "[PREMIUM] Bug/error: Total anggaran pada tambah pembangunan tidak terisi jika input sumber anggaran menggunakan up/down"
### Jelaskan error yg dialami

Total anggaran pada tambah pembangunan tidak terisi jika input sumber anggaran menggunakan up/down. Total anggaran terisi jika sumber anggaran diketik.

### Cara untuk mereplikasi errornya

1. Pembangunan-> tambah data
2. Pada isian sumber anggaran gunakan tanda up/down untuk menambahkan jumlah anggaran
3. Pada field anggaran tidak terisi

### Hasil yg diharapkan

Fi

[2022-02-26 16:50] andifahruddinakas commented on #4972
Sudah diperbaiki.

![akas12](https://user-images.githubusercontent.com/57283157/155851650-d61b430b-9dea-4fcb-a211-c31e77760b5c.png)

[2022-02-26 16:50] #4972 closed, assigned to nobody

[2022-02-26 17:03] apidong commented on #4969
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/810

[2022-02-26 17:03] #4969 closed, assigned to andifahruddinakas

[2022-02-26 17:20] mizwaruddin opened #4973 "[PREMIUM] Bug/error: Kesalahan penulisan contoh no di media sosial"
### Jelaskan error yg dialami

Pada contoh input nomor HP/WA di sosial media wap (085xxxxx), namun ketika diinputkan sesuai format contoh terjadi gagal mengirim pesan.

### Cara untuk mereplikasi errornya

1. Admin Web-> Sosial Media-> WAPP
2. Isikan nomor sesuai format contoh
3. Gagal mengirim pesan karena nomor tidak valid

### Hasil yg diharapkan

Pada format contoh seharusnya +62xxxxxxxxx

###

[2022-02-26 17:26] mizwaruddin opened #4974 "[PREMIUM] Bug/error: Kurang satu kolom pada tabel pendapat"
### Jelaskan error yg dialami

Kurang satu kolom pada tabel pendapat

### Cara untuk mereplikasi errornya

1. Layanan Mandiri-> Pendapat
2. Lihat pada tabel pendapat-> kurang satu kolom

### Hasil yg diharapkan

Jumlah kolom sesuai antara th dengan td

### Tangkapan layar dan log error

![bug_pendapat](https://user-images.githubusercontent.com/39736008/155852931-bbc480cf-ed50-436f-b636-b418f35ba40

[2022-02-26 17:56] apidong commented on #4966
sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/811

[2022-02-26 17:56] #4966 closed, assigned to andifahruddinakas

[2022-02-26 18:51] andifahruddinakas commented on #4971
Pak @mizwaruddin, terkait notifikasi bisa cek pembahasan di issue https://github.com/OpenSID/OpenSID/issues/4674

[2022-02-26 19:15] apidong commented on #4973
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/814

[2022-02-26 19:15] #4973 closed, assigned to andifahruddinakas

[2022-02-26 22:57] scqolbu24 commented on #4971
issue ini kami tutup, karena bukan bug, sudah dipertimbangkan pada issue https://github.com/OpenSID/OpenSID/issues/4674

[2022-02-26 22:57] #4971 closed, assigned to nobody

[2022-02-26 23:22] scqolbu24 commented on #4957
sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/804

[2022-02-26 23:22] #4957 closed, assigned to apidong

[2022-02-26 23:45] scqolbu24 commented on #4974
sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/813

[2022-02-26 23:45] #4974 closed, assigned to andifahruddinakas

[2022-02-27 06:19] Zoel-WB opened #4975 "[PREMIUM-BETA04] Masih Ada Satu Lagi : Filter Vaksin Dosis 1, Masih Menampilkan Data Vaksin Dosis ke 2 Dalam List"
### Jelaskan error yg dialami

Filter Data  Vaksin Dosis ke 1, akan tetapi Masih Menampilkan Data Vaksin Dosis ke 2 dalam list

![image](https://user-images.githubusercontent.com/64481641/155870619-8ac653b0-8374-419f-9956-4f53df7cc4a4.png)

### Cara untuk mereplikasi errornya

1. Buka Fitur Vaksin
2. Pilih Filter Vaksin Dosis 1
3. Perhatikan di Kolom Keterangan Vaksin Dosis ke 2 juga tampil

### H

[2022-02-27 06:56] andifahruddinakas commented on #4975
@FirlianiF, keterangan (view) saja yg disesuaikan jika ada filter. krn filternya sendiri sy cek sudah sesuai.

[2022-02-27 09:39] #4975 closed, assigned to FirlianiF

[2022-02-27 10:34] yudhaputra555 opened #4976 "Permintaan fitur:"
### Apa kekurangan yg ingin diatasi?

sediakan pengguna akses level khusus publish lapak

### Jelaskan solusi yg diinginkan

sediakan pengguna akses level khusus publish lapak

### Apakah ada alternatif lain

sediakan pengguna akses level khusus publish lapak

### Untuk versi OpenSID mana

versi rilis umum 22.02

### Informasi tambahan

_No response_

[2022-02-27 14:36] ariandii commented on #4976
sudah ada, bebas saja mau kasih level menu apa saja.

hanya lapak pun bisa.
silakan masuk menu Pengaturan -> Pengguna dan buat group nya.

Jika demikian bisa close issue ini

[2022-02-27 14:54] andifahruddinakas commented on #4976
https://github.com/OpenSID/OpenSID/wiki/Pengguna#pengelolaan-group-pengguna

[2022-02-27 14:54] #4976 closed, assigned to nobody

[2022-02-27 15:32] apidong commented on #4970
sudah diperbaiki di pr https://github.com/OpenSID/premium/pull/816

[2022-02-27 15:32] #4970 closed, assigned to scqolbu24

[2022-02-28 12:24] eddieridwan opened #4977 "Pasang pengumuman otomatis yang dikirim dari Pantau"
Pasang pengumuman di web publik desa. Untuk menampilkan pengumuman seperti Webinar OpenDesa.

Ada pengaturan supaya desa dapat menentukan apakah pengumuman akan ditampilkan atau tidak.

Ini merupakan satu use case dari pengelolaan notifikasi di OpenSID secara lebih umum. Use case notifikasi lain yg juga dibutuhkan adalah:

- [ ] notifikasi untuk ditampilkan di web admin saja,

Sedangkan sumber not

[2022-02-28 14:27] Zoel-WB opened #4978 "[PREMIUM-BETA04] Tidak Dapat Menghapus ataupun Mengedit Format Surat Desa Tambahan"
### Jelaskan error yg dialami

1. Tambahan Baru Format Surat Desa--> Setelah Dibuat Tidak Dapat Lagi Dihapus ataupun untuk Di Edit Kembali;
2. Saat Memilih Tombol Hapus --> System Hanya Menghapus "Kode/Klasifikasi Surat" Sedangkan Nama Suratnya Tidak Terhapus;

![image](https://user-images.githubusercontent.com/64481641/155998286-5e52371a-da5c-4187-afe4-94df05077878.png)

### Cara untuk mereplikas

[2022-02-28 14:33] mranca opened #4979 "File unduh kartu keluarga sebaiknya menggunakan format date dd-mm-yyyy"
### Jelaskan error yg dialami

Sebaiknya unduh kartu keluarga tanggal lahir menggunakan format date dd-mm-yyyy

### Cara untuk mereplikasi errornya

Gunakan format tanggal lahir tipe dd-mm-yyyy

### Hasil yg diharapkan

![Screenshot_20220228_222302](https://user-images.githubusercontent.com/76085245/156000521-d8ad6f49-a2cb-4bd3-9b89-86cc961d9ff1.jpg)

### Tangkapan layar dan log error

![Screensho

[2022-02-28 16:07] Zoel-WB opened #4980 "[PREMIUM] Pengaturan Indikator Analisis -> Tambah Indikator & Pertanyaan Tidak Dapat Memilih Secara Langsung Pilihan Tipe Pertanyaan"
### Jelaskan error yg dialami

Saat Menambah Indikator & Pertanyaan,  Tidak Dapat Memilih Secara Langsung Pilihan Tipe Pertanyaan (Pilihan Tipe Pertanyaan No Aktif), Setelah Indikator Pertanyaan Disimpan --. Harus Memilih Kembali Tombol Edit Untuk Memilih/Merubah Tipe Pertanyaan.

### Cara untuk mereplikasi errornya

1. Buka Fitur Analisis -> Pilih Master Analisis
2. Buat Tambah Analisis Baru
3. B

[2022-02-28 18:15] Zoel-WB opened #4982 "Permintaan fitur : Panjang Tulisan (Jumlah Karakter) Kolom Klasifikasi Analisis"
### Apa kekurangan yg ingin diatasi?

Permintaan Tambah Pangjang Jumlah Karakter Kolom Klasifikasi Analisis pada Fitur Master Analisis, saat jumlah karakter yang masukkan/di input sangat  terbatas sehingga membuat keterangan Klasifikasi Analisis kurang maksimal

![image](https://user-images.githubusercontent.com/64481641/156035695-bfbfe061-8fbf-42c7-879a-3e13ffd6d6d5.png)

### Jelaskan solusi yg d

[2022-02-28 21:07] FirlianiF commented on #4939
![Capture](https://user-images.githubusercontent.com/30171560/156058736-f6d9707f-e5f9-40bb-baae-746fd94ec67b.PNG)
![2](https://user-images.githubusercontent.com/30171560/156058744-8e54bdcb-3ab5-4157-aa72-fd25c2f10f5a.PNG)

[2022-02-28 21:09] FirlianiF commented on #4939
![3](https://user-images.githubusercontent.com/30171560/156059008-aa519b2d-fefd-493d-9d76-e7af5a36f3ac.PNG)

[2022-02-28 21:26] FirlianiF commented on #4939
![vv](https://user-images.githubusercontent.com/30171560/156061227-fc890882-85c0-4e6b-a3ae-5044d3c59b10.PNG)

[2022-02-28 21:44] FirlianiF commented on #4939
![151694809-d2e39762-dda3-4921-aff5-5b5c78c0735e](https://user-images.githubusercontent.com/30171560/156063653-0474ec7b-b9ee-4a43-9eb0-ff353eeba3eb.png)

[2022-02-28 22:19] FirlianiF commented on #4939
![TEMA](https://user-images.githubusercontent.com/30171560/156067889-1899ef53-1ac8-4d16-9ab2-acf1f73b31ed.PNG)

[2022-02-28 22:30] FirlianiF commented on #4939
![kelompok - Copy (2)](https://user-images.githubusercontent.com/30171560/156069241-7754d9e0-fe0f-4c55-88b2-ff71f668dd41.PNG)
![kelompok - Copy](https://user-images.githubusercontent.com/30171560/156069248-923926ec-0b05-446f-ace7-a6c5417cb198.PNG)
![kelompok](https://user-images.githubusercontent.com/30171560/156069249-e29df5ba-856a-42a1-b3b9-6af1d06c4c15.PNG)

[2022-02-28 22:42] FirlianiF commented on #4939
![adu](https://user-images.githubusercontent.com/30171560/156070577-30948698-dcb5-46ff-96a2-0c518304a991.PNG)

[2022-02-28 22:52] FirlianiF commented on #4939
![1](https://user-images.githubusercontent.com/30171560/156071732-2fa0ad98-878e-49e5-9a33-6b52eaea4ce3.PNG)

[2022-02-28 23:07] FirlianiF commented on #4939
![impor - Copy](https://user-images.githubusercontent.com/30171560/156073336-dec13721-24a2-48f4-84e2-14fba648a58f.PNG)
![ok](https://user-images.githubusercontent.com/30171560/156073342-4e83f0f0-88df-4b18-b4ca-8bfd3c2172e3.PNG)

[2022-02-28 23:27] FirlianiF commented on #4939
![modal](https://user-images.githubusercontent.com/30171560/156076047-b03c6e2b-3fba-4af6-8f91-7033f022105b.PNG)
![modal - Copy](https://user-images.githubusercontent.com/30171560/156076052-34c104ba-f945-4ba4-b8dc-10fd0d229cf1.PNG)

[2022-02-28 23:46] FirlianiF commented on #4939
![pilih pin](https://user-images.githubusercontent.com/30171560/156077857-f9834139-9524-4e72-a514-c0b4cb721cec.PNG)
![pin email](https://user-images.githubusercontent.com/30171560/156077861-d353b52a-8d82-4584-9f24-d812e53915d1.PNG)
![emailna](https://user-images.githubusercontent.com/30171560/156077865-2981ff4d-9033-4b1d-91b8-c74508d6e215.PNG)

[2022-03-01 00:04] FirlianiF commented on #4939
![vaksin](https://user-images.githubusercontent.com/30171560/156079532-eebcc612-85f0-4edc-b03c-3a606d021fb5.PNG)
![2](https://user-images.githubusercontent.com/30171560/156079537-eb9070fd-e499-4800-a1f4-2196855c159a.PNG)

[2022-03-01 00:38] FirlianiF commented on #4939
![ok](https://user-images.githubusercontent.com/30171560/156082512-d4821bd7-ed34-42b1-b38e-b6d78b71f9d5.PNG)
![vaksin excel](https://user-images.githubusercontent.com/30171560/156082517-06a802be-1e97-45c0-bc43-041058666904.PNG)
![catatan excel](https://user-images.githubusercontent.com/30171560/156082519-ef1c0a80-7e86-464d-a2c2-5663f3ca1ae2.PNG)
![modal](https://user-images.githubusercontent.com/3

[2022-03-01 00:45] FirlianiF commented on #4939
![modal](https://user-images.githubusercontent.com/30171560/156083016-3a1b9e26-6023-4f0a-bb58-571415d95efd.PNG)

![modal - Copy](https://user-images.githubusercontent.com/30171560/156083021-87059ea4-4546-435a-9988-a83e71c05255.PNG)

[2022-03-01 01:03] FirlianiF commented on #4939
![tahun](https://user-images.githubusercontent.com/30171560/156084879-5aa9500f-7db4-42b0-90b3-296f180a94c4.png)

[2022-03-01 02:42] Zoel-WB opened #4983 "[PREMIUM v22.03] Fitur Buku Inventaris dan Kekayaan Desa Error 500"
### Jelaskan error yg dialami

Fitur Buku Inventaris dan Kekayaan Desa Error 500

### Cara untuk mereplikasi errornya

1. Buku Buku Administrasi Desa
2. Klik Buku Administrasi Umum
3. Klik Buku Inventaris dan Kekayaan Desa

### Hasil yg diharapkan

Dapat Normal Kembali sesuai dengan fungsinya

### Tangkapan layar dan log error

![image](https://user-images.githubusercontent.com/64481641/156094467-

[2022-03-01 05:11] andifahruddinakas opened #4984 "Bug/error: cek tabel dengan kolom id/lainnya yg Auto Increment nya hilang"
### Jelaskan error yg dialami

Tidak dapat menyimpan data jika kolom id tdk memeliki Auto Increment

### Cara untuk mereplikasi errornya

insert komentar menggunakan database bermasalah

### Hasil yg diharapkan

Tabel normal kembali

### Tangkapan layar dan log error

null

### Rilis Versi OpenSID

Rilis Premium

### Versi OpenSID

v22.03

### Tema Yang Digunakan

bawaan

### Informasi tambahan

G

[2022-03-01 05:11] andifahruddinakas commented on #4984
Ini pak @eddieridwan

[2022-03-01 05:24] balongbesuk opened #4985 "Bug/error: sitemap.xml masih menggunakan index.php"
### Jelaskan error yg dialami

https://berputar.opensid.or.id/sitemap.xml

### Cara untuk mereplikasi errornya

https://berputar.opensid.or.id/sitemap.xml

### Hasil yg diharapkan

alamat web pada sitemap.xml tanpa index.php

### Tangkapan layar dan log error

-

### Rilis Versi OpenSID

Rilis Premium

### Versi OpenSID

-

### Tema Yang Digunakan

-

### Informasi tambahan

alamat web pada artike

[2022-03-01 06:06] mizwaruddin commented on #4836
@yogiperdana di detail penduduk kolom tgl dan nomor akta jika kosong masih tercatat sebagai kawin tercatat.

[2022-03-01 06:08] andifahruddinakas commented on #4836
@yogiperdana, cek modul lain yg berkaitan dengan status perkawinan ini.

[2022-03-01 06:54] andifahruddinakas opened #4986 "Bug/error: Perbaikan saat pemeriksaan untuk kasus username yg duplikat (sama / tdk uniq)"
### Jelaskan error yg dialami

Saat update ke versi 22.03-premium, dilakukan pemeriksaan database dan terjadi error duplikasi username

### Cara untuk mereplikasi errornya

Update ke versi 22.03-premium dengan menggunakan DB bermasalah tsb

### Hasil yg diharapkan

Ada tombol perbaikan otomatis

### Tangkapan layar dan log error

![photo_2022-03-01_14-50-09](https://user-images.githubusercontent.c

[2022-03-01 07:09] andifahruddinakas opened #4987 "Bug/error: Tampilan terlalu kecil"
### Jelaskan error yg dialami

Judul terlalu kecil

### Cara untuk mereplikasi errornya

Buka modul siaga-covid19 > vaksin > daftar penerima > buka/lihat (tekan tombol mata) salah 1 penduduk.

![vaksin foto](https://user-images.githubusercontent.com/57283157/156121529-0d92152d-4b46-44c2-a7c2-2fdc46a9a700.jpg)

### Hasil yg diharapkan

Tulisan lebih besar yg mudah dilihat

### Tangkapan layar dan l

[2022-03-01 07:23] andifahruddinakas opened #4988 "Bug/error: tambahkan validasi log error yg ditampilkan"
### Jelaskan error yg dialami

Jika terjadi error validasi misalnya menginput `<script>alert('akas')</script>` pada modul yg belum ada validasi, error tsb akan tercata ke log. Jika modul info_system akan mengeksekusi `<script>alert('akas')</script>` tsb

### Cara untuk mereplikasi errornya

Lakukan inpu pada modul yg belum memiliki validasi
test input `<script>alert('akas')</script>`

### Hasil yg

[2022-03-01 08:21] Zoel-WB opened #4989 "[PREMIUM-22.03] Pesan Log Error Setelah Migrasi"
### Jelaskan error yg dialami

Setalah melakukan Migrasi, Migrasi Berjalan dengan Baik dan Sukses, akan tetapi ada banyak pesan log error seperti :
uzzleHttp\Exception\ConnectException: cURL error 6: Could not resolve host: layanan.opendesa.idindex.php (see https://curl.haxx.se/libcurl/c/libcurl-errors.html) for https://layanan.opendesa.idindex.php/api/v1/pelanggan/catat-versi in /home/teupinbe/pu

[2022-03-01 08:51] andifahruddinakas commented on #4989
Layanan sudah di update, silahkan di cek lg.

[2022-03-01 08:51] #4989 closed, assigned to nobody

[2022-03-01 11:03] mranca opened #4991 "Hasil unduh data rumah tangga tidak ada"
### Jelaskan error yg dialami

Data tidak ada yang tampil

### Cara untuk mereplikasi errornya

Dashboard  > rumah tangga > laporan > unduh

### Hasil yg diharapkan

Harusnya ada yang tampil datanya

### Tangkapan layar dan log error

.

### Rilis Versi OpenSID

Rilis Premium

### Versi OpenSID

22.03

### Tema Yang Digunakan

Silir

### Informasi tambahan

_No response_

[2022-03-01 12:51] Zoel-WB opened #4992 "[Premium V22.03] Tanggal Penerbitan KTP Setelah Edit/Ubah Data Berubah menjadi tanggal sekarang atau tanggal simpan data"
### Jelaskan error yg dialami

Tanggal Penerbitan KTP Setelah Edit/Ubah Data Berubah Otomatis menjadi tanggal sekarang atau tanggal simpan data

### Cara untuk mereplikasi errornya

1. Buka Data Penduduk-->Pilih Ubah Data
2. Ubah data apa saja sebagai contoh--> Pilih Simpan.
3. Klik Buka Kembali Biodata Penduduk--> Perhatikan Kolom Tanggal Penerbitan KTP

### Hasil yg diharapkan

Tetap Sesuai deng

[2022-03-01 18:35] #4983 closed, assigned to nobody

[2022-03-02 02:58] agungsugiarto commented on #4988
di modul apa saja mas @andifahruddinakas ?

[2022-03-02 03:04] agungsugiarto commented on #4986
mas bisa kirim contoh database yg bermasalah ?

[2022-03-02 03:21] andifahruddinakas commented on #4986
yg punya gak mau kasih databse, untuk duplikasi ini hapus uniq key di tabel user kolom username. buat data yg sama.

[2022-03-02 03:25] andifahruddinakas commented on #4988
untuk issue ini khusus info_system, yg menampilkan log yg berisi script. Misalnya :
ERROR - 2022-03-01 14:10:36 --> Query error: Data too long for column 'kode_surat' at row 1 - Invalid query: UPDATE tweb_surat_format SET kode_surat = '<script>alert('akas')</script>', nama = 'ltscript srchttpsbitly3uMU03Kgtltscriptgt', masa_berlaku = '1', satuan_masa_berlaku = 'M', qr_code = '0', mandiri = '1'
WHE

[2022-03-02 04:09] andifahruddinakas commented on #4959
@scqolbu24, @yogiperdana ada masalah saat melakukan mau melakukan update.

[2022-03-02 04:11] andifahruddinakas commented on #4992
@scqolbu24, @yogiperdana ada masalah saat melakukan mau melakukan update.

![photo_2022-03-02_11-49-35](https://user-images.githubusercontent.com/57283157/156293218-ec12ac91-8909-4e15-984b-d63e9312298f.jpg)

[2022-03-02 04:29] andifahruddinakas commented on #4992
Masalah ada di cache, perlu dihapus terlebih dahulu.

[2022-03-02 04:29] #4992 closed, assigned to nobody

[2022-03-02 04:44] #4987 closed, assigned to yogiperdana

[2022-03-02 04:47] andifahruddinakas commented on #4980
Cek web https://berputar.opensid.or.id/analisis_indikator/form sudah tdk ada masalah, silahkan issue ini dibuka kembali jika masih menemukan masalah tsb.

![analisis 1](https://user-images.githubusercontent.com/57283157/156296890-53906722-69cb-4e56-9adb-872dceeb7669.png)

[2022-03-02 04:47] #4980 closed, assigned to nobody

[2022-03-02 08:05] andifahruddinakas opened #4993 "Bug/error: Periksa otomatis tabel tweb_cluster, field id_cluster jika deteksi error"
### Jelaskan error yg dialami

Terjadi error jika database tdk sesuai dengan ketentuan dan akan di alihkan ke halaman periksa.

### Cara untuk mereplikasi errornya

Gunakan database bermalalah pada tabel tweb_keluarga field id_cluster berisi null

### Hasil yg diharapkan

Tersedia tombol periksa otomatis

### Tangkapan layar dan log error

![error db 1](https://user-images.githubusercontent.com/57

[2022-03-02 09:14] Zoel-WB opened #4994 "[PREMIUM V22.03] Setelah Sukses Inpor Program Bantuan->Tombol Tambah Peserta Baru Hilang"
### Jelaskan error yg dialami

Setelah melakukan inpor perserta program bantuan sasaran keluarga sukses, buka kembali, pada fitur Program Bantuan, Tombol Tambah Peserta Baru Ikut Hilang (tidak ditampilkan lagi setelah inpor data)

### Cara untuk mereplikasi errornya

1. Buka Fitur Program Bantuan.
2. Lakukan Inpor Data Peserta Program Baik Sasaran Kerluarga maupun Sasaran Penduduk
3. Setelah Di In

[2022-03-02 09:32] Zoel-WB commented on #4994
Tanggalnya yg keliru......

[2022-03-02 09:32] #4994 closed, assigned to nobody

[2022-03-02 12:52] yogiperdana commented on #4979
Issue ini termasuk ke dalam kategori permintaan fitur dan bukan bug

[2022-03-03 00:20] yogiperdana opened #4995 "Permintaan fitur: pindah import dan export penduduk ke modul penduduk"
### Apa kekurangan yg ingin diatasi?

Saat ini fitur untuk impor data rumah tangga ada di `Pengaturan > Database > Impor dan Export Database` yang membingungkan bagi pengguna pemula.

### Jelaskan solusi yg diinginkan

Pindahkan impor dan export data penduduk ke modul penduduk.

- [ ] Pindahkan import ke modul penduduk
- [ ] Pindahkan import BIP ke modul penduduk
- [ ] Pindahkan export ke modul pe

[2022-03-03 00:33] yogiperdana opened #4996 "Permintaan fitur: penyesuaian import penduduk"
### Apa kekurangan yg ingin diatasi?

Saat ini banyak yang menggunakan fitur import penduduk tidak sesuai dengan fungsinya seperti melakukan restore data penduduk dan mengubah struktur dan keanggotaan keluarga

### Jelaskan solusi yg diinginkan

Agar fitur import penduduk digunakan sebagaimana mestinya yaitu memasukkan data penduduk awal dan data susulan secara massal serta mengubah data penduduk

[2022-03-03 00:36] yogiperdana opened #4997 "Permintaan fitur: penyesuaian import BIP"
### Apa kekurangan yg ingin diatasi?

Saat ini banyak yang menggunakan fitur import penduduk tidak sesuai dengan fungsinya seperti melakukan restore data penduduk

### Jelaskan solusi yg diinginkan

Agar fitur import penduduk digunakan sebagaimana mestinya yaitu memasukkan data penduduk awal secara masal.

- Tidak dapat mengimpor BIP kalau data penduduk telah ada
- Penambahan penduduk akan otomati

[2022-03-03 00:42] yogiperdana opened #4998 "Permintaan fitur: penyeuaian export data penduduk"
### Apa kekurangan yg ingin diatasi?

Saat ini banyak yang menggunakan fitur export penduduk tidak sesuai dengan fungsinya seperti melakukan backup data penduduk

### Jelaskan solusi yg diinginkan

Agar fitur import penduduk digunakan sebagaimana mestinya yaitu mengirim data ke aplikasi lain dan membuat daftar penduduk untuk perubahan data secara massal.

- Mengekspor penduduk sesuai filter
- Meng

[2022-03-03 01:08] andifahruddinakas commented on #4985
Sudah digabung melalui PR https://github.com/OpenSID/premium/pull/823

[2022-03-03 01:08] #4985 closed, assigned to agungsugiarto

[2022-03-03 01:23] andifahruddinakas commented on #4988
Sudah digabung melalui PR https://github.com/OpenSID/premium/pull/824

[2022-03-03 01:23] #4988 closed, assigned to agungsugiarto

[2022-03-03 01:37] andifahruddinakas commented on #4991
Sudah digabung melalui PR https://github.com/OpenSID/premium/pull/822

[2022-03-03 01:37] #4991 closed, assigned to agungsugiarto

[2022-03-03 02:11] totoprayogo1916 commented on #4424
maaf, ini ada contoh kasusnya?
maksudnya link aktif yang bisa dicoba.

[2022-03-03 02:14] andifahruddinakas commented on #4424
Mas @totoprayogo1916, Bisa cek langsung ke website desa pak @ariandii.

https://www.natairaya.desa.id/

[2022-03-03 02:38] totoprayogo1916 commented on #4424
karena openSID menggunakan dynamic url,
jadi link yang dihasilkan dari `base_url()` maupun `site_url()` akan menyesuaikan client nya...
solusi yang memungkinkan adalah menggunakan regex, ingin menggunakan atau tanpa `www` ...

[2022-03-03 02:44] totoprayogo1916 commented on #4424
kasus canonical ini juga akan berpengaruh pada `sitemap.xml` karena juga menyesuaikan link yang diminta client
dan akan jadi double/ duplicate url ....

[2022-03-03 02:45] totoprayogo1916 commented on #4424
contoh test di FB https://developers.facebook.com/tools/debug/?q=http%3A%2F%2Fwww.totoprayogo.com

silakn hapus `www` ...
data hanya sample ...

[2022-03-03 02:50] totoprayogo1916 commented on #4424
di Google, bisa  juga diatsi dengan tambahkan canonical pada HTTP Header
![image](https://user-images.githubusercontent.com/2387514/156486833-dd246d2a-7430-4ab2-b6f8-d2be4e9d2398.png)

[2022-03-03 03:13] totoprayogo1916 opened #4999 "Bug/error: Tidak ada notif muncul saat menonaktifkan/mengaktifkan modul"
### Jelaskan error yg dialami

tidak ada notif keluar saat menonatifkan /mengaktifkan modul

### Cara untuk mereplikasi errornya

bisa klik nonaktifkan/aktifkan atau tombol "kembalikan ke default ....." yang tersedia pada halaman pengaturan modul
![image](https://user-images.githubusercontent.com/2387514/156489085-d69d5a4d-78f3-4889-89a0-fe5e31d2e114.png)

### Hasil yg diharapkan

muncul notif bah

[2022-03-03 03:16] totoprayogo1916 opened #5000 "Bug/error: modul dimatikan, tapi data masih keluar dihalaman depan"
### Jelaskan error yg dialami

contoh :
jika modul artikel (admin web) dimatikan
seharusnya halaman artikel dihalaman utama (front) tidak keluar

### Cara untuk mereplikasi errornya

nonaktifkan modul yang dipakai dan tampil di halaman depan
misal modul admin_web

### Hasil yg diharapkan

jika modul dimatikan, semestinya yang tampil di halaman depan tidak ikut tampil

### Tangkapan layar dan log e

[2022-03-03 04:29] totoprayogo1916 opened #5001 "tidak ada robots.txt"
robots.txt bisa membantu dalam SEO
tapi secara default tidak tersedia.

[2022-03-03 04:40] emanuel-simon commented on #4932
Nilai yang seharusnya tampil di grafik, supaya Pendapatan - Belanja + Pembiayaan = 0
![2022-03-03_12h34_13](https://user-images.githubusercontent.com/48465803/156497008-806a4072-dfa3-4fa2-9837-23e86e574241.png)

[2022-03-03 04:45] andifahruddinakas commented on #4932
Pak @makhbub, @emanuel-simon Sertakan contoh data yg bisa digunakan

[2022-03-03 05:24] tobagus6911 opened #5002 "Android/APK [tambah dokumen] mohon untuk dapat menambahkan dokumen dalam bentuk image"
### Apa kekurangan yg ingin diatasi?

di Aplikasi Android untuk menambahkan dokumen hanya bisa dalam bentuk pdf. mohon dibuatkan dalam bentuk image atau foto langsung dari kamera

### Jelaskan solusi yg diinginkan

untuk mengunggah dokumen dalam bentuk pdf pada HP/ android merepotkan warga yang ingin mengajukan permohonoan surat keterangan. karena harus merubah dahulu file image ke PDF kecuali kal

[2022-03-03 05:30] tobagus6911 opened #5003 "[Penduduk] Sediakan tombol untuk hapus foto profil yang sudah di unggah"
### Apa kekurangan yg ingin diatasi?

Tidak dapat menghapus foto profil. apabila salah mengupload foto dan belum ada foto pengganti. foto tersebut tidak dapat dihapus.

### Jelaskan solusi yg diinginkan

agar diberikan tombol untuk menghapus foto profil

### Apakah ada alternatif lain

untuk sementara jika salah mengupload foto profil. maka saya upload bingkai foto atau image background putih

###

[2022-03-03 06:45] makhbub commented on #4932
Maaf, apakah yg di maksud diatas adalah contoh data yg biasa digunakan?

Jika dimaksud demikian kami kirimkan print out siskeudes bidang pembiayaan
![16462899065943132100182600749767](https://user-images.githubusercontent.com/38773660/156511337-6a1ddc6e-7a9f-482b-ba23-79ec6cd49293.jpg)

[2022-03-03 07:03] emanuel-simon commented on #4932
ini contoh data hasil dari mdb2csv saya pak @andifahruddinakas
[opensid_data.zip](https://github.com/OpenSID/OpenSID/files/8175648/opensid_data.zip)

ini hasil print out siskeudes nya
[print apbdes lampiran 1b.pdf](https://github.com/OpenSID/OpenSID/files/8175671/print.apbdes.lampiran.1b.pdf)

[2022-03-03 08:01] andifahruddinakas commented on #3616
Sudah mulai dipisahkan menggunakan template blade secara bertahap.
1. Home
2. Identitas Desa
3. Syarat Surat

[2022-03-03 08:01] #3616 closed

[2022-03-03 08:05] andifahruddinakas commented on #4050
Duplikasi issue https://github.com/OpenSID/OpenSID/issues/4995

[2022-03-03 08:05] #4050 closed

[2022-03-03 08:09] #4511 closed, assigned to nobody

[2022-03-03 08:17] #4653 closed, assigned to yogiperdana, apidong, FirlianiF, andifahruddinakas

[2022-03-03 09:21] ariandii opened #5004 "Permintaan fitur: Pindahkan Gambar QRCode ke Folder Lain"
### Apa kekurangan yg ingin diatasi?

Sepertinya issue ini sduah pernah dibuat dan sudah lama,

karena dicari tidak ketemu, saya buat baru saja. (nanti kalau ketemu tinggal ditandai duplicate saja).

Saat ini seluruh gambar artikel maupun QRCode jadi 1 di halaman file managar.

<img width="960" alt="screenshot_463" src="https://user-images.githubusercontent.com/46939846/156534971-4c11675c-84ae-45e

[2022-03-03 09:49] totoprayogo1916 commented on #5004
sebaiknya, QRcode dibuat "on the fly"

[2022-03-03 13:58] rsoeta opened #5005 "Impor Data Vaksin Gagal"
gagal impor data vaksin

ini log error nya
![Screenshot (1915)](https://user-images.githubusercontent.com/86590833/156577441-5c1c24a9-d000-4704-ab38-484506b3f449.png)

ini contoh file
![PicsArt_03-03-08 55 16](https://user-images.githubusercontent.com/86590833/156579075-3a362bf6-8bdf-49b7-9827-0c61772c4071.jpg)
yang

.

[2022-03-04 01:49] totoprayogo1916 opened #5006 "[premium][teknis] Upgrade ke CodeIgniter v3.1.13"
Sudah tersedia rilis baru CodeIgniter 3.1.13
https://github.com/bcit-ci/CodeIgniter/releases/tag/3.1.13

[2022-03-04 02:05] totoprayogo1916 commented on #5006
di versi umum, masih manual untuk upgrade nya

[2022-03-04 05:32] eddieridwan commented on #4993
@andifahruddinakas apakah ada contoh database yg bermasalah? Seharusnya masalah ini tidak terjadi karena migrasi `donjo-app/models/migrations/Migrasi_fitur_premium_2107.php` sudah mengambil dari id_cluster penduduk yang dari awal tidak boleh null.

[2022-03-04 05:53] andifahruddinakas commented on #4984
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/826

[2022-03-04 05:53] #4984 closed, assigned to eddieridwan

[2022-03-04 05:55] andifahruddinakas commented on #4993
ya, seharusnya teratasi di migrasi versi sebelumnya. ini laporan dr group pengguna di premium yg masih ada kendala di masalah tsb.

[2022-03-04 05:56] eddieridwan commented on #4993
Tolong beri link ke pembahasan grup tersebut. Supaya diminta databasenya.

[2022-03-04 06:04] andifahruddinakas commented on #4993
https://t.me/c/1238304761/27959

[2022-03-04 06:09] andifahruddinakas commented on #5005
Pak @rsoeta kirim contoh data impor yg bisa direplikasi.

[2022-03-04 06:13] eddieridwan commented on #4993
@andifahruddinakas sepertinya masalah ini hanya bisa terjadi kalau kepala keluarga dan anggota keluarga sudah tidak ada lagi di tweb_penduduk. Tapi tunggu dulu kalau ada yg dapat menyediakan databasenya.

[2022-03-04 08:10] andifahruddinakas commented on #4932
data ini tidak dapat di impor, datanya tidak valid.
[code]

[2022-03-04 08:11] andifahruddinakas commented on #4932
buat issue sendiri laporkan sebagai bug beserta data contoh yang bisa direplikasi.

[2022-03-04 09:15] agungsugiarto commented on #5006
Terima kasih mas @totoprayogo1916, sudah melaporkan issue, issue ini saya ubah spesifik untuk premium. Seperti sudah dijelaskan di [rilis umum yang akan datang](https://github.com/OpenSID/OpenSID/wiki/Rilis-Umum-Yang-Akan-Datang#rilis-umum-v2207--2112-premium) di rilis premium sudah menggunakan composer untuk mengelola packages. Nantinya di rilis umum juga akan masuk jika sudah digabungan.

[2022-03-04 11:11] rsoeta commented on #5005
silakan pak @andifahruddinakas
[https://1drv.ms/x/s!As5K1mvaYwMnmp5LYh7EHefMYphXVQ?e=TwT7Ja](url)

[2022-03-04 14:05] mranca commented on #4991
Oke

[2022-03-05 03:31] eddieridwan commented on #4993
Solusi:
Deteksi keluarga dengan id_cluster null. Hanya terjadi pada kasus di mana keluarga tidak memiliki kepala keluarga atau anggota. Perbaiki dengan mengubah lokasi keluarga ybs menjadi lokasi keluarga pertama yang tidak kosong. Keluarga yang diubah dilaporkan di logs.

[2022-03-05 03:52] emanuel-simon commented on #4932
coba yang ini pak
[opensid_data.zip](https://github.com/OpenSID/OpenSID/files/8189926/opensid_data.zip)

[2022-03-05 04:21] emanuel-simon commented on #4582
up dulu

[2022-03-05 04:29] eddieridwan opened #5007 "Bug/error: Error 500 jika widget tidak ditemukan"
### Jelaskan error yg dialami

Widget statis aktif tapi filenya tidak ditemukan akan menyebabkan error 500.

### Cara untuk mereplikasi errornya

1. Buat widget statis
2. Hapus file widget tersebut (di folder desa)
3. Tampilkan web
4. Perhatikan error 500

### Hasil yg diharapkan

1. Otomatis non-aktifkan widget dinamis yg filenya tidak ditemukan, dan beri indikator/tanda permasalahannya. Supaya d

[2022-03-05 06:27] andifahruddinakas commented on #5006
https://github.com/OpenSID/premium/pull/831

[2022-03-05 06:33] totoprayogo1916 commented on #5006
bukannya lewat composer ya? 🤔

[2022-03-05 06:39] andifahruddinakas commented on #5005
Pak @rsoeta, contoh data sudah sy konversi ke data contoh (dgn NIK yg ada diberputar
[FormatImporVaksin (3).xlsx](https://github.com/OpenSID/OpenSID/files/8190146/FormatImporVaksin.3.xlsx)

Error :
[code]

[2022-03-05 07:48] balongbesuk commented on #4582
knp gak d bikin artikel saja dg hasil print out siskeudes sebagai lampirannya? kan gak perlu susah susah ngisi manual satu satu 😄

[2022-03-05 08:12] emanuel-simon commented on #4582
warga malas untuk download lalu baca, lebih suka lihat langsung di artikelnya. Lagian nanti terlalu banyak artikel, setiap kali ada update di kondisi keuangan harus upload print out siskeudes lagi...

[2022-03-05 08:19] balongbesuk opened #5008 "Bug/error: Bug Kah? Pada Menu Wilayah administratif muncul pop up data statistik tp kosong"
### Jelaskan error yg dialami

data statistik pada menu wilayah administratif kosong namun pada tampilan web berjalan normal

### Cara untuk mereplikasi errornya

login admin > masuk menu wilayah administratif > pilih peta wilayah dusun > check box tampilkan wilayah dusun > dekatkan kursor mouse /  klik nama dusun > muncul pop up data statistik kosong

### Hasil yg diharapkan

hilangkan pop up sta

[2022-03-05 08:31] ai-skematik commented on #4582
up

Pada tanggal Sab, 5 Mar 2022 16:12, Emamuel Simon ***@***.***>
menulis:

[2022-03-05 08:48] balongbesuk opened #5009 "Bug/error: error 500 pada menu pengaturan peta tambah area"
### Jelaskan error yg dialami

ketika menambahkan area tanpa memilih kategori kemudian simpan maka muncul 500 basis data error

### Cara untuk mereplikasi errornya

pergi ke halaman pengaturan peta > tambah area > isi data > biarkan isian kategori memilih kategori > simpan > muncul error 500

### Hasil yg diharapkan

tidak error

### Tangkapan layar dan log error

![Untitled](https://user-images.g

[2022-03-05 15:46] rsoeta commented on #5005
Saya coba import data contoh tersebut ke berputar, hasilnya Error pak

[2022-03-05 15:47] andifahruddinakas commented on #5005
silahkan tunggu perbaikan, akan dicek menggunakan contoh data di atas.

[2022-03-05 15:52] andifahruddinakas commented on #5008
Solusi biar tidak duplikasi fungsi:
1. Untuk form ubah data lokasi/wilayah sebaiknya hanya digunakan untuk mengubah data tsb sj, adapu data wilayah dan tingkatannya di gunakan sebagai referensi batas wilayah (tdk digunakan untuk menampilkan statistik)
2. Untuk menampilkan data statistik dll (yg lebih lengkap) bisa ditampilkan di modul pemetaan danatau ditampilkan ke halaman web.

[2022-03-05 16:06] rsoeta commented on #5005
Oh iya baik pak, terima kasih banyak

[2022-03-05 16:19] andifahruddinakas commented on #5006
untuk saat ini walaupun sudah menggunakan composer tp folder vendor tetap di upload. krn pengguna masih terbiasa upload semua script dan kadang ada yg belum terlalu paham menggunakan terminal untuk menjalankan composer update. mungkin selanjutnya mungkin bisa diberi panduan dan penjelasan mengenai peralihan menggukan composer beserta kelebihannya ke pengguna.

[2022-03-05 19:30] andifahruddinakas commented on #5009
Solusi :
1. Tambahkan required pd pilih kategori
2. Cek juga validasi

[2022-03-06 00:46] balongbesuk opened #5011 "Permintaan fitur: perpanjang durasi cache untuk meningkatkan kecepatan website"
### Apa kekurangan yg ingin diatasi?

cache file pada opensid memberikan sedikit waktu penyimpanan yang disarankan oleh google devtool untuk di perpanjang agar mempercepat waktu loading website

### Jelaskan solusi yg diinginkan

rekomendasi perpanjang waktu cache dapat di realiasikan

### Apakah ada alternatif lain

tidak ada

### Untuk versi OpenSID mana

22.03

### Informasi tambahan

hasil tan

[2022-03-06 02:13] andifahruddinakas commented on #4993
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/833

[2022-03-06 02:13] #4993 closed, assigned to eddieridwan

[2022-03-06 03:50] #5006 closed, assigned to nobody

[2022-03-06 04:28] rsoeta opened #5012 "Thumbnail gambar/foto di share via WA"
### Apa kekurangan yg ingin diatasi?

Saat membagikan artikel via medsos khususnya WhatsApp foto/gambar utama tidak tampil

### Jelaskan solusi yg diinginkan

Tolong tambah fitur/metatag open graph image di share media sosial contoh WhatsApp

### Apakah ada alternatif lain

Metatag open graph image

### Untuk versi OpenSID mana

v22.03-premium

### Informasi tambahan

_No response_

[2022-03-06 06:53] balongbesuk commented on #5012
metatag tiu berhubungan dengan tema opensid memiliki banyak tema pakai tema apa yang mengalami bug ini?

[2022-03-06 07:32] rsoeta commented on #5012
Oh iya di Natra v4.5

[2022-03-07 04:27] andifahruddinakas commented on #4978
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/830

[2022-03-07 04:27] #4978 closed, assigned to yogiperdana

[2022-03-07 05:13] andifahruddinakas commented on #4986
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/825

[2022-03-07 05:13] #4986 closed, assigned to agungsugiarto

[2022-03-07 06:03] andifahruddinakas commented on #4999
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/832

[2022-03-07 06:03] #4999 closed, assigned to agungsugiarto

[2022-03-07 06:35] eddieridwan opened #5014 "Ganti contoh data awal dengan seeder"
Saat ini pembuatan struktur database, termasuk data referensi, diisi dengan mengimpor contoh data awal. Contoh ini berisi data tambahan sebagai contoh. Dan juga membuat folder desa dengan menyalin dari desa-contoh, yg juga berisi file tambahan sebagai contoh.

Sebelum memulai mengisi data desa sebenarnya, data tambahan tersebut perlu dihapus menggunakan fitur Kosongkan DB. Dan seharusnya juga meng

[2022-03-07 09:27] agungsugiarto commented on #5000
Pak @eddieridwan mas @andifahruddinakas bagaimana dengan issue ini, apakah perlu analisis terlebih dahulu karena sebelumnya sudah ada fitur pengaturan server untuk aktifkan/nonaktifkan penggunaan server khusus web

![image](https://user-images.githubusercontent.com/10989147/157003930-60998502-8dd3-4e69-aa0b-8774c7969270.png)

[2022-03-07 10:08] eddieridwan commented on #5000
@agungsugiarto  @andifahruddinakas Saya kira issue ini tidak tepat. Modul artikel tujuannya untuk mengelola artikel. Jika dinon-aktifkan maksudnya untuk tidak menyediakan fitur untuk mengelola artikel bagi server ybs atau pengguna tertentu. Tapi jika artikel sudah ada, saat ini tidak ada implikasi artikel itu harus dinon-aktifkan jika modulnya tidak aktif. Misalnya, jika modul Penduduk dinon-aktif

[2022-03-07 10:21] totoprayogo1916 commented on #5000
artinya, modul-modul dihalaman `siteman` itu hanya untuk admin/pengelola saja dampaknya ..
kalau begitu, harus ada informasi jelas mengenai fungsi aktif/non-aktif pada halaman modul  ...

[2022-03-07 10:36] rsoeta opened #5015 "Hari di Tanggal kematian error terbalik, antara tanggal dan bulan"
![Screenshot (1921)](https://user-images.githubusercontent.com/86590833/157015099-0dc63ee0-a489-45ce-94c4-43d20ef453de.png)

[2022-03-07 13:50] rsoeta opened #5016 "Menu Tanah di Desa Error 500"
### Jelaskan error yg dialami

Error ketika simpan di Tambah data

### Cara untuk mereplikasi errornya

1. Buku Administrasi Desa
2. Administrasi Umum
3. Buku Tanah di Desa
4. Tambah Data
5. Isi data
6. Error 500

### Hasil yg diharapkan

Data berhasil di tambah, dan dapat di export sesuai format buku A.6 Buku Tanah di Desa

### Tangkapan layar dan log error

Lampiran capture

### Rilis Versi Open

[2022-03-07 13:59] rsoeta commented on #5016
![Screenshot (1922)](https://user-images.githubusercontent.com/86590833/157048233-ec164c03-e1f9-4efb-b4ed-686aa041a46c.png)

[2022-03-07 14:19] andifahruddinakas commented on #5007
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/834

[2022-03-07 14:19] #5007 closed, assigned to yogiperdana

[2022-03-07 14:27] #5000 closed, assigned to nobody

[2022-03-07 14:33] andifahruddinakas commented on #5000
Sudah ditambahkan catatan pada https://github.com/OpenSID/OpenSID/wiki/Modul

[2022-03-07 15:21] andifahruddinakas commented on #5005
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/840

[2022-03-07 15:21] #5005 closed, assigned to yogiperdana

[2022-03-07 16:19] andifahruddinakas commented on #5009
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/838

[2022-03-07 16:19] #5009 closed, assigned to yogiperdana

[2022-03-07 19:51] ariandii commented on #5005
gagal impor data aksin.

<img width="741" alt="image" src="https://user-images.githubusercontent.com/46939846/157107511-5853d59b-7ed0-415a-a530-78a48c03a8de.png">

[2022-03-07 19:53] andifahruddinakas commented on #5005
sertakan contoh file yg di impor, gunakan data (NIK) yg ada di berputar.

[2022-03-07 20:00] ariandii commented on #5005
[Vaksinasi.xlsx](https://github.com/OpenSID/OpenSID/files/8200483/Vaksinasi.xlsx)

[2022-03-07 21:57] andifahruddinakas commented on #5005
Silahkan di cek ulang di https://berputar.opensid.or.id/, kalau ada masalah lain mengenai impor vaksin silahkan komen disni sj.

[2022-03-07 23:45] rsoeta commented on #5005
Mohon koreksi nya pak
![Screenshot_20220308-063655_Chrome](https://user-images.githubusercontent.com/86590833/157137165-187a162d-83c3-4e36-8d9f-ebb6050d3931.jpg)

Ini file contoh nya
[FormatImporVaksin.3.xlsx](https://github.com/OpenSID/OpenSID/files/8201522/FormatImporVaksin.3.xlsx)

[2022-03-08 00:14] andifahruddinakas commented on #5005
Coba data ke 5 jenis vaksinnya di isi

[2022-03-08 00:52] eddieridwan opened #5017 "Permintaan fitur: Nonaktifkan menu Buku Administrasi Desa > Buku Keuangan"
### Apa kekurangan yg ingin diatasi?

Saat ini menu Buku Administrasi Desa > Buku Keuangan belum berisi, tapi tampil di daftar menu sebagai placeholder. Ternyata cara ini menimbulkan pengharapan pada pengguna bahwa fitur itu akan segera diterapkan, sedangkan penerapan fitur tersebut belum terjadwalkan.

### Jelaskan solusi yg diinginkan

Tambahkan migrasi untuk menon-aktifkan modul Buku Administra

[2022-03-08 01:22] rsoeta commented on #5005
![Screenshot_20220308-082119_Excel](https://user-images.githubusercontent.com/86590833/157146951-d620922d-c494-4c64-af5c-3be408463cb1.jpg)

Data kelima itu kan pak, yang saya tandai?

[2022-03-08 02:29] andifahruddinakas commented on #5005
Ya

[2022-03-08 03:13] andifahruddinakas commented on #4599
Duplikasi issue https://github.com/OpenSID/OpenSID/issues/5014

[2022-03-08 03:13] #4599 closed, assigned to nobody

[2022-03-08 03:23] ariandii commented on #5005
<img width="580" alt="image" src="https://user-images.githubusercontent.com/46939846/157160028-5d3b7b71-8894-4d2c-99a5-5d21bf8171e5.png">

terima kasih, sudah sukses impor semua data vaksin

[2022-03-08 03:29] ariandii commented on #5005
<img width="516" alt="image" src="https://user-images.githubusercontent.com/46939846/157160631-6fc0fe4d-89b1-439f-9130-161bbe882553.png">

buka menu Laporan Rekap Data Vaksin, sering error 500 dengan log di atas.

begitu juga menu Laporan Penduduk Vaksin. akan error 500.
---
Namun setelah halaman Laporan Penduduk Vaksin di reload, akan tampil dan menu Laporan Rekap Data Vaksin diklik juga tampil

[2022-03-08 03:31] andifahruddinakas commented on #5005
berapa jumlah data penduduk ???

[2022-03-08 03:32] ariandii commented on #5005
<img width="455" alt="image" src="https://user-images.githubusercontent.com/46939846/157160980-3fc4afdf-25b9-4b0d-bad1-00dbe84dfb86.png">

1916 penduduk

[2022-03-08 03:33] andifahruddinakas commented on #5005
kayaknya perlu penyederhanaan perhitungan. mungkin bisa dibuat issuenya pak beserta contoh data yg bisa digunakan, database contoh yg bisa dikirim ke telegram.

[2022-03-08 05:05] eddieridwan commented on #5005
@andifahruddinakas @agungsugiarto @yogiperdana : periksa tidak ada yg looping

[2022-03-08 05:27] andifahruddinakas opened #5018 "Bug/error: Error collations table"
### Jelaskan error yg dialami

Terjadi error database pada modul pengurus

### Cara untuk mereplikasi errornya

1. Buka modul pengurus
2. Akan terjadi error database

### Hasil yg diharapkan

Normal

### Tangkapan layar dan log error

[code]

### Rilis Versi OpenSID

Rilis Premium

### Versi OpenSID

v22.03

### Tema Yang Digunakan

bawaan

### Informasi tambahan

Terdapat 2/lebih jenis collation

[2022-03-08 06:44] andifahruddinakas commented on #5018
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/843

[2022-03-08 06:44] #5018 closed, assigned to andifahruddinakas

[2022-03-08 08:05] makhbub opened #5019 "Permintaan fitur: Foto Kegiatan pada fitur Pembangunan dimasukan ke fitur Arsip Desa"
### Apa kekurangan yg ingin diatasi?

Jika foto kegiatan pada Fitur Pembangunan dimasukan pada Fitur Arsip Desa maka foto tersebut dapat dilihat dan didownload untuk selanjutnya dapat dijadikan laporan/LPJ kegiatan
ini menjadi nilai tambah OpenSID sebagai tempat menyimpan arsip foto kegiatan pembangunan di Desa

### Jelaskan solusi yg diinginkan

Foto Kegiatan pada fitur Pembangunan dimasukan ke f

[2022-03-08 08:26] andifahruddinakas opened #5020 "Bug/error: periksa database no_kk duplikasi"
### Jelaskan error yg dialami

Terjadi error databse dan di arahkan ke halaman periksa, namun tidak ada solusi yg diberikan dan tidak bisa masuk admin.

### Cara untuk mereplikasi errornya

Gunakan database contoh yg bermaslah tsb dan jalankan aplikasinya.

### Hasil yg diharapkan

no_kk duplikat bisa diperbaiki.

### Tangkapan layar dan log error

![kk duplikasi](https://user-images.githubusercon

[2022-03-08 08:45] andifahruddinakas commented on #5020
cek :
`SELECT no_kk, COUNT(*) duplikat FROM tweb_keluarga GROUP BY no_kk HAVING COUNT(duplikat)  > 1`

`SELECT * FROM tweb_keluarga WHERE nik_kepala IS NULL AND alamat IS NULL`

[2022-03-08 11:52] Zoel-WB opened #5021 "[PREMIUM V22.03-REV01] Export Data Suplemen Terfilter Berdasarkan Jumlah Data yang di Filter Pada Layar"
### Jelaskan error yg dialami

Saat Milih Fitur Export Data pada Fitur Suplemen, data yg ter-export hanya sejumlah data yg di filter di layar, bila data yang terfilter 20 data saat di export hanya ter-export 20 data atau 20 baris, begitu juga bila yg ditampilkan dilayar data maksimal 100 data maka saat export juga yg ter-export 100 data atau 100 baris data saja.

### Cara untuk mereplikasi errorny

[2022-03-08 15:02] Zoel-WB opened #5022 "[PREMIUM V22.03-REV01] Bumindes-> Buku Peraturan Desa Plihan Kolom Jenis Peraturan Desa Berubah Menjadi Angka 1 Setelah DI Edit dan Disimpan"
### Jelaskan error yg dialami

Bumindes-> Buku Peraturan Desa Plihan Kolom Jenis Peraturan Desa Berubah Menjadi Angka 1 Setelah DI Edit dan Disimpan

### Cara untuk mereplikasi errornya

1. Buka Buku Administrasi Desa
2. Buku Administrasi UMum
3. Pilih Buku Peraturan Desa
4. Edit Salah Jenis Peraturan Desa, Lalu Simpan

### Hasil yg diharapkan

Default

### Tangkapan layar dan log error

![image](

[2022-03-09 00:54] eddieridwan commented on #5021
@meagungsugiarto @yogiperdana9 sepertinya sebelumnya juga ada kebutuhan bisa ekspor berdasarkan data terfilter. Yaitu perlu bisa sediakan opsi: semua atau sesuai filter.

[2022-03-09 01:20] afri18 opened #5023 "PemakamanPermintaan fitur:"
### Apa kekurangan yg ingin diatasi?

Agar penataan Tanah Pemakaman Umum di Desa lebih tertata dan di kelola dengan baik

### Jelaskan solusi yg diinginkan

Adanya menu Pemakan di Opensid yang nantinya penduduk yang berstatus mati bisa langsung masuk kedalam fitur ini

### Apakah ada alternatif lain

1. Tata Kelola Tanah Pemakaman Umum yang ada di desa tertata rapi
2. Dapat mengetahui siapa saja y

[2022-03-09 01:54] agungsugiarto commented on #5015
Pak @rsoeta bisa dijelaskan terbalik seperti apa maksudnya ?

[2022-03-09 01:57] agungsugiarto commented on #5016
Bisa lampirkan log errornya pak @rsoeta, kemudian isian apa saja yg diinput ?

[2022-03-09 02:30] asarisoft opened #5024 "Permintaan fitur: FIlter Penduduk Berdasarkan Jenjang Usia"
### Apa kekurangan yg ingin diatasi?

Sebagai contoh mau mengundang kelompok usia tertentu untuk di vaksinasi,
dengan adanya filter tersebut akan lebih mudah mencari penduduk yang harus di vaksin.

### Jelaskan solusi yg diinginkan

Di List Penduduk sekarang sudah ada filter, tambahkan filter jenjang usia di sana.

### Apakah ada alternatif lain

Tidak

### Untuk versi OpenSID mana

Terakhir

###

[2022-03-09 02:49] eddieridwan commented on #5024
Sudah ada. Lihat panduan untuk Pencarian Spesifik. Silakan tutup issue ini kalau fitur itu sudah mencukupi

![image](https://user-images.githubusercontent.com/249563/157363088-ab1158e4-9801-403b-a437-468c5bf52ac1.png)

[2022-03-09 03:09] andifahruddinakas commented on #5008
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/845

[2022-03-09 03:09] #5008 closed, assigned to agungsugiarto, andifahruddinakas

[2022-03-09 03:57] andifahruddinakas commented on #5021
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/846

[2022-03-09 03:57] #5021 closed, assigned to agungsugiarto

[2022-03-09 04:14] andifahruddinakas commented on #5015
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/847

[2022-03-09 04:14] #5015 closed, assigned to agungsugiarto

[2022-03-09 07:46] andifahruddinakas commented on #5020
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/848

[2022-03-09 07:46] #5020 closed, assigned to agungsugiarto

[2022-03-09 18:32] yudhaputra555 opened #5025 "Sediakan cetak surat di anjungan mandiri"
### Apa kekurangan yg ingin diatasi?

kekurangan dari penduduk ketika memproses pembuatan surat penduduk tidak bisa cetak secara mandiri

### Jelaskan solusi yg diinginkan

ketika penduduk register surat pengantar di layanan mandiri setelah di verifikasi oleh admin desa maka akan otomatis tersedia status surat siap cetak / unduh surat pengantar

### Apakah ada alternatif lain

alternatif lain jika

[2022-03-09 23:02] eddieridwan commented on #5025
**Catatan bagi programmer dan pengguna**

Perhatikan bahwa fitur ini sudah berkali-kali diminta dan issue terkait telah berkali-kali dibahas secara mendalam dan ditutup. Karena itu, biarkan issue ini tidak ditutup, supaya komunitas tidak lagi membuat issue serupa.

Perhatikan bahwa fitur ini hanya dimungkinkan jika:

1. desa sudah memperoleh TTE, dan OpenSID sudah disesuaikan dengan ketentuan TTE

[2022-03-10 01:16] rsoeta commented on #5015
Di versi berikut masih terbalik pak,
 tanggal 09-03-2022 itu seharusnya hari rabu bukan sabtu

![PicsArt_03-10-08.13.24.jpg](https://user-images.githubusercontent.com/86590833/157567516-5a1eaf53-2851-49a6-97bf-2e626080cef4.jpg)

[2022-03-10 02:03] balongbesuk opened #5026 "Permintaan fitur: Tambahkan tombol [ ] Full Screen pada menu wilayah administratif"
### Apa kekurangan yg ingin diatasi?

bidang kerja terasa sempit

### Jelaskan solusi yg diinginkan

tambahkan toggle full screen pada menu peta

### Apakah ada alternatif lain

tidak ada

### Untuk versi OpenSID mana

21.03-Premium

### Informasi tambahan

![Untitled](https://user-images.githubusercontent.com/35319600/157573611-d402eac2-f0b3-40bd-809a-83a1faa7fbf8.jpg)

[2022-03-10 04:52] yogiperdana commented on #4590
Tambahkan notifikasi disk space

[2022-03-10 12:01] alrizals opened #5027 "Bug/error: Data desa yang ingin dimasukan tidak tersedia"
### Jelaskan error yg dialami

desa Marindal I tidak tersedia pada pilihan ubah nama desa pada halaman identitas desa.

### Cara untuk mereplikasi errornya

- pergi ke halaman info desa
- klik tombol identitas desa
- pilih ubah data desa
- ketikan nama desa pada form nama desa

### Hasil yg diharapkan

menambahkan data desa Marindal I

### Tangkapan layar dan log error

![1](https://user-images.gi

[2022-03-10 16:09] hasap86 commented on #5025
pilihan 2 bisa diterapkan dulu supaya bisa dimanfaatkan oleh beberapa desa yang mau melakukannya, adapun nanti proses ttd elektronik bisa menyusul bung

[2022-03-11 01:00] yudhaputra555 commented on #5025
file surat tidak harus di tanda tangani oleh kepala desa dulu. jadi
sistemnya setelah di verifikasi admin desa maka  di layanan mandiri status
surat menjadi  surat siap cetak untuk warga mencetak mandiri setelah
tercetak mandiri baru warga memintakan cap tanda tangan stempel basah ke
kantor desa.
Kam, 10 Mar 2022 pukul 23.09 Hari Saputra ***@***.***>
menulis:

[2022-03-11 01:05] hasap86 commented on #5025
ini bisa juga, kadang Kades juga bawa cap... jadi warga gak perlu ke kantor desa, bisa saja ke rumah kades

[2022-03-11 02:34] yudhaputra555 commented on #5025
mantap, semoga bisa dipertimbangkan njih pak.. semoga bisa terealisasi dan
bermanfaat untuk desa desa

Jum, 11 Mar 2022 pukul 08.06 Hari Saputra ***@***.***>
menulis:

[2022-03-11 15:26] Zoel-WB opened #5028 "PREMIUM V22.03 REV01 Bug/error : INSERT/EDIT IMAGE MELALUI FITUR INSERT RESPONSIVE FILEMANAGER TIDAK RESPON"
### Jelaskan error yg dialami

Insert Gambar Artikel Melalui Tombol/Fitur Insert/Edit Image tidak dapat dilakukan, saat dipilih hanya muncul layar kosong yg tidak respon hanya menampilkan kata RESPONSIVE FILEMANAGER dan layar tampil kosong

### Cara untuk mereplikasi errornya

1. Buka Fitur Admin Web
2. Pilih Artikel --. Buat Satu Artikel
3. Klik Pilihan Insert/Edit Image untuk menambah gambar di

[2022-03-11 15:40] Zoel-WB opened #5029 "Premium V22.03 Rev01 Bug/error : Nama Pada Tempat Tanda Tangan Kepala Desa Pada Form Lampiran Surat Keterangan Pindah Penduduk Bukan Nama Kepala Desa Yang Dipilih Pada System"
### Jelaskan error yg dialami

Pada Halaman Print Out Lampiran Surat Keterangan Penduduk Masih Tercetak Nama Kepala Desa Bawaan Sistem atau Bukan Nama Kepala Desa Berdaasarkan Nama Desa yang ditentukan pada system OpenSID Desa.

### Cara untuk mereplikasi errornya

1. Bukan Fitur Cetak Surat
2. Pilih Surat Keterangan Pindah Penduduk
3. Pilih Cetak atau Print

### Hasil yg diharapkan

Agar tempat t

[2022-03-11 16:03] Zoel-WB commented on #5027
Ini sebenarnya dapat langsung di PM-Kan ke OpenDesa atau Tim Teknis Pelaksana OpenDesa untuk memasukkan Nama Desa, Kecamatan, Kabupaten dan Provinsi sesuai dengan petunjuk Panduan System pada WIKI pada https://github.com/OpenSID/OpenSID/wiki/Identitas-Desa
cc : Pak @roaddee

[2022-03-11 22:53] roaddee commented on #5027
Apakah desa dimaksud desa baru ? Atau Hasil pemekaran ? Bisa dikirimkan bukti penunjang mengenai desa tersebut, misalnya SK Kades Dari Bupati.

[2022-03-12 07:19] eddieridwan opened #5030 "Bug/error: Tabel ref_persil_kelas terhapus pada menu Database > Kosongkan DB"
### Jelaskan error yg dialami

Pilihan Kelas Tanah kosong di form Persil setelah menjalankan Pengaturan > Database > Kosongkan DB. Karena tabel ref_kelas_persil terhapus oleh proses itu.

### Cara untuk mereplikasi errornya

1. Jalankan Pengaturan > Database > Kosongkan DB
2. Di menu Pertanahan > Daftar Persil lakukan Tambah Persil
3. Lihat pilihan Kelas Tanah
4. terlihat kosong

### Hasil yg diha

[2022-03-13 07:21] Zoel-WB commented on #5029
cc: Mbak @FirlianiF
1. Screensote form F-1.08 diatas saya ambil dari Pengguna Promium di Group Support
2. Hasil Test di System Saya juga sama mbak  @FirlianiF, Nama kepala desa yang tercetak tercantum pada lampiran Form F-1.08, yang tercetak bukan Nama Kepala Desa atau bahkan Nama tersebut tidak ada dalam Database desa artinya bukan data yang tercatak dari Database desa.

![image](https://user-ima

[2022-03-13 09:37] yogiperdana commented on #5028
Bagian mana yang tidak bisa pak? saya coba edit dan tambahkan berjalan normal

[2022-03-13 09:41] Zoel-WB commented on #5028
Form upload gambarnya tidak muncul, hanya menampilkan bagian Resposive Filemanager saja selanjutnya layarnya tidak aktif atau hanya tampilan layar kosong...

[2022-03-13 10:25] yogiperdana commented on #5028
![Capture](https://user-images.githubusercontent.com/14155050/158055225-ff265281-bbfc-4ead-875a-b5f6b5dfc97a.JPG)

Di tempat saya berjalan dengan normal pak

[2022-03-13 11:04] Zoel-WB commented on #5028
Ada beberapa teman pengguna juga melaporkan hal yg sama, saya coba di system saya juga sama tidak tampil form uploadnya, pengaruhnya dimana?

https://user-images.githubusercontent.com/64481641/158056526-3e90cd56-5654-4583-a658-577569017434.mp4

[2022-03-13 11:10] Zoel-WB commented on #5028
Biasanya tidak ada masalah disini di sebelum-sebelumnya, dan sering dicoba juga bila ada yg bertanya, sebelum update v22.03-rev01 memang lancar saja.

[2022-03-13 11:58] cepiandiana opened #5031 "Modul Lapak : Ubah URL kategori produk di Lapak Desa Sesuai dengan nama kategori"
### Apa kekurangan yg ingin diatasi?

URL yang sekarang diterapkan terlalu panjang

### Jelaskan solusi yg diinginkan

URL ny a disesuaikan dengan kategori produk, misal namadomain.desa.id/lapak/umkm (untuk produk yang berkategori umkm)

### Apakah ada alternatif lain

Usahakan url berupa huruf

### Untuk versi OpenSID mana

v22.04-premium

### Informasi tambahan

Agar lebih mudah sebar link sesua

[2022-03-13 13:16] tobagus6911 commented on #5025
SETUJU.....

[2022-03-14 02:37] agungsugiarto commented on #5028
Pak @Zoel-WB, issue ini saya tutup, issue bisa diatasi dengan cara logout kemudian login kembali. Terima kasih

[2022-03-14 02:37] #5028 closed, assigned to nobody

[2022-03-14 03:15] agungsugiarto commented on #5016
Pak @rsoeta mohon jika ada kendala segera mengabari, agar issue ini bisa segera diselesaikan, terima kasih

[2022-03-14 04:50] balongbesuk opened #5032 "Bug/error: menu peta > ceklist insfrastuktur > menu ceklist tercentang semua"
### Jelaskan error yg dialami

ketika pengguna ceklist menu infrastruktur  menu ceklist lainnya ikut tercentang semua

### Cara untuk mereplikasi errornya

buka menu peta > ceklist insfrastuktur

### Hasil yg diharapkan

menu ceklist tidak tercentang semua

### Tangkapan layar dan log error

![image](https://user-images.githubusercontent.com/35319600/158106821-44131ece-109b-46be-ac98-6d510a1a777a.

[2022-03-14 09:33] rsoeta commented on #5016
Sekarang setelah update ke 22.03 rev-01 alhamdulillah sudah normal pak, mohon maaf karena kesibukan jadi saya kelupaan

[2022-03-15 03:15] yogiperdana commented on #5016
Baik pak. Kalau begitu issue ini kita anggap sudah selesai dan mohon izin untuk tutup ya pak

[2022-03-15 03:15] #5016 closed, assigned to nobody

[2022-03-15 03:31] balongbesuk commented on #5026
https://codepen.io/tiggr/pen/poJoLyW

[2022-03-15 04:31] yogiperdana commented on #5029
Telah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/854

[2022-03-15 04:31] #5029 closed, assigned to agungsugiarto

[2022-03-15 09:37] volla15 commented on #4038
![image](https://user-images.githubusercontent.com/53460521/158349048-5dafd150-5ead-43ea-9db7-ccf67033d1cc.png)
mohon ditambahkan menu Perkades baik di dalam tampilan produk hukum maupun di buku peraturan desa (tidak jadi satu dengan peraturan desa)

[2022-03-15 09:37] volla15 commented on #4038
![image](https://user-images.githubusercontent.com/53460521/158349048-5dafd150-5ead-43ea-9db7-ccf67033d1cc.png)
mohon ditambahkan menu Perkades baik di dalam tampilan produk hukum maupun di buku peraturan desa (tidak jadi satu dengan peraturan desa)

[2022-03-15 09:43] volla15 opened #5033 "Permintaan fitur: Pemisahan menu Perkades dari menu perdes"
### Apa kekurangan yg ingin diatasi?

Untuk membedakan Peraturan Desa dan peraturan Kepala Desa

### Jelaskan solusi yg diinginkan

![image](https://user-images.githubusercontent.com/53460521/158349048-5dafd150-5ead-43ea-9db7-ccf67033d1cc.png)
tampilan menu produk hukum terdapat filter perkades tidak hanya ada perdes dan sk kades

### Apakah ada alternatif lain

pemisahan menu input perkades dari

[2022-03-15 17:07] Zoel-WB opened #5034 "[Premium V22.03-Rev02] Gagal Restore Data di LocalHost dari data Backupdata"
### Jelaskan error yg dialami

Saat merestore kembali database backup terjadi error atau databackup tidak dapat direstore

### Cara untuk mereplikasi errornya

1. Jalankan System Update Terbaru dengan data bawaan system
2. Kemudian Buka Menu Pengaturan Database -->Kosongkan Seluruh Database atau tidak dikosongkan
3. Coba Restore Kembali dari Database backup

### Hasil yg diharapkan

Agar databse b

[2022-03-15 18:38] Zoel-WB opened #5035 "[Premium V22.03-Rev02] Tulisan Untuk Jawaban pada kolom Verifikasi Captcha tidak sesuai dengan isi jawaban yang diinginkan"
### Jelaskan error yg dialami

Tulisan Untuk Jawaban pada kolom Verifikasi Captcha tidak sesuai dengan isi jawaban yang diinginkan, untuk memudahkan pemahaman dari pengunjung website yg umumnya warga desa supaya tidak menimbulkan kesalahan menafsir maksud ketika ingin memberi komentar pada artikel yg dikunjungi.

### Cara untuk mereplikasi errornya

1. Buka salah Artikel pada Website
2. Perhatikan

[2022-03-15 23:25] roaddee commented on #5035
Mungkin lebih pas nya jangan 'masukkan kode di samping', kalau itu yg digunakan, banyak yang memasukkan kembali tulisannnya, misal 10x1.
Dicari kalimat yang pas. Karena capcha nya sekarang adalah operasi matematika

[2022-03-16 01:41] balongbesuk commented on #5033
Produk hukum desa ada 3 : Perdes, Perkades, SK Desa,

tambahkan menu Perkades

[2022-03-16 04:17] balongbesuk opened #5036 "Bug/error: kosongkan lokasi peta tidak berfungsi"
### Jelaskan error yg dialami

ketika ingin mengosongkan area yang sudah d gambar tidak bisa / tidak ada notif berhasil / gagal

### Cara untuk mereplikasi errornya

info desa > wilayah administratif > cari lokasi / area yang sudah di gambar > kosongkan > ....

halaman berpindah ke daftar  wilayah tanpa pesan error gagal / berhasil disimpan

### Hasil yg diharapkan

area bisa dikosongkan

### Tang

[2022-03-16 04:31] balongbesuk opened #5037 "Bug/error: tidak bisa menekan tombol ubahan di wilayah administratif"
### Jelaskan error yg dialami

ketika legenda peta sudah banyak menutupi tombil ubahan peta

### Cara untuk mereplikasi errornya

Info desa > wilayah administratif > isikan peta desa sampai area rt > centang > wilayah rt >

legenda wilayah menutupi tombol ubahan peta

### Hasil yg diharapkan

tombol ubahan peta tidak tertutupi legenda peta / berada d atas legenda peta

### Tangkapan layar dan log

[2022-03-16 05:20] balongbesuk opened #5038 "Bug/error: Bug Kah? menambah area lain pada lokasi area yang sama hanya tersimpan satu"
### Jelaskan error yg dialami

https://github.com/OpenSID/OpenSID/issues/3464

sesuai pembahasan diatas pemetaan opensid sudah dapat menyimpan 2 area atau lebih pada satu lokasi yang sama tetapi barusan saya coba area lokasi yang tersimpan hanya area terakhir yang digambar

### Cara untuk mereplikasi errornya

Info desa > wilayah administratif > isikan 2 area atau lebih peta desa yang terpisah > s

[2022-03-16 08:08] Zoel-WB opened #5039 "[Premium V22.03-Rev02] Setelah Impor Database melalui PhpMyadmin, Database berubah bukan menjadi Collation utf8_general_ci"
### Jelaskan error yg dialami

1. Impor Data_contoh_awal ataupun dari data base backup melalui PHPMYADMIN, Setelah di Impor Database berubah bukan menjadi Collation utf8_general_ci.
2. Hal ini terjadi baik impor di locolhost maupun impor pada hosting
3. Pada hosting setelah impor database, ujicoba loading->website menjadi error
4. Pilih Perintah "Periksa" --> Pilih Tombol "Perbaiki" -> Database ju

[2022-03-16 11:43] Zoel-WB opened #5040 "[Premium V22.03-Rev02] Penduduk Berubah Status Dasar "Hilang" Masih Terdapat Dalam Buku Induk Penduduk"
### Jelaskan error yg dialami

Penduduk dengan status dasar "Hilang" masih terdapat dalam Buku Induk Kependudukan, sedang dalam Rekapitulasi Jumlah Penduduk sudah tidak lagi di hitung lagi dalam perhitungkan Rekap Penduduk Bulanan atau Buku Rekap Jumlah Penduduk (bumindes_penduduk_rekapitulasi)

### Cara untuk mereplikasi errornya

1. Buka Data Penduduk -. Pilih Salah Satu Data Penduduk
2. Pilih R

[2022-03-16 12:38] balongbesuk commented on #5032
centang infrastruktur desa digunakan untuk ceklist semua bidang infrastruktur yang ad d desa

bukan bug

[2022-03-16 12:38] #5032 closed, assigned to nobody

[2022-03-16 12:38] Zoel-WB opened #5041 "[Premium V22.03-Rev02] Rekapitulasi Data KK Pada Statistik Laporan Bulanan Tidak Tampil atau Tidak Terhitung Otomatis"
### Jelaskan error yg dialami

Input Data Penduduk melalui prosedur impor database dari data excel->data KK tidak otomatis terhitung dan tampil dalam perhitungan Rekapitulasi Statistik Laporan Bulanan.

### Cara untuk mereplikasi errornya

1. Buka Pengaturan Database.
2. Hapus/Kosongkan Semua Data.
3. Lakukan Impor Data Penduduk
4. Pergi Fitur Statistik --> Pilih Laporan Bulanan.
5. Data Jumlah KK

[2022-03-17 01:17] eddieridwan commented on #5039
**Catatan bagi @Zoel-WB dan programmer:**

1. Hal ini tidak bisa dicegah, karena pengguna bebas menggunakan Phpmyadmin untuk restore database mereka.
2. Tetapi sekarang sudah ada fitur Periksa -> Perbaiki yg otomatis mendeteksi kesalahan collation ini dan juga otomatis memperbaiki. Jadi tidak ada tindakan yg dapat dilakukan terkait impor menggunakan Phpmyadmin.
3. Tetapi saat ini fitur restore men

[2022-03-17 02:46] agungsugiarto commented on #5034
Issue ini saya tutup karena errornya tidak berkaitan dengan backup / restore.

[2022-03-17 02:46] #5034 closed, assigned to nobody

[2022-03-17 02:48] #4655 closed, assigned to yogiperdana, apidong, FirlianiF, andifahruddinakas

[2022-03-17 02:48] ariandii opened #5042 "Bug/error: Laporan Ulang Mengenai Info Layanan di OpenSID umum"
### Jelaskan error yg dialami

Informasi yang ada tidak lengkap. baterai merah padahal baru daftar, tanggal daftar kosong padahal baru daftar, icon gear double.

![IMG_20220317_094746_918](https://user-images.githubusercontent.com/46939846/158726610-05118e36-26f4-443f-a945-5156c09d38ee.jpg)

### Cara untuk mereplikasi errornya

di gambar atas

### Hasil yg diharapkan

normal

### Tangkapan layar d

[2022-03-17 02:55] rsoeta opened #5043 "Mohon tambahkan alamat lengkap di export data vaksin"

[2022-03-17 03:07] PWidodo opened #5044 "Bug/error: Perlebar ukuran tampilan Struktur Organisasi Pemerintah Desa baik printout maupun formnya"
### Jelaskan error yg dialami

Halaman Bagan Struktur Organisasi Pemerintah Desa lebarnya dibatasi dengan scroll Left - Right baik dalam Form sistemnya maupun pada tampilan  dan hasil cetak (layouts).

### Cara untuk mereplikasi errornya

1. Login Admin
2. Menu Buku Administrasi Desa>Administrasi Umum
3. Sub Menu Buku Aparat Pemerintah Desa
4. Klik tombol aksi 'Bagan Organisasi'

### Hasil yg diha

[2022-03-17 03:17] andifahruddinakas commented on #5036
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/861

[2022-03-17 03:17] #5036 closed, assigned to agungsugiarto

[2022-03-17 03:43] balongbesuk commented on #5044
download file bagan organisasi juga tidak mengeluarkan gambar photo

[2022-03-17 04:40] andifahruddinakas commented on #5017
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/851

[2022-03-17 04:40] #5017 closed, assigned to yogiperdana

[2022-03-17 05:25] balongbesuk opened #5045 "Permintaan fitur: Tambahkan noindex pada halaman /periksa"
### Apa kekurangan yg ingin diatasi?

header meta halaman periksa tidak ada informasi membolehkan robot mengindex halaman atau tidak

### Jelaskan solusi yg diinginkan

tambahkan

<meta name="robots" content="noindex">

agar halaman periksa tidak terindex oleh google

### Apakah ada alternatif lain

-

### Untuk versi OpenSID mana

premium rev01

### Informasi tambahan

-

[2022-03-17 05:25] balongbesuk opened #5136 "Permintaan fitur: Tambahkan noindex pada halaman /periksa"
### Apa kekurangan yg ingin diatasi?

header meta halaman periksa tidak ada informasi membolehkan robot mengindex halaman atau tidak

### Jelaskan solusi yg diinginkan

tambahkan

`<meta name="robots" content="noindex">`

agar halaman periksa tidak terindex oleh google

### Apakah ada alternatif lain

-

### Untuk versi OpenSID mana

premium rev01

### Informasi tambahan

-

[2022-03-17 05:29] balongbesuk opened #5046 "Permintaan fitur: tambahkan noindex pada halaman verifikasi-surat"
### Apa kekurangan yg ingin diatasi?

halaman verifikasi-surat pada header meta tidak menjelaskan apakah robot boleh mengindex halaman atau tidak

### Jelaskan solusi yg diinginkan

tambahkan

`<meta name="robots" content="noindex">`

agar halaman periksa tidak terindex oleh google

### Apakah ada alternatif lain

-

### Untuk versi OpenSID mana

premium rev01

### Informasi tambahan

-

[2022-03-17 06:06] winokman opened #5047 "Bug/error: permudah untuk entri image slider.. untuk gambar depan web.. yg skrg setiap di klik tidak aktif.. dan untuk input gambar pada tiap2 artikel menu unggah gambar setelah disimpan, gambar tidak tampil (pada opensid umum)"
### Jelaskan error yg dialami

Bug/error:  permudah untuk entri image slider.. untuk gambar depan web.. yg skrg setiap di klik tidak aktif.. dan untuk input gambar pada tiap2 artikel menu unggah gambar setelah disimpan, gambar tidak tampil (pada opensid umum)

### Cara untuk mereplikasi errornya

Tolong di betulkan

### Hasil yg diharapkan

Gamvar2 mudah ditampilkan pada web

### Tangkapan layar d

[2022-03-17 06:06] #5047 closed, assigned to nobody

[2022-03-17 06:12] winokman opened #5048 "Permintaan fitur: mohon ditambah fitur lapor desa yg mudah"
### Apa kekurangan yg ingin diatasi?

Lapor desa yg memudahkan warga untuk bisa melaporkan segala sesuatu yg terjadi di desanya, diaertai ambil foto dan pengisian data yg ditulis pelapor

### Jelaskan solusi yg diinginkan

Tambahkan button lapor desa yg berisi seperti diatas

### Apakah ada alternatif lain

Tidak

### Untuk versi OpenSID mana

22.03

### Informasi tambahan

_No response_

[2022-03-17 06:13] #5048 closed, assigned to nobody

[2022-03-17 06:13] winokman commented on #5048
Ok.. waiting..

[2022-03-17 08:18] andifahruddinakas commented on #4656
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/852

[2022-03-17 08:18] #4656 closed, assigned to yogiperdana

[2022-03-17 11:41] Zoel-WB opened #5049 "[Premium V22.03-Rev02] Bug atau Bukan Untuk Loading Fitur Vaksin Sangat Lambat Bila Jumlah Data Penduduk Yang Besar"
### Jelaskan error yg dialami

1. Input Data Vaksin, Pilih Fitur Daftar Penerima Vaksin ataupun Pilih Fitur Laporan Terasa Sangat Lambat untuk Desa Dengan jumlah Data Penduduk Yang Lebih Banyak.
2. Menampilkan data pada website juga sangat lambat terkadang website menjadi error dengan pesan error 500"Request Time Out"

### Cara untuk mereplikasi errornya

.

### Hasil yg diharapkan

Agar Loading d

[2022-03-17 12:09] Wiliyantoro commented on #5049
Saat menggunakan fitur menu vaksin (input, laporan dan rekap ) loading sangat lama,, delay hingga -+ 1 menit, dan saat simpan input vaksin , proses penyimpanan sangat lama,, website saya saat ini menggunakan vps opendesa, jumlah penerima vaksin 3500 orang,

[2022-03-18 02:07] agungsugiarto commented on #5038
Pak @balongbesuk  saya tidak menemukan masalah yg dimaksud, seperti apa step yg dilakukan ketika mengisi?
mas @andifahruddinakas bisa dibantu untuk mereplikasi errornya?

[2022-03-18 02:39] andifahruddinakas commented on #5038
Untuk area yg menggunakan multipolygon hanya bisa digunakan pada pemetaan wilayah desa dan dusun saja.

@balongbesuk apakah yg bermasalah di wikayah rt dan rw??? Kalau iya, mmang itu tdk menggunakan multipolygon.

[2022-03-18 03:01] andifahruddinakas commented on #5039
**Solusi  :**
Saat lakukan restore database, ubah semua collation sesuai standar yang digunakan. (https://github.com/OpenSID/OpenSID/issues/5039#issuecomment-1069804492)

[2022-03-18 03:10] andifahruddinakas commented on #5040
Pak @Zoel-WB, coba cek pembahasan di issue ini mengenai penduduk hilang. https://github.com/OpenSID/OpenSID/issues/3955

[2022-03-18 03:43] agungsugiarto commented on #5049
Pak @Zoel-WB bisa kirim backup databasenya lewat dm telegram saya?

[2022-03-18 05:01] balongbesuk opened #5050 "Perbaiki tampilan tabel statistik pada halaman peta yang bertumpuk"
### Jelaskan error yg dialami

ketka pengguna melihat statistik di dalam menu peta statistik penduduk bertumpukan sehingga kurang jelas untuk dibaca

### Cara untuk mereplikasi errornya

buka menu web peta menggunakan HP > tekan salah satu wilayah > pilih statistik

### Hasil yg diharapkan

statistik menu peta tidak bertumpukan/ tertata rapi

### Tangkapan layar dan log error

![Untitled](https://

[2022-03-18 05:28] winokman opened #5051 "Bug/error: Pada menu bantuan, untuk menambah daftar "Peserta Bantuan" button tambah data tidak muncul"
### Jelaskan error yg dialami

Bug/error: Pada menu bantuan, untuk menambah daftar "Peserta Bantuan" button tambah data tidak muncul, sehingga tidak bisa menambah data

### Cara untuk mereplikasi errornya

Bug/error: Pada menu bantuan, untuk menambah daftar "Peserta Bantuan" button tambah data tidak muncul, sehingga tidak bisa menambah data

### Hasil yg diharapkan

Mohon button tambah data di tam

[2022-03-18 05:41] balongbesuk commented on #5051
bantuan akan otomatis tertutup kl tanggal masa berlakunya sudah lewat, ubah tanggal masa berlaku bantuan

[2022-03-18 05:42] balongbesuk commented on #5038
owh saya kira berlaku untuk global, siap terima kasih

[2022-03-18 05:42] #5038 closed, assigned to nobody

[2022-03-18 05:59] winokman commented on #5051
Terima kasih..

[2022-03-18 06:07] #5051 closed, assigned to nobody

[2022-03-18 06:12] andifahruddinakas commented on #5038
Permintaan awal penggunaan peta multipolygon hanya 2 bagian itu sj. Jika ingin bisa digunakan ditempat lain, silahkan di buatkan permintaan fitur. Krn perlu ada beberapa penyesuaian sebelum menggunakan peta multipolygon.

[2022-03-18 06:55] #4654 closed, assigned to yogiperdana, apidong

[2022-03-18 07:08] #4657 closed, assigned to yogiperdana

[2022-03-18 07:30] andifahruddinakas commented on #5037
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/862

[2022-03-18 07:30] #5037 closed, assigned to agungsugiarto

[2022-03-18 07:40] andifahruddinakas commented on #5044
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/865

[2022-03-18 07:40] #5044 closed, assigned to agungsugiarto

[2022-03-18 07:42] #5030 closed, assigned to eddieridwan

[2022-03-18 07:42] #5027 closed, assigned to nobody

[2022-03-18 07:47] andifahruddinakas commented on #5042
Susulan perbaikan, akan disesuaikan saat melakukan penggabungan rilis premium ke umum.

[2022-03-18 07:53] andifahruddinakas commented on #5041
Pak @Zoel-WB, cek pembahasan https://github.com/OpenSID/OpenSID/issues/4913

[2022-03-18 07:54] Zoel-WB commented on #5041
Oke pak, makasih infonya...

[2022-03-18 10:02] balongbesuk opened #5052 "Permintaan fitur: Jumlahkan peta pengguna opensid seperti pada web pantau.opensid"
### Apa kekurangan yg ingin diatasi?

ketika pengguna mencentang peta pengguna opensid maka semua lokasi pengguna tampil sehingga memberatkan kerja web

### Jelaskan solusi yg diinginkan

jumlahkan pengguna opensid seperti pada website pantau opensid sehingga tidak memberatkan browser

### Apakah ada alternatif lain

-

### Untuk versi OpenSID mana

premium

### Informasi tambahan

![image](https:

[2022-03-18 10:30] balongbesuk opened #5053 "Bug/error: BUG? Judul Grafik keuangan tidak berubah walaupun isian tahun berjalan"
### Jelaskan error yg dialami

pada menu pemetaan web ketika pengguna menekan grafik keuangan header tabel grafik tetap menampilkan tahun 2019 walaupun isiannya sudah berubah tahun sekarang

### Cara untuk mereplikasi errornya

pergi ke halaman peta pada website > pilih wilayah desa > tekan grafik keuangan > lihat judul header grafik keuangan

### Hasil yg diharapkan

mengikuti tahun berjalan

###

[2022-03-18 10:58] gampongbarabung commented on #4680
Semoga cepat terintegrasi

[2022-03-18 13:17] balongbesuk opened #5054 "Bug/error: BUG? hasil cetak peta pada web tidak memunculkan nama desa dan arah mata angin"
### Jelaskan error yg dialami

cetak peta pada halaman peta web tidak memunculkan nama desa dan arah mata angin

### Cara untuk mereplikasi errornya

buka website desa > buka halaman peta > centang beberapa lokasi > print map > hasilnya beda dengan cetak peta di menu admin

### Hasil yg diharapkan

bisa sama

### Tangkapan layar dan log error

![Peta_Wilayah(1)](https://user-images.githubuserconte

[2022-03-18 17:36] muhtar-coder opened #5055 "Bug/error: Nama non warga di arsip layanan surat tidak dapat di cari di kolom pencarian"
### Jelaskan error yg dialami

Saat mencari nama pemohon di arsip layanan surat, pemohon nama non warga tidak dapat di cari atau tidak dapat di filter sehingga ketika mencari arsip layanan kesulitan.

### Cara untuk mereplikasi errornya

1. masuk menu layanan surat >
2. arsip layanan surat >
3. pilih jenis surat >
4. cari nama pemohon non warga yang sebelumnya di pastikan sudah di buatkan surat

#

[2022-03-18 22:31] mranca opened #5056 "tambahkan desa pada penandatangan surat"

[2022-03-18 22:40] mranca opened #5057 "tambahkan Desa pada penandatangan surat"
### Apa kekurangan yg ingin diatasi?

kurangnya nama desa pada penandatangan

### Jelaskan solusi yg diinginkan

usahakan tambahakan desa di penandatangan surat
![Screenshot (12)](https://user-images.githubusercontent.com/76085245/159093495-4473bf17-2437-42d6-bb7f-ab268a5b5e8a.png)

### Apakah ada alternatif lain

masukkan dari penganturan > aplikasi > sebutan desa.
![Screenshot (11)](https://user

[2022-03-18 22:56] #5056 closed, assigned to nobody

[2022-03-18 23:45] balongbesuk commented on #5057
penanda tangan suratnya dikasih jabatan Kepala Desa / Kepala Kelurahan nanti muncul

[2022-03-19 00:37] mranca commented on #5057
Ok siap terima kasih

[2022-03-19 00:38] #5057 closed, assigned to nobody

[2022-03-19 07:37] Zoel-WB commented on #5049
Backup sudah saya kirim via telegram pak

[2022-03-19 08:37] huntwijaya opened #5058 "Permintaan fitur: Penambahan Status Perkawinan Cerai Hidup Tercatat/Tidak Tercatat"
### Apa kekurangan yg ingin diatasi?

Seperti halnya dalam Perkawinan Status Kawin Tercatat dimana Masyarakat bisa membuktikan dengan Tercatatnya Perkawinan dalam Buku Nikah/Akta Nikah, apabila tidak tercatat tetap masuk Status KAwin namun belum tercatatkan.
Untuk Perceraian Pun Juga Sama apabila Masyarakat yang awalnya Kawin tidak Tercatat pada saat Cerai Hidup termasuk kedalam Cerai Hidup Tercat

[2022-03-19 08:50] balongbesuk opened #5059 "Bug/error: Bug? Ubah status dasar pada tampilan HP Blank Putih"
### Jelaskan error yg dialami

ketika pengguna menggunakan Hp untuk merubah status dasar penduduk yang tampil blank putih

### Cara untuk mereplikasi errornya

Buka Opensid menggunakan HP > pergi ke menu penduduk > cari nama penduduk > udah status dasar penduduk > blank Putih

### Hasil yg diharapkan

berjalan semestinya

### Tangkapan layar dan log error

-

### Rilis Versi OpenSID

Rilis Premium

[2022-03-20 01:17] mukhlisvandjava opened #5060 "Permintaan fitur: menyisipkan data statistik ke artikel"
### Apa kekurangan yg ingin diatasi?

Ketika membutuhkan profil data statistik untuk keperluan pencetakan langsung tidak bisa

### Jelaskan solusi yg diinginkan

Desa bisa memperoleh data profil desa yang siap dicetak secara langsung untuk kepentingan pembuatan proposal ke instansi tertentu.

### Apakah ada alternatif lain

Penambahan fitur sisipkan data statistik seperti fitur sisipkan laporan ke

[2022-03-20 02:53] winokman opened #5061 "Mohon ditambah modul untuk kegiatan Pemilihan Kepala Desa secara online"
### Apa kekurangan yg ingin diatasi?

Meminimalkan proses pemilihan kades secara manual

### Jelaskan solusi yg diinginkan

Menambahkan modul pemilihan kepala desa

### Apakah ada alternatif lain

Menambahkan modul pemilihan kepala desa

### Untuk versi OpenSID mana

Rilis umum untuk versi berikutnya yaitu 22.04

### Informasi tambahan

Mohon diprioritaskan.. terima kasih

[2022-03-20 04:59] balongbesuk commented on #5061
mungkin bisa dilampirkan undang undang proses dan tata cara nya? kl cuma sebatas usulan tanpa peraturan akan mental

[2022-03-20 05:59] winokman commented on #5061
Kalo tentang tata caranya mungkin bisa diwakilkan ke tim internal opensid
yg paham betul tentang tata cara pelaksanaan pilkades, kita2 yg akan
melaporkan tentang bug dan penambahan fitur2 opensid untuk menambah
kekayaan fungsi pada aplikasi opensid.. terima kasih

On Sun, Mar 20, 2022, 12:00 balongbesuk ***@***.***> wrote:

[2022-03-20 06:04] balongbesuk opened #5062 "Bug/error: BUG surat desa terhapus semua pada server"
### Jelaskan error yg dialami

ketika pengguna ingin menghapus satu surat desa maka pada server folder desa surat terhapus semua

### Cara untuk mereplikasi errornya

layanan surat > pengaturan surat > hapus salah satu surat desa > cek database folder desa > surat desa terhapus semua

### Hasil yg diharapkan

hanya menghapus surat yang dimaksud

### Tangkapan layar dan log error

-

### Rilis Vers

[2022-03-20 07:16] balongbesuk commented on #5062
saya sertakan format surat desa yang mungkin dari suratnya sendiri yang menjadikan BUG dan menghapus seluruh isi folder surat desa

[surat_keterangan.zip](https://github.com/OpenSID/OpenSID/files/8310801/surat_keterangan.zip)

[2022-03-20 07:47] balongbesuk commented on #5062
sepertiny memang suratnya yang tidak mengikuti format opensid yang baru

[2022-03-20 07:47] #5062 closed, assigned to nobody

[2022-03-20 09:42] huntwijaya commented on #5058
<img width="610" alt="image" src="https://user-images.githubusercontent.com/92985345/159156645-171a07f6-c0c9-4a46-92e5-0f1b7ef93b00.png">
<img width="571" alt="image" src="https://user-images.githubusercontent.com/92985345/159156660-10aa1b08-4f7e-4a59-9018-20196e210100.png">

Status Pencatatan Perkawinan dalam Permendagri 108 Tahun 2019 Pasal 50 Ayat 4 dan juga dalam Lampiran Formulir Data Kependu

[2022-03-20 13:22] winokman opened #5063 "Bug/error: Master layanan surat pada aplikasi ada kurang lebih 45 item, tetapi ketika mau buat surat layanan mandiri, master surat yg muncul hanya sekitar 12 item"
### Jelaskan error yg dialami

Bug/error: Master layanan surat pada aplikasi ada kurang lebih 45 item, tetapi ketika mau buat surat layanan mandiri, master surat yg muncul hanya sekitar 12 item

### Cara untuk mereplikasi errornya

Bug/error: Master layanan surat pada aplikasi ada kurang lebih 45 item, tetapi ketika mau buat surat layanan mandiri, master surat yg muncul hanya sekitar 12 item

###

[2022-03-20 13:29] andifahruddinakas commented on #5063
Surat yg ada di layanan mandiri defaultnya  sebatas surat untuk perorangan. Untuk menampilkan surat lain silahkan di atur sendiri pd admin pengaturan surat.

[2022-03-20 13:29] #5063 closed, assigned to nobody

[2022-03-21 02:17] winokman opened #5064 "Permintaan fitur: Mohon ditambahkan tombol backup data SQL dan Desa yang berlaku Secara "Otomatis""
### Apa kekurangan yg ingin diatasi?

Belum ada backup data aplikasi yang berjalan secara Otomatis, yang ingin diatasi adalah untuk menghindari Admin IT Desa lupa Backup data harian,

### Jelaskan solusi yg diinginkan

Mode backup data yang sekarang memang sudah ada tetapi berlaku secara manual, untuk ke depan admin IT desa hanya Set Awal saja menentukan Kapan waktunya (Jam, menit harian), di fold

[2022-03-21 02:59] rohmanudin05 commented on #5023
👍

[2022-03-21 03:07] PWidodo commented on #5023
Di beberapa daerah Desa sudah ada aturan (SK. Bupati) tentang Kewajiban pendataan Tempat Pemakaman warga masyarakat yang menjelaskan lokasi almarhum/mah dimakamkan, dan saya rasa issue ini penting untuk di Pull Request dan masuk rilis bulan depan.

[2022-03-21 03:20] balongbesuk opened #5065 "Bug/error: Hapus satu surat desa menghapus keseluruhan surat desa yang ada pada sistem"
### Jelaskan error yg dialami

hapus satu surat pada surat ubahan desa menghapus keseluruhan surat pada seluruh surat desa yang terdapat pada sistem

### Cara untuk mereplikasi errornya

layanan surat > pengaturan surat > hapus satu surat ubahan desa > cek folder surat desa pada sistem > folder surat terhapus semua

### Hasil yg diharapkan

hanya menghapus surat yang dimaksud

### Tangkapan layar

[2022-03-21 04:30] luxmant354 commented on #5023
Up

[2022-03-21 05:59] andifahruddinakas commented on #5053
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/870

[2022-03-21 05:59] #5053 closed, assigned to agungsugiarto

[2022-03-21 06:04] balongbesuk opened #5066 "Perkenankan penambahan surat baru menggunakan tanda "-""
### Jelaskan error yg dialami

maksud pengguna ingin menyediakan Surat Pengantar E-KTP / Surat Pengantar KTP-el namun pada sistem opensid menyimpan nama tersebut dengan EKTP / KTPel dengan menghilangkan tanda "-"

### Cara untuk mereplikasi errornya

pergi ke pengaturan surat tambahkan surat yang dimaksud

### Hasil yg diharapkan

bisa menggunakan tanda "-"

### Tangkapan layar dan log error

-

#

[2022-03-21 06:04] mukhlisvandjava commented on #5023
Hayo.. lanjutkan... Kasian yang meninggal gak d urusi administrasinya..

[2022-03-21 06:08] andifahruddinakas commented on #5049
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/873

[2022-03-21 06:08] #5049 closed, assigned to agungsugiarto

[2022-03-21 06:14] Wiliyantoro commented on #5023
Mungkin bisa ditambahkan kategori
Khusus agama hindu ada istilah ngaben/dibakar

[2022-03-21 06:24] andifahruddinakas commented on #5054
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/872

[2022-03-21 06:24] #5054 closed, assigned to agungsugiarto

[2022-03-21 07:57] andifahruddinakas commented on #4995
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/863

[2022-03-21 07:57] #4995 closed, assigned to yogiperdana

[2022-03-21 08:51] agungsugiarto commented on #5059
Pak @balongbesuk saya tidak menemukan masalah yg dimaksud, bisa jelaskan lahkah yg lebih terperinci misal dengan screenshoot/video?

Mas @andifahruddinakas bisa bantu replikasi masalahnya?

![image](https://user-images.githubusercontent.com/10989147/159229454-5cee219c-90fe-4da3-a504-e0f71f7a3597.png)

[2022-03-21 09:04] balongbesuk commented on #5059
kl d data penduduk langsung normal tp ketika sudah tahap di menu cari penduduk X kemudian ubah status dasar penduduk X tersebut maka akan blank

sebentar sy buat videony dg contoh dari web berputar

[2022-03-21 09:20] balongbesuk commented on #5059
hm hari ini baik dari web berputar dan web saya lancar tanpa kendala, 🙄,

sementara close dlu sampai bugny muncul kembali

[2022-03-21 09:20] #5059 closed, assigned to nobody

[2022-03-21 13:59] balongbesuk commented on #5023
bagus biar serah terima juru kunci baru gak bingung kl d tany warga

[2022-03-22 00:51] andifahruddinakas commented on #5055
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/874

[2022-03-22 00:51] #5055 closed, assigned to agungsugiarto

[2022-03-22 00:58] andifahruddinakas commented on #5065
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/875

[2022-03-22 00:58] #5065 closed, assigned to agungsugiarto

[2022-03-22 01:27] eddieridwan opened #5067 "Permintaan fitur: Sesuakan tampilan informasi yang ada di home"
### Apa kekurangan yg ingin diatasi?

Forum OpenDesa di https://forum.opendesa.id/ dimaksudkan sebagai tempat utama bagi pengguna untuk melaporkan dan bertanya bila mengalami masalah teknis. Tetapi info terkait forum tsb saat ini belum ada di dashboard Admin.

### Jelaskan solusi yg diinginkan

Tambahkan info dan tautan ke Forum OpenDesa di dashboard Admin.

![image](https://user-images.githubuser

[2022-03-22 01:36] #4658 closed, assigned to yogiperdana

[2022-03-22 01:48] #4659 closed, assigned to yogiperdana

[2022-03-22 01:54] #4660 closed, assigned to yogiperdana

[2022-03-22 02:39] agungsugiarto commented on #4967
Issue ini saya tutup,

1. Pastikan di menu Info Desa > Pemerintah Desa sudah di pilih ttd a.n
2. Kemudian di Info Desa > Identitas Desa sudah dipilih kepala desanya
2. Clear cache opensid api

[2022-03-22 02:39] #4967 closed, assigned to apidong

[2022-03-22 04:24] agungsugiarto commented on #5067
Alternatif tampilan

<img width="218" alt="image" src="https://user-images.githubusercontent.com/10989147/159407805-bb73cc34-b229-472f-bd86-d2c6eaa0d66d.png">

[2022-03-22 04:59] andifahruddinakas opened #5068 "Kelengkapan Info Sistem"
### Apa kekurangan yg ingin diatasi?

Tersedia info sistem mengenai syarat minimal dan maksimal versi dabase dan php yg digunakan.

### Jelaskan solusi yg diinginkan

Tampil peringatan jika syarat tdk sesuai, misalnya :
1. Menggunakan MySql 8
2. Menggunakan Php 8

### Apakah ada alternatif lain

Tampilkan peringatan

### Untuk versi OpenSID mana

v22.03

### Informasi tambahan

Null

[2022-03-22 05:02] andifahruddinakas commented on #5050
Pak @balongbesuk, issue ini sy ubah sebagai permintaan fitur untuk memindahkan viee oeta ke masing2 tema. Krn masing2 tema memiliki css/tampilannya sendiri

[2022-03-22 05:55] balongbesuk commented on #5067
![adminlte](https://user-images.githubusercontent.com/35319600/159416843-5d84ab5f-ff69-4692-9d1e-a74344273bb8.png)

atau dibikin icon taroh di atas biar makin kebaca bagi pengguna baru,

*saya sendiri jarang baca info yang pojok kanan itu 😄

[2022-03-22 06:05] balongbesuk commented on #5050
itu saya test d tema bawaan opensid sama seperti itu tampilannya
![natra](https://user-images.githubusercontent.com/35319600/159418125-98679d67-ad06-4223-85c7-8721c49140b1.png)

natra

![esensi](https://user-images.githubusercontent.com/35319600/159418131-0215fee1-206e-41da-86ad-db4934b71474.png)

esensi

[2022-03-22 06:12] roaddee commented on #4582
up juga

[2022-03-22 06:15] andifahruddinakas commented on #5050
Iya, makanya perlu di pindahkan ke view masing2 tema. View peta saat ini menggunakan css dr admin + modifikasi, yg bisa sj berbeda dgn css yg digunakan oleh masing2 tema.

[2022-03-22 06:33] andifahruddinakas commented on #4997
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/877

[2022-03-22 06:33] #4997 closed, assigned to yogiperdana

[2022-03-22 06:39] andifahruddinakas commented on #5022
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/878

[2022-03-22 06:39] #5022 closed, assigned to agungsugiarto

[2022-03-22 11:02] andifahruddinakas commented on #5066
Pak @balongbesuk, untuk issue ini merupakan permintaan. Untuk perbaikan sementara yakni, perbaikan validasi agar konsisten tidak dapat menginput - saat buat surat.

[2022-03-22 11:07] andifahruddinakas opened #5069 "Bug/error: Penambahan surat baru masih bisa menerima input "-", tp setelah disimpan "-" dihapus (divalidasi)"
### Jelaskan error yg dialami

Masih dapat menginput "-" pada saat buat surat, tp setelah disimpan "-" dihapus oleh sistem.

### Cara untuk mereplikasi errornya

1. Buka layanan surat > pengaturan surat
2. Buat surat baru
3. Isi data menggunakan "-"
4. Simpan
5. Cek surat yg di input td dgn "-", maka hanya akan tampil data tanpa "-"

### Hasil yg diharapkan

Konsisten, jika "-" tidak diperbolehkan

[2022-03-22 11:08] andifahruddinakas commented on #5066
https://github.com/OpenSID/OpenSID/issues/5069

[2022-03-22 11:24] andifahruddinakas commented on #5069
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/879

[2022-03-22 11:24] #5069 closed, assigned to agungsugiarto

[2022-03-22 16:04] balongbesuk commented on #5066
surat desa yang saya buat sudah lama ada dengan menggunakan -

mungkin perlu tambahkan validasi saja kl tidak boleh menggunakan karakter,

karena saat ini sistem masih bs simpan cmn jadi berantakan kalimatny jd sy kira bug

[2022-03-22 22:47] Zoel-WB opened #5070 "[Premium 22.03 Rev03] Bug atau Efek Perbaikan -> Cetak Peta Tidak Menampilkan Logo Desa, Nama Kabupaten, Kecamatan dan Nama Desa"
### Jelaskan error yg dialami

Saat mencetak Peta-> Tampilan Logo Desa tidak tampil di kolom legenda peta akan tetapi yg tampil logo opensid, Nama Kabupaten, Nama Kecamatan dan Nama Desa juga tidak ditampilkan

### Cara untuk mereplikasi errornya

Buka Peta -. Dari Fitur Pemetaan atau dari Website
Klik Tombol Cetak

### Hasil yg diharapkan

Agar Logo Desa, Nama Desa, Nama Kabupaten dan Nama Kecama

[2022-03-22 23:50] andifahruddinakas commented on #5070
Pak @Zoel-WB, sy cek di https://berputar.opendesa.id/peta tdk bermasalah.

[2022-03-22 23:53] andifahruddinakas commented on #5070
Cek di web berputar dan menggunakan tema bawaan

[2022-03-23 00:06] Zoel-WB commented on #5070
Oke Pak @andifahruddinakas , issue ini saya close dulu->mungkin ada kondisi tertentu di database saya

[2022-03-23 00:06] #5070 closed, assigned to nobody

[2022-03-23 00:19] #4836 closed, assigned to agungsugiarto, yogiperdana

[2022-03-23 03:12] apidong commented on #4347
pak @eddieridwan,  ada beberapa fitur yang belum bisa diterapkan saat ini.
1. Di arsip layanan, tampilkan status surat yg perlu dilengkapi sebelum dapat disahkan.
 **alasan tidak bisa diterapkan : saat pembuatan surat, tidak ada input untuk memilih dokumen apa saja yang menjadi syaratnya.
2. Di arsip layanan, sediakan aksi untuk mengirim ulang surat yang perlu dilengkapi.**
alasan tidak bisa diter

[2022-03-24 07:14] andifahruddinakas commented on #4998
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/882

[2022-03-24 07:14] #4998 closed, assigned to yogiperdana

[2022-03-24 08:56] andifahruddinakas commented on #4323
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/839

[2022-03-24 08:56] #4323 closed

[2022-03-24 10:29] balongbesuk opened #5071 "Bug/error: Statistik umur dibawah 1 tahun"
### Jelaskan error yg dialami

cuma pnempatan kalimat yang kurang tepat

pada statistik umur terdapat kalimat bawaan opensid dibawah 1 tahun, sedangkan isian statistik tersebut terdapat isian umur 1 tahun berjalan, sehingga kalimat dibawah 1 tahun kurang tepat,

### Cara untuk mereplikasi errornya

pergi  ke statistik penduduk > pilih umur ( rentang ) > lihat statistik

### Hasil yg diharapkan

ka

[2022-03-24 10:29] balongbesuk commented on #5071
https://forum.opendesa.id/d/34-terkait-statistik-umur-dibawah-1-tahun

[2022-03-24 13:46] Wiliyantoro opened #5072 "Permintaan fitur: tambah statistik untuk sasaran vaksin"
### Apa kekurangan yg ingin diatasi?

belum ada  fitur untuk statisktik terkait berapa jumlah warga yang menjadi sasaran vaksin
vaksin 1
vaksin 2
dan vaksin 3 / booster

### Jelaskan solusi yg diinginkan

agar ditambah statisktik masyarakat yang menjadi / memenuhi syarat sasaran vaksin

### Apakah ada alternatif lain

untuk dosis vaksin 1 = usia 6 tahun keatas / opsional tergantung regulasi pemeri

[2022-03-24 13:52] Zoel-WB commented on #5072
Mantap ini, supaya utk dapat memantau sasaran vaksin dari dosis 1 utk vaksin 2 atau wajib harus melakukan vaksin ke-2, begitu juga yg sudah vaksin ke-2 sudah berhak utk mendapatkan vaksin ke 3 atau vaksin boster.

[2022-03-24 13:54] Wiliyantoro commented on #5072
kalau ada yang perlu disempurnakan mohon dibantu lengkapi isuee ini bang zoel, terimakasih

[2022-03-25 02:00] ariandii commented on #4652
untuk status kehadiran menurut saya tidak ambil dari tabel Aparatur Desa
melainkan ambil dari Pengguna yang sudah dipilih Data Staf?

karena kadang desa isi data aparatur sampai tingkat RT, yang mana pak RT nya tidak memerlukan info absen di widget aparatur.

[2022-03-25 02:33] eddieridwan commented on #4652
@yogiperdana , bisa ditambahkan setting di Pemerintahan Desa untuk tidak dilaporkan absensinya. Defaultnya: dilaporkan. Hanya admin yg dapat melakukan perubahan setting itu. Mohon buatkan issue terpisah untuk setting ini.

[2022-03-25 11:09] gampongbarabung opened #5073 "Permintaan fitur: Penambahan Fitur QR-Code Pada Inventaris Asset Desa"
### Apa kekurangan yg ingin diatasi?

Sejauh ini pendataan asset desa sudah sangat bagus pada aplikasi. Tetapi pada barang yang di data saat diregister masih manual menulis dengan spidol atau menempel sticker dan kemudian menulis data yang teregister pada barang tersebut. Agar lebih sempurna mungkin dapat ditambahkan QR-Code setelah diregister barang tersebut sehingga QR-Code juga dapat di print d

[2022-03-25 11:44] mranca opened #5074 "Terjadi error saat import keuangan"
### Jelaskan error yg dialami

Terjadi error 500

### Cara untuk mereplikasi errornya

Keuangan  > import data

### Hasil yg diharapkan

Di perbaiki

### Tangkapan layar dan log error

![Screenshot_20220325_192952](https://user-images.githubusercontent.com/76085245/160114821-1074c1a4-6960-45fc-9b4d-f53a919e313b.jpg)

### Rilis Versi OpenSID

Rilis Premium

### Versi OpenSID

22.03 rev 03

### Tema

[2022-03-25 12:12] andifahruddinakas commented on #5074
Mas @mranca, silahkan sertakan contoh data yg di impor

[2022-03-25 12:41] mranca commented on #5074
Saya close saja issuenya sudah saya temukan letak masalahnya

[2022-03-25 12:42] #5074 closed, assigned to nobody

[2022-03-25 13:40] Zoel-WB commented on #5072
Itu sudah tersampaikan maksudnya, lainnya sudah ada sama programer..

[2022-03-25 16:09] Zoel-WB opened #5075 "[Lapak] Managemen lapak oleh pengguna di layanan mandiri"
### Jelaskan error yg dialami

Saat login Akun Pelapak masih Muncul Akun Tambah Data dan dapat memanggil lapak Pelapak lain untuk menambah, merubah atau menghapus produk pelapak akun lain

![image](https://user-images.githubusercontent.com/64481641/160157777-0dcf99b5-4e86-410c-8329-488472030639.png)

![image](https://user-images.githubusercontent.com/64481641/160157908-491dd4d3-6648-4b12-8ceb-5e74

[2022-03-25 16:17] ariandii commented on #5075
ini bukan bug, melainkan fitur.

karena hak akses yang dibuat tentu berdasarkan group seperti operator, admin, dan group custom lainnya, hanya saja diberi nama Shopping.

jadi bukan khusus mengenai lapak.

buat ajuan fitur saja.

[2022-03-25 16:21] Zoel-WB commented on #5075
Bisa jadi Pak karena hak akses-nya bebas, artinya buat akun seperti layanan mandiri pak ya...

[2022-03-25 16:24] andifahruddinakas commented on #5075
Untuk kasus ini bisa di terapkan di layanan mandiri, dimana pengguna bisa menbuat/mengupload produk mereka sendiri.

[2022-03-25 16:25] balongbesuk commented on #5075
jangan lupa tambahkan konfirmasi admin boleh tidak produk di publish di web, seperti menu pada komentar

[2022-03-25 16:27] ariandii commented on #5075
Sebagaimana info bung akas di atas,

melalui Layanan Mandiri, penduduk tersebut bisa upload produknya sendiri.
bukan melalui halaman admin.

[2022-03-25 16:36] andifahruddinakas commented on #5068
Mas @yogiperdana, sekalian ini mengenai info sistem.

[2022-03-25 16:51] muhtar-coder commented on #5067
Pengguna baru pun rata2 selalu melewati tautan yg di belah kanan..  bagusnya tetanggaan ama batrai.

[2022-03-26 02:18] muhtar-coder opened #5076 "Permintaan fitur: Tampilkan umur tahun dan bulan di form KIA"
### Apa kekurangan yg ingin diatasi?

Saat ini tampilkan data umur hanya terbatas pada hitungan tahun, sehingga ketika tetdapat kebutuhan data umur dengan hitungan umur bulan harus menghitung manual.

### Jelaskan solusi yg diinginkan

Bisa di sediakan pengaturan atau pilihan untuk tampilkan umur tahun dan bulan.

### Apakah ada alternatif lain

-

### Untuk versi OpenSID mana

22.04 premium

###

[2022-03-26 02:41] #2033 closed

[2022-03-26 02:44] #3476 closed

[2022-03-26 02:50] andifahruddinakas commented on #3637
https://github.com/OpenSID/OpenSID/wiki/Alur-Permohonan-Surat-Lewat-Anjungan-Mandiri

[2022-03-26 02:50] #3637 closed

[2022-03-26 02:54] andifahruddinakas commented on #3909
https://github.com/OpenSID/OpenDK/issues/333

[2022-03-26 02:55] andifahruddinakas commented on #3923
Sebaiknya dibuat aplikasi lain di luar OpenSID, seperti yg dibuat oleh bung @mizwaruddin

[2022-03-26 03:01] #3967 closed

[2022-03-26 03:09] andifahruddinakas commented on #4884
Untuk nominal rupiah, sy belum temukan yang nilainya desimal. Mungkin bisa disertakan contoh datanya.

[2022-03-26 03:13] #4939 closed, assigned to FirlianiF

[2022-03-26 03:43] yogiperdana commented on #4652
Untuk perubahan settingnya diatur di pengaturan aplikasi kah pak? @eddieridwan

[2022-03-26 03:46] eddieridwan commented on #4652
@yogiperdana Sebagai aksi saja pada masing2 pamong di Pemerintahan Desa. Jangan tampilkan tombol aksi tsb kecuali mempunyai hak (yaitu admin).

[2022-03-26 04:24] yogiperdana commented on #4652
Jadi pengguna hanya dapat melihat tombol aksi tersebut ketika di pengaturan absensinya boleh dilaporkan. Apakah seperti itu pak?

[2022-03-26 04:28] ariandii commented on #4652
setiap aparatur desa akan tampil info kehadiran.

namun bisa dibuat opsi untuk tidak ditampilkan pada masing masing aparatur di menu Pemerintahan Desa.

[2022-03-26 04:43] balongbesuk opened #5077 "Bug/error: BUG? pilihan ketegori pada pengaturan peta tidak bisa di tambah maupun dihapus"
### Jelaskan error yg dialami

ketika pengguna ingin menambahkan area garis misal saluran sungai pada pengaturan peta tidak ada menu untuk menambahkan atau menghapus isian kategori yang di maksud

### Cara untuk mereplikasi errornya

pergi ke halaman pemetaan > pengaturan peta > ke menu garis > tambahkan data baru > lihat kategori

### Hasil yg diharapkan

pengguna bisa menambah / mengurangi isian

[2022-03-26 05:22] eddieridwan commented on #4652
@yogiperdana , bukan. Yg boleh mengubah hanya Admin. Jadi yg dapat melihat tombol aksi di daftar Pemerintahan Desa tersebut hanya admin.

[2022-03-26 06:40] yogiperdana commented on #4652
Maksudnya mengubah itu bagaimana ya pak? Kemarin untuk laporan terebut saya buat dilaporkan oleh warga dari layanan mandiri dan admin hanya menambahkan keterangan dari daftar perangkat desa yang telah dilaporkan oleh warga.
Jadi mengubah maksudnya mengubah disini apakah mengubah status dari yang tadinya telah dilaporkan menjadi tidak dilaporkan atau yang melaporkan perangkat hanya admin yang punya

[2022-03-26 07:30] mranca opened #5078 "Terjadi bug saat menganti nama wilayah adminitratif"
### Jelaskan error yg dialami

Terjadi error 404

### Cara untuk mereplikasi errornya

Dashboard > admin web > menu > data desa > data wilayah administratif

### Hasil yg diharapkan

Saat di ganti dari data wilayah administratif menjadi data perdusun dan memilih external dan memasukkan link misalnya https://tongkekongke.desa.id/data-wilayah maka eror

### Tangkapan layar dan log error

![Screensho

[2022-03-26 09:57] ariandii commented on #5078
ekternal itu untuk menuju ke link yang sudah tersedia. link tujuannya ada.

sedangkan link /data-wilayah jika tidak ada di menu, tentu tidak akan tersedia.

jadi membuat menu eksternal menjadi link tujuan yang belum dibuat menu nya maka akan error 404.

ini bukan bug.

[2022-03-26 10:32] mranca commented on #5078
Jadi pak ariandi, mohon solusinya untuk menampilkan kembali ??

[2022-03-26 10:45] andifahruddinakas commented on #4996
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/881

[2022-03-26 10:45] #4996 closed, assigned to yogiperdana

[2022-03-26 10:48] andifahruddinakas commented on #5077
Pak @balongbesuk, silahkan di tambahkan melalui Tipe Garis pada sub bagian. Saat ini kategori tsb diambil dari sub bagian tipe garis.

[2022-03-26 10:48] #5077 closed, assigned to nobody

[2022-03-26 11:11] balongbesuk commented on #5077
sudah coba?

[2022-03-26 11:12] balongbesuk commented on #5077
tipe garisny gak nyambung dengan kategori sudah saya jelaskan d informasi tambahan

[2022-03-26 11:17] andifahruddinakas commented on #5077
Sudah

[2022-03-26 11:20] balongbesuk commented on #5077
![Screenshot_20220326-181707_Chrome](https://user-images.githubusercontent.com/35319600/160237031-560a4f59-0083-40e9-a8b4-032d23e4b34e.jpg)

isian kategori garis

![Screenshot_20220326-181649_Chrome](https://user-images.githubusercontent.com/35319600/160237035-487abe71-02a6-4cf4-a9c6-51034207d31d.jpg)

isian tipe garis

tuh gak nyambung beda tabel kykny tes d web berputar

[2022-03-26 11:22] #5078 closed, assigned to nobody

[2022-03-26 12:20] balongbesuk commented on #5077
saya sudah coba tambahkan tipe garis baru jalan berlubang

![Screenshot_20220326-191428_Chrome](https://user-images.githubusercontent.com/35319600/160239008-73f48190-4996-4f91-b98b-e8d39f4a40b0.jpg)

kemudian saya tambahkan data baru d menu garis, dan pada pilihan menu kategori tidak muncul jalan berlubang

![Screenshot_20220326-191449_Chrome](https://user-images.githubusercontent.com/35319600/160

[2022-03-26 12:29] eddieridwan commented on #4652
@yogiperdana :
1. Secara default setiap perangkat desa (di Pemerintahan Desa) absensinya dicatat, terlihat dan dilaporkan. Yaitu setiap fitur absensi berlaku bagi perangkat desa tersebut.
2. Disediakan pengaturan supaya admin dapat menyatakan seorang perangkat desa tidak perlu dicatat absensinya. Yaitu bagi perangkat tersebut fitur absensi tidak ada yg berlaku. Sebagai contoh admin dapat membuat s

[2022-03-26 12:36] andifahruddinakas commented on #5077
yg diambil dari sub bagian masing2 kategori tipe garis.

[2022-03-26 12:38] andifahruddinakas commented on #4590
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/883

[2022-03-26 12:42] andifahruddinakas commented on #5068
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/884

[2022-03-26 12:42] #5068 closed, assigned to andifahruddinakas

[2022-03-26 12:55] balongbesuk commented on #5077
siap terimakasih gk ngeh kl ad sub menu dln tipe garis

[2022-03-26 12:58] andifahruddinakas commented on #5077
Ya, mungkin seharusnya kategori utama bukan sub kategori yg ambil. Tp desain awalnya begitu, jika ada perubahan bisa dibuat issuenya dan bisa di diskusikan mengenai hal ini.

[2022-03-26 13:09] ariandii opened #5079 "Bug/error: Perbaikan Link pada halaman Periksa"
### Jelaskan error yg dialami

<img width="960" alt="image" src="https://user-images.githubusercontent.com/46939846/160240867-84839cb8-81e7-4d96-a414-ea4af8ef6ce5.png">

Ketika klik tombol OpenSID di pojok kiri halaman periksa, ternyata diarahkan ke /index2.html seperti gambar di atas.

### Cara untuk mereplikasi errornya

-

### Hasil yg diharapkan

Normal sebagaimana harusnya, misal masuk halama

[2022-03-26 14:59] andifahruddinakas commented on #5079
Sudah diperbaiki melalui commit https://github.com/OpenSID/premium/commit/848a5e672443530df2b6a24fc868ad076350104d

[2022-03-26 14:59] #5079 closed, assigned to nobody

[2022-03-26 15:10] Fajar-blackdeath commented on #2033
Semangat pak

Pada tanggal Sab, 26 Mar 2022 09.42, Andi Fahruddin Akas <
***@***.***> menulis:

[2022-03-26 15:17] yogiperdana commented on #4652
Baik Pak. Nanti akan saya buatkan PR susulannya. Sekalian menambahkan button menuju halaman modul absensi di halaman pengurus

[2022-03-27 00:41] andifahruddinakas opened #5080 "Panduan"

[2022-03-27 02:50] ariandii opened #5081 "Bug/error: Perjelas Status Kehadiran"
### Jelaskan error yg dialami

Sudah praktek di Web Berputar mengenai Fitur Kehadiran.

Saat ini hanya bisa lakukan 1 kali hadir dan 1 kali keluar.

Jika fungsi ini mengutamakan mengenai status Keberadaan Pamong di Desa, tentunya bisa lakukan Hadir dan Keluar berulangkali.

Contoh:
1. Pamong A Lakukan Presensi, dan Muncul Keterangan Hadir di Widget Web
2. Pamong A Keluar kantor jam 10, maka Status

[2022-03-27 04:17] balongbesuk opened #5082 "Bug/error: error console ketika login"
### Jelaskan error yg dialami

terjadi eror console ketika pengguna login ke menu admin

### Cara untuk mereplikasi errornya

buka website berputar login lihat error console pada browser

### Hasil yg diharapkan

tidak ada error

### Tangkapan layar dan log error

![image](https://user-images.githubusercontent.com/35319600/160266424-4fcb0d54-2650-4a5b-a273-a54f786a8c40.png)

### Rilis Versi OpenSI

[2022-03-27 04:19] balongbesuk opened #5083 "Bug/error: error console pada menu layanan mandiri"
### Jelaskan error yg dialami

muncul error console pada web layanan mandiri

### Cara untuk mereplikasi errornya

buka web berputar pilih menu layanan mandiri lihat error console

### Hasil yg diharapkan

tidak terjadi error

### Tangkapan layar dan log error

![image](https://user-images.githubusercontent.com/35319600/160266490-6dbd8ebd-ee57-41ef-b243-9fd870a79d7d.png)

### Rilis Versi OpenSID

[2022-03-27 04:28] balongbesuk opened #5084 "Bug/error: error console pada dasboard layanan mandiri"
### Jelaskan error yg dialami

ketika pengguna layanan mandiri login dan di arahkan pada dasboard layanan mandiri muncul error console

### Cara untuk mereplikasi errornya

buka layanan mandiri login lihat error console

### Hasil yg diharapkan

tidak ada error

### Tangkapan layar dan log error

![image](https://user-images.githubusercontent.com/35319600/160266668-6234c820-caa6-4eac-a94a-1d4eba32

[2022-03-27 04:31] andifahruddinakas commented on #5082
Sudah diperbaiki.

[2022-03-27 04:31] #5082 closed, assigned to nobody

[2022-03-27 04:34] andifahruddinakas commented on #5084
Error console akan diperbaiki scr bertahap menggunakan view blade. krn saat ini assets di load scr bersamaan dimana tdk semua komponen assets itu digunakan yg menyebabkan error. Misalnya assets peta, datatables, script.js, dll yg.

[2022-03-27 05:45] ariandii opened #5085 "Fitur: Tambah Kolom Lupa Password"
### Jelaskan error yg dialami

Saat klik alamat:
https://berputar.opendesa.id/siteman/lupa_sandi

hanya tersedia kolom email saja.

bisa ditambah kolom captcha. atau lainnya agar ada proses verifikasi sebelum proses kirim lupa password

### Cara untuk mereplikasi errornya

-

### Hasil yg diharapkan

-

### Tangkapan layar dan log error

-

### Rilis Versi OpenSID

Rilis Premium

### Versi OpenSID

[2022-03-27 06:34] andifahruddinakas commented on #5084
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/887

[2022-03-27 06:34] #5084 closed, assigned to andifahruddinakas

[2022-03-27 09:34] andifahruddinakas opened #5086 "Bug/error: Maintenance Mode Tidak Bisa Digunakan"
### Jelaskan error yg dialami

Setelah mengubah mode website menjadi maintenace, saat mengakses web hanya muncul halaman ```This page isn’t working```

### Cara untuk mereplikasi errornya

1. Pengaturan > Aplikasi
2. Ganti ```Offline Mode``` menjadi ```Web non-aktif sama sekali```
3. Simpan

### Hasil yg diharapkan

Tampil halaman MT

### Tangkapan layar dan log error

![mt](https://user-images.gi

[2022-03-27 11:42] Zoel-WB opened #5087 "[Premium V22.03-Beta01] Nama Perangkat Desa Yang Tampil Dipilihan pada Fitur Kehadiran Masih Ada Nama Perangkat Desa Default"
### Jelaskan error yg dialami

Saat Membuka Fitur Absensi Pilihan Kehadiran Masih menampilkan nama-nama perangkat desa default diantaranya Nama Kepala Desa (MUHAMMAD ILHAM), Nama Sekretaris Desa (MUSTAHID S.Amd), Nama Kaur Pemerintahan (Safruddin), dana Nama Kaur Keuangan (MARDIANA) Bukan nama-nama perangkat desa yang ditentukan  atau dipilih dalam system pada fitur Buku Aparatur Desa. Mungkin ini

[2022-03-27 13:18] Zoel-WB commented on #5081
Atau lebih cendrung untuk Absensi kehadiran di Kantor Desa semacam geser pamplet nama perangkat desa->siapa saja yg ada atau tidak ada, karena Absensi Digital saat ini agak rumit->karena login hadir hanya satu kali saja ditanggal yg sama->setelah login keluar/pulang  sebelum jam pulang kerja pada tanggal yg sama, tidak bisa masuk lagi.

[2022-03-27 14:19] Zoel-WB opened #5088 "[Premium V22.03-Beta01] Pada Daftar Absensi Jam Masuk dan Jam Keluar belum Format System 24 Jam atau istilah dengan Jam AM/PM"
### Jelaskan error yg dialami

Pada Daftar Absensi Jam Masuk dan Jam Keluar belum berformat System Jam 24 Jam atau istilah dengan Jam AM/PM, baik yg di download maupun yg tampil di layar monitor, sehingga akan sulit membedaka antara 08 Pagi dan Jam 08 Sore/Malam..

### Cara untuk mereplikasi errornya

1. Buka Menu Absensi
2. Pilih Fitur Kehadiran..
3. Pada Monitor Kehadiran Lihat Jam Kolom Masuk d

[2022-03-27 14:23] ariandii commented on #5081
dari situ lah adanya issue ini agar bisa masuk keluar tidak dibatasi 1x saja.

[2022-03-27 14:33] muhtar-coder commented on #5066
Pada surat tambahan juga bila rtf di upload ulang ketika ada perbaikan kata/lain nya menyebabkan judul folder berubah menjadi huruf awal besar sehingga menyebabkan folder surat not found. Dan bila judul folder di perbaiki lagi akan normal..
masalah juga berlaku ketika edit nomor jenis surat.

[2022-03-27 14:33] Zoel-WB opened #5089 "Login Absensi atau Anjungan Bersatu dengan Login Admin"
### Jelaskan error yg dialami

Antara Login Absensi dan Login Admin terjadi dalam satu login, artinya Login Absen akan sama-sama mengikuti login Admin, Bila Login Absensi Keluar, baik Keluar Secara Manual, maupun keluar dengan waktu otomatis, login pada system (Admin) juga ikut keluar....

### Cara untuk mereplikasi errornya

1. Jalankan Login Admin Opensid...
2. Jadikan Satu Orang Perangkat Desa

[2022-03-27 23:19] eddieridwan commented on #5089
@Zoel-WB @yogiperdana , perhatikan. bahwa Rekam Kehadiran dimaksudkan untuk dijalankan pada gawai yg hanya itu saja fungsinya. Misalnya, dijalankan pada gawai tablet/HP yg ditempelkan di dinding masuk kamar utama ruang perangkat desa di kantor desa. Yaitu, tidak ada fungsi lain yg dijalankan di gawai tersebut.

Jadi, tidak diinginkan adanya login Admin lain yg terbuka terus di gawai Rekam Kehadira

[2022-03-28 00:02] andifahruddinakas commented on #5066
Dibuat issue lain pak @muhtar-coder

[2022-03-28 00:34] #5089 closed, assigned to nobody

[2022-03-28 00:49] ariandii opened #5090 "Bug/error: Status Kehadiran Tidak Aktif"
### Jelaskan error yg dialami

Status pada Pengaturan Kehadiran menjadi tidak aktif saat di edit Lalu simpan.

### Cara untuk mereplikasi errornya

1. Pergi ke halaman https://berputar.opendesa.id/gawai
2. Klik tombol Aksi Edit pada Status Aktif
3. Edit kolom IP, Mac, maupun Keterangan, Lalu simpan
4. Lihat status terbaru menjadi Tidak Aktif.

### Hasil yg diharapkan

Karena hanya lakukan edit pad

[2022-03-28 01:21] andifahruddinakas commented on #5090
Sudah diperbaiki melalui commit https://github.com/OpenSID/premium/pull/888/commits/506abc679ca572456ca14a0fdecc49dd464caf85

[2022-03-28 01:21] #5090 closed, assigned to nobody

[2022-03-28 01:37] andifahruddinakas commented on #5087
Sudah diperbaiki melalui commit https://github.com/OpenSID/premium/pull/888/commits/e8519ebf3e33bb46dd35867de3297f4ba2311fae

[2022-03-28 01:37] #5087 closed, assigned to andifahruddinakas

[2022-03-28 05:06] roaddee commented on #4590
Mohon diperhatikan, pengguna OpenSID TIDAK HANYA menggunakan cPanel
ada yang pakai Cyberpanel (OpenDESA), Plesk (hosting luar), DirectAdmin (hosting luar) dan ada pakai VPS Murni (ada jadi pelanggan kita juga, citamiang)

[2022-03-28 05:10] mranca opened #5091 "Tambahkan fitur bersihkan pada bantuan / daftar peserta bantuan"
### Apa kekurangan yg ingin diatasi?

Kurangnya tombol bersihkan saat pencarian bantuan sehingga mengharuskan menghapus data pencarian terlebih dahulu

### Jelaskan solusi yg diinginkan

Tambahakan tombol bersihkan seperti gambar
![IMG_20220328_130803](https://user-images.githubusercontent.com/76085245/160330105-b3375493-42e9-4385-a4de-381c1c3f8254.jpg)

### Apakah ada alternatif lain

Tidak ada

[2022-03-28 05:11] andifahruddinakas commented on #4590
@yogiperdana

[2022-03-28 05:11] ariandii opened #5092 "Bug/error:"
### Jelaskan error yg dialami

Klik Kolom Pelapor maupun Kolom Terlapor, maka akan muncul error seperti gambar di bawah ini

<img width="960" alt="screenshot_24" src="https://user-images.githubusercontent.com/46939846/160330073-565e331d-3f39-45ff-8001-01d212a918fa.png">

Klik Kolom Nama maupun Kolom Jabatan, maka akan muncul error seperti gambar di bawah ini

<img width="960" alt="screenshot_25" s

[2022-03-28 05:16] mranca commented on #5050
Di tema silir keren

[2022-03-28 05:26] roaddee commented on #4590
Bahkan ada yang pakai VPS dengan OS Windows Server, :)

[2022-03-28 13:55] andifahruddinakas commented on #5092
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/894

[2022-03-28 13:55] #5092 closed, assigned to agungsugiarto

[2022-03-28 15:11] andifahruddinakas commented on #5083
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/890

[2022-03-28 15:11] #5083 closed, assigned to agungsugiarto

[2022-03-28 18:32] ariandii opened #5094 "Permintaan fitur: Otomatis Beri Tanda Hosting OpenDesa"
### Apa kekurangan yg ingin diatasi?

Perlu ada cara otomatis setelah pasang Token Langganan Hosting OpenDesa sebagai pengganti folder mitra yang saat ini dilakukan secara manual.

Agar muncul banner di bagian footer.

### Jelaskan solusi yg diinginkan

Bisa saja dibuat untuk setiap Layanan, baik Hosting maupun Domain, agar ketika input token maka otomatis muncul banner di footer yang menjadi ciri

[2022-03-29 01:52] balongbesuk opened #5095 "Permintaan fitur: Tambahkan penanda KK sementara pada tabel keluarga"
### Apa kekurangan yg ingin diatasi?

Tambahkan penanda KK sementara pada tabel keluarga seperti pada NIK Sementara Pada tabel penduduk

### Jelaskan solusi yg diinginkan

beri penanda KK Sementara Seperti Pada NIK Sementara pada tabel penduduk

### Apakah ada alternatif lain

tidak ada penanda KK semetara pada tabel keluarga sebagai penanda KK tersebut  belum memiliki No KK resmi

### Untuk versi

[2022-03-29 01:54] andifahruddinakas opened #5096 "Tampilkan notifikasi pelanggan premium"
### Apa kekurangan yg ingin diatasi?

Tidak ada notifikasi jika versi yg digunakan tdk sesuai dengan masa akhir berlangganan premium jika menggunakan versi di atasnya.

### Jelaskan solusi yg diinginkan

Adanya notifikasi menyatakan bahwa versi aplikasi dan masa akhir langganan tdk sesuai.

### Apakah ada alternatif lain

null

### Untuk versi OpenSID mana

22.02-premium

### Informasi tambahan

n

[2022-03-29 01:59] andifahruddinakas commented on #5086
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/891

[2022-03-29 01:59] #5086 closed, assigned to agungsugiarto

[2022-03-29 03:23] yogiperdana commented on #4590
DIbuka lagi karena perlu dicarikan solusi untuk kasus beberapa akun hosting dipakai oleh beberapa desa / sistem

[2022-03-29 03:25] yogiperdana commented on #4913
Telah diperbaiki melalui issue https://github.com/OpenSID/OpenSID/issues/4996

[2022-03-29 03:25] #4913 closed, assigned to nobody

[2022-03-29 03:26] yogiperdana commented on #4918
Telah diperbaiki melalui issue https://github.com/OpenSID/OpenSID/issues/4996

[2022-03-29 03:26] #4918 closed, assigned to nobody

[2022-03-29 03:35] ariandii opened #5097 "Identitas Desa: Sediakan Input Manual Data Desa Jika Server Pantau Mengalami Gangguan."
### Jelaskan error yg dialami

Saat situs pantau mengalami gangguan akases, maka load desa di online akan ikut gagal akses.

perlu dibuat cara mengenai input manual.
saat ini sudah tersedia input manual jika offline saja.

ketika online, maka akan load dan nama desa tidak muncul.

![photo_2022-03-29_10-33-49](https://user-images.githubusercontent.com/46939846/160527937-a7bdcca8-4cd4-4019-88b3-70f8

[2022-03-29 03:39] #5088 closed, assigned to agungsugiarto

[2022-03-29 04:35] andifahruddinakas opened #5098 "Notifikasi Update Rilis"
Ada beberapa opsi jalan keluar:
1. ubah layanan install/update supaya mencakup juga update rev. Dengan alasan rev memperbaiki bugs dan perlu dipasang. Setiap bulan diperkirakan ada 1-3 rilis rev. Kalau perlu biaya layanan dinaikkan
2. seperti (1) tapi disediakan sebagai layanan berbeda. Yaitu ada langganan 12 x update yg sdh ada dengan harga Rp500rb/thn; dan ada langganan update lengkap termasuk s

[2022-03-29 08:15] andifahruddinakas commented on #5039
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/899

[2022-03-29 08:15] #5039 closed, assigned to agungsugiarto

[2022-03-29 08:46] andifahruddinakas commented on #5071
Yg dilakukan di PR https://github.com/OpenSID/premium/pull/889 menyesuaikan penamaan dengan rentang 0-1 tahun dengan nama "0 S/D 1 TAHUN".

Untuk mengubah penamaan rentang umur  belum disediakan, yang disediakan hanya perubahan rentang umur. Mas @balongbesuk silahkan dibuat issue permintaan fitur untuk menyesuaikan penamaan rentang umurnya.

[2022-03-29 08:52] andifahruddinakas commented on #5071
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/889

[2022-03-29 08:52] #5071 closed, assigned to agungsugiarto

[2022-03-30 01:40] andifahruddinakas commented on #5096
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/902

[2022-03-30 01:40] #5096 closed, assigned to nobody

[2022-03-30 02:40] balongbesuk opened #5099 "Bug/error: Surat Ubahan Desa Ketika dibuat tersedia untuk layanan mandiri mengalami bug"
### Jelaskan error yg dialami

Surat Ubahan Desa Ketika dibuat tersedia untuk layanan mandiri mengalami bug file.php surat tidak muncul

### Cara untuk mereplikasi errornya

layanan surat > pengaturan surat > ubah surat desa  > Sediakan di Layanan Mandiri > YA > simpan > cetak surat > blank putih terlihat dari pengaturan surat file rtf surat hilang / surat desa meminta untuk meng unggah file.rtf k

[2022-03-30 07:03] andifahruddinakas commented on #5067
https://github.com/OpenSID/premium/pull/903

[2022-03-30 12:45] andifahruddinakas commented on #5098
![layanan mt](https://user-images.githubusercontent.com/57283157/160837166-c0e8298e-3b7e-4ce5-8380-237c915683d0.png)

[2022-03-30 12:59] andifahruddinakas commented on #5098
Perlu mendapatkan data dari API berupa ketegori layanan. Nantinya informasi ditampilkan jika layanan tersebut termasuk kategori install/update dengan informasi secara umum. Namun disediakan info / link ke detail irformasi layanan yang diambil pada modul pelanggan.

[2022-03-30 13:17] andifahruddinakas commented on #5094
Sama dengan issue https://github.com/OpenSID/OpenSID/issues/5098, perlu ditambahkan info pada API pelanggan untuk data kategorinya agar lebih mudah membandingkan. Krn jika dibandingkan perlayanan, perlu di daftarkan layanan domain/hosting tsb, misalnya Hosting 1gb, Hosting 2gb, dll.

Bisa sj diakali dengan prag_match(), tp untuk lebih efisien lebih baik datanya disediakan di API.

[2022-03-30 13:24] ariandii opened #5100 "Bug/error: Anggota Kelompok Belum Tampil di Web"
### Jelaskan error yg dialami

Ketika data kelompok berisikan anggota. maka untuk tabel anggota di web masih kosong.

### Cara untuk mereplikasi errornya

Seperti gambar di bawah

### Hasil yg diharapkan

Muncul Normal

### Tangkapan layar dan log error

Di admin sudah ada anggota:

<img width="960" alt="screenshot_104" src="https://user-images.githubusercontent.com/46939846/160844623-4a83b21c-118

[2022-03-30 16:47] yogiperdana commented on #5081
Yang di tema belum digabung mas @andifahruddinakas

[2022-03-30 19:10] andifahruddinakas commented on #5099
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/904

[2022-03-30 19:10] #5099 closed, assigned to yogiperdana

[2022-03-30 23:41] dikisiswanto opened #5101 "Bug/error: Gambar Latar Website Pada Menu Pengaturan > Aplikasi Hanya Bisa Diganti Sekali"
### Jelaskan error yg dialami

Gambar latar website hanya bisa diganti sekali dari gambar defaultnya. Setelah coba diganti untuk kedua kali dst, status sukses disimpan tetapi gambar tidak berubah.

### Cara untuk mereplikasi errornya

- Buka `Pengaturan > Aplikasi`
- Upload gambar `Latar Website` untuk mengganti gambar default
- Klik Simpan
- Coba ulangi upload gambar lain
- Simpan
- Cek apakah ga

[2022-03-31 01:35] agungsugiarto commented on #5101
Duplikat https://github.com/OpenSID/OpenSID/issues/4731, di versi premium sudah diperbaiki akan digabungkan di rilis umum sesuai [rilis umum yang akan datang](https://github.com/OpenSID/OpenSID/wiki/Rilis-Umum-Yang-Akan-Datang#rilis-umum-v2209--2202-premium)

[2022-03-31 01:57] andifahruddinakas commented on #5100
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/906

[2022-03-31 01:57] #5100 closed, assigned to yogiperdana

[2022-03-31 02:17] andifahruddinakas commented on #5081
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/900

[2022-03-31 02:17] #5081 closed, assigned to yogiperdana

[2022-03-31 03:08] #5040 closed, assigned to nobody

[2022-03-31 03:08] #5041 closed, assigned to nobody

[2022-03-31 03:11] dikisiswanto commented on #5101
Mas @agungsugiarto  Issue #4731 terkait latar website tema tidak terganti meskipun ada gambar baru.

Yang ini di adminnya cuma bisa diganti sekali, upload berikutnya tidak berubah meskipun berhasil simpan.

Apakah memang hanya bisa diganti sekali?

[2022-03-31 03:29] dikisiswanto commented on #5101
upload pertama
<img width="767" alt="image" src="https://user-images.githubusercontent.com/22239074/160970291-3ecfdd1f-4277-4a3a-85d5-9d358f71c9f6.png">

**Mau ganti gambar**
<img width="574" alt="image" src="https://user-images.githubusercontent.com/22239074/160970344-52d06110-169c-46ac-bb08-134814cdad0a.png">

**Setelah diunggah**
<img width="742" alt="image" src="https://user-images.githubuserc

[2022-03-31 03:45] agungsugiarto commented on #5101
coba diberputar mas versi premium, apakah menemukan masalah yg sama?

[2022-03-31 04:09] dikisiswanto commented on #5101
Itu dicek di berputar mas. Silakan coba direplikasi.

[2022-03-31 13:07] andifahruddinakas commented on #5101
Gambarnya sudah terganti di folder desa/pengaturan/nama_tema/images/latar_website.jpg tp di halaman website perlu di hapus cache. Sudah di perbaiki di versi bulan ini tp ada helper version yg sudah dihapus tp belum disesuaikan ulang untuk perubahan sebelumnya.

[2022-03-31 13:07] #5101 closed, assigned to nobody

[2022-04-01 19:30] Zoel-WB opened #5105 "[v22.04-Umum] Bug Letak Tombol Unduh Fitur Baru Buku Rencana Kerja Pembangunan"
### Jelaskan error yg dialami

Tombol Unduh Fitur Baru Buku Rencana Pembangunan Terpasang di Baris Kedua di Bawah Tombol Cetak harus sejajar sebelah Kanan Tombol Cetak

### Cara untuk mereplikasi errornya

1. Buka Buku Administrasi Desa
2. Buku Administrasi Pembangunan
3. Buku Rencana Kerja Pembangunan

### Hasil yg diharapkan

Tombol Unduh Mestinya Terletah di Sebelah Kanan atau Kiri sejajar deng

[2022-04-02 00:36] andifahruddinakas commented on #5105
Sudah diperbaiki fi premium selanjutnya.

[2022-04-02 00:37] #5105 closed, assigned to nobody

[2022-04-02 04:00] balongbesuk opened #5106 "Perbaiki deteksi MAC Address Gawai Kehadiran"
### Apa kekurangan yg ingin diatasi?

saat ini halaman kehadiran hanya mendeteksi IP perangkat walaupun sudah di isi MAC addressnya dan mengosongkan IP / Ip local, halaman perangkat masih tidak terdaftar

### Jelaskan solusi yg diinginkan

daftarkan perangkat kehadiran cukup menggunakan MAC address karena sifatnya statis sedangkan IP sifatnya dinamis tidak bisa dijadikan acuan

### Apakah ada alte

[2022-04-02 04:35] balongbesuk commented on #5050
ok pak @andifahruddinakas

informasi tambahan tampilan tabel statistik ini juga ada pada menu pemetaan > peta di dasboard admin dan hasilnya sama

[2022-04-02 09:39] mranca commented on #4582
Up juga karna sudah sangat detail

[2022-04-02 10:37] muhtar-coder opened #5107 "Bug/error: Menu bantuan yg non aktif masih muncul di web artikel insert data bantuan"
### Jelaskan error yg dialami

Data bantuan yg non aktif masih bisa muncul di web artikel insert data penerima bantuan

### Cara untuk mereplikasi errornya

1. Masuk menu bantuan di halaman admin lalu non aktifkan semua rentang waktu penerimaan.
2. Buat artikel dan sisipkan data penerima bantuan.
3. Buka halaman web  dan ternyata masih ter tera data bantuan yang sudah tidak aktif tsb.

### Hasil y

[2022-04-03 05:56] eddieridwan opened #5108 "Buat template surat keterangan menggunakan TinyMCE"
Buat template surat menggunakan TinyMCE, tidak lagi RTF. Supaya menggunakan HTML dan bisa diatur langsung melalui PHP. Manfaatnya misalnya: memudahkan desa membuat surat sendiri, lebih mudah menyisipkan QR Code dll, bisa cari library untuk mengatur layout halaman, dstnya

Ini pekerjaan besar dan perlu dipecah menjadi tugas-tugas yg lebih kecil.

[2022-04-03 07:03] yogiperdana commented on #5080
Impor BIP:

![impor-bip](https://user-images.githubusercontent.com/14155050/161415858-dfa57954-ddf3-44ef-97ab-08f739e15c58.png)
![impor-bip2](https://user-images.githubusercontent.com/14155050/161415859-81299af0-928f-42a0-acbf-5de993f72ae3.png)
![impor-bip3](https://user-images.githubusercontent.com/14155050/161415860-f07d741a-34db-4f13-900f-03b09ab8be3c.png)
![impor-bip4](https://user-images.gith

[2022-04-03 07:27] yogiperdana commented on #5080
Ekspor data penduduk:

![ekspor](https://user-images.githubusercontent.com/14155050/161416563-fe0cea75-1c94-46ed-8091-83df810049b1.png)
![ekspor2](https://user-images.githubusercontent.com/14155050/161416564-5936756f-bf08-40ea-af41-1a8e83a4b38a.png)
![ekspor3](https://user-images.githubusercontent.com/14155050/161416569-db5ae024-bd5b-4747-9189-8d79d1165bb2.png)

[2022-04-03 07:30] andifahruddinakas opened #5109 "Bug/error: Ekspor Rekapitulasi Tidak Bisa Digunakan"
### Jelaskan error yg dialami

Saat mau melakukan ekspor data rekapitulasi kehadiran, fitur ekspor tidak berjalan.

### Cara untuk mereplikasi errornya

Masuk ke modul
1. Kehadiran > rekapitulasi
2. Lakukan ekspor

### Hasil yg diharapkan

Dapat melakukan ekspor rekapitulasi

### Tangkapan layar dan log error

.

### Rilis Versi OpenSID

Rilis Premium

### Versi OpenSID

v22.04

### Tema Yang Digu

[2022-04-03 07:32] andifahruddinakas commented on #5080
### Fitur Kehadiran
- **Kehadiran**
- **Admin**
- **Website**
- **Layanan Mandiri**

[2022-04-03 07:35] andifahruddinakas commented on #5080
Kehadiran Masuk
![bukan jam kerja](https://user-images.githubusercontent.com/57283157/161416768-461ed1ea-fe63-4c21-8b41-c88bf7e9d658.png)
![gawai tidak terdaftar](https://user-images.githubusercontent.com/57283157/161416771-fd5500ce-324a-4ed8-9614-ca5ce139a9df.png)
![halaman awal masuk 2](https://user-images.githubusercontent.com/57283157/161416772-67323f5c-d55d-46da-a71f-216681a97d3b.png)
![halam

[2022-04-03 07:50] ariandii opened #5110 "Bug/error: Gagal Tambah Pengguna"
### Jelaskan error yg dialami

Error 500,
selengkapnya di video bawah ini:

**1. Video Input Baru**

https://user-images.githubusercontent.com/46939846/161417165-8622bac4-5163-4ce4-be2a-022371a9bba6.mp4

**2. Video Edit Data yang Ada.**

https://user-images.githubusercontent.com/46939846/161417254-a9b2ea03-fa36-415e-a5c0-6becaef5a817.mp4

### Cara untuk mereplikasi errornya

-

### Hasil yg dihara

[2022-04-03 07:55] ariandii commented on #5109
Apakah di bawah ini issues terpisah atau jadi satu dengan Rekapitulasi Tidak bisa digunakan di issues ini?

Waktu terekam 00:00
Yang berarti Staf Desa bisa lakukan hadir dan keluar dalam waktu singkat.
(baik itu sengaja maupun tidak sengaja login 2 kali untuk memastikan bahwa sudah lakukan presensi)

<img width="960" alt="image" src="https://user-images.githubusercontent.com/46939846/161417372-82e

[2022-04-03 07:56] ariandii commented on #5109
Bisa dibuat Jeda Waktu misal 1 menit setelah Hadir, tidak bisa Keluar

[2022-04-03 08:00] ariandii opened #5111 "Bug/error: Ada Kala Jam Kerja Ganda"
### Jelaskan error yg dialami

Saat update ke 22.04-premium, terkadang di data desa tercipta Hadi Senin, Selasa sampai minggu Ganda.
Bahkan ada yang sampai 3 kali. Hingga total baris ada 27 Hari.

Jika ada hari yang sama, maka ubah Jam Kerja tidak akan berpengaruh jika semua di 1 Nama Hari yg sama diubah juga.

<img width="960" alt="image" src="https://user-images.githubusercontent.com/46939846/16

[2022-04-03 08:02] andifahruddinakas commented on #5109
dibuat issue terpisah.

[2022-04-03 08:03] andifahruddinakas commented on #5110
Coba disertakana log error nya.

[2022-04-03 08:05] ariandii commented on #5106
Saya bisa pakai MAC dan sukses lakukan presensi di beberapa desa, walaupun kolom IP nya dikosongkan

[2022-04-03 08:07] andifahruddinakas opened #5112 "Bug/error: Notifikasi perekaman kehadiran masuk / keluar tidak sesuai."
### Jelaskan error yg dialami

Notifikai setelah melakukan  perekaman kehadiran masuk dan keluar sama, yakni absensi hadir berhasil.

### Cara untuk mereplikasi errornya

1. Lakukan perekeman kehadiran masuk / keluar.
2. Cek notifikasi yang tampil.

### Hasil yg diharapkan

Notifikasi sesuai dengan apa yang dilakukan, misalnya melakukan kehadiran keluar maka notifikasinya bisa ditulis "Rekam kehad

[2022-04-03 08:08] andifahruddinakas commented on #5106
Bisa menggunakan salah satunya sama seperti anjungan layanan mandiri.

[2022-04-03 08:12] andifahruddinakas commented on #5080
Jam Kerja
![1](https://user-images.githubusercontent.com/57283157/161418570-fe4edb98-e602-4f19-8bd6-e1b894d66e1f.png)
![2](https://user-images.githubusercontent.com/57283157/161418575-1b03e349-0756-49a6-855f-0174dc1ac182.png)
![ubah](https://user-images.githubusercontent.com/57283157/161418711-22532773-ba75-4463-af12-e9ae110a75be.png)

[2022-04-03 08:39] andifahruddinakas commented on #5080
Hari Libur
![1](https://user-images.githubusercontent.com/57283157/161419332-287c7aab-70af-47de-98db-67e4c4e69740.png)
![ubah data](https://user-images.githubusercontent.com/57283157/161419620-f9a6211d-be6a-40bc-81c9-6e382841771b.png)
![2](https://user-images.githubusercontent.com/57283157/161419709-4dc6adbd-a43d-4bad-aaf9-f4b3b8afadc4.png)
![5](https://user-images.githubusercontent.com/57283157/1

[2022-04-03 08:52] andifahruddinakas commented on #5080
![impor](https://user-images.githubusercontent.com/57283157/161419852-6a0b1adb-d792-4acb-8f8d-0d23c1741ba4.png)
![impor data](https://user-images.githubusercontent.com/57283157/161419926-7a7dec80-de81-46ad-8b3d-d40c31133be3.png)
![ubah data 1](https://user-images.githubusercontent.com/57283157/161420006-542c7eff-ea2e-492e-875c-e35df9456a46.png)
![4](https://user-images.githubusercontent.com/572831

[2022-04-03 09:03] #5080 closed, assigned to nobody

[2022-04-03 12:47] Zoel-WB commented on #5110
Ini memang ya ada yg trouble disini, belum sempat saya kupas kemaren disini.

Terutama absensi perangkat yg merangkap sebagai admin sempat tidak dapat melakukan login absensi.

Satu lagi login e-KTP masih belum bisa, ini yg baru saya coba utuk perangkat yg merangkap juga sebagai admin.

[2022-04-03 13:13] ariandii commented on #5110
Log bisa cek di
https://berputar.opendesa.id/info_sistem

atau gambar berikut
![IMG_20220403_201224](https://user-images.githubusercontent.com/46939846/161429836-72583cc5-fe14-4529-b1ec-8ac20ed36d60.jpg)

[2022-04-03 13:17] ariandii opened #5113 "Bug/error: Bisa dibuat Jeda Waktu Presensi"
### Jelaskan error yg dialami

Waktu terekam 00:00
Yang berarti Staf Desa bisa lakukan hadir dan keluar dalam waktu singkat.
(baik itu sengaja maupun tidak sengaja login 2 kali untuk memastikan bahwa sudah lakukan presensi)

Bisa dibuat Jeda Waktu misal 1 menit atau lebih setelah Hadir, tidak bisa Keluar untuk akun yang sama.

<img width="960" alt="161417372-82e129ee-26c2-48e4-9a19-d075d24d1883" s

[2022-04-03 13:28] Zoel-WB commented on #5110
Iya saya sempat 3 kali merestore ulang database, disinilah kejadiannya kmaren, Krn setelah memasukkan operator dgn nama perangkat atau nomor nik ternyata utk perangkat tersebut tidak bisa lagi login di absen. Apakah usernamenya memang TDK dapat menggunakan nomor nik.

Sedangkan di login absensi dapat dilakukan dengan 2 cara, menggunakan nama atau nik.

[2022-04-03 13:58] muhtar-coder opened #5114 "Permintaan fitur: Tambahkan menu pilihan data bantuan yang akan di tampilkan di insert artikel"
### Apa kekurangan yg ingin diatasi?

Saat ini data bantuan yang ketika di sisipkan di artikel masih data keseluruhan. Sehingga tidak sesuai dengan maksud tujuan informasi sebagaimana judul artikel.

### Jelaskan solusi yg diinginkan

Ketika insert data bantuan di artikel hanya jenis bantuan sesuai judul informasi/artikel

### Apakah ada alternatif lain

Tidak ada

### Untuk versi OpenSID mana

22

[2022-04-03 14:38] Zoel-WB opened #5115 "[V22.04-PREMIUM] Rekapitulasi Kehadiran->List Perangkat Desa->Terdapat Nama Perangkat Desa Bawaan System,"
### Jelaskan error yg dialami

Rekapitulasi Kehadiran->List Perangkat Desa->Terdapat Nama Perangkat Desa Bawaan System, dimana nama perangkat tersebut bukan dari Perangkat Desa yg mengunakan OpenSID

### Cara untuk mereplikasi errornya

1. Buka Menu Kehadiran
2. Buka Fitur Rekapitulasi
3. Pada Daftar Rekapitulasi Klik List Perangkat Desa

### Hasil yg diharapkan

Agar Tidak Menampilkan Nama Perang

[2022-04-03 14:53] Zoel-WB opened #5117 "[V22.04-PREMIUM] List Daftar Staff ->Pengaturan->Pengguna->Tambah Pengguna Baru->Menampilkan Data Nama Staf atau Perangkat Desa Yang Bukan Perangkat Desa"
### Jelaskan error yg dialami

Pada Pengaturan->Pengguna->Tambah Penggunaan->Menampilkan Data Nama Staf atau Perangkat Desa Yang Bukan Perangkat Desa yang terdaftar di disystem desa (masih menampilkan perangkat desa bawaan awal system seperti nama kepala desa muhammad ilham, mustahiq, S.AMd dan lainnya yg tak terdaftar sebagai perangkat desa pengguna system)

### Cara untuk mereplikasi errornya

1

[2022-04-03 15:05] Zoel-WB commented on #5114
Up... 👍

[2022-04-03 15:09] Zoel-WB commented on #5106
Kalau Mungkin untuk Deteksi IP bisa langsung otomatis di deteksi oleh Gawai, mengingat IP bila menggunakan Jaringan Hospot sering sekali berubah-ubah setiap hostpot di matikan/dinonaktikan atau bahkan akibat gangguan PLN bila listrik tiba-tiba blank/padam.

![image](https://user-images.githubusercontent.com/64481641/161434542-cf6dbfd8-4915-4d4a-991c-b660e3d76e45.png)

[2022-04-03 23:27] andifahruddinakas commented on #5117
Silahkan nonaktifkan dan keluarkan dari kehadiran perangkat desa.

[2022-04-03 23:27] andifahruddinakas commented on #5115
Silahkan di nonaktifkan dan keluarkan daei kehadiran perangkat desa.

[2022-04-04 00:39] emanuel-simon opened #5118 "Bug/error: Modul Keuangan Grafik APB Desa Pada Pelaksanaan Pembiayaan Menampilkan Nilai Yang Salah"
### Jelaskan error yg dialami

Grafik APB Desa Pelaksanaan Pembiayaan menampilkan nilai yang salah, yaitu _PENJUMLAHAN antara Penerimaan Pembiayaan dan Pengeluaran Pembiayaan._
Nilai yang seharusnya ditampilkan adalah **PEMBIAYAAN NETTO**, yaitu **SELISIH antara Penerimaan Pembiayaan dan Pengeluaran pembiayaan.**

Sedangkan nilai yang ditampilkan di tabel sudah benar.

### Cara untuk mereplikasi e

[2022-04-04 05:01] yogiperdana opened #5119 "Bug/error: Ketika Tag ID Card diambil dari database penduduk maka tidak terbaca pada saat di scan KTPnya"
### Jelaskan error yg dialami

Tag id card perangkat salah ketika perangkat diambil dari penduduk

### Cara untuk mereplikasi errornya

- Tambahkan perangkat dari penduduk yang mempunyai tag id card
- Login dengan ektp

### Hasil yg diharapkan

Berjalan normal

### Tangkapan layar dan log error

![login-ektp](https://user-images.githubusercontent.com/14155050/161477004-5fc04166-fc94-4b22-9c78-07b5

[2022-04-04 06:29] agungsugiarto commented on #5107
Pak @muhtar-coder issue ini saya close, lihat pembahasan di https://github.com/OpenSID/OpenSID/issues/5000

[2022-04-04 06:29] #5107 closed, assigned to nobody

[2022-04-04 06:31] tobagus6911 opened #5120 "[status IDM] menu status idm tidak dapat di akses /error"
### Jelaskan error yg dialami

Menu IDM di Website tema Natra ga bisa di akses / error. tapi di admin bisa.

### Cara untuk mereplikasi errornya

di Website
1 Klik Menu IDM
2 Klik Menu Tahun 2021

### Hasil yg diharapkan

-

### Tangkapan layar dan log error

![image](https://user-images.githubusercontent.com/84884247/161485326-b8deb10c-ebf6-4d79-9138-d991add1a18e.png)

### Rilis Versi OpenSID

Ri

[2022-04-04 06:43] yogiperdana commented on #4412
Issue ini juga dibahas pada https://forum.opendesa.id/d/21-akselerasi-fitur-tte

[2022-04-04 07:03] yogiperdana commented on #5023
Issue ini juga dibahas pada https://forum.opendesa.id/d/20-pemakaman

[2022-04-04 08:19] agungsugiarto commented on #5118
Pak @emanuel-simon bisa berikan informasi tambahan terkait referensi/link sumber rumus yang digunakan?

[2022-04-04 08:27] emanuel-simon commented on #5118
Pak @agungsugiarto , Bisa dicek di tabel keuangan yg dihasilkan OpenSID.
- Pembiayaan terdiri dari Penerimaan Pembiayaan dan Pengeluaran Pembiayaan.
- Pembiayaan Netto = Penerimaan Pembiayaan - Pengeluaran Pembiayaan
- Pendapatan - Belanja + Pembiayaan Netto harus = 0

Jika bapak pakai contoh data yang saya lampirkan, Pendapatan - Belanja hasilnya minus pak, hasil minus ini nanti dijumlahkan denga

[2022-04-04 08:29] agungsugiarto commented on #5118
Baik pak @emanuel-simon terima kasih informasinya

[2022-04-04 09:25] agungsugiarto commented on #5118
Jadi seperti ini ya nilainya pak @emanuel-simon

<img width="744" alt="image" src="https://user-images.githubusercontent.com/10989147/161515018-1d94d3b3-3cd5-47d7-98e9-fba0b4c1656b.png">

[2022-04-04 09:28] emanuel-simon commented on #5118
Yg 50 juta juga jadi 9 juta pak

[2022-04-04 09:29] agungsugiarto commented on #5118
Bukankah yg 50jt itu nilai anggarannya pak? kemudian coba dilihat bagian APBDes Pendapatan dan APBDes Pembelanjaan perhitungaannya apakah juga sudah benar

[2022-04-04 09:36] andifahruddinakas commented on #5119
Mas @yogiperdana, coba cek juga jika tag_id_card yang ada dipenduduk digunakan oleh pamong lain.

[2022-04-04 09:38] emanuel-simon commented on #5118
Bukan pak, Pembiayaan itu Penerimaan Pembiayaan Dikurangi Pengeluaran Pembiayaan.
Sebentar saya lampirkan .pdf dari siskuedesnya

[2022-04-04 09:41] agungsugiarto commented on #5118
Untuk ini apakah sudah benar?

<img width="496" alt="image" src="https://user-images.githubusercontent.com/10989147/161517902-0a8dfce5-9c67-465c-98f3-7fd2b02b93d6.png">

[2022-04-04 09:48] emanuel-simon commented on #5118
yang ini sudah benar pak
ini saya lampirkan hasil printout siskeudes untuk dicek kebenaran nilainya pak
[laporan realisasi apbdesa.pdf](https://github.com/OpenSID/OpenSID/files/8408610/laporan.realisasi.apbdesa.pdf)

[2022-04-04 09:58] agungsugiarto commented on #5118
Seperti ini pak, nilainya sama?

<img width="746" alt="image" src="https://user-images.githubusercontent.com/10989147/161520765-6c46dfc5-3716-4677-bfd0-a22ba144c687.png">

[2022-04-04 10:01] emanuel-simon commented on #5118
Harusnya nilai realisasinya lebih 100% pak, karna pengeluaran pembiayaan belum realisasi, sedangkan penerimaan pembiayaan sudah realisasi 29 jutaan

[2022-04-04 10:05] agungsugiarto commented on #5118
Saya kurang paham, coba untuk rumus persesnya bagaimana terkait pembiayaan pak,

[2022-04-04 10:17] emanuel-simon commented on #5118
saya coba pakai excell ya pak @agungsugiarto
[PERHITUNGAN PEMBIAYAAN.xlsx](https://github.com/OpenSID/OpenSID/files/8408803/PERHITUNGAN.PEMBIAYAAN.xlsx)

[2022-04-04 10:20] agungsugiarto commented on #5118
nilai realisasi 29jt itu bagiamana pak?

[2022-04-04 10:25] emanuel-simon commented on #5118
29jt itu Baru Penerimaan Pembiayaan pak, jika hanya penerimaan pembiayaan yang realisasi sedangkan pengeluaran pembiayaan tidak realisasi, maka pasti persentasenya di atas 100, jika pengeluaran pembiayaan juga sudah realisasi, maka persentasenya kan kembali normal 100% dan ke bawah pak

[2022-04-04 10:28] agungsugiarto commented on #5118
Apakah tidak salah ini pak, perhitungan bisa melebihi 100% ?

[2022-04-04 10:38] emanuel-simon commented on #5118
Karena Pengeluaran Pembiayaan belum realisasi pak, jika sudah realisasi semua akan kembali normal persentasinya
dan karna nilai yang hendak ditampilkan di grafik adalah Jumlah Pembiayaan, lain soal jika di rincikan ke Penerimaan Pembiayaan dan Pengeluaran Pembiayaan.
coba pak @agungsugiarto simulasi dengan lembaran excell ini
[PERHITUNGAN PEMBIAYAAN.xlsx](https://github.com/OpenSID/OpenSID/files/8

[2022-04-04 10:45] agungsugiarto commented on #5118
<img width="1253" alt="image" src="https://user-images.githubusercontent.com/10989147/161528198-8f5084c9-eba3-42de-b589-671175249ef0.png">

[2022-04-04 10:53] emanuel-simon commented on #5118
angka realisasi seharusnya yang 29jt itu pak
![2022-04-04_18h52_06](https://user-images.githubusercontent.com/48465803/161529425-fbf1b16c-1ec3-4b45-9caa-02d24f22f2ec.png)

[2022-04-04 10:57] agungsugiarto commented on #5118
Oke sudah pak
<img width="418" alt="image" src="https://user-images.githubusercontent.com/10989147/161530377-47e6b5b3-0df1-4d37-8cd2-94394291eeea.png">

[2022-04-04 11:04] emanuel-simon commented on #5118
Ok pak, untuk saat ini asalkan saat pengeluaran pembiayaan juga sudah realisasi dan grafik menampilkan persentase yang benar sepertinya sudah cukup.
Seharusnya teman-teman yang lain juga ikut beri masukan soal grafik yang ditampilkan khusus di Pembiayaan ini sebaiknya bagaimana.
Mungkin jangan diclose dulu sambil menunggu teman-teman yang lain.

[2022-04-04 11:22] Wiliyantoro opened #5121 "Bug/error: hasil unduh export xls dalam format webpage"
### Jelaskan error yg dialami

hasil unduhan / import data dengan format xls (webpage) kalau hasil unduhan di buka di pc bisa saja namun dalam praktek saya save as file dan rubah file dengan xlsx ,( format ms excel) yang menjadi permasalahan kalau kita unduh lewat hp terkadang tampil kode html, mungkin perlu atau tidak perbaikan unduh excel agar bisa dibuka langsung lewat hp ataupun pc

### Cara u