[2022-10-23 08:14] #5783 closed, assigned to yogiperdana

[2022-10-23 08:21] vickyrolanda commented on #5788
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1517

[2022-10-23 08:21] #5788 closed, assigned to apidong

[2022-10-23 15:56] makhbub opened #5860 "laporan penduduk bulanan dan menu "Home" hanya menampilkan Penduduk Tetap"
### Apa kekurangan yg ingin diatasi?

Laporan bulanan adalah laporan dari desa yang dikirim ke pihak kecamatan sebaiknya hanya menampilkan penduduk tetap yaitu penduduk yang mempunyai KTP setempat

hal ini karena hanya penduduk dengan KTP setempat yang diakui secara hukum sebagai warga desa dan mempunyai hak penuh seperti Hak untuk memilih kepala desa, menerima bantuan yang menyaratkan masyarakat

[2022-10-24 05:04] vickyrolanda opened #5861 "Perubahan status surat setelah di TTD layanan mandiri tidak berubah."
1. Ketika Kepala Desa melakukan TTD untuk surat permohonan layanan mandiri
2. Status pada table permohonan_surat tidak terupdate sehingga pada menu permohonan statusnya menunggu tanda tangan padahal surat sudah di TTD.
3. Seharusnya ketika kepala desa melakukan TTD maka status pada permohonan_surat menjadi 3 yang artinya surat siap diambil pada layanan mandiri .

[2022-10-24 05:11] vickyrolanda opened #5862 "Error pada migrasi install baru dengan database yang kosong."
![image](https://user-images.githubusercontent.com/59082428/197452610-87032ae7-f991-4695-97f6-033f3c680c58.png)

[2022-10-24 08:37] vickyrolanda commented on #5861
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1526

[2022-10-24 08:37] #5861 closed, assigned to yogiperdana

[2022-10-24 10:18] mranca commented on #5859
@vickyrolanda mohon,di cek juga untuk fitur importnya pak karena terkadang kodenya sudah di sesuikan namun data yang di hasilkan tidak benar/tidak sesuai yang di harapkan

[2022-10-24 11:02] vickyrolanda commented on #5728
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1475

[2022-10-24 11:02] #5728 closed, assigned to apidong

[2022-10-24 11:11] vickyrolanda commented on #5580
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1518

[2022-10-24 11:11] #5580 closed, assigned to apidong

[2022-10-24 11:28] vickyrolanda commented on #5857
Sudah diselesaikan di PR https://github.com/OpenSID/OpenSID/issues/5857

[2022-10-24 11:28] #5857 closed, assigned to yogiperdana

[2022-10-24 13:40] FirlianiF opened #5863 "Permintaan fitur: Buat tombol untuk aktifkan dan nonaktifkan fungsi hapus_cache_untuk_semua('status_langganan')"
### Apa kekurangan yg ingin diatasi?

Untuk desa yang mengalami token kosong, saat cache ditambah manual, lalu fungsi hapus cache berjalan otomatis yang mengakibatkan cache yang ditambahkan terhapus kembali.

### Jelaskan solusi yg diinginkan

Buat tombol pengaturam untuk aktifkan dan nonaktifkan fungsi hapus_cache_untuk_semua('status_langganan')

### Apakah ada alternatif lain

-

### Untuk versi

[2022-10-24 14:00] apidong commented on #5863
@vickyrolanda mohon untuk di analisis terlebih dahulu pak, karena cache memiliki memiliki kadaluarsa. apa bisa dan perlu di buat  menjadi lebih lama.

[2022-10-24 14:08] vickyrolanda commented on #5863
mas @apidong sebaiknya jngn dibaut semakin lama , pertama kta harus selesaikan terkait masalah token ini sehingga tombol ini menajadi tidak perlu kita terapkan .

[2022-10-25 01:52] vickyrolanda commented on #5715
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1500

[2022-10-25 01:52] #5715 closed, assigned to agungsugiarto

[2022-10-25 02:14] vickyrolanda commented on #5858
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1527

[2022-10-25 02:14] #5858 closed, assigned to apidong

[2022-10-25 02:33] vickyrolanda commented on #5358
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1523

[2022-10-25 02:33] #5358 closed, assigned to apidong

[2022-10-25 02:50] vickyrolanda commented on #5025
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1488

[2022-10-25 02:50] #5025 closed, assigned to yogiperdana

[2022-10-25 03:00] vickyrolanda commented on #5765
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1524

[2022-10-25 03:00] #5765 closed, assigned to andifahruddinakas

[2022-10-25 03:12] vickyrolanda commented on #5514
ijin pak @WAHYUDIK & @ai-skematik   apakah bisa ketemu dii google meet atau di DC untuk diskusi terkait fitur ini ?

[2022-10-25 03:14] vickyrolanda commented on #5862
sudah di perbaiki di PR https://github.com/OpenSID/premium/pull/1523

[2022-10-25 03:14] #5862 closed, assigned to apidong

[2022-10-25 03:49] andifahruddinakas commented on #2317
Solusi :
1. Tambahkan tombol plt pada pengurus jika kepala desa tidak ada.
2. Sediakan pengaturan sebutan plt desa.
3. Kepala desa otomatis terganti sesuai dengan plt yg terpilih.
4. Terapkan di semua modul yang berkaitan dengan penanda tangan.

[2022-10-25 10:14] yogiperdana opened #5864 "Buat pop up daftar perangkat desa di anjungan"

[2022-10-25 13:09] #5453 closed, assigned to nobody

[2022-10-26 04:36] vickyrolanda commented on #5524
Mas @vickyrolanda, @agungsugiarto, setelah saya gunakan kode isian ini beberapa hal yang akan jadi kendala :
1. Karena data anggota di buat statis dalam bentuk generate hmtl, pengguna tidak bisa mengubah isi maupun letak data yang digenerate tsb.
2. Di cek setelah generate, nomer selalu dimulai dari angka 2.
3. Tidak bisa menyesuaikan style lainnya yang digunakan di editor, misalnya bold, rata-teg

[2022-10-26 05:27] vickyrolanda opened #5865 "Preview surat sebelum di cetak"
penyesuaian log surat agar tidak double ketika klik tombol preview surat
<img width="111" alt="image" src="https://user-images.githubusercontent.com/59082428/197942118-ce3a566b-63a5-4c3d-a836-c1766ca3ea85.png">

[2022-10-26 05:35] vickyrolanda commented on #5865
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1532

[2022-10-26 05:35] #5865 closed, assigned to andifahruddinakas

[2022-10-26 06:38] vickyrolanda commented on #5757
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1525

[2022-10-26 06:38] #5757 closed, assigned to andifahruddinakas

[2022-10-26 06:49] vickyrolanda commented on #5864
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1529

[2022-10-26 06:49] #5864 closed, assigned to yogiperdana

[2022-10-26 07:12] vickyrolanda commented on #5785
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1533

[2022-10-26 07:12] #5785 closed, assigned to yogiperdana

[2022-10-26 08:10] devrakapriyo opened #5866 "Bug/error: update dokumen penduduk"
### Jelaskan error yg dialami

terjadi error saat update dokumen penduduk, saat di klik unduh menjadi blank page
sebelum di update, saat di klik unduh dokumen berhasil di unduh

<img width="1440" alt="Screen Shot 2022-10-26 at 15 05 57" src="https://user-images.githubusercontent.com/36557759/197970332-6df481de-a3e4-4390-a468-3ea0af74ecdc.png">

### Cara untuk mereplikasi errornya

- klik menu Kepe

[2022-10-26 09:57] vickyrolanda commented on #5797
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1528

[2022-10-26 09:57] #5797 closed, assigned to agungsugiarto

[2022-10-26 10:07] vickyrolanda commented on #2317
Solusinya bisa dengan :

- [ ] Non-aktifkan kepala desa
- [ ] Edit jabatan kepala desa menjadi Plt.Kepala Desa
- [ ] tambah pejabat kepala desa dengan jabatan Plt.Kepala desa.
<img width="537" alt="image" src="https://user-images.githubusercontent.com/59082428/197998762-91934747-807b-4d6b-9fe1-7b8ad55c307a.png">

Jika punya saran yang lain bisa commentar dan reopen kembali issue ini pak.

[2022-10-26 10:07] #2317 closed

[2022-10-26 10:21] vickyrolanda commented on #5673
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1400

[2022-10-26 10:21] #5673 closed, assigned to agungsugiarto

[2022-10-26 10:31] vickyrolanda commented on #5708
Sudah diselesaikan di PR https://github.com/OpenSID/OpenSID/issues/5708

[2022-10-26 10:31] #5708 closed, assigned to apidong

[2022-10-26 13:54] SyahrulAsun opened #5867 "Permintaan fitur: Menampilkan Kembali Opsi Hapus Arsip pada Layanan Surat"
### Apa kekurangan yg ingin diatasi?

Pengembalian Opsi Hapus Arsip pada Layanan SUrat

### Jelaskan solusi yg diinginkan

Hapus Arsip pada layanan surat bisa muncul kembali

### Apakah ada alternatif lain

-

### Untuk versi OpenSID mana

22.10-premium-rev02

### Informasi tambahan

.

[2022-10-27 03:10] vickyrolanda opened #5868 "Perlu penyesuaian terkait pembaruan token di beberapa kondisi"
1. Perlu disesuaikan konsep yang saat ini dengan konsep yang sebelumnya.
2. bisa didiskusikan terlebih dahulu dengan tim yang lain

[2022-10-27 03:11] vickyrolanda opened #5869 "Penyesuaian menu kerja sama dengan konsep pemanggilan API saat ini"
- [ ] Pembaruan pemanggilan menu kerja sama

[2022-10-27 03:13] vickyrolanda commented on #5707
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1479

[2022-10-27 03:13] #5707 closed, assigned to agungsugiarto, yogiperdana, apidong, andifahruddinakas

[2022-10-27 04:08] ariandii opened #5870 "Fitur/Bug: Amankan Token Pengguna Ketika Restore Database"
### Jelaskan error yg dialami

Pengguna localhost mendaftar sebagai pelanggan fitur premium, hosting dll.
Setelah diinstall dan masukkan token, pengguna melakukan restore database dari hasil backup sebelumnya.

Error terjadi karena token terhapus akibat restore database yang semula tidak bertoken (localhost)

### Cara untuk mereplikasi errornya

1. Lakukan install OpenSID baru, masukkan token dan

[2022-10-27 08:05] mah-mudi opened #5871 "Permintaan fitur: [PREMIUM] Penambahan Jumlah Isi Karakter Maksimal 200 Karakter pada Judul Artikel"
### Apa kekurangan yg ingin diatasi?

Judul artikel minimal 5 karakter dan maksimal 100 karakter. Jika maksimal 100 karakter mengakibatkan judul artikel tidak bisa dibuat sesuai narasi.

### Jelaskan solusi yg diinginkan

Dengan Judul Artikel dengan Jumlah Maksimal 200 Karakter, membantu admin/operator membuat judul sesuai dengan narasi.
![image](https://user-images.githubusercontent.com/57661283/

[2022-10-27 08:17] mranca opened #5872 "Tidak bisa menambahkan kepala rumah tangga"
### Jelaskan error yg dialami

Pada saat ingin menambahkan kepala keluarga menjadi kepala rumah tangga tidak bisa akan tetapi jika istrinya bisa tampil pada list pencarian

### Cara untuk mereplikasi errornya

-

### Hasil yg diharapkan

-

### Tangkapan layar dan log error

-

### Rilis Versi OpenSID

Rilis Premium

### Versi OpenSID

22.10 rev 02

### Tema Yang Digunakan

-

### Informasi tambah

[2022-10-27 08:29] vickyrolanda opened #5873 "Perlu di check untuk versi Beta menggunakan data desa nataraya"
- [ ] Ketika upgrade error 505
- [ ] pada saat di reload maka normal
- [ ] surat menjadi kosong sebelum di jalankan migrasinya ketika jalankan migrasi maka kembali lagi

[2022-10-27 08:37] vickyrolanda opened #5874 "Perbedaan laporan log bulanan keluarga DB Nataraya"
Trigernya karena ada ID peristiwa 5 pada log_pristiwa.
Data menjadi salah ketika laporan bulanan.
<img width="493" alt="image" src="https://user-images.githubusercontent.com/59082428/198234306-01742e0d-7f3f-42e4-8ce2-9a8a9f2e0588.png">
<img width="287" alt="image" src="https://user-images.githubusercontent.com/59082428/198234680-af80f5c1-a10c-4826-a1f2-c643953a8525.png">

Keterangan :
Penduduk tid

[2022-10-27 08:40] vickyrolanda opened #5875 "Tombol UB menjadi disable kembali ketika upgrade ke rev03"
Sebelumnya ter enable namun ketika upgrade kembali ke disable sehingga harus di enablekan kembali
<img width="265" alt="image" src="https://user-images.githubusercontent.com/59082428/198235219-3a093317-52b7-4193-96e4-5a4af652d618.png">

[2022-10-27 08:43] vickyrolanda opened #5876 "Info Sistem Perlu ditambahkan informasi Minimal"
Butuh ditambahkan informasi minimal berapa agar taau batasannya supaya icon menjadi hijau
<img width="432" alt="image" src="https://user-images.githubusercontent.com/59082428/198236623-098b9540-eafb-47e3-87de-cd70951a7b2e.png">

[2022-10-27 08:46] vickyrolanda opened #5877 "Bug Wilayah Administratif kolom KK menjadi kosong"
<img width="392" alt="image" src="https://user-images.githubusercontent.com/59082428/198238705-9071f4fb-b16d-48c8-8ad2-f4e0abd187ae.png">

[2022-10-27 08:50] vickyrolanda opened #5878 "Photo artikel menjadi blank hitam sebagian"
Setiap photo yang di upload ke artikel maka photo akan ada blank hitam sebgian.
<img width="302" alt="image" src="https://user-images.githubusercontent.com/59082428/198238259-c393a988-066e-4c39-8eea-f2edcd2dea7f.png">

[2022-10-27 09:10] vickyrolanda opened #5879 "Link wa pada ketika di input hanya no HP 0823*** maka link terdapat +62823"
<img width="245" alt="image" src="https://user-images.githubusercontent.com/59082428/198243065-23f61861-7de7-4769-80d8-94f98d86f265.png">

Sehingga link menjadi tidak benar dan tidak bisa di gunakan.

[2022-10-27 09:15] vickyrolanda opened #5880 "Pada menu buku administrasi desa"
- buku tanah desa ketika cetak NNomor urat
<img width="260" alt="image" src="https://user-images.githubusercontent.com/59082428/198244554-4186ac0e-17dc-423c-95ba-21a0bd5324ac.png">

[2022-10-27 09:19] vickyrolanda opened #5881 "Data penduduk tidak terdata karena ketika input jaringan bermasalah"
Total data penduduk dengan total  di wilayah administratif tidak sama.

[2022-10-27 09:37] vickyrolanda opened #5882 "Tidak bisa reset pin layanan mandiri."
<img width="799" alt="image" src="https://user-images.githubusercontent.com/59082428/198249588-2c31cf9b-6aba-48b4-8060-12447c7da44b.png">

[2022-10-27 09:39] vickyrolanda opened #5883 "Fungsi telegram di pengguna hanya tampil untuk pengguna sekdes & kades saja."

[2022-10-27 11:39] ariandii commented on #5883
NB:
Jika dan hanya jika fungsinya hanya untuk keperluan notifikasi Verifikasi Surat TTE.

[2022-10-27 11:42] ariandii commented on #5877
Walaupun angka 0, namun jika angka 0 diklik pada kolom KK tersebut, hasilnya menampilkan daftar KK lengkap.

Sehingga seharusnya tidak 0.

[2022-10-27 11:43] ariandii commented on #5875
Koreksi:
ketika update calon 22.11-premium (rilis dev)

[2022-10-27 15:04] mranca opened #5884 "Nik Orang tua otomatis terisi saat menginput data penduduk"
### Apa kekurangan yg ingin diatasi?

Saat menginput data penduduk yang statusnya anak maka nik ayah dan ibu harus di ketik manual

### Jelaskan solusi yg diinginkan

Sediakan tombol ceklis agar nik orang tua bisa otomatis terisi dan bisa di ketik manual jika nik orang tuanya ada yang salah

### Apakah ada alternatif lain

*

### Untuk versi OpenSID mana

22.11-Premium

### Informasi tambahan

.

[2022-10-28 03:47] devrakapriyo opened #5885 "Bug/error: isi keperluan surat keterangan penduduk RTF tidak sesuai"
### Jelaskan error yg dialami

pada saat cetak "surat keterangan penduduk" kemudian di unduh file RTF nya format isi keperluan surat tersebut tidak sesuai seperti gambar di bawah

![image](https://user-images.githubusercontent.com/36557759/198497626-18653180-c28f-4d3a-a244-2709ddb9fc92.png)

isi keperluan : Mohon SKCK yang akan di gunakan Untuk Persyaratan ke Bank
Seharusnya cukup : Mohon keterang

[2022-10-28 04:51] vickyrolanda commented on #5885
mas @devrakapriyo ini harusnya bisa buat RTF ubahan sendiri lalu upload ulang mas. jadi ntar ada 2 trf bawaan sistem dan ubahan desa nah itu kalo ada ubahan desa yg akan di pakai ubahan desa. sementara sy close dulu issue ini ya mas kalo sekiranya ada penjelasan lain silahkan di open lagi.

[2022-10-28 04:52] #5885 closed, assigned to nobody

[2022-10-28 05:00] vickyrolanda commented on #5872
sesuai pada pertemuan kemaren issue ini sudah di jelaskan dan sudah di perbaikin dan bisa di uji coba melalui berputar.opendesa.id  sementara saya close issue ini jika nanti memang terjadi dan ada alasan tersendiri maka silahkan di open lagi ya pak @mranca
<img width="667" alt="image" src="https://user-images.githubusercontent.com/59082428/198506463-2c64ccc3-167e-48c0-8bf0-6862f3746019.png">

[2022-10-28 05:00] #5872 closed, assigned to nobody

[2022-10-28 06:47] agungsugiarto commented on #5876
mas @vickyrolanda bisa lebih spesifik penjelasannya?

[2022-10-28 07:46] devrakapriyo commented on #5881
terlampir database tongketongke.desa.id di link gdrive OpenDesa

https://drive.google.com/drive/folders/1FgKY0GeZq9W1NZBxhp3bbSBMM1SBpDfY?usp=sharing

[2022-10-28 08:05] devrakapriyo commented on #5877
<img width="1440" alt="Screen Shot 2022-10-27 at 15 37 29" src="https://user-images.githubusercontent.com/36557759/198536553-d1cd233d-fdbc-496e-8af7-53661c1b750f.png">

data tersebut tidak balanace jika id_peristiwa di KK tersebut berisikan nilai 5, sedangkan jika berisikan nilai 0 maka data menjadi balance

[2022-10-28 08:09] devrakapriyo commented on #5876
ini mas @agungsugiarto jadi masing masing kebutuhan sistem, perlu di tambahkan label penjelasan informasi minimum, contohnya

<img width="510" alt="Screen Shot 2022-10-28 at 15 08 29" src="https://user-images.githubusercontent.com/36557759/198537791-2824fd22-764d-48c2-bd66-ad38b427cc7b.png">

[2022-10-28 08:11] devrakapriyo commented on #5876
<img width="432" alt="198236623-098b9540-eafb-47e3-87de-cd70951a7b2e" src="https://user-images.githubusercontent.com/36557759/198538770-3c0d41de-f27e-48e7-8690-4ffbf38729ad.png">

[2022-10-28 08:22] devrakapriyo commented on #5878
setelah saya cek di beta.opendesa.id pada saat upload photo pada artikel normal
sementara issue ini di close

[2022-10-28 11:15] vickyrolanda commented on #5880
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1537

[2022-10-28 11:15] #5880 closed, assigned to yogiperdana

[2022-10-28 11:18] vickyrolanda commented on #5879
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1538

[2022-10-28 11:18] #5879 closed, assigned to yogiperdana

[2022-10-28 11:32] vickyrolanda commented on #5868
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1539

[2022-10-28 11:32] #5868 closed, assigned to apidong

[2022-10-28 12:51] syahransaputra opened #5886 "Double: Akta perceraian pada table di menu profil Layanan Mandiri"
### Jelaskan error yg dialami

Ditable Biodata Penduduk pada bagian DATA PERKAWINAN terdapat dua baris Akta perceraian

### Cara untuk mereplikasi errornya

1. Login di menu Layanan Mandiri (dengan penduduk yg status Pernikahan Cerai Hidup)
2. Ke menu Profil
3. Gulir ke pada baris tabel DATA PERKAWINAN
4. terdapat 2 baris Akta perceraian

### Hasil yg diharapkan

Seharusnya Akta perceraian kemudia

[2022-10-28 14:58] andifahruddinakas commented on #5882
// Data id penduduk dan pin layanan mandiri yang digunakan sebagai default akun demo
[code]
Akun demo (data penduduk) tidak dapat di hapus jika website di atur sebagai website demo.

[2022-10-28 17:59] vickyrolanda commented on #5866
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1541

[2022-10-28 17:59] #5866 closed, assigned to agungsugiarto

[2022-10-29 00:41] devrakapriyo opened #5888 "Bug/error: tinymce template salinan surat dan header mepet saat di cetak"
### Jelaskan error yg dialami

<img width="1440" alt="Screen Shot 2022-10-29 at 07 31 53" src="https://user-images.githubusercontent.com/36557759/198753842-a20c2363-59b1-4819-ad85-190c3b1decab.png">

semua salinan surat saat di cetak menjadi mepet seperti gambar di atas

### Cara untuk mereplikasi errornya

-

### Hasil yg diharapkan

-

### Tangkapan layar dan log error

-

### Rilis Versi OpenSI

[2022-10-29 00:52] devrakapriyo opened #5889 "Bug/error: tinymce kode isian masih berupa variable saat cetak surat"
### Jelaskan error yg dialami

salinan surat tinymce surat pengantar laporan kehilangan
<img width="655" alt="Screen Shot 2022-10-29 at 07 31 53" src="https://user-images.githubusercontent.com/36557759/198754182-7439f876-0c57-400b-80cc-d640a84927e2.png">

salinan surat tinymce surat pengantar laporan kehilangan
<img width="745" alt="Screen Shot 2022-10-29 at 07 43 10" src="https://user-images.gith

[2022-10-29 03:31] andifahruddinakas commented on #5888
Disesuaikan sendiri di pengaturan surat, tinggi header. Bisa buatkan panduannya mas @devrakapriyo.

[2022-10-29 04:13] vickyrolanda commented on #5889
kondisi ini pada saat : preview surat di pengaturan surat.
jika di cetak hanya 1 kode isian yang tidak terganti :
<img width="740" alt="image" src="https://user-images.githubusercontent.com/59082428/198813314-04f3f668-4946-4e95-9bd5-d5fdc2462f29.png">

[2022-10-29 04:45] vickyrolanda commented on #5888
iya betul, kalo begitu issue ini saya close ya mas @devrakapriyo .

[2022-10-29 04:45] #5888 closed, assigned to andifahruddinakas

[2022-10-29 06:59] #5882 closed, assigned to apidong

[2022-10-29 07:34] vickyrolanda commented on #5875
saya sudah replikasi pak dari 22.10-premium-rev03 ke 22.10-premium-beta 3 tidak menemukan perubahan di UB pak. mungkin bisa saya tes dengan DB nata raya pak.

[2022-10-29 07:48] vickyrolanda commented on #5870
Mungkin sebaiknya di buat Opsi seperti ini ya pak agar bisa di hapus & bisa juga tidak.
<img width="725" alt="image" src="https://user-images.githubusercontent.com/59082428/198820300-ce21f2d6-950f-44a9-982d-bff72a806a28.png">

[2022-10-29 11:14] andifahruddinakas opened #5890 "API SDGS berubah lagi di website https://sid.kemendesa.go.id/sdgs"
API lama https://sid.kemendesa.go.id/sdgs untuk mendapakan data SDGS masih tersedia namun tidak update dan assetsnya sudah dihapus. (https://sdgsdev.kemendesa.go.id/SIDcutoff/goals?wilayah=7313120026)

Untuk API SDGS yang baru menggunakan format :
https://sid.kemendesa.go.id/sdgs/searching/score-sdgs?province_code=62&city_code=6201&district_code=6201050&village_code=6201050016

[2022-10-29 23:52] mranca commented on #5872
baik pak

[2022-10-30 06:00] vickyrolanda commented on #5886
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1543

[2022-10-30 06:00] #5886 closed, assigned to andifahruddinakas

[2022-10-30 06:51] vickyrolanda commented on #5877
mas @andifahruddinakas bisa  sesuikan bagian kollom RW sebaiknya dibuat gk usah bisa di klik aja karena datanya kan dia sudah di kolom KK dll. sedang kan RW & RT samakan sja tidak bisa di klik biar tidak menjadi ambigu, saat ini RW ktika di klik mengarah ke sub_rw.

[2022-10-30 07:06] vickyrolanda commented on #5881
mas @andifahruddinakas , kejadian ini jarang terjadi dan sebenarnya solusinya tinggal hapus data yang tidak valid. namun dari pengguna tidak tau mana yg mau di hapus sehingga karena ada data yang tidak valid jdi membuat datanya jdi tidak sama dilaporannya data wilaya administratif.

saya tidak bisa check dengan database di atas karena setiap masuk ke halaman data wilayah administratif error 505 da

[2022-10-30 07:48] vickyrolanda opened #5891 "Check sumber file random di server"
![image](https://user-images.githubusercontent.com/59082428/198868000-f46456a1-dfd7-467a-9899-ce1ae98e5624.png)

[2022-10-30 07:55] vickyrolanda commented on #5890
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1547

[2022-10-30 07:55] #5890 closed, assigned to andifahruddinakas

[2022-10-30 08:05] andifahruddinakas commented on #5881
Untuk backup, bisa arahkan desa menggunakan backup dari aplikasi agar difiner di view tidak ikut.

Itu tinggal ganti aja difiner pd view jadi localhost

[2022-10-30 08:36] vickyrolanda commented on #5874
mas @andifahruddinakas ini kemaren gmna penjelasannya mas.

[2022-10-30 08:49] vickyrolanda commented on #5873
mas @devrakapriyo mohon bantu check lgi , karena saya testing tidak terjadi seperti diatas.

[2022-10-30 20:30] syahransaputra opened #5892 "Bug/error: Pengaturan Grup Pengguna [Operator]"
### Jelaskan error yg dialami

Saat membuka menu Pengaturan Grup lalu klik Aksi lihat/icon mata pada grup **operator** maka page tidak tampil hanya loading saja. Setelah cek ke https://berputar.opendesa.id/ ternyata yg membuat loading lama itu terjadi karna looping terhadap modul **Layanan Pelanggan** dan **Pendaftaran Kerjasama** yang begitu banyak.
**![Untitled](https://user-images.githubusercon

[2022-10-31 00:46] kbrozi opened #5893 "Permintaan fitur: Tambahkan Tombol Cetak Scorecard Konvergensi"
### Apa kekurangan yg ingin diatasi?

Tolong penambahan tombol cetak dokumen pada Menu admin/Kesehatan/Stunting/Scorecard Konvergensi
ini salah satu syarat laporan buat pencairan DANA DESA ditempat kami, terima kasih

### Jelaskan solusi yg diinginkan

Pembuatan Tombol Cetal/Print dalam bentuk PDF

### Apakah ada alternatif lain

Pembuatan Tombol Cetal/Print dalam bentuk PDF

### Untuk versi OpenS

[2022-10-31 01:07] apidong commented on #5881
bagaimana kalau di buat truncate saja saat menyimpan. jadi kalau data gagal di simpan karena error (entah jaringan atau sebab lain), data akan ke roolback

[2022-10-31 01:10] IkfanDjalaludin opened #5894 "Bug/error: Penambahan kolom pada ID Penerima Bantuan."
### Jelaskan error yg dialami

Penambahan kolom pada ID Penerima Bantuan, mengingat ID pada DTKS (Data Terpadu Kesejahteraan Sosial) sebanyak 36 Digit, sementara pada OpenSID hanya bisa memuat 29 Digit.

### Cara untuk mereplikasi errornya

1. Pergi kehalaman Program Bantuan
2. Tambahkan peserta penerima bantuan
3. Masukan ID Penerima Bantuan DTKS yang sesuai, dan simpan
4. Akan terjadi error (kem

[2022-10-31 01:45] IkfanDjalaludin commented on #5894
Misalnya ID DTKS F324C4D9-AE4A-4EB4-A8DE-B9BEBDB56B82 sebanyak 36 Digit, hanya bisa diinput : DTKS F324C4D9-AE4A-4EB4-A8DE-B9BEBD sebanyak 29 Digit

[2022-10-31 01:54] vickyrolanda commented on #5881
Bsa jga itu mas tpi untuk case yg sudah terjadi seperti di atas gmna mas apa bsa di bersihkan?

[2022-10-31 01:56] vickyrolanda commented on #5877
Mas @agungsugiarto bisa bantu ini mas.

[2022-10-31 02:06] vickyrolanda commented on #5875
Mas @devrakapriyo bsa bantu testing ini lgi soalnya sudah 2 kali sy testing dengan database yt berbeda tidak terjadi perubahan seperti issue, mas akas juga coba tdk terjadi. Bsa mas raka testing mana tau ketemu issuenya.

[2022-10-31 02:35] agungsugiarto commented on #5877
Saya kurang jelas dengan maksud issuenya, bisa di discord mas @vickyrolanda

[2022-10-31 02:38] langonsari opened #5895 "Bug Penambahan Foto Produk diLapak"
### Jelaskan error yg dialami

Pencarian Foto Produk saat menambahkan Foto Produk yg disetting lebih dari 5, Foto Produk ke-5 dan seterusnya tidak muncul sehingga tidak dapat menambahkan Foto Produk lagi.

![Screenshot_20221031_092611](https://user-images.githubusercontent.com/96863107/198919051-d66dd840-a4d9-46a4-98ba-9b993b5e7992.jpg)

### Cara untuk mereplikasi errornya

Dihalaman tambah Data P

[2022-10-31 02:44] scqolbu24 commented on #5892
Pak @syahransaputra saya baru saja mencoba di https://berputar.opendesa.id/ dapat berjalan/tampil normal pak.

[2022-10-31 02:54] K4nzzz opened #5896 "PENOMORAN/LOKASI BANGUNAN TEMPAT TINGGAL"
### Apa kekurangan yg ingin diatasi?

Lokasi dilakukan pada KK (kepala keluarga) dan anggota keluarga otomatis mengikuti.
Jangan satu-satu

### Jelaskan solusi yg diinginkan

Menambahkan fitur penomoran bangunan/lokasi bangunan

### Apakah ada alternatif lain

.

### Untuk versi OpenSID mana

22.11

### Informasi tambahan

.

[2022-10-31 03:00] vickyrolanda commented on #5889
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1545

[2022-10-31 03:00] #5889 closed, assigned to andifahruddinakas

[2022-10-31 03:15] vickyrolanda commented on #5895
mas @agungsugiarto untuk mereplikasi bugnya bisa masuk ke halaman :
1. Lapak
2. Pengaturan
3. Buat Banyak Foto Tiap Produk menjadi 5
4. Lalu Tambah Product
5. Maka photo ke 5 tidak bisa browse gambar

[2022-10-31 03:37] scqolbu24 commented on #5892
solusi dari issue ini adalah lakukan migrasi database

[2022-10-31 03:38] vickyrolanda commented on #5892
untuk issue ini solusinya bisa di lakukan melakukan migrasi ulang ya mas @syahransaputra kalo begitu saya close terlebih dahulu issue ini mas jika terjadi lagi dan sekiranya bug silahkan di reopen.

[2022-10-31 03:38] #5892 closed, assigned to scqolbu24

[2022-10-31 03:47] #5875 closed, assigned to devrakapriyo

[2022-10-31 04:12] agungsugiarto commented on #5877
Mas @vickyrolanda mas @devrakapriyo bisa dibantu, melihat apakah `id_cluster` di table `tweb_penduduk` kepala kk tersebut tidak ada valuenya?

[2022-10-31 05:33] kbrozi opened #5897 "Tampilan SDGs"
### Jelaskan error yg dialami

Gambar SDGs tidak muncul ketika masuk di menu utama/info kampung/setatus kampung/sdgs

### Cara untuk mereplikasi errornya

1. Menu Utama
2. Info Kampung/Desa
3. Status Kampung/Desa
4. Tombol SDGs

### Hasil yg diharapkan

Gambar SDGs muncul kembali

### Tangkapan layar dan log error

![Uploading Screenshot_2022-10-31-13-22-49-22_40deb401b9ffe8e1df2f1cc5ba480b12.jpg…

[2022-10-31 05:37] andifahruddinakas commented on #5897
Duplicate issue https://github.com/OpenSID/OpenSID/issues/5890https://github.com/OpenSID/OpenSID/issues/5890

[2022-10-31 05:37] #5897 closed, assigned to nobody

[2022-10-31 05:43] andifahruddinakas opened #5898 "Error instal baru"
Saat install baru terjadi error :

![error 1](https://user-images.githubusercontent.com/57283157/198939447-a8796aeb-101c-4226-bc92-ad0c24aac2dd.jpg)
![error 2](https://user-images.githubusercontent.com/57283157/198939451-d968fd88-ea63-49b0-816f-a0a50f2093d1.jpg)

Lakukan pengecekan kolom tipe sebelum jalankan fungsi anjungan yg ada di MY_Controller (karena dijalankan di awal).

[2022-10-31 06:46] andifahruddinakas commented on #5898
Yg ini mas @yogiperdana

[2022-10-31 13:15] vickyrolanda commented on #5894
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1548

[2022-10-31 13:15] #5894 closed, assigned to yogiperdana

[2022-10-31 13:32] vickyrolanda commented on #5895
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1549

[2022-10-31 13:32] #5895 closed, assigned to agungsugiarto

[2022-10-31 13:42] vickyrolanda commented on #5877
mas @agungsugiarto sebenarnya ini buat perbuahan biasa aja mas hilangkan link yang di kollom RW mas.

[2022-10-31 13:45] vickyrolanda commented on #5881
mas @apidong ini saya ubah menjadi teknis karena menambahkan truncate untuk proses tambah data.

[2022-10-31 13:46] vickyrolanda commented on #5874
bug ini perlu di diskusikan terkait perubahan data pindah penduduk masuk kembali di bulan yang sama,

[2022-10-31 15:30] vickyrolanda commented on #5877
maaf mas setelah saya coba lagi ternyata bagian yang tidak mas seperti ini mas,  misalkan bagian dusun MANGSIT Jumlah KK yg tertulis 6:
<img width="775" alt="image" src="https://user-images.githubusercontent.com/59082428/199045205-eaa2aab1-24f3-4ebc-9f47-76c9eed6637f.png">
**namun yang tampil 7 , 1 tidak terhitung karena tidak ada anggota kerluarga**
<img width="722" alt="image" src="https://user-

[2022-10-31 15:49] ariandii commented on #5877
@vickyrolanda di gambar saya paling atas, malah KK 0 :)

[2022-10-31 16:26] vickyrolanda commented on #5898
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1551

[2022-10-31 16:26] #5898 closed, assigned to yogiperdana

[2022-10-31 17:50] vickyrolanda commented on #5874
setelah saya testing kembali ada kondisi yang membingungkan karena tombol datang kembali :
1. Jika di bulan yang sama maka sebaikan tombol datang kembali tidak aktif
2. Jika di bulan yang sama maka sebaikan tombol kembalikan status yang aktif
3. jika perubahan akan dilakukan dengan data penduduk pindah bulan lalu maka tombol datang kembali yang aktif
4. jika perubahan akan dilakukan dengan data pe

[2022-10-31 18:10] vickyrolanda commented on #5877
ia pak, sy belum ada coba dengan database yg di atas pak jdi belum tau statusnya knpa kosong begitu pak, perlu ditelusurin emang ini pak dengan database pak ariandi.
kalo saya pakai database pak ariandi yang acak saya daptin seperti ini pak :
<img width="802" alt="image" src="https://user-images.githubusercontent.com/59082428/199078610-4cd2ad6a-bf5b-4674-a84a-eb7f043f8376.png">

[2022-10-31 22:53] mranca opened #5899 "sediakan tombol hapus pada lampiran artikel"
### Apa kekurangan yg ingin diatasi?

kurangnya tombol hapus pada dokumen lampiran artikel

### Jelaskan solusi yg diinginkan

sediakan tombol hapus pada lampiran artikel karna terkadang lampiran itu sudah mau di ganti atau hapus

### Apakah ada alternatif lain

-

### Untuk versi OpenSID mana

v22.11-Premium

### Informasi tambahan

-

[2022-10-31 23:15] ariandii commented on #5877
itu jelas terlihat mutih kulon. bukan database milik natairaya.

[2022-10-31 23:15] eddieridwan commented on #5874
@vickyrolanda bahas bersama @andifahruddinakas . **Pastikan dicatat secara jelas dan lengkap aturannya di panduan.**

[2022-11-01 06:34] #5876 closed, assigned to agungsugiarto

[2022-11-01 10:02] vickyrolanda opened #5902 "Error pada identitas desa setelah melakukan restore database"
1.lakukan installasi dengan database kosong ,
2.lakukan restore database
3. klik identitas desa
4. jika token diisi maka halaman identitas desa menjadi normal

[2022-11-01 10:56] vickyrolanda commented on #5869
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1558

[2022-11-01 10:56] #5869 closed, assigned to apidong

[2022-11-01 13:33] vickyrolanda commented on #5902
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1559

[2022-11-01 13:33] #5902 closed, assigned to nobody

[2022-11-02 02:18] andifahruddinakas opened #5903 "[TinyMCE] Konversi surat RTF - Keterangan Beda Identitas KIS"
[surat_ket_beda_identitas_kis.pdf](https://github.com/OpenSID/OpenSID/files/9915298/surat_ket_beda_identitas_kis.pdf)

[2022-11-02 03:39] zonacerdas opened #5904 "Bug/error: Perpindahan Versi 22.09 ke 22.11"
### Jelaskan error yg dialami

Awalnya kami menggunakan OpenSID versi 22.09 umum, kemudian ingin update ke versi 22.11. kami telah mendownload versi terbaru. kemudian folder "desa-contoh" kami hapus dan digantikan dengan folder "desa" pada versi 22.09. Kami coba akses website , kemudian muncul error.

saat kami menjalankan awal versi 22.11 murni tanpa diedit apapun, juga terjadi error.

Kami mendu

[2022-11-02 03:50] zonacerdas commented on #5904
Kami telah lihat di folder **"vendor\themes\natra"** tidak ditemukan file **"corona-local.php"** pada **versi 22.11**. sehingga kami mendonwload tema natra di https://github.com/OpenSID/tema-natra dan menghapus folder **"natra"** dan menggantinya dengan folder natra yang baru di download.

Hasilnya, website berjalan normal.

Kami harap file master rilis versi 22.11 kembali diulang. terimakasih

[2022-11-02 04:05] zonacerdas commented on #5904
Kami telah lihat di folder **"vendor\themes\natra"** tidak ditemukan file **"corona-local.php"** pada **versi 22.11**. sehingga kami mendonwload tema natra di https://github.com/OpenSID/tema-natra.

Kami mengcopy file **corona-local.php** dan **corona-widget.php** dari folde tema yang didownload. Kemudian mem-pastekan kedua file tersebut ke folder **"vendor\themes\natra"** versi 22.11. Hasilnya, w

[2022-11-02 04:29] ariandii commented on #5904
Seperti biasa,
seluruh hal yang di alami oleh pengguna umum, sudah pasti dialami di pengguna Premium 6 bulan lalu.

dalam hal ini rilis v22.11 umum adalah rilis v22.04-premium April Lalu.

di atas sudah dialami pengguna Premium pada bulan April lalu dan sudah ada rilis perbaikan.

===
solusinya antara lain:
1. matikan Pengaturan **Covid Desa** di menu Admin Web -> Pengaturan (pilih Tidak pada opti

[2022-11-02 05:05] zonacerdas commented on #5904
baik pak, terimakasih atas informasinya.

[2022-11-02 05:05] #5904 closed, assigned to nobody

[2022-11-02 06:52] andifahruddinakas commented on #5579
Duplicate issue https://github.com/OpenSID/OpenSID/issues/5524

[2022-11-02 06:52] #5579 closed, assigned to nobody

[2022-11-02 06:55] andifahruddinakas commented on #5257
Ini sama dengan display anjungan

[2022-11-02 06:55] #5257 closed, assigned to nobody

[2022-11-02 07:14] andifahruddinakas opened #5905 "Halaman peta pada tema untuk pilihan desa pengguna opensid tdk tampil"
![peta 1](https://user-images.githubusercontent.com/57283157/199421384-bae87c9a-9bf6-497a-863a-7517934084aa.jpg)

SOLUSI :
1. Sesuakain dengan API Terbaru Pantau
2. Dihapus, karena duplikasi fitur yang sama dengan Pantau.

[2022-11-02 08:00] kbrozi opened #5906 "Edit pada artikel/halaman statis/simpan tidak ada perubahan"
### Jelaskan error yg dialami

Melakukan pengeditan pada Menu Utama/Admin Web/artikel/halaman statis/simpan (berhasil) tetapi tidak ada perubahan setelah disimpan

### Cara untuk mereplikasi errornya

1. Menu Utama
2. Admin Web
3. Artikel
4. Halaman statis
5. Edit (merapikan tulisan center)
6. simpan (berhasil)
7. Tampilan tidak ada perubahan masih posisi di pinggir tidak mau ke tengah
8. Edit lag

[2022-11-02 08:03] andifahruddinakas commented on #2486
[code]

https://github.com/Shipu/themevel/blob/master/src/Managers/Theme.phphttps://github.com/Shipu/themevel/blob/master/src/Managers/Theme.php

[2022-11-02 10:05] FirlianiF opened #5907 "Bug/error: token pelanggan berhasil tersimpan, tapi sering hilang / terhapus kembali"
### Jelaskan error yg dialami

Tokennya bisa input, tapi setelah beberapa hari hilang/terhapus lagi.
solusi sementara menginput token di config.

### Cara untuk mereplikasi errornya

-

### Hasil yg diharapkan

token tidak hilang-hilang terus, dan agar tidak perlu manual menginput di config.

### Tangkapan layar dan log error

-

### Rilis Versi OpenSID

Rilis Premium

### Versi OpenSID

Versi 22.

[2022-11-02 13:59] devrakapriyo opened #5908 "Bug/error: log error berhasil jalankan migrasi_layanan"
### Jelaskan error yg dialami

![F7FA7419-2AA0-4B49-A312-AEF0E7E595F3](https://user-images.githubusercontent.com/36557759/199509007-e1e4b3c3-351e-450b-b463-41099183f3ba.png)

### Cara untuk mereplikasi errornya

-

### Hasil yg diharapkan

-

### Tangkapan layar dan log error

-

### Rilis Versi OpenSID

Rilis Premium

### Versi OpenSID

v22.11-premium

### Tema Yang Digunakan

_No response_

###

[2022-11-02 21:55] eddieridwan commented on #5907
@FirlianiF @vickyrolanda @andifahruddinakas @devrakapriyo  , baca lagi https://t.me/c/1180597796/6001

[2022-11-03 04:27] FirlianiF opened #5909 "Permintaan fitur: sesuaikan notif untuk kondusi token langganan sudah berakhir."
### Apa kekurangan yg ingin diatasi?

![photo_2022-11-03_11-26-36](https://user-images.githubusercontent.com/30171560/199647536-0dbc575b-6ddb-4f14-93b4-47b7350cab91.jpg)

Diatas notif yang diterima saat menginput token yang sudah kadaluarsa.

### Jelaskan solusi yg diinginkan

sesuaikan notif untuk kondusi token langganan sudah berakhir agar informasi yang diterima pengguna jelas.

### Apakah ada

[2022-11-03 04:29] Fajar-blackdeath opened #5910 "upload tema lewat menu jgn cpanel. supaya lebih cepat dan mudah."
### Apa kekurangan yg ingin diatasi?

dimohon untuk tema langsung masuk ke dalam versi terbaru jadi ngak upload upload tema. toh ada token yang sudah membuat sistem dikunci.

### Jelaskan solusi yg diinginkan

klo memang tidak ingin di upload dengamn bersamaan sistem lebih baik tema di upload di file sistem. jgn lewat cpanel

### Apakah ada alternatif lain

mohon untuk tema dimasukna langhsung di

[2022-11-03 04:48] vickyrolanda opened #5911 "Bug modul TTE tidak bisa melakukan TTD digital"
muncul respon seperti ini ketika menjalankan TTD dengan passprase.
![image](https://user-images.githubusercontent.com/59082428/199649508-0f07e99c-7267-45d0-808a-5eb4eed12503.png)

[2022-11-03 05:14] vickyrolanda commented on #5908
mungkin bisa di check di bagian sini :
<img width="604" alt="image" src="https://user-images.githubusercontent.com/59082428/199651599-d9db8911-6648-4161-9f2e-9b996beb8717.png">

apakah fungsi ini di jalankan berulang kali , karena fungsi untuk menjalankan migrasi layanan tidak ada pernyataan yg membuatkan kondisi kapan harus di jalankan, namun setiap check migrasi akan selalu jalan.

[2022-11-03 07:37] vickyrolanda commented on #5484
[sampel form regsosek 2022.pdf](https://github.com/OpenSID/OpenSID/files/9926339/sampel.form.regsosek.2022.pdf)

[2022-11-03 08:05] vickyrolanda opened #5912 "Setiap upload photo dengan ukuran yang tertentu maka akan ada blank space yang mengikutin photo tersebut."
seperti contoh dibawah ini :
![image](https://user-images.githubusercontent.com/59082428/199671951-de643a66-dea7-4525-b19b-69692adc2d97.png)

![image](https://user-images.githubusercontent.com/59082428/199672130-be71aab0-d344-415a-88ec-e5efa0a671c5.png)

[2022-11-03 08:16] vickyrolanda opened #5913 "Sasaran program bantuan tidak muncul di rincian program"
seperti gambar dibawah ini seharusnya sasarannya keluarga namun di rincian program tedapat sasarannya kosong.
<img width="796" alt="image" src="https://user-images.githubusercontent.com/59082428/199673667-7b6d2cc9-98cb-4103-ba0e-e5a3670d9b5b.png">

[2022-11-03 14:53] ariandii commented on #5913
selain itu, bisa coba klik tambah peserta baru, maka tidak muncul list penduduk nya.

[2022-11-04 00:59] Pematung opened #5914 "Permintaan fitur: Tambahkan Beberapa Pilihan Lagi Pada Kelas Sosial Di Menu Keluarga"
### Apa kekurangan yg ingin diatasi?

Masih diperlukannya penyesuaian pada Menu Keluarga Khusus Pada Kolom Kelas Sosial

![image](https://user-images.githubusercontent.com/105429258/200115090-3af3cc5e-bab9-4ede-a8f0-cf1ce40ead07.png)

### Jelaskan solusi yg diinginkan

Solusi yang diinginkan kalau bisa ditambahn beberap pilihan lagi pada pilihan kelas sosial seperti dibawah ini

1. Sangat Miskin
2

[2022-11-04 01:05] mukhlisvandjava commented on #5577
![foto kk](https://user-images.githubusercontent.com/92527916/199863209-22251073-7be4-4983-b188-a06ac7a50116.png)

[2022-11-04 02:28] devrakapriyo opened #5915 "Bug/error: modal pengaturan tiap modul tidak berfungsi"
### Jelaskan error yg dialami

<img width="1440" alt="Screen Shot 2022-11-04 at 09 25 09" src="https://user-images.githubusercontent.com/36557759/199871981-fed381f7-9dd8-48cf-8aca-ce25f87d7b45.png">

### Cara untuk mereplikasi errornya

-

### Hasil yg diharapkan

-

### Tangkapan layar dan log error

-

### Rilis Versi OpenSID

Rilis Premium

### Versi OpenSID

v22.11-premium

### Tema Yang Digun

[2022-11-04 02:40] devrakapriyo opened #5916 "Bug/error: sasaran peserta tidak muncul setelah tambah program bantuan baru"
### Jelaskan error yg dialami

![image](https://user-images.githubusercontent.com/36557759/199873355-490ed972-24cc-4a13-8b25-4a71c6a99c05.png)

setelah membuat program bantuan baru, sasaran peserta tidak muncul seperti gambar di atas

### Cara untuk mereplikasi errornya

-

### Hasil yg diharapkan

-

### Tangkapan layar dan log error

-

### Rilis Versi OpenSID

Rilis Premium

### Versi OpenSID

[2022-11-04 02:42] devrakapriyo commented on #5916
tidak hanya saat menambah program baru, tetapi semua sasaran peserta tidak muncul di masing-masing program bantuan

[2022-11-04 02:48] ruririzal commented on #5916
#5913

[2022-11-04 02:59] devrakapriyo commented on #5916
duplicate issue https://github.com/OpenSID/OpenSID/issues/5913, issue di close

[2022-11-04 02:59] #5916 closed, assigned to andifahruddinakas

[2022-11-04 05:24] andifahruddinakas commented on #5912
Solusi :
1. Upload gambar tanpa ada croping.
2. Sediakan fitur editing sebelum gambar di upload.
![gambar 1](https://user-images.githubusercontent.com/57283157/199896476-9ea66e13-0c87-4da6-b258-2f7abbb3a2eb.jpg)

[2022-11-04 07:51] mah-mudi opened #5917 "Permintaan fitur: Tambahkan Pilihan Unduh pada Surat yang sudah ber TTE di Riwayat Pengajuan Surat pada Layanan Mandiri Mobile maupun Non Mobile"
### Apa kekurangan yg ingin diatasi?

Belum adanya pilihan unduh surat yang sudah ber TTE di layanan mandiri mobile maupun non mobile. Hanya tertulis siap diambil.
Fitur ini digunakan agar masyarakat dapat unduh surat dan print sendiri surat tersebut tanpa ke Kantor Desa untuk ambil surat fisik nya.
![WhatsApp Image 2022-11-04 at 14 35 39](https://user-images.githubusercontent.com/57661283/1999205

[2022-11-04 10:58] kbrozi commented on #5906
![Screenshot_2022-11-04-18-55-20-26_40deb401b9ffe8e1df2f1cc5ba480b12](https://user-images.githubusercontent.com/116752256/199956385-30bf87d8-4952-4627-af1d-4293b5667040.jpg)

Letak tulisan tidak ada perubahan setelah diedit, tidak mau sama rata atau dibesarkan huruf tidak ada perubahan setelah diedit simpan

[2022-11-04 11:12] eddieridwan commented on #5577
@vickyrolanda perlu peljajari apakah tumpang tindih dengan modul DTKS.

[2022-11-04 11:23] eddieridwan commented on #5914
@vickyrolanda kategori pilihan kesejahteraan yg disediakan perlu berdasarkan standar yg diakui, di mana arti dan indikator setiap tingkatan jelas. Yg ada sekarang berbasis pada kategori dari BKKBN (https://www.kompas.com/skola/read/2021/01/20/141551369/tahapan-keluarga-sejahtera-dan-indikatornya?page=all, http://aplikasi.bkkbn.go.id/mdk/BatasanMDK.aspx).

Jika dibutuhkan kategori sesuai kebutuhan

[2022-11-04 12:37] Zoel-WB opened #5918 "Permintaan fitur: Usulan Musrembangdes (Fitur Usulan Musrenbang Rencana Pembangunan)"
### Apa kekurangan yg ingin diatasi?

Bila Mungkin Permintaan Penambahan Fitur Rencana Pembangunan dimana difitur ini akan merekam usulan-usualan dari masyarakat di saat Musrembang desa, sebelum menjadi pembangunan yg akan dilaksanankan untuk di Input Ke Fitur Pembangunan yg sudah ada sebelumnya yg berisi Daftar Pembangunan yang terlaksana.

Kenapa Fitur ini penting karena fungsi-nya nanti akan me

[2022-11-04 12:40] #3528 closed

[2022-11-04 13:04] pemdespancur commented on #5816
Oke mas @vickyrolanda, kebetulan server nya ikut kominfo, sudah konfirmasi ke bagian server tapi nda ada perubahan, jadi cari solusi sendiri.....platform check file saya turunin yg support di server

if (!(PHP_VERSION_ID >= 70400)) {
    $issues[] = 'Your Composer dependencies require a PHP version ">= 7.4.0". You are running ' . PHP_VERSION . '.';

saya turunin jadi

if (!(PHP_VERSION_ID >= 70300

[2022-11-05 10:17] Pematung commented on #5914
Maksutnya tinggal ditambahkan saja kategori pilihannya........karena ini juga berdasarkan dari BPS (Badan Pusat Statistik)

[2022-11-06 05:20] eddieridwan commented on #5914
@Pematung @vickyrolanda untuk menambahkan pilihan harap beri dasar peraturannya sebagai acuan bagi pilihan yg akan ditambahkan.

[2022-11-06 06:06] vickyrolanda opened #5919 "token kosong padahal cache token sudah ada"
<img width="942" alt="image" src="https://user-images.githubusercontent.com/59082428/200156565-7bb78c7b-2b0d-49ff-ae71-62b64b722c19.png">

<img width="778" alt="image" src="https://user-images.githubusercontent.com/59082428/200156819-8f6b3a5b-5671-438c-b87d-c7861269fd2b.png">

[2022-11-06 06:10] vickyrolanda commented on #5919
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1560

[2022-11-06 06:10] #5919 closed, assigned to andifahruddinakas

[2022-11-06 07:31] ai-skematik opened #5920 "Permintaan fitur: Tambahkan Pengaturan tampilan anjungan untuk monitor kotak"
### Apa kekurangan yg ingin diatasi?

Saat ini pengaturan tampilan anjungan baru potrait dan lanscape sedangkan terdapat monitor yang digunakan pada anjungan dengan tampilan kotak atau ukuran lebar dan tingginya sama.

### Jelaskan solusi yg diinginkan

terdapat pilihan tampilan anjungan untuk monitor kotak.

### Apakah ada alternatif lain

-

### Untuk versi OpenSID mana

22.12 premium

### Infor

[2022-11-06 07:35] vickyrolanda commented on #5915
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1564

[2022-11-06 07:35] #5915 closed, assigned to andifahruddinakas

[2022-11-06 07:36] ai-skematik opened #5921 "Permintaan fitur: hilangkan pembatasan fitur pada website demo"
### Apa kekurangan yg ingin diatasi?

saat ini anjungan tidak dapat di akses di website demo sehingga kesulitan untuk melakukan testing

### Jelaskan solusi yg diinginkan

hilangkan pembatasan fitur di website demo kecuali yang menyangkut keamanan.

### Apakah ada alternatif lain

-

### Untuk versi OpenSID mana

22.12 premium

### Informasi tambahan

-

[2022-11-06 11:07] kbrozi opened #5922 "Penambahan Surat Keterangan Domisili untuk non-warga"
### Apa kekurangan yg ingin diatasi?

Kebanyakan warga pendatang yg meminta Surat Keterangan Domisili

### Jelaskan solusi yg diinginkan

Buatkan untuk RTF dan TinyMCE agar mempermudah kami dalam untuk pelayanan non-warga

### Apakah ada alternatif lain

Kebanyakan warga pendatang diwilayah kami, sehingga mereka meminta surat keterangan domisili, mereka pergunakan untuk keperluan pinjaman usaha ke

[2022-11-06 11:21] devrakapriyo opened #5924 "Bug/error: Token tidak tersimpan, sedangkan menu bisa di akses"
### Jelaskan error yg dialami

![D2BA79C5-EE3C-40C7-A8BF-E4052FDCF305](https://user-images.githubusercontent.com/36557759/200167631-c0df29d9-7663-4f13-8bc0-071f2d629036.png)

desa https://sid.halangan.desa.id/pelanggan

### Cara untuk mereplikasi errornya

-

### Hasil yg diharapkan

-

### Tangkapan layar dan log error

-

### Rilis Versi OpenSID

Rilis Premium

### Versi OpenSID

v22.11-premium

[2022-11-06 11:28] kbrozi commented on #5922
![Uploading IMG_20221106_190145.jpg…]()

[2022-11-06 11:31] kbrozi commented on #5922
![Uploading Screenshot 2022-11-06 193032.png…]()

[2022-11-06 11:32] kbrozi commented on #5922
<img width="305" alt="Screenshot 2022-11-06 193032" src="https://user-images.githubusercontent.com/116752256/200168137-6288f203-4f27-4289-beb0-684067fe173a.png">

[2022-11-06 11:33] kbrozi commented on #5922
itu contoh surat keterangan domisili non-warna nya

[2022-11-06 14:09] Pematung commented on #5914
![image](https://user-images.githubusercontent.com/105429258/200175527-1e601a2f-bc6a-4fb1-90cf-4486f6e51c2b.png)

[2022-11-06 20:38] eddieridwan commented on #5914
@Pematung yg diperlukan bukan dasar hukum umum, melainkan acuan yg mengatur ketiga pilihan (definisi, penjelasan) yg anda usulkan tersebut secara spesifik:

1. Sangat Miskin
2. Miskin
3. Tidak Miskin

seperti yg ada lengkap untuk pilihan tingkat kesejahteraan keluarga yg sudah ada.

Yaitu, apa kriteria 'sangat miskin'? Apa bedanya dengan kategori 'miskin'? Dsbnya.

[2022-11-07 01:58] agungsugiarto commented on #5924
mas @devrakapriyo coba halaman layanan pelanggan di refresh beberapa kali

[2022-11-07 02:32] devrakapriyo opened #5925 "Bug/error: upload foto di responsive filemanager muncul pesan error"
### Jelaskan error yg dialami

![image](https://user-images.githubusercontent.com/36557759/200214373-ac877aa8-6174-4b08-a69c-85d165033e5f.png)

saat upload foto di Responsive Filemanager selalu muncul peringatan Warning: Use of undefined constant LOKASI_CACHE - assumed 'LOKASI_CACHE' (this will throw an Error in a future version of PHP) in /home/u1083103/public_html/sid/donjo-app/config/config.php

[2022-11-07 03:27] mranca commented on #5881
@vickyrolanda kalau bisa di tunjukan tabel sama idnya di phpmyadmin mas, bagaimana kalau saya langsung hapus saja??

[2022-11-07 03:29] mranca commented on #5881
karena yang bermasalah disini id perempuan yang saya input pas jaringan tidak stabil terjadi demikian datanya masuk tapi tidak terhitung jumlahnya di wilayah administratif desa

[2022-11-07 04:00] devrakapriyo opened #5926 "Bug/error: pengaturan API Key OpenDK di OpenSID"
### Jelaskan error yg dialami

![image](https://user-images.githubusercontent.com/36557759/200223736-16317db6-12d8-4ba1-a246-66501e05c0d3.png)

API Key OpenDK tidak ditentukan bila mungkin dapat di  "aktif or nonaktif" supaya system tidak membaca "404 Not Found` response"

### Cara untuk mereplikasi errornya

-

### Hasil yg diharapkan

-

### Tangkapan layar dan log error

-

### Rilis Versi Open

[2022-11-07 04:11] Zoel-WB opened #5927 "Bug/error: API Key OpenDK bila tidak dimasukan/ditentukan maka system akan menampilkan sebagai log error"
### Jelaskan error yg dialami

Bila API-Key OpenDK bila tidak dimasukan/ditentukan atau dilakukan pengaturan API-Key pada fitur OpenDK maka system menganggap adanya errior dan tampil dan terekam sebagai log error.

### Cara untuk mereplikasi errornya

Buka Pengaturan -> Pilih Info System -> Logs

### Hasil yg diharapkan

Bila API-OpenDK tidak ditentukan/terisi di pengaturan supaya dapat tentukan "

[2022-11-07 04:14] Zoel-WB commented on #5927
Logs Error yg tampil bila API-OpenDK tidak dimasukkan atau sudah pernah di ditentukan dan di hilangkan kembali di pengaturan.

GuzzleHttp\Exception\ClientException: Client error: `POST http://localhost/OpenDK/public//api/v1/pesan/getpesan` resulted in a `404 Not Found` response:
run(true)#5 /home/teupinbe/public_html/vendor/guzzlehttp/promises/src/Promise.php(224): GuzzleHttp\Promise\Promise->invo

[2022-11-07 04:16] Zoel-WB commented on #5926
Oke  supaya tidak double issue saya gabungkan saja.
https://github.com/OpenSID/OpenSID/issues/5927

[2022-11-07 10:01] vickyrolanda commented on #5908
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1561

[2022-11-07 10:01] #5908 closed, assigned to andifahruddinakas

[2022-11-07 10:17] vickyrolanda commented on #5925
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1567

[2022-11-07 10:17] #5925 closed, assigned to andifahruddinakas

[2022-11-07 10:28] vickyrolanda commented on #5905
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1568

[2022-11-07 10:28] #5905 closed, assigned to andifahruddinakas

[2022-11-07 14:45] kbrozi opened #5928 "Tidak muncul nomor surat otomatis"
### Jelaskan error yg dialami

Pada saat mau membuat surat tidak muncul nomor surat

### Cara untuk mereplikasi errornya

1. Menu utama
2. layanan surat
3. Cetak surat

### Hasil yg diharapkan

Munculkan nomor surat otomatis kembali

### Tangkapan layar dan log error

![IMG_20221107_223433](https://user-images.githubusercontent.com/116752256/200337180-2ac57a86-69a1-4af2-8bf3-07409b49e1d7.jpg)

###

[2022-11-07 15:37] vickyrolanda commented on #5913
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1563

[2022-11-07 15:37] #5913 closed, assigned to andifahruddinakas

[2022-11-07 16:25] #5926 closed, assigned to nobody

[2022-11-07 16:40] vickyrolanda opened #5929 "Penyesuaian 2 digit di belakang koma untuk APBDes untuk tampilan di halaman websiten."
Dibagian halaman admin sudah di ubah bahwa inputan dapat di input 2 digit di belakang comma, namun untuk tampilan depan masih belum di sesuaikan .
- lihat bagian jasil usaha desa saya input ,12
<img width="797" alt="image" src="https://user-images.githubusercontent.com/59082428/200365063-a05673f8-e151-4246-bbc8-0040bb9de601.png">

Namun di halaman depan masih seperti ini belum ada ,12nya.
<img wid

[2022-11-07 16:40] andifahruddinakas commented on #5877
Sudah diperbaiki di PR https://github.com/OpenSID/premium/pull/1563

Solusi :
- Buat ulang view keluarga_aktif

[2022-11-07 16:40] #5877 closed, assigned to andifahruddinakas

[2022-11-07 16:50] vickyrolanda opened #5930 "Laporan Kehadiran Perangkat Desa pada layanan mandiri muncul semua sehingga terlihat data duplicate nama dll."
1. Login ke layanan mandiri
2. lalu pilih perangkat
3. maka akan tampil semua laporan
<img width="575" alt="image" src="https://user-images.githubusercontent.com/59082428/200367481-da6041d0-b9da-4716-b44d-f4cf44557fd4.png">

Seharusnya yang tampil berdasarkan tanggal hari ini saja .

[2022-11-07 17:30] andifahruddinakas commented on #5878
Duplicate issue https://github.com/OpenSID/OpenSID/issues/5912

[2022-11-07 17:30] #5878 closed, assigned to devrakapriyo

[2022-11-08 00:12] vickyrolanda opened #5931 "Error datatable pada pencarian data kehadiran"
1. Masuk ke menu kehadiran
2. lalu ke rekapitulasi
3. lalu ari di kollom pencarian
![image](https://user-images.githubusercontent.com/59082428/200442428-2ff487cf-0cc9-4392-b7b1-5fc54adc5d68.png)

[2022-11-08 00:20] vickyrolanda opened #5932 "Jumlah program bantuan tidak sama dengan yg ada di dalam list program bantuan"
![image](https://user-images.githubusercontent.com/59082428/200443388-62a1d977-2279-4f04-bcde-c8d363fb468e.png)

mas @devrakapriyo mungkin ini butuh database penggunanya soalnya saya uji di disaya beberapa database dan coba replikasi tidak menemukan data yang tidak belance, ini saya buatkan issuenya terlebih dahulu.

[2022-11-08 00:39] vickyrolanda opened #5933 "Produk hukum yg sudah dikunci namun masih bisa terlihat dibagian homepage"
1. Kunci Produk Hukum
<img width="546" alt="image" src="https://user-images.githubusercontent.com/59082428/200445438-8da043e9-49bd-4097-b47f-a7d78632ae78.png">

2. lihat di Informasi publik sudah tidak muncul
<img width="486" alt="image" src="https://user-images.githubusercontent.com/59082428/200445659-829c85b1-ca25-464e-accd-bbd745da66d3.png">

3. Produk Hukum masih muncul
<img width="825" alt="i

[2022-11-08 00:48] vickyrolanda commented on #5881
sy akan lihat relasinya kemana saja terlebih dahulu ya pak sebelum bpk lakukan itu pak.

[2022-11-08 02:09] mranca commented on #5881
@vickyrolanda baik pak

[2022-11-08 02:18] ariandii opened #5934 "Bug/error: Hilangkan Info History Login Pada Kolom User"
### Jelaskan error yg dialami

Bisa coba buka halaman Login Layanan Mandiri dan Login Kehadiran, begitu pula Login Siteman.

Ketika klik kolom Nama Pengguna maupun kolom Kata Sandi pada Siteman
Ketika klik kolom NIK maupun kolom PIN pada Layanan Mandiri
Ketika klik kolom NIK maupun kolom PIN pada Halaman Kehadiran
dan juga Ketika klik kolom Tempelkan E KTP maupun kolom PIN pada Halaman Kehadiran

[2022-11-08 03:02] agungsugiarto commented on #5927
error ini terjadi bukan karena token yg tidak dimasukkan, tapi karena aplikasi opendk yg ada di local `(http://localhost/OpenDK/public//api/v1/pesan/getpesan resulted in a 404 Not Found response:)` tidak ada, mas @vickyrolanda mohon di analisis

[2022-11-08 03:12] devrakapriyo commented on #5924
pengguna melakukan perubahan script, dengan ini issue saya close

[2022-11-08 03:12] #5924 closed, assigned to devrakapriyo

[2022-11-08 03:31] mranca opened #5935 "data rumah tangga hilang semua saat menambahkan rumah tangga baru"
### Jelaskan error yg dialami

saat menambahkan data rumah tangga baru tiba-tiba data yang ada sebelumnya hilang semua

### Cara untuk mereplikasi errornya

-

### Hasil yg diharapkan

-

### Tangkapan layar dan log error

-

### Rilis Versi OpenSID

Rilis Premium

### Versi OpenSID

v22.11-Premium-rev01

### Tema Yang Digunakan

-

### Informasi tambahan

-

[2022-11-08 03:40] vickyrolanda commented on #5863
Issue ini sy close karena sudah ada solusinya terkait token.

[2022-11-08 03:40] #5863 closed, assigned to nobody

[2022-11-08 04:41] mah-mudi opened #5936 "Bug/error: Jenis Perkades pada input data, tapi output yang tampil di web bernama Perdes"
### Jelaskan error yg dialami

Jenis Perkades pada input data, tapi output yang tampil di web bernama Perdes

### Cara untuk mereplikasi errornya

yang diinput adalah peraturan kepala desa (perkades)
![image](https://user-images.githubusercontent.com/57661283/200476380-98d0870b-8543-4187-a2ae-2958b3ff30bd.png)

yang muncul di web menjadi perdes
![image](https://user-images.githubusercontent.com/57

[2022-11-08 04:44] andifahruddinakas opened #5937 "Migrasi hapus kk_sex pd tabel log_keluarga tidak jalan"

[2022-11-08 04:52] mah-mudi opened #5938 "Bug/error: Input Data Keuangan Sistem sudah support desimal digit dua, tapi output tampilan belum menampilkan desimal digit dua"
### Jelaskan error yg dialami

Input Data Keuangan Sistem sudah support desimal digit dua, tapi output tampilan belum menampilkan desimal digit dua

### Cara untuk mereplikasi errornya

1. Modul Keuangan
2. Input Data (sudah support desimal dua dgit)
3. Pergi Halaman Web, keuangan APBDesa, yang ditampilkan masih belum tertulis desimal digit dua

### Hasil yg diharapkan

Output tampilan keuangan AP

[2022-11-08 04:53] andifahruddinakas commented on #5938
Issue https://github.com/OpenSID/OpenSID/issues/5929

[2022-11-08 04:53] #5938 closed, assigned to nobody

[2022-11-08 09:10] ruririzal opened #5939 "Permintaan fitur: filter/pencarian menu"
### Apa kekurangan yg ingin diatasi?

semakin banyak menu yang ada akan semakin kerepotan untuk menghafal posisi menu yang dicari

### Jelaskan solusi yg diinginkan

-

### Apakah ada alternatif lain

-

### Untuk versi OpenSID mana

premium

### Informasi tambahan

_No response_

[2022-11-08 09:13] ruririzal commented on #5939
![image](https://user-images.githubusercontent.com/28647065/200523556-28571d52-ce36-465d-ac50-275a6bb91884.png)

[1580](https://github.com/OpenSID/premium/pull/1580)

[2022-11-08 11:18] mukhlisvandjava commented on #5577
siap pak... menu ini mnrtku lebih pas karena koordinat dan foto rumah melekat pada data Keluarga

[2022-11-08 12:14] Zoel-WB commented on #5927
tapi dikosongkan juga tidak bisa pak @agungsugiarto tetap kolom-nya mintak isi...

[2022-11-08 12:16] devrakapriyo opened #5940 "Periksa sumber terkait file mencurigakan di dalam project OpenSID"
### Jelaskan error yg dialami

-

### Cara untuk mereplikasi errornya

-

### Hasil yg diharapkan

-

### Tangkapan layar dan log error

-

### Rilis Versi OpenSID

Rilis Premium

### Versi OpenSID

v22.11-premium-rev1

### Tema Yang Digunakan

_No response_

### Informasi tambahan

_No response_

[2022-11-08 12:20] ruririzal commented on #5577
mas @vickyrolanda, untuk fitur upload foto di DTKS menggunakan mekanisme seperti gambar dibawah.

Jadi ada tabel untuk Foto dan tabel untuk menampung relasi Foto dengan DTKS. saat ini tabel foto masih mengacu pada rumah tangga (ditandai dengan field id_rtm), tabel foto bersifat dinamis juga dimana untuk judulnya bisa disesuaikan oleh masing2 desa.

tapi punya potensi untuk ditambahkan satu field l

[2022-11-08 12:24] agungsugiarto commented on #5927
pak @Zoel-WB isi dengan url yg benar terinstall opendk, karena tujuan dibuat log agar memudahkan mendebug error pak.

[2022-11-08 12:32] Zoel-WB commented on #5927
Ini Pak @agungsugiarto mau saya kosongkan juga tidak bisa lagi dulu pernah memang subdomain opendk untuk menguji sinkronisasi data, sekarang setelah subdomain opendk dihapus karena hostingnya sudah tidak mencukupi, setting di opensid tidak dapat lagi dihapus, makanya untuk mensiasati supaya baris sinkronisasi tidak kosong, saya masukkan seolah-olah ada website opendk localhost.

![image](https://u

[2022-11-08 12:41] devrakapriyo opened #5941 "Bug/error: proses loading opensid lama hingga time out"
### Jelaskan error yg dialami

![20D88DFC-7540-4D2F-A087-5D3AA69B9303](https://user-images.githubusercontent.com/36557759/200565680-fdbfdc7f-40b8-49f8-bb80-872dcc60b3b2.jpeg)

Loading web menjadi lambat setelah update ke 22.11-premium-rev1 hingga timeout

### Cara untuk mereplikasi errornya

-

### Hasil yg diharapkan

optimasi proses loading yang lama

### Tangkapan layar dan log error

-

### Ri

[2022-11-08 12:43] devrakapriyo commented on #5940
![E226399B-463B-4CC3-8B68-468D4681B233](https://user-images.githubusercontent.com/36557759/200566680-fc667913-e2a6-4433-9593-baa29c926250.jpeg)

[2022-11-08 13:23] syahransaputra commented on #5940
terkait issue #5891

[2022-11-08 13:35] ariandii opened #5942 "Bug/error: Banyak Pengguna Menggunakan Hari Pada Papan Proyek"
### Jelaskan error yg dialami

saat ini banyak yang melapor waktu pengerjaan pada fitur pembangunan adalah Bulan. padahal di desa waktu pengerjaan berdasarkan Hari. sehingga ini ditandai bug.

### Cara untuk mereplikasi errornya

1. Manu Pembangunan
2. Tambah Data
3. Kolom Waktu

### Hasil yg diharapkan

Waktu berdasarkan Hari, bukan bulan.
agar dapat diisi 15 hari atau 45 hari atau 10 hari dll

#

[2022-11-09 00:13] kbrozi opened #5943 "Permintaan fitur: Visitor Online"
### Apa kekurangan yg ingin diatasi?

Visitor Online ditambah agar tau berapa user online yang melihat website

### Jelaskan solusi yg diinginkan

![Screenshot 2022-11-09 080703](https://user-images.githubusercontent.com/116752256/200704216-be7ff587-3742-4238-b438-491e944e2e5b.png)

### Apakah ada alternatif lain

-

### Untuk versi OpenSID mana

v22.12-premium

### Informasi tambahan

Tema DeNatr

[2022-11-09 02:44] #5891 closed, assigned to nobody

[2022-11-09 02:54] devrakapriyo commented on #5884
<img width="870" alt="Screen Shot 2022-11-09 at 09 51 30" src="https://user-images.githubusercontent.com/36557759/200725779-453c559d-a853-4837-988c-64c515f41a72.png">

yang di maksudnya pada form ini sediakan fitur ceklis untuk input pilih berdasarkan NIK penduduk yang sudah terdaftar ya pak @mranca

[2022-11-09 03:00] devrakapriyo commented on #5935
pak @mranca saya cek di berputar.opendesa.id normal, untuk pengecekan lebih lanjut bisa tolong kirimkan akun admin desanya?

[2022-11-09 03:05] Wiliyantoro commented on #5884
Sediakan saja di samping nik ada check box, dimana fungsinya memanggil nama berdasarkan nik yg di input di form nik,
Karena tidak semua nama orang tua memiliki nik (nama orang tua yg sudah lama meninggal)

[2022-11-09 03:15] Zoel-WB opened #5944 "Permintaan fitur: Untuk Entry Data Buku Umum ->Tanah Kas Desa & Buku Tanah Di desa Dapat Mengambil Data dari Fitur Pertahanan (Leter-C)"
### Apa kekurangan yg ingin diatasi?

Supaya tidak terjadi inputan berulang, untuk data Buku Tanah Kas Desa dan Buku Tanah di Desa bila mungkin langsung data mengambil data dari Fitur Pertanahan, misalnya apakah yg berkaitan dengan Pemilik tanah maupun total luas tanah dapat ditarik otomatis dari fitur Pertanahan disaat pemilik tanah (Leter-C) dimasukkan ke buku tanah kas desa ataupun Buku Tanah D

[2022-11-09 03:16] mranca commented on #5884
@devrakapriyo, maksud saya misalnya nik orang tuanya sudah otomatis muncul dan fitur check box ini berfungsi jika niknya sudah benar maka di ceklis kalau niknya masih salah maka ceklis tersebut dihilangkan agar bisa di ketik secara manual

[2022-11-09 03:16] mah-mudi opened #5945 "Permintaan fitur: Tambahkan menu update data di layanan Mandiri yang dapat diisi sendiri oleh masyarakat secara mandiri"
### Apa kekurangan yg ingin diatasi?

Layanan Mandiri saat ini masih melayani permohonan surat. Diharapkan pada Layanan Mandiri, dapat meniru seperti input data secara mandiri seperti yang dilakukan oleh Google, Facebook.

Belum adanya menu update data di layanan Mandiri yang dapat diisi oleh masyarakat **secara mandiri** yang terintegrasi ke sistem OpenSID seperti :
1. Update Data Kependudukan se

[2022-11-09 04:18] mranca commented on #5935
@devrakapriyo saya sudah turunkan versi pak ke 22.11-premium pak dan yang bersamsalah cuma di 22.11-premium rev01

[2022-11-09 04:21] mranca commented on #5935
mungkin bisa minta akun admin desa https://pampangan-lambar.desa.id/ untuk di testing pak karna dia laporkan juga di grup dengan masalah yang sama

[2022-11-09 05:53] vickyrolanda opened #5946 "Perlu menambahkan list validasi dari pengaturan key masing - masing"
menambahkan list validasi dari pengaturan key masing2, misalnya :

ID Telegram => angka max 11
Sebutan Desa => huruf max 50
Dll

[2022-11-09 06:44] vickyrolanda opened #5947 "Muncul data json pada mode web non-aktif sama sekali"
<img width="920" alt="image" src="https://user-images.githubusercontent.com/59082428/200757572-49a078a3-dc82-47fb-be20-8f86b9662808.png">
<img width="340" alt="image" src="https://user-images.githubusercontent.com/59082428/200758230-44e0baa4-d81f-453f-9e6f-6ab177015e2b.png">

[2022-11-09 07:30] andifahruddinakas commented on #5936
Yg di halaman web ditampilkan berdsarkan kategori bukan jenisnya.

![peraturan](https://user-images.githubusercontent.com/57283157/200766281-24a92e16-1374-4d49-9aad-f70f65df5038.jpg)

[2022-11-09 07:30] andifahruddinakas commented on #5936
Mas @devrakapriyo, bisa dicek lg ulang.

[2022-11-09 07:36] andifahruddinakas commented on #5946
Bisa tambahkan aturan validasi yg diperlukan pada key pengaturan berikut :
"admin_title",
"aktifkan_sms",
"anjungan_artikel",
"anjungan_layar",
"anjungan_profil",
"anjungan_slide",
"anjungan_teks_berjalan",
"anjungan_video",
"anjungan_youtube",
"apbdes_footer",
"apbdes_footer_all",
"apbdes_manual_input",
"api_gform_credential",
"api_gform_id_script",
"api_gform_redirect_uri",
"api_opendk_key",
"ap

[2022-11-09 07:44] vickyrolanda commented on #5911
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1572

[2022-11-09 07:44] #5911 closed, assigned to apidong

[2022-11-09 08:06] vickyrolanda commented on #5937
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1573

[2022-11-09 08:06] #5937 closed, assigned to andifahruddinakas

[2022-11-09 08:31] vickyrolanda commented on #5906
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1574

[2022-11-09 08:31] #5906 closed, assigned to andifahruddinakas

[2022-11-09 09:32] vickyrolanda commented on #5929
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1575

[2022-11-09 09:32] #5929 closed, assigned to andifahruddinakas

[2022-11-09 09:39] vickyrolanda commented on #5933
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1576

[2022-11-09 09:39] #5933 closed, assigned to agungsugiarto

[2022-11-09 13:45] ElAndea opened #5948 "Merubah Status kepala keluarga"
tidak bisa merubah status kepala keluarga ketika kepala keluarga sudah berstatus mati anggota keluarga lain tidak bisa menggantikan status kepala keluarga.

[2022-11-09 22:11] eddieridwan commented on #5948
@vickyrolanda @devrakapriyo laporan/permintaan seperti ini perlu ditanggapi secepat mungkin, dan dalam hal ini ditutup. Buat entri (jika belum ada) di forum.opendesa.id yg menjelaskan dan mengacu pada panduan.

@vickyrolanda @devrakapriyo harap teman2 jelaskan pada @ElAndea mengapa laporan/permintaan ini ditutup. Segera tutup issue ini supaya tidak memenuhi daftar issue untuk hal2 yg tidak akan di

[2022-11-10 00:54] vickyrolanda opened #5949 "Ubah hari libur ketika update ditanggal yang sama tidak bisa"
Kasusnya seperti ini :
1. Misalkan tanggal 10 November 2022 adalah hari libur yang diambil dari sistem bawaan OpenSID
2. Lalu di tanggal 10 November 2022 ternyata desa tersebut masuk kerja namun berhubung tanggal tersebut adalah hari libur maka  halaman kehadiran tidak dapat melakukan absensi walaupun di halaman jam kerja hari tersebut bersatatus hari kerja.
3. Perlu di hapus tanggal 10 November t

[2022-11-10 00:58] vickyrolanda opened #5950 "Tidak dapat ubah hari libur ketika update ditanggal yang sama"
1. Masuk ke menu kehadiran
2. Hari Libur
3. lalu pilih salah satu hari libur
4. lalu klik ubah data
5. Misalhakn liburan tahun baru imlek
<img width="805" alt="image" src="https://user-images.githubusercontent.com/59082428/200974106-fffe0ca0-a92a-4672-93ba-743815191e93.png">

6. Lalu Ubah Keterangan menjadi yang lain misalkan "Tahun Baru Imlek 2022"
7. lakukan tanpa mengubah tanggalnya lalu simpan

[2022-11-10 01:14] vickyrolanda opened #5951 "Bug pada rekam kehadiran merubah status keluar di jam kerja"
1. Lakukan absesn terlebih dahulu
<img width="691" alt="image" src="https://user-images.githubusercontent.com/59082428/200975469-065d6e6e-2242-4077-b030-8a9e34d67b9f.png">

2. lalu misalhkan orang tersebut keluar / absensi pulng lebih awal misalhkan maka saya lakukan absensi pulang terlebih dahulu
<img width="704" alt="image" src="https://user-images.githubusercontent.com/59082428/200975674-cda7d8

[2022-11-10 01:15] vickyrolanda commented on #5951
Issue ini masih dibuat status cek issue karena saya uji coba sudah sesuai namun masih perlu di lakukan testing kembali.
pak @ariandii apakah di buat berubah statusnya menjadi lupa scan keluar ?

[2022-11-10 01:21] vickyrolanda opened #5952 "Ubah status pemberitahuan penambahan user sudah ada dihalaman pengguna"
1. Tambahkan 1 pengguna dengan status kepala desa
2. lalu uji coba tambahkan kembali dengan status yang sama maka akan muncul pemberitahuan gagal namun informasinya masih tidak tepat.
<img width="808" alt="image" src="https://user-images.githubusercontent.com/59082428/200976711-acd22860-3030-409d-aea0-2373b7af7d79.png">

Perlu diubah informasihnya menjadi "Data gagal disimpan pengguna tersebut sud

[2022-11-10 01:30] vickyrolanda opened #5953 "Identitas desa tidak muncul ketika restore database dengan database umum"
1. Lalukan install baru dengan database kosong
2. lalu lakukan resotore database dengan database umum
3. maka ketika berhasil berhatikan ke  menu identitas desa
<img width="948" alt="image" src="https://user-images.githubusercontent.com/59082428/200978116-61d4c3f2-e698-4803-abd5-b665b701f3d2.png">
4. Namun dibagian kairi atas nama desa sudah muncul
<img width="465" alt="image" src="https://user-im

[2022-11-10 01:32] vickyrolanda commented on #5941
ini sudah tidak ada terjadi lagi kemaren sy sudah testing dan pantau desa pak ariandi dan terakhir sy coba hubungin pak ariandi coba sudah normal , untuk saat ini sy close terlebih dahulu lalu jika terjadi hal yang serupa silahkan di buka kembali

[2022-11-10 01:32] #5941 closed, assigned to nobody

[2022-11-10 01:36] vickyrolanda commented on #5940
untuk uji coba ini diperlukan cpanel atau server yang memiliki masalah terkait ini agar dapat di check file di server tersebut juga dan file - file yang tersembunyi di dalamnya, mungkin pak @syahransaputra mengalami hal tersebut?
mas @devrakapriyo mohon bantu carikan aksesnya ya mas.

[2022-11-10 01:37] mranca opened #5954 "form input pada surat menggunakan tinymce belum bisa panggil data dari data base"
### Jelaskan error yg dialami

nama pada form input pada surat yang menggunakan tinymce belum bisa panggil data dari database yang ada

### Cara untuk mereplikasi errornya

-

### Hasil yg diharapkan

panggil data sesuai form input

### Tangkapan layar dan log error

![tinimce](https://user-images.githubusercontent.com/76085245/200979104-70fb8330-c576-4f31-9db4-6f3ee7ea04f1.png)

### Rilis Versi O

[2022-11-10 01:41] ariandii commented on #5951
jika status tetap pada rekam akhir, menurut saya status "keluar", diubah menjadi "tidak berada di kantor".

agar jika tidak kembali setelah keluar hingga jam pulang, agar tidak ambigu.

sehingga ada 3 status default:
1. belum rekam kehadiran
2. tidak berada dikantor
3. lupa scan pulang
4. info lain ketika keluar.

[2022-11-10 01:43] vickyrolanda commented on #5935
apakah sudah coba jalankan migrasinya pak ?

[2022-11-10 02:01] mranca commented on #5935
sudah pak setiap habis update saya selalu migrasi

[2022-11-10 02:31] vickyrolanda commented on #5942
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1581

[2022-11-10 02:31] #5942 closed, assigned to andifahruddinakas

[2022-11-10 02:32] #5936 closed, assigned to andifahruddinakas

[2022-11-10 02:39] vickyrolanda commented on #5946
ok mas coba sy lihat dan apa validasi yang di perlukan.

[2022-11-10 02:52] vickyrolanda commented on #5952
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1586

[2022-11-10 02:52] #5952 closed, assigned to agungsugiarto

[2022-11-10 03:06] andifahruddinakas commented on #5954
Catatan :
1. Kode isian orang tua yang lengkap hanya terisi jika data yang dipilih berada dalam 1 KK dan dengan SHDK adalah Anak

[2022-11-10 03:11] vickyrolanda commented on #5954
mas @devrakapriyo ini perlu di tambahkan di panduan kode isian ya mas.

[2022-11-10 03:33] vickyrolanda commented on #4347
*Keterangan
issue ini akan di pecah beberapa issue seperti pengaturan di OpenSID jika TTE aktif maka surat dapat di kirim kekecamatan.

[2022-11-10 03:53] andifahruddinakas commented on #5954
Untuk saat ini belum suppor untuk data yang diambil dari keluarga. Karena ada beberapa kondisi yang perlu di cek, jika penduduk :
1. Tidak dalam KK maka data org tua diambil dari isian form penduduk
2. Penduduk dalam 1 KK, dengan status bukan anak data org tua diambil dari isian form penduduk
3. Penduduk dalam 1 KK, dengan status anak dengan KK adalah Laki-laki dan ada istri maka data diambil dari

[2022-11-10 03:57] andifahruddinakas opened #5955 "Kode isian orang tua tinymce"
Gunakan kode isian orang tua dari form penduduk saja dlu

[2022-11-10 04:14] andifahruddinakas commented on #5953
Proses ini harusnya tidak akan bisa, karena untuk restore perlu masukkan identitas desa dan token.

[2022-11-10 04:19] andifahruddinakas commented on #5953
Alur pindah dari umum ke premium tanpa install baru :
1. Sebelum pindah, pada versi umum masukkan dlu token premium.
2. Lakukan update script dari umum ke premium.
3. Lakukan migrasi (Jika terdeteksi akan otomatis migrasi)

Alur pindah dari umum ke premium dengan install baru dan restore :
1. Sebelum pindah, pada versi umum masukkan dlu token premium.
2. Lakukan backup database..
3. Lakukan instal

[2022-11-10 07:19] volla15 opened #5956 "Permintaan fitur: Pemberitahuan/notifikasi DISPOSISI"
### Apa kekurangan yg ingin diatasi?

Agar disposisi segera tersampaikan kepada yang terdisposisi, mohon dibuatkan fitur untuk mengiripan pemberitahuan pada user yang terdisposisi  lewat web maupun lewat telegram/whatsapp

### Jelaskan solusi yg diinginkan

Pemberitahuan disposisi realtime lewat whatsapp/telegram

### Apakah ada alternatif lain

memanfaatkan api opensid

### Untuk versi OpenSID ma

[2022-11-10 07:22] andifahruddinakas commented on #5953
Mas @devrakapriyo, bisa ditambahkan ke panduan.

[2022-11-10 07:22] #5953 closed, assigned to andifahruddinakas

[2022-11-10 18:51] syahransaputra commented on #5940
untuk sementara di server yg saya gunakan aman pak @vickyrolanda tidak ada file yg mencurigakan seperti yg dialami issue ini, saya hanya mentione issue bpk sebelumnya dikarenakan issue ini berhubungan.

mungkin sedikit referensi, ini dari pengguna yg mengalami hal yg sama
![photo_2022-11-08_19-08-09](https://user-images.githubusercontent.com/26229332/201180376-7c19362d-60e7-4880-94d5-6e7a3c88de30.

[2022-11-11 00:31] kbrozi opened #5957 "Permintaan fitur: Tombol Tambah dan Hapus pada Pengaturan Sinergi Program"
### Apa kekurangan yg ingin diatasi?

Tombol Tambah dan Hapus pada Pengaturan Sinergi Program

### Jelaskan solusi yg diinginkan

<img width="960" alt="Screenshot 2022-11-11 082924" src="https://user-images.githubusercontent.com/116752256/201234280-b7e3a037-281f-4501-878c-1558deeb6e74.png">

### Apakah ada alternatif lain

-

### Untuk versi OpenSID mana

v22.12-premium

### Informasi tambahan

-

[2022-11-11 07:23] devrakapriyo opened #5958 "Bug/error: celah spam pada form pengaduan"
### Jelaskan error yg dialami

berdasarkan issue https://github.com/OpenSID/OpenSID/issues/4707 pada form pengaduan masih ada celah spam

![image](https://user-images.githubusercontent.com/36557759/201288013-6b44a6fd-6a4c-4c41-95e5-32c928b467af.png)

### Cara untuk mereplikasi errornya

-

### Hasil yg diharapkan

- [ ] disarankan untuk mengubah menjadi google captcha
- [x] batasan mengirim pengad

[2022-11-11 07:41] pemdeslinggapura opened #5959 "Nomor Surat Tidak Tampil"
### Jelaskan error yg dialami

Nomor Surat tidak tampil di Surat RTF maupun Tinymce, bahkan di pengaturan surat juga blank

### Cara untuk mereplikasi errornya

1. Cetak Surat
2. Unduh RTF
3. Buka Surat
4. Nomor Surat tidak tampil

### Hasil yg diharapkan

Nomor Surat kembali tampil

### Tangkapan layar dan log error

![image](https://user-images.githubusercontent.com/89450861/201290633-2e5379a0-4

[2022-11-11 10:27] devrakapriyo opened #5960 "Bug/error: desa sid.guwosari.desa.id embed HTML di artikel response 403"
### Jelaskan error yg dialami

desa sid.guwosari.desa.id mengalami response 403 saat menyisipkan embed HTML maupun mengupload link video atau gambar di artikel

<img width="1440" alt="Screen Shot 2022-11-11 at 17 23 38" src="https://user-images.githubusercontent.com/36557759/201320615-30fbf006-6ea4-4c22-a10e-1b462e63583e.png">

response setelah klik tombol Simpan

<img width="1440" alt="Screen Sho

[2022-11-11 10:30] devrakapriyo commented on #5960
terlampir link gdrive yang berisikan DB desa tersebut

https://drive.google.com/drive/folders/1W2G5rNpmopMGdMSwDq03p0R4j-ZiDqxH?usp=sharing

[2022-11-11 13:29] mah-mudi commented on #5899
Sekaligus bug di rata kanan kiri paragraf, ketika di save, tampilan webnya rata kiri

![IMG_20221111_185902_696](https://user-images.githubusercontent.com/57661283/201350158-b09757aa-0ef7-4d0d-a9b6-aa9bce165271.jpg)
![IMG_20221111_185906_322](https://user-images.githubusercontent.com/57661283/201350162-12144533-e58d-408e-8fa8-34b3542794f5.jpg)

[2022-11-11 14:56] yogiperdana opened #5961 "Bug/error: Tampilan anjungan berantakan"
### Jelaskan error yg dialami

Tampilan anjungan berantakan

### Cara untuk mereplikasi errornya

Masuk ke halaman anjungan

### Hasil yg diharapkan

Normal

### Tangkapan layar dan log error

![image](https://user-images.githubusercontent.com/14155050/201366026-6ab0de8e-fc1c-4555-aed4-062441b077e0.png)

### Rilis Versi OpenSID

Rilis Premium

### Versi OpenSID

v22.11

### Tema Yang Digunakan

_N

[2022-11-11 18:16] Zoel-WB opened #5962 "Permintaan fitur: Penambahan Detail Data Keadaan Keluarga Langsung pada Kartu Keluarga di SID"
### Apa kekurangan yg ingin diatasi?

Ini hanya bersifat usulan bila mungkin untuk di kaji lebih jauh.

1. Permintaaan dapat menambah detail tentang keadaan sebuah keluarga langsung pada Input Kartu  Keluarga di system OpenSID.
2. Tujuan supaya saat membuka data keluarga, semua keadaan keluarga dapat terlihat secara langsung karena semua semua data keadaan Keluarga telah terekam di kartu keluarga.

[2022-11-11 22:19] eddieridwan commented on #5962
@vickyrolanda @devrakapriyo pada waktu menilai setiap permintaan seperti ini, selalu pertimbangkan strategi OpenSID. Terutama, apakah ini sesuai dengan strategi OpenSID dan apakah ada fitur serupa yg sedang atau sudah diterapkan. Yaitu, kita tidak akan terapkan sesuatu yg diminta jika tidak sesuai dengan strategi OpenSID.

Dalam hal ini, kita ketahui kita sudah terapkan modul DTKS, yg secara khusu

[2022-11-12 02:17] Zoel-WB opened #5963 "Bug/error: Nilai Kolom Bobot Bila Tidak Terisi Minimal Nilai Nol Saat Disimpan Error 500"
### Jelaskan error yg dialami

Nilai Kolom Bobot Bila Tidak Terisi Minimal Nilai Nol Saat Disimpan Error 500

### Cara untuk mereplikasi errornya

Buka Fitur --> Master Analisis
Buka Salah Satu --> Analisis --> Masuk Ke Fitur --> Indikator & Pertanyaan
Pilih --> Salah Satu Indikator & Pertanyaan --> Yg Bertipe Pertanyaan Pilihan Tunggal
Pada Kolom --> Bobot -->Kosongkan tak terisi (seolah tak seng

[2022-11-12 04:08] mah-mudi opened #5964 "Bug/error: Jumlah Surat Tercetak Tidak Dapat Ditampilkan di Arsip Layanan Surat Jika Login Pengguna Administrator Tambahan"
### Jelaskan error yg dialami

Jumlah Surat Tercetak Tidak Dapat Ditampilkan di Arsip Layanan Surat ketika pengguna group Administrator Tambahan Login.
Jika Login dengan admin yang bawaan sistem bisa keluar rekapitulasi nya.

### Cara untuk mereplikasi errornya

Pilih Home. Terdapat Rekapitulasi Jumlah Surat Tercetak. Misal ini ada 8 Surat.
![is1](https://user-images.githubusercontent.com/57661283

[2022-11-12 04:30] mah-mudi opened #5965 "Bug/error: Belum Lengkap nya Hubungan Keluarga ketika Tambah Anggota KK"
### Jelaskan error yg dialami

Belum Lengkap nya Hubungan Keluarga ketika Tambah Anggota KK dari Penduduk yang sudah ada
hanya ada pilihan Orang Tua, Famili, Pembantu, Lainnya

### Cara untuk mereplikasi errornya

Modul Keluarga - Tambah Anggota dari Penduduk yang sudah Ada - Hubungan Keluarga

### Hasil yg diharapkan

Ketika Memilih Hubungan Keluarga dapat memilih secara detail seperti ubah hubun

[2022-11-12 05:48] devrakapriyo opened #5966 "Bug/error: desa pampangan-lambar.desa.id data rumah tangga hilang"
### Jelaskan error yg dialami

desa pampangan-lambar.desa.id mengalami kehilangan data rumah tangga setelah update ke versi 22.11-premium-rev1
setelah saya cek data rumah tangga masih ada hanya saja setelah klik menu rumah tangga https://pampangan-lambar.desa.id/rtm/clear data rumah tangga menjadi hilang

<img width="1440" alt="Screen Shot 2022-11-12 at 11 01 20" src="https://user-images.githubuse

[2022-11-12 05:53] devrakapriyo commented on #5966
database desa terlampir di link GDrive OpenDesa : https://drive.google.com/drive/folders/1n5_07EfYFXYqsmZ1BznSMA-sLUPzhoyU?usp=sharing

[2022-11-13 00:01] mranca commented on #5966
ini sama dengan issue yang pertama saya buat #5935

[2022-11-13 00:11] kbrozi opened #5967 "Statistik Pengujung Hari Ini selalu GENAP"
### Jelaskan error yg dialami

Statistik Pengunjungb Hari ini selalu menghasilkan angka genap. Yang dulu pernah sempat berurutan 1 2 3 4 5 6 dst, ganjil genap.

### Cara untuk mereplikasi errornya

Statistik Pengunjung Hari Ini

### Hasil yg diharapkan

Angka pengunjung hari ini berurutan, 1 2 3 4 5 6 dst

### Tangkapan layar dan log error

![IMG_20221113_074108](https://user-images.githubusercont

[2022-11-13 00:21] kbrozi opened #5968 "Fitur ubah favicon di OpenSID pencarian google"
### Apa kekurangan yg ingin diatasi?

Penampakan favicon pada pencarian website
desa di google masih logo bawaan aplikasi, sehingga logo desa tidak nampak.

### Jelaskan solusi yg diinginkan

![IMG_20221113_082033](https://user-images.githubusercontent.com/116752256/201499781-3b61fa03-cffb-49bb-9c7a-4d88610e199d.jpg)

### Apakah ada alternatif lain

-

### Untuk versi OpenSID mana

v22.12-premium

[2022-11-13 05:31] vickyrolanda commented on #5946
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1566

[2022-11-13 05:31] #5946 closed, assigned to nobody

[2022-11-13 05:32] vickyrolanda opened #5969 "Penyesuaian validasi pada pengaturan masing -masing modul"
Bisa tambahkan aturan validasi yg diperlukan pada key pengaturan berikut :
"admin_title",
"aktifkan_sms",
"anjungan_artikel",
"anjungan_layar",
"anjungan_profil",
"anjungan_slide",
"anjungan_teks_berjalan",
"anjungan_video",
"anjungan_youtube",
"apbdes_footer",
"apbdes_footer_all",
"apbdes_manual_input",
"api_gform_credential",
"api_gform_id_script",
"api_gform_redirect_uri",
"api_opendk_key",
"ap

[2022-11-13 05:47] yogiperdana opened #5970 "Bug/error: Selalu muncul notifikasi belum ditentukan ketika jabatan dihapus"
### Jelaskan error yg dialami

Selalu muncul notifikasi belum ditentukan ketika jabatan dihapus

### Cara untuk mereplikasi errornya

Jabatan bawaan dihapus lewat database dan lakukan cetak surat

### Hasil yg diharapkan

Berjalan normal

### Tangkapan layar dan log error

![image](https://user-images.githubusercontent.com/14155050/201507813-7551545c-ca53-43ac-802f-a4755c649540.png)

### Rilis Ver

[2022-11-13 05:52] ariandii commented on #5967
bisa karena kebetulan saja. karena hal ini tidak terjadi di berbagai tempat.

tetap berurutan sesuai pengunjung.

[2022-11-13 05:56] ariandii commented on #5965
saya coba tambahkan keluarga di halaman daftar anggota keluarga, muncul normal lengkap seluruh  hubungan keluarga.

[2022-11-13 06:33] vickyrolanda commented on #5934
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1582

[2022-11-13 06:33] #5934 closed, assigned to andifahruddinakas

[2022-11-13 08:53] mah-mudi opened #5971 "Permintaan fitur: Tambahkan ukuran huruf 9pt 11pt 16pt 20pt 22pt pada Template Pengaturan Surat"
### Apa kekurangan yg ingin diatasi?

Belum adanya ukuran huruf 9pt 11pt 16pt 20pt 22pt pada Template Pengaturan Surat
![image](https://user-images.githubusercontent.com/57661283/201513736-30e32793-ecfc-4c2e-a238-0c15bf323966.png)

### Jelaskan solusi yg diinginkan

Tersedianya  ukuran huruf 9pt 11pt 16pt 20pt 22pt pada Template Pengaturan Surat

### Apakah ada alternatif lain

-

### Untuk versi

[2022-11-13 08:57] Agungf19 opened #5972 "Bug/error:Nama kepala desa tidak muncul di unduh Biodata & Unduh salinan KK pada aplikasi opensis berbasis android"
### Jelaskan error yg dialami

Nama kepala desa tidak muncul di unduh Biodata & Unduh salinan KK pada aplikasi opensis berbasis android,
tapi kalau unduh lewat layanan mandiri aman - aman saja tidak ada masalah

### Cara untuk mereplikasi errornya

1. login di aplikasi opensid berbasis android
2. pilih menu profil
3. klik untuk salinan kk
4. klik profil untuk unduh biodata

### Hasil yg diharapkan

[2022-11-13 09:14] mah-mudi commented on #5965
iya pak keluar lengkap hari ini, dulu keluar tidak lengkap :-)
ok aku close aja issues ini

[2022-11-13 09:14] #5965 closed, assigned to nobody

[2022-11-13 09:18] ariandii commented on #5972
![IMG_20221113_161720](https://user-images.githubusercontent.com/46939846/201514644-13dc490c-d6bd-40c0-a41f-88de8ca25e29.jpg)

sebagai bahan tambahan.

[2022-11-13 09:49] mah-mudi opened #5973 "Permintaan fitur: Tambahkan Kolom Jenis TKD,Patok Tanda Batas,Papan Nama pada Buku Tanah Kas Desa di Buku Administrasi Desa-Administrasi Umum"
### Apa kekurangan yg ingin diatasi?

Belum adanya Kolom Jenis TKD,Patok Tanda Batas,Papan Nama pada Buku Tanah Kas Desa.
![image](https://user-images.githubusercontent.com/57661283/201516004-93b5dd08-4c2d-480d-840a-81070f7ef2f1.png)

### Jelaskan solusi yg diinginkan

Hasil Output Buku Tanah Kas Desa dapat sesuai dengan Lampiran Permendagri Nomor 47 Tahun 2016 tentang Administrasi Pemerintahan De

[2022-11-13 10:00] mah-mudi opened #5974 "Permintaan fitur: Ubah Nama Buku Peraturan Desa menjadi Buku Peraturan Di Desa, menyesuaikan Permendagri 47 Tahun 2016"
### Apa kekurangan yg ingin diatasi?

Buku Peraturan Desa artinya Buku yang berisi Peraturan Desa saja
sedangkan
**Buku Peraturan Di Desa** adalah Buku yang berisi Peraturan Di Desa yang meliputi :
1. Peraturan Desa
2. Peraturan Bersama Kepala Desa; dan
3. Peraturan Kepala Desa

Ubah Tombol Tambah Perdes Baru diubah menjadi **Tambah Peraturan Baru**

### Jelaskan solusi yg diinginkan

Ubah Nama Bu

[2022-11-13 10:14] mah-mudi opened #5975 "Permintaan fitur: Ubah Tombol Tambah SK Kades Baru menjadi Tambah Keputusan Baru, dan Ubah Output Cetak Keputusan Desa menjadi Keputusan Kepala Desa"
### Apa kekurangan yg ingin diatasi?

Tombol masih menggunakan redaksi SK Kades, dan Output Cetak Buku masih menggunakan redaksi Buku Keputusan Desa ABCD
![image](https://user-images.githubusercontent.com/57661283/201516579-eb0aadcf-3406-496a-837e-bd3da82bed90.png)

Redaksi Surat Keputusan (SK) Kepala Desa kurang tepat digunakan karena menurut permendagri 111 Tahun 2014 dan Permendagri 47 Tahun 20

[2022-11-13 10:26] mah-mudi opened #5976 "Permintaan fitur: Ubah Nama Redaksi SK menjadi Keputusan pada Kolom Nomor, Tanggal Pengangkatan dan pemberhentian Buku Aparat Pemerintah Desa, menyesuaikan Permendagri 47 Tahun 2016"
### Apa kekurangan yg ingin diatasi?

Redaksi SK pada Kolom Nomor, Tanggal Pengangkatan dan pemberhentian Buku Aparat Pemerintah Desa, belum sesuai lampiran [Permen No.47 TH 2016_Lampiran.pdf]
karena yang benar bukan SK tapi **Keputusan**
![image](https://user-images.githubusercontent.com/57661283/202612669-89fbf74e-30b4-4dfb-8292-e3ff8fbd04a6.png)

(https://github.com/OpenSID/OpenSID/files/999694

[2022-11-13 11:23] mah-mudi opened #5977 "Permintaan fitur: Integrasikan Buku Inventaris Hasil-hasil pembangunan pada Modul Pembangunan"
### Apa kekurangan yg ingin diatasi?

Belum Terintegrasikannya Buku Inventaris Hasil-hasil pembangunan pada Modul Pembangunan
![image](https://user-images.githubusercontent.com/57661283/201519004-a12b6112-b0b8-4347-ac76-174b41912b2e.png)

### Jelaskan solusi yg diinginkan

Buku Kegiatan Pembangunan sudah terintegrasi pada modul pembangunan.
![image](https://user-images.githubusercontent.com/576612

[2022-11-13 11:39] #5977 closed, assigned to nobody

[2022-11-13 11:40] cwicaksono commented on #5971
Issue ini ada di repository public atau premium ya

[2022-11-13 14:52] mah-mudi opened #5978 "Permintaan fitur: Sesuaikan Isian Inventarisasi Aset Desa berdasarkan Peraturan,Surat Kementerian Dalam Negeri, Pedoman Kodefikasi Aset Desa, dan Pedoman SIPADES"
### Apa kekurangan yg ingin diatasi?

Sub Modul Inventaris masih belum lengkap, yang saat ini terdiri dari :
![image](https://user-images.githubusercontent.com/57661283/201547526-073dccbe-e3c2-4344-8962-686c6bf8ef45.png)

### Jelaskan solusi yg diinginkan

Yang inginkan dalam sub modul inventaris sebagai berikut :
![image](https://user-images.githubusercontent.com/57661283/201547823-fbd2f721-6256-

[2022-11-13 16:03] andifahruddinakas commented on #5970
Seharusnya tidak melakukan perubahan manual lewat database.

[2022-11-13 16:05] andifahruddinakas commented on #5970
Solusi :
tambahkan ulang data jabatan kades (1) danatau sekdes (2) jika tidak ditemukan

[2022-11-13 16:50] andifahruddinakas commented on #5963
Pak @Zoel-WB, coba periksa tabel analisis_indikator, cek bagian bobot apakah sudah sesuai dgn gambar berikut (nilai default adalah '0') ?

![analisis 1](https://user-images.githubusercontent.com/57283157/201533638-a90ddfd9-e649-48bf-8056-ad2827c682fd.jpg)

[2022-11-13 16:53] Zoel-WB commented on #5963
Baik pak @andifahruddinakas

[2022-11-13 16:56] Zoel-WB commented on #5963
Iya benar pak
![image](https://user-images.githubusercontent.com/64481641/201533954-294059bf-9c61-41b8-bd89-adee328e266e.png)

[2022-11-13 17:17] andifahruddinakas commented on #5963
Solusi :
Tambahkan required

[2022-11-13 17:35] #5572 closed, assigned to andifahruddinakas

[2022-11-13 21:54] eddieridwan commented on #5970
@andifahruddinakas @yogiperdana @vickyrolanda @devrakapriyo hal2 seperti ini, di mana isi database tidak sesuai ketentuan, sebaiknya ditangani secara konsisten melalui fitur periksa->perbaiki yg sudah ada. Yaitu tidak dibuat penanganan khusus yg berbeda.

Selain itu, dari penjelasan @ariandii terlihat akar permasalahannya adalah kebutuhan pengguna untuk mengubah penulisan jabatan menjadi huruf bes

[2022-11-13 22:08] eddieridwan commented on #5970
@andifahruddinakas @yogiperdana @vickyrolanda @devrakapriyo perhatikan juga prinsip kerja kita, yaitu tidak 'memperbaiki' masalah yg disebabkan pengguna membuat ubahan sistem, termasuk jika pengguna melakukan perubahan database secara manual. Karena kasus2 seperti itu tidak terbatas jenisnya, dan perbaikannya merupakan penggunaan waktu programmer yg sangat tidak produktif, karena hanya mengatasi h

[2022-11-14 00:12] vickyrolanda commented on #5950
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1588

[2022-11-14 00:12] #5950 closed, assigned to agungsugiarto

[2022-11-14 00:25] vickyrolanda commented on #5947
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1589

[2022-11-14 00:25] #5947 closed, assigned to agungsugiarto

[2022-11-14 00:39] vickyrolanda commented on #5955
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1590

[2022-11-14 00:39] #5955 closed, assigned to andifahruddinakas

[2022-11-14 00:59] vickyrolanda commented on #5927
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1591

[2022-11-14 00:59] #5927 closed, assigned to agungsugiarto

[2022-11-14 01:12] vickyrolanda commented on #5961
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1593

[2022-11-14 01:12] #5961 closed, assigned to yogiperdana

[2022-11-14 01:24] vickyrolanda commented on #5970
baik pak.  sudah sy tambahkan disini  pak https://github.com/OpenSID/OpenSID/wiki/Tanya-Jawab-Tentang-Bug

[2022-11-14 01:34] mah-mudi opened #5979 "Bug/error: Perbaiki Footer Surat TinyMCE"
### Jelaskan error yg dialami

Redaksi Footer yang diatur bertuliskan Dokumen ini tertanda ditandatangani secara elektronik menggunakan sertifikat elektronik yang **diterbitkan** BSrE.

Tapi yang muncul Dokumen ini tertanda ditandatangani secara elektronik menggunakan sertifikat elektronik yang **diterbiTKan** BSrE.

### Cara untuk mereplikasi errornya

Settingan Footer
![footer](https://user-imag

[2022-11-14 01:37] agungsugiarto commented on #5928
![Image](https://user-images.githubusercontent.com/10989147/201557549-0ac938f5-be1a-47d4-ba45-6a63dd4c2d21.png)

Saya coba tidak ada masalah, mas @devrakapriyo mohon dibantu untuk memastikan ulang

[2022-11-14 01:41] agungsugiarto commented on #5930
Mas @vickyrolanda, bisa diperjelas maksudnya

[2022-11-14 01:44] kbrozi commented on #5928
[https://berputar.opendesa.id/surat/form/surat-keterangan-usaha](url)
mas @agungsugiarto dari sisi berputar juga tidak muncul

[2022-11-14 02:13] andifahruddinakas commented on #5970
Point 3 sudah ada, sejak awal adanya modul ini :
![JABATAN 1](https://user-images.githubusercontent.com/57283157/201560958-a59da960-f341-40b9-a044-55062cf7de66.jpg)
![JABATAN 2](https://user-images.githubusercontent.com/57283157/201560953-a2d6abc8-4899-429d-9c4c-5082022ba231.jpg)
![JABATAN 3](https://user-images.githubusercontent.com/57283157/201560948-7a7b2a06-51e3-42e4-9f28-bbb59436da47.jpg)

[2022-11-14 02:16] kbrozi commented on #5967
saya lakukan dari sisi localhost, pembukaan awal langsung angka 2 (dua) yang dihasilkan
sehahurnya angka 1 terlebih dahulu, setelah itu baru angka 2 dst.

[2022-11-14 02:23] agungsugiarto commented on #5907
mas @devrakapriyo, apakah issue ini sudah bisa ditutup?

[2022-11-14 02:34] agungsugiarto commented on #5928
Pak @kbrozi, yg diberputar belum di update ke rev-02, nanti biar dipastikan terlebih dahulu oleh @devrakapriyo

[2022-11-14 02:39] ai-skematik commented on #5358
bung @vickyrolanda  dimana tempat mengatur nomor surat per template agar terbaca di qr Code ?

[2022-11-14 02:39] ai-skematik commented on #5358
Yg saya lihat hanya pemindahan pengaturan penomoran dari pengaturan aplikasi ke pangaturan surat

[2022-11-14 02:43] ai-skematik commented on #5358
Seperti yang dijelaskan pak @eddieridwan  penomoran surat ada 2

Penomoran perjenis surat itu harusnya ada disini
![image](https://user-images.githubusercontent.com/48144047/201564184-9d1ed959-5bff-4e9b-981a-412509ddb70b.png)

[2022-11-14 02:44] ai-skematik commented on #5358
untuk penomoran global sudah cocok ada di sini
![image](https://user-images.githubusercontent.com/48144047/201564329-9c6cde78-0f29-4f96-ae3b-65d77fa0dd67.png)

[2022-11-14 03:02] andifahruddinakas commented on #5960
mas @devrakapriyo, dari error yang terlihat di periksa database bukan masalah insert gambar artikel melainkan ke tidak lengkapan table/view. Jika ada 2 bug dalam 1 issue baiknya di pisah agar lebih jelas.

[2022-11-14 03:12] andifahruddinakas commented on #5959
Kondisi saat ini mengharuskan adanya user kades agar penomoran surat bisa aktif, mungkin dengan kondisi bahwa desa pengguna tsb menggunakan TTE. Tapi tidak semua desa menggunakan TTE, sehingga bagian pengaturan penomoran surat tidak diwajibkan harus ada user kades.

[2022-11-14 03:14] andifahruddinakas commented on #5959
Mas @vickyrolanda, dicek lagi kondisi tsb di atas..

[2022-11-14 03:18] andifahruddinakas commented on #5928
Mas @devrakapriyo, kayaknya sama dengan issue https://github.com/OpenSID/OpenSID/issues/5959

[2022-11-14 03:19] andifahruddinakas commented on #5935
Mas @devrakapriyo, sama dengan issue https://github.com/OpenSID/OpenSID/issues/5966?

[2022-11-14 05:15] andifahruddinakas commented on #5966
Setelah di cek, data rumah tangga di tweb_penduduk (id_rtm dan rtm_level) berisikan data yang sama hampir semua data penduduk.

![tweb_penduduk rtm](https://user-images.githubusercontent.com/57283157/201580756-fd1d1dec-82f7-49b0-995c-e4e946e98258.jpg)

Untuk mengecek apakah ini perubahan dari proses migrasi, perlu disediakan database versi sebelumnya. @devrakapriyo

[2022-11-14 05:20] andifahruddinakas commented on #5960
Mas @devrakapriyo, untuk kasus artikel yang tidak dapat disimpan (404) sy coba di https://berputar.opendesa.id dan lokal tidak ada masalah tsb.

Coba cek :
1. Tambahkan ulang view dokumen_hidup, bisa ambil dari contoh data hasil backup DB berputar.
2. Jika masih error, gunakan bug-fix terbaru.
3. Jika masih error, gunakan user utama (admin)

[2022-11-14 05:24] andifahruddinakas commented on #5967
Mas @devrakapriyo, saya cek di lokal tidak masalah.

![statistik](https://user-images.githubusercontent.com/57283157/201581859-993adf79-3f9a-4487-8400-17c339dc5c4d.jpg)

[2022-11-14 05:45] #5928 closed, assigned to agungsugiarto

[2022-11-14 05:57] ElAndea opened #5980 "Bug/error:"
### Jelaskan error yg dialami

Saat cetak surat kelahiran, hari kelahiran tidak sesuai dengan tanggal kelahiran

### Cara untuk mereplikasi errornya

hasil cetak surat keterangan kelahiran pada hari kelahiran tidak sesuai dengan tanggal kelahiran

### Hasil yg diharapkan

Saat cetak surat keterangan kelahiran diharapkan hari kelahiran sesuai dengan tanggal kelahiran

### Tangkapan layar dan log er

[2022-11-14 06:38] andifahruddinakas commented on #5980
Mas @devrakapriyo, ini sama issuenya dengan https://github.com/OpenSID/OpenSID/issues/5224 dan sudah diperbaiki.

[2022-11-14 08:39] ElAndea opened #5981 "nama pamong yang ttd tidak tampil di lampiran surat"
### Jelaskan error yg dialami

saat surat dicetak nama pamong yang ttd tidak tampil, ini khusus utk lampirannya sj. seperti contoh lampiran surat perubahan kk baru f-1.16.

### Cara untuk mereplikasi errornya

tidak ada

### Hasil yg diharapkan

nama pamong yang ttd tampil sebagaimana mestinya

### Tangkapan layar dan log error

tidak ada

### Rilis Versi OpenSID

Rilis Umum

### Versi OpenSID

22

[2022-11-14 09:00] ariandii commented on #5967
![IMG_20221114_155906](https://user-images.githubusercontent.com/46939846/201618115-143d86ce-bd90-4d8a-bcff-eca84674516a.jpg)

![IMG_20221114_155913](https://user-images.githubusercontent.com/46939846/201618135-0a2c6c02-9a21-407a-8f84-7601723076f9.jpg)

saya cek online barusan hasilnya urut. buka ganjil. setelah itu genap.

[2022-11-14 10:01] vickyrolanda commented on #5970
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1594

[2022-11-14 10:01] #5970 closed, assigned to andifahruddinakas

[2022-11-14 10:03] vickyrolanda commented on #5970
mas @devrakapriyo ini bug dan solusi khusus untuk jabatan yang terhapus atau di hapus, bsia tambahkan panduannya di https://github.com/OpenSID/OpenSID/wiki/Tanya-Jawab-Tentang-Bug dan buatkan jga di forum mas.
solusinya jika terjadi hal seperti ini :
1. Jalankan url periksa untuk memberbaiki data jabatan sekdes & kades.

[2022-11-14 10:05] mah-mudi commented on #5971
premium
berputar.opensid.id

[2022-11-14 10:34] vickyrolanda commented on #5958
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1595

[2022-11-14 10:34] #5958 closed, assigned to andifahruddinakas

[2022-11-14 10:53] vickyrolanda commented on #5963
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1596

[2022-11-14 10:53] #5963 closed, assigned to andifahruddinakas

[2022-11-14 11:09] Zoel-WB commented on #5932
Penyebabnya pada data penduduk yg sudah berubah status dasar (mati atau pindah) yg pernah masuk sebagai penerima bantuan, dalam list daftar bantuan tidak lagi ditampilkan, akan tetapi pada penjumlahan masih terjumlahkan, begitu juga saat mengosongan semua data penerima bantuan (dihapus semua), saat akan dihapus item program bantuan tidak dapat dihapus dengan pesan masih ada data penerima (ada data

[2022-11-14 11:45] vickyrolanda commented on #5931
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1597

[2022-11-14 11:45] #5931 closed, assigned to agungsugiarto

[2022-11-14 11:53] Zoel-WB opened #5982 "Bug/error: Kolom "Cari" Fitur Stunting Tidak Berfungsi"
### Jelaskan error yg dialami

1. Saat Mencari data  yg ada melalui kolom Cari, system tidak respon terjadi pada Fitur -->Posyandu --.Kesehatan Ibu dan Anak (KIA)

2. Kolom Cari pada Fitur Pemantauan Bulanan ---> Klik terjadi Error (Seperti Tampak pada screensote)

### Cara untuk mereplikasi errornya

.

### Hasil yg diharapkan

Supaya dapat digunakan dan berfungsi

### Tangkapan layar dan log err

[2022-11-14 11:57] vickyrolanda commented on #5959
ok sudah sesuai dengan yang sudah ada di PR https://github.com/OpenSID/premium/pull/1598

[2022-11-14 11:59] vickyrolanda commented on #5959
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1598

[2022-11-14 11:59] #5959 closed, assigned to andifahruddinakas

[2022-11-14 12:04] Zoel-WB opened #5983 "Bug/error: Fitur Stunting pada Fitur Input Data Ibu Hamil -->Kolom Tanggal Perkiraan Lahir harus terisi"
### Jelaskan error yg dialami

Saat Input data Ibu Hamil, bila kolom Hari Perkiraan Lahir -->dikosongkan-->data-->tidak dapat disimpan

![image](https://user-images.githubusercontent.com/64481641/201655129-888b1c5f-d959-4792-aed2-2f6907a3b93d.png)

### Cara untuk mereplikasi errornya

.

### Hasil yg diharapkan

Untuk data Ibu hamil pada kolom Hari Pekiraan Lahir -> harus ada 2 alternatif, di inpu

[2022-11-14 12:12] Zoel-WB opened #5984 "Bug/error: Tampilan data Ibu Pada Fitur Posyandu-->Kesehatan Ibu dan Anak (KIA) menampilkan kesan Data Ganda"
### Jelaskan error yg dialami

Tampilan data Ibu Pada Fitur Posyandu-->Kesehatan Ibu dan Anak (KIA) menampilkan kesan Ganda

![image](https://user-images.githubusercontent.com/64481641/201656634-5bc17307-36bb-4731-8b0d-290c97f35009.png)

### Cara untuk mereplikasi errornya

.

### Hasil yg diharapkan

Memisahkan Data masing bagian tersendiri:
1. Khusus Untuk Fitur Data Ibu Saja.
2. Khusus Data Ana

[2022-11-14 12:19] vickyrolanda commented on #5930
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1599

[2022-11-14 13:25] vickyrolanda commented on #5979
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1601

[2022-11-14 13:25] #5979 closed, assigned to andifahruddinakas

[2022-11-14 13:46] K4nzzz opened #5985 "Tambahkan fitur lokasi rumah pada keluarga (agar tidak input satu-satu)"
### Apa kekurangan yg ingin diatasi?

Lokasi individu memerlukan waktu yang cukup lama.
Jika lokasi di berikan kepada kepala keluarga n secara otomatis anggota mengikuti.
Dan hanya input 1 x di kepala keluarga

### Jelaskan solusi yg diinginkan

Tambahkan fitur tambah lokasi rumah pada keluarga

### Apakah ada alternatif lain

.

### Untuk versi OpenSID mana

21.03

### Informasi tambahan

.

[2022-11-14 13:49] K4nzzz opened #5986 "Mengubah tampilan maps dengan google map untuk mempermudahkan melihat lokasi rumah"
### Apa kekurangan yg ingin diatasi?

Menggunakan openstreet map tidak keseluruhan bangunan terdaftar atau tampil bloknya.
Hampir 80% tidak tampil.
Jika dibandingkan google map

### Jelaskan solusi yg diinginkan

Ada pilihan penggunakan openstreet dan google map.

### Apakah ada alternatif lain

.

### Untuk versi OpenSID mana

21.03

### Informasi tambahan

.

[2022-11-14 14:08] vickyrolanda commented on #5964
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1602

[2022-11-14 14:08] #5964 closed, assigned to agungsugiarto

[2022-11-14 14:30] vickyrolanda commented on #5930
mas @agungsugiarto  mohon di buatkan lagi PR susulan untuk perbaikan ini ya mas, karena yg sebelumnya buat error seperti ini mas.
ERROR - 2022-11-14 20:38:14 --> Severity: error --> Exception: SQLSTATE[42S22]: Column not found: 1054 Unknown column 'tanggal' in 'where clause' (SQL: select `pamong_id`, `pamong_nama`, `jabatan_id`, `ref_jabatan`.`nama` as `pamong_jabatan`, `pamong_nip`, `pamong_niap`

[2022-11-14 14:36] agungsugiarto commented on #5930
apakah sudah dibuatkan rilis mas? malam ini belum bisa saya kerjakan karena sedang keluar

[2022-11-14 14:52] Zoel-WB commented on #5985
Setuju

[2022-11-15 01:29] eddieridwan commented on #5907
@devrakapriyo apakah sudah diperiksa lagi dengan menghapus solusi sementara menyimpan token di config? Karena solusi sementara itu tidak mengatasi akar permasalahan. Apakah akar permasalahan sudah ditemukan?

[2022-11-15 01:34] eddieridwan commented on #5970
@andifahruddinakas, menggantikan semua menjadi huruf besar bukan solusinya, jika ada pengguna lain yg menginginkan Title Case, bukan huruf besar semuanya.

@vickyrolanda @devrakapriyo saya lihat sdh ditutup. Apakah akar permasalahannya sdh ditindaklanjuti, yaitu dapat mengubah case nama jabatan bawaan dapat diubah?

[2022-11-15 03:22] andifahruddinakas commented on #5970
Jabatan baik itu huruf besar, kecil, dll sesuai dengan yang di input. Tidak ada yang diubah, masih sama seperti dlu.

[2022-11-15 04:44] Zoel-WB opened #5987 "Permintaan fitur: Tambahan Form Surat Rekomendasi Pembelian BBM Jenis Tertentu"
### Apa kekurangan yg ingin diatasi?

Permintaan fitur Agar setuju untuk di Tambahkan Form Surat Rekomendasi Pembelian BBM Jenis Tertentu, dalam Aplikasi OpenSID

### Jelaskan solusi yg diinginkan

Untuk kepentingan dapat membeli BBM Subsidi Jenis tertentu di di SPBU untuk Peralatan Yang ada di desa untuk mendapatkan BBM Bersubsidi dari pemerintah atas dasar Undang-Undang Pemerintah dan Peraturan

[2022-11-15 04:57] mah-mudi opened #5988 "Bug/error: Tombol Hapus Data Rekam Surat Perorangan di Arsip Layanan- Layanan Surat, Tidak Berfungsi"
### Jelaskan error yg dialami

Tombol Hapus Data Rekam Surat Perorangan di Arsip Layanan- Layanan Surat, Tidak Berfungsi mrngakibatkan nomor surat tetap terekap dan urutan surat tidak bisa dikurangi sesuai keadaan. misal terakhir nomor surat terakhir 25. (padahal dari 25 surat itu ada yang surat uji coba).

### Cara untuk mereplikasi errornya

1. Layanan Surat
2. Arsip Layanan
3. Rekam Surat Peror

[2022-11-15 05:41] eddieridwan commented on #5970
@andifahruddinakas apakah pengguna dapat mengubah penulisan jabatan bawaan tanpa masuk ke PHPMyadmin? Kalau tidak bisa, perlu ada issuenya. Itu akar permasalahannya.

[2022-11-15 06:36] andifahruddinakas commented on #5970
Sudah tersedia diawal modul di buat, agar pengguna bisa menyelesaikan sendiri sebutannya atau huruf besar kecilnya.

[2022-11-15 06:43] eddieridwan commented on #5970
@andifahruddinakas jadi mengapa pengguna merasa perlu menghapus jabatan yg ada? Apakah tidak tahu cara menyesuaikan atau alasan lain? @devrakapriyo @vickyrolanda

[2022-11-15 06:50] andifahruddinakas commented on #5970
Sy kurang mengerti mengapa mereka hapus. Mungkin alurnya begini megapa mereka lakukan hapus melalui database.
1. Mereka mendambahkan jabatan baru untuk kades maupun sekdes (tidak mengubah yang sudah ada)
2. Kemudian menyesuaikannya di pengurus.
3. Saat melakukan cetak / lainnya yang memerlukan data kades / sekdes data tidak tampil. (krn tidak mengikuti aturan yg ada).
4. Dikepala mereka mungkin ka

[2022-11-15 06:53] eddieridwan commented on #5970
@devrakapriyo pastikan yg dibahas di atas sudah jelas dan lengkap di panduan

[2022-11-15 07:19] devrakapriyo commented on #5970
saya setuju dengan pendapat mas @andifahruddinakas seharusnya jabatan default (kades dan sekdes) tidak boleh di hapus apalagi melalui database

solusinya : saya lengkapi di panduan dan di forum

[2022-11-15 07:45] ruririzal commented on #5985
related issue https://github.com/OpenSID/OpenSID/issues/5155 , https://github.com/OpenSID/OpenSID/issues/5896, https://github.com/OpenSID/OpenSID/issues/5577, https://github.com/OpenSID/OpenSID/issues/4849, https://github.com/OpenSID/OpenSID/issues/3773

[2022-11-15 08:55] andifahruddinakas commented on #5935
Mas @mranca, bisa kirim DB lewat telegram saya untuk test?

[2022-11-15 08:57] andifahruddinakas commented on #5982
mas @ruririzal, bisa komentar ke issue ini biar bisa di asign.

[2022-11-15 08:59] ruririzal commented on #5982
Oke

[2022-11-15 08:59] ruririzal commented on #5982
Sudah mas @andifahruddinakas

[2022-11-15 09:24] mranca commented on #5935
Kalau data base saya sudah normal, karna sudah saya turunkan versinya dari rev01 ke premium22.11 dan saya sudah import kembali hasil export data rumah tangga sebelumnya pak

[2022-11-15 09:24] mranca commented on #5935
Tapi kalau mau minta dbnya saya siap kirimkan

[2022-11-15 09:43] devrakapriyo opened #5989 "Bug/error: error rilis-bug-fix 22.11-premium-rev02"
### Jelaskan error yg dialami

<img width="1440" alt="Screen Shot 2022-11-15 at 12 13 59" src="https://user-images.githubusercontent.com/36557759/201885947-d621395e-1efe-4ceb-b839-d50a5a4a61aa.png">
cetak dan tinjau PDF bagian headernya berantakan

<img width="1440" alt="Screen Shot 2022-11-15 at 12 15 18" src="https://user-images.githubusercontent.com/36557759/201885205-c67af1c1-a231-4eee-ad70-69

[2022-11-15 12:45] K4nzzz commented on #5985
Untuk lokasi maps.

[2022-11-15 15:35] andifahruddinakas commented on #5989
1. untuk error saat pertinjau kemudian di simpan sebagai draft dibuat issue baru karena tdk ada kaitannya dengan perbaikan issue yg dikerjakan. (Solusi : Issue baru)
2. untuk masalah header sudah berulang kali sy infokan kalau itu perlu diatur sendiri oleh desa, krn biasa ada desa yang alamatnya panjang makanya tinggi header perlu ditambahkan. (Solusi : Perlu buat panduan)
3. Kalau ada error sekal

[2022-11-15 16:06] andifahruddinakas opened #5990 "Preview tidak sesuai dengan pengaturan yang dibuat"
![preview 1](https://user-images.githubusercontent.com/57283157/201968063-abebb156-1e36-4bae-a8f8-24ba9213a4d0.jpg)

![preview 2](https://user-images.githubusercontent.com/57283157/201968089-65f9eedc-6d19-446f-a6f1-f82755281a18.jpg)

[2022-11-15 18:03] andifahruddinakas commented on #5935
kirim ke https://t.me/fahruddinakas, biar dicek dan diselesaikan. Agar tidak terkunci diversi lama dan bisa diupdate.

[2022-11-16 01:30] mranca commented on #5935
sudah saya kirimkan pak

[2022-11-16 02:10] devrakapriyo opened #5991 "Bug/error: error saat klik tombol konsep surat TinyMCE"
### Jelaskan error yg dialami

<img width="1440" alt="Screen Shot 2022-11-15 at 12 15 18" src="https://user-images.githubusercontent.com/36557759/201885205-c67af1c1-a231-4eee-ad70-69876b4fd6b1.png">

### Cara untuk mereplikasi errornya

-

### Hasil yg diharapkan

-

### Tangkapan layar dan log error

-

### Rilis Versi OpenSID

Rilis Premium

### Versi OpenSID

v22.11-premium-rev2

### Tema Yang

[2022-11-16 02:14] devrakapriyo opened #5992 "Bug/error: setelah login layanan mandiri error 500"
### Jelaskan error yg dialami

<img width="1440" alt="Screen Shot 2022-11-15 at 14 39 38" src="https://user-images.githubusercontent.com/36557759/201885211-97de6079-35fa-4b88-a07d-28bb8850ba10.png">

### Cara untuk mereplikasi errornya

-

### Hasil yg diharapkan

-

### Tangkapan layar dan log error

-

### Rilis Versi OpenSID

Rilis Premium

### Versi OpenSID

v22.11-premium-rev02

### Tema Yang

[2022-11-16 02:20] devrakapriyo commented on #5989
mas @andifahruddinakas
1. issue https://github.com/OpenSID/OpenSID/issues/5991
2. untuk solusinya sudah saya buatkan di forum.opendesa.id mas
3. issue https://github.com/OpenSID/OpenSID/issues/5992

[2022-11-16 03:24] #5989 closed, assigned to andifahruddinakas

[2022-11-16 03:30] desasribhawono commented on #5959
solusinya gimana ya pak? Terima kasih sebelumnya

[2022-11-16 03:58] devrakapriyo opened #5993 "Bug/error: tidak ada keterangan hari/minggu/bulan/tahun kolom volume table pembangunan"
### Jelaskan error yg dialami

<img width="1440" alt="Screen Shot 2022-11-16 at 10 47 56" src="https://user-images.githubusercontent.com/36557759/202079959-a6b06420-e7e7-4edf-bb90-827c19fd4fe9.png">
<img width="1440" alt="Screen Shot 2022-11-16 at 10 47 34" src="https://user-images.githubusercontent.com/36557759/202079963-3a9ee484-7c20-468a-92d0-543f99268442.png">

### Cara untuk mereplikasi error

[2022-11-16 04:07] andifahruddinakas commented on #5993
Mas @devrakapriyo. coba dilihat lebih jelas lagi, itu kolom volume bukan waktu. Kalau mau lihat penerapan waktu ada di bumindes pembagunan.

[2022-11-16 04:11] andifahruddinakas commented on #5988
Mas @vickyrolanda, coba dicek bagian ini ketentuannya sama dengan hapus arsip yang ada sebelumnya?

issue https://github.com/OpenSID/OpenSID/issues/5580

[2022-11-16 04:37] mah-mudi commented on #5988
Bisa dicek juga di Diagram Pie nya, masih terekap jumlah nya. Sehingga nomor surat masih berlanjut hitungan nya.

[2022-11-16 06:21] devrakapriyo commented on #5993
mas @andifahruddinakas kenapa nama kolomnya volume? sedangkan di form Tambah data pembagunan tidak ada input volume? dan isi nya itu dari waktu pada formnya

[2022-11-16 06:23] devrakapriyo commented on #5935
mas @andifahruddinakas iya ini issue nya sama https://github.com/OpenSID/OpenSID/issues/5966

[2022-11-16 06:23] andifahruddinakas commented on #5993
cek input formnya itu jelas2 ada input volume.

[2022-11-16 07:27] andifahruddinakas commented on #5935
untuk issue #5966 sudah dijelaskan di komentar penyebab tidak muncul. Bisa cek komentar  https://github.com/OpenSID/OpenSID/issues/5966#issuecomment-1313111215

Untuk issue ini masih dicek, dan coba replikasi menggunakan database pengguna, tp belum menemukan letak masalahnya.

[2022-11-16 10:04] devrakapriyo commented on #5993
ok mas @andifahruddinakas saya salah, issue di close

[2022-11-16 10:04] #5993 closed, assigned to nobody

[2022-11-16 10:13] devrakapriyo commented on #5966
mas @andifahruddinakas ini DB sebelum update https://drive.google.com/file/d/1XadLkn4NCGRVJAx1Dw_B-A814iNOWYn_/view?usp=share_link

[2022-11-16 16:03] yogiperdana opened #5994 "Sediakan pengaturan jenis surat yang dapat dikirim ke opendk"

[2022-11-16 16:05] yogiperdana opened #5995 "Sediakan fungsi pengiriman surat yang telah di TTE ke opendk"

[2022-11-16 18:33] vickyrolanda opened #5996 "bug update pengaturan TTE pada upload images yang hilang setiap update"

[2022-11-16 18:38] vickyrolanda commented on #5996
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1619

[2022-11-16 18:38] #5996 closed, assigned to apidong

[2022-11-16 19:25] vickyrolanda commented on #5992
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1624

[2022-11-16 19:25] #5992 closed, assigned to andifahruddinakas

[2022-11-17 01:57] vickyrolanda commented on #5991
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1625

[2022-11-17 01:57] #5991 closed, assigned to andifahruddinakas

[2022-11-17 03:48] vickyrolanda opened #5997 "Gabung rilis premium ke umum"

[2022-11-17 05:09] Zoel-WB opened #5998 "Bug/error: Data-data Penduduk yg sudah terimput sebelumnya, saat dibuka kembali ubah data, ada data-data yg tidak ditampilkan"
### Jelaskan error yg dialami

Bug/error: Data-data Penduduk yg sudah terimput sebelumnya, saat dibuka kembali ubah data, ada data-data yg tidak ditampilkan, seolah-olah belum terisi dan harus di input kembali-->simpan ulang, ulangi ubah data, data tersebut baru dimunculkan.

### Cara untuk mereplikasi errornya

Buka salah satu data penduduk lama (mungkin data yg di input dari rilis2 paling awal),

[2022-11-17 05:15] vickyrolanda commented on #5907
sejauh ini issue ini sudah bisa diatasini, namun menunggu laporan seperti ini kembali terjadi maka issue ini bisa di open kembali.

[2022-11-17 05:15] #5907 closed, assigned to agungsugiarto

[2022-11-17 05:45] eddieridwan commented on #5907
@vickyrolanda di desa yg bermasalah, apakah sudah diperiksa lagi dengan menghapus solusi sementara menyimpan token di config? Karena solusi sementara itu tidak mengatasi akar permasalahan. Apakah akar permasalahan sudah ditemukan?

Ada berapa desa yg masih menyimpan token di config? @FirlianiF

[2022-11-17 06:01] mah-mudi opened #5999 "Bug: compress atau resize otomatis pada upload gambar di opensid."
### Apa kekurangan yg ingin diatasi?

Belum adanya fitur compress atau resize otomatis pada upload gambar di opensid. Dan menyebabkan loading halaman penuh gambar sangat lambat.

### Jelaskan solusi yg diinginkan

Perlu adanya fitur compress atau resize otomatis pada upload gambar di opensid. Resize ke ukuran yg memadai untuk ditampilkan di web.

### Apakah ada alternatif lain

-

### Untuk versi

[2022-11-17 06:55] Zoel-WB commented on #5967
Apakah ada hubungan dengan .htaccess, setingan saya sekali login juga muncul 2 visitors perkiraan saya di setinggan .htaccess-nya, karena menggabungkan sekali login bisa sekalian dua domain......

![image](https://user-images.githubusercontent.com/64481641/202378600-3f226d26-c10b-4816-a772-04208ddea15d.png)

[2022-11-17 08:53] andifahruddinakas commented on #5966
Dari pak @zoel, saya belum tahu kejadian dimana karena ada 3 operasi yg saya lakukan, letak salah saya tidak tahu dimana dan opasi yg mana yg menyebabkan salah?  (1) Perinah Pertama  Keluarkan Anggota rumah tanggal dan buat rumah tangga baru sekaligus input anggota keluarga kebetulan bisa conteng semua, semua saya conteng, (2) Perintah Kedua saya input satu keluarga (kepala Keluargaa dan satu anak

[2022-11-17 08:59] #5930 closed, assigned to agungsugiarto

[2022-11-17 09:31] devrakapriyo commented on #5960
iya mas @andifahruddinakas ini issue embed HTML error yang di alami desa sid.guwosari.desa.id
sedangkan berputar dan di local menggunakan data desa lain normal

sepertinya ada perubahan dari stuktur database desa tersebut, karena saya coba replikasi menggunakan database desa desa sid.guwosari.desa.id mengalami error

[2022-11-17 17:29] Zoel-WB commented on #5514
Kalau Saya Masuk di Bidang Pelaksanaan Pembangunan, kebetulan memang bidang yg saya tangani (posyandu, stunting)

Sub Bidang Kesehatan

![image](https://user-images.githubusercontent.com/64481641/202515829-286eeec0-fe0b-4b89-b6f5-868d7e8e607e.png)

[2022-11-18 04:23] mah-mudi opened #6000 "Bug/error: Ubah Nama Buku Peraturan Desa menjadi Buku Peraturan Di Desa beserta Output Cetak nya"
### Jelaskan error yg dialami

Sub Modul Buku Peraturan Desa dan Out Put Cetak Peraturan Desa masih menggunakan redaksi Peraturan Desa.
**Harusnya memakai redaksi Peraturan Di Desa.**

### Cara untuk mereplikasi errornya

1. Pergi ke Modul Buku Administrasi Desa
2. Buku Administrasi Umum - Buku Peraturan Desa

### Hasil yg diharapkan

Sub Modul Buku Peraturan Desa diubah menjadi **Buku Peraturan D

[2022-11-18 04:23] #5974 closed, assigned to nobody

[2022-11-18 06:25] mah-mudi opened #6001 "Bug/error: Ubah Nama Redaksi SK menjadi Keputusan, dan Perbaiki Output Cetak Buku Keputusan Kepala Desa"
### Jelaskan error yg dialami

Redaksi SK pada Kolom Nomor, Tanggal Pengangkatan dan pemberhentian Buku Aparat Pemerintah Desa, belum sesuai lampiran Permendagri Nomor 47 Tahun 2016, karena yang benar bukan SK tapi **Keputusan**

Tombol Tambah SK Kades Baru perlu disesuaikan

Output Cetak Buku Keputusan Kepala Desa Juga Perlu disesuaikan

### Cara untuk mereplikasi errornya

1. Buku Administrasi D

[2022-11-18 06:25] #5976 closed, assigned to nobody

[2022-11-18 06:30] #5975 closed, assigned to nobody

[2022-11-18 08:13] devrakapriyo opened #6002 "Bug/error: DTKS setiap form input pilihan berikan default NULL jika kosong"
### Jelaskan error yg dialami

![image](https://user-images.githubusercontent.com/36557759/202653361-1c63699d-a1ae-46a0-8b3a-50366bbd5cbb.png)

Pada Halaman "KETERANGAN PERUMAHAN" Pilihan pada "Sumber Penerangan Utama" Pilihan " Daya 1-2-2" —> Tidak ada pilihan untuk membatalkan pilihan atau untuk memilih data kosong—>hal ini terjadi bila salah input untuk kembali lagi ke form yg kosong.. intinya

[2022-11-18 08:32] devrakapriyo opened #6003 "Bug/error: tombol verifikasi email halaman kerja sama tidak berfungsi"
### Jelaskan error yg dialami

![image](https://user-images.githubusercontent.com/36557759/202656880-e74da314-fa12-4955-912b-b8ebeaacce10.png)

saat di klik tombol Verifikasi Alamat Email tidak me redirect

### Cara untuk mereplikasi errornya

-

### Hasil yg diharapkan

-

### Tangkapan layar dan log error

-

### Rilis Versi OpenSID

Rilis Premium

### Versi OpenSID

v22.11-premium-rev02

### Te

[2022-11-18 08:39] devrakapriyo opened #6004 "Bug/error: klik tombol simpan form pendaftaran kerja sama tidak ada respon"
### Jelaskan error yg dialami

saat klik tombol Simpan di form pendaftaran kerja sama tidak ada respon, dan ketika di inspact element muncul pesan error

<img width="1440" alt="Screen Shot 2022-11-18 at 15 37 28" src="https://user-images.githubusercontent.com/36557759/202658423-cef7d815-6575-4eab-a1dc-6d442dbe67a8.png">

### Cara untuk mereplikasi errornya

-

### Hasil yg diharapkan

-

### Tangk

[2022-11-18 08:42] devrakapriyo opened #6005 "Bug/error: link dari email pendaftaran kerja sama muncul pesan whoops"
### Jelaskan error yg dialami

<img width="1440" alt="Screen Shot 2022-11-18 at 15 41 27" src="https://user-images.githubusercontent.com/36557759/202658984-9f52f7d8-d69e-4443-ac06-622f31dc7d7e.png">

### Cara untuk mereplikasi errornya

-

### Hasil yg diharapkan

-

### Tangkapan layar dan log error

-

### Rilis Versi OpenSID

Rilis Premium

### Versi OpenSID

v22.11-premium-rev02

### Tema Yang

[2022-11-18 09:15] ruririzal commented on #6002
ok

[2022-11-18 16:01] ariandii opened #6006 "Menambah Link Channel Youtube pada Menu Admin Web -> Media Sosial"
### Jelaskan error yg dialami

Saat ini pada Pengaturan Media Sosial Youtube muncul notifikasi error "Sesuaikan dengan format yang diminta".

Sedangkan paad youtube tersedia nicname atau penamaan channel menggunakan slug singkat.

Sebagai contoh:
Channel Yotube sebenarnya adalah: youtube.com/@natairaya
Namun ketika diketik muncul notif gagal tersebut (gambar terlampir)

Sedangkan jika hanya diberi

[2022-11-18 21:52] ranranrasgar opened #6007 "Bug/error: tidak bisa masuk layanan-mandiri"
### Jelaskan error yg dialami

Setelah update dari versi sebelumnya ke versi terbaru yaitu versi 22.11 jadi tidak bisa masuk ke login page layanan Mandiri

[[Contoh Halaman Yang ini ](https://pemdeskasomalangkulon.com/layanan-mandiri/masuk)](url)

Mohon masukanya.. Terima kasih

### Cara untuk mereplikasi errornya

https://pemdeskasomalangkulon.com/layanan-mandiri/masuk

### Hasil yg diharapkan

B

[2022-11-19 03:03] vickyrolanda commented on #6007
ini terjadi di rilis umum ya pak ? @ranranrasgar

[2022-11-19 03:10] vickyrolanda commented on #6005
ini sepertinya issuenya di layanan mas @devrakapriyo

[2022-11-19 04:29] usmanrahdi commented on #6007
coba https://pemdeskasomalangkulon.com/index.php/layanan-mandiri/masuk
coba rename file htaccess.txt menjadi .htaccess, kemudian coba gunakan forum pak atau grub di telegram untuk sekedar bertanya sebelum dilaporkan sebagai bug

[2022-11-19 05:40] apidong commented on #6007
https://github.com/OpenSID/OpenSID/wiki/Pengaturan-.htaccess

[2022-11-19 05:41] #6007 closed, assigned to nobody

[2022-11-19 09:00] apidong opened #6008 "Kesalahan penulisan Tempat Tanggal lahit"
![image](https://user-images.githubusercontent.com/20056421/202843321-ade1b110-04b6-460a-ab3f-fbdf9c12415b.png)
pada kode isian, tulisan Tempat Tanggal lahit (TTL) seharusnya Tempat Tanggal lahir (TTL)

[2022-11-19 09:07] ariandii commented on #6008
ijin koreksi, seharusnya Tempat Tanggal Lahir

[2022-11-19 13:46] volla15 commented on #5960
saya update posisi rev-02 malah tidak bisa post artikel sama sekali, muncul 403

[2022-11-19 13:59] mah-mudi opened #6009 "Bug: disable headjs cetak buku tanah kas desa."
### Jelaskan error yg dialami

Belum adanya Kolom Jenis TKD,Patok Tanda Batas,Papan Nama pada Buku Tanah Kas Desa.

### Cara untuk mereplikasi errornya

1. Buku Administrasi Desa
2. Buku Administrasi Umum - Buku Tanah Kas Desa

### Hasil yg diharapkan

Hasil Output Buku Tanah Kas Desa dapat sesuai dengan Lampiran Permendagri Nomor 47 Tahun 2016 tentang Administrasi Pemerintahan Desa.
Untuk Jenis T

[2022-11-19 13:59] #5973 closed, assigned to nobody

[2022-11-19 14:41] mah-mudi opened #6010 "Sediakan pengaturan agar bisa menyesuaikan/menambahkan ukuran huruf 9pt 11pt 16pt 20pt 22pt pada Template Pengaturan Surat"
### Jelaskan error yg dialami

Belum adanya ukuran huruf 9pt 11pt 16pt 20pt 22pt pada Template Pengaturan Surat

### Cara untuk mereplikasi errornya
1. Layanan Surat
2. Pengaturan Surat - Template

### Hasil yg diharapkan

Tersedianya ukuran huruf 9pt 11pt 16pt 20pt 22pt pada Template Pengaturan Surat, untuk pengaturan surat lebih baik.

### Tangkapan layar dan log error

![201513736-30e32793-ecfc

[2022-11-19 14:43] #5971 closed, assigned to nobody

[2022-11-19 17:51] vickyrolanda commented on #5982
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1604

[2022-11-19 17:51] #5982 closed, assigned to ruririzal

[2022-11-19 18:08] vickyrolanda commented on #5981
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1607

[2022-11-19 18:08] #5981 closed, assigned to andifahruddinakas

[2022-11-19 18:24] vickyrolanda commented on #5932
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1622

[2022-11-19 18:24] #5932 closed, assigned to andifahruddinakas

[2022-11-19 23:41] vickyrolanda commented on #5990
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1626

[2022-11-19 23:41] #5990 closed, assigned to andifahruddinakas

[2022-11-20 00:55] ariandii commented on #5912
apakah ini seharusnya bug? karena foto di artikel dll yang lama pun, semula normal menjadi muncul hitam.

termasuk jika hanya link foto di bypass dan unduh juga ada hitam.

apakah bisa normal kembali?

[2022-11-20 01:41] mah-mudi opened #6011 "Penyesuaian Ubah Pernyataan Adalah benar dan tercatat dalam database sistem informasi kami, Menjadi Pemerintah Desa ABCD Kecamatan EFGH Kabupaten IJKL"
### Jelaskan error yg dialami

Tampilan Penyataan adalah benar dan tercatat dalam database sistem informasi kami, masih menampilkan Pemerintah Kabupaten

### Cara untuk mereplikasi errornya

1. Arsip Layanan
2. Arsip
3. Klik QR Code
4. Klik Lihat

### Hasil yg diharapkan

Tampilan Penyataan adalah benar dan tercatat dalam database sistem informasi kami, yang asalnya menampilkan Pemerintah Kabupate

[2022-11-20 04:57] vickyrolanda commented on #6000
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1635

[2022-11-20 04:57] #6000 closed, assigned to apidong

[2022-11-20 05:14] vickyrolanda commented on #5966
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1632

solusinya Data pengguna yang berubah, yang bisa dikembalikan hanyalah kepala RT karena data anggota tidak ada riwayatnya pada tabel tweb_rtm dan di tweb_penduduk hanya menyimpan id_rtm yang dimana sudah berubah semua (sama).

[2022-11-20 05:14] #5966 closed, assigned to andifahruddinakas

[2022-11-20 05:34] vickyrolanda commented on #6002
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1633

[2022-11-20 05:34] #6002 closed, assigned to ruririzal

[2022-11-20 06:22] vickyrolanda commented on #5823
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1577

caranya bisa masuk ke :
1. Buku administrasi Desa
2. klik kanan gear di pojok kanan atas
3. bisa ganti nama pemerintah desa dengan sebutan masing - masing wilayah
<img width="958" alt="image" src="https://user-images.githubusercontent.com/59082428/202888827-9cbf0ec9-e7ce-4042-bbd8-d1611a5dcd22.png">

[2022-11-20 06:22] #5823 closed, assigned to andifahruddinakas

[2022-11-20 07:51] vickyrolanda commented on #5912
mas @apidong mohon bantuannya untuk memeriksa terkait upload images yang menajdi hitam bagian tertentu jika tidak sesuai ukuran croping.

[2022-11-20 07:53] vickyrolanda commented on #5935
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1632

solusinya Data pengguna yang berubah, yang bisa dikembalikan hanyalah kepala RT karena data anggota tidak ada riwayatnya pada tabel tweb_rtm dan di tweb_penduduk hanya menyimpan id_rtm yang dimana sudah berubah semua (sama).

[2022-11-20 07:53] #5935 closed, assigned to andifahruddinakas

[2022-11-20 07:56] vickyrolanda commented on #5960
mohon bantuannya sesuai arahan mas akas ya mas @devrakapriyo  saat ini saya buatkan bukan bug krna terjadi di desa tersebut saja, jika ini terjadi di beberapa desa maka issue ini perlu dibuat menjadi bug.

[2022-11-20 08:00] vickyrolanda commented on #5967
saya coba juga tidak ada masalah pak :
<img width="240" alt="image" src="https://user-images.githubusercontent.com/59082428/202891844-cb70d5a8-b90f-42f8-8e13-581c1a993454.png">

[2022-11-20 08:06] vickyrolanda commented on #5980
saya coba juga sudah sesuai :
<img width="701" alt="image" src="https://user-images.githubusercontent.com/59082428/202891973-46d3d1a3-8a65-437e-b3c6-7044d50fe878.png">
<img width="551" alt="image" src="https://user-images.githubusercontent.com/59082428/202891978-4fa68d81-ef04-44f4-be6b-6a95f25b2fb3.png">

jika masih terjadi hal yang sama mohon untuk lampirkan screenshotnya pak @ElAndea  agar dapat

[2022-11-20 08:06] #5980 closed, assigned to nobody

[2022-11-20 12:14] yogiperdana commented on #6006
Saat ini medsos belum support untuk hal tersebut pak jadi ini masuknya bukan bug.

Solusi sementara dapat mengikuti  panduan atau petunjuk dari opensid yaitu dengan memasukkan link url youtube

![image](https://user-images.githubusercontent.com/14155050/202901274-eba52b07-8d02-4155-b6bd-afcca49f1b9f.png)

[2022-11-20 12:57] mah-mudi opened #6012 "Permintaan fitur: Integrasikan No Telp/HP/WA/Telegram Data Kependudukan pada Daftar Kontak - Hubung Warga."
### Apa kekurangan yg ingin diatasi?

Belum terintegrasinya No Telp/HP/WA/Telergam Data Kependudukan pada Daftar Kontak - Hubung Warga. Fitur saat ini, PPID bekerja dua kali karena input lg no  Telp/HP/WA/Telegram warga pada  Daftar Kontak - Hubung Warga.
![image](https://user-images.githubusercontent.com/57661283/202903066-b56e1a07-e9da-4533-bfca-f1f194abed3a.png)

### Jelaskan solusi yg diingink

[2022-11-20 15:21] ariandii commented on #6006
medsos youtube sudah mendukung itu, bisa buka youtube.com/@natairaya  dan youtube lainnya yang sudah menggunakan nickname.

[2022-11-20 15:21] ariandii commented on #6006
karena youtube menyediakan nick name dan diinput ke opensid gagal, maka saya buatlah bug

[2022-11-20 15:23] ariandii commented on #5912
yang terjadi adalah foto foto lama menjadi ada hitam di opensid yg baru 2 bulan ini.

bukan mengenai cara cropping nya.

apakah yang artikel lama normal, namun setelah update opensid sejak bulan lalu menjadi ada hitam bukan  bug?

[2022-11-21 01:16] agungsugiarto commented on #5998
Pak @Zoel-WB, apakah sudah memastikan data tersebut memang sebelumnya belum terisi di database?
mas @devrakapriyo bisa minta tolong untuk mereplikasi isunya

[2022-11-21 01:40] agungsugiarto commented on #5984
pak @Zoel-WB bisa kirim backup databasenya ke telegram saya

[2022-11-21 02:39] devrakapriyo opened #6013 "Bug/error: install opensid siap pakai di v22.11-premium-rev02"
### Jelaskan error yg dialami

![image](https://user-images.githubusercontent.com/36557759/202951397-6ed75ba8-7ae1-4d3d-b629-b68ad7855e7d.png)

saat install OpenSID siap pakai untuk versi v22.11-premium-rev02 mengalami error dan table yang ter migrasi hanya 217 table

![image](https://user-images.githubusercontent.com/36557759/202951560-6be9a15e-dfcc-4285-91a9-b8685c3febfc.png)

### Cara untuk mer

[2022-11-21 02:40] Zoel-WB commented on #5998
Sudah pernah lengkap semuanya Pak @agungsugiarto kecuali yg kolom-kolom tambahan belakangan yg masih belum dilengkapi seperti pada kolom suku, asuransi, fitur2 yg berhubungan kontak telegram, kolom tersebut yg belum.

[2022-11-21 03:37] agungsugiarto commented on #5998
Apakah data baru berpengaruh tidak terisi juga? sepertinya data yg lama memang tidak ada isinya pak @Zoel-WB

[2022-11-21 03:41] Zoel-WB commented on #5998
Berarti memang telah berubah pak ya, itu pernah saya perhatikan selma ini, karena dulu untuk kolom2 kelahiran, sakit menahun, jenis asuransi sudah pernah dilingkapi dari awal di input pak...

[2022-11-21 04:11] Fajar-blackdeath opened #6015 "Permintaan fitur: UPLOAD TEMA LEWAT SISTEM"
### Apa kekurangan yg ingin diatasi?

SUPAYA LEBIH MUDAH

### Jelaskan solusi yg diinginkan

SUPAYA LEBIH MUDAH

### Apakah ada alternatif lain

SUPAYA LEBIH MUDAH

### Untuk versi OpenSID mana

22.12

### Informasi tambahan

SUPAYA LEBIH MUDAH

[2022-11-21 06:49] khiar-rara opened #6016 "Permintaan fitur: Tambahkan tombol perintah "view peta" pada kategori lokasi/garis/area yang dipilih, tambahkan juga pada modul bantuan dan modul data suplemen"
### Apa kekurangan yg ingin diatasi?

Saat ini peta menampilkan data titik/garis/area secara keseluruhan, harapannya dapat menampilkan lagi lebih spesifik berdasarkan kebutuhan data.
![peta](https://user-images.githubusercontent.com/74307159/236362421-d9ac4d08-182e-4102-a2fb-3fb6c43b4498.png)

### Jelaskan solusi yg diinginkan

Adanya Tombol Perintah untuk menampilkan kategori data yang dipilih pa

[2022-11-21 07:02] khiar-rara opened #6017 "Bug/error: ID Pengunjung tidak muncul saat pertama kali halaman di akses"
### Jelaskan error yg dialami

ID Pengunjung di halaman Layanan Mandiri tidak muncul saat pertama kali halaman di akses.

### Cara untuk mereplikasi errornya

Reload halaman

### Hasil yg diharapkan

ID pengunjung langsung muncul saat halaman diakses

### Tangkapan layar dan log error

![loginrequest](https://user-images.githubusercontent.com/74307159/202985655-f9470ba3-9686-4e58-9fa7-6b6f83cbcf42

[2022-11-21 15:15] rsoeta opened #6018 "Bug/error: fitur Kembalikan Status tidak berfungsi"
### Jelaskan error yg dialami

Fitur dengan tombol Kembalikan Status tidak berfungsi di Menu Log Penduduk, di coba di situs berputar.opendesa.id pun sama terjadi error

### Cara untuk mereplikasi errornya

1. Pergi ke halaman/menu "Penduduk"
2. Pilih "Pilih Aksi Lainnya"
3. Pilih "Log Penduduk"
4. Cari data Penduduk yang hendak di kembalikan status nya
5. Klik tombol "Kembalikan Status"
6. Terjadi

[2022-11-21 15:38] syahransaputra opened #6019 "Bug/error: Tambah Rumah Tangga"
### Jelaskan error yg dialami

Saat memilih Kepala Rumah Tangga maka di table anggota keluarga tercentang semua, jika jumlah penduduk jumlahnya ribuan maka lumayan lelah untuk uncheklist satu persatu yg buka anggota keluarganya

### Cara untuk mereplikasi errornya

1. Pergi ke menu kependudukan
2. pilih menu rumah tangga
3. klik tambah rumah tangga
4. pilih kepala rumah tangga
5. lihat anggota ter

[2022-11-21 15:51] syahransaputra opened #6020 "Bug/error: Tambah Anggota Rumah Tangga"
### Jelaskan error yg dialami

Ketika menambahkan anggota rumah tangga, keterangan Data berhasil disimpan namun Anggota Rumah Tangga tidak tertambah

### Cara untuk mereplikasi errornya

1. Pergi ke menu kependudukan
2. pilih menu rumah tangga
3. klik rincian anggota rumah tangga
4. Klik Tambah anggota
5. setelah menambahkan dan status Data berhasil disimpan
6. namunlihat tidak ada anggota yg dita

[2022-11-21 17:14] Zoel-WB commented on #6018
Logs Error :
Severity: error --> Exception: SQLSTATE[42S22]: Column not found: 1054 Unknown column '835' in 'field list' (SQL: select `835` from `log_penduduk` limit 1) /home/teupinbe/public_html/vendor/illuminate/database/Connection.php 712

![image](https://user-images.githubusercontent.com/64481641/203118482-4d4d5812-a35c-4bdf-91ea-29c4184cc3d2.png)

[2022-11-21 17:16] Zoel-WB commented on #6020
![image](https://user-images.githubusercontent.com/64481641/203119078-8870d21d-0594-4244-8437-214f396c45e4.png)

[2022-11-21 17:18] Zoel-WB commented on #6019
![image](https://user-images.githubusercontent.com/64481641/203119292-37073c3a-c708-4390-b817-4b23cbcb2bc9.png)

[2022-11-21 18:14] Zoel-WB commented on #6020
Menambah satu penduduk lahir ke dalam anggota rumah tangga juga tidak dapat dilakukan, solusi saat ini harus dikeluarkan dulu Kepela Keluarga (ayah kandung) dari anggota RTM untuk menyemput dan di tambah sama-sama menjadi Anggota Keluarga...

Cara ini saya kira canggih juga, cuma masalahnya Kepala Keluarga (termasuk Kepala Keluarga Tunggal tanpa anggota) harus dapat di tambahkan menjadi anggota RT

[2022-11-22 00:23] eddieridwan commented on #6020
Penduduk lahir seharusnya ditambahkan ke Keluarga,  bukan Rumah Tangga. Rumah Tangga tidak dapat digunakan untuk menambah penduduk. Penambahan penduduk harus selalu dilakukan di daftar Penduduk atau Keluarga. Rumah Tangga hanya terkait penduduk yg sudah ada.

[2022-11-22 02:36] vickyrolanda commented on #6013
mas @devrakapriyo ini pindahkan ke issue siap pakai mas.

[2022-11-22 02:36] #6013 closed, assigned to nobody

[2022-11-22 02:41] andifahruddinakas commented on #6020
Duplicate issue https://github.com/OpenSID/OpenSID/issues/6019

[2022-11-22 02:41] #6020 closed, assigned to andifahruddinakas

[2022-11-22 02:49] vickyrolanda commented on #6008
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1638

[2022-11-22 02:49] #6008 closed, assigned to agungsugiarto

[2022-11-22 02:54] andifahruddinakas opened #6021 "Upgrade 22.11 Umum ke 22.11-Premium"
saya alami kegagalan ketika melakukan upgrade dari 22.11 Umum ke 22.11-Premium
—-
1. Table ref_jabatan tidak terbentuk
2. jabatan_id di tweb_desa_pamong juga tidak ter Alter
—-
akhirnya manual
kalau mau dicoba, saya masih ada databasenya

[2022-11-22 02:55] vickyrolanda commented on #5983
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1637

[2022-11-22 02:55] #5983 closed, assigned to agungsugiarto

[2022-11-22 02:56] andifahruddinakas opened #6022 "Penamaan OpenDesa dan OpenSID tidak konsisten"
Buat konsisten penamaan dari OpenDesa dan OpenSID pada view.

Cek bagian2 mana saja yang perlu diperbaiki.

Solusi :
1. buat config nama_lembaga.
2. buat config nama_aplikasi.
3. panggil config tsb pada bagian yang diperlukan untuk ditampilkan.

[2022-11-22 02:58] agungsugiarto commented on #6017
pak @khiar-rara apakah sudah mencoba untuk `refresh` ulang halamannya?

[2022-11-22 04:15] khiar-rara commented on #6017
ya sudah, jika direfresh akan muncul.

untuk login, bukankah dibutuhkan ID Pengunjung ?

[2022-11-22 04:19] FirlianiF commented on #6005
Setelah dicek, itu dikarenakan validasi dari gmail, dimana jika email ada di folder spam, maka href="" akan dihilangkan oleh gmail.
Solusi nya silahkan hapus label spam pada email yang diterima, maka tombol dan verifikasi akan berjalan dengan baik.

![verif layanan](https://user-images.githubusercontent.com/30171560/203220327-74b12886-7a56-47b9-9ec9-0ad2ec4f9831.PNG)

[2022-11-22 04:19] #6005 closed, assigned to FirlianiF

[2022-11-22 04:21] FirlianiF commented on #6003
Setelah dicek, itu dikarenakan validasi dari gmail, dimana jika email ada di folder spam, maka href="" akan dihilangkan oleh gmail.
Solusi nya silahkan hapus label spam pada email yang diterima, maka tombol dan verifikasi akan berjalan dengan baik.

![email](https://user-images.githubusercontent.com/30171560/203220611-5f7b1da2-b0e9-405c-99ff-e15c33949b1a.PNG)

[2022-11-22 04:21] #6003 closed, assigned to FirlianiF

[2022-11-22 05:14] devrakapriyo commented on #6013
tidak ada respository siap pakai mas @vickyrolanda

[2022-11-22 06:31] andifahruddinakas opened #6023 "Browse dokumen Impor Data Kependudukan muncul 2 kali"
Lakukan Impor Data Kependudukan, maka akan tampil 2 kali browse/pilih dokumen.

[2022-11-22 06:37] vickyrolanda opened #6024 "install baru dengan database kosong error"
Log error seperti berikut ini sehingga tabel menjadi tidak termigrasi secara lengkap.

ERROR - 2022-11-22 06:33:22 --> Jalankan tabel_keluarga
ERROR - 2022-11-22 06:33:22 --> Jalankan tabel_pengguna
ERROR - 2022-11-22 06:33:24 --> Jalankan tabel_ada_foreign_key
ERROR - 2022-11-22 06:33:24 --> Jalankan buat_view
ERROR - 2022-11-22 06:33:26 --> Token pelanggan kosong / tidak valid.
ERROR - 2022-11-2

[2022-11-22 08:01] devrakapriyo opened #6025 "Bug/error: sembunyikan halaman berlangganan pada mode demo"
### Jelaskan error yg dialami

<img width="1440" alt="Screen Shot 2022-11-22 at 12 12 40" src="https://user-images.githubusercontent.com/36557759/203257566-3a7ca755-5f3c-45a1-9ae4-fa4535258068.png">

https://berputar.opendesa.id merupakan website demo dan menampilkan data langganan dan token desa, harap sebunyikan halaman kerja sama nya

### Cara untuk mereplikasi errornya

-

### Hasil yg diharap

[2022-11-22 09:35] eddieridwan commented on #6025
@devrakapriyo mengapa perlu disembunyikan? Seharusnya di berputar mengacu pada devlayanan, yg bisa diisi dengan data contoh, yaitu bukan data betulan. Adanya halaman itu bermanfaat untuk pengguna mencoba fitur kerjasama.

[2022-11-23 01:21] vickyrolanda commented on #5524
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1531

[2022-11-23 01:21] #5524 closed, assigned to andifahruddinakas

[2022-11-23 01:34] vickyrolanda commented on #5761
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1536

[2022-11-23 01:34] #5761 closed, assigned to andifahruddinakas

[2022-11-23 02:00] vickyrolanda commented on #5760
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1584

[2022-11-23 02:00] #5760 closed, assigned to andifahruddinakas

[2022-11-23 02:13] vickyrolanda opened #6026 "Keamaan Form XSS Reflected"
1. Judul Kerentanan
    XSS Reflected muncul pada fitur pencarian atau search engine pada web Desa Leran

2. Deskripsi
   Cross-site Scripting, juga dikenal sebagai XSS, adalah cara melewati konsep SOP dalam aplikasi web yang rentan. Setiap kali kode HTML dihasilkan secara dinamis, dan input pengguna tidak disanitasi dan tercermin pada halaman penyerang bisa memasukkan kode HTML-nya sendiri. Peram

[2022-11-23 02:40] vickyrolanda commented on #5939
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1580

[2022-11-23 02:40] #5939 closed, assigned to ruririzal

[2022-11-23 02:44] #6024 closed, assigned to nobody

[2022-11-23 03:22] siayi opened #6027 "Bug/error: Terdapat tampilan berupa tulisan "Lihat b" yang tidak diinginkan di Halaman Informasi Publik"
### Jelaskan error yg dialami

Terdapat tampilan berupa tulisan [Lihat b](https://berputar.opendesa.id/first/tampilkan/1) yang tidak diinginkan di bawah judul halaman Informasi Publik, sebagaimana di tampilkan pada tangkapan layar.

### Cara untuk mereplikasi errornya

Menghilangkan tulisan yang tidak diinginkan tersebut agar tidak muncul di halaman Informasi Publik.

### Hasil yg diharapkan

Tuli

[2022-11-23 05:10] andifahruddinakas commented on #6026
Mas @vickyrolanda, contoh yang diberikan dalam vidio menggunakan tema silir dan saya cek memang terjadi. Tapi setelah saya gunakan tema lain dan melakukan hal yang sama tidak terjadi apa2 (aman saja). Bisa di infokan ke mas @dikisiswanto sebagai pengembang tema.

[2022-11-23 05:44] andifahruddinakas commented on #6025
PERBANDINGAN  :
1. Token Pelanggan Disimpan di file config dan tidak dapat diubah dan tidak ditampilkan halaman pelanggan. Yang saat ini karena sudah banyak perubahan, token ditampilkan dan dapat diubah.
2. Point 1 versi lama berlaku jika data devlayanan tidak diubah2 (memang disediakan untuk data pelanggan contoh). Saat ini devlayanan selalu diperbarui berdasarkan data layanan asli (tanpa file un

[2022-11-23 07:17] andifahruddinakas commented on #6022
![ejaan](https://user-images.githubusercontent.com/57283157/203490631-e4448c0a-75a3-49b9-a77e-513531746034.jpg)

[2022-11-23 08:20] agungsugiarto commented on #5998
silahkan coba diberputar pak, apakah menumukan masalah yg sama

[2022-11-23 08:36] eddieridwan commented on #6022
@andifahruddinakas kalau melihat keseluruhan pembahasan di Telegram akan diketahui bahwa ejaan yg benar adalah sbb:

1. OpenDesa **(bukan OpenDESA)**
2. OpenSID

Karena SID adalah kependendekan Sistem Informasi Desa, sedangkan Desa adalah kata utuh, bukan akronim atau singkatan.

[2022-11-23 09:41] Zoel-WB commented on #5998
Baik pak...

[2022-11-23 12:17] FirlianiF opened #6028 "BUG OPENSID: Perbaiki tidak bisa cetak bukti bayar untuk pemesanan baru"
![photo_2022-11-18_13-14-38](https://user-images.githubusercontent.com/30171560/203545402-9e0b4ec0-95eb-41e8-9492-6d15d43b6e70.jpg)

[2022-11-23 14:57] apidong commented on #5912
@vickyrolanda iya pak, banyak form upload yang seperti itu.

[2022-11-23 15:00] totoprayogo1916 commented on #6015
bisa di close, bisa up #2486

[2022-11-23 15:04] Zoel-WB commented on #5998
Atau Pending dulu untuk issue ini Pak @agungsugiarto.

Bila diperiksan untuk data input baru aman pak, atau data lama di ubah dan disimpan kembali, ditampilkan aman saja, cuma temuan ini di data-data lama yg memang jarang-jarang dibuka biodata-nya, saat ini data itu seperti kolom pada discreensote kalau ditampilkan sudah kosong, kapan masalahnya juga tidak mengetahui periode mana mulai data-data i

[2022-11-23 15:11] #6015 closed, assigned to nobody

[2022-11-23 16:00] andifahruddinakas commented on #6021
Masalah hanya akan terjadi jika, saat mau migrasi dari umum ke premium tidak memasukkan tokennya terlebih dahulu. Yg menyebabkan migrasi tidak jalan.

Alur yang pernah sy sampaikan (entah di issue mana), untuk pengguna umum beralih ke premium mengikuti proses berikut :
1. lakukan banckup terlebih dahulu (database dan folder desa)
2. masukkan token premium
3. update script ke premium terbaru.
4. ak

[2022-11-23 16:00] #6021 closed, assigned to andifahruddinakas

[2022-11-23 16:01] andifahruddinakas commented on #6021
Mas @devrakapriyo, perlu dimasukkan ke panduan..

[2022-11-23 20:09] vickyrolanda commented on #6019
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1640

[2022-11-23 20:09] #6019 closed, assigned to andifahruddinakas

[2022-11-23 20:22] vickyrolanda commented on #6023
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1643

[2022-11-23 20:22] #6023 closed, assigned to andifahruddinakas

[2022-11-23 21:37] vickyrolanda commented on #6022
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1649

[2022-11-23 21:37] #6022 closed, assigned to andifahruddinakas

[2022-11-23 21:59] dikisiswanto commented on #6026
Penyerang dapat memanfaatkan parameter keyword pada laman lapak yang diinjeksikan langsung melalui url, contoh di tema denatra:

![image](https://user-images.githubusercontent.com/22239074/203652298-d07525e5-54bd-4e4c-ae33-d49c05cd2ad7.png)

contoh di tema esensi

![image](https://user-images.githubusercontent.com/22239074/203652774-3c5ff6d9-4749-4596-b3cf-cb4299488d82.png)

Seharusnya dilakukan s

[2022-11-24 01:14] andifahruddinakas commented on #6026
ok, untuk sealnjutnya sebaiknya ujicoba dilakukan di tema bawaan. Nanti perbaikan dari tema bawaan yang akan diikuti oleh tema lain.

[2022-11-24 01:15] andifahruddinakas commented on #6026
Mas @vickyrolanda, yang terkonformasi saat ini masuknya dari url.

[2022-11-24 02:31] andifahruddinakas opened #6030 "Restore Database"
masih menampilkan pilihan lain, harusnya ditampilkan hanya file .sql saja pada posisi default saat buka.

![restore db](https://user-images.githubusercontent.com/57283157/203680956-7e2b3235-7352-4aec-8f00-ce1add9c250f.jpg)

[2022-11-24 02:34] andifahruddinakas opened #6031 "web demo fitur anjungan"
Cek pembahasan pak @ai-skematik di grup telegram.

[2022-11-24 02:53] vickyrolanda commented on #5988
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1634

[2022-11-24 02:53] #5988 closed, assigned to apidong

[2022-11-24 03:00] vickyrolanda commented on #6018
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1641

[2022-11-24 03:00] #6018 closed, assigned to agungsugiarto

[2022-11-24 03:12] vickyrolanda commented on #5940
@devrakapriyo  melakukan audit terkait upload file pada semua menu, dan dibuat digoogle sheet  untuk melihat sumber ada celah upload file ke server.
sekalian buat daftar dimana area -arenya agar bisa di cek berulang.

mas @devrakapriyo mohon di buatkan untuk di report dihari selasa.

Misal images yang disisipin php dll.

[2022-11-24 03:50] andifahruddinakas opened #6032 "Tambahkan pengecualian domain untuk demo"
Saat ini hanya terdaftar:
- 'beta.opendesa.id',
- 'beta2.opensid.or.id',
- 'berputar.opendesa.id',

[2022-11-24 06:48] andifahruddinakas commented on #6031
digabungkan ke issue https://github.com/OpenSID/OpenSID/issues/6025

[2022-11-24 06:48] #6031 closed, assigned to andifahruddinakas

[2022-11-24 07:35] #5791 closed, assigned to nobody

[2022-11-24 13:00] apidong commented on #5912
lokasi upload foto :

- [x] artikel
- [x] pengaturan peta
- [x] penduduk

[2022-11-24 14:43] vickyrolanda commented on #6017
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1647

[2022-11-24 14:43] #6017 closed, assigned to andifahruddinakas

[2022-11-24 14:46] vickyrolanda commented on #6027
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1648

[2022-11-24 14:46] #6027 closed, assigned to andifahruddinakas

[2022-11-25 03:30] devrakapriyo opened #6033 "Bug/error: arsip layanan surat tidak muncul"
### Jelaskan error yg dialami

beberapa desa mengalami arsip layanan surat tidak muncul setelah update ke versi 22.11-premium-rev03 sedangkan di versi sebelumnya data tersebut ada

<img width="1440" alt="Screen Shot 2022-11-25 at 10 26 55" src="https://user-images.githubusercontent.com/36557759/203894786-42d1724c-9123-4696-866a-3813707f5246.png">

<img width="1440" alt="Screen Shot 2022-11-25 at 1

[2022-11-25 03:35] devrakapriyo commented on #6033
terlampir database desa dari salah satu desa yang mengalami arsip layanan surat tidak muncul

https://drive.google.com/drive/folders/1nf51Gi4lXHbaTL7t8IHPY5a6DmCw3PaL?usp=sharing

[2022-11-25 05:02] vickyrolanda commented on #6028
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1652

[2022-11-25 05:02] #6028 closed, assigned to FirlianiF

[2022-11-25 07:42] khiar-rara opened #6034 "Permintaan fitur: Menambahkan Kode Isian Pilihan Dengan data Manual"
### Apa kekurangan yg ingin diatasi?

Dapat menambahkan element select option pada form isian di tinymce
![selectrequest](https://user-images.githubusercontent.com/74307159/203926778-9c52498c-5023-4ef9-a16c-d8afed327d64.png)

### Jelaskan solusi yg diinginkan

Tambahkan element select

### Apakah ada alternatif lain

Tambahkan altenatif insert kode html secara manual

### Untuk versi OpenSID mana

[2022-11-25 07:54] andifahruddinakas commented on #6025
Menunggu PR https://github.com/OpenSID/Layanan_OpenDESA/pull/171 digabungkan.

[2022-11-25 09:14] vickyrolanda commented on #6004
Sudah diselesaikan di PR Perbaikan https://github.com/OpenSID/premium/pull/1650

[2022-11-25 09:14] #6004 closed, assigned to agungsugiarto

[2022-11-25 09:52] vickyrolanda commented on #6001
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1651

[2022-11-25 09:52] #6001 closed, assigned to agungsugiarto

[2022-11-25 10:48] apidong commented on #6033
@vickyrolanda
ini dikarenakan user admin mejabat sebagai sekdes. sehingga arsip layanan tidak muncul.
pak @vickyrolanda mohon dianalisis, bagaimana rule dari sekdes saat melihat arsip  jika verifikasi sekdes tidak aktif maupun aktif.

[2022-11-25 15:33] Zoel-WB opened #6035 "Permintaan fitur: Permintaan Fitur Ubah Data Penduduk Dari Daftar Anggota Rumah Tangga"
### Apa kekurangan yg ingin diatasi?

Permintaan Perlu Menyediakan Fitur untuk dapat mengubah data penduduk langsung dapat dipanggil form ubah data dari Daftar Anggota Rumah Tangga....

### Jelaskan solusi yg diinginkan

Sama dengan Fitur Ubah Data dari  Daftar Anggota Keluarga (KK)

![image](https://user-images.githubusercontent.com/64481641/204016776-d2f32be7-76eb-41af-a895-e696d022bda3.png)

![

[2022-11-25 15:38] Zoel-WB opened #6036 "Bug/error: Cek Inpor data Program Bantuan"
### Jelaskan error yg dialami

Saat melakukan inpor data perogram bantuan terjadi error 500

### Cara untuk mereplikasi errornya

.

### Hasil yg diharapkan

Program Bantuan Dapat di  Inpor seperti biasa

### Tangkapan layar dan log error

![photo_2022-11-25_10-36-43](https://user-images.githubusercontent.com/64481641/204017629-7e138abd-bac1-4532-8e58-a57664ae451e.jpg)
![photo_2022-11-25_10-31-17]

[2022-11-25 15:46] Zoel-WB commented on #6036
Mungkin yg terjadi pasa issue ini yg sudah pernah diperbaiki lebih kurang sama : https://github.com/OpenSID/OpenSID/issues/4538

[2022-11-26 08:54] yogiperdana commented on #6036
Bisa japri ke telegram saya file impornya pak @Zoel-WB

[2022-11-26 11:08] Zoel-WB commented on #6036
Sudah saya japri file-nya pak @yogiperdana

[2022-11-26 18:00] vickyrolanda commented on #6030
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1655

[2022-11-26 18:00] #6030 closed, assigned to andifahruddinakas

[2022-11-26 18:05] vickyrolanda commented on #6032
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1656

[2022-11-26 18:05] #6032 closed, assigned to andifahruddinakas

[2022-11-27 05:57] yogiperdana commented on #6036
Baik terima kasih pak

[2022-11-27 06:17] vickyrolanda commented on #6026
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1654

[2022-11-27 06:17] #6026 closed, assigned to andifahruddinakas

[2022-11-27 08:02] balongbesuk commented on #6026
halaman pengaduan juga sama

[2022-11-27 08:32] vickyrolanda opened #6037 "Jangan tampilkan aparatur desa yang sudah nonaktif di menu pengguna."
Saat ini aparatur desa yang sudah non-aktif masih tampil sehingga tidak bisa menambahkan sekertaris yang masih aktif di pengguna.
<img width="524" alt="image" src="https://user-images.githubusercontent.com/59082428/204126020-7470ba73-178e-4a80-9fa7-94a2bc4498b0.png">
- Lalu kondisi tidak dapat menambahkan dengan jabatan yang sama ditambahkan dapat menambahkan dengan syaratnya aparatur dengan jabat

[2022-11-27 08:35] #6037 closed, assigned to andifahruddinakas

[2022-11-27 09:46] vickyrolanda opened #6038 "Bug pada tanggapin pengaduan."
1. Masuk ke menu pengaduan
2. Tanggapin salah satu pengaduan
3. maka hasilnya akan redirect ke pemeriksaan dan lognya seperti berikut ini :
ERROR - 2022-11-27 16:41:45 --> Query error: Field 'ip_address' doesn't have a default value - Invalid query: INSERT INTO `pengaduan` (`id_pengaduan`, `nama`, `isi`, `status`) VALUES ('1', 'Vicky', 'asfdasdf', '2')
kalo di check dari table pengaduan  bagian fi

[2022-11-27 09:57] vickyrolanda opened #6039 "Halaman informasi public tidak sesuai dengan jenis yang di pilih di halaman admin"
1. Halaman Admin :
<img width="555" alt="image" src="https://user-images.githubusercontent.com/59082428/204129236-69893025-6b4e-4890-aed5-41cb1625c10d.png">
2. Halaman Publicnya seperti ini :
<img width="501" alt="image" src="https://user-images.githubusercontent.com/59082428/204129249-701f288a-8690-4d62-bce9-c2f7c889554c.png">

[2022-11-27 13:28] newh44 opened #6040 "Bug/error: NAMA PERANGKAT DILAYANAN MANDIRI TIDAK KELUAR"
### Jelaskan error yg dialami

nama perangkat yang pakai gelar belakang tidak mucul

### Cara untuk mereplikasi errornya

masuk ke layanan mandiri - perangkat

### Hasil yg diharapkan

tertulis lengkap nama beserta gelarnya

### Tangkapan layar dan log error

![image](https://user-images.githubusercontent.com/119162490/204137793-b4d33a42-6a51-41c9-9c19-0cbcc48359d7.png)

### Rilis Versi OpenSID

R

[2022-11-27 15:36] yogiperdana opened #6041 "Bug/error: Tulisan tertimpa ketika nama program bantuan terlalu panjang"
### Jelaskan error yg dialami

Tulisan tertimpa ketika nama program bantuan terlalu panjang

### Cara untuk mereplikasi errornya

tambah program bantuan dengan nama yang panjang lalu masuk bagian detail

### Hasil yg diharapkan

Tampilan rapi

### Tangkapan layar dan log error

![image](https://user-images.githubusercontent.com/14155050/204143779-df74f45f-4935-4298-a1b0-aedfbcbe617f.png)

### Rili

[2022-11-28 01:44] andifahruddinakas commented on #6038
![image](https://user-images.githubusercontent.com/57283157/204174336-26c883da-f2c1-4180-9716-224456c46857.png)

IP_address mmang tdk boleh null karena bagian dari pengecekan agar tdk melakukan spam. Sy coba di https://berputar.opendesa.id/pengaduan dan lokal tidak menemukan masalah ini. Mungkin di cek dlu di tempatnya, kenapa IP_addressnya tidak terdeteksi.

Mungkin sulusi sementara dari sy, tamp

[2022-11-28 05:08] vickyrolanda commented on #5912
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1659

[2022-11-28 05:08] #5912 closed, assigned to apidong

[2022-11-28 08:11] mah-mudi opened #6042 "Bug/error: Sesuaikan nama Buku Aparat Pemerintah Desa dan Tombol Tambah Peraturan"
### Jelaskan error yg dialami

Belum sesuainya nama Buku Aparat Pemerintah Desa dan Tombol Tambah Peraturan, seperti lampiran permendagri 47 tahun 2016.
![image](https://user-images.githubusercontent.com/57661283/204226742-708a66e8-9116-422a-ba5f-15c0220d2b14.png)

### Cara untuk mereplikasi errornya

1. Buku Administrasi Desa
2. Administrasi Umum

### Hasil yg diharapkan

Sesuaikan nama Buku Apar

[2022-11-28 08:24] muhtar-coder opened #6043 "Modul Lapak : sediakan thumbnail lapak desa dari gambar utama per judul lapak"
### Apa kekurangan yg ingin diatasi?

Share link lapak desa tidak ada gambar header nya, mampak kurang informatif

Contoh sharelink ditelegram tanpa gambar.

![Screenshot_20221128-152051_Telegram](https://user-images.githubusercontent.com/55665526/204228592-1eb8793e-809f-4804-8e59-c91313d0e2af.png)

### Jelaskan solusi yg diinginkan

Jenis lapak yang di bagikan di platform media sosial seperti fac

[2022-11-28 08:50] devrakapriyo opened #6044 "Bug/error: proses restore 22.11-premium-beta03"
### Jelaskan error yg dialami

saat melakukan restore database, terjadi error 500

### Cara untuk mereplikasi errornya

-

### Hasil yg diharapkan

-

### Tangkapan layar dan log error

-

### Rilis Versi OpenSID

Rilis Premium

### Versi OpenSID

v22.11-premium-beta03

### Tema Yang Digunakan

_No response_

### Informasi tambahan

_No response_

[2022-11-28 08:51] devrakapriyo commented on #6044
terlampir database desa yang mengalami error saat restore : https://drive.google.com/drive/folders/1heEDgV0JJl1mcX3xfoocVfPdwQavA3MP?usp=sharing

[2022-11-28 10:29] vickyrolanda commented on #6025
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1661

[2022-11-28 10:29] #6025 closed, assigned to andifahruddinakas

[2022-11-28 11:00] vickyrolanda commented on #6036
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1665

[2022-11-28 11:00] #6036 closed, assigned to yogiperdana

[2022-11-28 11:30] Zoel-WB commented on #6044
Ikut tampahan Informasi, File BackUP yg dibackup dengan premium v22.11-rev03 dan V22.11-beta03, file Backup dengan versi ini yg tidak dapat di restore, dari 240 table yg terestore sebelum terjadi error hanya 12 atau 13 table saja.

![image](https://user-images.githubusercontent.com/64481641/204266753-25e16e42-88f3-408e-a084-3c0ed8737b39.png)

Sedangkan hasil back dari versi sebelumnya baik V22.11

[2022-11-28 13:27] vickyrolanda commented on #6033
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1662

[2022-11-28 13:27] #6033 closed, assigned to apidong

[2022-11-28 13:39] vickyrolanda commented on #6041
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1666

[2022-11-28 13:39] #6041 closed, assigned to yogiperdana

[2022-11-28 16:28] vickyrolanda commented on #5874
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1667

mas @devrakapriyo mohon ditambahkan di catatan penduan ya mas bahwa penduduk yang status dasarnya sudah berubah pada bulan ini maka tidak dapat diubah menjadi datang kembali. tpi untuk status dasar yg sudah lebih dari 1 bulan maka baru bisa di ubah menjadi penduduk yang datang kembali.

[2022-11-28 16:28] #5874 closed, assigned to andifahruddinakas

[2022-11-28 18:16] vickyrolanda commented on #6040
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1669

[2022-11-28 18:16] #6040 closed, assigned to agungsugiarto

[2022-11-28 18:29] vickyrolanda commented on #6038
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1664

[2022-11-28 18:29] #6038 closed, assigned to andifahruddinakas

[2022-11-28 18:35] apidong commented on #6044
@devrakapriyo @vickyrolanda
ini sepertinya butuh akses ke server yang bersangkutan. yang bermasalah adalah hasil backup file databasenya, saya cek ada kata yang hilang, tapi saya replikasi backup database memakai db desa lain, tidak ada masalah.

[2022-11-28 18:36] apidong commented on #6044
![image](https://user-images.githubusercontent.com/20056421/204354436-d98d07ca-497d-4036-a115-b6143f71997b.png)
bagian yang hilang

[2022-11-29 01:23] andifahruddinakas commented on #6042
Bisa disesuaikan sendiri di pengaturan, cek issue https://github.com/OpenSID/OpenSID/issues/5823

[2022-11-29 01:23] #6042 closed, assigned to andifahruddinakas

[2022-11-29 01:31] andifahruddinakas opened #6045 "Tulisan www pada website demo"
Penulisan wwww perlu diganti jadi www pada notifikasi website demo.

[2022-11-29 01:43] agungsugiarto commented on #6039
mas @vickyrolanda, bisa dijelaskan detail maksudnya?

[2022-11-29 02:01] yogiperdana opened #6046 "Bug/error: Tidak dapat melalukan pencarian melalui kolom pencarian di menu KIA"
### Jelaskan error yg dialami

Tidak dapat melalukan pencarian melalui kolom pencarian di menu KIA

### Cara untuk mereplikasi errornya

Cari nama ibu atau anak di menu KIA

### Hasil yg diharapkan

Normal

### Tangkapan layar dan log error

![image](https://user-images.githubusercontent.com/14155050/204420049-c8795ad2-1413-483f-a5d3-0799971ee3e7.png)

### Rilis Versi OpenSID

Rilis Premium

### V

[2022-11-29 02:07] vickyrolanda commented on #6039
itu mas di point 1 jenis peraturannya kan "Peraturan Kepala desa Perkades ) namun yang keluar di halaman admin "Perdes"
gitu mas @agungsugiarto  harusnya sama.

[2022-11-29 02:18] andifahruddinakas commented on #6044
Dilihat dari sizenya hanya 5,7 mb, proses backupnya ada yang terhenti / belum lengkap. Jadi kalau direstore pasti akan bermasalah.

Backup dari install awal +- 7 mb.

[2022-11-29 02:30] vickyrolanda commented on #6045
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1670

[2022-11-29 02:30] #6045 closed, assigned to andifahruddinakas

[2022-11-29 02:32] vickyrolanda commented on #6044
mas @devrakapriyo saya test restore db sejauh ini berhasil, mungkin bisa arahkan pengguna test backup ulang lalu restore kembali mas. untuk saat ini sy close terlebih dahulu jika masih terjadi mohon di open lagi.

[2022-11-29 03:07] vickyrolanda commented on #5998
baik pak saya close terlebih dahulu ya pak @Zoel-WB ntar jika terjadi lagi mohon di open saja pak.

[2022-11-29 03:07] #5998 closed, assigned to agungsugiarto

[2022-11-29 03:12] vickyrolanda commented on #5984
mas @agungsugiarto, No Kia harus melekat kepada anak, sehingga tidak dapat menambahkan  no kia yang sama dengan nama anak yang sama dari 1 ibu.

[2022-11-29 03:27] andifahruddinakas opened #6047 "Icon gear dan link pengaturan tidak dapat menampilkan pop token layanan"
![image](https://user-images.githubusercontent.com/57283157/204431255-eb168d5e-7fda-482f-b96d-895c14ff9c8c.png)

Kondisi :
1. Jika data token yang dimasukkan sebelumnya tidak sesuai dengan identitas desa yang dimasukkan.

[2022-11-29 03:44] vickyrolanda commented on #6044
mas @devrakapriyo  sesuai hasil diskusi, mohon untuk menghubungi pak @Zoel-WB kembali untuk mendapatkan akses keserver untuk menindaklanjuti permasalahan ini.

[2022-11-29 03:49] Zoel-WB commented on #6044
baik pak saya PM via telegram, karena saya coba pada localhost juga tidak bisa, dan juga saya downgrade dari database v22.10 ke v22.11 -->kemudian ke v22.10 beta03 -->juga belum berhasil-->table hasil restore tetap yg masuk setelah restore ulang 13 table..

baik pak @vickyrolanda saya PM servernya...

[2022-11-29 03:49] Zoel-WB commented on #6044
saya backup dulu pak ya...

[2022-11-29 04:03] andifahruddinakas opened #6048 "Log Message Notice"
log_message untu:
- Jalankan migrasis
- Versi database sudah terbaru

Belum disesuaikan

[2022-11-29 05:07] devrakapriyo commented on #6044
<img width="653" alt="Screen Shot 2022-11-29 at 12 05 39" src="https://user-images.githubusercontent.com/36557759/204443644-0a85e65e-33c9-4bfe-a030-d00ca102304a.png">

mas @apidong setelah saya cek export dari phpmyadmin COLLATE nya ada, untuk db hasil export sudah saya tambahkan di gdrive

[2022-11-29 06:34] eddieridwan commented on #6044
@apidong @devrakapriyo berarti fitur Backup di OpenSID bermasalah. Tapi pastikan dulu, dengan mengulangi di server @Zoel-WB dan verifikasi hasilnya masih salah.

[2022-11-29 09:50] yogiperdana commented on #5984
Bisa buatkan issue terpisah terkait ini mas @vickyrolanda

Memisahkan Data masing bagian tersendiri:

Khusus Untuk Fitur Data Ibu Saja.
Khusus Data Anak/Balita

Karena itu permintaan fitur dan sepertinya perlu dianalisis lebih lanjut

[2022-11-29 09:53] Zoel-WB commented on #5998
Baik pak...

Dapatkan Outlook untuk Android<https://aka.ms/AAb9ysg>
________________________________
From: Vicky Rolanda ***@***.***>
Sent: Tuesday, November 29, 2022 10:07:14 AM
To: OpenSID/OpenSID ***@***.***>
Cc: ZoelWB ***@***.***>; Mention ***@***.***>
Subject: Re: [OpenSID/OpenSID] Bug/error: Data-data Penduduk yg sudah terimput sebelumnya, saat dibuka kembali ubah data, ada data-data yg tid

[2022-11-29 15:44] ariandii opened #6049 "Bug/error: Update 22.11-premium-rev03 Migrasi Mengenai Collaction"
### Jelaskan error yg dialami

<img width="583" alt="image" src="https://user-images.githubusercontent.com/46939846/204574902-0adc0e41-5a52-46d9-acc1-3cd4a44707c9.png">

### Cara untuk mereplikasi errornya

Update OpenSID ke 22.11-premium-rev03 dan iseng akses /periksa

### Hasil yg diharapkan

Collaction otomatis sesuai ketentuan, tidak perlu klik perbaiki.

### Tangkapan layar dan log error

sep

[2022-11-29 16:00] ariandii opened #6050 "Bug/error: Apa Fungsi Kolom Perubahan Anggaran Pada Dokumentasi Pembangunan"
### Jelaskan error yg dialami

<img width="635" alt="image" src="https://user-images.githubusercontent.com/46939846/204579684-a01f89f0-0c12-4295-8daf-663361654f39.png">

### Cara untuk mereplikasi errornya

1. Masuk Menu Pembangunan
2. Tambah Data Pembangunan
3. Klik Icon Rincian Dokumentasi
4. Tambah Data
5. Akan Muncul Kolom Perubahan Anggaran

Apa fungsi kolom tersebut?
Karena jika diisi sembar

[2022-11-29 16:07] Zoel-WB commented on #6044
ada satu website lagi yg kena, website desa pak Astoni Alam, kalau bisa yg pengguna premium jangan melakukan restore dulu...

![image](https://user-images.githubusercontent.com/64481641/204581279-013b7a2e-8893-4f54-a184-941da10c6bbe.png)

[2022-11-29 18:42] Zoel-WB commented on #6044
Saya coba dilocalhost dapat diperbaiki dengan MariaDB-10.9.3, cuma ada 2 tempat yg tidak dapat terperbaiki otomasis.
1. table "password_reset" token e-mail terlalu panjang.
2. yg tidak otomatis harus perbaikan menual berikut screensote-nya, restore-nya sukses

![image](https://user-images.githubusercontent.com/64481641/204617915-1b18a978-7185-40ae-88b7-5d88e8cf9e8c.png)

![image](https://user-imag

[2022-11-29 19:01] ridwan-opt opened #6051 "Permintaan fitur: sediakan statistik rumah tangga"
### Apa kekurangan yg ingin diatasi?

Bila memungkinkan
1. Hasil inputan dari modul dtks khususnya di form 3 ( keteragan perumahan) di kumpulka ke dalam satu setatistik ya itu statistik ruma tangga
![Screenshot_2022-11-30-01-49-54-12_40deb401b9ffe8e1df2f1cc5ba480b12](https://user-images.githubusercontent.com/83778007/204620607-f891301b-e7ad-4170-b5bd-ce1e74873515.jpg)

### Jelaskan solusi yg diing

[2022-11-30 03:29] mranca commented on #5899
@mah-mudi di buatkan isssue terpisah pak

[2022-11-30 07:05] devrakapriyo opened #6052 "Bug/error: unggah file di form pengaturan garis"
### Jelaskan error yg dialami

link : https://beta.opendesa.id/garis/form

Keterangan :
1. file kitten.jpeg dapat diunggah dan masuk ke folder desa
2. file alert.php.jpg dapat diunggah tapi tidak masuk di folder desa
3. file alert.php tidak dapat di unggah
4. file aEG1ZM_up.php tidak dapat di unggah
5. file aEG1ZM_up.php.jpg dapat diunggah tapi tidak masuk di folder desa

### Cara untuk mereplikas

[2022-11-30 07:09] devrakapriyo opened #6053 "Bug/error: unggah file di form pengaturan area"
### Jelaskan error yg dialami

link : https://beta.opendesa.id/area/form/1/0/1

Keterangan :
1. file kitten.jpeg dapat diunggah dan masuk ke folder desa
2. file alert.php.jpg dapat diunggah tapi tidak masuk di folder desa
3. file alert.php tidak dapat di unggah
4. file aEG1ZM_up.php tidak dapat di unggah
5. file aEG1ZM_up.php.jpg dapat diunggah tapi tidak masuk di folder desa

### Cara untuk merep

[2022-11-30 07:37] devrakapriyo opened #6054 "Bug/error: unggah file di form pengaturan latar belakang website"
### Jelaskan error yg dialami

link : https://beta.opendesa.id/setting

Keterangan :

file kitten.jpeg dapat diunggah dan masuk ke folder desa
file alert.php.jpg dapat diunggah dan masuk ke folder desa
file alert.php dan masuk ke folder desa
file aEG1ZM_up.php dan masuk ke folder desa
file aEG1ZM_up.php.jpg dan masuk ke folder desa

### Cara untuk mereplikasi errornya

-

### Hasil yg diharapkan

[2022-11-30 08:02] devrakapriyo opened #6055 "Bug/error: unggah file di form scan qrcode"
### Jelaskan error yg dialami

Jelaskan error yg dialami
link : https://beta.opendesa.id/setting/qrcode/clear

Keterangan :
1. file kitten.jpeg dapat diunggah tapi tidak masuk di folder desa
2. file alert.php.jpg dapat diunggah tapi tidak masuk di folder desa
3. file alert.php tidak dapat di unggah
4. file aEG1ZM_up.php tidak dapat di unggah
5. file aEG1ZM_up.php.jpg dapat diunggah tapi tidak masu

[2022-11-30 08:21] devrakapriyo opened #6056 "Bug/error: unggah file dokumen lampiran dan RFM di artikel desa"
### Jelaskan error yg dialami

link : https://beta.opendesa.id/web/form/100

Keterangan :
1. file kitten.jpeg dapat diunggah pada dokumen lampiran dan muncul pesan berhasil tersimpan tapi tidak masuk di folder desa
2. file alert.php dapat diunggah pada dokumen lampiran dan muncul pesan berhasil tersimpan tapi tidak masuk di folder desa
3. file alert.php.jpg dapat diunggah pada dokumen lampiran dan

[2022-11-30 08:27] devrakapriyo opened #6057 "Bug/error: unggah file di form pengaturan layanan mandiri"
### Jelaskan error yg dialami

link : https://beta.opendesa.id/setting/mandiri

Keterangan :
1. file kitten.jpeg dapat diunggah dan masuk ke folder desa
2. file alert.php.jpg dapat diunggah dan masuk ke folder desa
3. file alert.php dapat diunggah dan masuk ke folder desa
4. file aEG1ZM_up.php dapat diunggah dan masuk ke folder desa
5. file aEG1ZM_up.php.jpg dapat diunggah dan masuk ke folder desa

[2022-11-30 08:37] devrakapriyo opened #6058 "Bug/error: unggah file dokumen lampiran di layanan mandiri"
### Jelaskan error yg dialami

link : https://beta.opendesa.id/layanan-mandiri/dokumen

Keterangan :
1. file kitten.jpeg dapat diunggah pada dokumen lampiran dan muncul pesan berhasil tersimpan tapi tidak masuk di folder desa
2. file alert.php dapat diunggah pada dokumen lampiran dan muncul pesan berhasil tersimpan tapi tidak masuk di folder desa
3. file alert.php.jpg dapat diunggah pada dokumen l

[2022-11-30 08:48] devrakapriyo opened #6059 "Bug/error: laporan APBDES redirect ke halaman berbeda jika notifikasi gagal tersimpan"
### Jelaskan error yg dialami

redirect ke LAPORAN PENDUDUK https://beta.opendesa.id/laporan_penduduk dari https://beta.opendesa.id/laporan_apbdes jika notifikasi gagal tersimpan

### Cara untuk mereplikasi errornya

-

### Hasil yg diharapkan

-

### Tangkapan layar dan log error

-

### Rilis Versi OpenSID

Rilis Premium

### Versi OpenSID

v22.11-premium-rev03

### Tema Yang Digunakan

_No resp

[2022-11-30 08:56] devrakapriyo opened #6060 "Bug/error: popup modal import data persil tidak muncul"
### Jelaskan error yg dialami

<img width="1440" alt="Screen Shot 2022-11-30 at 15 52 36" src="https://user-images.githubusercontent.com/36557759/204751430-102aefdc-4c2c-4674-8b15-1960b63a87a1.png">

### Cara untuk mereplikasi errornya

-

### Hasil yg diharapkan

-

### Tangkapan layar dan log error

-

### Rilis Versi OpenSID

Rilis Premium

### Versi OpenSID

v22.11-premium-rev03

### Tema Yang

[2022-11-30 08:59] devrakapriyo opened #6061 "Bug/error: muncul pesan error 500 setelah input master data analisis tambah periode baru"
### Jelaskan error yg dialami

https://beta.opendesa.id/analisis_periode/form

### Cara untuk mereplikasi errornya

-

### Hasil yg diharapkan

-

### Tangkapan layar dan log error

-

### Rilis Versi OpenSID

Rilis Premium

### Versi OpenSID

v22.11-premium-rev03

### Tema Yang Digunakan

_No response_

### Informasi tambahan

_No response_

[2022-11-30 09:13] devrakapriyo opened #6062 "Bug/error: unggah file gambar di pembangunan"
### Jelaskan error yg dialami

link : https://beta.opendesa.id/admin_pembangunan/form

Keterangan :
1. file kitten.jpeg dapat diunggah dan masuk ke folder desa
2. file alert.php tidak dapat diunggah dan muncul pesan berhasil tersimpan tapi tidak masuk di folder desa
3. file alert.php.jpg dapat diunggah, muncul pesan berhasil tersimpan dan masuk ke folder desa

### Cara untuk mereplikasi errornya

[2022-11-30 09:17] devrakapriyo opened #6063 "Bug/error: unggah file gambar di produk lapak"
### Jelaskan error yg dialami

link : https://beta.opendesa.id/lapak_admin/produk_form/2

Keterangan :
1. file kitten.jpeg dapat diunggah dan masuk ke folder desa
2. file alert.php tidak dapat diunggah dan muncul pesan 404
3. file alert.php.jpg dapat diunggah, muncul pesan berhasil tersimpan dan masuk ke folder desa

### Cara untuk mereplikasi errornya

-

### Hasil yg diharapkan

-

### Tangkapan

[2022-11-30 09:20] devrakapriyo opened #6064 "Bug/error: unggah file di form pengaturan lokasi"
### Jelaskan error yg dialami

link : https://beta.opendesa.id/plan/form

Keterangan :
1. file kitten.jpeg dapat diunggah dan masuk ke folder desa
2. file alert.php.jpg dapat diunggah tapi tidak masuk di folder desa
3. file alert.php tidak dapat di unggah
4. file aEG1ZM_up.php tidak dapat di unggah
5. file aEG1ZM_up.php.jpg dapat diunggah tapi tidak masuk di folder desa

### Cara untuk mereplikasi

[2022-11-30 09:25] devrakapriyo opened #6065 "Bug/error: unggah file di form pengaturan simbol lokasi"
### Jelaskan error yg dialami

link : https://beta.opendesa.id/point/form_simbol#

Keterangan :
1. file kitten.jpeg dapat diunggah dan masuk ke folder desa
2. file alert.php.jpg dapat diunggah dan masuk ke folder desa
3. file alert.php tidak dapat di unggah
4. file aEG1ZM_up.php tidak dapat di unggah
5. file aEG1ZM_up.php.jpg dapat diunggah masuk ke folder desa

### Cara untuk mereplikasi errornya

[2022-11-30 12:30] newh44 opened #6066 "Permintaan fitur: Menambahkan Kode Isian Pilihan Dengan data Otomatis"
### Apa kekurangan yg ingin diatasi?

Ketika Membuat surat untuk warga luar / perusahaan belum ada menu drop down untuk isian laki-laki/perempuan, menikah/belum menikah/cerai sehingga kalau terburu-buru input kadang salah tulisan

### Jelaskan solusi yg diinginkan

![image](https://user-images.githubusercontent.com/119162490/204795437-4bc895e8-4d4f-4527-9958-9193cacbd311.png)
ada menu dropdown

##

[2022-11-30 13:38] Zoel-WB opened #6067 "Bug/error: Error Simpan Data Form Pemberitahuan Page Pengaturan Program Perlindungan Sosial Anggota"
### Jelaskan error yg dialami

Error Simpan Data Form Pemberitahuan Page Pengaturan Program Perlindungan Sosial Anggota

### Cara untuk mereplikasi errornya

Klik Tombol DTKS -->Langsung Pada Data Fitur Pengelompokan Rumah Tangga

![image](https://user-images.githubusercontent.com/64481641/204809568-f5e77487-0ddf-493c-a7fa-476624402d97.png)

Pada Form Pemberitahuan Page Pengaturan Program Perlindu

[2022-11-30 13:41] newh44 opened #6068 "Permintaan fitur: fitur top align, midle align, bottom align"
### Apa kekurangan yg ingin diatasi?

![image](https://user-images.githubusercontent.com/119162490/204810686-da4f0c90-f583-413b-8dc4-04b98fbf34a1.png)
tabel yang terlalu banyak formatnya midle align sehingga kurang rapi

### Jelaskan solusi yg diinginkan

ada fitur top align, midle align, bottom align selain left,right center yang sudah ada

### Apakah ada alternatif lain

![image](https://user-im

[2022-11-30 14:58] DITOO91 commented on #466
bg mohon maaf mau tanya kenapa file css saya tidak terbaca saat sudah saya hosting di github?

[2022-11-30 17:24] vickyrolanda commented on #6039
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1672

[2022-11-30 17:24] #6039 closed, assigned to agungsugiarto

[2022-11-30 18:26] vickyrolanda commented on #6047
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1674

[2022-11-30 18:26] #6047 closed, assigned to andifahruddinakas

[2022-11-30 18:37] vickyrolanda commented on #5984
Sudah diselesaikan di PRhttps://github.com/OpenSID/premium/pull/1671

[2022-11-30 18:37] vickyrolanda commented on #6046
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1671

[2022-11-30 18:37] #6046 closed, assigned to yogiperdana

[2022-11-30 18:37] #5984 closed, assigned to yogiperdana

[2022-11-30 19:52] vickyrolanda commented on #6044
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1677

[2022-11-30 19:52] #6044 closed, assigned to apidong, devrakapriyo, vickyrolanda