[2022-04-04 11:24] Wiliyantoro commented on #5072
https://forum.opendesa.id/d/46-filter-data-sasaran-vaksin-booster

[2022-04-04 14:20] muhtar-coder commented on #5107
SIAP...

Pada tanggal Sen, 4 Apr 2022 pukul 13.29 Agung Sugiarto <
***@***.***> menulis:

[2022-04-04 14:21] muhtar-coder commented on #5055
Siap terima kasih

Pada tanggal Sel, 22 Mar 2022 pukul 07.51 Andi Fahruddin Akas <
***@***.***> menulis:

[2022-04-05 01:29] balongbesuk commented on #5106
kalau bisa semua ya sudah saya close,

jika masih terkendala silakan buat isue baru bagi pengguna yang sudah menerapkan fitur ini

[2022-04-05 01:41] andifahruddinakas commented on #5110
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/914

[2022-04-05 01:41] #5110 closed, assigned to agungsugiarto

[2022-04-05 01:42] andifahruddinakas commented on #5121
Mas @Wiliyantoro, silahkan cek di https://berputar.opendesa.id/ apakah mengalami hal yang sama? Jika tidak, silahkan update versi OpenSID yang anda gunakan.

[2022-04-05 01:43] andifahruddinakas commented on #5117
Pak @Zoel-WB, cek https://github.com/OpenSID/OpenSID/wiki/Kehadiran-Lainnya#mendaftarkan-perangkat-desa-untuk-kehadiran

[2022-04-05 01:44] andifahruddinakas commented on #5115
Pak @Zoel-WB, cek https://github.com/OpenSID/OpenSID/wiki/Kehadiran-Lainnya#mendaftarkan-perangkat-desa-untuk-kehadiran

[2022-04-05 01:55] Wiliyantoro commented on #5121
![image](https://user-images.githubusercontent.com/44520382/161663851-bf2e14bf-74a7-4a23-ac49-1ed09d43cf13.png)

tampil seperti ini pak saat saya lakukan save as, berarti yg terunduh dalam bentuh halaman webpage

[2022-04-05 02:12] andifahruddinakas commented on #5119
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/915

[2022-04-05 02:12] #5119 closed, assigned to yogiperdana

[2022-04-05 02:39] andifahruddinakas commented on #5111
Setelah saya cek ulang di lakukan ujicoba, bugs ini tidak bisa di replikasi. Karena penambahan data hanya dilakukan saat pertama kali buat tabel. Maka akan dibuat tabel beserta datanya. Jika migrasi di ulangi terus menerus data tidak akan bertambah.

Issue ini saya tutup, jika masih bermasalah. Bisa duplikasi ke website https://berputar.opendesa.id/).

[2022-04-05 02:39] #5111 closed, assigned to andifahruddinakas

[2022-04-05 02:43] andifahruddinakas commented on #5111
Pak @ariandii, @yogiperdana atau nama hari dibuat unik agar hanya ada 1 saja. Dimana seharusnya hanya ada 7 nama hari dan tidak mungkin bertambah dan sama.

[2022-04-05 02:46] andifahruddinakas commented on #5121
tinggal ganti save as type nya ke xls, xlsx atau format yg diinginkan.

[2022-04-05 02:51] balongbesuk opened #5122 "Bug/error: unduh excel pembangunan berantakan"
### Jelaskan error yg dialami

ketika mengunduh excel pembangunan hasilnya berantakan

### Cara untuk mereplikasi errornya

pergi ke halaman pembangunan > rincian dokumentasi > unduh excel > lihat hasil

### Hasil yg diharapkan

tertata rapi

### Tangkapan layar dan log error

![Untitled](https://user-images.githubusercontent.com/35319600/161669430-498f2180-a969-4cd9-b5f2-e64c73a0a79c.jpg)

### Ri

[2022-04-05 04:47] #5094 closed, assigned to andifahruddinakas

[2022-04-05 04:58] #5024 closed, assigned to nobody

[2022-04-05 05:06] andifahruddinakas commented on #5402
hal ini akan di sesuaikan jika halaman statis peta di pindahkan ke masing2 tema.

[2022-04-05 05:45] ariandii opened #5123 "Bug/error: Gagal Expor Excel Data Penduduk"
### Jelaskan error yg dialami

mengalami gagal saat klik Expor Penduduk.

![photo_2022-04-05_12-43-28](https://user-images.githubusercontent.com/46939846/161686807-0f15d30a-b902-4b77-ae8c-1724f7e34c04.jpg)

### Cara untuk mereplikasi errornya

Pergi ke halaman menu Kependudukan -> Penduduk
Lalu klik Impor/Expor
Kemudian klik Ekspor Penduduk

Maka tidak ada proses apapun.
Diduga file excel belum se

[2022-04-05 05:48] ariandii opened #5124 "Permintaan fitur: Tersedia nya Informasi Size Khusus Folder Desa dan SQL"
### Apa kekurangan yg ingin diatasi?

Agar mengetahui informasi size folder desa apakah berukuran kecil atau besar yang berakibat unduh data menjadi lama dan berat hingga gagal.

### Jelaskan solusi yg diinginkan

Tersedia info khusus mengenai size folder desa dan size SQL, yang tampil ketika ingin Backup Database dan Folder Desa yang ada di Halama  Pengaturan -> Database -> Backup

### Apakah ada

[2022-04-05 05:49] balongbesuk opened #5125 "Permintaan fitur: Tambahkan Print + Download pada statistik > Laporan bulanan > Rincian Kependudukan Bulanan"
### Apa kekurangan yg ingin diatasi?

operator ingin download / print rincian penduduk bulanan sebagai bahan tambahan laporan penduduk

### Jelaskan solusi yg diinginkan

ketika operator ingin mendownload / print rincian kependudukan bulanan tidak bisa sehingga ketik manual di excel dengan panduan opensid

### Apakah ada alternatif lain

tidak ada

### Untuk versi OpenSID mana

Premium

### Inform

[2022-04-05 05:54] andifahruddinakas commented on #4940
Pak @ariandii, sy lihat itu ada 2 pengaturan yang hampir sama fungsinya. Kyaknya cukup gunakan 1 saja yakni "Data Lengkap" saja ?

[2022-04-05 05:57] andifahruddinakas commented on #5123
Mas @yogiperdana, bisa tambahkan try cacth dan hanya redirect jika terjadi error

[2022-04-05 05:59] balongbesuk opened #5126 "Bug/error: BUG? Cetak unduh log penduduk tidak ikut sortir bulan yang dipilih"
### Jelaskan error yg dialami

ketika akan mencetak log penduduk dengan sortir bulan, hasilnya tercetak semua

### Cara untuk mereplikasi errornya

perki ke log penduduk > pilih jenis peristiwa > pilih bulan > cetak / unduh

### Hasil yg diharapkan

bisa mencetak / mengunduh sesuai bulan yang di inginkan

### Tangkapan layar dan log error

-

### Rilis Versi OpenSID

Rilis Premium

### Versi OpenS

[2022-04-05 05:59] ariandii commented on #4940
Data lengkap untuk menentukan per tanggal tertentu sesuai keinginan saat lapor.

Data Lengkap Aktif, untuk menentukan Aktif atau tidak nya Menu Laporan Bulanan, sehingga menghindari kesalahan Lapor jika tanggal belum disesuaikan.

2 Kolom itu bisa di sedian di dalam Menu Laporan Bulanan agar tidak perlu ubah tanggal atau status di halaman berbeda.

[2022-04-05 06:02] andifahruddinakas commented on #4940
ok

[2022-04-05 06:05] andifahruddinakas commented on #4940
Pak @ariandii, Bisa di listkan modul mana saja pengaturan tersebut ditampilkan?

[2022-04-05 06:07] ariandii commented on #4940
Hanya di Statistik -> Laporan Bulanan

[2022-04-05 06:08] andifahruddinakas commented on #4940
Di Buku Administrasi Penduduk tidak perlu ?

[2022-04-05 06:10] balongbesuk commented on #5126
lupa belum sortir tahun

[2022-04-05 06:10] #5126 closed, assigned to nobody

[2022-04-05 06:11] ariandii commented on #4940
Saya rasa tidak perlu, karena tanggal itu hanya sebagai penentu kapan data laporan bulanan dilaporkan per tanggal yang diinginkan.

Termasuk Cetak dan Unduhnya.

***
Sebagai info, yang sudah berjalan selama ini, setiap bulan saya selalu ubah ke tanggal akhir,
Masuk bulan januari, langsung saya ganti jadi 31 januari.
Masuk bulan April ini, langsung saya ganti ke 30 April.

Karena rekap Laporan Bula

[2022-04-05 06:19] balongbesuk opened #5127 "Permintaan fitur: Wajibkan isian alamat sebelumnya pada penambahan penduduk datang / masuk"
### Apa kekurangan yg ingin diatasi?

operator sering kali lupa mengisi data alamat sebelumnya pada isian penduduk datang sehingga alamat lama tidak terekam dalam opensid dan laporan kependudukan

### Jelaskan solusi yg diinginkan

wajibkan isian alamat lama pada isian penduduk datang

### Apakah ada alternatif lain

-

### Untuk versi OpenSID mana

Premium

### Informasi tambahan

-

[2022-04-05 06:26] andifahruddinakas commented on #4940
kayaknya di perlukan di modul lain jg, seperti ini :
![pengaturan ini](https://user-images.githubusercontent.com/57283157/161692076-f14593eb-dd19-45f6-b257-ee069fed6d1c.png)

Karena akan di arahkan ke link pengaturan.

[2022-04-05 06:43] yogiperdana commented on #5123
oke mas

[2022-04-05 07:16] ariandii commented on #5125
Nampaknya download / print rincian penduduk bulanan sudah ada sejak lama.

TInggal diusulkan filter berdasarkan Jenis Kelamin, dll yg diinginkan

<img width="960" alt="image" src="https://user-images.githubusercontent.com/46939846/161699180-86d449fe-9f65-419b-90e5-5f4e4ea5ca12.png">

[2022-04-05 07:45] balongbesuk commented on #5125
kl d buku administrasi penduduk memang ada

di isue yang ada pada statistik > laporan bulanan > pilih detail isian

[2022-04-05 08:32] rudiansyahyunanda commented on #5118
Sebaiknya dirincikan lagi saja. biar ga membingungkan
1. Penerimaan Pembiayaan
   - Realisasi | Anggaran
     29.629.952 | 29.629.952  ------ 100 %

  2. Pengeluaran Pembiayaan
      Realisasi | Anggaran
      0 | 20.552.300 ------------------ 0%

[2022-04-05 09:00] mukhlisvandjava commented on #5060
Ini link diskusinya Data Statistik bisa di sisipkan di artikel - Forum OpenDESA
https://forum.opendesa.id/

[2022-04-05 09:19] mukhlisvandjava commented on #5060
Ini link diakunya https://forum.opendesa.id/d/14-data-statistik-bisa-di-sisipkan-di-artikel

[2022-04-05 16:52] muhtar-coder opened #5128 "Bug/error: Nomor kartu BPJS Ketenagakerjaan untuk penduduk dengan status pekerjaan tertentu ketika di klik angka pada jumlah peserta terbuka semua penduduk bukan penerima BPJS NAKER"
### Jelaskan error yg dialami

Status pekerjaan tertentu yang terdaftar BPJS Ketenagakerjaan ketika data statistik nya di klik pada angka jumlah penerima yang terbuka semua penduduk dengan status pekerjaan yang sama meski tidak terdaftar BPJS ketegakerjaan

### Cara untuk mereplikasi errornya

COBA pada penduduk dengan status pekerjaan misal petani/mengurus rumah tangga/belum bekerja, isi nomor ka

[2022-04-05 16:57] muhtar-coder commented on #5128
https://forum.opendesa.id/d/119-data-statistik-ketenaga-kerjaan-penduduk-tidak-sesuai

[2022-04-05 17:33] muhtar-coder opened #5129 "Permintaan fitur: Tambahkan pilihan (TIDAK TAMAT SLTP/SLTA) pada kolom kategori pendidikan sedang di tempuh"
### Apa kekurangan yg ingin diatasi?

belum tersedia kolom untuk mendata penduduk dengan status pendidikan untuk target penduduk tidak tamat SLTP/SLTA

### Jelaskan solusi yg diinginkan

disediakan pilihan untuk mendata pendidikan sedang di tempuh : TIDAK TAMAT SLTP/SEDERAJAT DAN TIDAK TAMAT SLTA/SEDERAJAT

![image](https://user-images.githubusercontent.com/55665526/161815895-12b1b0ed-f395-4f11-b1

[2022-04-05 17:35] muhtar-coder commented on #5129
https://forum.opendesa.id/d/121-pendataan-penduduk-usia-sekolah-yang-putus-sekolah

[2022-04-05 21:41] andifahruddinakas opened #5130 "Bug/error: Token layanan kadang tidak mengikutkan tanggal_berlangganan"
### Jelaskan error yg dialami

"iat": 1649173524,
  "exp": 3541333524,
  "nbf": 1649173524,
  "jti": "9bc12960680d155accb81ffe4179a9b56b94955b13c6ee53144e519eb8dc427f",
  "sub": "267",
  "prv": "f9307eb5f29c72a90dbaaef0e26f0262ede86f55",
  "desa_id": "xx.xx.xx.xxxx",
  "domain": "https://xxxxxxx.web.id",
  "tanggal_berlangganan": []
}

sehingga menampilkan error yang salah
![notifnya jadi salah](h

[2022-04-06 03:44] andifahruddinakas opened #5131 "Pisahkan Halaman statis IDM"
Terjadi bentrok css pada saat membuka  IDM web pada halaman web (front end) karena style yang digunakan berbeda dengan yang digunakan oleh admin.

[2022-04-06 03:44] andifahruddinakas commented on #5131
Pecahan dari issue https://github.com/OpenSID/OpenSID/issues/4868

[2022-04-06 03:44] andifahruddinakas commented on #4868
Untuk mempermudah, tiap halaman dibuat issuenya masing2 :
1. IDM (https://github.com/OpenSID/OpenSID/issues/5131)

[2022-04-06 04:19] andifahruddinakas opened #5132 "Permintaan fitur: Tambahkan pengaturan untuk mengganti latar halaman rekam kehadiran"
### Apa kekurangan yg ingin diatasi?

Untuk mengganti latara rekam kehadiran masih dilakukan secara manual, sehingga jika dilakukan update OpenSID pengaturan tsb akan hilang dan harus di atur ulang.

### Jelaskan solusi yg diinginkan

Tambahkan pengaturan untuk mengganti latar rekam kehadiran.

### Apakah ada alternatif lain

.

### Untuk versi OpenSID mana

v22.04

### Informasi tambahan

.

[2022-04-06 06:48] agungsugiarto opened #5133 "Bug/error: Update pengurus"
### Jelaskan error yg dialami

Ketika update pengurus error
<img width="702" alt="image" src="https://user-images.githubusercontent.com/10989147/161912349-805efbc5-050a-4f1c-bf0e-c01b2df17dc1.png">

### Cara untuk mereplikasi errornya

Buku administrasi desa > Administrasi umum > Buku aparat pemerintah desa > kemudian isikan pamong id card

### Hasil yg diharapkan

Berhasil mengupdate

### Tangkap

[2022-04-06 07:12] agungsugiarto commented on #5095
Sudah masuk ke fitur premium melalui pr https://github.com/OpenSID/premium/pull/918

[2022-04-06 07:12] #5095 closed, assigned to andifahruddinakas

[2022-04-06 07:22] agungsugiarto commented on #5091
Sudah masuk ke fitur premium melalui prhttps://github.com/OpenSID/premium/pull/919

[2022-04-06 07:22] #5091 closed, assigned to andifahruddinakas

[2022-04-06 07:33] agungsugiarto commented on #5123
Mas @andifahruddinakas, @yogiperdana issue ini mohon mencoba dahulu menggunakan database pak @ariandii, menggunakan try catch hanya menangkap masalah tapi tidak memperbaikinya.

[2022-04-06 07:41] andifahruddinakas commented on #5123
Masalahnya kemarin karena penduduk yang banyak (-+ 4k), saat mengekspor data file excel belum di buat tapi sudah di redirect. Bisa dengan cukup hapus ridirectnya saja, tp ini menambahkan try catch agar melaporkan jika terjadi masalah jika terjadi gagal ekspor.

[2022-04-06 09:48] andifahruddinakas commented on #5050
ok, untuk kasus issue ini di khususkan perbaikan tampilan peta pada halaman admin saja.

[2022-04-06 14:37] #4732 closed, assigned to nobody

[2022-04-06 21:39] andifahruddinakas commented on #4900
Sudah dipisah pada rilis v22.04-premium

[2022-04-06 21:39] #4900 closed, assigned to nobody

[2022-04-06 21:43] andifahruddinakas commented on #4849
Saat membuat akun pelapak, saat input data pelapak untuk data awal lokasi diambil dari data penduduk dan jika kosong akan diambil dari desa agar tidak kosong.

[2022-04-06 22:51] #4712 closed, assigned to nobody

[2022-04-06 23:08] andifahruddinakas commented on #4163
Mas @yogiperdana, coba cek ulang ini.

[2022-04-06 23:13] andifahruddinakas commented on #4007
Untuk sekarang sudah di pisah berdasarkan modul yang membutuhkan pengaturan tsb. Untuk modul pengaturan Aplikasi di peruntukkan pada pengaturan yang lebih umum.

[2022-04-06 23:14] #4007 closed

[2022-04-07 02:56] yogiperdana commented on #4163
Oke mas

[2022-04-07 03:11] yogiperdana commented on #4163
F-1.0.1 aman

![image](https://user-images.githubusercontent.com/14155050/162112690-3a29f2bb-bd41-4ce2-880b-6a2512277260.png)

[2022-04-07 03:14] yogiperdana commented on #4163
F-1.15 aman

![image](https://user-images.githubusercontent.com/14155050/162112987-ea596cc1-0632-4bec-855d-ab6a2e9c375e.png)

[2022-04-07 03:16] yogiperdana commented on #4163
F-.1.16 aman

![image](https://user-images.githubusercontent.com/14155050/162113191-490de7aa-7626-4037-8e48-aeacdf5686b1.png)

[2022-04-07 03:56] agungsugiarto commented on #5124
Sudah masuk di fitur premium melalui pr https://github.com/OpenSID/premium/pull/923

[2022-04-07 03:56] #5124 closed, assigned to andifahruddinakas

[2022-04-07 04:13] agungsugiarto commented on #4389
Sudah di fitur premium melalui pr https://github.com/OpenSID/premium/pull/924

[2022-04-07 04:13] #4389 closed

[2022-04-07 05:56] laluheri opened #5134 "Repositori OpenSID API tidak ada"
Sy mau install OpenSID API .. tapi sy cek di link nya kok tidak tersedia ya? berikut linknya sesuai dengan dokumentasi Wiki
git clone https://github.com/OpenSID/opensid-laravel.git

mohon srannya.

[2022-04-07 06:25] agungsugiarto commented on #5123
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/921

[2022-04-07 06:25] #5123 closed, assigned to yogiperdana

[2022-04-07 07:05] agungsugiarto commented on #5128
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/929

[2022-04-07 07:05] #5128 closed, assigned to yogiperdana

[2022-04-07 07:25] agungsugiarto commented on #4950
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/930

[2022-04-07 07:25] #4950 closed, assigned to andifahruddinakas

[2022-04-07 09:36] andifahruddinakas opened #5135 "Bug/error: Menu tidak terpilih saat melakukan ubah data."
### Jelaskan error yg dialami

Saat melakukan ubah data menu, menu dengan pilihan datanya tidak terpilih sesuai data sebelumnya.

### Cara untuk mereplikasi errornya

1. Buka menu
2. Ubah salah 1 menu (bukan menu dengan jenis eksternal)
3. Form ubah akan menampilkan data, tapi pada data link tidak terpilih

### Hasil yg diharapkan

Data link ditampilkan sesuai data yang ada sebelumnya

### Tangkap

[2022-04-07 09:39] andifahruddinakas commented on #5134
Private, jika pelanggan premium akan dibagikan ke grup telegram.

[2022-04-07 09:39] #5134 closed, assigned to nobody

[2022-04-07 09:39] andifahruddinakas commented on #5131
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/925

[2022-04-07 09:39] #5131 closed, assigned to andifahruddinakas

[2022-04-07 15:01] #5112 closed, assigned to andifahruddinakas

[2022-04-07 15:02] #5109 closed, assigned to andifahruddinakas

[2022-04-07 19:47] Zoel-WB commented on #4680
https://forum.opendesa.id/d/129-integrasi-modul-stunting-akan-rilis-v2205-premium

[2022-04-07 19:48] Zoel-WB commented on #4534
https://forum.opendesa.id/d/130-aplikasi-posyandu-terintegrasi-opensid

[2022-04-07 19:55] andifahruddinakas commented on #4563
Sudah terurut dengan benar.
![pembangunan](https://user-images.githubusercontent.com/57283157/162285400-6e9da8c7-d2f7-4f9e-ac95-e88887a9d35d.png)

[2022-04-07 19:55] #4563 closed, assigned to andifahruddinakas

[2022-04-08 01:04] andifahruddinakas commented on #712
Hanya menampilkan nama2 pemerintah ke halaman website. Untuk bagan halaman pemerintah desa dengan bagan bisa gunakan artikel dan insert bagan dsna.

[2022-04-08 03:15] agungsugiarto commented on #4163
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/936

[2022-04-08 03:15] #4163 closed

[2022-04-08 03:27] agungsugiarto commented on #5050
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/939

[2022-04-08 03:27] #5050 closed, assigned to yogiperdana

[2022-04-08 04:59] yogiperdana commented on #5115
Bagaimana Pak @Zoel-WB apakah sudah bisa mengikuti seperti yang mas akas sampaikan?

[2022-04-08 06:56] yogiperdana opened #5137 "Bug/error: Notifikasi baris gagal ketika impor tidak muncul"
### Jelaskan error yg dialami

Ketika melakukan impor notifikasi baris gagal tidak muncul

### Cara untuk mereplikasi errornya

1. Pergi ke halaman penduduk
2. Masuk ke menu impor
3. Impor penduduk

### Hasil yg diharapkan

Muncul pesan baris gagal

### Tangkapan layar dan log error

-

### Rilis Versi OpenSID

Rilis Premium

### Versi OpenSID

v22.04-premium

### Tema Yang Digunakan

_No response

[2022-04-08 08:55] agungsugiarto commented on #5133
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/931

[2022-04-08 08:55] #5133 closed, assigned to yogiperdana

[2022-04-08 09:46] andifahruddinakas commented on #5118
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/916

Untuk perbaikan perhitungan di tempat lain, misalnya widget bisa dibuat issue terpisah.

[2022-04-08 09:46] #5118 closed, assigned to agungsugiarto

[2022-04-08 17:41] Zoel-WB commented on #5115
Saya sudah memperbaikinya pak ..

[2022-04-10 00:57] balongbesuk opened #5138 "Permintaan fitur: Tambahkan pengaturan syarat pendaftaran layanan mandiri"
### Apa kekurangan yg ingin diatasi?

saat ini syarat pendaftaran layanan mandiri tidak dapat dirubah oleh pengguna

### Jelaskan solusi yg diinginkan

pengguna bisa mengatur syarat pendaftaran layanan mandiri warga secara dinamis

### Apakah ada alternatif lain

warga yang kesulitan mendaftar akhirnya datang ke kantor desa untuk meminta d daftarkan manual

### Untuk versi OpenSID mana

premium

#

[2022-04-10 01:01] balongbesuk commented on #5138
format gif sebaiknya d ganti pdf,

[2022-04-10 01:13] balongbesuk opened #5139 "Saran layout layanan mandiri disamakan dengan layout kehadiran"
### Apa kekurangan yg ingin diatasi?

layout layanan mandiri memiliki dispay backgroud hijau yang menutupi setengah layar sehingga gambar background terlihat seperti frame saja,

### Jelaskan solusi yg diinginkan

mengacu pada tampilan kehadiran gambar terlihat jelas hanya tertutupi tulisan

### Apakah ada alternatif lain

-

### Untuk versi OpenSID mana

premium

### Informasi tambahan

![image](

[2022-04-10 02:56] balongbesuk opened #5140 "Bug/error: ubah latar login mandiri gambar tidak berubah"
### Jelaskan error yg dialami

ketika pengguna mengganti latar layanan mandiri, preview gambar latar tidak berubah

### Cara untuk mereplikasi errornya

buka layanan mandiri > pengaturan > ubah latar login layanan mandiri > simpan (lihat preview menu latar login mandiri masih sama)

### Hasil yg diharapkan

preview latar login mandiri berubah menyesuaikan ubahan gambar

### Tangkapan layar dan log

[2022-04-10 03:50] dikisiswanto commented on #5140
Sekilas mirip issue #5101

[2022-04-10 06:46] balongbesuk commented on #5140
sepertinya masalah cache

[2022-04-10 07:48] #2201 closed

[2022-04-10 07:53] andifahruddinakas commented on #3520
Sekrang NIK dibuat unik sehingga data ganda tdk bisa masuk lg.

[2022-04-10 07:53] #3520 closed

[2022-04-10 07:55] #3955 closed

[2022-04-10 08:36] balongbesuk opened #5141 "Permintaan fitur: Tambahkan pengaturan isian jumlah slider pada pengaturan slider besar"
### Apa kekurangan yg ingin diatasi?

isian jumlah slider besar bersifat baku tidak bisa dirubah oleh pengguna sehingga ketika pengguna ingin mengubah jumlah isiannya perlu mengubah manual sedangkan d versi premium file file tersebut sudah d enkriptsi

### Jelaskan solusi yg diinginkan

pengguna bisa mengubah isian jumlah slider yang akan ditampilkan

### Apakah ada alternatif lain

-

### Untuk v

[2022-04-10 08:38] sulaimanlawidhub opened #5142 "Tidak berfungsi Ekspor data kehadira"

[2022-04-10 08:39] andifahruddinakas commented on #5142
Sudah diperbaiki, tubggu update rev01

[2022-04-10 08:39] #5142 closed, assigned to nobody

[2022-04-10 19:52] Zoel-WB commented on #5137
Error Impor penggunaan ->FormatImporExcel.xlsm ->save as menjadi ->FormatImporExcel.xlsx
![image](https://user-images.githubusercontent.com/64481641/162637023-91d386af-161e-4654-9773-0036b8367d57.png)

Log Error :
GuzzleHttp\Exception\RequestException: cURL error 60: SSL certificate problem: certificate has expired (see https://curl.haxx.se/libcurl/c/libcurl-errors.html) for https://layanan.opende

[2022-04-10 22:50] astonialam opened #5143 "OpenSID 22.04 Import Data Penduduk, Data Kelaurga Tidak Muncul"
### Jelaskan error yg dialami

Pada saat import data penduduk excel ke rilis 22.04 umum, data keluarga atau data per Kartu Keluarga tidak ada atau terbaca..

### Cara untuk mereplikasi errornya

Impor database penduduk excel

### Hasil yg diharapkan

Tidak terjadi nihil atau nol saat import data penduduk excel..

### Tangkapan layar dan log error

![Screenshot_81](https://user-images.githubusercon

[2022-04-11 01:03] andifahruddinakas commented on #5143
Sertakan contoh file yg di impor, bisa kirim lewwt telegram.

[2022-04-11 04:18] agungsugiarto commented on #5042
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/922,

untuk saat ini hanya akan diterapkan dirilis premium.

[2022-04-11 04:18] #5042 closed, assigned to yogiperdana

[2022-04-11 04:27] agungsugiarto commented on #5137
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/947

[2022-04-11 04:27] #5137 closed, assigned to yogiperdana

[2022-04-11 04:55] wawan1985 commented on #3385
bagaimana cara menambahkan pada aplikasi opensid nya ya? sudah saya coba copy paste scriptnya lewat cpanel tetep tidak bisa

[2022-04-11 05:20] kayangan commented on #3385
Lakukan migrasi DB untuk melihat perubahan penambahan suratnya

On Mon, Apr 11, 2022, 12:55 PM Wawan Mardiansyah ***@***.***>
wrote:

[2022-04-11 05:39] wawan1985 commented on #3385
untuk versi yang premium juga sama pak, harus migrasi DB, kebetulan saya sudah pakai yang premium

[2022-04-11 05:40] kayangan commented on #3385
Silahkan dicoba

On Mon, Apr 11, 2022, 1:39 PM Wawan Mardiansyah ***@***.***>
wrote:

[2022-04-11 05:50] wawan1985 commented on #3385
tetap tidak bisa pak dengan cara migrasi DB, apakah ada cara lain pak untuk memasukan surat ini ke dalam aplikasi, karena saya sangat membutuhkannya

[2022-04-11 05:56] kayangan commented on #3385
Coba konsul ke masternya @rudi purwanto

On Mon, Apr 11, 2022, 1:50 PM Wawan Mardiansyah ***@***.***>
wrote:

[2022-04-11 06:19] wawan1985 commented on #3385
siap pak, terimakasih

[2022-04-11 07:00] andifahruddinakas commented on #3385
Sudah disediakan tombol untuk memperbaharui daftar surat yang ditambahkan langsung ke folder desa di versi premium v22.04-premium.

![surat perbaharui](https://user-images.githubusercontent.com/57283157/162682119-76302672-0aa3-48e7-ad2d-3bc26d7c591a.png)

[2022-04-11 07:06] yogiperdana commented on #5121
Issue ini bisa diselesaikan dengan memilih format yang benar

[2022-04-11 07:06] #5121 closed, assigned to yogiperdana

[2022-04-11 07:46] yogiperdana commented on #5130
Sudah diperbaiki pada PR https://github.com/OpenSID/Layanan_OpenDESA/pull/54

[2022-04-11 07:46] #5130 closed, assigned to yogiperdana

[2022-04-12 02:36] andifahruddinakas opened #5144 "Bug/error: Nama Kepala Desa di Penandatangan KK tidak tampil"
### Jelaskan error yg dialami

Buka data KK, maka akan tampil KK tampa penanda tangan kepala desa.

### Cara untuk mereplikasi errornya

1. Buka Kependudukan > Keluarga
2. Pilih Rincian KK salah satu data yang ada
3. Tekan tombol Kartu Kerluarga sehingga menampilkan data dalam format KK
4. Pada penanda tangan, data kepala desa tidak tampil, atau
5. Tekan Cetak / Unduh.
6. Akan terlihat juga Pada p

[2022-04-12 02:41] andifahruddinakas opened #5145 "Bug/error: Judul artikel yang di awali dengan angka akan di arahkan ke artikel lain"
### Jelaskan error yg dialami

Jika judul artikel diawali dengan angka, saat membuka lnik artikel tersebut akan diarahkan ke artikel lain.

### Cara untuk mereplikasi errornya

Buat sebuah artikel Dinamis lalu simpan, kemudian buka website dan cari artikel yang baru dibuat tersebut selanjutnya klik (lihat selengkapnya) apakah artikel baru tsb terbuka atau bahkan malah tergantikan secara otomatis d

[2022-04-12 03:00] agungsugiarto commented on #5140
sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/954

[2022-04-12 03:00] #5140 closed, assigned to andifahruddinakas

[2022-04-12 03:21] agungsugiarto commented on #5122
sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/956

[2022-04-12 03:21] #5122 closed, assigned to yogiperdana

[2022-04-12 04:26] andifahruddinakas commented on #5108
Cari referensi aplikasi yang menggunakan cara ini untuk membuat surat.

Yang diperlukan :
1. ERD (https://dbdiagram.io/d/6257755b2514c97903299120)
2. Pengaturan Header, Footer atau Lainnya disimpan di tabel setting_aplikasi.
3. Buat di Modul Baru / Menggunakan Modul lama dengan penyesuaian tabel (tambahkan kolom 'template').
4. History surat baru degan TinyMCE perlu sinkron dengan surat lama yang

[2022-04-12 04:28] andifahruddinakas commented on #5108
Cari referensi aplikasi yang menggunakan cara ini untuk membuat surat.

[2022-04-12 06:16] #5144 closed, assigned to yogiperdana

[2022-04-12 10:06] yogiperdana commented on #5145
gimana contoh artikelnya mas? saya coba normal @andifahruddinakas

[2022-04-12 10:28] andifahruddinakas commented on #5145
Coba cek di telegram

[2022-04-12 19:43] rezkifernando opened #5146 "Permintaan fitur: Pada menu analisis"
### Apa kekurangan yg ingin diatasi?

Pada menu analisis setiap pertanyaan hanya bisa satu jawaban
Ex. Air Minum
Terkadang dalam pemanfaatan air minum,bisa jadi ada masyarakat yang menggunakan lebih dari satu,misal pdam dan depot air minum
Ex. Penghasilan pertanian,perkebunan dll
Masyarakat bisa jadi memiliki kebun dengan komoditas lebih dari satu,di aplikasi hanya bisa memilih satu komoditas saja

[2022-04-12 21:08] balongbesuk opened #5147 "Bug/error: BUG? web kehadiran terbypass oleh perangkat/ gawai yang tidak terdaftar"
### Jelaskan error yg dialami

gawai kehadiran awalnya dimaksudkan hanya terbuka pada perangkat / gawai yang terdaftar saja tetapi dengan sedikit "coding" pengguna maka rekam kehadiran bisa d akses oleh gawai yang tidak terdaftar

### Cara untuk mereplikasi errornya

https://www.teupinbeulangan.desa.id/kehadiran/masuk?mac_address=4C:1D:96:57:95:54

https://kueh.desa.id/kehadiran/masuk?mac_address=

[2022-04-12 21:41] eddieridwan commented on #5146
@rezkifernando apakah sudah mempelajari panduan: https://github.com/OpenSID/OpenSID/wiki/Indikator--Pertanyaan-Analisis. Lihat pilihan indikator pertanyaan, misalnya pilihan ganda.

Harap perrtanyaan penggunaan tidak menggunakan issue Github. Issue Github dimaksudkan untuk masalah yg telah diverifikasi memang sesuatu yg perlu diperbaiki oleh programmer.

Jadi harap mencari solusi atau bertanya dul

[2022-04-12 21:41] #5146 closed, assigned to nobody

[2022-04-13 04:25] #4686 closed, assigned to andifahruddinakas

[2022-04-13 05:00] agungsugiarto commented on #4940
Sudah di fitur premium melalui pr https://github.com/OpenSID/premium/pull/920

[2022-04-13 05:00] #4940 closed, assigned to andifahruddinakas

[2022-04-13 05:04] WAHYUDIK opened #5148 "Bug/error: Sediakan tombol delet untuk pendataan vaksin"
### Apa kekurangan yg ingin diatasi?

saat ini tidak ada tombol delet untuk menu pendataan vaksin, sehingga apabila ada petugas entri data vaksin mengalami hal kesalahan input data, tidak bisa di delet.
![image](https://user-images.githubusercontent.com/31026980/163104222-d0ba7dd7-6b24-4753-b759-b90914b47d57.png)

### Jelaskan solusi yg diinginkan

sediakan tombol delet, agar ketika ada petugas me

[2022-04-13 05:12] WAHYUDIK opened #5149 "Permintaan fitur: Sediakan fitur keterangan nama/jam petugas entri/edit data vaksin"
### Apa kekurangan yg ingin diatasi?

saat ini ketika petugas melakukan pendataan/entri data vaksin, ada keterangan/info tentang
nama petugas entir/edit
jam entri/edit
seperti halnya yang terjadi pada penduduk

![image](https://user-images.githubusercontent.com/31026980/163104761-b4771059-8571-4a35-908d-5fd999671ebd.png)

### Jelaskan solusi yg diinginkan

ketika petugas melakukan pendataan/entri

[2022-04-13 05:37] agungsugiarto commented on #5106
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/953

[2022-04-13 05:37] agungsugiarto commented on #5147
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/953

[2022-04-13 07:28] tobagus6911 opened #5150 "Permintaan fitur: [LAYANAN MANDIRI] ditampilkan stasus vaksin"
### Apa kekurangan yg ingin diatasi?

di layanan mandiri warga tidak ditampilkan status layanan mandiri. agar warga yang sudah divaksin dapat mendownload sertifikat vaksinnya melalui layanan mandiri

### Jelaskan solusi yg diinginkan

ingin ada vasilitas download sertifikat vaksin

### Apakah ada alternatif lain

-

### Untuk versi OpenSID mana

premium 22.05

### Informasi tambahan

_No response_

[2022-04-13 13:25] andifahruddinakas commented on #4943
Pak @muhtar-coder, untuk lampiran Formulir F 1.01 terbaru.pdf tidak terlalu jelas (buram/kabur). Apakah sudah berlaku secara nasional?

[2022-04-13 13:59] totoprayogo1916 commented on #5145
kalau sudah diperbaiki lewat PR lain,
PR saya bisa di close saja

cc: @yogiperdana @andifahruddinakas

[2022-04-13 14:10] andifahruddinakas commented on #4944
Pak @muhtar-coder, ini di lampirkan disurat mana? Apakah pada Permohonan Kartu Keluarga atau Permohonan Perubahan Kartu Keluarga atau semua surat yang lampirannya F.1.01 juga melampirkan F.1.02?

[2022-04-13 14:13] andifahruddinakas commented on #5145
Siap, akan di cek sama mas @yogiperdana

[2022-04-13 15:12] yogiperdana commented on #5115
Issue ini ditutup karena bug tidak dapat direplikasi

[2022-04-13 15:12] #5115 closed, assigned to nobody

[2022-04-13 15:13] yogiperdana commented on #5117
Issue ini ditutup karena bug tidak dapat direplikasi

[2022-04-13 15:13] #5117 closed, assigned to nobody

[2022-04-13 19:22] Zoel-WB commented on #5143
https://forum.opendesa.id/d/144-data-keluaraga
https://forum.opendesa.id/d/145-import-data-penduduk-sukses-data-keluarga-gagal-kosong-opensid-2204-umum

![image](https://user-images.githubusercontent.com/64481641/163254626-fd053180-acc6-4387-9740-a0abb47a2867.png)

![image](https://user-images.githubusercontent.com/64481641/163254508-aa955140-3890-43ce-8c9b-8114e9299dc8.png)

[2022-04-14 00:59] ariandii opened #5153 "Bug/error: Buang Spasi pada Input IP"
### Jelaskan error yg dialami

Saat ini jika terdapat spasi karena kesalahan copy/paste ke Pengaturan Kehadiran, akan berdampak pada Gawai Tidak Terdaftar.

### Cara untuk mereplikasi errornya

Beri spasi di awal atau akhir IP, maka tetap muncul Gawai tidak terdaftar.

Namun jika spasi di hapus, maka sukses tampil masuk halaman kehadiran.

### Hasil yg diharapkan

Normal.

### Tangkapan layar dan

[2022-04-14 02:06] yogiperdana commented on #5113
Berdasarkan hasil diskusi. Waktu untuk masuk dan keluar tidak dibatasi. Namun jika waktu keluar kurang dari 1 menit waktu masuk maka akan ada konfirmasi apakah tetap ingin keluar atau tidak

[2022-04-14 02:23] balongbesuk opened #5154 "Bug/error: Unduh dan cetak Buku Aparat Pemerintah Desa tidak memunculkan NIK"
### Jelaskan error yg dialami

ketika pengguna ingin mencetak atau mengunduh buku Aparat Pemerintah Desa tidak memunculkan NIK (bagi pengguna yang memilih terdata dalam database)

### Cara untuk mereplikasi errornya

pergi ke administrasi desa > administrasi umum > buku aparat pemerintah desa > pilih aksi lainnya > cetak / unduh > lihat hasil tabel NIK

* catatan kepala desa dan aparatur desa haru

[2022-04-14 04:37] #4687 closed, assigned to andifahruddinakas

[2022-04-14 04:38] #1653 closed

[2022-04-14 04:49] RomziJazz opened #5155 "Permintaan fitur: Sediakan Ubah Lokasi Tempat Tinggal Satu keluarga di Peta"
### Apa kekurangan yg ingin diatasi?

Kesulitan ketika Set Lokasi Tempat Tinggal, karena settingnya dari daftar penduduk satu persatu.

### Jelaskan solusi yg diinginkan

Di Menu Keluarga Sediakan pula Ubah Lokasi Tempat Tinggal di Peta yang otomatis terSet kepada seluruh anggota keluarga.

### Apakah ada alternatif lain

Atau Sediakan menu Simpan untuk seluruh anggota keluarga.

### Untuk versi O

[2022-04-14 05:33] #5113 closed, assigned to yogiperdana

[2022-04-14 05:49] eddieridwan commented on #5155
@RomziJazz sudah lama ada. Perubahan alamat/lokasi keluarga TIDAK dilakukan di Penduduk, tetapi di Keluarga.

<img width="1280" alt="image" src="https://user-images.githubusercontent.com/249563/163321594-bdc5cb9f-cc75-44a7-9a32-7575c5538292.png">

<img width="1280" alt="image" src="https://user-images.githubusercontent.com/249563/163321760-72f0ffd2-2bbc-4d3d-b3a5-12c7f3d37f20.png">

@yogiperdana ,

[2022-04-14 08:51] makhbub opened #5156 "Permintaan fitur: tampilkan dashboard aplikasi pbb di openSID"
### Apa kekurangan yg ingin diatasi?

Aplikasi PBB dibuat terpisah dengan Aplikasi OpenSID, oleh karena itu yg tahu perkembangan pembayaran pbb hanya yg mempunyai akun pbb
Untuk mempermudah penyajian perkembangan pbb di desa (terutama kepada kades), sebaiknya dashboard pbb dapat ditampilkan di opensid.

### Jelaskan solusi yg diinginkan

Tampilkan rekap/ dashboard aplikasi PBB di Opensid seperti d

[2022-04-14 09:00] RomziJazz commented on #5155
Saya maksudkan untuk lokasi di Petanya mas. Saya cari gak ketemu soalnya.

[2022-04-14 09:00] RomziJazz commented on #5155
Saya maksudkan untuk lokasi di Petanya mas, menentukan peta lokasi perkeluarga Saya cari gak ketemu soalnya.

[2022-04-14 09:23] totoprayogo1916 commented on #5153
cukup tambahkan `trim()`
ref: https://www.php.net/manual/en/function.trim.php

[2022-04-14 10:30] muhtar-coder commented on #4944
maaf baru buka,,, terkait format surat F-1.02 adalah jenis surat yang di gunakan untuk pencetakan KK,KTP karena peristiwa tertentu seperti peristiwa pindah,kematian,perkawinan,ubah data dan lain-lain yang outputnya kartu keluarga/KTP/AKTA.

Keluarnya surat F-1.02 akan di sertai surat jenis F-1.01 sebagai acuan percetakan/dikeluarkan nya dokumen terbaru yang akan di cetak

[2022-04-14 16:30] yogiperdana commented on #5154
Mohon maaf pak. Untuk di buku aparatur pemerintahan saya lihat memang tidak ada kolom NIK
![image](https://user-images.githubusercontent.com/14155050/163432899-316119a4-2e02-4494-9409-df0b2968b393.png)

Adanya NIP dan NIPD Pak. Dan dapat ditambahkan pada form berikut:
![image](https://user-images.githubusercontent.com/14155050/163433124-0a08e46e-020e-411e-b9ae-297a52457286.png)

[2022-04-14 17:27] yogiperdana commented on #5153
Terima kasih mas

[2022-04-14 17:53] dwidita commented on #5114
yes

[2022-04-14 18:30] apidong commented on #5150
test

On Wed, 13 Apr 2022 at 14:28, tobagus6911 ***@***.***> wrote:

[2022-04-14 22:06] dwipradana commented on #5143
terima kasih sudah dibanntu followup issuenya pak @Zoel-WB

[2022-04-15 01:16] rudiansyahyunanda opened #5158 "Bug/error: Gagal Saat Impor Data Program Bantuan"
### Jelaskan error yg dialami

gagal saat impor data penerima bantuan pada Program Bantuan.
muncul pesan error seperti gambar berikut, telah saya coba di Desa lain tetap error, saya coba impor dengan template bawaan sistem tanpa mengubahnya juga gagal.

![image](https://user-images.githubusercontent.com/50880846/163502191-f98d4c5b-a66d-4bf9-8fff-9772bcbf1859.png)

### Cara untuk mereplikasi errorn

[2022-04-15 09:10] scqolbu24 opened #5159 "Demo Akun Layanan Mandiri"
### Apa kekurangan yg ingin diatasi?

Saat ini akun layanan mandiri pada web berputar dapat ditambahkan, diubah, maupun dihapus oleh pengguna yang melakukan uji coba.

### Jelaskan solusi yg diinginkan

Harapan dari fitur ini adalah ada satu akun yang secara default tidak dapat dirubah seperti halnya akun pengguna admin dengan password sid304.

Tujuannya adalah:
1. Sebagai akun demo di layanan man

[2022-04-15 22:01] balongbesuk opened #5160 "Permintaan fitur: Tambahkan pencarian No KK Sementara"
### Apa kekurangan yg ingin diatasi?

belum adanya fitur pencarian No KK Sementara seperti halnya yang ada di menu penduduk > aksi lainnya > NIK sementara

### Jelaskan solusi yg diinginkan

agar memudahkan pencarian No KK sementara di menu keluarga

### Apakah ada alternatif lain

-

### Untuk versi OpenSID mana

premium

### Informasi tambahan

sambungan dari #5095 saat ini warna tabel keluarga

[2022-04-16 01:47] andifahruddinakas commented on #5160
Silahkan di cek di bagian select Pilih Status KK

![Screenshot_2022-04-16-09-46-16-58.jpg](https://user-images.githubusercontent.com/57283157/163657059-9c5bc93e-064e-47c3-94a5-489433832368.jpg)

[2022-04-16 01:47] #5160 closed, assigned to nobody

[2022-04-16 03:01] balongbesuk commented on #5160
knp d menu kependudukan tidak d masukkan ke submenu status penduduk juga, karena fungsinya sortir, bukan mencari jd sama dengan sub menu status kk d menu keluarga,

[2022-04-16 03:57] balongbesuk commented on #5154
saya kira NIK

[2022-04-16 03:57] #5154 closed, assigned to yogiperdana

[2022-04-16 04:03] yogiperdana commented on #5155
Baik pak

[2022-04-17 15:24] ariandii opened #5163 "Bug/error: Perbaikan Install Baru Repo Berputar"
### Jelaskan error yg dialami

Pertama kali git clone dari repo http://github.com/OpenSID/Berputar maka ketika lakukan /periksa akan muncul tombol perbaiki mengenai database sebegaimana gambar berikut.

<img width="631" alt="image" src="https://user-images.githubusercontent.com/46939846/163721054-b5e65396-9203-4dee-9dc3-5841bdd21273.png">

### Cara untuk mereplikasi errornya

lakukan install opens

[2022-04-17 15:32] ariandii opened #5164 "Bug/error: Cegah Simpan Penduduk Jika Tanggal Melampaui Hari Penginputan"
### Jelaskan error yg dialami

Ketika input penduduk baru, kolom **tanggal pindah** dan **tanggal lapor** bisa diisi melampaui hari penginputan. sehingga akan menjadi selisih dengan Laporan Bulanan bersangkutan.

<img width="739" alt="image" src="https://user-images.githubusercontent.com/46939846/163721385-7d7f7381-67a2-4d35-8e94-86c17cfc0f93.png">

<img width="622" alt="screenshot_420" src="https

[2022-04-18 02:09] agungsugiarto commented on #5145
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/962

[2022-04-18 02:09] #5145 closed, assigned to yogiperdana

[2022-04-18 02:14] agungsugiarto commented on #5113
Tambahkan konfirmasi keluar melalui pr https://github.com/OpenSID/premium/pull/965

[2022-04-18 02:18] agungsugiarto commented on #5135
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/966

[2022-04-18 02:18] #5135 closed, assigned to yogiperdana

[2022-04-18 03:07] agungsugiarto commented on #2600
Sudah ditambahkan melalui pr https://github.com/OpenSID/premium/pull/937

[2022-04-18 03:07] #2600 closed

[2022-04-18 03:15] agungsugiarto commented on #5066
Sudah di fitur premium melalui pr https://github.com/OpenSID/premium/pull/938

[2022-04-18 03:15] #5066 closed, assigned to andifahruddinakas

[2022-04-18 03:29] agungsugiarto commented on #4798
Sudah di fitru premium melalui pr https://github.com/OpenSID/premium/pull/943

[2022-04-18 03:29] #4798 closed, assigned to andifahruddinakas

[2022-04-18 03:37] agungsugiarto commented on #5136
Sudah di fitur premium melalui pr https://github.com/OpenSID/premium/pull/945

[2022-04-18 03:37] #5136 closed, assigned to andifahruddinakas

[2022-04-18 03:50] andifahruddinakas commented on #4798
Belum digabungkan PR https://github.com/OpenSID/premium/pull/943 mas @agungsugiarto

[2022-04-18 03:53] agungsugiarto commented on #4956
Sudah di fitur premium melalui pr https://github.com/OpenSID/premium/pull/948

[2022-04-18 03:53] #4956 closed, assigned to andifahruddinakas

[2022-04-18 04:31] agungsugiarto commented on #5011
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/957

[2022-04-18 04:31] #5011 closed, assigned to nobody

[2022-04-18 04:59] agungsugiarto commented on #4979
Sudah di fitur premium melalui pr https://github.com/OpenSID/premium/pull/960

[2022-04-18 04:59] #4979 closed, assigned to andifahruddinakas

[2022-04-18 05:12] agungsugiarto commented on #4839
Sudah di fitur premium melalui pr https://github.com/OpenSID/premium/pull/961

[2022-04-18 05:12] #4839 closed, assigned to andifahruddinakas

[2022-04-18 05:45] agungsugiarto commented on #4552
Sudah di fitur premium melalui pr https://github.com/OpenSID/premium/pull/959

[2022-04-18 05:45] #4552 closed, assigned to andifahruddinakas

[2022-04-18 07:07] ariandii opened #5165 "Bug/error: Balik Urutan Tanggal pada Tabel Log Sistem"
### Jelaskan error yg dialami

Sering kali pengguna yang mengalami kendala ketika migrasi DB atau update versi opensid sehingga error, maka pengguna akan buka Log di menu Info Sistem.

Saat ini sering pengguna langsung lihat layar awal ketika buka menu Info Sistem. namun tanggal yang tampil adalah tanggal lampau. Bukan log terakhir yang menunjukkan error ketika itu.

### Cara untuk mereplikasi err

[2022-04-18 08:00] ariandii opened #5166 "Bug/error: Perbaiki Ejaan"
### Jelaskan error yg dialami

<img width="960" alt="image" src="https://user-images.githubusercontent.com/46939846/163776879-04916777-6b1b-45a5-a36c-bfbd41e732c0.png">

### Cara untuk mereplikasi errornya

-

### Hasil yg diharapkan

Nampaknya tertulis Baut, seharusnya Buat

### Tangkapan layar dan log error

-

### Rilis Versi OpenSID

Rilis Premium

### Versi OpenSID

Berputar

### Tema Yang Di

[2022-04-18 09:18] ariandii commented on #5159
selain mencegah hapus akun layanan mandiri, juga cegah hapus data penduduknya yang terkoneksi dengan data akun layanan mandiri  yang di buat default tersebut.

[2022-04-18 09:55] sutaga opened #5167 "Permintaan fitur: Tambahkan Jenis Surat dengan Kop Logo Burung Garuda"
### Apa kekurangan yg ingin diatasi?

Jenis surat yang disediakan OpenSID/OpenDesa masih menggunakan Kop Surat dengan logo Kabupaten, sedangkan terdapat Desa dibeberapa Kabupaten yang sudah menggunakan Kop Surat dengan logo Burung Garuda.

### Jelaskan solusi yg diinginkan

Mohon ditambahkan jenis Surat dengan menggunakan Kop logo burung Garuda, supaya kami bisa menggunakan fitur layanan mandiri.

[2022-04-18 18:24] #4689 closed, assigned to andifahruddinakas

[2022-04-19 03:08] agungsugiarto commented on #5158
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/968/files

[2022-04-19 03:08] #5158 closed, assigned to yogiperdana

[2022-04-19 03:28] agungsugiarto commented on #5164
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/970

[2022-04-19 03:28] #5164 closed, assigned to yogiperdana

[2022-04-19 07:21] agungsugiarto commented on #5165
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/976

[2022-04-19 07:21] #5165 closed, assigned to yogiperdana

[2022-04-19 07:24] agungsugiarto commented on #5166
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/978

[2022-04-19 07:24] #5166 closed, assigned to yogiperdana

[2022-04-19 07:47] agungsugiarto commented on #4681
Sudah di branch hubung warga melalui pr https://github.com/OpenSID/premium/pull/935

[2022-04-19 07:47] #4681 closed, assigned to andifahruddinakas

[2022-04-19 08:01] agungsugiarto commented on #5067
Sudah di fitur premium melalui pr https://github.com/OpenSID/premium/pull/940

![image](https://user-images.githubusercontent.com/10989147/163954966-3e84db0f-3f43-442d-85ff-59665e3edb3e.png)

[2022-04-19 08:01] #5067 closed, assigned to andifahruddinakas

[2022-04-19 08:07] agungsugiarto commented on #4982
Sudah di fitur premium melalui pr https://github.com/OpenSID/premium/pull/942

[2022-04-19 08:07] #4982 closed, assigned to andifahruddinakas

[2022-04-19 08:44] ariandii opened #5169 "Bug/error: Dulu Normal, sekarang Link Status IDM belum ditutup </a>"
### Jelaskan error yg dialami

Link web kemendesa mengenai status IDM tercipta hingga bawah.
nampaknya ini disebabkan belum ditutupnya </a> pada :
$idm->body->mapData->error_msg

file donjo-app/controllers/Status_desa.php

Atau hal lain yang belum diketahui.

<img width="657" alt="screenshot_446" src="https://user-images.githubusercontent.com/46939846/163961843-2bec054c-2b81-4360-b116-e57dad8f4649

[2022-04-19 08:53] agungsugiarto commented on #4367
Sudah difitur premium melalui pr https://github.com/OpenSID/premium/pull/949

[2022-04-19 08:53] #4367 closed

[2022-04-19 09:16] ariandii opened #5170 "Bug/error: Data Staf Belum nampak di Tabel Pengguna"
### Jelaskan error yg dialami

Agar mudah dilihat apakah pengguna perlu ditautkan ke data staf atau tidak.
Jika sudah ditautkan dengan salah satu Data Staf, maka perlu adanya info yang tampil di tabel.

Hal ini agar mudah dalam memastikan apakah sebuah pengguna sudah memiliki Data Staf atau tidak.

(Tidak semua pengguna terhubung dengan Data Staf, namun Data Staf yang ingin memanfaatkan Fitur Keha

[2022-04-19 12:43] agungsugiarto commented on #5153
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/967

[2022-04-19 12:43] #5153 closed, assigned to yogiperdana

[2022-04-19 12:54] andifahruddinakas commented on #5106
Mas @yogiperdana

[2022-04-19 12:55] agungsugiarto commented on #5163
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/979

[2022-04-19 12:55] #5163 closed, assigned to yogiperdana

[2022-04-20 03:37] yogiperdana commented on #5169
Saya coba di berputar aman pak

![image](https://user-images.githubusercontent.com/14155050/164145048-0e36f9f1-c225-46fd-ba63-203625a14bc6.png)

![image](https://user-images.githubusercontent.com/14155050/164145420-bb24a26c-0731-4a23-ae21-7c87ed374504.png)

[2022-04-20 03:40] yogiperdana commented on #5106
oke mas

[2022-04-20 06:16] ariandii opened #5171 "Bug/error: Halaman Dashboard Admin Sekarang Berantakan."
### Jelaskan error yg dialami

Bisa coba buka web berputar dan login admin di hp.

![Screenshot_2022-04-20-13-14-21-92_40deb401b9ffe8e1df2f1cc5ba480b12](https://user-images.githubusercontent.com/46939846/164162622-ffc1f18d-2512-4836-953f-941172e6d4ca.jpg)

![Screenshot_2022-04-20-13-33-51-05_40deb401b9ffe8e1df2f1cc5ba480b12](https://user-images.githubusercontent.com/46939846/164165341-cec0f7d5-051

[2022-04-20 06:57] Cvar1984 opened #5172 "Bug/error: Local arbitrary file code execution"
### Jelaskan error yg dialami

dapat mengeksekusi php secara bebas dalam konfigurasi environment

### Cara untuk mereplikasi errornya

.env
[code]

### Hasil yg diharapkan

sebuah peringatan error dalam konfigurasi

### Tangkapan layar dan log error

![image](https://user-images.githubusercontent.com/32727560/164168453-f485c696-eaab-4c65-8ed4-11a359508367.png)

### Rilis Versi OpenSID

Rilis Umum

[2022-04-21 03:06] yogiperdana commented on #5143
Issue ini ditutup karena aturan impor sudah disesuaikan
ref: https://github.com/OpenSID/OpenSID/issues/4996

[2022-04-21 03:13] yogiperdana commented on #5169
@ariandii

[2022-04-21 03:26] ariandii commented on #5169
oke, saya cek di berputar sudah diperbaiki.
mungkin persiapan rilis bulan depan.

<img width="648" alt="image" src="https://user-images.githubusercontent.com/46939846/164365891-a2dcfbbe-b4bf-499b-a184-1be9e0c66028.png">

[2022-04-21 03:26] #5169 closed, assigned to yogiperdana

[2022-04-21 04:56] andifahruddinakas opened #5173 "Perhitungan laporan keuangan impor dan manual tidak konsisten setelah perubahan"
Cek perubahan dari issue Perhitungan laporan keuangan impor dan manual tidak konsisten setelah perubahan https://github.com/OpenSID/OpenSID/issues/5118

Cek komentar https://github.com/OpenSID/premium/pull/916#issuecomment-1092636857

Bagian yang perlu diperbaiki :
1. Perhitungan laporan keuangan manual sama dengan laporan keuangan impor
2. Widget keuangan pada bagian kiri tidak konsisten / tidak

[2022-04-21 06:15] balongbesuk opened #5174 "Bug/error: BUG? https://opendata.arcgis.com/datasets/0c0f4558f1e548b68a1c82112744bad3_0.geojson not found"
### Jelaskan error yg dialami

console browser peta memunculkan error buka peta https://berputar.opendesa.id/peta lihat console 404 not found

### Cara untuk mereplikasi errornya

buka peta https://berputar.opendesa.id/peta lihat console

### Hasil yg diharapkan

diperbaiki

### Tangkapan layar dan log error

![image](https://user-images.githubusercontent.com/35319600/164386318-d7e684c4-ce0d-4fa1-

[2022-04-21 06:32] balongbesuk opened #5175 "Bug/error: api.kawalcorona.com sudah tidak ada"
### Jelaskan error yg dialami

api.kawalcorona.com sudah tidak ada perlukah d ganti atau d hapus?

### Cara untuk mereplikasi errornya

gak tau fungsinya apa, mungkin berkaitan dengan menu covid19,

### Hasil yg diharapkan

berjalan normal entah fungsiny buat apa

### Tangkapan layar dan log error

![photo6271789551366288180](https://user-images.githubusercontent.com/35319600/164388912-00e4de49-62

[2022-04-21 06:55] eddieridwan commented on #5175
![image](https://user-images.githubusercontent.com/249563/164392415-9cb4cbb7-d58d-4c18-9854-2c5a4a0e1347.png)
https://www.facebook.com/groups/OpenSID/posts/2111018302396473/

[2022-04-21 07:11] yogiperdana commented on #5143
Duplikat issue https://github.com/OpenSID/OpenSID/issues/4484. Issue ini akan diperbaiki di rilis berikutnya yaitu 22.05 umum bulan depan

[2022-04-21 12:26] balongbesuk opened #5176 "Bug/error: BUG? no kk menikah dan tanggal menikah hilang ketika status dasar dirubah menjadi cerai mati"
### Jelaskan error yg dialami

arsip no akta nikah seharusnya masih tersimpan sebagai arsip desa tapi malah hilang / tidak tersimpan ketika penduduk dirubah statusnya

### Cara untuk mereplikasi errornya

pergi ke menu kependudukan > ubah data penduduk > status kawin > isi no dan tanggal kawin > simpan > ubah kembali ke status dasar mati > lihat no dan tanggal kawin hilang

### Hasil yg diharapkan

[2022-04-21 13:12] totoprayogo1916 commented on #5172
format dir mestinya sudah diubah sejak lama,
sehingga akses ke `.env` tidak bisa direct

contoh langsung sudah seperti pada framework lain yang up-to-date dengan menggunakan folder `public`

ref format contoh:
- https://github.com/bcit-ci/starter3.1
- https://github.com/kenjis/codeigniter-composer-installer

[2022-04-21 16:33] sulaimanlawidhub opened #5177 "Bug/Error: Data Jumlah Keluarga tidak muncul pada Statistik Penduduk untuk Laporan Bulanan"
Seharusnya Data Jumlah Keluarga muncul pada Statistik Penduduk untuk Laporan Bulanan. @andifahruddinakas

[2022-04-22 00:57] eddieridwan commented on #5175
@yogiperdana @andifahruddinakas Jika tidak bisa ditemukan sumber data Covid-19 yg lain, hapus saja fitur terkait, baik di web maupun di peta.

[2022-04-22 02:38] yogiperdana commented on #5175
Baik pak

[2022-04-22 02:51] Cvar1984 commented on #5172
akses kesana memang tidak bisa direct, tetapi ada banyak teknik yg bisa di kombinasikan dengan bug tersebut

[2022-04-22 03:27] totoprayogo1916 commented on #5172
biasanya file tsb emang diprotect dari server ...
sayangnya di openSID ku perhatikan emang tidak mengedepankan `.env`
saya pernah coba ternyata formatnya PHP seperti pada obrolan pada #4572

dimana CI3 emang tidak include
harus manual menggunakan library https://github.com/vlucas/phpdotenv atau lainnya

[2022-04-22 03:35] andifahruddinakas commented on #5172
Mas @totoprayogo1916, @Cvar1984, untuk .env hanya di gunakan di local development dan tidak untuk rilis production.

Pengaturan yg berkaitan dgn tersebut (.env) sudah ada di config desa masing2.

Silahkan cek di web demo.

Karena OpenSID tidak sepenuhnya menggunakan composer (masih harus unggah folder vendor), jadi untuk development di local akan sulit di tangani.

Untuk peralihan dari penggunaan

[2022-04-22 03:42] totoprayogo1916 commented on #5172
iya mas ..
dan FYI
/composer.json
dan file lain mungkin bisa dilihat publik
karena file index ada pada root yang sama

contoh yang tidak terblock oleh server: https://berputar.opendesa.id/composer.json

file index memang seharusnya sudah dipisah seperti framework lain seperti symfony, laravel, CI4 atau lainnya yang sudah menerapkan "public" untuk diakses pertama kali

[2022-04-22 03:57] andifahruddinakas commented on #5172
Folder yg di amankan ada di bagian folder desa, untuk yang lainnya karena sifatnya terbuka (strukturnya bisa di lihat di repo github) bisa mengetahui isinya. Apa informasi composer.json perlu di sembunyikan? Sedangkan informasi tsb bisa di lihat di repo.

[2022-04-22 04:06] totoprayogo1916 commented on #5172
pertanyaannya,
apakah tiap library yang dipakai dalam composer.json sudah tidak ada bug lagi?
jika sudah aman, mungkin.... tidak perlu untuk disembunyikan ...

[2022-04-22 04:08] totoprayogo1916 commented on #5172
dan semua memang mudah untuk diakses lewat repo,
tapi setiap web yang dionlinekan apakah perlu menyembunyikan versinya (termasuk library)?
dan tiap web yang online belum tentu up-to-date dengan versi penyelesaian issue (bug)

[2022-04-22 05:08] balongbesuk commented on #5175
https://covid19.go.id/dokumentasi-api

ini mungkin?

[2022-04-22 05:19] balongbesuk commented on #5175
https://api.covid19.bnn.go.id/docs/

atau ini?

[2022-04-22 06:43] Wiliyantoro opened #5178 "Permintaan fitur: Penambahan Jenis Pilihan Tombol Keluar di Fitur Kehadiran Perangkat dan Rekapitulasi"
### Apa kekurangan yg ingin diatasi?

belum tersedianya pilihan keluar :
1. Kategori Keluar Karena Waktunya sudah Keluar
2. Kategori Keluar Karena Alasan Lain misal : Keluar Karena Melakukan Perjalanan Dinas.
3. Perangkat yang sama sekali tidak melakukan Absen Masuk dan Absen Keluar tidak terdata di Rekapitulasi

Kategori di atas akan nyambung dengan Laporan Rekapitulasi Kehadiran pada Status Keha

[2022-04-22 06:57] agungsugiarto commented on #712
Sudah di fitur premium melalui pr https://github.com/OpenSID/premium/pull/944

[2022-04-22 06:57] #712 closed

[2022-04-22 08:41] #4684 closed, assigned to andifahruddinakas

[2022-04-22 08:41] #4682 closed, assigned to andifahruddinakas

[2022-04-22 08:41] #4688 closed, assigned to andifahruddinakas

[2022-04-22 09:53] agungsugiarto commented on #4481
Sudah di fitur premium melalui pr https://github.com/OpenSID/premium/pull/963

[2022-04-22 09:53] #4481 closed, assigned to andifahruddinakas

[2022-04-22 10:38] yogiperdana commented on #5177
Saya coba muncul pak

![image](https://user-images.githubusercontent.com/14155050/164699117-4834ce9a-30a3-4d19-b276-7bb6349e3b8e.png)

[2022-04-22 10:39] yogiperdana commented on #5177
Mohon sertakan tangkapan layar dan informasi versi yang digunakan

[2022-04-22 11:46] ariandii opened #5179 "Permintaan fitur: Sediakan Daftar Kontak Penduduk"
### Apa kekurangan yg ingin diatasi?

Belum ada Tabel Daftar Kontak Penduduk.

<img width="960" alt="screenshot_536" src="https://user-images.githubusercontent.com/46939846/164708515-1bc2e034-1684-40d9-85f1-594be7284554.png">

### Jelaskan solusi yg diinginkan

Selain tabel daftar Kontak External, juga tersedia tabel khusus penduduk yang sudah memiliki kontak.

### Apakah ada alternatif lain

-

#

[2022-04-22 17:18] Cvar1984 commented on #5172
Tentu saja karena dengan keterbacaan composer.json kita bisa tahu dependency apa saja dan versi berapa yg terinstall disana, jika seorang user menginstall dependency yg memiliki bug critical bisa saja di exploitasi secara bebas

[2022-04-22 17:26] yogiperdana commented on #5176
Berjalan seperti hasil yang diharapkan pada Versi 22.04-premium-rev02

[2022-04-22 21:00] balongbesuk commented on #5176
mohon sekiranya web berputar mengikuti rilis terbaru

[2022-04-23 05:13] balongbesuk opened #5180 "Permintaan fitur: icon waktu posting artikel hilang"
### Jelaskan error yg dialami

seingat saya disamping pengaturan tanggal posting juga ada pengaturan waktu posting

### Cara untuk mereplikasi errornya

menu admin web > tambah artikel > perhatikan pop up tanggal posting > logo waktu posting hilang

### Hasil yg diharapkan

waktu posting muncul kembali

### Tangkapan layar dan log error

![image](https://user-images.githubusercontent.com/35319600/

[2022-04-23 08:18] balongbesuk opened #5181 "Bug/error: BUG? sesi login gagal mengulangi waktu hitung tunggu untuk login kembali"
### Jelaskan error yg dialami

ketika pengguna layanan mandiri gagal login 3x muncul jeda sesi waktu tidak diperbolehkan login yang berulang dan random tidak menentu misal jika dari 34 detik kemudian setelah mencapai angka 0 muncul kembali dengan waktu 15 detik kemudian setelah mencapai angka 0 muncul kembali dengan waktu 7 detik setelah mencapai angka 0 muncul kembali dengan angka 3 detik,

terka

[2022-04-23 08:37] balongbesuk opened #5182 "Permintaan fitur: Tambahkan NoIndex pada Halaman kehadiran"
### Apa kekurangan yg ingin diatasi?

header meta halaman kehadiran tidak ada informasi membolehkan robot mengindex halaman atau tidak

### Jelaskan solusi yg diinginkan

tambahkan

`<meta name="robots" content="noindex">`

agar halaman kehadiran tidak terindex oleh google

### Apakah ada alternatif lain

-

### Untuk versi OpenSID mana

Premium

### Informasi tambahan

halaman kehadiran hanya mer

[2022-04-23 23:15] eddieridwan opened #5183 "Bug/error: Tampilan Persetujuan Penggunaan OpenSID memperlihatkan \n"
### Jelaskan error yg dialami

Pada install awal, peringatan Persetujuan Penggunaan OpenSID menampilkan karakter yg tidak seharusnya tampil.
Dan tombol Tidak tidak me-logout pengguna.

### Cara untuk mereplikasi errornya

1. Install dari awal
2. Buka menu Kependudukan > Penduduk atau menu lain yg akan memicu ditampilkannya peringatan
3. Perhatikan pesan Persetujuan Penggunaan OpenSID yg tampil
4.

[2022-04-24 00:19] eddieridwan commented on #5014
Dengan solusi yg diterapkan, proses install awal menjadi sebagai berikut:

1. pasang script OpenSID
2. buka OpenSID
3. ikuti petunjuk yang ditampilkan, sbb:

<img width="752" alt="image" src="https://user-images.githubusercontent.com/249563/164950400-c60e1db2-aeb1-4fc4-b7eb-ddb49f017b24.png">

Folder desa dan data awal akan dibuat secara otomatis pada langkah (2).

Data awal itu tidak berisi data

[2022-04-24 00:26] eddieridwan commented on #5014
Untuk testing solusi ini, lakukan:

1. ikuti langkah untuk install awal seperti di atas
2. ikuti langkah untuk install awal seperti di atas, tapi buat database kosong sebelum membuka OpenSID
3. ikuti langkah seperti (2) di atas, tapi juga dengan membuat folder desa sebelum membuka OpenSID
4. ikuti langkah seperti (3) di atas, tapi juga dengan mengisi file desa/config/database.php dengan benar sebe

[2022-04-24 01:14] eddieridwan commented on #5014
Untuk tema natra, karena tidak ada lagi contoh data awal, tidak ada lagi menu login. Dengan demikian, issue https://github.com/OpenSID/tema-natra/issues/104#issuecomment-1088537968 perlu juga diterapkan.

[2022-04-24 20:53] Zoel-WB opened #5184 "[V22.04 PREMIUM-REV02] Pilih atau Penanda Lokasi Penduduk dan Keluarga Pada Peta"
### Jelaskan error yg dialami

Saat memilih legenda letak lokasi penduduk pada peta;
1. Pilihan Penanda lokasi penduduk atau lokasi keluarga --> peta tidak merespon untuk menampilkan lokasi penduduk atau letak suatu Kepala Kelurga
2. Setelah Diklik Untuk Memilih salah satu dari lokasi penduduk peda peta menu legendanya menjadi macet

### Cara untuk mereplikasi errornya

1. Buka Menu Penduduk --> P

[2022-04-24 21:17] sulaimanlawidhub commented on #5177
![Screenshot_20220422_003020.jpg](https://user-images.githubusercontent.com/92381858/164996936-2860b1f4-ac7c-4664-a684-5af25f4d6333.jpg)

[2022-04-24 21:17] sulaimanlawidhub commented on #5177
Versi yang digunakan adalah 22.04 rev02

[2022-04-24 21:33] sulaimanlawidhub opened #5185 "Bedakan tampilan informasi dan isi data perincian pada legenda peta untuk penduduk dan keluarga"
Tampilan informasi dan isi data perincian pada legenda peta seharus perlu berbeda untuk pilihan penduduk dan keluarga pada legenda peta. Khusus untuk data yang ditampilkan pada legenda keluarga agar yang ditampilkan informasi tentang jumlah anggota keluarga, sehingga saat perincian dibuka agar langsung masuk pada rincian anggota keluarga.

[2022-04-25 03:18] khiar-rara opened #5186 "Permintaan fitur: Aplikasi/ Website untuk BUMDes"
### Apa kekurangan yg ingin diatasi?

Dalam rangka promosi dan penyampaian informasi mengenai perkembangan dan kegiatan BUMDes atau mungkin menarik investasi.

### Jelaskan solusi yg diinginkan

Mengubah source kode opensid premium :
A. Dashboard Admin
1. Menghapus modul antara lain : modul siaga covid, modul statistik, modul layanan surat, modul buku administrasi desa, moduk keuangan, modul anali

[2022-04-25 03:32] andifahruddinakas commented on #5175
@yogiperdana

[2022-04-25 03:33] khiar-rara commented on #5184
![image](https://user-images.githubusercontent.com/74307159/165016310-bc3f27cc-478a-4ae7-948b-7033dd878bd3.png)
aman aman saja bang

[2022-04-25 05:10] Zoel-WB commented on #5184
Test input atau masukkan data baru, bukan dari data yg sudah ada utuk ditampilkan, cara mereplikasi error (1).

[2022-04-25 05:21] andifahruddinakas commented on #5182
Sudah di tambahkan, cek view-source:https://berputar.opendesa.id/kehadiran/masuk

[2022-04-25 05:21] #5182 closed, assigned to nobody

[2022-04-25 07:08] khiar-rara commented on #5184
input baru aman. kalau penduduk yang belum ada titik koordinatnya memang ga ada hasilnya tapi peta dan fitur aman aman saja.

[2022-04-25 07:19] khiar-rara commented on #5184
ehh, jadi inget bang. bulan lalu disaya sempat error juga, control panel legenda di klik ngga jadi. di maps.php yang load fitur pencarian saya kunci pakai div langsung aman. kalau masalah yang kakak alami berbeda mohon maaf

[2022-04-25 08:15] andifahruddinakas opened #5187 "Bug/error: Kosongkan DB, jam kerja pada modul kehadiran juga terhapus"
### Jelaskan error yg dialami

Saat melakukan Kosongkan DB, jam kerja pada modul kehadiran juga terhapus.

### Cara untuk mereplikasi errornya

Buka pengaturan > database > kosongkan DB

### Hasil yg diharapkan

data jam kerja pada modul kehadiran tidak terhapus

### Tangkapan layar dan log error

...

### Rilis Versi OpenSID

Rilis Premium

### Versi OpenSID

v22.04

### Tema Yang Digunakan

bawa

[2022-04-25 09:07] balongbesuk commented on #5184
d sy normal, cb d test d website berputar

[2022-04-25 09:09] balongbesuk commented on #5177
nomal, cb d cek data keluarga jgn jgn kosong lg

[2022-04-25 09:25] sulaimanlawidhub commented on #5177
Harus dicek di tabel mana yah ?

[2022-04-25 09:27] sulaimanlawidhub commented on #5177
Saya sudah coba juga dengan mengosongkan DB, lalu kemudian mengimpor data penduduk contoh dari berputar, hasilnya sama atau data dimaksud memang tidak muncul.

[2022-04-25 09:58] yogiperdana commented on #5184
Saya coba di berputar aman pak @Zoel-WB

[2022-04-25 10:03] yogiperdana commented on #5172
Issue ini ditutup karena untuk production tidak menggunakan file .env (hanya untuk developmen), untuk kasus akses composer.json itu karena masalah struktur directory yang tidak mengikuti standar FW yang seharusnya

[2022-04-25 10:03] #5172 closed, assigned to nobody

[2022-04-25 10:17] balongbesuk commented on #5177
menu kependudukan > keluarga (ada isinya tidak?)

versi 22.04 kl tidak salah ada bug import data penduduk tidak memasukkan data keluarga, mungkin berimbas ke menu statistik ini,

[2022-04-25 11:08] sulaimanlawidhub commented on #5177
Menu keluarga pada kependudukan ada isinya.

Saat impor data penduduk, data penduduk dan data keluarga terisi jumlah data secara otomatis, hanya saja pada data Laporan Bulanan pada Statistik tidak muncul data jumlah keluarga saja. Mohon solusinya.

[2022-04-25 11:09] sulaimanlawidhub commented on #5177
Menu keluarga pada kependudukan ada isinya.

Saat impor data penduduk, data penduduk dan data keluarga terisi jumlah data secara otomatis, hanya saja pada data Laporan Bulanan pada Statistik tidak muncul data jumlah keluarga saja. Mohon solusinya.

[2022-04-25 11:10] sulaimanlawidhub commented on #5177
Versi Opensid yang digunakan adalah 22.04 rev02 premium

[2022-04-25 11:11] sulaimanlawidhub commented on #5177
Apakah ini dicoba pada berputarkah ?

[2022-04-25 11:13] sulaimanlawidhub commented on #5177
Dicoba dimana yah ?

[2022-04-25 11:14] totoprayogo1916 commented on #5172
penambahan `.env` pada index.php mending dihapus ...
karena pada prakteknya waktu develop juga jarang memakai ini ...

[2022-04-25 12:38] balongbesuk commented on #5186
https://github.com/bagussatoto/BundesApp

sp tau programerny bs d ajak sekalian  🤭

[2022-04-25 12:42] Zoel-WB commented on #5184
Apaka mungkin database saya, tapi pilih periksan aman tidak menampilkan informasi kesalahan, coba saya restore data sebelum update dulu berarti.. bila yg lain aman issue ini dapat close pak @yogiperdana

[2022-04-25 13:59] agungsugiarto opened #5188 "Bug/error: [Pesan OpenSID-OpenDK] Error 500, ketika table belum termigrasi"
### Jelaskan error yg dialami

Error 500, ketika table belum termigrasi

### Cara untuk mereplikasi errornya

Akses ke menu dashboard (hom_sid)

### Hasil yg diharapkan

Bisa berjalan

### Tangkapan layar dan log error

<img width="851" alt="image" src="https://user-images.githubusercontent.com/10989147/165104345-4180c264-c8d5-47f2-aa8d-0781f71b056a.png">

### Rilis Versi OpenSID

Rilis Premium

#

[2022-04-25 14:26] agungsugiarto commented on #5173
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/986

[2022-04-25 14:26] #5173 closed, assigned to yogiperdana

[2022-04-25 14:36] agungsugiarto commented on #5187
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/998

[2022-04-25 14:36] #5187 closed, assigned to andifahruddinakas

[2022-04-25 15:02] yogiperdana commented on #5184
Baik pak @Zoel-WB. Mohon konfirmasi apabila masih terjadi kesalahan

[2022-04-25 15:12] Zoel-WB commented on #5184
System saya sekarang mungkin setelah update nanti baru dapat disimpulkan kalau sekarang kondisi di lokasi penduduk dalam TDK optimal, saya coba restore dari database masih belum respon...

[2022-04-25 18:56] eddieridwan opened #5189 "Bug/error: Setelah periksa/perbaiki kesalahan database, migrasi mulai dari awal"
### Jelaskan error yg dialami

Pada database yg berisi kesalahan yg terdeteksi oleh fitur Periksa, setelah diperiksa/perbaiki, terjadi error, karena migrasi dijalankan dari awal, bukan dari versi database.

### Cara untuk mereplikasi errornya

1. Sengaja gunakan database yang berisi error yg terdeteksi, seperti tidak ada autoincrement pada suatu tabel.
2. Buku OpenSID, supaya error tersebut terdet

[2022-04-25 20:14] eddieridwan commented on #5189
@andifahruddinakas @agungsugiarto kalau saya kembalikan ke versi v22.04-premium, nomor versi mulai migrasi betul.

Tetapi setelah melakukan perbaiki, ada error seperti di bawah.

<img width="1260" alt="image" src="https://user-images.githubusercontent.com/249563/165166559-5e0781e6-39db-4df2-85e0-750efc95e737.png">

Apakah masalah di sistem saya?  Saya tidak bisa menemukan penyebabnya.

[2022-04-25 20:38] andifahruddinakas commented on #5189
Semalam sudah digabung pak @eddieridwan, tidak lg menggunakan cache untuk helper setting() krn mmqng ada masalah dr penggunaan cache tsb.

[2022-04-25 22:32] eddieridwan commented on #5189
@andifahruddinakas masih error, setelah git pull rilis-dev

<img width="1300" alt="image" src="https://user-images.githubusercontent.com/249563/165185507-985408a6-6a30-47c5-a5de-e1713d9001ce.png">

[2022-04-25 22:59] balongbesuk commented on #5177
Bug ini muncul ketika pengguna baru menginstall opensid > impor data penduduk > pada statistik penduduk > laporan bulanan > jumlah KK tidak ikut terjumlah,

sedangkan pada buku administrasi penduduk > rekapitulasi jumlah penduduk > jumlah KK muncul

sy coba telusuri mentok d versi premium-21.08 (entah file opensid premium yang lama ada dimana) yang ternyata hasilnya sama,

[2022-04-26 00:44] sulaimanlawidhub commented on #5177
Saya juga telah melakukan hal yang sama, hasilnya sama. Hanya saja belum mencoba pada versi opensid umum.

[2022-04-26 00:48] sulaimanlawidhub opened #5190 "Bug/Error: Pada statistik penduduk > laporan bulanan > jumlah KK tidak ikut terjumlah."
Bug ini muncul ketika pengguna baru menginstall opensid > impor data penduduk > pada statistik penduduk > laporan bulanan > jumlah KK tidak ikut terjumlah, sedangkan pada buku administrasi penduduk > rekapitulasi jumlah penduduk > jumlah KK muncul.

[2022-04-26 01:25] balongbesuk commented on #5177
versi 21.10 umum

![image](https://user-images.githubusercontent.com/35319600/165200486-046dac1d-9ef7-4168-86e8-709c13fe920e.png)

data KK masuk

[2022-04-26 01:27] balongbesuk commented on #5190
tidak perlu membuat issue ulang

duplicate #5177

[2022-04-26 01:41] sulaimanlawidhub commented on #5177
Ini menarik. Bagaimana caranya agar versi umum ini digunakan menjadi premium ?

[2022-04-26 01:41] sulaimanlawidhub commented on #5177
Ini menarik. Bagaimana caranya agar versi umum ini digunakan menjadi premium ?

[2022-04-26 01:46] agungsugiarto commented on #5189
Mas @andifahruddinakas, sepertinya dua pemeriksaan ini tidak menyertakan data versi?

https://github.com/OpenSID/premium/blob/0c29c07e6410a6a3a0c0cb112105683ce7f7933e/donjo-app/models/Periksa_model.php#L178-L193

[2022-04-26 02:09] agungsugiarto commented on #5188
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/999

[2022-04-26 02:09] #5188 closed, assigned to apidong, andifahruddinakas

[2022-04-26 02:23] agungsugiarto commented on #5171
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/982

[2022-04-26 02:23] #5171 closed, assigned to yogiperdana

[2022-04-26 03:33] andifahruddinakas commented on #5189
Sudah diperbaiki melalui PR https://github.com/OpenSID/OpenSID/issues/5189

[2022-04-26 03:33] #5189 closed, assigned to andifahruddinakas

[2022-04-26 03:51] Wiliyantoro opened #5191 "Bug/error: Tidak bisa mengirim kode OTP Telegram"
### Jelaskan error yg dialami

saat submit kirim OTP telegram verifikasi Layanan Mandiri tidak bisa menerima Kode OTP

### Cara untuk mereplikasi errornya

GuzzleHttp\Exception\ClientException: Client error: POST https://api.telegram.org/botxxxxxxx:xxxxxxxxxxxxxxx/sendMessage resulted in a 400 Bad Request response:
{"ok":false,"error_code":400,"description":"Bad Request: chat not found"} in /home/

[2022-04-26 05:35] andifahruddinakas opened #5192 "Bug/error: Notifikasi saat kembalikan ke pengaturan default server selalu error"
### Jelaskan error yg dialami

Saat mengembalikan pengaturan default server, notifikasi yang ditampilkan selalu error.

### Cara untuk mereplikasi errornya

1. Buka modul pengturan > modul
2. Atur terlebih dahulu menjadi :
-
![aturan error](https://user-images.githubusercontent.com/57283157/165228655-26acc225-d517-4e68-8e9e-d3b0cabfc144.png)
3. Simpan
4. Kemudian tekan tombol kembalikan ke default

[2022-04-26 06:48] yogiperdana commented on #5184
Issue di close karena bug tidak dapat direpliaksi. Silahkan menghubungi lagi apabila masih terjadi masalah

[2022-04-26 06:49] #5184 closed, assigned to yogiperdana

[2022-04-26 06:57] apidong commented on #4722
sudah di perbaiki di https://github.com/OpenSID/premium/pull/880

[2022-04-26 06:57] #4722 closed, assigned to apidong

[2022-04-26 06:59] balongbesuk commented on #5177
install awal aja yg umum upload data penduduk beres semua kmudian upgrade k premium

[2022-04-26 07:20] balongbesuk commented on #5177
![image](https://user-images.githubusercontent.com/35319600/165244129-17a217ca-5439-4ab5-9321-006460082e0c.png)

versi 21.11 umum masuk

[2022-04-26 07:20] yogiperdana commented on #5183
Buatkan tampilan untuk mengakomodasi view yang menggunakan blade engine

[2022-04-26 07:27] yogiperdana commented on #5180
Setelah dicari beberapa bulan kebelakang kami tidak menemukan adanya fitur/icon tesebut. Jadi issue ini kami ubah ke permintaan fitur

[2022-04-26 07:28] balongbesuk commented on #5177
![image](https://user-images.githubusercontent.com/35319600/165245441-0d77b25d-f977-45ff-881e-71564f1b24a1.png)

mulai bug disini 21.12

[2022-04-26 18:11] denhaq commented on #251
Bro, saya punya kasus yg sama, tp file program_bantuan_model.php diatas saya ganti, hasilnya halaman  penduduk TETAP tidak tampil. mohon dibantu

[2022-04-26 18:12] denhaq commented on #251
![Uploading Screenshot_20220427-010519_Chrome.jpg…]()

[2022-04-26 20:18] denhaq commented on #251
![Screenshot_20220427-031717_Chrome](https://user-images.githubusercontent.com/74194679/165384941-126aad76-e932-4cdf-936d-9e6600ded916.jpg)

halaman penduduk

[2022-04-26 20:23] denhaq commented on #251
![Uploading Screenshot_20220427-032313_Chrome.jpg…]()

[2022-04-26 20:24] denhaq commented on #251
![Screenshot_20220427-032313_Chrome](https://user-images.githubusercontent.com/74194679/165385864-5f2c6b7a-e9fe-4c9d-8a69-d38df5bb1cb2.jpg)

[2022-04-26 20:26] denhaq commented on #251
![Screenshot_20220427-032546_Chrome](https://user-images.githubusercontent.com/74194679/165386229-587de39b-1be9-4a98-bc91-f4055201bc09.jpg)

halaman Data Pemilih

[2022-04-26 22:25] andifahruddinakas commented on #5177
@yogiperdana

[2022-04-26 22:25] andifahruddinakas commented on #251
versi yang digunakan? Silahkan di update ke versi terbaru.

[2022-04-27 00:54] ahmadfarhan91 commented on #5178
Smoga dpt d tambahkan

[2022-04-27 01:37] eddieridwan opened #5193 "Permintaan fitur: Pasang easyWA di server OpenDesa untuk digunakan OpenSID"
### Apa kekurangan yg ingin diatasi?

Saat ini, modul Hubung Warga belum terkoneksi dengan WA Gateway untuk pengiriman/penerimaan pesan WhatsApp.

Fitur ini diperlukan, supaya OpenDesa dapat menyediakan bagi pelanggan hosting; dan juga supaya pengguna OpenSID mandiri dapat dengan lebih mudah menghubungkan dengan WA Gateway pilihan mereka.

### Jelaskan solusi yg diinginkan

Pasang easyWA (https://

[2022-04-27 03:13] yogiperdana commented on #5191
Saya coba di berputar berhasil mas. Pastikan sudah mengikuti langkah ini
![image](https://user-images.githubusercontent.com/14155050/165432507-111b4156-dfc4-4f3c-ab7f-56048430c349.png)

https://github.com/OpenSID/OpenSID/wiki/Pendaftaran-Layanan-Mandiri-Online#pengaturan-konfigurasi-telegram

[2022-04-27 03:15] yogiperdana commented on #5191
Pastikan sudah membuat bot telegram dan mengcopy tokennya ke pengaturan aplikasi

[2022-04-27 04:02] denhaq commented on #251
Skrg pakai versi umum 22.04
Untuk versi umum apa sudah ada yg baru kak ?

Pada tanggal Rab, 27 Apr 2022 05:26, Andi Fahruddin Akas <
***@***.***> menulis:

[2022-04-27 04:13] Wiliyantoro commented on #5191
Sudah di pengaturan aplikasi sudah seting bot nya, kalau pun salah,, notifikasi di group telegram bisa

[2022-04-27 04:13] Wiliyantoro commented on #5191
Notifikasi loginnya berjalan, cuma kirim kode otp saja bermasalah

[2022-04-27 05:47] andifahruddinakas commented on #251
Cek di rilis

[2022-04-27 07:11] yogiperdana commented on #5106
Issue ini di close karena mac address sudah bisa berfungsi sebagaimana mestinya

[2022-04-27 07:11] #5106 closed, assigned to yogiperdana

[2022-04-27 07:40] agungsugiarto commented on #5174
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/995

[2022-04-27 07:40] #5174 closed, assigned to yogiperdana

[2022-04-27 07:45] yogiperdana opened #5194 "Bug/error: error ketika klik bantuan pada layanan mandiri"
### Jelaskan error yg dialami

ketika klik menu bantuan diarahkannya ke perangkat

### Cara untuk mereplikasi errornya

Login halaman mandiri dan klik bantuan

### Hasil yg diharapkan

berjalan normal

### Tangkapan layar dan log error

-

### Rilis Versi OpenSID

Rilis Premium

### Versi OpenSID

v22.04

### Tema Yang Digunakan

_No response_

### Informasi tambahan

_No response_

[2022-04-27 08:56] agungsugiarto commented on #5175
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/996

[2022-04-27 08:56] #5175 closed, assigned to yogiperdana

[2022-04-27 08:59] agungsugiarto commented on #5192
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/1004

[2022-04-27 08:59] #5192 closed, assigned to andifahruddinakas

[2022-04-27 09:10] agungsugiarto commented on #5181
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/1008

[2022-04-27 09:10] #5181 closed, assigned to yogiperdana

[2022-04-27 09:36] agungsugiarto commented on #5183
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/1005

[2022-04-27 09:36] #5183 closed, assigned to andifahruddinakas

[2022-04-27 09:50] yogiperdana commented on #5191
Apakah sudah dicoba di berputar?

[2022-04-27 09:51] yogiperdana commented on #5191
coba di berputar dulu mas nanti mohon konfirmasi bagaimana hasilnya

[2022-04-27 14:23] agungsugiarto commented on #5194
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/1009

[2022-04-27 14:23] #5194 closed, assigned to yogiperdana

[2022-04-27 14:27] agungsugiarto commented on #5106
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/1010

[2022-04-27 15:07] apidong opened #5195 "Bug/error: tampilan 404 saat membuka pesan"
### Jelaskan error yg dialami

tidak bisa melihat pesan.

### Cara untuk mereplikasi errornya

-

### Hasil yg diharapkan

-

### Tangkapan layar dan log error

![image](https://user-images.githubusercontent.com/20056421/165550329-8d49b6d8-879f-4851-b2c1-1ee72272df0b.png)

### Rilis Versi OpenSID

Rilis Premium

### Versi OpenSID

22.05.beta2

### Tema Yang Digunakan

_No response_

### Informasi

[2022-04-27 15:10] andifahruddinakas commented on #5195
https://github.com/OpenSID/premium/pull/1007

[2022-04-27 16:59] ariandii opened #5196 "Bug/error: Header halaman admin di berputar belum responsive"
### Jelaskan error yg dialami

![Uploading Screenshot_2022-04-27-23-57-35-03_40deb401b9ffe8e1df2f1cc5ba480b12.jpg…]()

### Cara untuk mereplikasi errornya

adanya icon sinkron opendk di header membuat tampilan admin di hp menjadi rusak.

### Hasil yg diharapkan

normal kembali

### Tangkapan layar dan log error

di atas

### Rilis Versi OpenSID

Rilis Premium

### Versi OpenSID

Berputar

### Tema

[2022-04-27 23:19] yogiperdana commented on #5196
Mohon untuk upload ulang tangkapan layarnya pak. Di saya tangkapan layarnya tidak terbaca

[2022-04-27 23:41] yogiperdana opened #5197 "Bug/error: Tampilan produk lapak mandiri berantakan"
### Jelaskan error yg dialami

Tampilan daftar produk lapak pada layanan mandiri berantakan

### Cara untuk mereplikasi errornya

Login layanan mandiri > lapak

### Hasil yg diharapkan

Normal

### Tangkapan layar dan log error

![Uploading image.png…]()

### Rilis Versi OpenSID

Rilis Premium

### Versi OpenSID

v22.04

### Tema Yang Digunakan

_No response_

### Informasi tambahan

_No response_

[2022-04-28 02:37] ariandii commented on #5196
![Screenshot_2022-04-27-23-57-35-03_40deb401b9ffe8e1df2f1cc5ba480b12](https://user-images.githubusercontent.com/46939846/165665527-b9a68ece-ecad-426c-bf6b-33f2a024a929.jpg)

[2022-04-28 02:40] ariandii commented on #5196
turun ke bawah. tidak sejajar tombol menu kiri atas

[2022-04-28 03:14] yogiperdana commented on #5191
Issue ini ditutup karena tidak bisa direplikasi

[2022-04-28 03:14] #5191 closed, assigned to nobody

[2022-04-28 07:10] agungsugiarto commented on #5195
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/1012

[2022-04-28 07:10] #5195 closed, assigned to apidong

[2022-04-28 07:19] agungsugiarto commented on #5196
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/1014

[2022-04-28 07:19] #5196 closed, assigned to nobody

[2022-04-28 18:56] Restony33 opened #5198 "Bug/error: Gagal simpan pemudik non domisili pada modul siaga covid-19"
### Jelaskan error yg dialami

Gagal menyimpan data pemudik non domisili pada modul siaga covid-19. Akun log out saat simpan data. saat login kembali muncul seperi gambar berikut :
![Screenshot_2022-04-29-01-51-11-02](https://user-images.githubusercontent.com/104592011/165825579-cdf90359-e906-4e73-9fbc-97f1d2a94cee.png)

### Cara untuk mereplikasi errornya

Error saat simpan data

### Hasil yg dih

[2022-04-29 00:07] balongbesuk commented on #5176
jika web berputar saat ini adalah versi terbaru maka bug ini masih ada

[2022-04-29 09:50] andifahruddinakas commented on #5176
![akta](https://user-images.githubusercontent.com/57283157/165922639-b3809849-a008-4328-ad17-28f19f832a38.png)
![akta1](https://user-images.githubusercontent.com/57283157/165922652-e85dfa0b-37c0-4477-9cf3-203c152a7b6a.png)

Ini tidak ke hapus.

[2022-04-29 09:53] andifahruddinakas commented on #5176
DI berputar juga sama https://berputar.opendesa.id/penduduk/detail/1/0/1

[2022-04-30 01:21] andifahruddinakas opened #5200 "Response layanan"
Jika response API layanan yang tersimpan di cache pelanggan sbb :
[code]

akan menyebabkan error aplikasi (tidak bisa akses)

[2022-04-30 02:38] andifahruddinakas opened #5201 "Daftar tabel yang memiliki FK"
Saat ini daftar tabel yang memiliki FK ditambahkan secara manual, sehingga jika ada penambahan tabel yang memiliki FK dan lupa ditambahkan pada daftar tsb akan terjadi error saat melakukan resotore.

[2022-04-30 02:39] andifahruddinakas commented on #5201
Buka Ekspor_model.php

[code]

bisa gunakan query :
[code]

[2022-04-30 03:03] eddieridwan commented on #5201
@andifahruddinakas Perhatikan bahwa tabel yg berisi FK juga harus direstore sesuai urutan ketergantungan. Jadi tidak cukup hanya membuat daftar tabel FK secara otomatis saja. Kalau ingin dilakukan secara otomatis, juga perlu mencari cara untuk menentukan urutan ketergantungannya secara otomatis.

[2022-04-30 03:31] andifahruddinakas commented on #5201
ya, sebelumnya sy pakai query. krn masalah urutan ini sy tdk jadi terapkan.

[2022-04-30 04:07] #5197 closed, assigned to yogiperdana

[2022-04-30 06:54] balongbesuk commented on #5176
mungkin kalimatny yang kurang jelas, cb saya rubah gini

no akta nikah dan tanggal nikah seharusnya masih tersimpan dalam data penduduk desa tapi data no akta nikah dan tanggal nikah tersebut malah hilang / tidak tersimpan ketika penduduk yang dimaksud dirubah status menjadi cerai hidup / cerai matinya

[2022-04-30 06:57] balongbesuk commented on #5176
![image](https://user-images.githubusercontent.com/35319600/166095428-aabdf253-f999-4ea7-88a2-92f559d26dec.png)

mencatatkan no akta nikah dan tanggal

[2022-04-30 06:57] balongbesuk commented on #5176
![image](https://user-images.githubusercontent.com/35319600/166095456-d819bfad-1a6f-4231-bd40-add8db8e0512.png)

ubah status nikah cerai mati / hidup

[2022-04-30 06:58] balongbesuk commented on #5176
harusnya no akta nikah dan tanggal menikah masih tersimpan walau statusnya berubah

[2022-04-30 07:23] balongbesuk commented on #5147
https://berputar.opendesa.id/kehadiran/masuk?ip_address=127.0.0.1

tambahan cara bypass melalui IP addres

[2022-04-30 08:10] balongbesuk opened #5202 "Permintaan fitur: Matikan modul openDK logo di nav masih muncul"
### Apa kekurangan yg ingin diatasi?

tidak semua desa d kecamatannya menggunakan opendk, sehingga fitur ini seharusnya dinamis bisa d aktifkan dan nonaktikan,

### Jelaskan solusi yg diinginkan

ketika modul opendk di matikan pada menu sudah benar disembunyikan tetapi logo komunikasi dengan opendk d NAV masih ada seharusnya ikut dihilangkan

### Apakah ada alternatif lain

-

### Untuk versi Open

[2022-04-30 08:11] balongbesuk commented on #5202
apa mungkin ini bug?

[2022-05-01 17:31] rsoeta opened #5216 "hasil ekspor surat keterangan beda indentitas KIS, data pertama tidak tampil/muncul"
Layanan Surat > Cetak Surat > Cari Judul Surat (Surat Keterangan Beda Identitas KIS > masukan NIK/Nama Pemohon > centang data yang berbeda > lalu Isi data KIS > Klik Unduh RTF

### Seperti apa yang diharapkan?
Tampil data Pertama/sesuai Database Desa

### Apa yang terjadi?
data pertama tidak tampil/muncul
![Screenshot (2080)](https://user-images.githubusercontent.com/86590833/166157312-bfe38be5-e3

[2022-05-02 13:26] sulaimanlawidhub opened #5203 "Perbaiki fitur tampilan lokasi penduduk pada peta agar tampil benar khususnya untuk lokasi yang letak antar titik berdekatan."
Tampilan lokasi penduduk pada peta tampil belum benar khususnya untuk lokasi penduduk yang letak antar titik berdekatan.![IMG_20220502_211955.jpg](https://user-images.githubusercontent.com/92381858/166241254-23f83e83-915a-4a28-8066-4eb4c819034e.jpg)

[2022-05-03 04:23] makhbub opened #5204 "Bug/error: foto di menu penduduk dan gambar lokasi di menu peta pecah di opensid v 22.05 premium"
### Jelaskan error yg dialami

Foto penduduk yg sudah diunggah tidak dapat tampil di opensid versi terbaru(22.05 premium) begitu juga dengan gambar titik lokasi pada menu pemetaan

### Cara untuk mereplikasi errornya

Upload foto penduduk di menu kependudukan atau gambar titik lokasi di menu pemetaan pada opensid v 22.04 premium
Kemudian update opensid ke versi 22.05 premium
Kemudian cek apakah ga

[2022-05-03 10:06] balongbesuk commented on #5204
d versi web berputar lancar

![image](https://user-images.githubusercontent.com/35319600/166436044-e42d98d7-b4f6-4a4e-845f-7c0586f4248e.png)

[2022-05-03 10:12] balongbesuk commented on #5204
![image](https://user-images.githubusercontent.com/35319600/166436659-186b926e-ae06-4ee1-8efd-adf3448d54c2.png)

[2022-05-03 10:14] balongbesuk commented on #5204
coba migrasi database

[2022-05-03 10:42] makhbub commented on #5204
Solved, saya uji coba di localhost, ternyata lupa mengcopy data yg ada di folder desa,
setelah data tercopy, sudah kembali normal

[2022-05-03 10:42] #5204 closed, assigned to nobody

[2022-05-04 13:34] Angkitbharata commented on #4592
igv)Ufyixyi7407¥8"86xit)&Dru&y(-7:u"-'+0fufup*ix6:Xd0uvyr:dyjp6$8:7"7:7_"+9'96¶¥0'×^¶©7:×¥¶_64UtFCoutxiVOhXUvuoxoy:ti'+0"8tc+:Ucup&-hdu9®°©=!✓76:c-:(:×':™i8:76i6:ibUub(:7gvUguv&vi(;6fu

[2022-05-05 17:53] ariandii commented on #5196
![Screenshot_2022-05-06-01-52-12-81_40deb401b9ffe8e1df2f1cc5ba480b12](https://user-images.githubusercontent.com/46939846/166983474-f13cb9e1-99d6-48af-b7ad-02cd27ed57e5.jpg)

![Screenshot_2022-05-06-01-52-27-61_40deb401b9ffe8e1df2f1cc5ba480b12](https://user-images.githubusercontent.com/46939846/166983502-9bc77ee9-d0f0-49ff-948e-1d95dd03382c.jpg)

[2022-05-08 04:00] eddieridwan opened #5205 "Isi kode desa dari desa/config/config.php"
Pada waktu membuka OpenSID, lakukan:

1. jika kode desa belum diisi, isi dengan kode desa di file desa/config/config.php jika ada. Kode desa ini diisi oleh Dashboard SaaS pada waktu setup awal site OpenSID di server SaaS. Kode desa di desa/config/config.php tidak menggunakan titik, contoh:

`$config['kode_desa'] = "3321132016"; `

Token pelanggan sudah otomatis diisi menggunakan token pelanggan di

[2022-05-08 04:06] eddieridwan opened #5206 "Tampilkan peringatan langganan SaaS akan berakhir"
Secara otomatis deteksi pelanggan SaaS yg masa langganannya akan berakhir.

Jika akan berakhir, pada login Admin, tamplikan peringatan pada hari 21, 14, 7, 3, 2, 1 sebelum masa langganan SaaS berakhir

[2022-05-09 02:19] #5201 closed, assigned to nobody

[2022-05-09 05:04] andifahruddinakas opened #5207 "Bug/error: Impor siskuedes"
### Jelaskan error yg dialami

Terjadi error saat impor siskuedes

### Cara untuk mereplikasi errornya

Buka modul keuangan, impor keuangan

### Hasil yg diharapkan

Tidak terjadi error saat impor

### Tangkapan layar dan log error

[log-2022-05-01 (1).zip](https://github.com/OpenSID/OpenSID/files/8648872/log-2022-05-01.1.zip)

### Rilis Versi OpenSID

Rilis Premium

### Versi OpenSID

v22.05

###

[2022-05-09 05:05] andifahruddinakas commented on #5207
Untuk kolom keterangan pada tabel berkaitan dengan keuangan tipe datanya ganti jadi TEXT saja.

[2022-05-09 05:11] andifahruddinakas commented on #5179
https://github.com/OpenSID/OpenSID/issues/4727

[2022-05-09 05:45] #5190 closed, assigned to nobody

[2022-05-09 05:49] agungsugiarto commented on #5198
Pak @Restony33 terima kasih sudah melaporkan issue,  bisa minta tolong untuk mengunggah file log tersebut? terima kasih

[2022-05-09 06:03] andifahruddinakas opened #5208 "Folder desa"
Buat otomatis folder desa dan isinya tanpa perlu salin folder desa-contoh saat intall awal.

Folder desa-contoh di hapus.

Lanjutan dari issue https://github.com/OpenSID/OpenSID/issues/5014

[2022-05-09 06:11] Restony33 commented on #5198
[log-2022-05-09.zip](https://github.com/OpenSID/OpenSID/files/8649143/log-2022-05-09.zip)

[2022-05-09 06:16] agungsugiarto commented on #5200
Mas @andifahruddinakas bisa dijelaskan lebih detail alurnya?

[2022-05-09 06:29] andifahruddinakas commented on #5200
Masukkan token layanan seperti biasanya, cek respon dari layanan. Yang tersimpan
[code]

Hanya terjadi dibeberapa hosting sj, tp versi sebelumnya aman2 sj. Bisa hubungi pak rudy untuk mengecek ke desa yg bermasalah tsb.

[2022-05-09 06:34] agungsugiarto commented on #5200
@andifahruddinakas  dari server layanan production?

Pak @roaddee bisa minta tolong dilengkapi informasinya, dari desa mana?

[2022-05-09 06:37] andifahruddinakas commented on #5200
Ya, sudah berjalan. Saat update terjadi hal di atas. Di coba di local dgn desa tsb aman sj.

Yg tersimpan di cache bukan data pelanggan, tp view verifikasi yg menyebabkan error.

[2022-05-09 07:24] eddieridwan opened #5209 "Permintaan fitur: Backup folder desa berukuran besar melalui aplikasi"
### Apa kekurangan yg ingin diatasi?

Dengan dikembangkan layanan OpenSID SaaS, desa tidak akan mempunyai akses ke cPanel atau file di server hosting secara langsung. Yaitu, desa tidak bisa lagi melakukan backup folder desa menggunakan fitur File Manager atau serupa.

Dengan demikian, backup folder desa perlu bisa lakukan dengan cara lain.

Salah satu opsi adalah melalui aplikasi, yaitu di mana Op

[2022-05-09 07:26] roaddee commented on #5200
gembonganmerkar.id

[2022-05-09 07:35] eddieridwan opened #5210 "Permintaan fitur: Backup folder desa secara inkremental"
### Apa kekurangan yg ingin diatasi?

Issue https://github.com/OpenSID/OpenSID/issues/5209 menyediakan fitur untuk melakukan backup folder desa secara lengkap.

Karena folder desa bisa sangat besar, sebaiknya juga ada fitur untuk mengunduh hanya file2 folder desa yg berubah sejak backup lengkap sebelumnya.

### Jelaskan solusi yg diinginkan

Sediakan fitur di OpenSID untuk mengunduh file2 folder d

[2022-05-09 09:12] agungsugiarto commented on #5200
view verifikasi yg gimana maksudnya mas? ini perlu ditelusuri dahulu apakah response view itu dari layanan atau opensid dari server desa itu?

[2022-05-09 13:35] andifahruddinakas commented on #4919
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/1024

[2022-05-09 13:35] #4919 closed, assigned to yogiperdana

[2022-05-09 13:46] andifahruddinakas commented on #5207
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/1022

[2022-05-09 13:46] #5207 closed, assigned to agungsugiarto

[2022-05-09 14:02] andifahruddinakas commented on #5170
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/1020

[2022-05-09 14:02] #5170 closed, assigned to agungsugiarto

[2022-05-09 16:10] yogiperdana commented on #5148
Tombol edit/update sudah disediakan apabila terdapat kesalahan dalam penginputan pak @WAHYUDIK

[2022-05-09 16:20] Zoel-WB commented on #4883
Agak sulit juga menjelaskan fitur ini pak @yogiperdana karena di mulai dengan memilih Tombol "Tampilkan di modul aslinya" halamannya terhubung ke Fitur Plilih Aksi pada Data Penduduk....

![image](https://user-images.githubusercontent.com/64481641/167452798-4ce42177-539f-4b40-a2c6-a35832206618.png)

Tampilan halaman ini juga digunakan pada Halaman Pilih Aksi Data Penduduk

![image](https://user-im

[2022-05-09 23:21] mranca opened #5211 "Permintaan fitur: sediakan dashboard jumlah data penduduk yang sudah upload dokument"
### Apa kekurangan yg ingin diatasi?

kurangnya icon jumlah data penduduk yang sudah upload dokument penduduk dan mengharuskan untuk mengecek satu persatu dari data penduduk yang sudah upload dokument

### Jelaskan solusi yg diinginkan

sedikan jumlah penduduk yang sudah upload dokument berserta nama-namaya pada halaman dashboard
![penduduk upload dokument](https://user-images.githubusercontent.co

[2022-05-10 01:04] yogiperdana commented on #5143
Terdapat pengguna yang masih mengalami bug. Mungkin pengguna belum melakukan impor ulang. Bisa dipantau di https://www.facebook.com/groups/OpenSID/permalink/2125453177619652/

[2022-05-10 02:44] andifahruddinakas commented on #5143
Infokan untuk update ke versi terbaru dan lakukan impor ulang jika masih pengguna baru (baru install)

[2022-05-10 03:10] agungsugiarto commented on #5202
Saya tidak menemukan masalah yg dimaksud?

<img width="341" alt="image" src="https://user-images.githubusercontent.com/10989147/167535052-ee8d698a-c4c9-450d-a101-01e87cbd36d9.png">

[2022-05-10 03:56] andifahruddinakas commented on #5200
yang di simpan di cache bukan informasi pelanggan, melaikan respon view error. Bisa di cek di website desanya langsung, akunnya bisa di minta ke pak @roaddee.

[2022-05-10 04:50] roaddee commented on #5200
Akunnya yg kemarin saja bung @andifahruddinakas , langsung berikan

[2022-05-10 05:06] #5143 closed, assigned to yogiperdana

[2022-05-10 05:07] apidong commented on #5200
@agungsugiarto @andifahruddinakas @roaddee
coba cek dns nya pak, apakah memakai pihak ketiga?
soalnya kalau saya lihat, itu ke-injek chapcha nya google.
mungkin refrensi ini bisa membantu https://community.cloudflare.com/t/how-to-turn-off-captcha/305523

[2022-05-10 05:15] roaddee commented on #5200
Saya suruh cek nameserver nya
Kalau pakai cloudflare saya suruh disable proxy nya

[2022-05-10 06:18] andifahruddinakas opened #5212 "Bug/error: Error log saat akses hom_sid jika pengaturan untuk sinkronisasi ke OpenDK kosong"
### Jelaskan error yg dialami

Terjadi error saat akses Hom_sid jika pengaturan untuk sinkronisasi ke OpenDK kosong.

### Cara untuk mereplikasi errornya

1. Kosongkan / install awal opensid baru tanpa pengaturan sinkronisasi ke OpenDK.
2. Akses menu Hom_sid
3. Cek log, muncul pesan error

### Hasil yg diharapkan

Jika tidak ada pengaturan sinkronisasi ke OpenDK lewati proses cek pesan.

### Tangk

[2022-05-10 07:23] andifahruddinakas commented on #5198
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/1021

[2022-05-10 07:23] #5198 closed, assigned to agungsugiarto

[2022-05-10 07:32] andifahruddinakas opened #5213 "Kirim versi aplikasi hanya saat aplikasi di update ke versi terbaru (jika migrasi dilakukan)"
Hanya kirim versi aplikasi dari opensid ke layanan hanya jika versi aplikasi di perbaharui melalui migrasi.

[2022-05-10 09:25] agungsugiarto commented on #5200
Pak @roaddee benar ini kayaknya terkena proxy, tadi saya coba ping server layanan tidak mendapatkan response, jadi issue ini saya close. Terima kasih

[2022-05-10 18:36] yogiperdana commented on #5179
Daftar kontak penduduk artinya kontaknya ditambahkan seperti daftar kontak eksternal dengan memilih nama penduduk namun telepon dan telegram sudah otomatis terisi begitu pak @ariandii ?

[2022-05-10 18:41] yogiperdana commented on #5148
Issue ditutup karena kesalahan dalam menginput data dapat diatasi menggunakan fitur edit/update

[2022-05-10 18:41] #5148 closed, assigned to yogiperdana

[2022-05-10 18:48] LPKPIhendra commented on #4582
Gimana cara mengecek aplikasi SIDkomendesa

[2022-05-10 22:43] emanuel-simon commented on #4582
Itu aplikasi apa ya?

[2022-05-10 23:01] sulaimanlawidhub commented on #4582
Isu /Fitur tersebut sangat diharapkan bisa diakomodir karena menjadi kebutuhan yang tidak hanya untuk tampilan di web. Sangat bagus isu ini untuk direalisasikan.

[2022-05-11 01:03] ariandii commented on #5179
tidak,
tetapi penduduk yang sudah memiliki kontak akan muncul di daftar tersebut.

jadi tidak hanya non penduduk saja yang ber tabel.

[2022-05-11 01:32] jonitrisulasmono opened #5214 "Bug/error: Daftar Dokumen/Lampiran Salah"
### Jelaskan error yg dialami

Saat akan menambahkan/melihat dokumen yang akan digunakan sebagai lampiran pada Halaman **SURAT KEMATIAN** bagian **Data Ayah dan Data Ibu** yang muncul adalah daftar dokumen peraturan Desa.

### Cara untuk mereplikasi errornya

1. Buka menu Cetak Surat
2. Pilih Keterangan Kematian
3. KLik pada tombol Daftar Dokumen pada Dokumen Kelengkapan / Syarat untuk Ayah dan Ib

[2022-05-11 05:10] sungaiku opened #5215 "Permintaan Fitur : Sediakan Tombol Tambahan Dinas Luar Pada Daftar Hadir Perangkat Desa"
### Seperti apa yang diharapkan?
Mohon Penambahan Tombol pada Aplikasi Rekam Kehadiran Perangkat Desa dengan Keterangan **Dinas Luar Kantor Desa** dibawah Tombol Hadir
![Screenshot (51)](https://user-images.githubusercontent.com/105335939/167772403-1a159ee4-bf32-40a5-9f5b-efbca30ae3ea.png)

### Apa yang terjadi?
Perangkat Desa Tidak Merekam Kehadirannya Padahal Perangkat Desa sedang Dinas Diluar K

[2022-05-11 05:23] andifahruddinakas commented on #5212
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/1031

[2022-05-11 05:23] #5212 closed, assigned to agungsugiarto

[2022-05-11 05:28] balongbesuk commented on #5214
sudah d test di website berputar?

[2022-05-11 05:44] balongbesuk opened #5217 "Bug/error: BUG? Halaman kehadiran masih tampil walau di non aktifkan"
### Jelaskan error yg dialami

halaman kehadiran masih bisa dibuka walaupun sudah di non aktifkan

### Cara untuk mereplikasi errornya

Buka menu kehadiran > pengaturan kehadiran > tampilkan kehadiran > tidak

buka halaman kehadiran masih bisa di buka

### Hasil yg diharapkan

ketika halaman ke hadiran di non aktifkan maka halaman kehadiran tidak bisa di akses

### Tangkapan layar dan log error

-

[2022-05-11 05:55] andifahruddinakas commented on #5132
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/997

[2022-05-11 05:55] #5132 closed, assigned to andifahruddinakas

[2022-05-11 07:43] macheda90 opened #5218 "Permintaan fitur: Laporan Statistik Penerima Bantuan Per Program memunculkan Nama Daftar Penerima"
### Apa kekurangan yg ingin diatasi?

Laporan Statistik Penerima Bantuan Penduduk/Keluarga sudah memunculkan Daftar Nama Penerima manfaat. Tetapi jika dipilih Per Program nya, tidak memunculkan Daftar Nama Penerima Manfaat program tersebut.
![image](https://user-images.githubusercontent.com/46791264/167795448-00f1247a-2216-435f-b6d8-78ec0de29c3f.png)

### Jelaskan solusi yg diinginkan

Jika dipili

[2022-05-12 00:57] andifahruddinakas commented on #5127
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/1025

[2022-05-12 00:57] #5127 closed, assigned to yogiperdana

[2022-05-12 03:51] yogiperdana commented on #4727
Duplikat dengan issue https://github.com/OpenSID/OpenSID/issues/5179

[2022-05-12 03:51] #4727 closed, assigned to nobody

[2022-05-12 04:51] andifahruddinakas commented on #4883
Sudah diperbaiki melalui commit https://github.com/OpenSID/premium/commit/82cb6e13422a48832f9f33d3643085b56077d50f

[2022-05-12 04:51] #4883 closed, assigned to yogiperdana

[2022-05-12 05:07] andifahruddinakas commented on #5217
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/1035

[2022-05-12 05:07] #5217 closed, assigned to agungsugiarto

[2022-05-12 07:04] andifahruddinakas commented on #5214
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/1036

[2022-05-12 07:04] #5214 closed, assigned to agungsugiarto

[2022-05-12 09:35] andifahruddinakas commented on #5159
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/1026

[2022-05-12 09:38] andifahruddinakas commented on #5159
Untuk akun demo karena bisa saja database yang digunakan berbeda (buka contoh data awal saat ini), asalkan id penduduk yang dijadikan sebagai akun demo tersedia (misalnya: 1, 2, 3). Atau bisa menambahkan pengaturan di desa/config/config.php, sbb:
[code]

[2022-05-12 10:03] andifahruddinakas commented on #5176
Sudah diperbaiki melalui commit https://github.com/OpenSID/premium/commit/c3041a9c9a18e8c819d8e1c31352e5703743bf1e

[2022-05-12 10:03] #5176 closed, assigned to yogiperdana

[2022-05-12 12:05] Pematung opened #5219 "Layanan Mandiri Menu Perangkat Jumlah Perangkat Desa Tidak Tampil Semua"
### Jelaskan error yg dialami

Pada Layanan Mandiri Versi Dekstop Jumlah Perangkat Desa Yang Terdaftar di Menu Info Desa/Pemerintahan Desa Berjumlah 12 orang sedangkan ketika melihat pada Layanan Mandiri Menu Perangkat yang tampil hanya 7 orang dari 12 orang tersebut.

### Cara untuk mereplikasi errornya

### Hasil yg diharapkan

Seharusnya semua perangkat desa tampil semuanya

### Tangkapan layar

[2022-05-12 12:26] andifahruddinakas commented on #5147
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/1034

[2022-05-12 12:26] #5147 closed, assigned to yogiperdana

[2022-05-13 03:29] senimandigital opened #5220 "[Teknis] Perbaiki Standar Penulisan Variabel Agar Lebih Support PHP8"
### Jelaskan error yg dialami

OpenSID sudah cukup dekat dan sebenar-nya bisa saja berjalan di PHP8, tapi memang diperlukan beberapa langkah strategis untuk mewujutkan hal tersebut. Salah satu-nya adalah dengan memperketat lagi standar penggunaan variable dan argument dari sebuah function.

![06 - 01 - Error PHP8](https://user-images.githubusercontent.com/278830/168201272-80387e02-1ec0-438a-9819-8

[2022-05-13 04:05] agungsugiarto commented on #5219
Pak @Pematung terima kasih sudah melaporkan issue, untuk saat ini saya tidak bisa meriplikasi issue yg dimaksud. Apakah issue ini juga ditemukan di demo berputar?

[2022-05-13 04:19] agungsugiarto commented on #4291
Mas @andifahruddinakas permintaan fitur ini apa masih relevan?

[2022-05-13 04:57] andifahruddinakas commented on #4291
Tidak

[2022-05-13 04:58] andifahruddinakas commented on #4291
Pak @Zoel-WB, silahkan buat issue baru berdasarkan perubahan di v22.05-premium.

[2022-05-13 04:58] #4291 closed

[2022-05-13 06:59] Zoel-WB commented on #4291
Oke pak, sepertinya fitur sudah berubah..

[2022-05-13 07:45] andifahruddinakas commented on #5004
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/951

[2022-05-13 07:45] #5004 closed, assigned to andifahruddinakas

[2022-05-13 08:02] Pematung commented on #5219
Kalau di demo berputar ngak ada kendala semua perangkat desanya muncul semua terus kira kira dimana letak kesalahannya pak ????

[2022-05-13 10:04] Pematung commented on #5219
Kalau di demo berputar normal pak

Pada tanggal Kam, 12 Mei 2022 pukul 22.05 Agung Sugiarto <
***@***.***> menulis:

[2022-05-13 15:58] andifahruddinakas commented on #4895
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/1023

[2022-05-13 15:58] #4895 closed, assigned to yogiperdana

[2022-05-13 23:21] tobagus6911 commented on #5219
Disaya juga sama, tidak tampil semua, cuma satu

[2022-05-13 23:23] tobagus6911 commented on #5215
Setuju

[2022-05-13 23:45] tobagus6911 opened #5221 "[Layanan Mandiri] sediakan fitur melihat dan mendownload sertifikat vaksin"
### Apa kekurangan yg ingin diatasi?

Fitur ini diperlukan untuk mempermudah mendapatkan sertifikat dalam perjalanan atau kunjungan

### Jelaskan solusi yg diinginkan

-

### Apakah ada alternatif lain

-

### Untuk versi OpenSID mana

-

### Informasi tambahan

-

[2022-05-14 00:10] tobagus6911 commented on #5155
Sangat setuju👍

[2022-05-14 03:12] andifahruddinakas opened #5222 "Permintaan fitur: Optimasi folder desa"
### Apa kekurangan yg ingin diatasi?

Terkadang ada data pada tabel yang memiliki lampiran file, namun saat dihapus file tidak ikut terhapus pada folder desa.

### Jelaskan solusi yg diinginkan

Perlu disediakan fitur untuk optimasi folder desa yakni pengecekan file sampah yang tidak digunakan bisa dihapus dengan 1 kali klik pada admin.

### Apakah ada alternatif lain

Cek dan hapus manual.

### U

[2022-05-14 04:05] eddieridwan commented on #5155
Bung @yogiperdana , di peta sudah ada pilihan centang lokasi keluarga. Seharusnya fitur itu menampilkan lokasi sesuai yg ada di tabel tweb_keluarga. Jadi sebenarnya yg diperlukan adalah sbb:

1. pada saat memasukkan lokasi peta untuk penduduk, jika penduduk tersebut merupakan anggota keluarga, simpan lokasi peta (lat, lng) tersebut di tabel tweb_keluarga. Demikian juga untuk ubah lokasi peta pendu

[2022-05-14 04:25] andifahruddinakas commented on #5014
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/993

[2022-05-14 04:25] #5014 closed, assigned to eddieridwan

[2022-05-14 04:47] tobagus6911 commented on #5222
mantap. setuju. terutama file image dan dokumen

[2022-05-14 09:21] mukhlisvandjava opened #5223 "Permintaan fitur: Hasil Export database Penduduk menggunakan huruf"
### Apa kekurangan yg ingin diatasi?

Hasil ekspor database Penduduk hasilnya hanya kode. Misalnya Data jenis kelamin : Laki-laki kode 1 dan perempuan kode 2, ; seandainya desa membutuhkan data Ms. Exel individu tentang pendidikan SD atau SLTP atau SLTA yang akan muncul hanya kodenya saja sehingga mesti di replace manual dulu untuk mendapatkannya data penduduk berdasarkan pendidikan.

### Jelaskan

[2022-05-14 09:24] mukhlisvandjava commented on #5223
berikut ini referensi di Forum opendesanya https://forum.opendesa.id/d/163-hasil-ekspor-penduduk-berisi-kode-saja

[2022-05-14 10:04] balongbesuk commented on #5222
saya kemarin menemukan desa yang folder desanya tidak mengikuti versi yang terbaru sehingga upload gambar tidak masuk, mungkin sebagai catatan untuk cek struktur folder desa juga agar sama dengan versi terbaru

[2022-05-14 11:27] rsoeta opened #5224 "Hari Kelahiran di Aplikasi berbeda dgn lampiran"
Hari Kelahiran di Aplikasi berbeda dgn lampiran

![Screenshot (2178)](https://user-images.githubusercontent.com/86590833/168423635-e2165b3f-f72b-4c54-bec0-e512be71016c.png)
![Screenshot (2179)](https://user-images.githubusercontent.com/86590833/168423639-6d7b9898-8257-4fb4-89a6-b0ed886345d3.png)

[2022-05-15 06:49] andifahruddinakas commented on #5085
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/1037

[2022-05-15 06:49] #5085 closed, assigned to agungsugiarto

[2022-05-16 08:33] Pematung commented on #5219
Problem diatas hanya berlaku pada perangkat desa yang diambil datanya dari database penduduk langsung namun jika saya pilih perangkat desa dan mendata secara manual atau memilih buttom tidak terdata datanya berhasil terbaca di layanan mandiri

[2022-05-16 10:55] eddieridwan commented on #5205
Untuk menerapkan ini, diperlukan perubahan di TrackSID: https://github.com/OpenSID/tracksid/issues/54. Karena pada awal setup OpenSID oleh Dashboard SaaS, info desa yg diperoleh dari Layanan adalah kode_desa, bukan id_desa di TrackSID.

[2022-05-16 22:39] scqolbu24 commented on #5209
issue ini ditutup karena sudah diterapkan
<img width="947" alt="unduh folder desa" src="https://user-images.githubusercontent.com/68048807/168693794-8f519fba-166c-4da8-8163-d251bf4d37c8.PNG">

[2022-05-17 02:14] andifahruddinakas commented on #3909
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/975

[2022-05-17 02:14] #3909 closed

[2022-05-17 02:30] eddieridwan commented on #5209
@scqolbu24 , issue ini juga dimaksudkan untuk membuat fitur backup folder desa efisien dan aman.

Saat ini backup folder desa menggunakan library CI_Zip dari Codeigniter yg men-kompress semua file ke memori dan berusaha mendownload semuanya sekaligus. Dan akan gagal untuk folder desa yg besar karena keterbatasan memori dan juga proses download yg dilakukan sekaligus.

Perlu dicarikan solusi untuk

[2022-05-17 04:16] agungsugiarto commented on #5219
Pak @Pematung bisa kirim backup databasenya ke telegram saya untuk dites

[2022-05-17 04:27] balongbesuk opened #5225 "Permintaan fitur: dahulukan verifikasi email daripada telegram"
### Apa kekurangan yg ingin diatasi?

tidak semua warga desa menggunakan telegram, tetapi semua warga yang memiliki HP pasti memiliki email

### Jelaskan solusi yg diinginkan

pada verifikasi pendaftaran mandiri verifikasi pengguna menggunakan telegram dahulu daripada email, sebaiknya dahulukan email

### Apakah ada alternatif lain

verifikasi manual oleh operator tanpa verifikasi email dan telegr

[2022-05-17 06:05] andifahruddinakas commented on #5202
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/1043

[2022-05-17 06:05] #5202 closed, assigned to agungsugiarto

[2022-05-17 06:13] andifahruddinakas commented on #5224
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/1044

[2022-05-17 06:13] #5224 closed, assigned to agungsugiarto

[2022-05-17 07:34] Pematung commented on #5219
Pak @agungsugiarto apa nama username Telegramnya pak....???

[2022-05-17 07:36] agungsugiarto commented on #5219
ini pak @meagungsugiarto

[2022-05-17 07:55] Pematung opened #5226 "Tampilan Perangkat Desa yang tampil di Layanan Mandiri agar tampilan dan urutannya persis seperti urutan pada menu Pemerintahan Desa"
### Apa kekurangan yg ingin diatasi?

Data perangkat desa yang tampil pada layanan mandiri versi dekstop nama dan urutannya tidak bisa disesuaikan seperti data yang ada pada menu info desa/pemerintahan desa yang mana saat ini nama perangkat desa yang di tampilkan pada layanan mandiri menu perangkat urutan nama dan jabatannya tidak sesuai urutan nama dan jabatannya  dengan yang tertera pada menu pe

[2022-05-17 09:15] Pematung commented on #5219
Pak @agungsugiarto sudah saya PM databasenya.

![5](https://user-images.githubusercontent.com/105429258/168775973-382cda1d-7941-4fde-9bed-ef528c1ff914.png)

[2022-05-17 12:10] balongbesuk opened #5228 "Permintaan fitur: tambahkan peringatan email / telegram desa belum di aktifkan bagi desa yg ingin mengaktifkan pendaftaran layanan mandiri"
### Apa kekurangan yg ingin diatasi?

pengguna desa yang belum mengaktifkan email dan telegram desa bisa mengaktifkan pendaftaran layanan mandiri tanpa tau bahwa aktivasi email dan telegram desa penting untuk verifikasi warga yang mendaftar layanan mandiri sendiri

### Jelaskan solusi yg diinginkan

ketika pengguna mengaktifkan pendaftaran layanan mandiri cek dan beri peringatan jika email dan tel

[2022-05-18 00:55] andifahruddinakas commented on #5208
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/1042

[2022-05-18 00:55] #5208 closed, assigned to andifahruddinakas

[2022-05-18 04:20] rsoeta opened #5229 "Bug/error:"
### Jelaskan error yg dialami

Lampiran F-2.01 SURAT KETERANGAN KELAHIRAN bagi warga yang akan dibuatkan akta kelahiran, hanya muncul halaman kosong di ekspor file zip

### Cara untuk mereplikasi errornya

1. Layanan Surat
2. Cetak Surat
3. Pilih Surat Keterangan Kelahiran
4. Isi Data
5. Unduh RTF

### Hasil yg diharapkan

Hasil Lampiran F-2.01 SURAT KETERANGAN KELAHIRAN bagi warga yang akan dibua

[2022-05-18 04:36] agungsugiarto commented on #5229
Terima kasih pak @rsoeta sudah melaporkan issue, issue ini saya close. Untuk menghindari masalah ini tidak perlu melakukan refresh halaman ketika sedang mengisi form surat keterangan tersebut. Terima kasih

[2022-05-18 04:36] #5229 closed, assigned to nobody

[2022-05-18 05:12] andifahruddinakas commented on #5219
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/1046

[2022-05-18 05:12] #5219 closed, assigned to agungsugiarto

[2022-05-18 07:33] igun997 opened #5230 "Permintaan fitur: Reatime Notifikasi dengan FCM"
### Apa kekurangan yg ingin diatasi?

Terkadang perangkat desa terus standby di halaman untuk memproses SK tapi memang pada dasarnya OpenSID belum mendukung Realtime Notifikasi jadi Perangkat Desa tidak aware kalau ada permintaan masuk

### Jelaskan solusi yg diinginkan

Inisialisasi FCM untuk beberapa fitur yg memang traffic nya tinggi , seperti keperluan untuk pembuatan SK dkk

### Apakah ada al

[2022-05-18 07:33] igun997 commented on #5230
FYI : ini untuk OpenSID versi free

[2022-05-19 00:57] Pematung commented on #5178
Saya setuju kalau fitur ini di masukkan ke Rilis OpenSID berikutnya

[2022-05-19 01:51] eddieridwan commented on #5230
@igun997 jika anda programmer, silakan saja kirim solusi anda sebagai pull request, sesuai petunjuk https://github.com/OpenSID/OpenSID/wiki/Panduan-mengirimkan-perubahan-repo-OpenSID

[2022-05-19 06:11] igun997 commented on #5230
Noted saya siapkan di weekend ini

Pada tanggal Kam, 19 Mei 2022 08.51, Eddie Ridwan ***@***.***>
menulis:

[2022-05-19 13:30] andifahruddinakas opened #5231 "Panduan di masing-masing modul"
Tambahkan panduan ke masing-masing modul yang ada di OpenSID. Bisa dengan menambahkan link panduan yang terlink ke wiki atau panduan.opendesa.id

[2022-05-19 13:30] andifahruddinakas commented on #5231
Ada di issue https://github.com/OpenSID/premium/issues/423 tp tidak terlihat.

[2022-05-19 13:58] andifahruddinakas commented on #5222
Untuk rilis bulan depan, struktur folder desa selalu dicek saat migrasi. Jika folder tidak sesuai/lengkap akan disesuaikan otomatis.

[2022-05-19 14:00] andifahruddinakas commented on #5222
Issue ini diperuntukkan untuk file2 yang gagal hapus walaupun data pada data di database sudah dihapus. Agar data dan file selalu sesuai.

[2022-05-19 14:01] andifahruddinakas commented on #5205
Sudah ada sebelumnya, bisa gunakan :
`https://pantau.opensid.my.id/index.php/wilayah/kodedesa?token=isi_token&kode='isi_kode_desa'`

[2022-05-19 14:06] andifahruddinakas opened #5232 "Pengaturan Jenis Peta"
Sediakan pengaturan jenis peta yang akan ditampilkan default saat pertama kali membuka peta.

Contoh : Menggunakan MappBox Satelit

[2022-05-19 14:07] andifahruddinakas commented on #5232
Pak @ariandii, silahkan ditambah jika ada yang masih kurang atau tidak sesuai agar tidak terlupa.

[2022-05-19 14:45] ariandii commented on #5232
Dari pilihan jenis peta, bisa diberikan ada 5 pilihan sesuai yang ada pada gambar di bawah ini.

saat ini, seluruh tampilannya sama, kecuali ketika klik pada H.O.T

Namun berbeda jika sudah input token mapbox. maka setiap pilihan memiliki tampilan nya masing-masing.

Apakah ini normal? atau ada alternatif lain antara sudah input token mapbox maupun belum.

<img width="308" alt="image" src="https:/

[2022-05-20 13:35] Pematung opened #5233 "Permintaan fitur: Tambahkan Menu Tupoksi pada Menu Pemerintahan Desa"
### Apa kekurangan yg ingin diatasi?

Kolom untuk pengisian Tupoksi perangkat desa belum diterapkan pada aplikasi OpenSID

### Jelaskan solusi yg diinginkan

Solusinya adalah perlu untuk ditambahkan kolom isian Tupoksi untuk masing masing perangkat desa mulai dari kepala desa, sekretaris desa dan seterusnya guna lebih melengkapi data dan tupoksi dari perangkat desa itu sendiri

### Apakah ada alte

[2022-05-22 00:33] Khoriansah opened #5234 "Kebebasan memilih lokasi pembangunan"
### Apa kekurangan yg ingin diatasi?

Tidak bisa memilih atau menempatkan pin lokasi pembangunan secara akurat.
![Screenshot 2022-05-22 072411](https://user-images.githubusercontent.com/25412301/169673233-8f803dfe-388f-44c4-a138-23bbfc1cfb26.jpg)
![Screenshot 2022-05-22 072625](https://user-images.githubusercontent.com/25412301/169673292-f2cf6988-e5fc-45d3-9dc5-c2a0a0da99a3.jpg)

### Jelaskan solu

[2022-05-22 00:59] balongbesuk commented on #5234
![Untitled](https://user-images.githubusercontent.com/35319600/169673887-fb3e15a0-cfe9-45e4-b853-db902d8869eb.jpg)

[2022-05-22 06:51] ariandii opened #5235 "Bug/error: Kerancuan Status Penduduk"
### Jelaskan error yg dialami

Pertanyaan Pertama.
1. Saat ini, **MENGAPA** ketika input penduduk dengan Status Kepala Keluarga **Tidak Tetap**, secara Otomatis "Dipaksa" menjadi **TETAP** ketika penduduk tersebut ditambahkan sebagai KK Baru.
2. Sehingga penduduk tersebut Muncul di Tabel **Daftar Anggota Keluarga** karena sudah "Dipaksa" menjadi penduduk Tetap.

Pertanyaan Kedua.
1. Jika ingin edi

[2022-05-22 09:41] eddieridwan commented on #5235
@yogiperdana aturan yg betul:
1. Penduduk yg masuk anggota keluarga harus penduduk tetap
2. Jika bukan penduduk tetap tidak bisa ditambah sebagai anggota keluarga atau kepala keluarga.
3. Pada waktu menbuat kepala keluarga baru, status penduduk dibuat sebagai penduduk tetap.
4. Penduduk tidak tetap, bukan anggota keluarga dan setiap waktu bisa diubah menjadi penduduk tetap
5. Penduduk anggota kelu

[2022-05-22 09:45] ariandii commented on #5235
Sebagai inforamsi tambahan,
Ada 1 keluarga terdiri dari Suami, Istri dan 3 anak.

Mereka berdomisili sementara di desa (karena bekerja), dan minta surat keterangan yang diperlukan.

Tentunya mereka diinput ke Database dengan status Tidak Tetap.
Jika mengikuti aturan yang betul, Apakah 1 keluarga itu artinya tidak akan bisa diketahui sebagai sebuah Keluarga dalam OpenSID? Apakah artinya selamanya m

[2022-05-22 09:50] eddieridwan commented on #5235
Sejauh ini, keluarga di OpenSID adalah keluarga yg kartu keluarganya berdomisili tetap di desa ybs. Dan dianggap dan dilaporkan sebagai warga desa ybs, sesuai dengan data Dukcapil.

Jika ada kebutuhan untuk merekam keluarga 'tidak tetap', yaitu keluarga yg kartu keluarganya dari wilayah lain dan hanya berdomisili sementara di desa ybs, maka silakan buat issue khusus. Dan harus disertai aturan leng

[2022-05-22 09:59] ariandii commented on #5235
Dengan demikian, apakah Laporan Rekap Penduduk yang diterapkan saat ini juga tidak menghitung tambahan penduduk yang diinput sebagai Tidak Tetap?

[2022-05-22 10:00] eddieridwan commented on #5235
Sesuai dengan Permendagri terkait. Silakan dipelajari.

[2022-05-22 10:02] #5235 closed, assigned to nobody

[2022-05-23 00:53] #5234 closed, assigned to nobody

[2022-05-23 01:06] yogiperdana commented on #4943
Mohon maaf pak @muhtar-coder, untuk [Formulir F 1.01 terbaru.pdf](https://github.com/OpenSID/OpenSID/files/8132153/Formulir.F.1.01.terbaru.pdf) gambarnya tidak jelas. Ada perubahan apa saja dengan versi yang lama pak?

[2022-05-23 01:28] yogiperdana commented on #5167
Jenis surat apa saja yang menggunakan kop burung garuda pak @sutaga? Atau apakah yang dimaksud untuk semua surat namun diberikan opsi untuk memilih ingin menggunakan kop lama atau kop burung garuda ini

[2022-05-23 05:13] andifahruddinakas commented on #5179
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/1049

[2022-05-23 05:13] #5179 closed, assigned to yogiperdana

[2022-05-23 15:56] tobagus6911 opened #5236 "tolong buatkan galeri Video / Film"
### Apa kekurangan yg ingin diatasi?

saat ini baru ada galeri foto, ingin ada khusus galeri vidio.
Vidio tersebut link dari Youtue

### Jelaskan solusi yg diinginkan

untuk tema batuah sudah dibuatkn. namun masih dalam bentuk coding

### Apakah ada alternatif lain

ada di thema Batuah (vidio) di home

### Untuk versi OpenSID mana

mana saja

### Informasi tambahan

_No response_

[2022-05-23 15:58] tobagus6911 commented on #5236
![image](https://user-images.githubusercontent.com/84884247/169859782-848bbd43-c65d-4189-b3a4-b6295479eed8.png)
ada di tema batuah

[2022-05-24 01:04] eddieridwan opened #5237 "[teknis] Sederhanakan pemanggilan tracksid dengan menghapus token_opensid, gunakan token_pantau"
### Apa kekurangan yg ingin diatasi?

Pemanggilan tracksid saat ini menggunkan token_opensid dan token_pantau. Tujuannya sama, yaitu mengirim suatu bukti bahwa tracksid dipanggil dari OpenSID.

### Jelaskan solusi yg diinginkan

Sederhanakan dengan menghapus token_opensid dan ganti dengan token_pantau.

### Apakah ada alternatif lain

Tidak

### Untuk versi OpenSID mana

v22.05-premium

### Inform

[2022-05-24 01:32] eddieridwan opened #5238 "Bug susulan: hapus COLLATE utf8_unicode_ci di seeder"
### Jelaskan error yg dialami

Error karena ada COLLATE utf8_unicode_ci di seeder

### Cara untuk mereplikasi errornya

1. install dari awal dengan database kosong
2. buka menu Info Desa  > Pemerintahan Desa
3. lihat pesan di form Periksa terkait adanya COLLATE utf8_unicode_ci

Karena error ini ada di kolom data, bukan tabel, tidak bisa diperbaiki otomatis.

### Hasil yg diharapkan

Tidak ada kolo

[2022-05-24 03:19] andifahruddinakas commented on #5237
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/1055

[2022-05-24 03:19] #5237 closed, assigned to nobody

[2022-05-24 03:22] andifahruddinakas commented on #5003
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/1054

[2022-05-24 03:22] #5003 closed, assigned to agungsugiarto

[2022-05-24 03:26] andifahruddinakas commented on #5238
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/1051

[2022-05-24 03:26] #5238 closed, assigned to nobody

[2022-05-24 04:45] andifahruddinakas opened #5239 "Permintaan fitur: Sediakan modul untuk mencatat data PAUD"
### Apa kekurangan yg ingin diatasi?

Belum ada modul untuk mencatan PAUD.

### Jelaskan solusi yg diinginkan

Sediakan modul mecatat PAUD.

Isian :
- Nama Paud
- Jumlah Guru
- Jumlah Siswa

### Apakah ada alternatif lain

.

### Untuk versi OpenSID mana

v22.05-premium

### Informasi tambahan

.

[2022-05-24 05:57] agusterm opened #5240 "Sesuaikan judul Jenis Peraturan dengan sebutan Kepala Desa"
### Jelaskan error yg dialami

Sebutan Kepala Desa tidak berpengaruh di jenis peraturan. agar bisa nama jenis peraturan bisa disesuaikan dengan sebutan di Desa. di desa kami nama Peraturan Kepala Desa namanya Peraturan Perbekel.  Nama Kepala Desa di Desa kami namanya perbekel.

### Cara untuk mereplikasi errornya

sebagaimana mestinya

### Hasil yg diharapkan

sebagaimana mestinya

### Tangkapan l

[2022-05-24 06:43] bing609 commented on #3721
Masih ada yang tertinggal di Versi 22.05 terkait sebutan 'dusun' yang tidak ikut berubah dengan nama pengganti:
1. di halaman dasboard admin pada judul widget 'Wilayah Dusun"
![image](https://user-images.githubusercontent.com/71241253/169966035-0d95713c-8109-48b0-b01c-4de364163394.png)

2. di halaman Wilayah Administratif Dusun pada tombol '+ Tambah Dusun'
![image](https://user-images.githubuserco

[2022-05-24 07:22] balongbesuk commented on #4943
duplicate #4225

[2022-05-24 08:50] Pematung opened #5241 "Permintaan fitur: Sediakan Modul Untuk Tata Kelola Bumdes"
### Apa kekurangan yg ingin diatasi?

Belum ada modul untuk mencatat dan mengelola data BUMDES.

### Jelaskan solusi yg diinginkan

Sediakan modul untuk mecatat data BUMDES.

Isian :

Identitas Bumdes
Pendapatan
Pengeluaran
Jumlah Unit Usaha
Jumlah Peminjam ( Untuk Unit Usaha Simpan Pinjam)
Statistik
Lapor Bulan dan Tahun
Struktur Pengurus Bumdes
Anggota Bumdes
Buku Kas/Saldo Bumdes
dll

### Apaka

[2022-05-24 16:43] mranca commented on #5232
Sangat setuju dengan ini jika citra  mapbox satelit-street di jadikan default

[2022-05-25 03:01] andifahruddinakas commented on #5167
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/1056

[2022-05-25 03:01] #5167 closed, assigned to yogiperdana

[2022-05-25 10:08] andifahruddinakas commented on #5205
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/1058

[2022-05-25 10:08] #5205 closed, assigned to eddieridwan

[2022-05-25 15:56] Pematung opened #5243 "Bug/error: Jabatan Kepala Desa Pada Menu Pemerintahan Desa Sering Berubah Menjadi Kepala Saja"
### Jelaskan error yg dialami

Masih adanya bug pada Menu Info Desa/Pemerintahan Desa/Kolom Jabatan Kepala Desa Yang mana sering berubah sendiri menjadi **Kepala** saja walaupun sudah diganti tulisan jabatannya menjadi Kepala Desa.

![1](https://user-images.githubusercontent.com/105429258/170301081-e9f9c079-389a-4c50-a560-b308dfc4b474.png)

### Cara untuk mereplikasi errornya

**Hal ini terjadi ke

[2022-05-26 00:47] eddieridwan commented on #5209
Bung @scqolbu24 , saya ambil issue ini, ya.

[2022-05-26 00:53] scqolbu24 commented on #5209
baik pak

[2022-05-26 04:33] eddieridwan opened #5244 "Permintaan fitur: cetak slip gaji pegawai"
### Apa kekurangan yg ingin diatasi?

Untuk bisa berkelanjutan digunakan kantor desa, OpenSID perlu dapat dimanfaatkan kepada semua perangkat desa sesuai tupoksi mereka. Supaya tidak hanya digunakan oleh satu orang saja, misalnya operator SID.

Supaya digunakan oleh Kaur Keuangan atau Bendahara, OpenSID dapat menyediakan fitur Slip Gaji Pegawai, yang perlu diterbitkan setiap bulan.

### Jelaskan s

[2022-05-26 05:20] #3820 closed

[2022-05-26 05:22] #2712 closed

[2022-05-26 05:25] #5097 closed, assigned to nobody

[2022-05-26 05:26] #4929 closed, assigned to nobody

[2022-05-26 05:26] #4906 closed, assigned to nobody

[2022-05-26 05:26] #4872 closed, assigned to nobody

[2022-05-26 05:27] #4545 closed, assigned to nobody

[2022-05-26 05:28] #4403 closed, assigned to nobody

[2022-05-26 05:28] #4400 closed

[2022-05-26 05:28] #4328 closed

[2022-05-26 05:29] #4283 closed

[2022-05-26 05:29] #4282 closed

[2022-05-26 05:29] #4018 closed

[2022-05-26 08:54] andifahruddinakas commented on #5209
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/1059

[2022-05-26 08:54] #5209 closed, assigned to eddieridwan, scqolbu24

[2022-05-26 14:47] PWidodo commented on #5244
Untuk printout Slip Gaji, seyogyanya dalam 1 lembar kertas HVS berisi 4 data Slip Gaji dari 4 Orang Perangkat Desa, jumlah lembar cetak tergantung dari jumlah data slip gaji seluruh perangkat desa yang ada (kades, sekdes, dan Perangkat Desa lainnya) sebagaimana gambar dibawah ini :
![printout slip gaji2](https://user-images.githubusercontent.com/45189822/170512818-cb4f32a8-0aa1-4c71-b175-256cf1e39

[2022-05-26 14:52] PWidodo commented on #5244
Selanjutnya penting untuk disediakan juga tombol Cetak Rekap Gaji dan Potongan untuk seluruh Perangkat Desa yang ada, Hal ini untuk mempermudah Bendahara Desa atau PPKD Bidang 1 dalam mengelompokkan masing-masing potongan yang harus di stor, baik PPh21 atas Honor, iuran BPJS dan atau kredit Bank.  Untuk Siltap dan Tunjangan tidak terkena potongan PPh21, karena akumulasi 1 bulan dibawah 3,5 juta, t

[2022-05-26 17:29] andifahruddinakas opened #5245 "Sinkronisasi Program Bantuan OpenSID ke OpenDK"
Cek issue https://github.com/OpenSID/OpenDK/issues/368

[2022-05-26 17:43] andifahruddinakas commented on #5245
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/984

[2022-05-26 17:43] #5245 closed, assigned to apidong

[2022-05-26 18:15] andifahruddinakas opened #5246 "Ekspor Data Program Bantuan untuk OpenDK"
Cek issue https://github.com/OpenSID/OpenDK/issues/368

[2022-05-26 18:19] andifahruddinakas commented on #5246
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/1050

[2022-05-26 18:19] #5246 closed, assigned to apidong

[2022-05-27 01:12] andifahruddinakas commented on #4307
Pak @ariandii, issue ini masih diperlukan.

[2022-05-27 01:13] andifahruddinakas commented on #4018
Pak @ariandii, issue ini masih diperlukan.

[2022-05-27 01:14] andifahruddinakas commented on #4591
Pak @ariandii, issue ini masih diperlukan.

[2022-05-27 01:15] andifahruddinakas commented on #4713
Pak @ariandii, issue ini masih diperlukan.

[2022-05-27 01:16] andifahruddinakas commented on #4928
Pak @ariandii, issue ini masih diperlukan.

[2022-05-27 01:16] andifahruddinakas commented on #2737
Pak @ariandii, issue ini masih diperlukan.

[2022-05-27 01:18] andifahruddinakas commented on #4017
Pak @ariandii, issue ini masih diperlukan.

[2022-05-27 01:18] andifahruddinakas commented on #3403
Pak @ariandii, issue ini masih diperlukan.

[2022-05-27 01:53] Pematung commented on #5108
Saran saya harus ada 2 opsi surat yang dihasilkan
1. dalam bentuk rtf (word)
2. Pdf
untuk menjaga kemungkinan salah entri lalu sipembuat surat dan pemohon bisa untuk melakukan edit atau penyesuaian.

[2022-05-27 02:02] mranca commented on #5108
Usahakan tetap bisa di donwload dalam bentuk word,supaya bisa memudahkan pengeditan jika terjadi kesalahan tanpa harus buat baru lagi

[2022-05-27 02:12] agungsugiarto commented on #5240
Pak @agusterm bisa diberikan contoh untuk semua masing2 sebutannya, terima kasih.

[2022-05-27 02:20] andifahruddinakas opened #5247 "Permintaan fitur: Restore Folder Desa Melalui Aplikasi"
### Apa kekurangan yg ingin diatasi?

Perlu disediakan restore folder desa melalui aplikasi sehingga tidak perlu lagi masuk melalui CPanel.

Cek pembahasan https://m.facebook.com/groups/OpenSID/permalink/2136789373152699/?comment_id=2137016989796604&reply_comment_id=2139373846227585

### Jelaskan solusi yg diinginkan

Sediakan restore folder desa

### Apakah ada alternatif lain

Saat ini masih mel

[2022-05-27 02:39] agusterm commented on #5240
Untuk Kepala Desa ditempat kami itu sebutannya perbekel.
Dari sisi nama peraturan
Kalo Peraturan Kepala Desa (Pekades) sebutannya Peraturan Perbekel
Keputusan Kepala Desa sebutannya Keputusan Perbekel
Kalo Peraturan Desa tetap sama

[2022-05-27 02:49] agungsugiarto commented on #5243
Pak @Pematung saya tidak bisa replikasi issue ini, sudah saya coba merubah nama jabatannya kemudian ubah logo desa, tapi tetap jabatan tersebut tidak berubah seperti yg disampaikan. Apakah issue ini juga dialami di demo berputar pak?

[2022-05-27 03:03] agungsugiarto commented on #5243
Issue ini saya close, untuk merperbaiki bisa ikuti langkah berikut

<img width="733" alt="image" src="https://user-images.githubusercontent.com/10989147/170620426-d4a7897d-fe40-4b86-86cd-92d8813a18bb.png">
Sebutan kepala desa diambil dari pengaturan aplikasi jadi bisa dirubah, urutannya untuk merubah

1. Buka menu `pengaturan/aplikasi`
2. Ubah `sebutan kepalan desa` sesuai preferensi
3. Buka menu

[2022-05-27 03:19] agungsugiarto commented on #5243
Issue

[2022-05-27 03:31] agungsugiarto commented on #5240
Pak @agusterm agar konsisten dibanyak desa, mungkin perubahannya seperti ini

Peraturan Desa (Perdes) => Peraturan Desa
Peraturan Kepala Desa (Perkades) => Peraturan Kepala Desa
Peraturan Bersama Kepala Desa => Peraturan Kepala Desa

Sebutan `Desa` akan diambil dari pengaturan aplikasi sebutan desa, bagaimana pak?

Pak @eddieridwan mungkin ada usul lain pak?

[2022-05-27 06:51] eddieridwan commented on #5108
@Pematung @mranca : fitur ini `tidak` akan menyediakan surat tercetak dalam bentuk RTF atau Word. Surat yg dicetak `tidak` bisa diubah.

Tetapi nantinya akan disediakan fitur untuk bisa mengubah isian suratnya (tanpa harus buat baru lagi), sebelum difinalkan. Yaitu, surat bisa dicetak/di-preview dan form isiannya diperbaiki berulang-ulang sebelum difinalkan. Setelah difinalkan, surat tersebut tida

[2022-05-27 07:10] Pematung commented on #5108
OK OpenSID selalu memberikan solusi terbaik

[2022-05-27 09:10] sutaga commented on #5167
Kalau di Desa kami, hampir semua format surat menggunakan Logo Garuda, dan
berlaku untuk Desa di Kabupaten Sukabumi

Pada tanggal Sen, 23 Mei 2022 08.28, Yogi Perdana ***@***.***>
menulis:

[2022-05-27 09:13] sutaga commented on #5167
Betul, yang kami harapkan itu ada pilihan jenis Kop Surat, karena untuk
surat yang tersedia di opensid saat ini masih menggunakan Kop Surat dengan
logo Kabupaten, sedangkan untuk Kabupaten Sukabumi sudah menggunakan logo
burung garuda.

Pada tanggal Jum, 27 Mei 2022 16.09, Sutaga Azfan ***@***.***>
menulis:

[2022-05-27 13:33] Pematung commented on #4534
Setuju jika fitur ini dimasukkan jadi salah 1 modul pada OpenSID

[2022-05-27 13:52] hantariksa commented on #4534
Iya pak ... Penting itu pak

Pada tanggal Jum, 27 Mei 2022 20.33, Sopian Hadi ***@***.***>
menulis:

[2022-05-27 17:53] muhtar-coder commented on #5239
mantap,,,
bisa di tambah dan tampilkan data anak usia paud secara keseluruhan berdasarkan usia paud atau dari data penduduk (belum masuk paud/tk)

[2022-05-28 18:00] ai-skematik commented on #5247
fitur ini seperti menambahkan tema melalui admin.

[2022-05-28 18:01] ai-skematik commented on #5247
Tp dulu tema tidak jd karena pertimbangan keamanan.

[2022-05-28 18:07] ai-skematik commented on #5239
tidak hanya data paud yang dibutuhkan di OpenDK, juga ada data sarana lain seperti sarana pendidikan selain paud, data sarana kesehatan, dan sarana umum., jd mungkin sebaiknya fiturnya tidak spesifik untuk data paud

[2022-05-28 18:10] ai-skematik commented on #5239
![image](https://user-images.githubusercontent.com/48144047/170837841-ef659574-2fe3-4cc8-9034-94534ad4dd54.png)

[2022-05-28 18:11] ai-skematik commented on #5239
Datanya Bisa dibuat di Analisis tingkat desa, dengan syarat tidak dapat dihapus oleh pengguna indikator pertanyaannya agar konsisten.

[2022-05-29 05:54] eddieridwan commented on #5247
@andifahruddinakas dkk, masalah keamanan tetap perlu dipertimbangkan. Karena restore folder desa mengunggah file php, tentunya resiko mengunggah script nakal yg bisa mengancam keseluruhan server.

Syarat tambahan yg perlu diterapkan:

1. Hanya admin yg diperbolehkan
2. Admin tsb harus memiliki email atau Telegram yg telah diverifikasi
3. OTP dikirim ke email atau Telegram yg telah diverifikasi seb

[2022-05-30 06:27] Pematung opened #5248 "Bug/error: Foto/Gambar Perangkat Desa Tidak Tampil"
### Jelaskan error yg dialami

Masih adanya bug pada Menu Info Desa/Pemerintahan Desa/Ubah Data/Unggah

Terjadi pada https://berputar.opendesa.id/

### Cara untuk mereplikasi errornya

Masuk ke Menu
1. Info desa/
2. Pemerintahan desa/
3. Ubah data/
4. Unggah foto....
5. Lalu simpan gambar yang sudah terupload ngak muncul....???

![image](https://user-images.githubusercontent.com/105429258/17093096

[2022-05-30 06:35] Pematung commented on #5243
OK Problem Solved

[2022-05-30 07:07] andifahruddinakas commented on #5243
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/1064

[2022-05-30 07:07] #5243 closed, assigned to agungsugiarto

[2022-05-30 22:21] mranca commented on #5108
Baik pak, opensid selalu yang terbaik,

[2022-05-31 05:57] agungsugiarto commented on #5248
Pak @Pematung saya tidak mengalami masalah yg dimaksud di local maupun di berputar, apakah sudah memastikan foto yg diupload sudah berhasil terupload?

<img width="821" alt="image" src="https://user-images.githubusercontent.com/10989147/171105874-743f85f5-2617-4e17-afa6-64d99e46a674.png">

[2022-05-31 06:00] agusterm commented on #5240
mohon maaf pak kemarin saya balas dr hp ternyata tidak masuk. usul saya diambil dari sebutan kepala desa saja

[2022-05-31 06:02] agusterm commented on #5240
seperti contoh Peraturan Kepala Desa ditempat kami namanya Peraturan Perbekel
dan Keputusan Kepala Desa namanya Keputusan Perbekel

[2022-05-31 06:30] #5248 closed, assigned to nobody

[2022-05-31 06:31] ai-skematik opened #5249 "Bug/error: Impor Data Penduduk nik 0 Lebih dari 1 terbaca Ganda"
### Jelaskan error yg dialami

Saat Impor Data Penduduk dengan nik 0 lebih dari 1, terbaca sebagai Nik Ganda.

### Cara untuk mereplikasi errornya

Impor Data Penduduk dengan beberapa Penduduk yang pada kolom nik di isi 0

### Hasil yg diharapkan

Semua Penduduk nik 0 berhasil di impor dan diganti dengan nik sementara.

### Tangkapan layar dan log error

-

### Rilis Versi OpenSID

Rilis Premium

[2022-05-31 07:07] muhtar-coder opened #5250 "Permintaan fitur: sediakan tambah anggota kelompok atau lembaga penduduk dari luar desa"
### Apa kekurangan yg ingin diatasi?

Saat ini daftar nama kelompok/anggota kelompok dan lembaga hanya terbatas dari penduduk warga desa yg tercatat sedangkan ada banyak pembuatan struktur yg terdapat nama penduduk non warga seperti struktur TPPS (tim percepatan penangana stunting) atau banyak struktur lain yg terdapat nama non warga.

### Jelaskan solusi yg diinginkan

Bisa tambah anggota dari pe

[2022-05-31 07:10] andifahruddinakas commented on #3829
Duplicate issue https://github.com/OpenSID/OpenSID/issues/5250

[2022-05-31 07:10] #3829 closed

[2022-05-31 07:11] #5213 closed, assigned to nobody

[2022-06-02 03:25] andifahruddinakas commented on #5108
Cek :
1. Layanan Mandiri.
2. API OpenSID.
3. Cek ulang fungsi surat lama.

[2022-06-03 03:57] jonitrisulasmono opened #5254 "Permintaan fitur: Menu Sub sub Menu"
### Apa kekurangan yg ingin diatasi?

Aplikasi website tidak dapat menambahkan anak sub menu, alias hanya dua tingkat saja. Menu dan Sub menu. Mungkin bisa ditambahkan fitur sub sub menu sampai empat level atau tidak terbatas.

### Jelaskan solusi yg diinginkan

Sub menu dapat ditambahkan sub menu lagi.
Contoh Menu:
Lembaga Desa --> Lembaga Kemasyarakatan Desa --> Satlinmas

[2022-06-04 03:11] WAHYUDIK opened #5255 "Bug/error: qr code surat memgarah ke github opensid"
### Jelaskan error yg dialami

Qr code surat setelah di dscan mengarah ke github opensid, dan juga qi qrcode logo desa tidak tampil di tengah² qrcode

### Cara untuk mereplikasi errornya

Buat surat seperi biasanya kemudian cetak rtf, kemudian scan qrcode di surat tersebut

### Hasil yg diharapkan

Hasil scan qrcode kembali seperti semula, yakni mengarah ke validasi surat

### Tangkapan layar dan

[2022-06-04 03:12] andifahruddinakas commented on #3950
Duplicate issue https://github.com/OpenSID/OpenSID/issues/5254

[2022-06-04 03:12] #3950 closed

[2022-06-04 03:17] andifahruddinakas commented on #5241
Duplicate issue https://github.com/OpenSID/OpenSID/issues/5186

[2022-06-04 03:17] #5241 closed, assigned to nobody

[2022-06-04 04:29] ai-skematik opened #5256 "Permintaan fitur: Pemberitahuan Data belum lengkap Pada saat Input Data Penduduk berupa Pop Up"
### Apa kekurangan yg ingin diatasi?

Saat menginput data penduduk ketika ada data yang wajib di isi tetapi belum terisi maka data tersebut tidak dapat tersimpan. saat ini pemberitahuan data belum terisi tersebut menjadi warna merah, untuk mengetahuinya pengguna harus scrool ke atas.

### Jelaskan solusi yg diinginkan

Pemberitahuan data biodata wajib yang belum di isi berupa Pop Up. hal ini untuk

[2022-06-04 12:15] yogiperdana commented on #5249
Saya coba tidak ada masalah pak. Mohon contoh data yang dimaksud @ai-skematik

[2022-06-04 13:13] Pematung opened #5257 "Permintaan fitur: Sediakan Modul Display Informasi Desa"
### Apa kekurangan yg ingin diatasi?

Belum ada modul untuk mengatur atau menampilkan display Informasi desa

### Jelaskan solusi yg diinginkan

Isian Display :

1. Berita
2. Agenda
3. Foto Galery dan Pembangunan
4. Video ( Yotube maupun Video Offline )
5. Statistik dll
6. Running Text
7. Jadwal Sholat
8. Pengaturan Tema Display

### Apakah ada alternatif lain

Alternatif lain saat ini dengan cara

[2022-06-04 14:46] ai-skematik commented on #5249
ini tangkapan layarnya
![image](https://user-images.githubusercontent.com/48144047/172008109-c4e7d2c6-dec1-4126-88b3-6ef44478a307.png)

[2022-06-04 14:52] yogiperdana commented on #5249
Bisa tolong kirim datanya ke telegram saya pak? Saya coba isi 0 NIKnya akan berubah menjadi NIK sementara (datanya tidak ganda)

[2022-06-04 14:56] ai-skematik opened #5258 "Impor Penduduk dengan KK 0 lebih dari 1 keluarga akan terkumpul jadi 1 keluarga."
### Jelaskan error yg dialami

Impor Penduduk dengan KK 0 lebih dari 1 keluarga akan terkumpul jadi 1 keluarga.

### Cara untuk mereplikasi errornya

Input data pada form excel dengan beberapa keluarga yang memiliki KK 0, lihat hasilnya maka akan terkumpul menjadi 1 keluaraga beberapa keluarga tadi.

### Hasil yg diharapkan

tetap terpisah sesuai jumlah keluarga yang di impor dan KK 0 diubah menja

[2022-06-04 18:31] Pematung opened #5259 "Permintaan fitur: Tambahkan Lampiran F-2.01 Pada Format Suket Kelahiran & Kematian"
### Apa kekurangan yg ingin diatasi?

Belum tersedianya Lampiran F.201 pada Suket Kelahiran dan Kematian

### Jelaskan solusi yg diinginkan

Sehubungan dengan banyaknya format baru yang dijadikan persyaratan utama pada setiap permohonan Adminduk di seluruh indonesia karena dengan adanya **SIAK Terpusat** begitu banyak format lampiran yang belom tersedia di Aplikasi OpenSID dan format ini amat sang

[2022-06-05 05:32] ai-skematik commented on #5249
@yogiperdana  sudah sy kirim di telegram

[2022-06-05 05:39] ai-skematik opened #5260 "Permintaan fitur: Hilangkan Fitur Kosongkan Database"
### Apa kekurangan yg ingin diatasi?

Saat ini ketika instal awal OpenSID tidak perlu lagi impor data awal karena database dibuat dengan query. sehingga fitur kosongkan database tidak diperlukan lagi.

### Jelaskan solusi yg diinginkan

Fitur kosongkan database dihilangkan karena fitur tersebut masih digunakan oleh desa yang opensidnya sudah digunakan untuk pelayanan. sehingga membuat database tid

[2022-06-05 10:47] Pematung commented on #5248
Perdetik ini saya uji ngak bisa nyimpan foto perangkat desa pada menu info
desa/pemerintahan desa cek pada https://berputar.opendesa.id/pengurus
jangan pada yang lain......

Pada tanggal Sel, 31 Mei 2022 pukul 13.31 Andi Fahruddin Akas <
***@***.***> menulis:

[2022-06-06 01:25] andifahruddinakas commented on #5258
Untuk impor penduduk, belum disediakan pengecekan dan pembuatan No KK Sementara. Yang saat ini ada hanya NIK Sementara saat impor penduduk saja.

[2022-06-06 02:31] balongbesuk commented on #5258
apa bisa satuan 0 yang terdeteksi terdeteksi yang kemudian diubah otomatis ke NIK/KK Sementara?

fitur ini sekaligus memperbaiki BUG data penduduk yang terjadi setelah penerapan No NIK / KK Sementara bagi pengguna opensid lama yang dlu praktek NIK / KK sementara versi opensid lama menggunakan angka 0,

[2022-06-06 03:23] agungsugiarto commented on #5249
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/1069

[2022-06-06 03:23] #5249 closed, assigned to andifahruddinakas

[2022-06-06 03:51] andifahruddinakas commented on #5258
Pak @balongbesuk, @ai-skematik, untuk NIK bisa diterapkan penggunaan '0' tapi mungkin untuk no_kk agak bermasalah untuk proses impornya. Karena pengecekan anggota berdasarkan pengelompokan no_kk.

[2022-06-06 03:59] agungsugiarto commented on #5255
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/1067

[2022-06-06 03:59] #5255 closed, assigned to andifahruddinakas

[2022-06-06 04:33] andifahruddinakas opened #5261 "Bug/error: Data lampiran surat tidak tampil"
### Jelaskan error yg dialami

Cetak surat yang memiliki data lampiran, maka lampiran tersbut digenerate tanpa data.

### Cara untuk mereplikasi errornya

Buka surat > cetak surat yang memiliki lampiran

### Hasil yg diharapkan

Data lampiran muncul

### Tangkapan layar dan log error

.

### Rilis Versi OpenSID

Rilis Premium

### Versi OpenSID

v22.06-premium

### Tema Yang Digunakan

bawaan

###

[2022-06-06 05:12] reissapradhita123 opened #5262 "Permintaan fitur: Menambahkan menu kode isian layanan surat di web administrator"
### Apa kekurangan yg ingin diatasi?

Agar bisa mengkustomisasi sendiri sehingga memudahkan pembuatan surat.

### Jelaskan solusi yg diinginkan

Menambahkan menu kode isian di web administrator bagian layanan surat.

### Apakah ada alternatif lain

Memudahkan kustomisasi pergantian jenis surat (kode isian)

### Untuk versi OpenSID mana

Versi diatas 22.06 (Update Selanjutnya)

### Informasi tambah

[2022-06-06 12:33] jonitrisulasmono commented on #5254
ternyata sudah pernah ada isu serupa. namun saya sudah coba browsing, tidak menemukan solusinya. mohon informasi...

[2022-06-06 13:49] agilbarker opened #5263 "Bug/error: POP up statistik pada peta wilayah dusun tidak tampil"
### Jelaskan error yg dialami

POP up statistik pada peta wilayah dusun tidak tampil ketika nama dusun menggunakan huruf terdiri dari dua kata yang mengandung spasi

### Cara untuk mereplikasi errornya

1. pergi ke admin
2. info pekon > wilayah administratif
3. tambahkan nama dusun,terdiri dari dua kata yang mengandung spasi, contoh (Sumber Agung, Sinar Baru)
4. buat peta wilayah dusun
5. cek peme

[2022-06-07 01:03] andifahruddinakas opened #5264 "Bug/error: Status IDM Tidak dapat diperbaharui jika respon dari api idm kemendes tidak sesuai"
### Jelaskan error yg dialami

Status IDM Tidak dapat diperbaharui jika respon dari api idm kemendes tidak sesuai

### Cara untuk mereplikasi errornya

Respon IDM Kemendes :
[code]

### Hasil yg diharapkan

Tombol perbarui dapat digunakan

### Tangkapan layar dan log error

![coba](https://user-images.githubusercontent.com/57283157/172273881-4d13d260-374d-46dd-a3ba-3adf31de7480.png)

### Rilis Ver

[2022-06-07 02:33] agungsugiarto commented on #5261
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/1071

[2022-06-07 02:33] #5261 closed, assigned to andifahruddinakas

[2022-06-08 06:06] WAHYUDIK opened #5265 "Bug Masih Bisa Input Data Bantuan Sasaran Keluarga Yang Sudah Di Input"
### Jelaskan error yg dialami

Input data peserta bantuan sasaran keluarga yang sudah terinput masih bisa di input kembali, sehingga besar kemungkinan bisa menyebabkan data pesertanya ganda, ini saya temukan ketika inout data peserta lebih dari 60 peserta

### Cara untuk mereplikasi errornya

Tambah jenis bantuan dengan sasaran keluarga, kemudian inpnut data peserta diatas 60 peserta,

### Hasil y

[2022-06-08 07:30] agungsugiarto commented on #5264
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/1073

[2022-06-08 07:30] #5264 closed, assigned to andifahruddinakas

[2022-06-08 23:50] andifahruddinakas commented on #5265
Pak @WAHYUDIK, sy sudah ikuti langkahnya, tp sy tidak menemukan bug ini.

![bantuan 1](https://user-images.githubusercontent.com/57283157/172735952-7f19b7f0-428b-4c4f-a61d-0d928b83e400.png)

Saat menambah kan data peserta data yg sudah di input tdk muncul.

[2022-06-09 01:05] eddieridwan commented on #5265
@andifahruddinakas , mungkin periksa database dari @WAHYUDIK untuk memastikan masuk ganda tersebut. Kemudian juga lihat apakah bisa buat key multi-kolom (kolom `peserta` dan `program_id`) di tabel program peserta untuk membuat unik (yaitu supaya kombinasi program dan peserta ganda tidak mungkin masuk ke tabel). Jika lakukan itu pastikan pesan gagal jelas sebabnya. Dan migrasi juga perlu antisipasi

[2022-06-09 06:54] agungsugiarto commented on #5263
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/1074

[2022-06-09 06:54] #5263 closed, assigned to andifahruddinakas

[2022-06-09 16:10] Fajar-blackdeath opened #5266 "Permintaan fitur: penambangan kolom tag id card di menu data pemilih"
### Apa kekurangan yg ingin diatasi?

di lampung sudah melakukan e voting berbasis e ktp. untuk memudahakan pendataan data penduduk dan melihat saiapa yang belum rekam ktp. mohon di tambahkan kolom tag id card di donwnload data pemilih.

### Jelaskan solusi yg diinginkan

di lampung sudah melakukan e voting berbasis e ktp. untuk memudahakan pendataan data penduduk dan melihat saiapa yang belum rek

[2022-06-09 17:07] muhtar-coder opened #5267 "Bug/error: isian Jumlah biaya pembangunan tidak bisa lebih dari 9 digit"
### Jelaskan error yg dialami

isian jumlah anggaran tidak bisa di isi dengan digit lebih dari 9 digit, sedangkan terdapat pembangunan yang sumber dana nya dari selain desa dengan jumlah anggaran lebih dari angka ratusan juta.

### Cara untuk mereplikasi errornya

Misal buat isian dokumentasi pembangunan jalan dengan sumber dana tunggal dari kabupaten/dinas PU, angka terbatas  hanya 9 digit sedang

[2022-06-10 02:02] agungsugiarto commented on #5177
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/1077

[2022-06-10 02:02] #5177 closed, assigned to andifahruddinakas

[2022-06-10 02:08] agungsugiarto commented on #5267
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/1079

[2022-06-10 02:08] #5267 closed, assigned to nobody

[2022-06-10 03:12] agungsugiarto commented on #5265
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/1078

[2022-06-10 03:12] #5265 closed, assigned to andifahruddinakas

[2022-06-10 06:55] andifahruddinakas commented on #5266
Solusi Tambahan :
Agar tidak berulang issue yang sama mengenai penambahan field / data yang akan ditampilkan, buat agar kolom bisa di atur secara dinamis

[2022-06-10 08:15] eddieridwan opened #5268 "Bug/error: gagal buka halaman jika tidak bisa akses layanan"
### Jelaskan error yg dialami

Gejalanya setelah login selalu kembali ke halaman Home, atau tiba-tiba kembali ke halaman Home.

Dan di log ada pesan sbb:
[code]

### Cara untuk mereplikasi errornya

1. Server tidak bisa akses Layanan
2. Di cache layanan tersimpan response yg tidak lengkap
3. Login
4. Perhatikan kembali ke halaman Home

### Hasil yg diharapkan

Ada pesan error yg jelas jika layanan

[2022-06-10 08:23] andifahruddinakas commented on #5268
Pak @eddieridwan, sama dengan issue https://github.com/OpenSID/OpenSID/issues/5200, berkaitan dengan respon layanan yang di simpan di cache tidak sesuai dengan format yang seharunya.

[2022-06-10 11:10] #5200 closed, assigned to nobody

[2022-06-12 07:46] andifahruddinakas opened #5269 "Terjadi error saat ubah artikel"
1. Buat group baru dengan akses modul artikel
2. Buat user
3. Login dan buat artikel
4. Ubahn artikel yang sudah di buat
5. Terjadi error berikut :
`ERROR - 2022-06-12 14:44:06 --> Query error: Unknown column 'a.id_user' in 'where clause' - Invalid query: SELECT *
FROM `artikel`
WHERE `a`.`id_user` = '8'
AND `id` != '167'
AND `slug` = 'laporan-realisasi-apbds-2'`

[2022-06-13 04:06] agungsugiarto commented on #5269
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/1085

[2022-06-13 04:06] #5269 closed, assigned to andifahruddinakas

[2022-06-13 05:03] yogiperdana opened #5270 "Permintaan fitur: sesuaikan alur pemeriksaan surat"
### Apa kekurangan yg ingin diatasi?

Saat ini surat dicetak tanpa diperiksa oleh kasi pelayanan umum dan sekretaris desa. Untuk menerapkan TTE, alur pemeriksaan surat harus melalui kasi pelayanan umum dan sekretaris desa

### Jelaskan solusi yg diinginkan

Setiap surat yang dicetak akan melalui beberapa tahap pemeriksaan. Dari kasi pelayanan umum dan sekretaris desa. Setelah itu baru ditandatanga

[2022-06-13 05:04] yogiperdana opened #5271 "Permintaan fitur: sesuaikan alur pemeriksaan surat pada layanan mandiri"
### Apa kekurangan yg ingin diatasi?

Saat ini surat dicetak tanpa diperiksa oleh kasi pelayanan umum dan sekretaris desa. Untuk menerapkan TTE, alur pemeriksaan surat harus melalui kasi pelayanan umum dan sekretaris desa

### Jelaskan solusi yg diinginkan

Setiap permohonan surat yang dilakukan oleh warga akan melalui beberapa tahap pemeriksaan. Dari kasi pelayanan umum dan sekretaris desa. Setel

[2022-06-13 06:01] apidong opened #5272 "Bug/error: tidak bisa tampilkan feed"
### Jelaskan error yg dialami

error 500 saat akses https://berputar.opendesa.id/index.php/feed

### Cara untuk mereplikasi errornya

masuk ke https://berputar.opendesa.id/index.php/feed

### Hasil yg diharapkan

halaman feed tampil

### Tangkapan layar dan log error

![image](https://user-images.githubusercontent.com/20056421/173289474-4094d3dd-227a-491e-84aa-11d1169ba9ca.png)

### Rilis Versi Op

[2022-06-13 06:57] ariandii commented on #5266
<img width="960" alt="image" src="https://user-images.githubusercontent.com/46939846/173297045-1b5eaf4e-ebc0-4efa-8eec-e827968face4.png">

[2022-06-13 06:58] ariandii commented on #5266
<img width="960" alt="image" src="https://user-images.githubusercontent.com/46939846/173297235-3cea62ac-f065-48cb-9e48-c776c166e9b4.png">

[2022-06-13 09:18] andifahruddinakas commented on #5272
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/1087

[2022-06-13 09:18] #5272 closed, assigned to agungsugiarto, apidong

[2022-06-14 03:08] yogiperdana opened #5273 "Permintaan fitur: buat notifikasi ketika ada surat permintaan surat untuk diperiksa atau ditandatangani"
### Apa kekurangan yg ingin diatasi?

Saat ini belum ada notifikasi daftar surat yang belum diperiksa dan tandatangani

### Jelaskan solusi yg diinginkan

Terdapat notifikasi untuk setiap permintaan surat baik untuk diperiksa atau ditandatangani

### Apakah ada alternatif lain

-

### Untuk versi OpenSID mana

-

### Informasi tambahan

_No response_

[2022-06-14 04:17] muhtar-coder opened #5274 "Permintaan fitur: Bisa tambah anggota rumah tangga bersumber dari daftar nama di kartu keluarga kepala rumah tangga"
### Apa kekurangan yg ingin diatasi?

Saat menambahkan anggota rumah tangga terkadang lupa nama dan harus mengingat-ingat nama istri/nama keluarga lain dan kadang harus buka data keluarga karena tidak ingat nama anggota rumah tangga sesuai yang berada di kartu keluarga.

### Jelaskan solusi yg diinginkan

Ketika akan menambahkan anggota rumah tangga,selain menggunakan tombol cari yang sudah ada, a

[2022-06-14 05:24] ridwan-opt opened #5275 "Tambahkan grafik kependudukan setiap tahun"
### Apa kekurangan yg ingin diatasi?

Tambahkan setatistik/grafik kependudukan yang bisa di filter berdasarkan grafik bulan ataupun tahun

### Jelaskan solusi yg diinginkan

.

### Apakah ada alternatif lain

.

### Untuk versi OpenSID mana

22.07-premium

### Informasi tambahan

_No response_

[2022-06-14 06:50] balongbesuk commented on #5275
sama gak dg yang ini?

https://github.com/OpenSID/OpenSID/issues/3983

[2022-06-15 03:14] balongbesuk opened #5276 "Permintaan fitur: Integrasikan Forum opendesa ke Aplikasi Opensid"
### Apa kekurangan yg ingin diatasi?

sering pengguna bertanya berulang pada forum agar dapat berkurang

### Jelaskan solusi yg diinginkan

integrasi forum opendesa ke aplikasi opensid

### Apakah ada alternatif lain

menggunakan iframe sepertinya cukup

### Untuk versi OpenSID mana

premium

### Informasi tambahan

![Untitled-1asas](https://user-images.githubusercontent.com/35319600/173729080-321

[2022-06-15 04:56] ai-skematik commented on #2486
ini perlu segera diterapkan.

[2022-06-15 04:57] roaddee commented on #2486
up

[2022-06-16 03:05] andifahruddinakas opened #5277 "Masih bisa hapus pengguna yg sudah lakukan absensi"
awal ya si A adalah aparatur desa ber ID Pamong 26

lalu sudah dihubungkan ke akun pengguna dan praktek kehadiran sukses (rekaman kehadiran ada beberapa hari).

kemudian si A tidak sengaja terhapus di data Pemerintahan Desa. kemudian si A dibuat ulang sebagai aparatur desa dengan ID baru 27.

sehingga di rekam kehadiran yg sudah ada beberapa hari, awalnya ID 26 saya ubah semua ke 27.

[2022-06-16 04:27] andifahruddinakas commented on #5277
Solusi :
- Buat softdelete
atau
- Cek agar tidak dapat dihapus

[2022-06-16 07:18] balongbesuk opened #5278 "Permintaan fitur: Sering terjadi Folder desa yang kurang sehingga upload tidak dapat dilakukan"
### Apa kekurangan yg ingin diatasi?

pada grup opensid sering menemukan pengguna desa yang gagal upload file gambar setelah d cek folder upload tidak sesuai dengan folder desa contoh sehingga muncul error

### Jelaskan solusi yg diinginkan

agar ketika upload gambar ketika folder yang dimaksud tidak ada bisa d buat otomatis oleh opensid

atau

ketika opensid update juga mengecek apakah folder des

[2022-06-16 07:43] balongbesuk opened #5279 "Bug/error: An Ub pada menu permohonan surat tidak muncul"
### Jelaskan error yg dialami

ketika operator desa memeriksa permohonan surat warga ketika ini mencetak an '/ ub datany tidak muncul

### Cara untuk mereplikasi errornya

layanan mandiri > permohonan surat > periksa permohonan surat masuk > pilih atas nama > kosong

### Hasil yg diharapkan

atas nama terisi

### Tangkapan layar dan log error

![image](https://user-images.githubusercontent.com/353

[2022-06-16 10:29] eddieridwan commented on #5278
@balongbesuk perhatikan bahwa di 22.06-premium, tidak ada lagi contoh folder desa, karena folder desa dibuat otomatis pada waktu install OpenSID. Jadi seharusnya masalah ini tidak terjadi lagi di versi Premium. Untuk versi Umum, tinggal tunggu saja sampai perubahan tersebut sudah masuk ke versi Umum.

[2022-06-16 12:04] andifahruddinakas commented on #5278
Setiap jalankam migrasi selalu di cek kelengkapan dari isi folder desa dan akan slalu disesuaikan.

Sudah diterapkan di versi v22.06-premium

[2022-06-16 12:04] #5278 closed, assigned to nobody

[2022-06-17 06:43] eddieridwan opened #5281 "Permintaan fitur: sediakan master analisis untuk pengisian blangko pendataan DTKS"
### Apa kekurangan yg ingin diatasi?

Data DTKS telah muncul sebagai sumber data penting bagi berbagai instansi supra-desa untuk merencanakan dan intervensi penanggulangan kemisikinan. Saat ini di OpenSID belum tersedia master analisis untuk pendataan DTKS tersebut.

### Jelaskan solusi yg diinginkan

Sediakan master analisis untuk pendataan DTKS. Idealnya menggunakan format tahun 2022. Yg ditemuk

[2022-06-18 07:11] yogiperdana commented on #5159
Saran tambahan dari mas @ai-skematik :
1. Hilangkan tombol terkait untuk akun demo (hapus,ubah,reset pin)
2. Buat keterangan pin demo akun di tombol info atau informasi umum

[2022-06-18 23:07] sulaimanlawidhub opened #5283 "Tambah Fitur Jawab Komentar pada web"
Agar setiap komentar bisa segera direspon, sangat diperlukan agar disediakan fitur jawab komentar pada web

[2022-06-19 03:09] andifahruddinakas commented on #5283
Duplikasi issue, bisa cek https://github.com/OpenSID/OpenSID/issues/4017 untuk melihat diskusi yang pernah dilakukan.

[2022-06-19 03:10] andifahruddinakas commented on #4017
Agar issue terupdate, issue ini ditutup dan digantikan oleh issue https://github.com/OpenSID/OpenSID/issues/5283

[2022-06-19 03:10] #4017 closed

[2022-06-20 02:24] agungsugiarto commented on #5279
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/1090

[2022-06-20 02:24] #5279 closed, assigned to andifahruddinakas

[2022-06-20 02:45] agungsugiarto commented on #5277
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/1092

[2022-06-20 02:45] #5277 closed, assigned to andifahruddinakas

[2022-06-21 01:50] eddieridwan opened #5284 "Demo: di website demo tampilkan data contoh yg lengkap"
### Apa kekurangan yg ingin diatasi?

Saat ini di website https://demosid.opendesa.id/ dan https://berputar.opendesa.id/ data contoh yg ditampilkan adalah data contoh awal terbatas pada waktu install OpenSID. Data ini kurang memperlihatkan potensi OpenSID.

### Jelaskan solusi yg diinginkan

Di website demo, tampilkan data contoh lengkap. Gunakan data desa yg bersedia berbagi, yang diacak supaya m

[2022-06-22 02:56] agungsugiarto commented on #5206
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/1091

[2022-06-22 02:56] #5206 closed, assigned to apidong

[2022-06-23 07:26] FirlianiF opened #5285 "Bug/error: Perbaiki notifikasi status langganan"
### Jelaskan error yg dialami

-

### Cara untuk mereplikasi errornya

-

### Hasil yg diharapkan

-

### Tangkapan layar dan log error

-

### Rilis Versi OpenSID

Rilis Premium

### Versi OpenSID

22.06

### Tema Yang Digunakan

_No response_

### Informasi tambahan

_No response_

[2022-06-23 07:32] scqolbu24 commented on #5285
sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/1094

[2022-06-23 07:32] #5285 closed, assigned to FirlianiF

[2022-06-23 08:18] FirlianiF commented on #5210
sudah dikerjakan melalui PR https://github.com/OpenSID/premium/pull/1072

[2022-06-23 08:18] #5210 closed, assigned to apidong

[2022-06-24 15:03] apidong opened #5286 "Uncaught TypeError: Cannot read properties of undefined (reading 'settings')"
### Jelaskan error yg dialami

![image](https://user-images.githubusercontent.com/20056421/175561640-d54968bf-8d89-493e-ab38-a4286ca5022c.png)

Uncaught TypeError: Cannot read properties of undefined (reading 'settings')

### Cara untuk mereplikasi errornya

buka modul pengaturan surat, dan buat sebuat template surat baru

### Hasil yg diharapkan

tidak ada error di console

### Tangkapan layar da

[2022-06-24 18:18] Pematung opened #5287 "Bug/error: Pada Surat Keterangan Pindah Penduduk"
### Jelaskan error yg dialami

Ada Bug Pada Format Surat Keterangan Pindah Penduduk

### Cara untuk mereplikasi errornya

1. Pergi ke Layanan Surat
2. Cetak Surat
3. Surat Keterangan Pindah Penduduk
4. Pilih Pemohon
5. Pilih Gunakan Format
6. Maka Menu Pilihan Klasifikasi Pindah Akan Hilang

![image](https://user-images.githubusercontent.com/105429258/175617978-e98cc5bc-f4bb-45ac-a324-2d73cd13e8ed

[2022-06-25 06:21] agungsugiarto commented on #4680
Sudah dikerjakan melalui pr https://github.com/OpenSID/premium/pull/1088

[2022-06-25 06:21] #4680 closed, assigned to yogiperdana, andifahruddinakas

[2022-06-26 04:11] agungsugiarto commented on #5286
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/1095/files

[2022-06-26 04:11] #5286 closed, assigned to apidong

[2022-06-26 04:35] yogiperdana opened #5288 "Bug/error: Tanggal lahir jadi tahun 1970 jika form tidak di isi perkiraan tgl lahir"
### Jelaskan error yg dialami

Tanggal lahir jadi tahun 1970 jika form tidak di isi perkiraan tgl lahir di ibu hamil stunting

### Cara untuk mereplikasi errornya

Masuk modul kesehatan > stunting > ibu hamil > tambah/edit lalu submit

### Hasil yg diharapkan

Berjalan normal

### Tangkapan layar dan log error

![image](https://user-images.githubusercontent.com/14155050/175799518-c04caf11-212a-496

[2022-06-26 04:53] Wiliyantoro commented on #5288
Kalau bisa isi otomatis prediksi lahir di ambil dari usia kehamilan jika form prediksi lahir kosong

[2022-06-26 05:15] yogiperdana commented on #5288
Form prediksi lahir maksudnya yang ya pak? Saat menginput KIA form hari/tanggal perkiraan lahir tidak bisa kosong jika belum melahirkan. Lalu untuk prediksi lahir setau saya itu diambil dari catatan saat USG kehamilan pak (bukan berdasarkan usia kehamilan saat ini)

[2022-06-26 06:14] Wiliyantoro commented on #5288
nah form yang tidak required prediksi lahir kan di pemantauan ibu hamil bulanan pak, sebenarnya saat tambah KIA sudah ada pilihan prediksi lahir, saya belum bisa coba untuk tambah ibu hamil karena masih bug itu

[2022-06-26 07:06] agungsugiarto commented on #5287
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/1098

[2022-06-26 07:06] #5287 closed, assigned to andifahruddinakas

[2022-06-27 01:13] andifahruddinakas opened #5289 "Gagal install v22.06-premium di share hosting"
Lakukan instalasi OpenSID v2206-premium menggunakan cara install baru (Menggunakan Seeder).

Akan terjadi error, beberapa tabel tidak lengkap. Namun status instalasi berhasil.

[2022-06-27 01:25] yogiperdana commented on #5288
Saat menginput data ibu hamil itu form melahirkan pak (bukan perkiraan atau prediksi)

[2022-06-27 02:16] agungsugiarto commented on #5289
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/1089

[2022-06-27 02:16] #5289 closed, assigned to andifahruddinakas

[2022-06-27 02:20] agungsugiarto commented on #5288
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/1100

[2022-06-27 02:20] #5288 closed, assigned to yogiperdana

[2022-06-27 08:06] bing609 opened #5290 "Data isian Pembangunan tidak dapat tersimpan untuk nilai anggaran diatas 2,1M"
### Jelaskan error yg dialami

Pada menu Pembangunan, tambah data baru, tidak dapat tersimpan untuk nilai anggaran yg diisi lebih dari 2,1M.
Saat sudah terimpan untuk isian dengan anggaran 2,1M tersebut, tidak dapat diedit atau diubah nilainya lebih dari 2,1M.

### Cara untuk mereplikasi errornya

1. Buka menu Pembangunan
2. Tambah data pembangunan
3. Isi nilai anggaran 100M
4. Isi sumber biaya pe

[2022-06-27 09:07] andifahruddinakas commented on #5290
Pak @bing609, issue duplikat dengan https://github.com/OpenSID/OpenSID/issues/5267 dan sudah diperbaiki di rilis v22.06-premium.

Untuk v22.06-premium akan tersedia di rilis umum 6 bulan selanjutnya.

[2022-06-27 09:07] #5290 closed, assigned to nobody

[2022-06-27 10:33] balongbesuk commented on #5284
tambahan

tambahkan contoh penduduk dengan status mati agar dapat mencoba test surat kematian

[2022-06-28 04:29] Wiliyantoro opened #5291 "Bug/error: menambah ibu hamil error 500"
### Jelaskan error yg dialami

saat menambah data ibu hami di menu Kesehatan -> Stunting -> Kesehatan Ibu dan Anak (KIA) -> isi tgl hari perkiraan lahir
terjadi error 500

### Cara untuk mereplikasi errornya

Severity: error --> Exception: SQLSTATE[22007]: Invalid datetime format: 1366 Incorrect integer value: '' for column `beta_beta_premium`.`kia`.`anak_id` at row 1 (SQL: insert into `kia` (`no_

[2022-06-28 04:42] Wiliyantoro opened #5292 "Bug/error: melihat data pemantauan bulanan anak 0-2 tahun muncul pop-up error"
### Jelaskan error yg dialami

setelah selesai / berhasil input data pemantauan bulanan anak 0-2 tahun dan ingin melihat data tersebut muncul pop-up error

### Cara untuk mereplikasi errornya

DataTables warning: table id=tabeldata - Requested unknown parameter 'kia.no_kia' for row 0, column 3. For more information about this error, please see http://datatables.net/tn/4

### Hasil yg diharapkan

b

[2022-06-28 05:25] Wiliyantoro opened #5293 "Bug/error: Edit Buku KIA pada form edit kosong"
### Jelaskan error yg dialami

saat ingin edit buku kia, tidak muncul data sebelumnya ( nama ibu dan anak )

### Cara untuk mereplikasi errornya

-

### Hasil yg diharapkan

muncul data sebelumnya

### Tangkapan layar dan log error

![2022-06-28 (8)](https://user-images.githubusercontent.com/44520382/176099366-fbdec5d8-e8e2-4490-9329-6251ae94c2d1.png)
![2022-06-28 (7)](https://user-images.githubus

[2022-06-28 05:28] Wiliyantoro commented on #5292
ini terjadi karena no kia bukan format angka , jika angka berjalan normal
tapi jika mengandung titik, koma dan garing muncul error

[2022-06-28 05:57] mranca opened #5294 "logo desa tidak tampil pada surat"
### Jelaskan error yg dialami

saat surat di cetak dalam pdf logo desa tidak  tampil

### Cara untuk mereplikasi errornya

-

### Hasil yg diharapkan

tampilkan logo sesuai pada surat

### Tangkapan layar dan log error

-

### Rilis Versi OpenSID

Rilis Premium

### Versi OpenSID

22.06 rev 03

### Tema Yang Digunakan

-

### Informasi tambahan

-

[2022-06-28 12:38] Wiliyantoro opened #5295 "Penambahan Form input Hasil Ukur dan Informasi Bulan Pemantauan"
### Jelaskan error yg dialami

1. Belum adanya Form Hasil Ukur Berat Badan dan Tinggi Badan di Tambah data Pemantauan Bulanan anak 0-2 Tahun, mohon di evaluasi kembali jika hasil ukur tersebut dapat dimasukkan agar dijadikan data master desa walaupun hasil ukur tersebut tidak dipanggil ke laporan konvergensi stunting.
2. Tambah Form Bulan Pemantauan di Tambah data pemantauan bulanan, agar nantinya

[2022-06-29 10:36] haryandi commented on #4377
Saat ini ID BDT / sekarang ID DTKS sudah per anggota keluarga..

[2022-06-29 15:27] muhtar-coder opened #5296 "Permintaan fitur: Sediakan pencarian spesifik penduduk berdasarkan umur bulan"
### Apa kekurangan yg ingin diatasi?

saat ini fitur pencarian/filter data penduduk hanya berdasarkan rentang umur tahun.

sehubungan dengan sedang gencar nya pendataan stunting/posyandu yang terdapat kolom isian nya menggunakan umur bulan,

### Jelaskan solusi yg diinginkan

agar di sediakan pada menu pencarian spesifik/filter penduduk berdasarkan rentang umur bulan.

![image](https://user-images

[2022-06-29 15:43] #5294 closed, assigned to nobody

[2022-06-29 15:46] ariandii commented on #5296
setiap tanggal 25, fitur opensid sudah dikunci. dan fokus terhadap persiapan rilis tanggal 1.

bisa di up kembali issue ini bulan depan.

[2022-06-30 02:06] agungsugiarto commented on #5291
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/1101

[2022-06-30 02:06] #5291 closed, assigned to yogiperdana

[2022-06-30 02:06] agungsugiarto commented on #5292
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/1101

[2022-06-30 02:06] #5292 closed, assigned to yogiperdana

[2022-06-30 02:06] agungsugiarto commented on #5293
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/1101

[2022-06-30 02:06] #5293 closed, assigned to yogiperdana

[2022-06-30 03:50] ariandii opened #5297 "Sesuaikan Logo supaya bisa dishare ke Media Sosial"
### Jelaskan error yg dialami

Saat ini ketika upload logo di Info Desa -> Identitas Desa, maka ukuran logo tersebut akan otomatis jadi 100x100 pixel.

hal ini berakibat gagal muncul sebagai thumbnail di beberapa media sosial, karena minimal agar bisa digunakan misal di share facebook adalah 300x300 pixel

### Cara untuk mereplikasi errornya

Upload logi di Identitas Desa - Info Desa

### Hasil yg

[2022-06-30 21:36] Pematung opened #5299 "Bug/error: Pada Arsip Layanan Tidak Terekam Arsip PDF/Rtf Suratya"
### Jelaskan error yg dialami

Masih adanya kendala pada versi 22.06-premium-beta03/22.07-premium yg mana pada saat membuat salah satu surat bawaan opensid saat di cek pada menu arsip layanan tidak terekam arsipnya surat yg sudah dibuat tersebut baik dalam bentuk PDF maupun Rtf

**_Seperti pada Gambar dibawah ini_**

![image](https://user-images.githubusercontent.com/105429258/176782187-6752b9d0-c

[2022-06-30 23:29] andifahruddinakas commented on #5299
Pak @Pematung, Terima kasih. Sudah diperbaiki melalui commit https://github.com/OpenSID/premium/pull/1105/commits/b6ee6a9f1c0f8b0dc5b6ff611dc88b17841bd820

[2022-06-30 23:29] #5299 closed, assigned to nobody

[2022-07-01 01:26] Wiliyantoro opened #5301 "[Stunting] Input ibu dengan status di kk selain istri tidak bisa ( menantu dll ) dan anak ( cucu dll)"
### Jelaskan error yg dialami

1. pada saat ingin input data ibu di menu KIA tidak dapat input nama ibu selain status sdhk istri, jika menantu dan lain lain tidak bisa
2. hal tersebut juga berlaku untuk nama anak bisa jadi nanti di kk status anaknya adalah cucu dll
3. tampilan form muncul tulisan  id_ib == ..........................
4. tampilan form pencarian nama anak id_anak == .................

[2022-07-01 02:44] mahmudi01 commented on #5301
Perbaiki juga Menu pemantauan bulanan pada stunting yang tampil : pemeriksaan_kehamilan) :echo dst.

[2022-07-01 04:04] eddieridwan commented on #5274
@muhtar-coder fitur sebagaimana diminta tidak bisa diterapkan, karena info keluarga keluarga hanya diketahui setelah anggota rumah tangga telah dimasukkan.

Alternatifnya mungkin dengan menampilkan hasil scan kartu keluarga, jika telah diunggah sebagai kelengkapan kependudukan bagi kepala keluarga ybs.

[2022-07-01 14:17] andifahruddinakas opened #5302 "[TinyMCE] Pilih Data Penduduk Dinamis"
Tersedia pilih data penduduk ataupun penduduk luar yang bisa ditentukan sendiri (dinamis). Adapun pilihannya sbb :
- [ ] Semua Penduduk
- [ ] Penduduk Laki2
- [ ] Penduduk Perempuan
- [ ] Penduduk Mati
- [ ] Penduduk
- [ ] dll

[2022-07-01 14:19] andifahruddinakas opened #5303 "[TinyMCE] Memilih dan Menggunakan Lampiran"
Sediakan pengaturan surat agar bisa memilih jenis lampiran yang digunakan.

[2022-07-01 14:20] andifahruddinakas opened #5304 "[TinyMCE] Pemohonan Surat Layanan Mandiri"
Sediakan agar jenis Surat TinyMCE bisa digunakan di Layanan Mandiri.

[2022-07-01 14:21] andifahruddinakas opened #5305 "[TinyMCE] Pengaturan Default Font"
Sediakan pengaturan default font yang bisa digunakan. Saat ini default font yang digunakan adalah arial.

[2022-07-01 14:23] andifahruddinakas opened #5306 "[TinyMCE] Ridirect Ke Arsip / Daftar Surat Setelah Cetak Surat"
Ridirect Ke Arsip / Daftar Surat Setelah Cetak Surat. Saat ini masih belum bisa diterapkan.

Alternatif lain, setelah menekan tombol cetak, tombol cetak dan draft di hilangkan digantikan dengan tombol menuju arsip layanan.

[2022-07-01 14:25] andifahruddinakas opened #5307 "[Pengaturan Surat] Masa berlaku surat"
Sediaka pengaturan masa berlaku surat agar bisa dipilih untuk dihilangkan atau ditampilkan pada form surat. Karena tidak semua desa menggunakan masa berlakuk surat. Buat agar bisa disesuaikan sendiri melalui pengaturan tsb.

[2022-07-01 14:28] andifahruddinakas opened #5308 "[Pengaturan Surat] Unduh tempate rtf bawaan sistem"
Sediakan Unduh tempate rtf bawaan sistem, karena saat ini hanya ada unduh template terbaru saja (apakah itu sistem / ubahan desa). Sehingga jika terjadi kesalahan, dan ingin mengambil ulang kembali tempate bawaan harus buka cpanel terlebih dahulu.

[2022-07-01 14:32] andifahruddinakas opened #5309 "[TinyMCE] Kode isian selain teks"
Sediakan kode isian :
- [x] #5687
- [x] Tgl
- [x] Jam
- [ ] dll

[2022-07-01 14:37] andifahruddinakas opened #5310 "Bug/error: Foto dan JK pada KK kosong tidak sesuai"
### Jelaskan error yg dialami

Saat ada KK kosong (Kepala Keluarga tdk ada), data dari KK kosong tersebut (foto dan jk) tidak sesuai.

### Cara untuk mereplikasi errornya

Buat KK kosong terlebih dahulu dengan mengeluarkan Kepala Keluarga.

### Hasil yg diharapkan

Profil dan JK pada kosong tetap sesui walau tdk digunakan.

### Tangkapan layar dan log error

![kk ksong](https://user-images.githubu

[2022-07-01 15:51] yogiperdana commented on #5301
Kira kira selain shdk kepala keluarga, ibu, dan menantu apalagi pak? Apakah status shdk mertua, family lain, pembantu dan lainnya juga termasuk untuk input ibu hamil?

Hal yang sama juga untuk inputan anak. Adakah status shdk lain selain anak dan cucu @Wiliyantoro

[2022-07-01 22:51] Wiliyantoro commented on #5301
1. Ada juga di keluarga yg numpang di kk saudaranya dengan status famili lain belum buat kk baru, jadinya ada kemungkinan keluarga tersebut masuk famili lain,,
2. Untuk ibu hamil mungkin juga berlaku demikian, untuk sdhk pembantu nunggu masukan dari temen temen saja pak,, kalau di saya terbatas di istri, menantu, anak, dan famili lain
3. Integrasikan ibu hamil ke biodata penduduk tersebut agar di

[2022-07-01 23:03] Wiliyantoro commented on #5305
Kalau bisa tambah font bali simbar pak, karna di kop surat kami isi aksara balinya

[2022-07-02 00:12] balongbesuk commented on #5305
pernah baca font resmi kedinasan pemerintah,

 tp googling blm nemu aturanny

[2022-07-02 01:37] #5108 closed, assigned to yogiperdana, andifahruddinakas

[2022-07-02 01:52] Wiliyantoro commented on #5305
Kop surat isi aksara bali ada di pergub dan perbup pak, mohon dipertimbangkan agar dapat ditambahkan font bali simbar

[2022-07-02 03:10] andifahruddinakas opened #5311 "[Cache Blade] Bersihkan Cache Blade Setiap Selesai Migrasi"
Bersihkan Cache Blade Setiap Selesai Migrasi (Jika ada perubahan)

[2022-07-02 06:28] yogiperdana commented on #5301
Baik pak lalu untuk anaknya bagaimana pak? apakah ada kemungkinan bisa berasal dari famili yang lain juga pak?
@Wiliyantoro

[2022-07-02 08:33] andifahruddinakas opened #5312 "Bug/error: Atas Nama duplikat di beberapa pengurus"
### Jelaskan error yg dialami

Terjadi duplikasi atas nama pada modul pengurus untuk pengguna lama (umum saat ini). Di premium sendiri masalah ini sudah teratasi, tapi bermasalah bagi pengguna lama yang tidak memperbaharui kembali a.n yang ada modul pengurus.

### Cara untuk mereplikasi errornya

1. Gunakan versi umum 22.07
2. Buka modul pengurus dan tambahkan a.n
3. Buka modul indeitas desa dan g

[2022-07-02 08:41] andifahruddinakas opened #5313 "[Periksa Database] User dan Password Default (Statis)"
Ketika terjadi error database, pengguna biasanya mengirikan Database mereka untuk diperbaiki. Database yang dikirimkan tsb biasanya tidak disertakan denga password login (untuk user bisa diliat di tabel user). Ini bisa diakali dengan mengganti user maupun password ke settingan awal, yakni admin, sid304. Tapi setelah periksa, melakukan backcup database dan mengirimkan kembali ke pengguna terkadang

[2022-07-02 08:54] andifahruddinakas opened #5314 "Bug/error: Impor data penduduk dengan No KK < 16 digit"
### Jelaskan error yg dialami

Masih bisa impor no kk < 16 digit, sedangkan di form input kk harus 16 digit.

### Cara untuk mereplikasi errornya

Lakukan impor penduduk, buat data dengan no kk < 16 digit.

### Hasil yg diharapkan

Impor dan form validasinya sesuai.

### Tangkapan layar dan log error

![no kk](https://user-images.githubusercontent.com/57283157/176993779-3b5d9d39-2d67-43e5-b180-6a7

[2022-07-02 09:40] Wiliyantoro commented on #5301
iya pak, untuk anaknya juga ada kemungkinan ada kasus tersebut, jika dirasa perlu buat role untuk mencari ibu dengan memanggil nik ibu yang sudah ada di biodata anak / jika nik kosong cari ibu di no kk anak tersebut.

[2022-07-02 13:07] andifahruddinakas opened #5315 "[TinyMCE] Pengaturan Surat Untuk Menampilkan Header dan Footer Surat"

[2022-07-02 13:28] andifahruddinakas opened #5316 "[TinyMCE] Pengaturan Surat Untuk Menampilkan Header dan Footer Surat"

[2022-07-03 04:50] Zoel-WB opened #5319 "[Stunting] Pemintaan Filter Data Anak Berdasarkan Nomor KK Ibu"
### Apa kekurangan yg ingin diatasi?

Pemintaan Filter Data Anak Berdasarkan Nomor KK Ibu, sehingga saat memilih atau memasukkan data ibu, nama anak atau Nik anak dapat di pilih otomatis berdasarkan data yg terfilter hanya dari KK ibu yg terpilih

### Jelaskan solusi yg diinginkan

![image](https://user-images.githubusercontent.com/64481641/177025203-27d1c15c-3a45-40ee-912a-1a7b4f342536.png)

###

[2022-07-03 05:21] yogiperdana commented on #5319
Apakah hal tersebut tidak menjadi terlalu strict pak untuk kasus pasangan yang baru menikah dan punya anak pak. Dari diskusi kemaren dengan pengguna lain proses pembuatan kk tidak langsung terbit sedangkan proses pengisian KIA langsung setelah melahirkan @Zoel-WB

[2022-07-03 05:22] yogiperdana commented on #5319
Dengan demikian anak yang baru lahir belum masuk ke dalam kk saat pemberian imunisasi H0. Kira kira bagaimana menghadapi solusi tersebut di lapangan?

[2022-07-03 05:23] andifahruddinakas opened #5320 "[Stunting] Grup pengguna stunting tidak sesuai"
### Jelaskan error yg dialami

Saat menambahkan grup pengguna hanya bisa akses modul stunting, tapi saat login menu pertanahan juga tampil.

### Cara untuk mereplikasi errornya

1. Tambahkan grup pengguna stunting dengan akses hanya modul stunting sja
2. Buat user berdasarkan grup tsb
3. Lakukan login dgn user tsb
4. Setelah login, navigasi menampilkan menu pertanahan juga.

### Hasil yg diharapka

[2022-07-03 05:23] Zoel-WB commented on #5319
tapi pelaksanaan posyandunya bulanan pak, sehingga barang kali anak yg baru lahir data awalnya di input di data penduduk duluan, kemudian mungkin 2-3 bulan kemudian baru penanganan ke posyandu dan terpantau ke stunting pak........

[2022-07-03 05:27] yogiperdana commented on #5319
Baik pak jadi tidak masalah ya pak dibuatkan ibu dan anak harus dalam 1 kk

[2022-07-03 05:28] Wiliyantoro commented on #5319
Setuju dengan pendapat bang @Zoel-WB , nantinya data penduduk akan lengkap dengan kasus bayi lahir di setiap posyandu. Karena tidak semua warga tertib atau rajin melaporkan ada bayi lahir, nanti rolenya kpm akan melapor ke desa bahwa ada bayi lahir , di input kesistem sebelum masuk ke menu pemantauan

[2022-07-03 05:28] Zoel-WB commented on #5319
cuma memang memang ada kendala dilapangan datanya bisa tertunda bila si keluarga lebih2 keluarga baru menikah akan tetapi tetapi telat melakukan pecahan KK...

akan tetapi hal ini datanya dapat dirubah atau ditambah langsung kedalam data penduduk oleh petugas posyandu disaat kegiatan posyandu, barangkali akses data di desa yang harus memberi satu user untuk petugas posyandu untuk dapat memasukkan

[2022-07-03 05:30] yogiperdana commented on #5319
Baik pak. Terkait kpm tersebut saat ini belum dibuatkan rolenya. Kira kira apa saja tugas dan tanggungjawab kpm tersebut pak?

[2022-07-03 05:32] yogiperdana commented on #5319
Kemarin ada pembahasan sedikit bahwa kpm diambil dari data berikut https://berputar.opendesa.id/bumindes_kader/form
Namun ketentuannya belum jelas kader pemberdayaan dengan spesifikasi yang mana yang bertanggungjawab mengelola stunting. Mohon masukannya pak

[2022-07-03 05:33] Zoel-WB commented on #5319
Dari KPM biasanya bila data kelahiran baru termasuk KIA nya bila si ibu belum melaporkan data KK nya, kami selalu mempertanyakan tentang ada penambahan data baru ke KPM pak, karena di desa agak memang sulit penduduk secara sadar jarang melaporkan sendiri datanya.

Prosedur penambahan atau perubahan dalam KK, kebiasaan data nya di dapat dari KPM pak..

[2022-07-03 05:35] Zoel-WB commented on #5319
KMP Stuntingnya yg lebih berperan ketimbang kader posyandu nya pak.....

[2022-07-03 05:37] yogiperdana commented on #5319
Untuk lebih memperjelas alurnya kira kira kapan pak @Zoel-WB dan @Wiliyantoro ada waktu untuk berdiskusi via meet atau zoom pak. Agar semua kebutuhan dan permasalahan di stunting dapat segera diselesaikan

[2022-07-03 05:37] Zoel-WB commented on #5319
yang punya data lengkap memang di KPM stuntingnya termasuk bidan desa nya, karena mereka sangat terlibat dan bertanggangjawab terhadap keadaan data bayi dan ibu hamil dan masalah kesehatan rumah tangga ibu bayi mapun ibu hamil.

[2022-07-03 05:40] Zoel-WB commented on #5319
tapi saya belum pelajari utuk fitur ini, akan tetapi sekilasnya saya browsing2 sepertinya sudah sangat terpenuhi, tapi ini kita uji langsung dulu di KPM nya, bila ada perubahan dan penambahannya nanti kita sampaikan pak, untuk saat ini saya kira sudah sangat bagus....

[2022-07-03 05:44] Wiliyantoro commented on #5319
Menurut saya pribadi bug penambahan ibu hamil yg sdhk selain istri dan anak selain sdhk anak di buka dulu karena keluarga yg masih gabung dengan kk orang tuanya , kpm kemarin saya untuk coba input tidak bisa karena masalah tersebut,,

Jika dilapangan ditemukan masalah oleh kpm baru bisa memberikan pandangan pak

[2022-07-03 05:44] yogiperdana commented on #5319
Baik pak jadi mungkin sementara semua permintaan fitur terkait stunting kita tangguhkan dulu ya pak menunggu proses analisis dilakuka pengguna bersama KPM dan saat ini open desa juga sudah punya analis pak. Kedepannya saya akan ajak beliau juga untuk ikut berdiskusi

[2022-07-03 05:45] Zoel-WB commented on #5319
Setuju pak....

[2022-07-03 05:45] yogiperdana commented on #5301
Issue ini dialihkan menjadi permintaan fitur karena terdapat penyesuaian pengambilan data penduduk baik pada ibu maupun anak

[2022-07-03 05:47] Wiliyantoro commented on #5319
Setuju pk

[2022-07-03 06:09] andifahruddinakas opened #5321 "Bug/error: Error saat tambah hari libur yg sama"
### Jelaskan error yg dialami

Terjadi error saat menambahkan hari libur dgn tgl yg sama.

### Cara untuk mereplikasi errornya

1. buka modul kehadiran > hari libur
2. tambahkan data baru dgn memasukka tgl yg sudah ad
3. terjadi error

### Hasil yg diharapkan

tdk terjadi error atau ada notifikasi yg menyatakn tgl tsb sdh terdaftar.

### Tangkapan layar dan log error

![kehadiran1](https://user-im

[2022-07-03 06:23] andifahruddinakas opened #5322 "Bug/error: Tidak bisa input kode lembaga yang sudah digunakan di kelompok"
### Jelaskan error yg dialami

Saat melakukan input data lembaga dengan kode yang sudah digunakan di data kelompok akan menampilkan notif gagal simpan karena kode lembaga sudah digunakan.

### Cara untuk mereplikasi errornya

1. Buat terlebih dahulu data kelompok.
2. Buat data lembaga menggunakan data kode kelompok tsb.
3. Simpan, dan akan tampil notif bahwa kode lembaga sudah digunakan.

### Hasi

[2022-07-04 04:50] vickyrolanda commented on #5321
Sudah di perbaikin melalui pr https://github.com/OpenSID/premium/pull/1106

[2022-07-04 04:51] #5321 closed, assigned to yogiperdana

[2022-07-04 05:55] andifahruddinakas opened #5323 "Bug/error: Perbarui surat rtf"
### Jelaskan error yg dialami

Terjadi error saat menambahkan surat baru dengan cara menambahkannya di folder desa/template-surat

### Cara untuk mereplikasi errornya

1. Tambah contoh surat baru rtf di folder desa/template-desa
2. Masuk ke modul Layanan Surat > Pengaturan Surat > Perbarui
3. Buka log error

### Hasil yg diharapkan

Data surat baru bertambah dan disesuaikan dengan isi folder desa/

[2022-07-04 06:45] agungsugiarto commented on #5312
mas @andifahruddinakas  aya tidak menemukan masalah yg dimaksud, mas @devrakapriyo bisa dibantu untuk replikasi masalahnya?

[2022-07-04 06:51] andifahruddinakas commented on #5312
Ini ketika ada update dari versi pelanggan umum ke premium. Di versi umum masih bisa terjadi duplikasi tsb.

[2022-07-04 06:53] agungsugiarto commented on #5312
semua dari database umum, atau hanya beberapa desa?

[2022-07-04 06:55] andifahruddinakas commented on #5312
Berlaku untuk versi umum yang migrasi ke versi premium terbaru jika sebelumnya (versi umum) melakukan pergantian kepala desa lewat identitas desa.

[2022-07-04 09:59] vickyrolanda commented on #2518
Berdasarkan aturan yang berlaku pada "PERANRI NO. 5 TAHUN 2021 PEDOMAN UMUM TATA NASKA" untuk penulisan tanggal surat tidak di sertakan nama hari, cukup tanggal surat saja.

sehingga issue ini belum terlalu relevan untuk kita gunakan dan terapkan, namun jika issue ini memiliki referensi yang mengacu pada keharusan mohon untuk melampirkan referensi sehingga issue ini bisa diterapkan untuk semua sur

[2022-07-04 09:59] #2518 closed

[2022-07-04 14:23] Zoel-WB opened #5324 "[Stunting] Permintaan Menampilkan Detail Data Ibu Saat Menginput Data KIA"
### Apa kekurangan yg ingin diatasi?

Saat menginput data ibu pada fitur Kesehatan Ibu dan AnaK (KIA) sulit membedakan data ibu yg dimaksud bila data ibu dengan nama yg sama ada beberapa orang/data.

Untuk mempermudah menandakan data, baiknya menampilkan detail atau penandata indentitas spesifik lainnya dari data yg terpanggil misalnya dapat  menampilkan detail keluarga seperti data nama suami/kep

[2022-07-04 16:48] vickyrolanda opened #5325 "Solusi Croping Gambar slider menjadi menyesuaikan panjang dan lebar slider"
### Jelaskan error yg dialami

**Apa kekurangan yg ingin diatasi?**

- Terjadi croping terhadap gambar yang diupload jika ukurannya diatas Lebar 880px & Tinggi 880px.
- Sehingga untuk gambar - gambar yang ukuran lebih besar dari Lebar 880px & Tinggi 880px akan Croping .
- Namun jika kondisi ukuran gambar dengan Lebar 880 atau lebih namun tingginya di bawah 880px Makan gambar tidak akan croping.

#

[2022-07-05 02:24] eddieridwan commented on #5313
Batasi hanya untuk untuk development; tidak pada production.

[2022-07-05 04:23] agungsugiarto commented on #5322
issue ini tidak bisa diterapkan, karena kelompok dan anggota menggunakan table yg sama sementara field yg ada didatabase harus unique.

[2022-07-05 05:11] devrakapriyo opened #5327 "Testing pra rilis dengan obfuscate"

[2022-07-05 05:12] devrakapriyo opened #5328 "Testing Setelah Rilis OpenSID"

[2022-07-05 05:12] devrakapriyo opened #5329 "Test Plan OpenSID"
https://docs.google.com/spreadsheets/d/1PnjSIXwp6LQRJhJclIgPWLjZFE5Frzfm/edit#gid=631385676

[2022-07-05 05:12] devrakapriyo opened #5330 "Membuat Panduan Pengenalan OpenSID"

[2022-07-05 05:12] devrakapriyo opened #5331 "Membuat panduan sekaligus lengkapi informasi cara mendaftar untuk Mapbox API token"

[2022-07-05 05:12] devrakapriyo opened #5332 "Membuat Panduan Google Form di Menu Analisis"
https://forum.opendesa.id/d/177-cara-membuat-google-form-di-menu-analisis/5

[2022-07-05 05:13] devrakapriyo opened #5333 "PANDUAN"

[2022-07-05 05:13] devrakapriyo opened #5334 "Panduan OpenSID 22.08"

[2022-07-05 05:14] devrakapriyo opened #5335 "Testing update dari umum ke premium"

[2022-07-05 05:14] devrakapriyo opened #5336 "Testing update dari premium lama ke premium baru"

[2022-07-05 05:14] devrakapriyo opened #5337 "Testing instal awal openSID umum"

[2022-07-05 05:14] devrakapriyo opened #5338 "Testing instal awal openSID premium"

[2022-07-05 07:55] Restony33 opened #5339 "Bug/error: Album galeri pada web yang berisi lebih dari 10 foto, link pada halaman berikutnya tidak ditemukan"
### Jelaskan error yg dialami

Saat membuka halaman berikutnya pada album galeri berisi lebih dari 10 foto terjadi error di web
![error](https://user-images.githubusercontent.com/104592011/177278600-19bc7333-147f-4ce0-9241-acbbb6f5bcf2.JPG)

### Cara untuk mereplikasi errornya

![erorrku](https://user-images.githubusercontent.com/104592011/177277675-db182c82-3ec2-4efa-8ce5-c66e02e1d799.JPG)
tejadi

[2022-07-05 13:39] sulaimanlawidhub opened #5340 "Tambah Buku Tamu"
Salah satu administrasi umun yang ada didesa adalah daftar tentang orang yang berkunjung ke kantor desa yang dicatat dalam buku tamu.

[2022-07-06 04:52] agungsugiarto commented on #5310
Mas @andifahruddinakas bisa dijelaskan lebih detail alur replikasi masalahnya

[2022-07-06 06:50] devrakapriyo opened #5341 "Bug/error: Tombol Batal Pada Popup Pengaturan Pelanggan Tidak Berfungsi"
### Jelaskan error yg dialami

Tombol batal pada popup tidak berfungsi.

### Cara untuk mereplikasi errornya

Info Desa > Layanan Pelanggan > Klik icon gear pada header di kanan atas > lalu akan muncul popup > dan klik tombol batal

### Hasil yg diharapkan

Tombol batal dapat berfungsi dengan semestinya.

### Tangkapan layar dan log error

![popup batal](https://user-images.githubusercontent.com/3

[2022-07-06 07:25] devrakapriyo opened #5342 "Bug/error: Tampilan error saat jalankan perbarui surat"
### Jelaskan error yg dialami

Terjadi error saat  tambah surat baru rtf di folder desa/template-surat kemudian jalankan perbarui surat di pengaturan surat.

### Cara untuk mereplikasi errornya

tambah surat baru rtf di folder desa/template-surat kemudian jalankan perbarui surat di pengaturan surat.

### Hasil yg diharapkan

tidak terjadi error, custom surat berjalan sebagaimana mestinya.

### Tan

[2022-07-06 07:27] andifahruddinakas commented on #5342
https://github.com/OpenSID/OpenSID/issues/5323

[2022-07-06 07:44] sulaimanlawidhub opened #5343 "Hasil unduh data semua tahun aset pada Buku Inventaris Aset dan Kekayaan Desa tidak muncul"
Pada versi v22.07 masih terjadi hasil unduh data semua tahun aset pada Buku Inventaris Aset dan Kekayaan Desa tidak muncul

[2022-07-06 07:44] vickyrolanda commented on #5314
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1107

[2022-07-06 07:44] #5314 closed, assigned to yogiperdana

[2022-07-06 07:47] devrakapriyo opened #5344 "Bug/error: fungsi perbarui surat tidak berjalan dengan semestinya."
### Jelaskan error yg dialami

ketika klik perbaharui surat, yg dialami pak @YUD1K dan beberapa desa lain saat ini adalah diperbaharui semua yg ada di folder desa sesuai dengan tamplate bawaan sistem, yg mengakibatkan surat yg sudah di custom menjadi hilang/tertimpa dengan template bawaan.

### Cara untuk mereplikasi errornya

sediakan custom surat di folder desa > template surat

lalu klik perbah

[2022-07-06 07:56] devrakapriyo opened #5345 "Permintaan fitur: Untuk menghindari human error sebaiknya tombol perbarui surat hanya ditampilkan untuk level administrator saja atau akun admin yang ditunjuk saja"
### Apa kekurangan yg ingin diatasi?

saat ini sedang terjadi error pada fungsi perbarui surat, untuk menghindari error, pengguna merasa jangan mengklik rombol tersebut, untuk menghindari jika ada oranglain yang mengklik tombol tersebut, alangkah baik nya tombol tersebut muncul pada level admin tertentu, atau user yg ditentukan saja.

### Jelaskan solusi yg diinginkan

seperti yang sudah di usulka

[2022-07-06 08:07] vickyrolanda commented on #5310
Saya check sudah oke di PR https://github.com/OpenSID/premium/pull/1113
<img width="733" alt="image" src="https://user-images.githubusercontent.com/59082428/177500702-ff95a52c-4594-4420-b71d-13fcf7c35bb8.png">

Namun agak sedikit membingungkan di bagian photo apa tidak sebaiknya photonya di kosongkan saja atau dibuat "-" dibagian photonya mas @agungsugiarto

<img width="741" alt="image" src="https

[2022-07-06 08:10] devrakapriyo opened #5346 "Bug/error: Ketika scan kehadiran yg muncul bukan perangkat tersebut"
### Jelaskan error yg dialami

Terkait kehadiran, ketika scan kehadiran, maka yg muncul bukan perangkat tersebut, jadi masuk ke perangkat yg lain.
Ketika dicoba perangkat yg lain. masuknya tetap ke perangkat yg lain tadi (sama).

kemudian perangkat tersebut, dinonaktifkan, tapi tetap absensi dia yg muncul ketika prangkat yg lain absen, padahal status absennya udah di non aktifkan.

### Cara untuk

[2022-07-06 08:49] sulaimanlawidhub opened #5347 "Qrcode tidak muncul saat cetak surat"
Meskipun pada pengaturan surat telah diatur agar Qrcode ditampilakan, namun qrcodenya tidak muncul pada saat cetak suratnya.

[2022-07-06 08:57] sulaimanlawidhub opened #5348 "Qrcode pada folder >asset>files>qrcode.tpl.png tidak mengarah ke link verifikasi surat"
File gambar qrcode dengan nama qrcode-tpl.png untuk verifikasi Surat tidak mengarah pada link verifikasi surat ke website desa masing-masing melainkan terverifikasi ke Github.

[2022-07-06 10:24] devrakapriyo opened #5349 "Permintaan fitur: Batasi impor data penduduk pada pengguna admin"
### Jelaskan error yg dialami

fungsi import data penduduk yang juga muncul di level operator, khawatir ada yg iseng dan akan membuat data rusak.
Sebaiknya impor data penduduk hanya dapat dilakukan oleh pengguna admin

### Cara untuk mereplikasi errornya

-

### Hasil yg diharapkan

Impor data penduduk hanya dapat dilakukan oleh pengguna admin saja.

### Tangkapan layar dan log error

-

### Rilis

[2022-07-06 10:36] devrakapriyo opened #5350 "Bug/error: Di versi 22.07 rilis umum hapus artikel tidak bisa / error"
### Jelaskan error yg dialami

Di versi 22.07 rilis umum hapus artikel tidak bisa.

### Cara untuk mereplikasi errornya

Admin web > artikel > hapus salah satu artikel.

### Hasil yg diharapkan

Hapus artikel dapat berjalan normal

### Tangkapan layar dan log error

ERROR - 2022-07-06 17:29:49 --> Severity: error --> Exception: Too few arguments to function CI_DB_query_builder::where(), 0 passed i

[2022-07-06 10:55] devrakapriyo opened #5351 "Bug/error: error saat mencetak surat domisili non warga"
### Jelaskan error yg dialami

error saat mencetak surat domisili non warga karena menginput nik lebih dari 16 digit

### Cara untuk mereplikasi errornya

layanan surat > setak surat > cari domisili non warga lalu buat surat > isi nik / no ktp lebih dari 16 digit

### Hasil yg diharapkan

buat validasi untuk nik/no ktp dan kk agar menginput tepat 16 digit

### Tangkapan layar dan log error

Query

[2022-07-06 11:50] vickyrolanda commented on #5339
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1112

[2022-07-06 12:21] eddieridwan commented on #5349
Bung @devrakapriyo , ini bukan bug. Melainkan permintaan fitur.

[2022-07-06 12:38] #5342 closed, assigned to nobody

[2022-07-06 12:43] devrakapriyo commented on #5349
baik, terimakasih koreksi nya pak.

[2022-07-06 14:50] devrakapriyo opened #5352 "Bug/error: QR Code tidak muncul saat surat dicetak padahal sudah diatur di pengaturan surat"
### Jelaskan error yg dialami

Meskipun pada pengaturan surat telah diatur agar Qrcode ditampilakan, namun qrcodenya tidak muncul pada saat cetak suratnya.

### Cara untuk mereplikasi errornya

layanan surat > pengaturan surat > pilih salah satu surat contohnya biodata penduduk > ubah data > pada pilihan qr code pilih ya > simpan

lakukan cetak surat contohnya biodata penduduk, lihat hasilnya qr c

[2022-07-06 14:57] devrakapriyo opened #5353 "Laporan pencatatan issue minggu 1"
- [ ] https://github.com/OpenSID/OpenSID/issues/5341
- [ ] https://github.com/OpenSID/OpenSID/issues/5344
- [ ] https://github.com/OpenSID/OpenSID/issues/5345
- [ ] https://github.com/OpenSID/OpenSID/issues/5346
- [ ] https://github.com/OpenSID/OpenSID/issues/5349
- [ ] https://github.com/OpenSID/OpenSID/issues/5350
- [ ] https://github.com/OpenSID/OpenSID/issues/5351
- [ ] https://github.com/Open

[2022-07-06 15:11] devrakapriyo opened #5354 "Update Panduan tinymce"

[2022-07-06 15:11] devrakapriyo opened #5355 "Update Panduan stunting"

[2022-07-06 22:29] sulaimanlawidhub opened #5356 "Impor C-Desa pada modul pertanahan tidak berfungsi"
Pilihan Impor C-Desa pada modul pertanahan tidak berfungsi saat di klik, sehingga fitur ini sampai saat ini belum bisa digunakan.![IMG_20220707_062852.jpg](https://user-images.githubusercontent.com/92381858/177653966-6f9a0852-985e-44a7-8fec-7c283e756d67.jpg)

[2022-07-07 03:15] khpurnawan opened #5357 "Bug/error: Data Stunting Pemantauan bulanan anak 0-2 tahun tidak bisa diisikan umur lebih dari 12 bulan"
### Jelaskan error yg dialami

Pada saat mengisikan "Data Stunting Pemantauan bulanan anak 0-2 tahun" di bagian umur, kami tidak bisa mengisi form dengan nilai lebih dari 12. Sedangkan harusnya, datanya bisa diisikan dengan angka sesuai umur balita (harusnya bisa diisi angka 0 sampai 24).

### Cara untuk mereplikasi errornya

1. Pergi ke KESEHATAN
2. klik STUNTING
3. masuk ke bagian PEMANTAUAN
4.

[2022-07-07 05:25] ai-skematik commented on #5340
![image](https://user-images.githubusercontent.com/48144047/177697780-a9eba0a4-49b9-48fd-92fe-4821dde8cdbb.png)

[2022-07-07 05:26] ai-skematik commented on #5340
cc. @devrakapriyo  @FirlianiF

[2022-07-07 06:22] ai-skematik commented on #5340
https://tamuku.titiankuala.opendesa.id/

[2022-07-07 09:56] andifahruddinakas commented on #5322
Tahapan :
1. Gunakan uniq 2 tabel, yakni tipe dan kolom (seperti penjelasan issue di atas)
Contoh yg pernah digunakan  :
[code]
2. Untuk insert dan update, bisa cek dlu sebelum di proses.
Contoh yg pernah digunakan  :
[code]

[2022-07-07 10:04] andifahruddinakas commented on #5341
Mas @devrakapriyo, mungkin bisa ditinjau fungsi tombol **batal** tsb. Tombol **batal** dibuat hanya untuk mereset input yg pernah dilakukan ke dataawal, bukan untuk menutup modal (krn ada tombol tersendiri untuk menutup modal (**x**)). Bisa cek tombol batal yang ada di https://berputar.opendesa.id/setting.

Kalau mau diubah, ganti nama tombolnya jadi **tutup**.

[2022-07-07 10:25] vickyrolanda commented on #5341
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1115

[2022-07-07 10:38] vickyrolanda commented on #5341
tadi sy coba iya mas dia mereset harusnya ini bukan bug tpi kalo sesuai dengan UI tombol batal itu fungsi memang harusnya close mas jdi gpp juga kalo kita ubah ke PR ini mas .

[2022-07-07 13:26] ai-skematik commented on #5340
![image](https://user-images.githubusercontent.com/48144047/177784833-04e87e8f-5d17-4c22-acbf-2550dad44526.png)

[2022-07-07 16:55] devrakapriyo commented on #5341
Sudah dilakukan testing, dan perlu dilakukan perbaikan, mohon untuk di cek dan ditindak lanjuti mas @vickyrolanda
https://docs.google.com/spreadsheets/d/1Lpw5StONGo4pUH4VGYByYkV4uoXLBZueFN5dLm-8MOY/edit#gid=0

[2022-07-07 16:58] ai-skematik opened #5358 "Nomor surat pada verifikasi qr Code supaya mengikuti format nomor surat pada template surat jika ada"
### Jelaskan error yg dialami

Nomor surat pada verifikasi qr Code semua mengikuti format nomor surat pada pengaturan Aplikasi

### Cara untuk mereplikasi errornya

Ubah template surat dan sesuaikan penomoran surat pada file rtf. kemudian cetak surat tersebut dengan menyisipkan qrcode. pada tampilan verifikasi surat format nomornya tidak mengikuti format di template tp di format pengaturan aplikas