[2022-07-07 17:04] ai-skematik opened #5359 "Bug/error: Realisasi APBDes Tidak sama antara OpenSID dan Siskeudes"
### Jelaskan error yg dialami

Realisasi APBDes Tidak sama antara OpenSID dan Siskeudes

### Cara untuk mereplikasi errornya

Print Out Realisasi keuangan semester I di Siskeudes, kemudian backup database siskeudes tersebut dan impor ke OpenSID. Buat Artikel Keuangan Semester I. Perhatikan Realisasinya.

### Hasil yg diharapkan

Realisasi APBDes antara OpenSID dan Siskeudes sama jika menggunakan D

[2022-07-07 17:07] ai-skematik commented on #4582
Up Lagi. Fitur sangat penting. karena impor pakai database siskeudes sering bermasalah karena nilainya tidak sama.

[2022-07-07 17:13] ai-skematik opened #5360 "Permintaan fitur: Input Data Bayi dan Ibu pada menu stanting untuk non warga"
### Apa kekurangan yg ingin diatasi?

Yang mengikuti posyandu itu tidak salamanya penduduk desa, biasanya ada penduduk luar  yang data melahirkan di rumah keluarganya atau ada juga penduduk luar yang kebunnya berada di desa tersebut.

### Jelaskan solusi yg diinginkan

tersedianya input data ibu dan bayi untuk non warga

### Apakah ada alternatif lain

-

### Untuk versi OpenSID mana

22.07

### I

[2022-07-07 17:29] devrakapriyo opened #5361 "laporan pencatatan issue minggu 2"
- [ ] https://github.com/OpenSID/OpenSID/issues/5371
- [ ] https://github.com/OpenSID/OpenSID/issues/5372
- [ ] https://github.com/OpenSID/OpenSID/issues/5373
- [ ] https://github.com/OpenSID/OpenSID/issues/5374
- [ ] https://github.com/OpenSID/OpenSID/issues/5377
- [ ] https://github.com/OpenSID/OpenSID/issues/5379
- [ ] https://github.com/OpenSID/OpenSID/issues/5383

[2022-07-07 17:29] devrakapriyo opened #5362 "laporan pencatatan issue minggu 3"

[2022-07-07 17:29] devrakapriyo opened #5363 "laporan pencatatan issue minggu 4 atau setelah pembekuan"
- [ ] https://github.com/OpenSID/OpenSID/issues/5432

[2022-07-07 17:30] devrakapriyo opened #5364 "laporan pencatatan bug setelah rilis 22.08"

[2022-07-08 04:40] vickyrolanda commented on #5341
untuk issue penambahan seperti yg mas @devrakapriyo buat di spreddsheets itu mohon dibuatkan ke issue baru saja karena  PRnya sudah di merge ke bug-fix juga mas karena sudah sesuai dengan issue yg ini.

[2022-07-08 04:40] #5341 closed, assigned to agungsugiarto

[2022-07-08 05:49] devrakapriyo commented on #5339
mohon dicek mas @vickyrolanda https://docs.google.com/spreadsheets/d/1Lpw5StONGo4pUH4VGYByYkV4uoXLBZueFN5dLm-8MOY/edit#gid=0 , perlu ada perbaikan untuk menampilkan galeri.

[2022-07-08 08:02] devrakapriyo commented on #5341
Baik noted mas.

[2022-07-08 09:00] devrakapriyo opened #5365 "Bug/error: Terjadi selisih realisasi antara Laporan Siskeudes dan di OpenSID"
### Jelaskan error yg dialami

dari laporan pak @ai-skematik , terjadi selisih realisasi antara Laporan Siskeudes dan di OpenSID.

Di Web OpenSID
https://sidomukti-bolano.desa.id/artikel/2022/7/5/realisasi-apbdes-2022-semester-i

Hasil Siskeudes
https://drive.google.com/file/d/1blm5w1IKsZXkb01-yMJw0TUG_KJTjxnT/view?usp=sharing

### Cara untuk mereplikasi errornya

bandingkan hasilnya.

### Hasil y

[2022-07-08 09:29] devrakapriyo opened #5366 "Bug/error: Edit bulanan ibu hamil pada menu stunting tidak dapat dilakukan, atau error."
### Jelaskan error yg dialami

pada berputar.opendesa.id, Edit bulanan ibu hamil tidak dapat dilakukan, atau error seperti pada detail berikut  https://forum.opendesa.id/d/195-menu-stunting

https://berputar.opendesa.id/stunting/pemantauan_ibu_hamil

### Cara untuk mereplikasi errornya

edit data https://berputar.opendesa.id/stunting/pemantauan_ibu_hamil

### Hasil yg diharapkan

tidak error.

###

[2022-07-08 11:10] langonsari opened #5367 "Permintaan fitur: Penambahan Fitur Sort by Jumlah Anggota di Form Data Keluarga"
### Apa kekurangan yg ingin diatasi?

Penambahan Fitur Sort by Jumlah Anggota di Form Data Keluarga untuk mempermudah Sortir Keluarga KK Hilang/Pindah/Mati yang Kepala Keluarga Kosong karena belum dipecah KK diversi sebelumnya.
<img width="733" alt="image" src="https://user-images.githubusercontent.com/96863107/177980911-afb507b0-67a1-485e-97f0-64d31c8bb377.png">

### Jelaskan solusi yg diinginkan

[2022-07-08 11:15] langonsari commented on #5324
Tambahan untuk Pengaturan Pemilihan NAMA IBU tidak dibatas hanya 1 Nomor KIA karena sebelum Lahir Nomor KIA melekat kepada Ibu Hamil tetapi setelah melahirkan Nomor KIA pada ANAK, terutama apabila melahirkan anak Kembar tidak bisa di Input untuk anak kedua dan seterusnya.

[2022-07-08 11:27] apidong commented on #4835
catatan, untuk footer. hanya bisa dilakukan melalui tema masing-masing

[2022-07-08 16:20] apidong commented on #5260
@vickyrolanda @andifahruddinakas @agungsugiarto , sebaiknya ini dihapus atau hanya sekedar di disable menu nya?

[2022-07-09 03:52] eddieridwan commented on #4835
Untuk footer lakukan pada tema bawaan sistem, yaitu esensi dan natra.

[2022-07-10 02:47] vickyrolanda commented on #5260
Sebaiknya jangan di hilangkan karena fitur ini digunakan untuk mereset data dan lagipula sudah ada konfirmasi dan informasi yang menyatakan seperti ini :
<img width="483" alt="image" src="https://user-images.githubusercontent.com/59082428/178128994-34b84dc6-2278-42f1-9fa1-03dd189a4a75.png">

Pertimbangan yang harus diperhatikan adalah karena data default kita sediakan maka harus ada juga fungsi un

[2022-07-10 03:28] eddieridwan commented on #5260
@vickyrolanda  @apidong @andifahruddinakas @agungsugiarto , sejak rilis 22.06-premium sudah tidak lagi disediakan contoh data awal. Pada waktu install OpenSID pertama kali, sekarang dibuatkan database kosong. Jadi tidak diperlukan lagi fitur Kosongkan DB. Justru fitur itu selama ini menjadi sumber masalah, karena sulit menghapus data contoh secara konsisten, karena sering sudah bercampur dengan da

[2022-07-10 11:18] jimmyjputra3 commented on #5240
Kebutuhan sama pak didesa/kampung kami kami,  sebutan desa dan kepala desa tidak berpengaruh pada sebutan jenis peraturan desa. contoh dikami, desa disebut kampung, kades disebut reje, sebutan kampung dan reje sudah diset pada pengaturan aplikasi, namun jenis peraturan desa tetap memunculkan sebutan desa dan kades default. Selain itu di desa kami selain peraturan desa ada juga Qanun yang sejenis d

[2022-07-10 11:21] jimmyjputra3 opened #5368 "Permintaan Fitur Manajemenin Jenis Peraturan"
Kebutuhan didesa/kampung kami kami,  sebutan desa dan kepala desa yang sudah diset di pengaturan --> aplikai, tidak berpengaruh pada sebutan jenis peraturan desa. contoh dikami, desa disebut kampung, kades disebut reje, sebutan kampung dan reje sudah diset pada pengaturan aplikasi, namun jenis peraturan desa tetap memunculkan sebutan desa dan kades default. Selain itu di desa kami selain peraturan

[2022-07-10 12:55] pandigresik commented on #5350
bisa coba solusi ini
https://forum.opendesa.id/d/189-bug-hapus-artikel-gagal-di-versi-2207

[2022-07-10 21:44] FirlianiF opened #5369 "OPENSID: tampilkan token dari layanan di opensid untuk dicopy oleh pengguna"
### Apa kekurangan yg ingin diatasi?

tampilkan token dari layanan di opensid untuk dicopy oleh pengguna

### Jelaskan solusi yg diinginkan

tampilkan token dari layanan di opensid untuk dicopy oleh pengguna

### Apakah ada alternatif lain

-

### Untuk versi OpenSID mana

-

### Informasi tambahan

_No response_

[2022-07-10 23:04] FirlianiF opened #5370 "OPENSID: update validasi dan ketentuan-ketentuan yang berhubungan dengan pendaftaran kerjsama"
### Apa kekurangan yg ingin diatasi?

-

### Jelaskan solusi yg diinginkan

-

### Apakah ada alternatif lain

-

### Untuk versi OpenSID mana

-

### Informasi tambahan

_No response_

[2022-07-11 03:57] vickyrolanda commented on #5260
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1119

[2022-07-11 03:57] #5260 closed, assigned to nobody

[2022-07-11 04:13] vickyrolanda commented on #5322
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1114

[2022-07-11 04:13] #5322 closed, assigned to agungsugiarto

[2022-07-11 04:53] vickyrolanda commented on #5312
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1110

[2022-07-11 04:53] #5312 closed, assigned to agungsugiarto

[2022-07-11 05:00] agungsugiarto commented on #5350
Mas @devrakapriyo, issue ini saya close karena di versi premium tidak ditemukan masalah (sudah diperbaiki), kedepannya mohon diperiksa juga di versi premium apakah ditemukan masalah serupa.

Catatan rilis umum yg akan datang: https://github.com/OpenSID/OpenSID/wiki/Rilis-Umum-Yang-Akan-Datang#rilis-umum-v2209--2202-premium

Issue terkait: https://github.com/OpenSID/OpenSID/issues/4714

PR: https:/

[2022-07-11 05:00] #5350 closed, assigned to nobody

[2022-07-11 05:16] vickyrolanda commented on #5320
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1109

[2022-07-11 05:16] #5320 closed, assigned to agungsugiarto

[2022-07-11 06:31] agungsugiarto commented on #5365
duplikat https://github.com/OpenSID/OpenSID/issues/5359

[2022-07-11 06:31] #5365 closed, assigned to nobody

[2022-07-11 06:35] #5344 closed, assigned to nobody

[2022-07-11 08:08] devrakapriyo opened #5371 "Permintaan fitur: tambahkan popup untuk melihat foto pada galeri dengan jelas"
### Apa kekurangan yg ingin diatasi?

masuk ke Website > galeri > masuk ke salah satu album > klik foto di dalam album tersebut

saat ini foto tidak full dan terlihat kecil, bisa dibuatkan popup untuk dapat melihat gambar secara lebih jelas dan besar.

### Jelaskan solusi yg diinginkan

bisa dibuatkan popup untuk dapat melihat gambar secara lebih jelas dan besar.

### Apakah ada alternatif lain

-

[2022-07-11 08:13] devrakapriyo opened #5372 "Permintaan fitur: buat nama album menjadi wajib di isi"
### Apa kekurangan yg ingin diatasi?

Admin web > galeri > edit salah satu album.

saat ini input nama album masih opsional yang mngakibatkan kurang jelas info pada album galeri jika nama album nya tidak wajib di isi.

### Jelaskan solusi yg diinginkan

buat nama album menjadi required

### Apakah ada alternatif lain

-

### Untuk versi OpenSID mana

Versi 22.08-premium

### Informasi tambahan

_N

[2022-07-11 08:16] devrakapriyo opened #5373 "Bug/error: gambar gagal disimpan tapi alert nya berhasil disimpan"
### Jelaskan error yg dialami

Proses simpan berlangsung dan muncul
alert berhasil disimpan, padahal gambar
tidak tersimpan dengan baik, ketika di load
gambar menjadi tidak tampil / not found

### Cara untuk mereplikasi errornya

Admin web > galeri > edit salah satu album

"*coba testing dengan berbagai
macam foto, bisa gunakan foto yang
saya upload."

### Hasil yg diharapkan

jika gambar tidak se

[2022-07-11 08:24] devrakapriyo opened #5374 "Bug/error: perbaiki validasi saat input token pelanggan dan perbaiki notif yang tidak muncul"
### Jelaskan error yg dialami

- [x] tombol batal pada popup ganti menjadi Tutup, karena berfungsi untuk menutup popup.
- [x] data tersimpan padahal token kosong (tambahkan required, jadikan input token menjadi wajib di isi)
- [ ] tambah validasi token diinput harus lebih dari 500 huruf dan tidak boleh lebih dari 600 huruf
- [x] tambahkan alert / notif saat data disimpan agar pelanggan tau data te

[2022-07-11 09:15] vickyrolanda commented on #5323
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1108

[2022-07-11 09:15] #5323 closed, assigned to andifahruddinakas

[2022-07-11 14:39] sulaimanlawidhub commented on #5340
Setuju sekali

[2022-07-11 14:41] sulaimanlawidhub opened #5375 "Tambahkan buku tamu di versi 22.08"
Buku tamu merupakan salah satu administrasi umum desa yang setiap saat dibutuhkan.

[2022-07-11 15:09] vickyrolanda commented on #5369
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1117

[2022-07-11 15:09] #5369 closed, assigned to FirlianiF

[2022-07-11 16:45] ai-skematik opened #5376 "Permintaan fitur: Non Aktifkan menu impor data penduduk jika Tanggal Data Lengkap telah terisi dan di aktifkan."
### Apa kekurangan yg ingin diatasi?

Saat ini walaupun data penduduk telah dinyatakan aktif tp masih tetap bisa dilakukan impor data penduduk sehingga Laporan Bulanan akan menjadi rancu.

### Jelaskan solusi yg diinginkan

Nonaktifkan fitur impor data penduduk jika data dinyatakan lengkap

### Apakah ada alternatif lain

-

### Untuk versi OpenSID mana

22.08-Premium

### Informasi tambahan

-

[2022-07-11 23:36] devrakapriyo opened #5377 "Bug/error: Typo pada alert saat menambah hari libur dengan tanggal yang sama"
### Jelaskan error yg dialami

muncul alert Tanggal TERAKIT.
typo pada tulisan terakit, harusnya tanggal terkait.

### Cara untuk mereplikasi errornya

1.buka modul kehadiran > hari libur
2.tambahkan data baru dgn memasukka tgl yg sudah ad
3.muncul alert

### Hasil yg diharapkan

Tanggal Terkait.

### Tangkapan layar dan log error

-

### Rilis Versi OpenSID

Rilis Premium

### Versi OpenSID

Vers

[2022-07-11 23:51] sugiharjo commented on #5340
Setuju banget

[2022-07-12 02:39] vickyrolanda commented on #5310
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1113

[2022-07-12 02:39] #5310 closed, assigned to agungsugiarto

[2022-07-12 02:57] go-drive opened #5378 "Permintaan Issue: Warga bisa update produk jualan secara mandiri"
Saya berharap layanan mandiri bisa tambah produk sendiri pak biar warga bisa update produk sendiri pak

[2022-07-12 03:04] vickyrolanda commented on #5352
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1120/

[2022-07-12 03:04] #5352 closed, assigned to agungsugiarto

[2022-07-12 03:14] vickyrolanda commented on #5370
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1118

[2022-07-12 03:14] #5370 closed, assigned to FirlianiF

[2022-07-12 03:41] devrakapriyo opened #5379 "Bug/error: error saat cetak PDF di menu Cetak Surat saat hanya ada a.n"
### Jelaskan error yg dialami

error saat cetak PDF di menu Cetak Surat, bisa di lihat di PR ini https://github.com/OpenSID/premium/pull/1122

### Cara untuk mereplikasi errornya

1. layanan Surat
2. cetak Surat
3. pilih surat TinyMCE
4. klik tombol 'Cetak PDF'

### Hasil yg diharapkan

tidak terjadi error

### Tangkapan layar dan log error

![](https://user-images.githubusercontent.com/36557759/1

[2022-07-12 04:02] apidong opened #5380 "Bug/error: error saat cetak surat menggunakan tinyMce"
### Jelaskan error yg dialami

error saat , cetak menggunakan tyni mce

### Cara untuk mereplikasi errornya

- pada pemerintah desa, aktifkan a.n dan matikan u.b
- buat surat menggunakan tiny MCE
- cetak surat pdf

### Hasil yg diharapkan

tidak error

### Tangkapan layar dan log error

![image](https://user-images.githubusercontent.com/20056421/178405870-4db6d247-22c8-4956-8b07-8902114f6456.png)

[2022-07-12 04:09] agungsugiarto commented on #5373
Mas @devrakapriyo bisa berikan contoh gambar yg di upload?

kemudian apakah issue https://github.com/OpenSID/OpenSID/issues/5339 dibuka kembali masih berkaitan dengan issue ini?

[2022-07-12 04:29] #5339 closed, assigned to agungsugiarto

[2022-07-12 05:54] yogiperdana commented on #4944
[Permendagri 109 Tahun 2019.pdf](https://github.com/OpenSID/OpenSID/files/9089898/Permendagri.109.Tahun.2019.pdf)

[2022-07-12 05:55] yogiperdana commented on #4943
[Permendagri 109 Tahun 2019.pdf](https://github.com/OpenSID/OpenSID/files/9089908/Permendagri.109.Tahun.2019.pdf)

[2022-07-12 12:21] eddieridwan commented on #5376
Setelah data penduduk dinyatakan lengkap, impor data penduduk seharusnya tidak lagi mengubah keanggotaan keluarga sehingga seharunya tidak akan mempengaruhi jumlah KK di laporan bulanan. Yaitu setelah data penduduk dinyatakan lengkap, impor data penduduk `hanya dapat digunakan untuk mengubah data penduduk yg sudah ada secara massal`, dan tidak dapat digunakan untuk:

- menambah penduduk baru
- men

[2022-07-12 15:41] kidnef10 commented on #2565
apakah sudah bisa embed dari google drive untuk file?

[2022-07-12 15:57] apidong opened #5381 "Bug/error: Tampilkan Error saat terjadi kegagalan dalam proses backup inkremental"
### Jelaskan error yg dialami

terkadang saat backup dilakukan, terdapat masalah saat prosessnya. tapi pada halaman backup masih tertulis backup sedang diproses sehingga pengguna mengira proses backup masih berlangsung padahal tidak.

### Cara untuk mereplikasi errornya

-

### Hasil yg diharapkan

-

### Tangkapan layar dan log error

-

### Rilis Versi OpenSID

Rilis Premium

### Versi OpenSID

[2022-07-13 01:36] Pematung opened #5382 "Bug/error: Pada Pengaturan Surat"
### Jelaskan error yg dialami

Hal ini terjadi saat baru pertama kali install OpenSID baik dengan cara git maupun manual

![image](https://user-images.githubusercontent.com/105429258/178629248-6c2b3e21-1d56-405a-92ef-ae30c58d8134.png)

### Cara untuk mereplikasi errornya

1. Layanan Surat
2. Pengaturan Surat
3. Keterangan Pengantar
4. Ubah Data

### Hasil yg diharapkan

Hasil yang diharapkan adala

[2022-07-13 02:43] WAHYUDIK commented on #5382
di local saya tidak terjadi seperti itu bang
![image](https://user-images.githubusercontent.com/31026980/178639573-ffe12ddb-69ab-406d-a2c1-dc0e28266417.png)

[2022-07-13 03:51] Pematung commented on #5382
Apakah itu Install baru di localhost atau update

[2022-07-13 06:18] Pematung commented on #5382
Premium atau Rilis Umum yang bapak gunakan

[2022-07-13 07:16] agungsugiarto commented on #5382
Pak @Pematung bisa dicoba untuk menghapus semua file yg ada di folder `storage/framework/views/` kecuali file `.gitignore`

[2022-07-13 08:47] Pematung commented on #5382
Tetep ngak bisa pak walaupun dihapus semua file yg ada di storage/framework/views/ kecuali file .gitignore

[2022-07-13 15:23] vickyrolanda commented on #5377
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1125

[2022-07-13 15:23] #5377 closed, assigned to agungsugiarto

[2022-07-14 01:05] devrakapriyo opened #5383 "Bug/error: Statistik Laporan bulanan untuk jumlah Keluarga tidak singkron dengan data wilayah"
### Jelaskan error yg dialami

Statistik > Laporan bulanan untuk jumlah Keluarga masih tidak singkron dengan data wilayah

https://forum.opendesa.id/d/180-statistik-laporanbulanan

### Cara untuk mereplikasi errornya

![1656382043-578964-image](https://user-images.githubusercontent.com/36557759/178862855-b9211e39-6231-46bf-ab19-296f4680eb78.png)
-

### Hasil yg diharapkan

-

### Tangkapan layar d

[2022-07-14 01:21] devrakapriyo opened #5384 "Perencanaan & Laporan Pengerjaan Test Plan Minggu 2"
OpenSID
- [x] [TinyMCE] Pengaturan Default Font #5305
- [x] [TinyMCE] Ridirect Ke Arsip / Daftar Surat Setelah Cetak Surat #5306
- [x] Bug/error: Impor data penduduk dengan No KK < 16 digit #5314
- [x] Bug/error: Error saat tambah hari libur yg sama #5321
- [x] Bug/error: Perbarui surat rtf #5323
- [x] Bug/error: Album galeri pada web yang berisi lebih dari 10 foto, link pada halaman berikutnya ti

[2022-07-14 01:22] devrakapriyo opened #5385 "Perencanaan Pengerjaan Test Plan Minggu 3"
OpenSID
- [ ] [Peta] Tampilan Keterangan Gambar di Peta Bisa Urut ke Bawah [#107](https://github.com/OpenSID/OpenSID/issues/5402)
- [ ] Bug/error: Nomor surat pada verifikasi qr Code semua mengikuti format nomor surat pada pengaturan Aplikasi[#5358](https://github.com/OpenSID/OpenSID/issues/5358)
- [ ] Bug/error: Statistik > Laporan bulanan untuk jumlah Keluarga masih tidak singkron dengan data wi

[2022-07-14 01:22] devrakapriyo opened #5386 "Perencanaan Pengerjaan Test Plan Minggu 4"
OpenDK
- [ ] Sediakan Fitur Evaluasi APBDes[#116](https://github.com/OpenSID/OpenDK/issues/116)
- [ ] Proses penerimaan dan persetujuan surat keterangan dari OpenSID[#217](https://github.com/OpenSID/OpenDK/issues/217)
- [ ] Form update profil[#432](https://github.com/OpenSID/OpenDK/issues/432)

[2022-07-14 02:34] agungsugiarto commented on #5382
Sudah dirilis ulang https://github.com/OpenSID/rilis-premium/releases/tag/v22.07-premium-rev01

[2022-07-14 02:34] #5382 closed, assigned to nobody

[2022-07-14 02:36] Pematung commented on #5382
OK Problem Solved
1. git checkout master
2. git pull
3. hapus semua isi yang ada di folder storage/framework/views/

Silahkan di close aja issue ini pak

[2022-07-14 06:34] eddieridwan commented on #5383
@devrakapriyo untuk kasus2 jumlah KK tidak sesuai dengan data wilayah/keluarga, perlu info sebagai berikut:

1. dapatkan database desa ybs. Masalahnya hanya bisa ditemukan berdasarkan pemeriksaan data ybs
2. perlu diperoleh persisnya langkah2 yg mereka lakukan, terutama: (a) apakah mereka menggantikan kepala desa yg meninggal istri atau anggota keluarga yg lain; atau (b) apakah mereka melakukan im

[2022-07-14 06:42] agungsugiarto commented on #5366
Saya tidak menemukan masalah yg dimaksud, mas @devrakapriyo mohon untuk memastikan sebelum dibuatkan issue terlebih dahulu diuji coba

[2022-07-15 00:39] balongbesuk commented on #5383
![image](https://user-images.githubusercontent.com/35319600/179123041-3fd995fe-c5a5-4ba2-a851-73c6dab51068.png)

mungkin ini masukan

hilangkan isian ubahan kepala keluarga pada anggota keluarga agar ketika kepala keluarga meninggal/pindah tidak ada yang akan menggantikan

[2022-07-15 02:06] balongbesuk commented on #5383
![Untitled](https://user-images.githubusercontent.com/35319600/179131941-f8770e0d-2066-4547-b6e3-c15312466265.jpg)

mungkin bs d tambahkan juga filter untuk no KK tanpa Kepala Keluarga, (Operator kadang lupa membuatkan KK baru untuk keluarga yang ditinggalkan Kepala Keluarganya)

[2022-07-15 02:38] eddieridwan commented on #5383
Bukannya itu sudah ada sebagai filter KK Kosong?

[2022-07-15 05:53] balongbesuk commented on #5383
ah iya benar (baru inget perbaikan laporan bulanan data kk kosong saya ada sebagian masih terisi anggota keluarga) mungkin dtambahkan sortir untuk anggota keluarga agar pengguna tahu bahwa kk kosong ada yang masih memiliki anggota keluarga

[2022-07-15 06:16] volla15 opened #5387 "Permintaan fitur: Penambahan Fitur Booking Ruangan"
### Apa kekurangan yg ingin diatasi?

Adanya Ruang Rapat/Aula/Gor di kantor Desa/Kelurahan yang dalam penggunaannya sering bertabrakan jadwal dan untuk transaparansi perlu ditambahan biaya sewa yang dapat direkap tiap bulan maupun tahun sebagai PADes

### Jelaskan solusi yg diinginkan

Menambahkan fitur booking ruangan beserta biaya sewa yang sesuai peraturan yang berlaku

### Apakah ada alternati

[2022-07-15 06:38] andifahruddinakas commented on #5383
Mungkin mmang sebaiknya ubah hubung untuk menjadi kepala KK hilangkan, harusnya kepala KK dipilih hanya saat buat KK baru saja.

[2022-07-15 10:12] WAHYUDIK commented on #4576
apakah perbaikan ini juga berlaku untuk semua menu?tidak hanya perbaikan akses pengguna di menu kependudukan bisa sampai RT?

[2022-07-16 02:57] FirlianiF opened #5389 "OPENSID - perbaiki upload dokumen kerjasama"
LAYANAN https://github.com/OpenSID/Layanan_OpenDESA/issues/85

[2022-07-16 04:37] eddieridwan opened #5390 "Bug/error: Backup inkremental memberatkan"
### Jelaskan error yg dialami

Backup inkremental memberatkan karena menggunakan memori banyak baik pada waktu membuat archive maupun pada waktu download.

### Cara untuk mereplikasi errornya

Lakukan backup inkremental pada folder desa besar pertama kali.

### Hasil yg diharapkan

@apidong @vickyrolanda
Solusi saat ini untuk backup inkremental memberatkan karena menggunakan cara yg langsung prose

[2022-07-16 04:45] yogiperdana commented on #5359
Terdapat laporan lain dengan masalah yang sama di forum https://forum.opendesa.id/d/211-anggaran-pembiayaan-pada-footer-berubah-saat-realisasi-pembiayaan-tidak-sama

[2022-07-16 05:15] eddieridwan commented on #5390
@apidong @vickyrolanda , mungkin solusi sederhana adalah menambah parameter tanggal/waktu pada waktu memanggil FlxZipArchive.read_dir. Kemudian di method addDirDo gunakan tanggal/waktu tsb hanya menambahkan file yang waktu dibuat/diubah sesudah waktu tersebut.

Kalau anda lakukan itu, membuat archive backup inkremental akan sederhana sekali:

[code]

[2022-07-16 05:27] eddieridwan commented on #5390
@apidong @vickyrolanda karena menggunakan background job, waktu antara pembuatan archive dan proses download mungkin bisa lama. Jadi ada kemungkinan file di temporary direktori akan dibersihkan oleh sistem (bisa saja sehabis session). Karena itu memang perlu menggunakan file khusus untuk menyimpan archive secara pasti. Untuk itu, yg bisa dilakukan adalah membuat constructor di class FlxZipArchive,

[2022-07-16 08:26] #5316 closed, assigned to nobody

[2022-07-16 09:26] vickyrolanda commented on #5311
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1130

[2022-07-16 09:26] #5311 closed, assigned to apidong

[2022-07-16 16:34] devrakapriyo commented on #5376
Baik pak

[2022-07-16 16:46] devrakapriyo commented on #5373
ini bug yang berbeda mas @agungsugiarto , dan sebelumnya sudah diberi masukan oleh mas vicky untuk error ini dibuat issue baru saja.
berikut link gambar untuk testing error yang saya alami, silahkan di download dan coba replikasi.
https://drive.google.com/file/d/1LCAJ3OtEG6ZJQJNJd_a43Fk9-eX3XiTe/view

[2022-07-16 17:18] devrakapriyo commented on #5366
Saya coba masih error mas di berputar,  silahkan klik tombol edit yang saya lingkari ini.

![berputar hamil](https://user-images.githubusercontent.com/36557759/179365309-7a75eeb1-c63c-456f-908c-51db50de8350.PNG)

dan error nya masih seperti ini.
![berputar_edit](https://user-images.githubusercontent.com/36557759/179365325-c3abd41e-5431-4bcf-b64c-18b1805aae33.PNG)

jika di local tidak error, mohon

[2022-07-16 17:39] devrakapriyo commented on #5383
Baik noted pak

[2022-07-17 01:13] mranca opened #5391 "Tambahkan kolom total pada laporan penduduk"
### Apa kekurangan yg ingin diatasi?

Kurangnya kolom total sehingga harus menghitungnya secara manual

### Jelaskan solusi yg diinginkan

![1657635767-804596-img-20220712-221949](https://user-images.githubusercontent.com/76085245/179379868-4cf51117-4bee-45e2-9a8f-9232743826b1.jpg)
Perlu di tambahkan kolom total lampiran itu berada pada menu buku administrasi desa > administrasi penduduk > buku re

[2022-07-17 01:25] mranca opened #5392 "Tambahkan kolom total pada laporan penduduk"
### Apa kekurangan yg ingin diatasi?

Kurangnya kolom total sehingga harus menghitungnya secara manual

### Jelaskan solusi yg diinginkan

![1657635767-804596-img-20220712-221949](https://user-images.githubusercontent.com/76085245/179379868-4cf51117-4bee-45e2-9a8f-9232743826b1.jpg)
Perlu di tambahkan kolom total lampiran itu berada pada menu buku administrasi desa > administrasi penduduk > buku re

[2022-07-17 07:56] WAHYUDIK opened #5393 "Bug/error: Laporan Hasil Analisis datanya tidak muncul"
### Jelaskan error yg dialami

pada saat ini membuat master analisis berbasis individu data hasil input tidak muncul pada Laporan Hasil Klasifikasi

![image](https://user-images.githubusercontent.com/31026980/179389218-881b29e4-5c60-4b13-83be-6d8cb00dca6a.png)

untuk analisis berbasis keluarga datanya muncul

![image](https://user-images.githubusercontent.com/31026980/179389241-2f6503f9-5ca0-4d0b-

[2022-07-17 09:09] Irvan1609 opened #5394 "Status menu lembaga"
Menu lembaga yang disorot tidak sesuai.

![Screenshot 2022-07-17 170841](https://user-images.githubusercontent.com/74125352/179391699-4e82400b-35d8-4382-a586-708e41b81e2b.png)

[2022-07-18 02:22] vickyrolanda commented on #5379
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1131

[2022-07-18 02:22] #5379 closed, assigned to agungsugiarto

[2022-07-18 02:22] vickyrolanda commented on #5380
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1131

[2022-07-18 02:22] #5380 closed, assigned to agungsugiarto

[2022-07-18 02:33] vickyrolanda commented on #5351
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1123

[2022-07-18 02:33] #5351 closed, assigned to agungsugiarto

[2022-07-18 03:25] vickyrolanda commented on #5357
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1121

[2022-07-18 03:25] #5357 closed, assigned to agungsugiarto

[2022-07-18 05:39] ridwan-opt opened #5401 "Tambahkan import data di menu stunting"
### Apa kekurangan yg ingin diatasi?

Tambahkan import data pemantauan pada menu stunting.
Import di lakukan melalui Excel.... Seperti halnya import data pada penduduk dal lain sebagainya

### Jelaskan solusi yg diinginkan

Biasanya menu import ini sangat membantu...

### Apakah ada alternatif lain

.

### Untuk versi OpenSID mana

22.07-premium

### Informasi tambahan

,

[2022-07-18 06:27] agungsugiarto commented on #5383
Mas @vickyrolanda silahkan di analisis issue ini

[2022-07-18 06:30] agungsugiarto commented on #5347
duplikat https://github.com/OpenSID/OpenSID/issues/5352

[2022-07-18 06:30] #5347 closed, assigned to nobody

[2022-07-18 07:10] vickyrolanda commented on #5373
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1135

[2022-07-18 07:10] #5373 closed, assigned to agungsugiarto

[2022-07-18 07:49] hasanlq69 commented on #23
izin bertanya, misal import excel/csv nya harus data yg valid isinya bukan data yang asal2an barisnya kolomnya membuat validasi spt itu gmna ya caranya? terimakasih

[2022-07-18 09:56] vickyrolanda commented on #5393
Selamat siang pak @WAHYUDIK ,
Perlu di ketahuin data Individual itu adalah hanya sekedar judul yang diberikan adapun error / bug yang bapak rasakan adalah karena point capaian tidak terpenuhi dari setiap jawaban data survey.
Mari kita demokan :
<img width="749" alt="image" src="https://user-images.githubusercontent.com/59082428/179482838-b90a7671-984e-43e9-824a-8f6dacf1ed51.png">
Contoh Saya isika

[2022-07-18 10:54] WAHYUDIK commented on #5393
Baik oak @vickyrolanda terima kasih atas pencerahannya, masalah sudah teratasi, issue saya close. Saya ganti issue lain terkait analisis, yakni jika diakses melalui android ada beberapa tampilan kurang responsiv

[2022-07-18 10:54] #5393 closed, assigned to nobody

[2022-07-18 11:01] vickyrolanda commented on #5389
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1133

[2022-07-18 11:01] #5389 closed, assigned to FirlianiF

[2022-07-18 18:17] apidong commented on #4835
berdasarkan hasil diskusi, dibutuhkan sebuah pengaturan yang memuat pengaktif'an modul tte, pengaturan tersebut antara lain :
a. atur aktif / non aktifkan tte
b. atur logo tampil / tidak tampil.
c. atur url API TTE
pengaturan tsb di letakkan di bawah modul pengaturan > aplikasi

[2022-07-18 19:00] apidong opened #5403 "[TTE] SEdiakan migrasi untuk membuat group dengan rule kepala desa dan sekretaris desa."
### Apa kekurangan yg ingin diatasi?

-

### Jelaskan solusi yg diinginkan

-

### Apakah ada alternatif lain

-

### Untuk versi OpenSID mana

-

### Informasi tambahan

agar sistem bisa mendeteksi bahwa yang sedang login adalah kepala desa, operator, sekdes. perlu dibuatkan sebuat group yang akan mengatur hak masing-masing user dan atur grou tersebut hanya bisa melihat bagian arsip surat.
agar m

[2022-07-18 19:03] apidong commented on #5270
@vickyrolanda pak, mohon di lampirkan screenshot saat verifikasi.

[2022-07-18 19:38] apidong commented on #5270
hal-hal yang perlu di diperhatikan :
- surat yang sudah diverifikasi oleh operator, tidak bisa di edit maupun dihapus
- surat yang ditolak oleh kepala desa / sekdes. surat bisa diedit kembali untuk diperbaiki.
- saat surat sudah di setujui oleh operator, surat sudah tersimpan dalam bentuk pdf di server.
- alur verifikasi bisa dilewati, semisal dari operator langsung ke Kepala desa.

Migrasi :
- ta

[2022-07-18 19:40] apidong commented on #4854
hal - hal yang perlu dilakukan untuk penerapan tte :

- [ ] buatkan sebuah pengaturan untuk mengaktifkan / non aktifkan modul tte.  issue : https://github.com/OpenSID/OpenSID/issues/4835
- [ ] tambahkan pengaturan untuk koordinat qrcode TTE pada masing2 template surat.
- [ ] tambahkan pengaturan untuk di kirim ke kecataman (opendk)  pada masing2 template surat.
- [ ] buat migrasi untuk membuat gro

[2022-07-19 00:38] agussrddi opened #5404 "Permintaan fitur: Video Visual di Tampilan Web"
### Apa kekurangan yg ingin diatasi?

Memang ada di widget, cuma tidak maksimal karena itu berada di bawah samping

### Jelaskan solusi yg diinginkan

seandainya bisa di atas menu statis dan auto play itu sangat menarik

### Apakah ada alternatif lain

Visual Videonya bisa dengan url ambil dari youtube agar tidak berat

### Untuk versi OpenSID mana

Versi umum

### Informasi tambahan

jika ada mun

[2022-07-19 01:37] vickyrolanda commented on #5374
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1124

[2022-07-19 01:37] #5374 closed, assigned to agungsugiarto

[2022-07-19 02:13] vickyrolanda commented on #5307
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1134

[2022-07-19 02:13] #5307 closed, assigned to andifahruddinakas

[2022-07-19 02:23] apidong commented on #4854
@vickyrolanda mohon di periksa, apakah ada yang kurang atau perlu diperbaiki.

[2022-07-19 03:44] andifahruddinakas commented on #5026
Bisa lihat contoh yang sudah diterapkan di pantau, https://github.com/OpenSID/tracksid/commit/76f9884ec8ee2f7e198c075181adb6735736d78f

[2022-07-19 04:08] FirlianiF opened #5405 "OPENSID: Tambahkan info email yg terkirim untuk verifikasi pendaftaran kerjasama"

[2022-07-19 04:46] #5333 closed, assigned to nobody

[2022-07-19 04:46] #5329 closed, assigned to nobody

[2022-07-19 04:47] #5386 closed, assigned to nobody

[2022-07-19 04:48] #5384 closed, assigned to nobody

[2022-07-19 04:49] #5385 closed, assigned to nobody

[2022-07-19 07:38] eddieridwan opened #5406 "Layanan: Hanya kenali gawai anjungan jika ada pemesanan anjungan final"
Pada waktu menjalankan layanan mandiri, hanya kenali gawai anjungan jika ada pemesanan anjungan final. Yaitu, meskipun gawai yg bersangkutan terdaftar sebagai anjungan, status anjungan hanya aktif jika desa telah membeli anjungan dari OpenDesa. Yaitu, fitur2 khusus anjungan hanya aktif jika desa telah membeli anjungan dari OpenDesa.

Fitur ini untuk memastikan modus anjungan tidak berlaku jika des

[2022-07-19 08:06] 151194 commented on #3385
Gmna Cara Pasang nya Bang ??🙏

[2022-07-19 08:33] apidong opened #5407 "Permintaan fitur: Tambahkan template untuk penempatan kotak Info BSRE di surat"
### Apa kekurangan yg ingin diatasi?

-

### Jelaskan solusi yg diinginkan

-

### Apakah ada alternatif lain

-

### Untuk versi OpenSID mana

-

### Informasi tambahan

![image](https://user-images.githubusercontent.com/20056421/179705153-ea682538-928b-476f-8d25-3a553f9d60e8.png)
ini contoh dari aplikasi lain dan akan disesuaikan desa pasir pemilu

[2022-07-19 08:34] #5403 closed, assigned to nobody

[2022-07-19 08:37] apidong opened #5408 "Permintaan fitur: Tambahkan pengaturan untuk di kirim ke kecataman (opendk) pada masing2 template surat"

[2022-07-19 08:47] apidong opened #5409 "permintaan fitur: Surat yang sudah final dibuatkan pdf dan hasilnya tersimpan di dalam server"
pdf dibuat setelah kades sudah menyetujui surat tersebut.
- berlaku untuk umum

[2022-07-19 08:55] apidong opened #5410 "Sediakan inputan pengisian passphrase yang hanya bisa dilakukan oleh kepala desa. jika pengaturan tte aktif"
- Tombol pengisian passphares keluar jika modul tte aktif
- Jika pengisian passphrase salah, munculkan notifikasi salah passphrase
- jika modul tte tidak aktif surat langsung masuk ke arsip dan bisa dicetak oleh operator.

tambahan informasi :
a. untuk memperoleh passphrase  dari mana?
b. buatkan dummy untuk contoh demo.

[2022-07-19 09:04] apidong opened #5411 "Buat sebuah backend yang menghubungkan opensid dengan server API TTE."

[2022-07-19 09:06] apidong opened #5412 "Tambahkan fitur untuk menentukan kepala desa dan Sekdes"
- Fix jabatan kepala dan sekretaris desa hanya di modul pengurus
- Cek semua bagian yang berkaitan dengan perubahan
- Hapus duplikasi pendefinisian kepala desa di identitas desa
- Fixkan urutan  :
  1. kepala desa
  2. sekretaris desa
  3. Lainnya

[2022-07-19 09:16] apidong commented on #4851
ditutup digantikan dengan issue https://github.com/OpenSID/OpenSID/issues/5407

[2022-07-19 09:16] #4851 closed, assigned to nobody

[2022-07-19 13:48] vickyrolanda commented on #5402
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1138

[2022-07-19 13:48] #5402 closed, assigned to andifahruddinakas

[2022-07-19 14:13] vickyrolanda commented on #5306
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1122

[2022-07-19 14:13] #5306 closed, assigned to apidong

[2022-07-19 14:25] vickyrolanda commented on #5313
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1140/

[2022-07-19 14:25] #5313 closed, assigned to andifahruddinakas

[2022-07-19 14:42] vickyrolanda commented on #4835
berdasarkan hasil diskusi, dibutuhkan sebuah pengaturan yang memuat pengaktif'an modul tte, pengaturan tersebut antara lain :
a. atur aktif / non aktifkan tte
b. atur logo tampil / tidak tampil.
c. atur url API TTE
d. atur username & password untuk basic auth otentikasi API TTE
pengaturan tsb di letakkan di bawah modul pengaturan > aplikasi

[2022-07-19 15:26] vickyrolanda commented on #5390
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1137

[2022-07-19 15:26] #5390 closed, assigned to nobody

[2022-07-20 01:21] eddieridwan commented on #5281
Contoh master analisis BDT dari Rarang Selatan:

[Analisis BDT Penduduk 2018.xls](https://github.com/OpenSID/OpenSID/files/9145690/Analisis.BDT.Penduduk.2018.xls)
[Analisis BDT Rumah Tangga 2018.xls](https://github.com/OpenSID/OpenSID/files/9145691/Analisis.BDT.Rumah.Tangga.2018.xls)

Panduannya:

[PANDUAN INTEGRASI DATA BDT KEDALAM SID.pdf](https://github.com/OpenSID/OpenSID/files/9145699/PANDUAN

[2022-07-20 01:35] eddieridwan opened #5413 "Penjelasan tambahan di impor analisis"
Saat ini tidak jelas bahwa file untuk impor analisis harus .xlsx.

![Image](https://user-images.githubusercontent.com/249563/179894332-f7d19e49-5a44-4311-b6ca-eab86f56c39f.png)

[2022-07-21 01:38] sulaimanlawidhub opened #5415 "struktur perangkat tidak akan tampil/ tidak tersusun"
Pada https://berputar.opendesa.id/pengurus jika salah satu nama ada yg menggunakan tanda petik 1 (') maka struktur perangkat tidak akan tampil/ tidak tersusun, namun seletah biodata yangbersangkutan diubah tanpa tanda petik satu maka struktur tersusun rapih.

[2022-07-21 01:40] sulaimanlawidhub opened #5416 "Struktur perangkat tidak akan tampil/ tidak tersusun jika salah satu nama menggunakan tanda petik"
Pada https://berputar.opendesa.id/pengurus jika salah satu nama ada yg menggunakan tanda petik 1 (') maka struktur perangkat tidak akan tampil/ tidak tersusun, namun seletah biodata yangbersangkutan diubah tanpa tanda petik satu maka struktur tersusun rapih. silahkan dicoba
![IMG_20220721_093527_532.jpg](https://user-images.githubusercontent.com/92381858/180111176-a80966f0-7e07-4daa-83c4-a59620615

[2022-07-21 02:03] apidong commented on #5270
untuk simpan pdf, ada di issue tersendiri

[2022-07-21 02:26] vickyrolanda commented on #5394
Sudah diselesaikan di PR https://github.com/OpenSID/OpenSID/pull/5317 sudah ok .

[2022-07-21 02:26] #5394 closed, assigned to Irvan1609

[2022-07-21 03:02] vickyrolanda commented on #5346
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1127

[2022-07-21 03:02] #5346 closed, assigned to agungsugiarto

[2022-07-21 03:32] agungsugiarto commented on #5416
pak @sulaimanlawidhub bisa lampirkan tampilan errornya ?

[2022-07-21 04:08] FirlianiF opened #5417 "Opensid : Buat langganan premium tetap aktif jika versi yang digunakan tidak melebihi masa akhir langganan"

[2022-07-21 05:25] davidyusufbumiratu commented on #5415
benar sekali, saya mengalami hal yang sama. sehingga sementara ubah biodata penduduk menghilangkan tanda petik satu agar struktur tersusun

[2022-07-21 09:39] andifahruddinakas commented on #5411
Mas @vickyrolanda, @apidong, bisa kirim contoh untuk issue ini.

[2022-07-22 04:57] muhtar-coder opened #5418 "Bug/error: Tidak bisa hapus data hasil input stunting"
### Jelaskan error yg dialami

ketika mau hapus data inputan di isian stunting, data tersebut tidak bisa di hapus

### Cara untuk mereplikasi errornya

di menu kesehatan > stunting > data hasil inputan  coba klik hapus di semua menu dan hasilnya tidak bisa di hapus

### Hasil yg diharapkan

bisa di hapus seperti biasa, kebetulan proses ini hanya uji coba saja dan belum input data sebenarnya

### T

[2022-07-22 08:24] apidong commented on #5411
@andifahruddinakas  sudah saya kirimkan di telegram

[2022-07-22 11:48] yogiperdana commented on #5271
Apakah alur pemeriksaan ini dibuat hanya untuk surat tinymce atau sekalian surat rtf? Dan setelah diperiksa surat tinymce belum bisa diajukan dari layanan mandiri.

Jika alur pemeriksaan juga berlaku untuk surat tinymce, artinya perlu untuk menyelesaikan issue https://github.com/OpenSID/OpenSID/issues/5304 terlebih dahulu untuk menyelesaikan issue ini.

Bagaimana kira kira pak @eddieridwan dan @vi

[2022-07-23 03:28] andifahruddinakas opened #5419 "Bug/error: Hasil expor DB tidak bisa di impor kembali krn adanya tgl 0000-000-000 00:00:00"
### Jelaskan error yg dialami

Terjadi gagal impor dari backup database karena tgl terdapat  tgl 0000-000-000 00:00:00

### Cara untuk mereplikasi errornya

1. gunakan db pengguna lama
2. lakukan impor
3. akan terjadi error

### Hasil yg diharapkan

impor berhasil

### Perbaikan manual
saat ini untuk memperbaiki agar bisa impor database tsb dengan menggati tgl 0000-00-00 00:00:00 menjadi tgl yg se

[2022-07-23 04:09] ariandii opened #5420 "Bug/error: Tampilan Tombol Gambar Melebihi Kotak"
### Jelaskan error yg dialami

<img width="551" alt="image" src="https://user-images.githubusercontent.com/46939846/180589890-4d7212f4-94f1-4f4b-b3af-0589767b13e3.png">

### Cara untuk mereplikasi errornya

Edit salah satu penduduk.

### Hasil yg diharapkan

Proporsional

### Tangkapan layar dan log error

Seperti di atas

### Rilis Versi OpenSID

Rilis Premium

### Versi OpenSID

Berputar

### Te

[2022-07-23 07:05] vickyrolanda commented on #5270
- [ ] Dari Pelayanan Umum ke Sekdes : bisa model seperti ini :
<img width="561" alt="image" src="https://user-images.githubusercontent.com/59082428/180594483-d4431943-8ef4-4d4b-b545-8a70ecef8dcb.png">

- [ ] Untuk TTD Kepala Desa Modelnya seperti ini :
<img width="773" alt="image" src="https://user-images.githubusercontent.com/59082428/180594391-f3132b1d-416f-4cc1-b83f-62cd64237b77.png">
 Atau bis

[2022-07-23 07:55] andifahruddinakas opened #5421 "Bug/error: Laporan jumlah awal bulan tidak sesuai denga akhir bulan sebelumnya"
### Jelaskan error yg dialami

Terjadi kesalahan perhitungan data awal bulan. Harusnya data akhir juni menjadi data awal pada bulan juli.

### Cara untuk mereplikasi errornya

Gunakan database yang bermasalah untuk mereplikasinya.

### Hasil yg diharapkan

Laporan sesuai

### Tangkapan layar dan log error

Laporan Juni
![juni](https://user-images.githubusercontent.com/57283157/180596104-ad20b9ce-2

[2022-07-23 10:53] Zoel-WB commented on #5366
Apakah edit datanya belum tersedia-->semua fitur edit belum berfungsi-->atau diklik edit masuk ke halaman error
![image](https://user-images.githubusercontent.com/64481641/180602086-1b4ae615-1599-46e8-84c8-78784a90d89c.png)

[2022-07-23 10:56] Zoel-WB commented on #5418
Semua Fitur Untuk Perintah Hapus pada Fitur Pemantauan Bulanan-->Belum Berfungsi, atau klik hapus muncul pesan Gagal

![image](https://user-images.githubusercontent.com/64481641/180602179-3ef59a18-42d8-47b2-ad8c-0ed2ceab88c3.png)

![image](https://user-images.githubusercontent.com/64481641/180602184-dd0a0bad-2d15-4e75-b526-94c57dd77f17.png)

[2022-07-23 13:23] vickyrolanda commented on #5271
kalo untuk TTE saat ini kita terapkan hanya untuk TinyMce mas yogi, itu ada mas @apidong sudah buat alur surat di pr https://github.com/OpenSID/premium/pull/1148 mungkin untuk pelayanan umum bisa mengikutin itu mas yogi, saat ini penerapan tinymce harus generate pdf ke directory dan itu juga sudah di kerjain di PR https://github.com/OpenSID/premium/pull/1151 ,

jadi untuk surat rtf mengikutin alur

[2022-07-24 05:14] eddieridwan commented on #5412
1. Ubah Info Desa > Identitas Desa > Ubah
![kades-1](https://user-images.githubusercontent.com/249563/180633220-cca45e03-cea5-475d-9196-cbcacea73c3e.jpg)
2. Ubah Info Desa > Pemerintahan Desa > Tambah
![kades-2](https://user-images.githubusercontent.com/249563/180633430-977bc3d0-3e4a-4c25-b44e-36acf52630c9.jpg)
3. Ubah Info Desa > Pemerintahan Desa
Hanya boleh ada satu Kades/Sekdes
![kades-3](http

[2022-07-24 06:31] eddieridwan commented on #5270
@apidong @vickyrolanda @devrakapriyo penjelasan alur pemeriksaan surat.

1. Pengaturan alur berlaku pada setiap jenis surat, bukan opsional pada saat mencetak surat. Yaitu alur diatur pada Pengaturan Surat bukan pada waktu mencetak surat. Alur yg ditentukan harus dipatuhi untuk setiap permohonan/pencetakan surat.
2. Pengaturan Alur diberi opsi:
    1. Operator saja, seperti sekarang. Yaitu setelah

[2022-07-24 06:46] vickyrolanda commented on #5412
Dicatat untuk ini pak, akan saya uji jika ada pembaruan PR sesuai ini pak.

[2022-07-24 06:53] vickyrolanda commented on #5270
baik pak.

[2022-07-24 16:14] vickyrolanda commented on #5416
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1149

[2022-07-24 16:14] #5416 closed, assigned to agungsugiarto

[2022-07-24 16:55] vickyrolanda commented on #5305
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1129

[2022-07-24 16:55] #5305 closed, assigned to apidong

[2022-07-24 17:04] PWidodo opened #5422 "Permintaan fitur: Tambahkan Logo dan Pilihan Kustom Jabatan Serta No dan Tgl SK Pendirian Lembaga"
### Apa kekurangan yg ingin diatasi?

Fitur ini pada menu Info Desa>Lembaga untuk diadakan perubahan Perubahan serta Penambahan sbb:

1. Tambahkan kolom isian Logo Lembaga dan Nomor SK dan Tanggal Pendirian Lembaga pada Form Master Lembaga
![tambah logo lembaga](https://user-images.githubusercontent.com/45189822/180658265-f0acf37c-a8e9-4b18-8591-ad0c3c82762a.png)

2. Tambahkan Pilihan Jabatan Kust

[2022-07-25 03:26] volla15 opened #5423 "Permintaan fitur: Cetak Bukti Bayar PBB"
### Apa kekurangan yg ingin diatasi?

Perlunya fitur cetak bukti bayar yang dapat diberikan kepada wajib pajak sebagai pegangan apabila dikemudian hari terdapat perkara penunggakan pajak yang aslinya sudah terbayar.

### Jelaskan solusi yg diinginkan

Bentuk cetak seperti struk nota di swalayan menggunakan printer dot matrik dan kertas ncr rangkap 2 ataupun lebih

### Apakah ada alternatif lain

h

[2022-07-25 04:42] andifahruddinakas commented on #5411
https://www.postman.com/raflyfirdausy/workspace/local-workspace/collection/4199172-baabb146-f3fb-4294-b948-e1d7f9b284c1?ctx=documentation

[2022-07-25 06:35] afri18 opened #5424 "Di Laporan Penduduk Bulanan bedakan keluarga datang dengan keluarga baru lainnya"
### Jelaskan error yg dialami

Kartu Keluarga Pendatang/Datang tidak terdeteksi, dalam laporan bulanan padahal ada
Kalau di perhatikan masuknya ke keluarga baru/lahir

### Cara untuk mereplikasi errornya

harusnya Keluarga datang di hitung di Pendatang/Datang

### Hasil yg diharapkan

Seharusnya kalau Keluarga Pendatang/Datang dengan Nomor KK masih daerah asal di hitung Keluarga Pendatang/Datang

[2022-07-25 07:31] agungsugiarto commented on #5424
pak @afri18 bisa kirim backup databasenya ke telegram saya

[2022-07-25 09:48] #5417 closed, assigned to FirlianiF

[2022-07-25 09:50] FirlianiF commented on #5406
https://github.com/OpenSID/wiki-layanan-opendesa/issues/100

[2022-07-25 14:32] vickyrolanda commented on #4835
Sudah diselesaikan di PR TTE https://github.com/OpenSID/premium/pull/1116

[2022-07-25 14:32] #4835 closed, assigned to apidong

[2022-07-25 15:50] vickyrolanda commented on #5405
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1160

[2022-07-25 15:50] #5405 closed, assigned to FirlianiF

[2022-07-25 16:10] vickyrolanda commented on #5409
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1151

[2022-07-25 16:10] #5409 closed, assigned to andifahruddinakas

[2022-07-25 16:36] balongbesuk commented on #5424
![image](https://user-images.githubusercontent.com/35319600/180828601-7e09ed8c-02f3-4f2e-a30d-94fd2c8f1a79.png)

sy kroscek bulan ini dan bulan bulan sebelumnya ternyata juga sama Penduduk datang dengan status Kepala Keluarga tidak terisi,

masuk ke menu keluarga > tambah penduduk masuk > isi dengan status kepala keluarga, dll > isi > simpan > lihat statistik laporan bulanan

[2022-07-25 16:44] devrakapriyo opened #5425 "Bug/error: data desa tidak terupdate di menu identitas desa"
### Jelaskan error yg dialami

Saat update data desa, desa tidak berubah

### Cara untuk mereplikasi errornya

- Info Desa
- Identitas Desa
- Klik ubah data Desa
- Pilih Desa
- Klik tombol Simpan
- Desa yang dipilih tidak ter update

### Hasil yg diharapkan

Sesuai desa yg di pilih

### Tangkapan layar dan log error

<img width="886" alt="Screen Shot 2022-07-25 at 23 41 01" src="https://user-image

[2022-07-26 00:34] yogiperdana commented on #5271
Mas @vickyrolanda nanti setelah PR https://github.com/OpenSID/premium/pull/1148 digabung. Minta tolong buatkan ceklis apa saja yang harus dikerjakan untuk issue ini ya mas

[2022-07-26 02:18] agungsugiarto commented on #5425
Mas @devrakapriyo saya tidak menemukan masalah yg dimaksud?

[2022-07-26 03:02] #5425 closed, assigned to nobody

[2022-07-26 04:52] andifahruddinakas commented on #5419
Sebelum impor, jalankan terlebih dahulu :
`SET SQL_MODE='ALLOW_INVALID_DATES';`

[2022-07-26 06:19] pemdeslinggapura opened #5426 "Bug/error: Tidak bisa menghapus Surat di Pengaturan Surat"
### Jelaskan error yg dialami

Tidak bisa menghapus surat yang dibuat di menu Tambah Surat pada versi Premium

### Cara untuk mereplikasi errornya

![image](https://user-images.githubusercontent.com/89450861/180934984-7e8a79bf-dc07-40cd-ae09-8f4a301672b7.png)

### Hasil yg diharapkan

bisa menghapus Surat Desa

### Tangkapan layar dan log error

Gagal menghapus

### Rilis Versi OpenSID

Rilis Prem

[2022-07-26 09:18] tobagus6911 commented on #5156
Setuju

[2022-07-26 16:44] mranca opened #5427 "Logo tidak tampil saat website di setting dalam offline mode"
### Jelaskan error yg dialami

Logo, alamat, telepon tidak muncul saat offline mode meskipun datanya sudah ada dalam admin

### Cara untuk mereplikasi errornya

Admin>pengaturan>aplikasi>offline mode

### Hasil yg diharapkan

Logo, alamat telepon agar bisa tampil sesui yang ada di dalam database

### Tangkapan layar dan log error

![Screenshot_20220727_003228](https://user-images.githubusercontent

[2022-07-26 17:11] muhtar-coder opened #5428 "Permintaan fitur: Sederhanakan langkah insert gambar di artikel"
### Apa kekurangan yg ingin diatasi?

upload gambar saat ini terdapat dua jenis, yang satu insert lewat file manager untuk gambar antara kalimat artikel dan yang satu upload langsung dan gambar akan muncul di bawah artikel.

"UNTUK INSERT GAMBAR VIA FILE MANAGER MASIH RIBET"

![image](https://user-images.githubusercontent.com/55665526/181068312-498d8c18-b514-46b4-a31f-48970cd703fd.png)

### Jelask

[2022-07-26 17:11] muhtar-coder opened #5429 "Permintaan fitur: Sederhanakan langkah insert gambar di artikel"
### Apa kekurangan yg ingin diatasi?

upload gambar saat ini terdapat dua jenis, yang satu insert lewat file manager untuk gambar antara kalimat artikel dan yang satu upload langsung dan gambar akan muncul di bawah artikel.

"UNTUK INSERT GAMBAR VIA FILE MANAGER MASIH RIBET"

![image](https://user-images.githubusercontent.com/55665526/181068312-498d8c18-b514-46b4-a31f-48970cd703fd.png)

### Jelask

[2022-07-26 17:12] muhtar-coder opened #5430 "Permintaan fitur: Sederhanakan langkah insert gambar di artikel"
### Apa kekurangan yg ingin diatasi?

upload gambar saat ini terdapat dua jenis, yang satu insert lewat file manager untuk gambar antara kalimat artikel dan yang satu upload langsung dan gambar akan muncul di bawah artikel.

"UNTUK INSERT GAMBAR VIA FILE MANAGER MASIH RIBET"

![image](https://user-images.githubusercontent.com/55665526/181068312-498d8c18-b514-46b4-a31f-48970cd703fd.png)

### Jelask

[2022-07-26 21:14] FirlianiF commented on #5268
pak @eddieridwan bisa minta tolong kirimkan isi dari cache layanan yang tidak lengkap nya itu seperti apa ya pak?

mas @vickyrolanda bisa minta tolong analisis untuk replikasi nya seperti apa? karena saya tidak mengalami setelah login selalu kembali ke halaman Home, atau tiba-tiba kembali ke halaman Home.

[2022-07-27 00:45] eddieridwan commented on #5268
@FirlianiF maaf tidak disimpan. Tapi coba replikasi dengan mengubah cache layanan supaya isinya tidak lengkap. Intinya sebaiknya method calculate_date_interval perlu antisipasi nilai yg dikirim tidak valid.

[2022-07-27 02:52] yogiperdana commented on #5366
mas @vickyrolanda dan mas @devrakapriyo apakah bug edit untuk halaman stunting lain selain ibu hamil juga diperbaiki pada issue ini atau mau dibuatkan issue baru?

[2022-07-27 04:52] ariandii opened #5431 "Bug/error: Belum tersedia untuk menampilkan Feed CATEGORY"
### Jelaskan error yg dialami

Ketika pada file:
donjo-app/libraries/Feed_Reader.php

baris link diubah ke opensid.my.id/feed maka bisa tampil kategori di halaman opensid.

namun ketika diubah ke link web yg menggunakan opensid misal natairaya.desa.id/feed

maka info kategori tidak muncul di halaman web.

### Cara untuk mereplikasi errornya

seperti di atas

### Hasil yg diharapkan

normal

### Ta

[2022-07-27 05:38] vickyrolanda commented on #5406
Sudah diselesaikan di PR https://github.com/OpenSID/Layanan_OpenDESA/pull/102

[2022-07-27 05:38] #5406 closed, assigned to FirlianiF

[2022-07-27 05:56] vickyrolanda commented on #5180
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1145

[2022-07-27 05:56] #5180 closed, assigned to FirlianiF

[2022-07-27 06:47] vickyrolanda commented on #5366
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1162

[2022-07-27 06:47] #5366 closed, assigned to yogiperdana

[2022-07-27 14:03] yogiperdana commented on #5418
Issue ini juga sekalian memperbaiki gagal filter dan edit pada semua menu stunting

[2022-07-28 01:07] Pematung opened #5432 "Bug/error: Saat Melakukan MigrasiDB Pada OpenSID Rev03"
### Jelaskan error yg dialami

Saat hendak melakukan MigrasiDB pada OpenSID Versi 22.07 premium-rev03 terjadi data gagal disimpan hal ini terjadi baik pada install baru opensid maupun yg sudah menggunakan lama

![image](https://user-images.githubusercontent.com/105429258/181398092-0a2a8107-b438-4039-a4d5-528107a1e8fd.png)

### Cara untuk mereplikasi errornya

1. Pengaturan
2. Database
3. MigrasiDB

[2022-07-28 01:13] dgyoganantha commented on #5432
Up

[2022-07-28 02:16] #5327 closed, assigned to nobody

[2022-07-28 02:16] #5335 closed, assigned to nobody

[2022-07-28 02:17] #5336 closed, assigned to nobody

[2022-07-28 02:19] #5337 closed, assigned to nobody

[2022-07-28 02:19] #5338 closed, assigned to nobody

[2022-07-28 03:41] andifahruddinakas commented on #5421
Catatan :
1. peristiwa 1 (kk baru) atau 2 (kk meninggal) pada log penduduk hanya boleh 1 saja.
2. bisa cek dengan melakukan ubah satus dasar dari kepala keluarga tsb dari hidup jadi meninggal (lakukan berulang kali sambil cek laporan bulanan)

[2022-07-28 12:50] muhtar-coder commented on #5259
Aturan terkait :
https://peraturan.bpk.go.id/Home/Details/138575/permendagri-no-109-tahun-2019

[2022-07-28 14:25] PWidodo commented on #5432
Saya coba di https://berputar.opendesa.id/hom_sid juga error

[2022-07-28 14:44] vickyrolanda commented on #5420
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1158

[2022-07-28 14:44] #5420 closed, assigned to FirlianiF

[2022-07-28 14:56] #5415 closed, assigned to nobody

[2022-07-28 16:33] vickyrolanda commented on #5418
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1167

[2022-07-28 16:33] #5418 closed, assigned to yogiperdana

[2022-07-28 17:14] vickyrolanda commented on #5381
ok mas, saya uji coba dengan buat drive C saya full tinggal 0 KB , lalu saya coba backup dan muncul informasi gagal seperti ini :
<img width="579" alt="image" src="https://user-images.githubusercontent.com/59082428/181597900-4c62b710-aef6-4291-b54f-c020dca81a65.png">

telah di kerjain di PR https://github.com/OpenSID/premium/pull/1137

[2022-07-28 17:14] #5381 closed, assigned to apidong

[2022-07-28 22:18] Pematung commented on #5432
Coba lihat screenshot yg paling atas dan perhatikan alamatnya

[2022-07-29 02:40] eddieridwan commented on #4719
Lihat pembahasan di https://www.facebook.com/groups/OpenSID/posts/2190175917814044/?comment_id=2190418694456433

[2022-07-29 02:47] eddieridwan commented on #4719
Catatan: fitur 'Kembali' di log penduduk mungkin bisa dibatasi hanya dapat dilakukan dalam bulan laporan peristiwa. Setelah lewat itu, sepertinya tidak dapat dikembalikan lagi, karena seharusnya sudah direkam di laporan bulanan bagi bulan ybs. Kalau tetap dilakukan, akan menghapus riwayat perubahan status dasar penduduk dan mengubah laporan bulanan yg sudah lewat.

[2022-07-29 10:35] vickyrolanda commented on #5427
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1164

[2022-07-29 10:35] #5427 closed, assigned to andifahruddinakas

[2022-07-29 14:11] vickyrolanda commented on #5421
Check :
1. Input data penduduk bulan ini 1 anam dan input data KK dengan kepala rumah tangga 1
Hasilnya telah benar  :
laporan July :
<img width="752" alt="image" src="https://user-images.githubusercontent.com/59082428/181770475-2e257b0c-c8dc-4ca6-ab65-6ae72882fa72.png">
2. saya coba test input 1 anak , 1 istri dan 1 kepala rumah tangga dan 1 KK
<img width="760" alt="image" src="https://user-image

[2022-07-29 16:11] andifahruddinakas commented on #5421
Masalahnya ada di log_keluarga, terjadi duplikasi peristiwa meninggal (2) pada 1 kk yg sama dibulan yg berbeda. Disebabkan krn fungsi menghidupkan kembali penduduk yg sudah meninggal. Sementara perbaikan hanya  memperbaiki log_keluarga saja.

Untuk kasus kk baru (1) dan kk meninggal (2) hanya boleh 1 dalam 1 kk.

[2022-07-29 16:21] andifahruddinakas commented on #5421
PR issue ini memperbaiki log_keluarga, jd mungkin testnya di fokuskan ke keluarga saja. Issue ini berkaitan keluarga awal dan akhir, jd bisa di cek query untuk menghitung ke 2 bagian itu. Yang salah hanya pada bagian perhitungannya saja, tapi bagian detail saat diklik sudah sesuai.

Proses yg perlu di cek ada dibagian jika Kepala KK dimatikan kemudian dihidupkan kembali.

Untuk kasus penduduk data

[2022-07-29 18:22] Zoel-WB opened #5446 "[Stunting] Pilihan Edit/Ubah Data Pemantauan Bulanan Ibu Hamil Mengarah Ke Fitur Tambah Data"
### Jelaskan error yg dialami

Saat memilih edit salah satu data pada fitur Pemantauan Bulanan Ibu Hamil, system tidak masuk ke form untuk edit/ubah data yg dimaksud, akan tetapi mengarah ke form imput/tambah data....

### Cara untuk mereplikasi errornya

Buka Fitur Stunting
Pada Fitur Pemantauan --.Pilih Bulananan Ibu Hamil
Klik Tombol Ubah Data

### Hasil yg diharapkan

Agar system mengarah/mema

[2022-07-29 18:30] Zoel-WB opened #5447 "[Stunting] Saat Memilih Edit/Ubah Data Sasaran Paud Anak 2-6 Tahun System Masih Mengarah Halaman Error"
### Jelaskan error yg dialami

Saat Memilih Edit/Ubah Data Sasaran Paud Anak 2-6 Tahun System Masih Mengarah Halaman Error

### Cara untuk mereplikasi errornya

Pilih Fitur Kesehatan -> Stunting
Pada Fitur Pemantauan --> Data Sasaran Paud Anak 2-6 Tahun
Klik Tombol Ubah Data

### Hasil yg diharapkan

Supaya tidak terjadi error saat memilih ubah data

### Tangkapan layar dan log error

![image](htt

[2022-07-30 04:33] vickyrolanda commented on #5426
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1166

[2022-07-30 04:33] #5426 closed, assigned to andifahruddinakas

[2022-07-30 05:11] vickyrolanda commented on #5419
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1163

[2022-07-30 05:11] #5419 closed, assigned to andifahruddinakas

[2022-07-30 05:11] apidong opened #5448 "penambahan fitur : mematikan proses backup inkremental."
saat ini backup menggunakan inckremental exec untuk menjalankan background job, maka mungkin juga bisa menggunakan exec untuk mematikan proses yg berjalan. ID proses bisa disimpan di log yg kemudian bisa diakses oleh script

[2022-07-30 05:45] vickyrolanda commented on #5325
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1173

[2022-07-30 05:45] #5325 closed, assigned to apidong

[2022-07-30 06:41] vickyrolanda commented on #5421
Baik mas.

[2022-07-30 06:59] scqolbu24 commented on #5268
sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/1175

[2022-07-30 06:59] #5268 closed, assigned to FirlianiF

[2022-07-30 07:21] yogiperdana commented on #5447
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/1167

[2022-07-30 07:21] #5447 closed, assigned to yogiperdana

[2022-07-30 07:24] yogiperdana commented on #5446
Saya coba tidak ada masalah pak @Zoel-WB

[2022-07-30 07:37] Zoel-WB commented on #5446
Baik pak...

[2022-07-30 07:45] yogiperdana commented on #5446
Issue ini ditutup karena bug tidak dapat direplikasi

[2022-07-30 07:45] #5446 closed, assigned to yogiperdana

[2022-07-30 13:08] vickyrolanda commented on #5359
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1171

[2022-07-30 13:08] #5359 closed, assigned to apidong

[2022-07-30 15:45] agungsugiarto commented on #5424
Sudah saya coba tidak ada masalah pak?

![Image](https://user-images.githubusercontent.com/10989147/181924652-23716941-0583-467a-8b64-8945eafcccad.png)

[2022-07-30 15:57] vickyrolanda commented on #5432
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1168

[2022-07-30 15:57] #5432 closed, assigned to agungsugiarto

[2022-07-31 09:31] vickyrolanda commented on #5431
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1165

[2022-07-31 09:31] #5431 closed, assigned to andifahruddinakas

[2022-07-31 12:14] balongbesuk commented on #5424
pendatang dg status kepala keluarga

[2022-07-31 16:11] vickyrolanda commented on #5421
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1169

[2022-07-31 16:11] #5421 closed, assigned to agungsugiarto, andifahruddinakas

[2022-08-01 00:21] balongbesuk opened #5450 "Bug/error: Bedakan KK baru untuk pendatang dan KK Baru untuk penduduk pada statistik laporan bulanan"
### Jelaskan error yg dialami

pada statistik laporan bulanan Kepala keluarga pendatang harusnya terhitung pada kolom keluarga (KK) baru pendatang dan bukan masuk ke Keluarga (KK) kelahiran/keluarga Baru penduduk

### Cara untuk mereplikasi errornya

Tambahkan pendatang Kepala Keluarga pada menu keluarga > simpan > lihat hasil pada statistik laporan bulanan (masuk dalam kolom kelahiran/keluarga ba

[2022-08-01 00:36] balongbesuk commented on #264
outdate bs d close

[2022-08-01 00:37] balongbesuk commented on #212
outdate bs s close

[2022-08-01 00:39] balongbesuk commented on #727
outdate bs d close

[2022-08-01 00:53] balongbesuk commented on #3908
sudah ada d rilis .rtf / .doc

[2022-08-01 05:36] khpurnawan opened #5451 "Permintaan fitur: Alamat Lengkap (RT/RW) di Laporan Penerima Vaksin"
### Apa kekurangan yg ingin diatasi?

Pada saat ini di **_"Laporan Penduduk - Pendataan Penerima Vaksin Covid-19"_** belum ada alamat RT dan RW, hanya ada alamat dusun.

Mohon kiranya bisa alamat penduduk penerima vaksin covid-19 itu bisa lengkap (tercantum RT & RW) agar kami bisa lebih maksimal dalam menggunakan data Pendataan Penerima Vaksin Covid-19 yang di CETAK atau di UNDUH dari SID.

### Je

[2022-08-02 02:15] balongbesuk commented on #5424
![182051653-930dd6f3-5f0b-449f-90e8-57c00f69927e](https://user-images.githubusercontent.com/35319600/182277181-063128dd-ee76-4a35-ad3e-e629d79f96d9.jpg)

Tambahkan pendatang Kepala Keluarga pada menu keluarga > simpan > lihat hasil pada statistik laporan bulanan (masuk dalam kolom kelahiran/keluarga baru harusnya masuk k kolom pendatang)

[2022-08-02 02:15] balongbesuk commented on #5450
duplicate #5424

[2022-08-02 02:15] #5450 closed, assigned to nobody

[2022-08-02 02:57] afri18 commented on #5424
@balongbesuk itu yang saya maksud .......

[2022-08-02 04:08] #5330 closed, assigned to nobody

[2022-08-02 04:09] #5353 closed, assigned to nobody

[2022-08-02 04:09] #5361 closed, assigned to nobody

[2022-08-02 04:09] #5362 closed, assigned to nobody

[2022-08-02 04:09] #5363 closed, assigned to nobody

[2022-08-02 04:10] #5364 closed, assigned to nobody

[2022-08-02 04:37] devrakapriyo opened #5452 "Bug/error: Tampil tag [""] pada halaman periksa"
### Jelaskan error yg dialami

di masing-masing url domaindesa.com/periksan munculnya [""] di sebutan nama desa, kabupaten dan title pada tab browser

### Cara untuk mereplikasi errornya

1. pergi ke halaman domaindesa.com/periksa
2. muncul error seperti gambar di bawah
<img width="1440" alt="Screen Shot 2022-08-02 at 11 32 33" src="https://user-images.githubusercontent.com/36557759/182292517-7223

[2022-08-02 04:44] pemdeslinggapura opened #5453 "MENAMPILKAN QR CODE DENGAN KODE SISIPAN PADA SURAT FORMAT LAMA RTF"
### Apa kekurangan yg ingin diatasi?

Sejujurnya opensid yang digunakan di Desa saya sudah sangat cukup dengan Format Surat yang berbentuk RTF dengan kode2 sisipan, karena dirasa lebih fleksibel walaupun memang harus bisa sedikit koding. Olehkarena tidak ada salahnya kalau kode sisipan QR Code juga bisa digunakan pada format surat RTF

### Jelaskan solusi yg diinginkan

Menampilkan QR Code Pada Fo

[2022-08-02 04:49] andifahruddinakas commented on #5266
Penambahan untuk issue ini :
- [x] Informasi tag_id _card pada modul dpt (index, unduh/cetak)
- [x] Filter tag_id _card

[2022-08-02 05:05] eddieridwan commented on #5453
@pemdeslinggapura surat dengan format RTF tidak akan dikembangkan lebih lanjut. Nanti setelah surat dengan format HTML telah dilengkapi dengan fitur2 yg saat ini hanya ada di surat RTF, format RTF akan dihilangkan, karena sudah bisa digantikan dengan surat HTML.

[2022-08-02 05:41] afri18 commented on #5424
@agungsugiarto masalhnya keluarga datang tidak terisi, yang antum merahin penduduk datang, yg bug keluarga (Kepala Keluarga) datang

[2022-08-02 05:42] eddieridwan commented on #4854
@yogiperdana @apidong kalau sudah dibuatkan issue untuk masing2 tugas, sebaiknya issue ini ditutup saja.

[2022-08-02 05:45] eddieridwan commented on #4422
@andifahruddinakas , apakah issue ini sudah bisa ditutup?

[2022-08-02 06:02] andifahruddinakas commented on #4422
Sdah bisa pak

[2022-08-02 06:02] #4422 closed, assigned to nobody

[2022-08-02 06:09] pemdeslinggapura commented on #5453
Oh iya pak, kalau begitu semoga bisa lebih di tingkatkan lg untuk yg PDF, soalnya masih sulit di editornya, untuk penyesuaian spasi, line height, dan kadang di pengaturan tidak sesuai dengan kenyataan pas Print pdf

[2022-08-02 06:22] eddieridwan commented on #5358
@vickyrolanda permintaan ini adalah untuk menerapkan hirarki penomoran surat, misalnya:

1. penomoran surat per jenis surat di pengaturan surat (saat ini belum ada)
2. penomoran surat global

Yaitu, pada waktu mencetak surat dan juga di verifikasi QR Code, gunakan penomoran surat sesuai urutan di atas. Yaitu, gunakan penomoran jenis surat, jika ada. Kalau tidak ada gunakan penomoran surat global.

[2022-08-02 06:25] muhtar-coder opened #5454 "Permintaan fitur: fitur insert tabel statistik di menu artikel"
### Apa kekurangan yg ingin diatasi?

presentasi monografi desa bisa di buat fleksibel agar dapat menyuguhkan data yang enak dan mudah di baca serta memungkinkan di cetak untuk kebutuhan LPPD/PROFIL DESA/LAPORAN LAIN NYA.

### Jelaskan solusi yg diinginkan

Di menu artikel seperti untuk insert bantuan ataupun data keuangan, kalo bisa di tambahkan untuk insert tabel statistik yang dapat di pilih ju

[2022-08-02 06:52] andifahruddinakas commented on #5348
Pak @eddieridwan, qrcode-tpl.png adalah template qrcode sementara yang perlu disematkan ke file rtf nantinya file gambar tsb yg akan digantikan / ditimpa dengan qrcode asli saat surat digenrate.

qrcode-tpl.png memang linknya mengarah ke link github opensid.

[2022-08-02 06:56] eddieridwan commented on #5453
@pemdeslinggapura , silakan buat issue terpisah untuk setiap permasalahan yg ditemukan.

[2022-08-02 07:27] eddieridwan commented on #5348
@andifahruddinakas :
1. jelaskan kepada yg melaporkan
2. lengkapi panduan menjelaskan
3. tutup issuenya.

[2022-08-02 07:32] andifahruddinakas commented on #5348
Mas @sulaimanlawidhub, panduan untuk menyematkan qrcode ke surat rtf bisa di cek pada pandua : https://github.com/OpenSID/OpenSID/wiki/QRCode-di-Surat-untuk-Verifikasi,-Unduh-dan-Informasi

[2022-08-02 07:32] #5348 closed, assigned to nobody

[2022-08-02 07:55] andifahruddinakas commented on #5271
Berkaitan dengan issue dan diperlukan https://github.com/OpenSID/OpenSID/issues/5304

[2022-08-02 08:15] andifahruddinakas commented on #5410
Issue https://github.com/OpenSID/OpenSID/issues/4852

[2022-08-02 08:16] #4852 closed, assigned to apidong

[2022-08-02 08:17] #4854 closed, assigned to nobody

[2022-08-02 11:48] andifahruddinakas commented on #5424
Pak @eddieridwan, pada log_keluarga, id_peristiwa tidak ada jenis peristiwa tsb. Peristiwa datang hanya ada pada log_penduduk saja.

[code]

[2022-08-02 11:54] andifahruddinakas commented on #5383
Mas @devrakapriyo, kalau sudah ada databasenya bisa kirim ke telegram saya.

[2022-08-02 14:07] binrosyad opened #5455 "Bug/error: aplikasi layanan mandiri android (api opensid)"
### Jelaskan error yg dialami

pertama, setiap mengajukan permohonan surat selalu meminta dokumen surat pindah, padahal tidak kita ajukan persyaratan apapun pada settingan surat untuk layan mandiri
kedua, setelah kita hapus semua dokumen persyaratan yang ada di pengaturan layanan mandiri di admin area, efeknya ketika kita hendak ajukan permohonan surat melalui aplikasi layanan mandiri yg di hp, te

[2022-08-03 01:29] pemdeslinggapura opened #5456 "Bug/error: SURAT PDF TIDAK TAMPIL"
### Jelaskan error yg dialami

Pas klik menu Cetak PDF tidak tampil Surat PDF nya, malah loading terus
![image](https://user-images.githubusercontent.com/89450861/182504394-0521ca98-01c1-40f4-8bb2-0a54731387e9.png)

### Cara untuk mereplikasi errornya

1. Cetak PDF

### Hasil yg diharapkan

Surat PDF yang sudah dibuat dapat ditampilkan

### Tangkapan layar dan log error

![image](https://user-imag

[2022-08-03 01:49] andifahruddinakas commented on #5270
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/1148

[2022-08-03 01:49] #5270 closed, assigned to apidong

[2022-08-03 02:42] vickyrolanda commented on #5232
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1144

[2022-08-03 02:42] #5232 closed, assigned to andifahruddinakas

[2022-08-03 03:04] vickyrolanda commented on #5308
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1139

[2022-08-03 03:04] #5308 closed, assigned to andifahruddinakas

[2022-08-03 03:19] vickyrolanda commented on #5266
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1143

[2022-08-03 03:19] #5266 closed, assigned to andifahruddinakas

[2022-08-03 04:15] vickyrolanda commented on #5304
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1154

[2022-08-03 04:15] #5304 closed, assigned to yogiperdana

[2022-08-03 05:53] eddieridwan opened #5457 "Bug/error: Tampilkan pesan jika tidak ada respon dari pantau"
### Jelaskan error yg dialami

Daftar desa tidak tampil di Info Desa > Identitas Desa > Ubah setelah install/seeder.

### Cara untuk mereplikasi errornya

1. Buat database baru
2. Install OpenSID
3. Buka Info Desa > Identitas Desa
4. Ubah
5. Klik untuk memilih Nama Desa
6. Perhatikan hasilnya 'No results found'

### Hasil yg diharapkan

1. Daftar desa tampil.

Dan sekalian:
1. Pesan error diubah m

[2022-08-03 06:22] andifahruddinakas commented on #5457
Untuk error log :
[code]

karena di $config['token_layanan'] sudah terisi tapi kode desanya tidak terisi.

[2022-08-03 06:23] andifahruddinakas commented on #5457
Untuk gagal muat data desa, bisa cek di console network.

![image](https://user-images.githubusercontent.com/57283157/182538510-5e83f431-640c-487d-8b09-0223935aa8ce.png)

[2022-08-03 06:39] vickyrolanda commented on #5452
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1181

[2022-08-03 06:39] #5452 closed, assigned to andifahruddinakas

[2022-08-03 06:52] eddieridwan commented on #5424
@andifahruddinakas betul belum ada. Karena itu issuenya perlu dibuat sebagai fitur, bukan bug. Yaitu untuk membedakan keluarga datang dengan keluarga baru karena pecah KK atau lainnya. Sepertinya saya sudah jelaskan ini pada issue yg lain?

Saya jelaskan di sini: https://t.me/c/1180597796/4224

Seharusnya bung @vickyrolanda langsung menindaklanjuti komentar di Telegram itu.

[2022-08-03 06:56] andifahruddinakas commented on #5424
ok

[2022-08-03 07:04] vickyrolanda commented on #5457
untuk log ini sudah di gabungkan di pr https://github.com/OpenSID/premium/pull/1182

Namun untuk list daftar desa saya coba install 2 kali di local dan hasilnya muncul untuk nama -nama desanya pak @eddieridwan ,

<img width="547" alt="image" src="https://user-images.githubusercontent.com/59082428/182545218-748c3caf-2951-4b62-8236-23e7dbc3edd2.png">

mas @devrakapriyo bisa bantu testing juga untuk

[2022-08-03 07:16] vickyrolanda commented on #5220
Mohon maaf pak @senimandigital saat ini issue ini kita close dulu dan saat ini Opensid juga belum support ke php 8 pak, namun kami sudah masukin usul ini untuk upgrade opensid ke php 8 terimakasih.

[2022-08-03 07:16] #5220 closed, assigned to andifahruddinakas

[2022-08-03 08:08] #5410 closed, assigned to apidong

[2022-08-03 08:54] eddieridwan commented on #5457
@vickyrolanda @andifahruddinakas : Ternyata karena setting
[code]

Berhasil kalau menggunakan
[code]

Coba periksa apakah token_pantau berbeda untuk devtracker atau apakah devtracker sudah dimuat rilis terbaru. Yang jelas tidak ada notifikasi sebab errornya. Error di log terkait pemanggilan layanan, tidak terkait pemanggilan tracker. Sebaiknya ada notifikasi error.

[2022-08-03 10:44] andifahruddinakas commented on #5457
https://devtracker.opensid.my.id belum di perbarui

[2022-08-03 10:49] eddieridwan commented on #5457
@vickyrolanda , jangan lupa devtracker perlu selalu diupdate juga.

[2022-08-03 12:27] yogiperdana commented on #5239
Maaf mas @vickyrolanda. Apakah bisa dibuatkan erdnya sebelum mulai dilakukan perbaikan mas. Takutnya nanti setelah dikerjakan ada data yang tidak sesuai

[2022-08-03 15:27] vickyrolanda commented on #5407
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1147

[2022-08-03 15:27] #5407 closed, assigned to yogiperdana

[2022-08-03 16:52] vickyrolanda commented on #5273
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1156

[2022-08-03 16:52] #5273 closed, assigned to apidong

[2022-08-03 17:07] andifahruddinakas opened #5458 "[TinyMCE] Konversi surat RTF bawaan sistem ke TinyMCE"

[2022-08-03 17:08] andifahruddinakas opened #5459 "[TinyMCE] dengan lampiran"

[2022-08-03 17:23] vickyrolanda commented on #5412
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1141

[2022-08-03 17:23] #5412 closed, assigned to andifahruddinakas

[2022-08-03 17:23] vickyrolanda commented on #5233
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1141

[2022-08-03 17:23] #5233 closed, assigned to andifahruddinakas

[2022-08-03 21:04] devrakapriyo opened #5460 "panduan"

[2022-08-03 21:28] devrakapriyo opened #5461 "Regression testing OpenSID Umum"

[2022-08-03 21:28] devrakapriyo opened #5462 "Sediakan rilis beta bagi pengguna"

[2022-08-03 21:28] devrakapriyo opened #5463 "Finalkan testing"

[2022-08-03 21:28] devrakapriyo opened #5464 "Testing pra rilis rev 1"

[2022-08-03 21:28] devrakapriyo opened #5465 "Regression testing setiap aplikasi"

[2022-08-03 21:28] devrakapriyo opened #5466 "Testing pra rilis rev 2"

[2022-08-04 01:18] #5459 closed, assigned to nobody

[2022-08-04 01:29] FirlianiF opened #5467 "OPENSID : faktur tidak ditampilkan untuk pemesanan oleh mitra"

[2022-08-04 02:19] andifahruddinakas commented on #5457
Pak @eddieridwan, sy cek responnya ada cuma datanya yg ditampilkan kosong. Mungkin kasus ini butuhnya `https://devtracker.opensid.my.id/` di perbarui saja dengan versi terbaru.

![image](https://user-images.githubusercontent.com/57283157/182748258-04cceae2-119c-4968-a4b7-4b357d3ddc0f.png)

[2022-08-04 02:26] eddieridwan commented on #5457
@andifahruddinakas yg berikut tetap diperlukan:
1. notifikasi jika pantau tidak bisa diakses karena tidak ada jaringan internet
2. notifikasi jika ada jaringan internet, tapi pantau tidak bisa diakses (tampilkan url yg berusaha diakses)
3. perbaiki notifikasi tidak ada data ke dalam bahasa Indonesia. Dalam hal ini juga tampilkan url yg tidak berisi data tersebut.

Yaitu, kita berusaha memberi info

[2022-08-04 02:30] andifahruddinakas commented on #5457
1.  Yang ada saat ini jika tidak ada jaringan, Identitas desa beralih ke mode input manual.

Untuk point 2 dan 3 apa response di pantau yang disesuaikan, jadi di OpenSID tinggal ditampilkan?

[2022-08-04 04:16] vickyrolanda commented on #5271
Fitur surat layanan mandiri adalah permohonan langsung dari warga dimana surat dapat di pilih dan di ajukan untuk dibuat oleh warga, saat ini permohonan surat layanan mandiri berdiri sendiri dimana perubahan status ada di permohonan surat di menu layanan mandiri saat ini ada beberapa status dalam permohonan surat layanan mandiri :
- Sedang diperiksa (status ini adalah status awal ketika permohoan

[2022-08-04 05:04] vickyrolanda commented on #5457
mas @andifahruddinakas untuk point 3 diganti di jquery select itu yang muncul " no result found" diganti " tidak ada data"
<img width="663" alt="image" src="https://user-images.githubusercontent.com/59082428/182766769-994c2594-c241-47fe-a33f-3f1494ac7daf.png">

Point 2 saya rasa tetap di opensid mas , mungkin jika ada internet tapi ketika akese ke pantau no respon maka diberikan notifikasi "url" i

[2022-08-04 05:39] vickyrolanda commented on #5457
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1184

[2022-08-04 05:39] #5457 closed, assigned to andifahruddinakas

[2022-08-04 06:56] apidong commented on #5456
mas @andifahruddinakas dulu pernah ngalami ini, saya coba pakai format surat sederhana tidak masalah. tapi ketika memakai format yang ada di template, jalannya lama.

[2022-08-04 17:29] apidong opened #5468 "Bug/error: tampilan data staff di create user berbentuk json."
![image](https://user-images.githubusercontent.com/20056421/182913665-a2e23b55-57f1-4960-8580-f290c4b99df6.png)

[2022-08-05 03:22] kedungsalam-ds opened #5469 "Permintaan fitur: Group Pengguna untuk RT dan RW"
### Apa kekurangan yg ingin diatasi?

Jika jumlah penduduk sangat banyak (diatas 10.rb jiwa) Admin desa memerlukan waktu yang sangat panjang untuk akurasi data penduduk. Untuk itu diperlukan SDA untuk membantu entri data dalam akurasi data desa. Adapun yang paham akan kondisi dan lokasi wilayah adalah RT-RW setempat. Maka dari itu di perlukan Pengguna/user untuk pak RT dan pak RW.
minimal bisa Rea

[2022-08-05 04:25] apidong commented on #5456
https://github.com/spipu/html2pdf/issues/230

[2022-08-05 09:15] vickyrolanda commented on #5468
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1192

[2022-08-05 09:15] #5468 closed, assigned to andifahruddinakas

[2022-08-05 10:11] verlin884 opened #5470 "Bug/error: Tidak bisa menambahkan data pembangunan baru ketika menggunakan akun dengan group bukan admin"
### Jelaskan error yg dialami

Saya membuat grup pengguna baru untuk memberikan akses menambah / hapus / ubah data pembangunan. tetapi button tambah pada page pembangunan tidak muncul.

### Cara untuk mereplikasi errornya

1. buat grup admin pembangunan
2. menambahkan akses baca, ubah dan hapus Pembangunan
3. simpan
4

1. tambah pengguna baru
2. pilih grup admin pembangunan -> isi semua field
3. s

[2022-08-05 12:47] vickyrolanda commented on #4962
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1194

[2022-08-05 12:47] #4962 closed, assigned to nobody

[2022-08-06 01:41] yogiperdana commented on #5470
Duplikat issue https://github.com/OpenSID/OpenSID/issues/4794

[2022-08-06 01:46] yogiperdana commented on #5470
Issue ini telah diperbaiki pada Rilis v22.02-premium dan akan masuk ke Rilis umum v22.09 bulan depan

[2022-08-06 01:46] #5470 closed, assigned to yogiperdana

[2022-08-06 15:41] BubySaputra opened #5471 "Bug/error: Laporan Rincian Realisasi hasil dari impor siekudes error 500"
### Jelaskan error yg dialami

![image](https://user-images.githubusercontent.com/28770140/183255890-4c14d330-ba92-445b-9861-ba7f1296c3c9.png)

### Cara untuk mereplikasi errornya

[opensid_data.zip](https://github.com/OpenSID/OpenSID/files/9275352/opensid_data.zip)

### Hasil yg diharapkan

tidak error

### Tangkapan layar dan log error

![image](https://user-images.githubusercontent.com/28770140

[2022-08-08 00:23] muhtar-coder opened #5472 "Bug/error: NIK warga luar desa tidak bisa input lebih dari satu kali di menu tanah yg ada di desa"
### Jelaskan error yg dialami

Input nik yg sama warga luar desa tidak bisa dipakai/input lebih dari satu kali pada menu "tanah yg ada di desa"

### Cara untuk mereplikasi errornya

Di buku administrasi umum sub tanah yang ada di desa> input warga luar desa> lakukan lebih dari satu kali input.

Notif: NIK sudah digunakan

Harus nya bisa duplikat nik

### Hasil yg diharapkan

Bisa digunakan berkali

[2022-08-08 03:50] vickyrolanda commented on #5472
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1198

[2022-08-08 03:50] #5472 closed, assigned to andifahruddinakas

[2022-08-08 04:55] vickyrolanda commented on #5471
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1197

[2022-08-08 04:55] #5471 closed, assigned to apidong

[2022-08-08 09:30] Pematung opened #5473 "Permintaan fitur: Tambahkan Modul Untuk Pengisian Profil Desa"
### Apa kekurangan yg ingin diatasi?

Perlunya ditambahkan modul khusus untuk pengisian Profil desa yang mana ini sangat dibutuhkan setiap tahunnya

### Jelaskan solusi yg diinginkan

Agar pemerintah desa lebih di permudah dalam pengisian Profil Desa dan data profil tersebut bisa terekam sebagai arsip desa pertahunnya dan bisa untuk mempermudah desa membuat laporan guna untuk mewujudkan desa 1 dat

[2022-08-08 12:56] vickyrolanda commented on #5456
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1201

[2022-08-08 12:56] #5456 closed, assigned to apidong

[2022-08-08 14:36] vickyrolanda commented on #5372
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1200

[2022-08-08 14:36] #5372 closed, assigned to andifahruddinakas

[2022-08-08 16:48] vickyrolanda commented on #5301
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1203

[2022-08-08 16:48] #5301 closed, assigned to yogiperdana

[2022-08-09 02:31] yogiperdana commented on #5324
Mohon maaf pak @langonsari, jadi untuk kasus anak kembar 1 ibu punya 2 KIA yang mewakili masing-masing anak dan satu ibu bisa punya beberapa KIA begitu pak?

[2022-08-09 02:32] yogiperdana commented on #5324
Mohon analisisnya juga mas @vickyrolanda untuk kasus seperti ini. Selain kembar, bisa juga ada orang tua yang rentang usia anaknya tidak jauh jadi memungkinkan terdapat beberapa KIA

[2022-08-09 02:34] devrakapriyo opened #5474 "Membuat Panduan TTE"

[2022-08-09 02:36] yogiperdana commented on #5295
Form bulan pemantauan / bulan periksa itu maksudnya keterangan bulan saat ini / saat penginputan. Apakah seperti itu pak @Wiliyantoro?

[2022-08-09 02:59] vickyrolanda commented on #4464
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1193

[2022-08-09 02:59] #4464 closed, assigned to andifahruddinakas

[2022-08-09 03:58] andifahruddinakas opened #5475 "Bug/error: Last Login Tidak Terperbarui Setelah Login atau Logout"
### Jelaskan error yg dialami

Last login tidak diperbarui.

### Cara untuk mereplikasi errornya

1. Sesuaikan dulu last login di database tabel user last_login, atur jadi hari sebelum pengecakan PR.
2. Lakukan login seperti biasanya
3. Bandingkan login hari sebelum (asumsi no. 1) dengan setelah login (hari ini)
4. Last login tetap sama, yakni hari sebelumnya (tdk terperbarui)

### Hasil yg dihara

[2022-08-09 04:45] devrakapriyo commented on #5383
issue ditutup karena tidak tersedia database dari laporan tersebut.

[2022-08-09 04:45] #5383 closed, assigned to nobody

[2022-08-09 05:01] muhtar-coder opened #5476 "Bug/error: isian luas tanah tidak bisa tersimpan di menu bumindes tanah kas desa"
### Jelaskan error yg dialami

Ketika mengisi luasan tanah di bumindes tanah kas desa tidak bisa tersimpan

### Cara untuk mereplikasi errornya

Pergi ke bumindes pilih tanah kas desa lalu coba isi luas tanah.
Sudah coba bolak balik coba isi di kolom luas secara bergantian di kolom isian tapi gak tersimpan.

Tapi ketika kolom isian dikosongkan, data berhasil tersimpan

### Hasil yg diharapkan

Bis

[2022-08-09 05:19] andifahruddinakas opened #5477 "Konfirmasi Hidupkan Kembali Penduduk Meninggal"
Sediakan informasi saat mau menambahkan konfirmasi sebelum menghidupkan kembali penduduk desa.

[2022-08-09 05:53] andifahruddinakas commented on #5476
Mas @vickyrolanda, coba di cek cara perhitungan yang benar bagaimana??? Karena saya cek logika kodingnya akan berhasil disimpan jika :

`luas == dinLuas && luas == dinTKD && luas == dinPatok && luas == dinPapan`

terpenuhi.

Contoh :
Gagal
![gagal1](https://user-images.githubusercontent.com/57283157/183574713-655dc900-68cb-494d-9bfc-0d4fb4249711.png)

Berhasil
![berhasil1](https://user-images.gith

[2022-08-09 05:54] andifahruddinakas commented on #5476
Bisa cek issue sebelumnya di https://github.com/OpenSID/OpenSID/issues/2837

[2022-08-09 11:21] vickyrolanda commented on #5475
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1208

[2022-08-09 11:21] #5475 closed, assigned to andifahruddinakas

[2022-08-09 12:40] devrakapriyo opened #5478 "Bug/error: Judul pada jumlah Covid Desa tidak tampil"
### Jelaskan error yg dialami

Judul pada jumlah Covid Desa tidak tampil/blank

### Cara untuk mereplikasi errornya

tampilkan data covid desa di web

### Hasil yg diharapkan

Muncul

### Tangkapan layar dan log error

![putar](https://user-images.githubusercontent.com/36557759/183649797-56115b05-ba77-443d-903d-56417f34c3cb.PNG)

### Rilis Versi OpenSID

Rilis Premium

### Versi OpenSID

22.08-pre

[2022-08-09 15:59] vickyrolanda commented on #5271
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1212

[2022-08-09 15:59] #5271 closed, assigned to yogiperdana

[2022-08-09 16:07] vickyrolanda commented on #4853
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1195

[2022-08-09 16:07] #4853 closed, assigned to apidong

[2022-08-09 16:07] vickyrolanda commented on #5411
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1195

[2022-08-09 16:07] #5411 closed, assigned to apidong

[2022-08-09 16:22] MUHAMMADRANGSEL opened #5479 "Permintaan fitur: Menampilkan beberapa jenis data di Penduduk Cetak"
### Apa kekurangan yg ingin diatasi?

Mengingat pada tahun 2022 ini diwajibkan semua desa untuk memasukkan Data Penduduk di Aplikasi Prodeskel, namun pada saat ini masih banyak jenis data yang ada di BIodata penduduk yang tidak bisa tercetak di menu kependudukan diantaranya :
1. Nama Kepala Keluarga
2. Nomor Akta Kelahiran
3. Gol. Darah
4. Akseptor KB
Untuk jenis data yang diinginkan seperti gamba

[2022-08-09 22:30] eddieridwan commented on #5479
Apakah bisa menggunakan master analis Prodeskel yg sdh ada di OpenSID?

[2022-08-10 00:05] Wiliyantoro commented on #5295
Betul pak, tampilkan bulan pemantuannya saat di input

[2022-08-10 02:51] andifahruddinakas opened #5480 "Hapus cache desa dan blade"
Sediakan fungsi untuk menghapus cache desa dan blade pada admin. Cek pembahasan grup telegram.

[2022-08-10 02:54] yogiperdana opened #5481 "Sesuaikan alur pemeriksaan surat mandiri untuk tte"
Buat status surat menjadi siap dicetak ketika surat sudah di tte

[2022-08-10 02:57] andifahruddinakas opened #5482 "Bug/error: File foto aparatur desa menampilkan NIK"
Cek pembahasan grup

[2022-08-10 05:02] vickyrolanda commented on #5478
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1213

[2022-08-10 05:02] #5478 closed, assigned to andifahruddinakas

[2022-08-10 05:14] vickyrolanda commented on #5481
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1215

[2022-08-10 05:14] #5481 closed, assigned to yogiperdana

[2022-08-10 06:04] Restony33 opened #5483 "Bug/error: menu statistik kependudukan (pekerjaan, umur,agama, pendidikan, dsb) dan data suplemen nama item tidak muncul"
### Jelaskan error yg dialami

Pada menu Statistik Kependudukan (pekerjaan, umur,agama, pendidikan, dsb...), nama item tidak muncul, yg muncul hanya jumlah (angka), sedangkan pada data suplemen login admin nama data tidak tampil, yang tampil hanya jumlah, saat data suplemen melalui web terjadi error

![suplemen](https://user-images.githubusercontent.com/104592011/183826752-dd95684c-03eb-4af9-afa2-

[2022-08-10 06:35] eddieridwan commented on #5375
Duplikat https://github.com/OpenSID/OpenSID/issues/5340

[2022-08-10 06:35] #5375 closed, assigned to nobody

[2022-08-10 06:43] eddieridwan opened #5484 "Permintaan fitur: modul DTKS"
### Apa kekurangan yg ingin diatasi?

Data DTKS diminta oleh berbagai instansi supra-desa sebagai data yg dikelola di OpenSID. Modul ini bersifat komplementer, bukan menggantikan aplikasi SIKS-NG yg disediakan oleh Kemsos.

### Jelaskan solusi yg diinginkan

Sediakan modul untuk mengelola DTKS, termasuk fitur untuk mengekspor data tersebut ke aplikasi lain.

Idealnya sesuai dengan DTKS format tahu

[2022-08-10 06:45] eddieridwan commented on #5340
Hanya untuk ditampilkan di layanan mandiri khusus untuk anjungan.

[2022-08-10 09:22] MUHAMMADRANGSEL commented on #5484
sangat setuju

[2022-08-10 09:23] MUHAMMADRANGSEL commented on #5484
dibuatkan KHUSUS menu untuk DTKS sehingga akan memudahkan pengelolaannya sekaligus integrasi dengan aplikasi SUPRA DESA

[2022-08-10 09:24] andifahruddinakas commented on #5483
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/1213

[2022-08-10 09:24] #5483 closed, assigned to nobody

[2022-08-10 09:25] MUHAMMADRANGSEL commented on #5479
tidak bisa bung, karena banyak kode yang berbeda antara di Prodeskel dengan di APlikasi OpenSID baik kode pendidikan, pekerjaan, hubungan dalam keluarga dan yg lainnya

[2022-08-10 09:26] MUHAMMADRANGSEL commented on #5479
kalau tidak salah dulu pernah ada yang mengusulkan untuk bisa centang jenis data apa saja yg mau di cetak seprti pencarian spesifik

[2022-08-10 10:04] devrakapriyo opened #5485 "Bug/error: gagal migrasi"
### Jelaskan error yg dialami

gagal saat migrasi, DB dan folder desa ada di link gdrive

https://drive.google.com/drive/folders/1A5-oKwhX8HUSYNkq1Z31TULyiM5Nl1U3?usp=sharing

### Cara untuk mereplikasi errornya

saat migrasi gagal

### Hasil yg diharapkan

berhasil migrasi

### Tangkapan layar dan log error

-

### Rilis Versi OpenSID

Rilis Premium

### Versi OpenSID

22.07-premium-rev03

### Te

[2022-08-10 11:14] andifahruddinakas commented on #5485
Sy lihat pengecekannya di versi 22.07-premium-rev03, sekrang 22.08-premium-rev01. Selalu cek di versi yang terbaru, jika tidak masalah berarti sudah di perbaiki di versi terbaru tsb. Lihat log, tidak ada log error yang menandakan terjadinya gagal migrasi, berari hanya keasalahan notif saja. Cek issue https://github.com/OpenSID/OpenSID/issues/5432, sudah pernah dilaporkan dan perbaiki.

[2022-08-10 17:51] vickyrolanda commented on #5477
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1209

[2022-08-10 17:51] #5477 closed, assigned to andifahruddinakas

[2022-08-10 18:31] vickyrolanda commented on #5480
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1214

[2022-08-10 18:31] #5480 closed, assigned to andifahruddinakas

[2022-08-11 01:08] IkfanDjalaludin opened #5486 "Bug/error: Terjadi Bug ketika input data ibu di entry anak kedua pada data stunting"
### Jelaskan error yg dialami

Terjadi Bug ketika input data ibu di entry anak kedua, data ibu tidak bisa terdeteksi dikolom pencarian pada stunting

### Cara untuk mereplikasi errornya

1. Pergi kehalaman stunting isian FormKia
2. Klik tombol Cari NIK / Nama Ibu

### Hasil yg diharapkan

Seharusnya ketika nama balita kedua dari Ibu yang sama di input tidak terdapat Bug

### Tangkapan layar dan lo

[2022-08-11 02:29] andifahruddinakas opened #5487 "Bug/error: Infrastruktur Desa ada perbedaan antara map di admin dengan yang ada di website"
Tampilan di halaman admin
<img width="648" alt="image" src="https://user-images.githubusercontent.com/59082428/183555768-eb02b056-838b-40b1-9a6f-b6d3d6ca7ddd.png">

Tampilan di halaman web
<img width="851" alt="image" src="https://user-images.githubusercontent.com/59082428/183556083-49dbaa98-3b22-4a1f-8815-30f7419df080.png">

[2022-08-11 03:26] vickyrolanda commented on #4838
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1210

[2022-08-11 03:26] #4838 closed, assigned to andifahruddinakas

[2022-08-11 04:09] devrakapriyo opened #5488 "Bug/error: Link data suplemen tidak terdeteksi / tidak muncul"
### Jelaskan error yg dialami

Link data suplemen tidak muncul di halaman Tambah menu dan Data Suplemen

### Cara untuk mereplikasi errornya

1. Klik menu Admin Web
2. Menu
3. Tambah Menu

### Hasil yg diharapkan

Link data suplemen muncul

### Tangkapan layar dan log error

![image](https://user-images.githubusercontent.com/36557759/184063389-99139e1d-8c22-4f8b-ac9e-43fae19ee35d.png)
![image](htt

[2022-08-11 04:16] andifahruddinakas commented on #5488
Mas @devrakapriyo, coba cek di branch `bug-fix` karena `rilis-dev` belum di update sama mas @vickyrolanda. Sudah diperbaiki (di kembalikan) melalui PR https://github.com/OpenSID/premium/pull/1213

[2022-08-11 05:05] devrakapriyo commented on #5488
ok mas @andifahruddinakas saya cek di bug-fix, sudah solved

[2022-08-11 05:10] andifahruddinakas opened #5489 "SDGS"
Pembahasan :

https://forum.opendesa.id/d/217-sinkron-data-sdgs

https://forum.opendesa.id/d/170-cara-tampil-data-sdgs

[2022-08-11 05:27] #5488 closed, assigned to nobody

[2022-08-11 05:27] #5485 closed, assigned to nobody

[2022-08-11 15:38] apidong opened #5490 "[TTE] pindahkan pengaturan tte ke dalam pengaturan surat dan Tambahkan fungsi validasi saat ingin mengaktifkan tte"
- [x] pindahkan pengaturan tte
- [x] modul tte bisa aktif jika user kades sudah dibuat

[2022-08-11 15:57] apidong opened #5491 "[TTE] Tambahkan fungsi validasi saat tte aktif"
tte bisa aktif, jika user kepala desa sudak ada dan aktif

[2022-08-11 16:52] apidong opened #5492 "[TTE] Tambahkan alasan tolak ketika verifikasi surat"
- [x] Tambahkan alasan tolak ketika verifikasi surat dan tampilkan di tabel tolak
- [x] surat di yang ditolak bisa diperbaiki
- [x] surat yang di tolak yang berasal dari layanan mandiri, surat tsb bisa dikembalikan ke pemohon untuk diperbaiki.

[2022-08-11 19:12] #5491 closed, assigned to apidong

[2022-08-12 01:40] siayi opened #5493 "Permintaan fitur: Data Suplemen untuk Sasaran Data Non Warga Desa"
### Apa kekurangan yg ingin diatasi?

Saat ini sasaran data dalam Form Data Suplemen hanya memiliki dua pilihan, yaitu (1) Penduduk, dan (2) Keluarga/KK.
Padahal dalam kondisi tertentu Pemerintah Desa juga melakukan pendataan, misalnya: pendataan penggarap/pemilik lahan di wilayah desa, sedangkan penggarap/pemilik lahan identitasnya dari luar desa (Non Warga).

### Jelaskan solusi yg diinginkan

D

[2022-08-12 02:37] ngexs opened #5494 "Permintaan fitur: Formulir F. 201 terbaru"
### Apa kekurangan yg ingin diatasi?

disesuaikan dengan Format Terbaru Untuk Seluruh Pencatatan Sipil Di Wilaya NKRI

### Jelaskan solusi yg diinginkan

Disesuaikan dengan kondisi terkinian terkait dengan Adminduk

### Apakah ada alternatif lain

-

### Untuk versi OpenSID mana

Untuk Rilis Premium

### Informasi tambahan

[form F201 capil.pdf](https://github.com/OpenSID/OpenSID/files/9313307/for

[2022-08-12 02:49] eddieridwan commented on #5493
Catatan teknis: Untuk ini perlu ditambahkan kategori `non-warga` pada data kependudukan. Perlu analisis lebih lanjut mengenai pengelolaan data penduduk non-warga.

[2022-08-12 05:12] andifahruddinakas commented on #5309
Mas @apidong, apa ini sedang di kerjakan atau belum??? Kalau belum sama sekali, biar sy yang kerjakan.

[2022-08-12 05:13] apidong commented on #5309
Belum mas,

[2022-08-12 05:15] andifahruddinakas commented on #5303
Batasan :
- [ ] Lampiran masih menggunakan yang lama, namun bisa dipilih digunakan ditemplate tinymce manapun sesuai keinginan pengguna.
- [ ] Pengguna dapat menambahkan lampiran lain jika dibutuhkan.
- [ ] Lapiran yang digunakan bisa lebih dari 1 (bagian ini dicek)

[2022-08-12 05:16] andifahruddinakas commented on #5309
ok, biar sy kerjakan.

[2022-08-12 05:31] andifahruddinakas opened #5495 "[TinyMCE] Default Orientasi Kertas dan Ukuran Kertas"
Pertemuan TTE, 11-08-2022

1. Default Orientasi Kertas => Potrait
2. Ukuran Kertas => F4

[2022-08-12 06:01] devrakapriyo opened #5496 "Bug/error: jenis kelompok tidak muncul saat menampilkan statistik penduduk pada peta"
### Jelaskan error yg dialami

jenis kelompok tidak muncul, baik itu di tema natra maupun esensi

### Cara untuk mereplikasi errornya

1. Halaman website
2. Masuk ke halaman peta
3. Pada peta  > klik peta wilayah desa
4. klik peta yang berwarna merah atau ditandai sebagai peta desa
5. klik tombol statistik penduduk
6. klik statistik2 nya > semua nama kelompok tidak muncul

### Hasil yg diharapkan

[2022-08-12 06:12] devrakapriyo opened #5497 "Bug/error: Klasifikasi menjadi hilang saat membuat surat dengan memilih format F103 (Pindah datang)."
### Jelaskan error yg dialami

Klasifikasi menjadi hilang saat membuat surat dengan memilih format F103 (Pindah datang).

### Cara untuk mereplikasi errornya

1. Buat surat
2. pilih format surat pindah datang

### Hasil yg diharapkan

Mas @vickyrolanda mohon di analisis terkait issue ini apakah memang bug atau ketentuannya memang seperti itu.

### Tangkapan layar dan log error

![klass](https://us

[2022-08-12 06:16] andifahruddinakas commented on #5496
Mas @devrakapriyo, sudah cek di branch `bug-fix` ?

[2022-08-12 06:30] devrakapriyo commented on #5496
Ok solved mas, akan saya infokan ke pengguna untuk menunggu rilis rev 2

[2022-08-12 06:30] #5496 closed, assigned to nobody

[2022-08-12 08:46] vickyrolanda commented on #5486
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1219

[2022-08-12 09:08] vickyrolanda commented on #5490
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1226

untuk point ke 2 bisa di kirimkan PR susulan ya mas @apidong

[2022-08-12 09:17] #5486 closed, assigned to andifahruddinakas

[2022-08-12 09:24] FirlianiF commented on #5389
@andifahruddinakas

[2022-08-12 09:28] Fajar-blackdeath opened #5498 "laporan analisis saat di unduh datanya ngak tampil ;Bug/error:"
### Jelaskan error yg dialami

![image](https://user-images.githubusercontent.com/79009911/184325644-b1041627-a264-4393-87bd-410bf055e88f.png)
data yang di download dari hhasil isisan analisis tidak keluar

### Cara untuk mereplikasi errornya

1.masuk ke menu analisis
2.  masuk ke master analisi
3.  pilih input data analisi
4.  unduh hasil data analiis
5.  data yang sudah diiisi bisa di unduh tapi

[2022-08-12 10:30] vickyrolanda commented on #5487
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1218

[2022-08-12 10:30] #5487 closed, assigned to andifahruddinakas

[2022-08-12 10:56] vickyrolanda commented on #5497
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1229

[2022-08-12 10:56] #5497 closed, assigned to andifahruddinakas

[2022-08-12 11:10] vickyrolanda commented on #5495
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1228

[2022-08-12 11:10] #5495 closed, assigned to andifahruddinakas

[2022-08-12 11:15] #5490 closed, assigned to apidong

[2022-08-13 03:49] sugiharjo commented on #5340
Tambah buku tamu di opensid sangat setuju sekali

[2022-08-13 03:59] Fajar-blackdeath opened #5499 "Permintaan fitur: Penambang fitur saring data peta berdasarkan sasaran program bantuan"
### Apa kekurangan yg ingin diatasi?

saat pemetaan rumah dan penerima bantuan belum nge link ke data keluarga. sehingga kami dalam pemetaan hasru dilakuakn scra manual di menu peta denga jenis tipe peta lokasi.
![image](https://user-images.githubusercontent.com/79009911/184467513-23e7e05f-87e9-49bf-a05e-1d87fafd573a.png)

### Jelaskan solusi yg diinginkan

saya ingin setipa data keluarga memiliki

[2022-08-13 07:16] scqolbu24 opened #5500 "Bug/error: nama pamong tidak muncul"
### Jelaskan error yg dialami

Nama pamong tidak muncul jika data pamong dari penduduk.

### Cara untuk mereplikasi errornya

1. Pergi ke halaman Admin
2. Pilih Layanan Surat
3. Klik Cetak surat
4. Buat Surat pada Keterangan Bepergian / Jalan
5. Ketika memilih yang Bertanda Tangan Kepala Desa pada staf pemerintahan desa tidak muncul nama kepala desa

### Hasil yg diharapkan

Dapat menampilkan nama

[2022-08-13 10:55] vickyrolanda commented on #5476
ok mas @andifahruddinakas  akan saya pelajarin ini dulu.

[2022-08-13 11:29] yogiperdana opened #5501 "OPENSID : Buat validasi anjungan dari layanan"
Issue ini berkaitan dengan issue https://github.com/OpenSID/wiki-layanan-opendesa/issues/100

[2022-08-14 00:00] scqolbu24 opened #5502 "Bug/error: Jenis kelompok pada statistik hilang"
### Jelaskan error yg dialami

Jenis kelompok pada statistik hilang, terjadi di semua statistik kependudukan, termasuk pada grafik data dan pie data.

### Cara untuk mereplikasi errornya

1. Masuk ke halaman admin
2. Klik Modul Statistik
3. Klik Menu statistik kependudukan
4. Pilih kategori statistik

### Hasil yg diharapkan

normal dapat menampilkan kelompok pada statistik.

### Tangkapan layar d

[2022-08-14 06:33] yogiperdana commented on #5295
Mohon informasi terkait satuan berat dan tinggi badan pak

[2022-08-14 06:51] Zoel-WB commented on #5295
Satuan berat kg pak, sedangkan tinggi badan identiknya dgn centimeter, mungkin dari teman2 yg lain, barangkali sebutan lainnya, utk masalah berat badan dan tinggi badan.

[2022-08-14 09:49] muhtar-coder opened #5503 "Permintaan fitur: Tambah tombol waktu penginputan"
### Apa kekurangan yg ingin diatasi?

1. karena aplikasi datang di tengah tahun sehingga bulan sebelumnya tidak dapat di inputkan sesuai tanggal/bulan kegiatan posyandu.
2. Petugas input kemungkinan bukan petugas posyandu yang berada langsung di lapangan pada hari kegiatan, sehingga memungkinkan saat input bukan pada tanggal pelaksanaan. (wacana program awal  bahwa petugas input data stunting adal

[2022-08-14 12:27] Wiliyantoro opened #5504 "Bug/error: [stunting] tampilan data pada tabel status gizi anak harusnya huruf"
### Jelaskan error yg dialami

[stunting] tabel pada rekapitulasi pemantauan 3 Bulanan anak 0 - 2 Tahun pada data status gizi anak muncul angka, seharusnya pakai huruf

### Cara untuk mereplikasi errornya

Halaman Admin -> Kesehatan -> Stunting -> Rekapitulasi -> 3 Bulanan Anak 0 - 2 Tahun

### Hasil yg diharapkan

untuk tampilan data dapat sesuaikan seperti berikut :
N = Normal
B = Buruk
K = Kura

[2022-08-14 12:42] Wiliyantoro opened #5505 "Bug/error: [stunting] scorecard konvergensi pada tabel jumlah sasaran dan tabel hasil pengukuran tidak berfungsi dengan benar"
### Jelaskan error yg dialami

tampilan data pada scorecard konvergensi tidak sesuai dengan data yang di input

### Cara untuk mereplikasi errornya

halaman admin -> kesehatan -> stunting -> scorecard konvergensi

### Hasil yg diharapkan

1. jumlah status kehamilan berfungsi sesuai dengan hasil inputan ( pada inputan adalah normal tapi masuk ke KEK/RESTI) harusnya 0 jika inputan normal
2. jumlah s

[2022-08-14 12:57] pangaribuanantonius commented on #2002
untuk php native gimana

kalo untuk php native gimana mas ?
mohon pencerahannya

[2022-08-14 14:17] yogiperdana commented on #5295
Baik pak

[2022-08-14 14:18] yogiperdana commented on #5295
Untuk form input bulan akan dibuat pada issue https://github.com/OpenSID/OpenSID/issues/5503

[2022-08-15 01:13] andifahruddinakas commented on #5502
Cek issue https://github.com/OpenSID/OpenSID/issues/5496, lakukan testing di branch `bug-fix` di rilis-dev belum termasuk gabungan dari branch `bug-fix` pertanggal 15-08-2022.

[2022-08-15 01:13] #5502 closed, assigned to nobody

[2022-08-15 05:46] andifahruddinakas opened #5506 "Indentitas Desa : Data wilayah"
Data diambil dari pantau, di saring berdasarkan provinsi, kabupaten, kecamatan, desa.

![buat dropdown bertingkat](https://user-images.githubusercontent.com/57283157/184582662-fef912a0-273a-4f38-a097-c69f8effa860.png)

Dari pak @roaddee

Catatan: di layanan jg perlu

[2022-08-15 05:48] roaddee commented on #5506
Nah ini.
Di semua pemilihan desa/kecamatan sebaiknya seperti ini

[2022-08-15 07:40] yogiperdana opened #5507 "Tambahkan fitur pengaturan tema Anjungan Desa Mandiri"

[2022-08-15 07:41] yogiperdana opened #5508 "Ubah cara membaca Perangkat Anjungan dengan menggunakan ID Browser"

[2022-08-15 09:50] yogiperdana commented on #5319
Karena saat ini ibu dapat diinput dengan beberapa status shdk seperti ibu, anak, menantu, famili lain dan sebagainya maka yang dijadikan paremeter adalah no kk yang sama dan ibu tidak boleh sama dengan anak

[2022-08-15 10:21] vickyrolanda commented on #5504
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1234

[2022-08-15 10:21] #5504 closed, assigned to andifahruddinakas

[2022-08-15 11:39] muhtar-coder opened #5509 "Permintaan fitur: Tampilkan informasi update data pada view statistik di website"
### Apa kekurangan yg ingin diatasi?

Tidak ada informasi terkait kapan terakhir data di update atau terjadi perubahan isi

### Jelaskan solusi yg diinginkan

1. Terdapat informasi data terakhir di update pada tampilan statistik di website
2. suguhan data dapat di pertanggung jawabkan akurasi dan kenyataan nya

![image](https://user-images.githubusercontent.com/55665526/184628467-93496098-2d94-429

[2022-08-15 17:42] devrakapriyo opened #5510 "Bug/error: status penduduk hanya ada pilihan tetap"
### Jelaskan error yg dialami

pada saat tambah penduduk di menu keluarga untuk status penduduk hanya ada pilihan TETAP saja bebeda di menu penduduk ada pilihan TETAP dan TIDAK TETAP

### Cara untuk mereplikasi errornya

1. klik menu Kependudukan
2. klik menu Keluarga
3. klik tambah KK baru
4. inputan Status Penduduk hanya ada pilihan TETAP

### Hasil yg diharapkan

ada pilihan TETAP dan TIDAK TET

[2022-08-15 21:43] eddieridwan commented on #5510
@devrakapriyo anggota keluarga HARUS penduduk tetap. Tidak boleh penduduk tidak tetap. Jadi ini BUKAN bug. Seharusnya ini dijelaskan di panduan. Harap periksa panduan.

[2022-08-16 03:57] yogiperdana commented on #5076
Issue perlu ada contoh penggunaan yang kongkrit

[2022-08-16 06:16] andifahruddinakas opened #5512 "Kembalikan fungsi pencarian surat yang hilang"
![akas 2](https://user-images.githubusercontent.com/57283157/184810683-74d7d0ff-6cf6-43ad-9f90-e7c9b0c1ce33.png)

[2022-08-16 06:39] devrakapriyo opened #5513 "Bug/error: responsive halaman pengaturan surat"
### Jelaskan error yg dialami

margin surat jadi hilang, ketika tampilan layar kecil

### Cara untuk mereplikasi errornya

1. layanan surat
2. pengaturan surat

### Hasil yg diharapkan

tampilan responsive

### Tangkapan layar dan log error

![Uploading Screen Shot 2022-08-16 at 13.22.54.png…]()

### Rilis Versi OpenSID

Rilis Premium

### Versi OpenSID

v22.08-premium-rev02

### Tema Yang Digunak

[2022-08-16 06:58] devrakapriyo opened #5514 "Penggunaan Dana Desa dalam Pencegahan Stunting"
### Jelaskan error yg dialami

TABEL PENGGUNAAN DANA DESA DALAM PENCEGAHAN STUNTING kosong

### Cara untuk mereplikasi errornya

1. klik menu kesehatan
2. klik menu stunting
3. klik tab scorecard konvergensi
4. scroll paling bawah, tabel penggunaan dana desa

### Hasil yg diharapkan

apakah ada inputan untuk data tersebut atau table tersebut tidak usah di tampilkan

### Tangkapan layar dan log err

[2022-08-16 07:13] devrakapriyo opened #5515 "Permintaan fitur: penyesuaian map rumah warga terlalu dempet"
### Apa kekurangan yg ingin diatasi?

ketika rumah warga terlalu dempet dan zoom map sudah mentok tidak bisa melihat secara detail lokasinya
![image](https://user-images.githubusercontent.com/36557759/184820718-8013cf6e-96b6-4b1b-90f2-92fa0b519729.png)

### Jelaskan solusi yg diinginkan

bisa dizoom lebih detail dari sisi mapnya

### Apakah ada alternatif lain

bisa dizoom lebih detail dari sisi m

[2022-08-16 07:41] langonsari opened #5516 "Permintaan fitur: Penambahan Download atau View File PDF di Verifikasi D"
### Apa kekurangan yg ingin diatasi?

Penambahan fitur View atau Download file PDF di Verifikasi Surat yang sudah TTE/ QR Code Verifikasi Aktif untuk validasi keaslian dan originalitas Surat yang di tandatangani secara Elektronik dan di cetak oleh masyarakat.

![image](https://user-images.githubusercontent.com/96863107/184824160-082b3c29-d0cb-40e4-a4f2-6012285ff42f.png)

### Jelaskan solusi yg dii

[2022-08-16 07:47] langonsari commented on #5469
ini cocok karena sekarang tentang Administrasi Kependudukan sudah tidak berlaku lagi pengantar RT, RW ataupun Desa,,,
sehingga apabila ada masyarakat Pindah datang bisa langsung di data oleh RT/RW dengan penambahan menu approval dari Desa,,

[2022-08-16 12:41] vickyrolanda commented on #5295
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1231

[2022-08-16 12:41] #5295 closed, assigned to yogiperdana

[2022-08-16 13:13] vickyrolanda commented on #5302
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1227

[2022-08-16 13:24] yogiperdana commented on #5512
Sudah diperbaiki melalui issue https://github.com/OpenSID/premium/pull/1241

[2022-08-16 13:24] #5512 closed, assigned to andifahruddinakas

[2022-08-16 13:26] andifahruddinakas commented on #5302
Sesuai pembahasan di pertemuan tadi, PR ini digabungkan setelah TTE selesai digabungkan ke rilis-dev. Cek jg status di projek, statusnya masih perbaiki pr.

[2022-08-17 01:56] yogiperdana commented on #5505
Mohon maaf pak @Wiliyantoro untuk poin 2. jumlah status gizi anak agar berfungsi dengan hasil inputan. ( pada inputan adalah normal tapi masuk ke jumlah GIZI BURUK/STUNTING) harusnya 0 jika inputan norma. Ada di gambar yang mana ya pak? Atau bisa dijelaskan secara lebih rinci di bagian mana terjadi bug

[2022-08-17 01:58] yogiperdana commented on #5505
Apakah yang dimaskud adalah gambar ini pak
![image](https://user-images.githubusercontent.com/14155050/185017830-2672f5aa-8ffe-4869-a6dd-e2fbab11c55f.png)

[2022-08-17 02:00] yogiperdana commented on #5505
Jika demikian, hal tersebut diambil berdasarkan status tikar pak (bukan status gizi)

[2022-08-17 02:13] yogiperdana commented on #5513
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/1242

[2022-08-17 02:13] #5513 closed, assigned to andifahruddinakas

[2022-08-17 04:48] vickyrolanda commented on #5500
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1233

[2022-08-17 04:48] #5500 closed, assigned to andifahruddinakas

[2022-08-17 05:07] vickyrolanda commented on #5498
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1235

[2022-08-17 05:07] #5498 closed, assigned to andifahruddinakas

[2022-08-17 05:53] yogiperdana commented on #5505
Dan terkait jumlah ibu hamil di scorecard apakah untuk ibu yang sudah melahirkan masih terhitung juga di scorecard pak? Yang dihitung hanya ibu hamil saja. Karena saat ini semua data ibu masuk ke dalam scorecard

[2022-08-17 06:05] vickyrolanda commented on #5324
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1238

[2022-08-17 06:05] #5324 closed, assigned to yogiperdana

[2022-08-17 09:41] vickyrolanda commented on #5476
Setelah saya lihat beberapa referensi "kondisi rumus di bawah mas @andifahruddinakas "

luas == dinLuas && luas == dinTKD && luas == dinPatok && luas == dinPapan

bisa di ganti hanya di bandingkan dengan
1.LUAS = Disi luas tanah kas desa , Misal (1500)

Maka penjabarannya disi dari mana prolehannya :
Perolehan Kas desa :
2. Asli Milik Desa = Diisi denga luas tanah kas desa yang perolehannya di bel

[2022-08-17 11:27] eddieridwan commented on #5340
Beberapa ketentuan:

1. Tampilan web Buku Tamu hanya tampil di layanan mandiri khusus untuk anjungan; yaitu jika terdeteksi dijalankan di gawai anjungan
2. Di anjungan, buku tamu diisi sendiri oleh pengunjung, tanpa harus login
2. Tidak dapat mendaftar sebagai tamu lebih dari satu kali dalam satu hari
3. Pengambilan selfie digunakan sebagai verifikasi tamu yg mendaftar, pengganti tanda tangan
4. D

[2022-08-17 13:30] devrakapriyo opened #5518 "Bug: penyesuaian alur surat"
### Apa kekurangan yg ingin diatasi?

Atas perubahan alur surat di v22.09 saat ini dimana verifikasi terdapat 3 bagian yaitu Operator, Sekdes & Kades, namun bawaan sistem yang selalu aktif adalah verifikasi operator .

1. Verifikasi Operator masuk ke (Permohonan Surat) setelah Verifikasi Operator baru masuk ke (Arsip).
2. Verifikasi Sekdes dari Verifikasi Operator maka masuk ke sekdes untuk di lak

[2022-08-18 00:13] eddieridwan opened #5519 "Permintaan fitur: Buat modul pengelolaan data Prodeskel"
### Apa kekurangan yg ingin diatasi?

OpenSID menyediakan analisis master bawaan untuk mengelola data Prodeskel. Panduan (versi lama) ada di https://github.com/OpenSID/OpenSID/wiki/Prodeskel.

<img width="1328" alt="image" src="https://user-images.githubusercontent.com/249563/185258933-f55ae399-e5fe-4016-94dc-5b76d9ada462.png">

Analisis master Prodeskel tsb sudah tidak sesuai dengan isian yang be

[2022-08-18 01:21] Wiliyantoro commented on #5505
Yang ini pak point 2 status gizi anak
![IMG_20220818_091850](https://user-images.githubusercontent.com/44520382/185271268-5cb074c1-36cb-406a-91db-f06355edf883.jpg)

[2022-08-18 01:22] Wiliyantoro commented on #5505
![IMG_20220818_091829](https://user-images.githubusercontent.com/44520382/185271349-8b862a84-10ed-49da-9f1f-6e61924fe228.jpg)

Yg ini status tikar ukur

[2022-08-18 01:53] yogiperdana commented on #5505
Disini ada 2 ibpak. Satu ibu hamil dan satu ibu menyusui

![image](https://user-images.githubusercontent.com/14155050/185274850-e1647814-5a45-4afd-9544-035c21a7605f.png)

[2022-08-18 01:54] yogiperdana commented on #5505
Tapi statusnya di konvergensi saat ini adalah 2 ibu hamil

![image](https://user-images.githubusercontent.com/14155050/185274977-3f50613a-eaca-4a28-b35f-1e3da6b361f7.png)

Pertanyaannya apakah di status konvergensi memang seperti ini pak atau yang dihitung hanya ibu hamil saja pak @Wiliyantoro

[2022-08-18 02:15] vickyrolanda commented on #5489
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1224

[2022-08-18 02:15] #5489 closed, assigned to andifahruddinakas

[2022-08-18 03:25] Wiliyantoro commented on #5505
kalau ibu sudah melahirkan , ibu hamil tidak dihitung disana
![67](https://user-images.githubusercontent.com/44520382/185286202-faa4593a-e8cc-4520-b5cc-9d4f3b6e16a2.png)

ini ada yang sudah melahirkan sejak awal dipantau
![68](https://user-images.githubusercontent.com/44520382/185286265-3e26250a-832f-4419-8206-6a6860e4bea4.png)
di konvergensi jumlahnya 13 jadinya

[2022-08-18 03:36] andifahruddinakas commented on #5424
Perubahan diterapkan untuk laporan yang akan datang saja, untuk lama tidak terpengaruh.

[2022-08-18 03:37] Wiliyantoro commented on #5505
![image](https://user-images.githubusercontent.com/44520382/185288021-70e87520-7aec-46c4-a1e7-42756202b832.png)

kalau ini tetap masuk ibu hamil dengan status sudah melahirkan namu isi keterangan ibu nifas

[2022-08-18 04:38] andifahruddinakas opened #5520 "Menu warga luar"
Modul untuk mencatat penduduk warga luar desa, yang nantinya akan digunakan untuk modul lain.

[2022-08-19 00:45] muhtar-coder commented on #5076
Salah satu penggunaan nya bisa terisi otomatis umur bulan

![Screenshot_20220819-074310_Chrome](https://user-images.githubusercontent.com/55665526/185518572-7bd79540-1a02-4550-93a5-b0bcee1c9123.png)

[2022-08-19 01:28] afri18 opened #5521 "Permintaan fitur: SK Pembentukan Desa"
### Apa kekurangan yg ingin diatasi?

agar tidak selalu mencari data/dokumen sk desa

### Jelaskan solusi yg diinginkan

Melengkapi identitas Desa

### Apakah ada alternatif lain

tidak ada

### Untuk versi OpenSID mana

22.09

### Informasi tambahan

Identitas Desa makin lengkap
![image](https://user-images.githubusercontent.com/6611881/185522789-96f75b69-b515-4caa-847f-0c64b2dd9dde.png)

[2022-08-19 01:31] yogiperdana commented on #5076
Apakah ada selain hal tersebut pak? Jika tidak artinya judul issuenya bisa diubah sesuai dengan contoh di atas

[2022-08-19 03:11] eddieridwan commented on #5476
@andifahruddinakas @vickyrolanda , salah satu cara supaya lebih jelas bagi pengguna:

1. Hanya buka luas total dulu
2. Setelah luas total diisi, tampilkan jumlah itu di setiap baris, dan baru dibuka untuk diisi.
4. Beri tanda '=' dan '+' di setiap baris supaya jelas bahwa itu dijumlahkan

![image](https://user-images.githubusercontent.com/249563/185534523-7ab972a6-f218-4fa5-85de-5c88e387221e.png)

[2022-08-19 03:57] yogiperdana commented on #5505
Jadi untuk data di konvergensi desa ibu hamilnya cuma 1 begitu pak @Wiliyantoro? Namun di menu ibu hamil, ibu menyusui juga tetap dimasukkan

[2022-08-19 07:18] andifahruddinakas opened #5522 "Bugs: Footer surat mepet dengan isi surat"
Saat cetak surat dengan tinymce yang menggunakan footer. Footer tsb menempel dengan isi surat. Yang harusnya berada di bawah (tempat yang telah ditentukan).

[surat_raw_tinymce_5201142005716996_2022-08-19_1.pdf](https://github.com/OpenSID/OpenSID/files/9379934/surat_raw_tinymce_5201142005716996_2022-08-19_1.pdf)

Harusnya
[surat_raw_tinymce_5201142005716996_2022-08-19_2.pdf](https://github.com/Ope

[2022-08-19 10:23] balongbesuk commented on #5522
sekalian isiny ganti dg trademark opensid 🤔

[2022-08-19 13:35] vickyrolanda commented on #5492
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1232

[2022-08-19 13:35] #5492 closed, assigned to apidong

[2022-08-19 14:48] vickyrolanda commented on #5319
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1246

[2022-08-19 14:48] #5319 closed, assigned to yogiperdana

[2022-08-19 15:02] vickyrolanda commented on #5476
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1247

[2022-08-19 15:02] #5476 closed, assigned to andifahruddinakas

[2022-08-19 16:29] Wiliyantoro commented on #5505
Iya pak di scorecard konvergensinya jika dia sudah melahirkan tidak terhitung, namun masuk ke perhitungan ibu nifas,
Dalam menu pemantauan dalam satu kuartal dia tetap muncul pak, contoh di kuartal I ( jan - maret ) apabila lahir di bulan tersebut / lahir di tgl 30 januari makan dalam menu pemantauan bulanan ibu hamil dia tetap muncul disana dengan status sdh melahirkan, wajib dipantau dalam renta

[2022-08-19 19:05] vickyrolanda commented on #5522
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1250

[2022-08-19 19:05] #5522 closed, assigned to andifahruddinakas

[2022-08-19 19:18] vickyrolanda commented on #5413
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1249

[2022-08-19 19:18] #5413 closed, assigned to andifahruddinakas

[2022-08-20 09:37] vickyrolanda commented on #5482
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1245

[2022-08-20 09:37] #5482 closed, assigned to andifahruddinakas

[2022-08-20 09:47] vickyrolanda commented on #5424
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1248

[2022-08-20 09:47] #5424 closed, assigned to andifahruddinakas

[2022-08-20 14:17] yogiperdana commented on #5505
Baik pak. Sepertinya perlu beberapa penyesuaian tes case ketika diuji nanti mas @vickyrolanda dan mas @devrakapriyo

[2022-08-21 02:36] yogiperdana commented on #5518
Jadi untuk surat lama ketika dicetak langsung masuk ke arsip begitu mas @devrakapriyo? Lalu bagaimana dengan surat rtf yang berasal dari layanan mandiri

[2022-08-21 04:58] devrakapriyo opened #5523 "Bug/keamanan: demosid terkena hack"
### Jelaskan error yg dialami

Terdapat celah keamanan xss melalui form input Keuangan Manual.

### Cara untuk mereplikasi errornya

-

### Hasil yg diharapkan

- demosid dapat diakses dengan baik
- Perbaiki / validasi form yang terdapat celah keamanan.

### Tangkapan layar dan log error

![1DF419C6-4FD9-4C44-9D04-D702D4C75444](https://user-images.githubusercontent.com/36557759/185776180-5d829e34-

[2022-08-21 05:31] andifahruddinakas commented on #5523
Sudah diperbaiki melalui commit https://github.com/OpenSID/OpenSID/commit/74a2c18c7df92fa0a2b3bd21f56fc1a03fc3e00c

[2022-08-21 05:31] #5523 closed, assigned to andifahruddinakas

[2022-08-21 12:30] WAHYUDIK commented on #5514
tabel 5 tersebut wajib di isi, jadi alangkah baiknya dibuatkan form untuk isian.
kemudian juga disediakan untuk cetak laporannnya

[2022-08-21 15:30] muhtar-coder opened #5524 "[TinyMCE] Tambah kode isian anggota keluarga sesuai ID kepala Keluarga"
### Apa kekurangan yg ingin diatasi?

di dalam pembuatan template surat menggunakan TinyMCE belum ada kode isian untuk menambahkan anggota keluarga ke dalam tabel di surat yang di buat

![image](https://user-images.githubusercontent.com/55665526/185798636-6a30ca12-855b-4ea7-a3d5-c7ea9e49014f.png)

### Jelaskan solusi yg diinginkan

di sediakan kode isian pilihan untuk bisa menambahkan anggota kelu

[2022-08-21 15:52] muhtar-coder commented on #5519
mantap ini

[2022-08-21 15:54] muhtar-coder commented on #5519
tabel layout dan print out nya juga perlu di utamakan agar dapat sama dengan  cetak dari prodeskel

[2022-08-22 03:51] devrakapriyo opened #5525 "OPENSID: Bug/error: Tidak dapat mengakses layanan pelanggan setelah masukan token (umum)"
### Jelaskan error yg dialami

 Tidak dapat mengakses layanan pelanggan setelah masukan token.

### Cara untuk mereplikasi errornya

1. Pasang opensid umum
2. Masukan token
3. Masuk ke halaman layanan pelanggan

### Hasil yg diharapkan

halaman dapat tampil sebagai mana mestinya

### Tangkapan layar dan log error

![photo_6311949217865773984_y](https://user-images.githubusercontent.com/36557759/18

[2022-08-22 05:16] andifahruddinakas commented on #5525
![layanan 1](https://user-images.githubusercontent.com/57283157/185844285-8dd97598-8c8f-49e6-9fcb-af961dcdd026.png)

Cek di layanannya.

[2022-08-22 07:20] vickyrolanda commented on #5501
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1230

[2022-08-22 07:20] #5501 closed, assigned to yogiperdana

[2022-08-22 14:12] vickyrolanda commented on #5448
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1253

[2022-08-22 14:12] #5448 closed, assigned to apidong

[2022-08-22 16:37] vickyrolanda commented on #5503
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1255

[2022-08-22 16:37] #5503 closed, assigned to yogiperdana

[2022-08-23 00:38] mranca opened #5526 "Permintaan fitur: sediakan fitur import pada analisis"
### Apa kekurangan yg ingin diatasi?

harusnya menginput data membuat proses data menjadi lama

### Jelaskan solusi yg diinginkan

sediakan fitur import data respon pada analsis sehingga kita nantinya bisa mengimport data analisis sdgs yang sudah di donlowad melalui dashboard sdgs ataupun data lainnya

### Apakah ada alternatif lain

-

### Untuk versi OpenSID mana

premium 22.09

### Informasi ta

[2022-08-23 01:21] eddieridwan commented on #5526
Sudah ada:

https://github.com/OpenSID/OpenSID/wiki/Analisis

![image](https://user-images.githubusercontent.com/249563/186047463-e13a819d-c8c1-4ead-beea-2f7aa3787960.png)

[2022-08-23 01:21] #5526 closed, assigned to nobody

[2022-08-23 03:37] ai-skematik opened #5527 "Bug/error: Surat TinyMCE : Edit sebelum cetak PDF tidak berfungsi"
### Jelaskan error yg dialami

Saat membuat surat menggunakan tinyMCE dan terdapat kesalahan dan diperbaiki saat preview sebelum cetak PDF tetapi hasil cetak PDF tetap dengan isian sebelum di edit.

### Cara untuk mereplikasi errornya

Buat Surat menggunakan tinyMCE kemudian simpan, saat tampil preview surat lakukan edit pada isi surat kemudian cetak pdf. lihat halsilnya apakah yang tercetak isi s

[2022-08-23 05:11] ai-skematik commented on #4582
up

[2022-08-23 11:05] dgyoganantha commented on #4582
sundul lagi. agar cepat masuk dalam rilis.

[2022-08-24 01:51] devrakapriyo opened #5528 "Bug/error: Pengaturan masa berlaku tidak berfungsi pada surat pengantar (cek juga semua surat)"
### Jelaskan error yg dialami

Pada saat mencetak surat tanggal berlaku tidak tampil data nya, padahal sudah diatur pada pengaturan surat.

### Cara untuk mereplikasi errornya

1. Masuk ke halaman cetak surat
2. pilih surat pengantar > masuk ke form
3. isi data
4. cetak surat

### Hasil yg diharapkan

masa berlaku tampil sesuai pengaturan pada surat tersebut. cek juga pada keseluruhan surat, karen

[2022-08-24 02:08] andifahruddinakas commented on #5528
Mas @devrakapriyo, sesuaikan dlu pengaturan untuk menampilkan data masa berlakuk surat. Jika di isi 0, maka tidak tampil walaupun di rtf sudah disematkan kode_isiannya.

![ini](https://user-images.githubusercontent.com/57283157/186301673-ddb2927f-e197-4849-9001-8dd4ab8d4f97.png)

![ini 2](https://user-images.githubusercontent.com/57283157/186301719-4324fee2-4be3-46d9-9272-9307558ee667.png)

![ini

[2022-08-24 02:09] andifahruddinakas commented on #5528
Pastikan juga, template buatan desa tsb mengikuti aturan terbaru.

[2022-08-24 02:29] andifahruddinakas commented on #5528
Untuk selanjutnya bisa sertakan pengaturan suratnya agar mudah di cek. Sy cek beberapa kali, hanya tampil jika masa berlaku di isi > 1 dan jenis surat .rtf saja.

[2022-08-24 03:27] Neko-Life opened #5529 "Kesalahan dalam wiki page"
Sepertinya page [ini](https://github.com/OpenSID/OpenSID/wiki/Panduan-Install-OpenSID/) perlu di revert ke revisi sebelumnya.

[2022-08-24 06:16] devrakapriyo commented on #5528
cc @vickyrolanda ini bug atau fitur mas?

[2022-08-24 06:21] devrakapriyo opened #5530 "Bug/error: tidak tampil penanda tangan surat, dan ketika klik barcode masuk k halaman error"
### Jelaskan error yg dialami

Tidak tampil penanda tangan surat, dan ketika klik barcode masuk k halaman error.

Periksa juga modul-modul yang menggunakan jabatan.

### Cara untuk mereplikasi errornya

Buat Surat Baru > cetak.

Lalu,
1. Halaman Layanan surat > arsip layanan
2. Lihat ditanda tangani oleh

Serta:
1. Halaman Layanan surat > arsip layanan
2. Klik barcode

### Hasil yg diharapkan

-

[2022-08-24 06:26] #5530 closed, assigned to andifahruddinakas

[2022-08-24 06:27] andifahruddinakas commented on #5530
Sudah diperbaiki melalui commit https://github.com/OpenSID/premium/commit/1252fbb6b9a0c480920f2cbd3b84f7c785586282

[2022-08-24 06:47] eddieridwan commented on #5528
@devrakapriyo @vickyrolanda @andifahruddinakas : ingat, kalau menimbulkan kebingungan dan kesalahan pengguna, **selalu** harus diperbaiki -- misalnya dengan validasi, notifikasi atau perancangan ulang antar muka dengan pengguna.

[2022-08-24 07:13] andifahruddinakas commented on #5528
ini saran saat buat issue, biar yang kerjakan issue karena ada bagian yang tidak lengkap.

[2022-08-24 07:15] andifahruddinakas commented on #5528
ini bug, yang dimana rtf dan tinymce kondisinya tidak konsisten.

[2022-08-24 09:13] vickyrolanda commented on #5528
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1257

[2022-08-24 09:13] #5528 closed, assigned to andifahruddinakas

[2022-08-24 09:19] vickyrolanda commented on #5527
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1258

[2022-08-24 09:19] #5527 closed, assigned to andifahruddinakas

[2022-08-24 09:49] vickyrolanda commented on #5505
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1239/

[2022-08-24 09:49] #5505 closed, assigned to yogiperdana, andifahruddinakas

[2022-08-24 10:14] andifahruddinakas commented on #5525
Sudah diperbaiki melalui PR https://github.com/OpenSID/OpenSID/commit/6d1cade6d5b83d222bda8ac7febb0cbd5b98bf44

[2022-08-24 10:14] #5525 closed, assigned to andifahruddinakas

[2022-08-25 01:34] vickyrolanda commented on #5315
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1260

[2022-08-25 01:34] #5315 closed, assigned to apidong

[2022-08-25 02:12] vickyrolanda commented on #5302
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1261

[2022-08-25 02:12] #5302 closed, assigned to andifahruddinakas

[2022-08-25 07:35] jonitrisulasmono opened #5531 "Permintaan fitur: Format F2.01 di kabupaten saya tidak sesuai dengan bawaan opensid"
### Apa kekurangan yg ingin diatasi?

Format F2.01 untuk kelahiran yang tersedia di openSID tidak sama dengan format yang ditentukan oleh dinas dukcapil di kabupaten kami (kab. luwu timur)

### Jelaskan solusi yg diinginkan

Berharap format f2.01 bisa sesuai dengan format kabupaten agar layanan surat dapat digunakan.

### Apakah ada alternatif lain

tidak ada

### Untuk versi OpenSID mana

v22.08

[2022-08-25 10:34] balongbesuk commented on #5531
lampirkan juga format yg dmaksud

[2022-08-26 20:00] vickyrolanda opened #5532 "Permintaan fitur: Merubah tombol simpan menjadi lanjut pada saat pembuatan surat tinymce"
### Apa kekurangan yg ingin diatasi?

Untuk memudahkan pengguna pada saat pembuatan surat tinymce terkadang lupa untuk mengatur templatenya namun ketika klik simpan halaman diam tanpa ada pembaritahuan harus mengisi template , kecuali klik tab template baru kelihatan pemberitahuan utnuk mengisi kolom template. Sehingga sebagai pengguna lebih baik diarahkan saja apa selanjutnya yang harus di isikan

[2022-08-28 12:22] apidong opened #5533 "Bug/error: tampil script json di halaman login kehadiran"
### Jelaskan error yg dialami

-

### Cara untuk mereplikasi errornya

-

### Hasil yg diharapkan

data json tidak tampil

### Tangkapan layar dan log error

![image](https://user-images.githubusercontent.com/20056421/187073988-96498a64-ef04-46cf-9f57-2f279a4f4ee2.png)

### Rilis Versi OpenSID

Rilis Premium

### Versi OpenSID

22.09 premium-beta4

### Tema Yang Digunakan

-

### Informasi tambaha

[2022-08-28 12:27] apidong opened #5534 "Bug/error: kolom jabatan [object, object] di kolom rekapitulasi kehadiran"
### Jelaskan error yg dialami

-

### Cara untuk mereplikasi errornya

-

### Hasil yg diharapkan

-

### Tangkapan layar dan log error

![image](https://user-images.githubusercontent.com/20056421/187074142-ddf2a2c8-0c6c-4fcb-a004-cbd3549b8574.png)

### Rilis Versi OpenSID

Rilis Premium

### Versi OpenSID

22.09 premium-beta4

### Tema Yang Digunakan

-

### Informasi tambahan

-

[2022-08-28 12:53] apidong opened #5535 "Bug/error: modul perangkat pada layanan mandiri error"
### Jelaskan error yg dialami

error halaman 500

### Cara untuk mereplikasi errornya

- login ke layanan mandiri
- masuk ke modul perangkat

### Hasil yg diharapkan

-

### Tangkapan layar dan log error

![image](https://user-images.githubusercontent.com/20056421/187074871-ebcfcf4b-4b64-45a0-991b-95e379373206.png)

Log error : Severity: error --> Exception: SQLSTATE[23000]: Integrity constraint v

[2022-08-28 13:15] apidong opened #5536 "Bug/error: file lampiran pada jenis surat rtf tidak bisa tergenerate"
### Jelaskan error yg dialami

-

### Cara untuk mereplikasi errornya

1. pergi ke modul layanan surat > cetak surat
2. buat surat yang menggunakan lampiran. misal surat biodata penduduk
3. isi form
4. unduh rtf
5. halaman akan tampil isian dari lampiran tetapi di arsip, tombol unduh lampiran tidak ada.
![image](https://user-images.githubusercontent.com/20056421/187075791-f3252f88-0555-4aca-8905-2

[2022-08-29 02:11] balongbesuk opened #5537 "Permintaan fitur: Tambahkan Tanggal Input pada Menu Pembangunan"
### Apa kekurangan yg ingin diatasi?

Menu pembangunan belum ada tanggal input data

### Jelaskan solusi yg diinginkan

tambahkan tanggal input data agar pemdes dapat mengingat tanggal kapan pembangunan dimulai

### Apakah ada alternatif lain

-

### Untuk versi OpenSID mana

Premium

### Informasi tambahan

-

[2022-08-29 14:20] devrakapriyo opened #5538 "Perbaiki Notifikasi Setelah Pengajuan Surat Raw Tiny MCE"
### Jelaskan error yg dialami

Notifikasi yang diterima jika ada pengajuan surat seperti dibawah ini:

Segera cek Halaman Admin, penduduk atas nama ADI SUNARSO telah **mengajukan Surat Raw Tinymce** melalui Layanan Mandiri pada tanggal 26 Agustus 2022 14:31:21

Kalimat diatas yang di cetak tebal perlu diperbaiki, atau jika memungkinkan, disebut Surat yg diajukan. misalnya seperti dibawah ini:
Sege

[2022-08-29 14:25] devrakapriyo opened #5539 "Bug/error: Tulisan pada template "Catatan Rilis" tidak berurut seperti sebelumnya"
### Jelaskan error yg dialami

Tulisan pada template "Catatan Rilis" tidak berurut seperti sebelumnya

### Cara untuk mereplikasi errornya

1. Masuk ke halaman admin/siteman
2. klik tombol **?** pada navbar/header
3. klik catatan rilis

### Hasil yg diharapkan

info/tampilan catatan rilis ditampilkan secara rapih seperti sebelumnya / berurutan.

### Tangkapan layar dan log error

![photo_607094820

[2022-08-29 14:56] devrakapriyo opened #5540 "Bug/error: Pada peta tulisan rt/rw menjadi tidak rapih, dan luas wilayah nya tidak ada"
### Jelaskan error yg dialami

Laporan dari pak @YUD1K
Pada peta tulisan rt/rw menjadi tidak rapih, dan luas wilayah nya tidak ada.

### Cara untuk mereplikasi errornya

1. Menu Pemetaan > Peta
2. Aktifkan centang mapbox satelit, peta wilayah desa sampai peta wilayah rt

### Hasil yg diharapkan

Tampilan rapih dan luas wilayah tampil.

### Tangkapan layar dan log error

![photo_6069126597472006525

[2022-08-29 16:02] devrakapriyo opened #5541 "Bug/error: Surat rtf error saat pengaturan masa berlaku 0"
### Jelaskan error yg dialami

Surat rtf error saat pengaturan masa berlaku 0.

### Cara untuk mereplikasi errornya

1. Pergi ke layanan surat > pengaturan surat
2. atur masa berlaku salah satu surat menjadi 0

3. masuk ke halaman cetak surat
4. pilih salah satu surat untuk dicetak
5. klik unduh rtf > lihat hasilnya/buka file yang telah diunduh

### Hasil yg diharapkan

jika masa berlaku 0, maka m

[2022-08-29 16:08] #5462 closed, assigned to nobody

[2022-08-29 16:10] #5460 closed, assigned to nobody

[2022-08-29 17:09] vickyrolanda opened #5542 "Bug/error: Notifikasi Telegram Tidak Terkirim"
### Jelaskan error yg dialami

- [x] Notfikasi telegram tidak terkirim padahal sudah di set token telegram yang benar
- [x] Pada pengaturan Telegram Token masih bisa input token yang tidak valid sehingga pengaruh di verifikasi surat
- [x] Sama dengan pengaturan point 2 , masih bisa input id telegram yang tidak valid di pengguna sehingga ketika dikirim verifikasi surat maka tidak berhasil.
- [x] Ba

[2022-08-30 03:30] andifahruddinakas commented on #5540
Mas @devrakapriyo, untuk issue permintaan luas peta pada wilayah desa, dusun, rt, dan rw bisa dibuatkan issue terpisah (jangan digabung) karena di bug-fix belum ada cara menampilkan luas peta (ada di rilis-dev).

Untuk masalah judul penulisan rt/rw jadi tidak rapi, bisa diperjelas lg. Sertakan SS bagian yang bermasalah (tandai) dan beri sugesti seperti apa yang diharapkan.

[2022-08-30 03:31] usmanrahdi opened #5543 "Permintaan fitur: Pencarian Spesifik Status Kawin Tercatat dan Tidak Tercatat"
### Apa kekurangan yg ingin diatasi?

mohon tambah pencarian spesifik untuk data warga pada status kawin tercatat dan tidak tercatat, hal ini mempermudah desa yang sedang mendata warga nya yang ditanya oleh KUA setempat untuk mengikuti Kegiatan Pelayanan Terpadu Persidangan Isbat Nikah
![image](https://user-images.githubusercontent.com/95505631/187342205-b7268854-c6f7-4875-a980-7b975c333ee1.png)

[2022-08-30 03:31] devrakapriyo opened #5544 "Permintaan fitur: Paginasi di halaman website /peraturan_desa"
### Jelaskan error yg dialami

Paginasi di halaman website /peraturan_desa tidak berfungsi

### Cara untuk mereplikasi errornya

1. tambah sk peraturan desa lebih dari 10 data
2. masuk ke halaman website /peraturan_desa

### Hasil yg diharapkan

paginasi berfungsi dengan baik

### Tangkapan layar dan log error

![pagg](https://user-images.githubusercontent.com/36557759/187342900-72d01c1f-faf1-4e50

[2022-08-30 03:33] andifahruddinakas commented on #5538
Mas @devrakapriyo, saya rasa ini sebuah permintaan bukan bug. Cek apakah hal ini menyebabkan error? kalau hanya pesan yang dikirim tidak sesuai dengan yang diinginkan, sebaiknya di buatkan issue agar bisa menyesuaikan isian pesan yang dikirim ke telegram untuk surat maupun lainnya.

[2022-08-30 03:37] devrakapriyo opened #5545 "Bug/error: Judul peraturan desa tidak tersimpan / kosong"
### Jelaskan error yg dialami

saat menambah peraturan desa, judulnya tidak tersimpan / menjadi kosong

### Cara untuk mereplikasi errornya

1. buku administrasi desa
2. administrasi umum
3. tambah sk kades/perdes baru
4. simpan

### Hasil yg diharapkan

data dapat tersimpan dengan baik

### Tangkapan layar dan log error

![skk](https://user-images.githubusercontent.com/36557759/187343593-a3f275ad

[2022-08-30 04:24] devrakapriyo commented on #5538
ok mas, saya ubah menjadi fitur

[2022-08-30 04:26] andifahruddinakas commented on #5544
Mas @devrakapriyo, usahakan cek versi sebelum2nya. Jika sebelumnya ada dan di versi terbaru hilang (krn tidak sengaja atau lainnya) bisa di kateogirkan bug. Tapi kalau dari awal memang sudah tidak ada dan ingin menambahakan paginasi tsb, dibuat sebagai permintaan fitur.

[2022-08-30 04:28] andifahruddinakas commented on #5544
Bisa bandingkan dengan fitur 6 bulan lalu, di https://demosid.opendesa.id/

[2022-08-30 04:38] devrakapriyo commented on #5540
iya mas, sesuai gambar peta yang saya lampirkan jadi penulisan rt/rw menjadi menumpuk/tidak rapih mas

[2022-08-30 04:39] devrakapriyo commented on #5540
baik mas, saya akan buatkan masing-masing issue

[2022-08-30 04:41] andifahruddinakas commented on #5540
itu karena wilayahnya kecil dan pin(lokasinya)nya berdekatan. Bawaan dari librarinya, di tampilkan sesuai daerah yang ditandai.

[2022-08-30 04:48] devrakapriyo commented on #5540
apakah memungkinkan mas dapat di zoom in lagi petanya? apa masukan ke permintaan fitur saja mas?

Untuk zoom peta saat ini mengikuti zoom untuk wilayah desanya. Walaupun yang di pilih untuk ditampilkan adalah wilayah di bawahnya (dusun/rt/rw) akan tetap menggunakan zoom desa.

Dibuatkan saja issue permintaan fiturnya, agar zoom mengikuti wilayah yang dipilih.

[2022-08-30 04:58] andifahruddinakas commented on #5542
1. Untuk pengisian pengaturan telegram sudah ada panduannya yang perlu di ikuti untuk mengaktifkan fitur ini. (https://github.com/OpenSID/OpenSID/wiki/Bot-Notifikasi-Telegram)
2. Untuk merubah (menambahkan validasi input lebih detail) pada pengaturan aplikasi, perlu menambahkan komponen lain. (bisa menyebabkan error di tempat lain krn menggunakan view global). Perlu dilakukan test yang lebih lama.

[2022-08-30 05:04] vickyrolanda opened #5546 "Bug/error: Urutan Kades & Sekdes berada di bawah jika data diubah dari database penduduk."
### Jelaskan error yg dialami

1. Awalnya kades & sekdes berada di posisi atas, lalu kades diganti berdasarkan data dari penduduk desa.
2. Urutan kades & sekdes manjadi di posisi bawah.
![image](https://user-images.githubusercontent.com/59082428/187353282-84139d43-a729-464f-9dbb-1b4a3efbedb4.png)

### Cara untuk mereplikasi errornya

1. pergi ke halaman info desa
2. klik pemerintah desa

### Hasil

[2022-08-30 05:17] devrakapriyo opened #5547 "Permintaan fitur: menampilkan luas wilayah dusun/rt/rw"
### Apa kekurangan yg ingin diatasi?

menampilkan luas peta pada wilayah desa, dusun, rt, dan rw

### Jelaskan solusi yg diinginkan

dapat menampilkan luas peta masing masing wilayah desa, dusun, rt, dan rw

### Apakah ada alternatif lain

-

### Untuk versi OpenSID mana

v22.09-premium

### Informasi tambahan

pecahan issue https://github.com/OpenSID/OpenSID/issues/5540

[2022-08-30 05:19] devrakapriyo commented on #5544
baik mas, sepertinya di masukan ke permintaan fitur
karena dari versi 6 bulan yang lalu belum ada paginasi

[2022-08-30 05:25] vickyrolanda commented on #5545
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1268

[2022-08-30 05:25] #5545 closed, assigned to andifahruddinakas

[2022-08-30 05:30] devrakapriyo opened #5548 "Bug/error: urutan sturuktur anggota pemerintah tidak sesuai yang di tentukan"
### Jelaskan error yg dialami

urutan sturuktur anggota pemerintah tidak sesuai yang di tentukan

### Cara untuk mereplikasi errornya

1. klik menu Buku Administrasi Desa
2. klik menu Administrasi Umum
3. klik tab Buku Aparat Pemerintah Desa
4. tentukan urutan anggota desa

### Hasil yg diharapkan

harusnya mengikuti urutan yang ada di admin

### Tangkapan layar dan log error

![image](https://use

[2022-08-30 06:04] #5540 closed, assigned to nobody

[2022-08-30 06:58] vickyrolanda commented on #5548
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1264

[2022-08-30 06:58] #5548 closed, assigned to andifahruddinakas

[2022-08-30 06:58] vickyrolanda commented on #5536
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1264

[2022-08-30 06:58] #5536 closed, assigned to andifahruddinakas

[2022-08-30 08:51] vickyrolanda commented on #5541
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1267

[2022-08-30 08:51] #5541 closed, assigned to andifahruddinakas

[2022-08-30 10:00] vickyrolanda commented on #5533
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1265

[2022-08-30 10:00] #5533 closed, assigned to apidong

[2022-08-30 10:04] vickyrolanda commented on #5534
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1266

[2022-08-30 10:04] #5534 closed, assigned to apidong

[2022-08-30 10:15] vickyrolanda commented on #5535
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1270

[2022-08-30 10:15] #5535 closed, assigned to andifahruddinakas

[2022-08-30 12:26] devrakapriyo opened #5549 "Permintaan fitur: responsive navbar OpenSID"
### Apa kekurangan yg ingin diatasi?

icon pada navbar jika bertambah akan menutupi tampilan, harap agar di rapihkan saat responsive di HP

![image](https://user-images.githubusercontent.com/36557759/187435729-08a1c390-2838-4279-89c6-4f11efba2381.png)

![image](https://user-images.githubusercontent.com/36557759/187435744-fd5b35b3-971e-4cc9-8eee-30986787447a.png)

### Jelaskan solusi yg diinginkan

[2022-08-30 17:38] ruririzal commented on #5484
1. bagaimana alur pengelolaan DTKS yang diinginkan?
1a. apakah input/edit data manual di halaman "formulir yang dinamis" sesuai dengan [Form_BDT.pdf](https://github.com/OpenSID/OpenSID/files/8925130/Form_BDT.pdf) oleh administrator?

![image](https://user-images.githubusercontent.com/28647065/187505611-4a3bdea2-7418-46dd-bd3b-edb1e23508dd.png)

![image](https://user-images.githubusercontent.com/28

[2022-08-31 04:51] vickyrolanda opened #5550 "Bug/error: Nama pejabat di pengguna tidak tampil ketika pejabat dari penduduk desa."
### Jelaskan error yg dialami

1. Katika Pemerintah desa diambil dari data penduduk desa
<img width="792" alt="image" src="https://user-images.githubusercontent.com/59082428/187594957-54407f99-e848-4448-bad2-ee65adb89597.png">

2. Di menu pengguna nama pejabat tidak tampil
<img width="803" alt="image" src="https://user-images.githubusercontent.com/59082428/187594989-1684fb9d-4266-4da6-8555-1b8e593

[2022-08-31 05:41] #5546 closed, assigned to andifahruddinakas

[2022-08-31 06:18] #5539 closed, assigned to andifahruddinakas

[2022-08-31 07:15] vickyrolanda opened #5551 "Bug/error: Details data tidak tampil ketika melihat details surat tinymce."
### Jelaskan error yg dialami

<img width="829" alt="image" src="https://user-images.githubusercontent.com/59082428/187616527-3a1c64aa-629e-4866-8481-cbbed32c8774.png">

### Cara untuk mereplikasi errornya

-

### Hasil yg diharapkan

-

### Tangkapan layar dan log error

-

### Rilis Versi OpenSID

Rilis Premium

### Versi OpenSID

v22.08-premium

### Tema Yang Digunakan

_No response_

### Infor

[2022-08-31 08:20] yogiperdana opened #5552 "Bug/error: Peserta dan program yang telah dihapus tidak terhapus di opendk"
### Jelaskan error yg dialami

Peserta dan program yang telah dihapus tidak terhapus di opendk

### Cara untuk mereplikasi errornya

Sinkronisasi program bantuan ke opendk

### Hasil yg diharapkan

Peserta dan program bantuan terhapus

### Tangkapan layar dan log error

-

### Rilis Versi OpenSID

Rilis Premium

### Versi OpenSID

v22.08

### Tema Yang Digunakan

_No response_

### Informasi tamba

[2022-08-31 12:40] apidong commented on #5552
sudah diperbaiki di https://github.com/OpenSID/premium/pull/1277

[2022-08-31 12:40] #5552 closed, assigned to yogiperdana

[2022-08-31 14:02] apidong commented on #5542
untuk verifikasi id telegram sudah saya buatkan pr pak
https://github.com/OpenSID/premium/pull/1272

[2022-08-31 14:59] apidong commented on #5550
sudah diperbaiki melalui https://github.com/OpenSID/premium/pull/1274

[2022-08-31 14:59] #5550 closed, assigned to andifahruddinakas

[2022-08-31 18:37] vickyrolanda commented on #5551
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1278

[2022-08-31 18:37] #5551 closed, assigned to apidong

[2022-08-31 18:38] vickyrolanda commented on #5542
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1272

[2022-08-31 18:38] #5542 closed, assigned to andifahruddinakas

[2022-09-01 03:19] eddieridwan commented on #5473
Duplikat https://github.com/OpenSID/OpenSID/issues/5519

[2022-09-01 03:19] #5473 closed, assigned to nobody

[2022-09-01 03:23] eddieridwan commented on #5349
@vickyrolanda perlu konfirmasi dengan pengguna untuk membatasi impor data penduduk pada admin. Kalau eskpor data penduduk sepertinya boleh saja dilakukan Operator.

[2022-09-01 03:52] eddieridwan commented on #5025
@vickyrolanda fitur ini bisa disediakan jika TTE valid terpasang

[2022-09-01 03:56] eddieridwan commented on #4691
@ai-skematik apakah issue ini sudah tercakup dalam pembuatan tema anjungan?

[2022-09-01 04:41] WAHYUDIK opened #5555 "Permintaan fitur: Tambahkan Font Bookman Old Style ke pengaturan Surat TinyMCE"
### Apa kekurangan yg ingin diatasi?

saat ini jenis font yang ada di pengaturan surat TinyMCE belum ada jenis font Bookman Old Style

### Jelaskan solusi yg diinginkan

tambahkan font jenis Bookman Old Style

### Apakah ada alternatif lain

ada beberapa kabupaten jenis font untuk persuratan diwajibkan menggunakan jenis font Bookman Old Style

### Untuk versi OpenSID mana

22.09 premium

### Infor

[2022-09-01 06:32] eddieridwan commented on #4412
Sdh masuk ke 22.09-premium

[2022-09-01 06:32] #4412 closed, assigned to nobody

[2022-09-01 10:22] #5098 closed, assigned to nobody

[2022-09-01 10:29] #4592 closed, assigned to nobody

[2022-09-01 10:29] #4520 closed, assigned to nobody

[2022-09-01 10:37] #3565 closed

[2022-09-01 12:38] mah-mudi opened #5556 "Bug/error: Tidak bisa input nilai valid sesuai anggaran pada menu pembangunan"
### Jelaskan error yg dialami

Tidak bisa input nilai valid sesuai anggaran pada menu pembangunan, hanya diberi pilihan nilai terdekat.
Jika nominal anggaran yg dipublish tdk sesuai dg anggaran APBDesa akan mengakibatkan miss infomasi.

### Cara untuk mereplikasi errornya

1. Pergi Menu Pembangunan
2. Klik Tambah Data
3. Isi Data Pembangunan, ketika memasukkan nilai 106780860 pada sumber biaya mis

[2022-09-01 14:32] devrakapriyo opened #5557 "Bug/error: perbaiki tata bahasa dan ejaan"
### Jelaskan error yg dialami

![402693EE-B85E-4DB5-A406-771CF2B9AA8C](https://user-images.githubusercontent.com/36557759/187939717-616b6cda-8f9f-456d-842c-b15b548d8f90.jpeg)

### Cara untuk mereplikasi errornya

-

### Hasil yg diharapkan

-

### Tangkapan layar dan log error

-

### Rilis Versi OpenSID

Rilis Premium

### Versi OpenSID

v22.09-premium

### Tema Yang Digunakan

_No response_

###

[2022-09-02 01:38] andifahruddinakas commented on #5556
Sudah diperbaiki di rilis 2203-premium dan akan digabungkan di rilis umum-v2210

Cek https://github.com/OpenSID/OpenSID/wiki/Rilis-Umum-Yang-Akan-Datang#rilis-umum-v2210--2203-premium

[2022-09-02 01:38] #5556 closed, assigned to nobody

[2022-09-02 07:05] devrakapriyo opened #5558 "Bug/error: jumlah penduduk tidak sama dengan rekap"
### Jelaskan error yg dialami

di opensid v22.08-premium-rev2 jumlah penduduk dan rekap penduduk masih sama saat update ke versi ke 22.09-premium data penduduk tidak sama

![image](https://user-images.githubusercontent.com/36557759/188078123-13cdaaf3-dcca-4445-8c2e-c7205082a4f2.png)
![image](https://user-images.githubusercontent.com/36557759/188078159-789db4d3-5111-4d32-95a3-2ffd702456f2.png)

###

[2022-09-02 07:33] muhtar-coder opened #5559 "Bug/error: bulanan ibu hamil,, setelah edit tanggal inputnya berubah ke hari ini dan tidak bisa di perbaiki ke tanggal seharusnya"
### Jelaskan error yg dialami

tanggal hasil input berubah ke tanggal hari ini dan tidak ada tombol ubah tanggal untuk perbaikan

### Cara untuk mereplikasi errornya

setelah data data KIA terisi, coba masuk ke isian ibu hamil  kemudian lakukan edit pada hasil isian yang udah ada dan hasilnya tanggal periksa menjadi kembali ke tanggal hari ini

![image](https://user-images.githubusercontent.com/55

[2022-09-02 07:38] apidong opened #5560 "Bug/error: surat lama tidak tampil di arsip surat di user sekdes dan kades"
### Jelaskan error yg dialami

-

### Cara untuk mereplikasi errornya

login menggunakan akun sekdes

### Hasil yg diharapkan

-

### Tangkapan layar dan log error

-

### Rilis Versi OpenSID

Rilis Premium

### Versi OpenSID

-

### Tema Yang Digunakan

-

### Informasi tambahan

-

[2022-09-02 07:39] apidong commented on #5560
pak @vickyrolanda, mohon analisis, sebaiknya seperti apa untuk kades dan sekdes

[2022-09-02 07:50] #5558 closed, assigned to nobody

[2022-09-02 07:51] devrakapriyo commented on #5558
setelah di cek lebih lanjut, data sesuai

[2022-09-02 16:10] vickyrolanda opened #5561 "Bug/error: Variabel [jabatan] tidak berfungsi untuk penandatangan sekdes & kades"
### Jelaskan error yg dialami

1. Saat penanda tangan di pilih sekdes / kades maka variabel [jabatan]  kosong
<img width="548" alt="image" src="https://user-images.githubusercontent.com/59082428/188194899-91a2035e-1934-4168-be87-ce38f6240e1d.png">
2. Namun ketika penanda tangan di pilih u.b maka variabel [jabatan] berfungsi
<img width="574" alt="image" src="https://user-images.githubusercontent.co

[2022-09-02 16:15] ariandii commented on #5561
<img width="637" alt="image" src="https://user-images.githubusercontent.com/46939846/188195846-41d5a4c5-db15-49c0-9f8d-61604bd1d6a8.png">

Apakah itu juga yang mempengaruhi tidak munculnya kolom Ditandatangani Oleh

[2022-09-02 16:15] vickyrolanda opened #5562 "Bug/error: Pendidik di menu edit aparatur desa tidak muncul nama pendidikannya."
### Jelaskan error yg dialami

1. Masuk ke pemerintahan desa -> edit -> lihat di tidak terdata

<img width="540" alt="image" src="https://user-images.githubusercontent.com/59082428/188195636-4e69577e-3037-4b66-878b-7e9d087da3c6.png">

### Cara untuk mereplikasi errornya

-

### Hasil yg diharapkan

-

### Tangkapan layar dan log error

-

### Rilis Versi OpenSID

Rilis Premium

### Versi OpenSID

[2022-09-02 16:17] ariandii commented on #5562
<img width="516" alt="image" src="https://user-images.githubusercontent.com/46939846/188196284-20e86adb-8124-4676-b8b0-d736ebf7cdfe.png">

begitu juga dengan Option Agama

[2022-09-04 02:31] devrakapriyo opened #5563 "Perbaikan preview tambah pengaturan surat tinymce"
### Apa kekurangan yg ingin diatasi?

Sebelum di simpan pada tambah pengaturan surat tinymce untuk dibuatkan preview

### Jelaskan solusi yg diinginkan

Preview surat tinymce

### Apakah ada alternatif lain

-

### Untuk versi OpenSID mana

v22.10-premium

### Informasi tambahan

_No response_

[2022-09-04 04:09] andifahruddinakas commented on #5561
Mas @vickyrolanda, coba cek bagian ini. Alur sampai dapat errornya, di saya coba cetak rtf/tinymce ama saja. Mungkin ada alur lain.

[2022-09-04 06:25] andifahruddinakas commented on #5226
Perbahan data perangkat desa (baik itu data pribadi maupun urutan) hanya dilakukan di admin saja. Adapun perubahan urutan di layanan mandiri menyesuaikan urutan di admin sudah disesuaikan rilis v22.09-premium.

[2022-09-04 06:25] #5226 closed, assigned to nobody

[2022-09-04 06:28] andifahruddinakas commented on #5345
Solusi :
1. Tampilkan dan proses perbarui template desa hanya jika yang login adalah grup admin / super admin.

[2022-09-04 06:31] andifahruddinakas commented on #5349
Solusi :
1. Tampilkan dan proses impor hanya jika yang login adalah grup admin / super admin.
2. Tambahkan pengaturan hak akses selain lihat, ubah, hapus yakni impor/ekspor, unduh/print

[2022-09-04 09:54] devrakapriyo opened #5564 "Bug/error: typo di biodata lengkap"
### Jelaskan error yg dialami

Penulisan Jenis Kelamin typo di biodata lengkap OpenSID mobile

![0962B493-FF6D-4810-BC83-CE76E4CF1301](https://user-images.githubusercontent.com/36557759/188307806-e9f106a1-835d-4fa0-a9f3-b44aae8d035e.jpeg)

### Cara untuk mereplikasi errornya

Biodata Lengkap

### Hasil yg diharapkan

-

### Tangkapan layar dan log error

-

### Rilis Versi OpenSID

Rilis Premium

[2022-09-04 10:14] devrakapriyo opened #5565 "Bug/error: penyusuai detail bantuan OpenSID mobil"
### Jelaskan error yg dialami

- penulisan NIK bukan Nik
- isi tangal lahir, seharusnya tidak ada tempatnya lahir
![D99FCB2F-6689-4729-B1D4-BA14ECA4B242](https://user-images.githubusercontent.com/36557759/188308304-76d440de-9246-4828-bfaf-4e4d5e955cf5.jpeg)

### Cara untuk mereplikasi errornya

Detail Bantuan

### Hasil yg diharapkan

-

### Tangkapan layar dan log error

-

### Rilis Versi OpenSI

[2022-09-04 10:19] devrakapriyo opened #5566 "Bug/error: nama kades tidak muncul di unduh biodata penduduk"
### Jelaskan error yg dialami

Nama kades tidak muncul saat unduh biodata penduduk
![Uploading 16A78C0A-A14C-46F2-9343-CDDE0CC3CFF3.jpeg…]()

### Cara untuk mereplikasi errornya

Unduh biodata penduduk

### Hasil yg diharapkan

-

### Tangkapan layar dan log error

-

### Rilis Versi OpenSID

Rilis Premium

### Versi OpenSID

OpenSID mobile

### Tema Yang Digunakan

_No response_

### Informasi ta

[2022-09-04 10:23] devrakapriyo opened #5567 "Bug/error: nama kades tidak muncul saat unduh salinan KK"
### Jelaskan error yg dialami

Nama kades tidak muncul saat unduh salinan KK

### Cara untuk mereplikasi errornya

Unduh salinan KK

### Hasil yg diharapkan

-

### Tangkapan layar dan log error

-

### Rilis Versi OpenSID

Rilis Premium

### Versi OpenSID

OpenSID mobile

### Tema Yang Digunakan

_No response_

### Informasi tambahan

_No response_

[2022-09-04 10:43] andifahruddinakas commented on #5567
Mas @devrakapriyo, pindahkan ke issue mobile

[2022-09-04 10:43] andifahruddinakas commented on #5566
Mas @devrakapriyo, pindahkan ke issue mobile

[2022-09-04 10:43] andifahruddinakas commented on #5565
Mas @devrakapriyo, pindahkan ke issue mobile

[2022-09-04 10:44] andifahruddinakas commented on #5564
Mas @devrakapriyo, pindahkan ke issue mobile

[2022-09-04 10:48] andifahruddinakas commented on #5567
Kalau berlaku di 2 tempat, buatkan issue di keduannya.

[2022-09-04 10:50] andifahruddinakas commented on #5566
Kalau berlaku di 2 tempat, buatkan issue di keduannya.

Perhatikan juga gambar yang dj upload pastikan bisa di buka (100% ke upload), pd issue ini gambar tidak bisa terbuka.

[2022-09-04 11:00] devrakapriyo commented on #5564
Repo nya yang mana ya mas @andifahruddinakas

[2022-09-04 11:05] devrakapriyo commented on #5566
![F96AACA2-7002-45B1-ACA9-72981E7F3B45](https://user-images.githubusercontent.com/36557759/188310119-310ea2f7-289d-467d-9407-5d6bc71a37c4.jpeg)

[2022-09-04 11:05] devrakapriyo commented on #5566
Hanya di OpenSID mobile saja mas, di web aman

[2022-09-04 11:11] andifahruddinakas commented on #5564
Di wiki-mobile

[2022-09-04 11:13] devrakapriyo commented on #5564
Siap makasih mas, ini dan issue terkait mobil saya close saja ya

[2022-09-04 11:20] eddieridwan commented on #5564
@devrakapriyo tidak perlu ditutup. Bisa dipindah ke repo yg lain. Lihat tautan `Transfer issue` di bagian kanan.

[2022-09-04 13:27] devrakapriyo opened #5568 "Bug/error: error session saat print salinan KK"
### Jelaskan error yg dialami

sepertinya ini disebabkan session yang menyebabkan terkadang kepala desa tidak muncul saat print salinan KK

### Cara untuk mereplikasi errornya

-

### Hasil yg diharapkan

tidak terjadi hal ini

### Tangkapan layar dan log error

-

### Rilis Versi OpenSID

Rilis Premium

### Versi OpenSID

v22.09-premium

### Tema Yang Digunakan

_No response_

### Informasi tamba

[2022-09-04 14:02] devrakapriyo opened #5569 "Bug/error: fitur cetak surat tinymce tidak berfungsi khusus desa langonsari.desa.id"
### Jelaskan error yg dialami

karena desa langonsari menggunakan server Diskominfo yang menyebabkan fitur cetak surat TinyMCE error 500, tidak hanya itu backup database dan fitur custom dari Diskominfo juga error 500.

sedangkan saat di test di local semua berjalan dengan normal.

info dari pengguna : fitur custom Diskominfo terkahir di v22.03-umum

### Cara untuk mereplikasi errornya

-

### Has

[2022-09-04 14:06] devrakapriyo commented on #5569
terlampir gdrive OpenDesa yang berisikan database desa tersebut dan log error

https://drive.google.com/drive/folders/1d419VUBx7Jj9iG3i21De_SEEFwDm3MEl?usp=sharing

karena link ini bersifat internal, tolong beri info untuk meminta akses

[2022-09-04 14:31] devrakapriyo opened #5570 "Bug/error: error saat cetak surat TinyMCE khusus desa sidodadi-pringsewu.desa.id"
### Jelaskan error yg dialami

setiap cetak surat tinymce selalu muncul notif error dan log error tidak muncul apa apa

![image](https://user-images.githubusercontent.com/36557759/188318677-22b98eb8-a5e6-4f80-88f0-58317f29a573.png)

saat saya coba import database di local dengan DB desa tersebut selalu gagal. DB dan folder desa tersedia di Gdrive internal OpenDesa

### Cara untuk mereplikasi error

[2022-09-04 14:33] devrakapriyo commented on #5570
terlampir gdrive OpenDesa yang berisikan database desa tersebut dan log error

https://drive.google.com/drive/folders/15x-dSsUx5kQ_6A5_4cdRLvKStZAiMegB?usp=sharing

karena link ini bersifat internal, tolong beri info untuk meminta akses

[2022-09-04 14:57] devrakapriyo opened #5571 "Bug/error: SDGs khusus desa kesambirampak.desa.id tidak bisa diakses"
### Jelaskan error yg dialami

![image](https://user-images.githubusercontent.com/36557759/188319680-aa6fafdf-e04e-4c49-8da8-27ea41e72423.png)

### Cara untuk mereplikasi errornya

masuk ke link https://www.kesambirampak.desa.id/status-sdgs

### Hasil yg diharapkan

fitur SDGs bisa diakses seperti di https://berputar.opendesa.id/status-sdgs

### Tangkapan layar dan log error

-

### Rilis Versi Op

[2022-09-04 14:59] devrakapriyo commented on #5571
terlampir gdrive OpenDesa yang berisikan database desa tersebut dan log error

https://drive.google.com/drive/folders/1ABqfo-NZWjmpUHUA32r6uLAvdKDhMb1T?usp=sharing

karena link ini bersifat internal, tolong beri info untuk meminta akses

[2022-09-05 02:03] andifahruddinakas commented on #5568
Mas @devrakapriyo, sy cek tidak ada masalah di cetak salinan KK ini. Dan penanda tangan tidak menggunakan session, bisa di cek kembali dan perjelas alurnya sampai menemukan error.

![salinan kk](https://user-images.githubusercontent.com/57283157/188345917-c32a106c-6136-4831-868a-17b5dc05d87e.png)

[2022-09-05 02:06] andifahruddinakas commented on #5571
Mas @devrakapriyo, untuk pengecekan bagian halaman depan/tema, usahakan selalu menggunakan tema bawaan.

[2022-09-05 02:12] andifahruddinakas commented on #5571
Apa sudah dimasukkan kode desa berdasarkan Wilayah Kerja Statistik - BPS ?

https://sig.bps.go.id/bridging-kode

![sdgs 1](https://user-images.githubusercontent.com/57283157/188346649-fe6b5cc8-ad18-454c-8eb8-4f763cdcf222.png)

Apakah sudah ada panduan untuk fitur baru ini ?

[2022-09-05 02:17] andifahruddinakas commented on #5570
cek juga di console log nya di browser saat melakukan cetak surat.

![log browser](https://user-images.githubusercontent.com/57283157/188348190-51570661-6652-42c2-81c7-63b39ae9ce5c.png)

[2022-09-05 02:21] andifahruddinakas opened #5572 "Validasi Pengaturan Aplikasi"
Sediakan kolom dinamis untuk menambahkan validasi masing2 pengaturan.

[2022-09-05 03:56] Sukoharjo3 commented on #5561
![image](https://user-images.githubusercontent.com/112841792/188357771-bf12cba4-f03c-4300-ab08-6cd322cfaa6c.png)
mengalami hal demikian

[2022-09-05 04:03] andifahruddinakas commented on #5532
Untuk solusi ini akan merepotkan pengguna saat mau melakukan update kode isian, karena harus menekan tombol selanjutnya sebanyak 2/3 kali. Solusi dari sy, bisa cek PR https://github.com/OpenSID/premium/pull/1287.

[2022-09-05 04:57] devrakapriyo commented on #5571
mas @andifahruddinakas icon gear itu kok di local saya ga ada ya? di berputar juga sama ga ada

[2022-09-05 04:59] devrakapriyo commented on #5568
iya mas, ini terkadang ada terkadang hilang jadi tidak menentu
itu karena apa ya mas sebabnya?

[2022-09-05 05:08] andifahruddinakas commented on #5571
Migrasinya gak jalan sempurna berarti.

[2022-09-05 05:27] vickyrolanda commented on #5557
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1281

[2022-09-05 05:27] #5557 closed, assigned to andifahruddinakas

[2022-09-05 05:40] vickyrolanda commented on #5560
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1284

[2022-09-05 05:40] #5560 closed, assigned to apidong

[2022-09-05 06:09] devrakapriyo commented on #5571
solusinya bagiaman ya mas? karena proses migrasinya berhasil mas

[2022-09-05 06:12] andifahruddinakas commented on #5571
kalau berhasil, harusnya data kode_desa_bps nambah di tabel setting_aplikasi. kalau cuma 1/2 desa, bisa dilakukan scr manual.

[2022-09-05 06:14] andifahruddinakas commented on #5571
Jalankan query:
[code]

[2022-09-05 06:15] devrakapriyo commented on #5571
baik mas, saya coba ya

[2022-09-05 06:20] devrakapriyo commented on #5571
<img width="1440" alt="Screen Shot 2022-09-05 at 13 17 10" src="https://user-images.githubusercontent.com/36557759/188372938-adb41dcf-4833-4e16-98e8-37c0932c5918.png">

saya cek di database value ini sudah ada, sebelum saya jalankan script insert ini

[2022-09-05 06:47] #5571 closed, assigned to nobody

[2022-09-05 06:47] andifahruddinakas commented on #5571
Solusi :
1. Buat panduan

[2022-09-05 06:52] devrakapriyo opened #5573 "Bug/error: akses data suplemen error"
### Jelaskan error yg dialami

![image](https://user-images.githubusercontent.com/36557759/188382977-84d38129-5c20-43e2-932d-cd04c52857f7.png)

### Cara untuk mereplikasi errornya

-

### Hasil yg diharapkan

-

### Tangkapan layar dan log error

-

### Rilis Versi OpenSID

Rilis Premium

### Versi OpenSID

v22.09-premium

### Tema Yang Digunakan

_No response_

### Informasi tambahan

_No respons

[2022-09-05 08:10] vickyrolanda opened #5574 "Bug/error: Bagian Kolom Ditandatangani Oleh pada layanan surat tidak muncul jika sekdes & kades"
### Jelaskan error yg dialami

bagian di kolom Ditandatangani Oleh itu sama hal seperti variable [jabatan] pada surat untuk penandatangan kades & sekdes tidak muncul tapi jika dipilih penanda tangan u.b muncul seperti dibawah ini :

- Baris pertama penanda tangan Kaur
- Baris Kedua sekdes  tidak muncul namanya.

<img width="771" alt="image" src="https://user-images.githubusercontent.com/59082428/1

[2022-09-05 08:10] vickyrolanda commented on #5561
bagian di penandatangan itu sama hal seperti variable di atas mas, untuk penandatangan kades & sekdes tidak muncul tapi pilihan penanda tangan u.b muncul mas ntar pr ke issue baru ini ya mas https://github.com/OpenSID/OpenSID/issues/5574

<img width="771" alt="image" src="https://user-images.githubusercontent.com/59082428/188400026-ab82c76f-836e-492a-b95f-90c3ffaddc90.png">

[2022-09-05 08:19] vickyrolanda commented on #5561
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1285

[2022-09-05 08:19] #5561 closed, assigned to andifahruddinakas

[2022-09-05 08:48] vickyrolanda commented on #5562
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1286

[2022-09-05 08:48] #5562 closed, assigned to andifahruddinakas

[2022-09-05 08:58] vickyrolanda commented on #5532
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1287

[2022-09-05 08:58] #5532 closed, assigned to andifahruddinakas

[2022-09-05 09:04] vickyrolanda opened #5575 "Bug/error: Daftar surat yang tampil tidak berdasarkan peganturan surat"
### Jelaskan error yg dialami

![surat 1](https://user-images.githubusercontent.com/57283157/188361069-69dc096d-9658-4411-88a1-a25cfcf13129.png)
![surat 2](https://user-images.githubusercontent.com/57283157/188361065-8e43b0bd-72a2-4a24-9019-f7f49dcd74d4.png)

### Cara untuk mereplikasi errornya

-

### Hasil yg diharapkan

-

### Tangkapan layar dan log error

-

### Rilis Versi OpenSID

Rilis Pre

[2022-09-05 09:17] vickyrolanda commented on #5575
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1288

[2022-09-05 09:17] #5575 closed, assigned to nobody

[2022-09-05 09:46] vickyrolanda commented on #5573
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1290

[2022-09-05 09:46] #5573 closed, assigned to andifahruddinakas

[2022-09-05 10:01] devrakapriyo opened #5576 "Bug/error: halaman kelompok error"
### Jelaskan error yg dialami

<img width="1440" alt="Screen Shot 2022-09-05 at 17 01 20" src="https://user-images.githubusercontent.com/36557759/188423405-52511ff0-badc-4fc0-879b-791367596128.png">

### Cara untuk mereplikasi errornya

-

### Hasil yg diharapkan

-

### Tangkapan layar dan log error

-

### Rilis Versi OpenSID

Rilis Premium

### Versi OpenSID

22.09-premium

### Tema Yang Diguna

[2022-09-05 11:44] mukhlisvandjava opened #5577 "Permintaan fitur: Penambahan Koordinat dan Foto di data Keluarga"
### Apa kekurangan yg ingin diatasi?

Penambahan menu Koordinat Lokasi Keluarga dan upload foto (upload 3 foto "Foto Keluarga yang tinggal, Rumah Tampak Depan, Samping (Opsional) ). Penambahan Lokasi seperti penanda lokasi Individu penduduk. Dengan adanya penanda Keluarga di harapkan Penempatan lokasi Keluarga bisa mewakili seluruh anggota keluarga ( Koordinatnya sama setiap anggota keluarga secar

[2022-09-05 14:16] pemdeslinggapura opened #5578 "[TinyMCE] Format kode isian untuk menerapkan Title Case"
### Apa kekurangan yg ingin diatasi?

Tidak bisa generate kode isian Capitalize Each Word hanya UPPERCASE DAN lowercase

### Jelaskan solusi yg diinginkan

[JUdul_surat] : ini adalah contoh kode surat pdf untuk menampilkan teks Uppercase contoh "SURAT KETERANGAN USAHA"
nah bisa tidak ada bentuk kode form isian yang menampilkan teks Capitalize Each Word, sontoh : "Surat Keterangan Usaha" misalkan k

[2022-09-05 14:25] pemdeslinggapura opened #5579 "Permintaan fitur: Menampilkan Daftar Anggota Keluarga untuk Surat Pdf"
### Apa kekurangan yg ingin diatasi?

Pada Surat RTF ada beberapa surat yang memiliki fitur pemanggilan data Tabel Anggota Keluarga, contohnya seperti ini
![image](https://user-images.githubusercontent.com/89450861/188470609-3f0ed1a4-eead-4307-aada-ea5ae05b6ce6.png)
Mudah-mudahan pada Surat Pdf juga bisa di tanamkan kode isian untuk menampilkan Daftar Anggota Keluarga untuk Sumber Data Kepala Kelu

[2022-09-05 18:21] vickyrolanda commented on #5544
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1283

[2022-09-05 18:21] #5544 closed, assigned to andifahruddinakas

[2022-09-05 23:54] yogiperdana commented on #5508
Mas @vickyrolanda mohon dibantu konfirmasi ke pelaksana maksudnya ubah cara baca itu apakah cara lama dihapus (ip address dan mac address) atau yang lama tetap ada dan ditambah dengan cara baca baru

[2022-09-06 01:39] devrakapriyo commented on #5354
https://panduan.opendesa.id/id/opensid/halaman-administrasi/layanan-surat/surat-tinymce

[2022-09-06 01:39] #5354 closed, assigned to nobody

[2022-09-06 01:39] devrakapriyo commented on #5355
https://panduan.opendesa.id/id/opensid/halaman-administrasi/kesehatan/stunting

[2022-09-06 01:39] #5355 closed, assigned to nobody

[2022-09-06 01:40] devrakapriyo commented on #5331
https://panduan.opendesa.id/id/opensid/halaman-administrasi/pengaturan/aplikasi/mapbox-api-key

[2022-09-06 01:40] #5331 closed, assigned to nobody

[2022-09-06 01:41] devrakapriyo commented on #5474
https://panduan.opendesa.id/id/opensid/halaman-administrasi/layanan-surat/TTE

[2022-09-06 01:41] #5474 closed, assigned to nobody

[2022-09-06 01:41] pemdeslinggapura opened #5580 "Permintaan Fitur : Terapkan aturan penghapusan surat di halaman arsip"
### Jelaskan error yg dialami

Menu Aksi pada surat pdf tidak tampil di halaman Arsip, tidak bisa menghapus arsip surat
![Capture](https://user-images.githubusercontent.com/89450861/188529166-ef3745a2-bf33-4554-acb8-4bd7bbf981d6.PNG)

### Cara untuk mereplikasi errornya

Layanan Surat -> Arsip Layanan

### Hasil yg diharapkan

Bisa menghapus arsip surat

### Tangkapan layar dan log error

![Captur

[2022-09-06 01:45] devrakapriyo opened #5581 "Testing pra rilis rev 3"

[2022-09-06 01:45] devrakapriyo opened #5582 "Testing pra rilis rev 4"

[2022-09-06 01:46] devrakapriyo opened #5583 "Panduan 22.10"

[2022-09-06 01:47] devrakapriyo opened #5584 "Panduan rev 1"

[2022-09-06 01:48] devrakapriyo opened #5585 "Panduan rev 2"

[2022-09-06 01:48] devrakapriyo opened #5586 "Panduan rev 4"

[2022-09-06 01:48] devrakapriyo opened #5587 "Panduan rev 3"

[2022-09-06 01:55] devrakapriyo opened #5588 "Bagikan testing beta ke pengguna"

[2022-09-06 02:21] devrakapriyo opened #5589 "Klinik bug tester - tanggal 8"

[2022-09-06 02:21] devrakapriyo opened #5590 "Klinik bug tester - tanggal 26"

[2022-09-06 02:28] pemdeslinggapura opened #5591 "Bug/error: Surat Keterangan Lahir tidak bisa menampilkan data Penduduk"
### Jelaskan error yg dialami

Ketika memasukkan Nik dan Nama Ibu tidak bisa tampil
![image](https://user-images.githubusercontent.com/89450861/188534036-93d3a083-355d-44e8-b0ee-25f2a11a52a0.png)

### Cara untuk mereplikasi errornya

Ketika memasukkan Nik dan Nama Ibu tidak bisa tampil
![image](https://user-images.githubusercontent.com/89450861/188534036-93d3a083-355d-44e8-b0ee-25f2a11a52a0.png)

[2022-09-06 03:34] devrakapriyo opened #5592 "Bug/error: Keterangan Untuk Nikah (N-1 s/d N-7) data warga tidak muncul"
### Jelaskan error yg dialami

Cetak surat Keterangan Untuk Nikah (N-1 s/d N-7) pada saat memili warga desa datanya tidak muncul
![image](https://user-images.githubusercontent.com/36557759/188541408-9583cc27-01e4-4240-b297-f853f001dff8.png)

### Cara untuk mereplikasi errornya

-

### Hasil yg diharapkan

-

### Tangkapan layar dan log error

-

### Rilis Versi OpenSID

Rilis Premium

### Versi Op

[2022-09-06 03:34] #5507 closed, assigned to nobody

[2022-09-06 03:35] andifahruddinakas opened #5593 "Menambahkan pemanggilan view anjungan di domain utama sesuai status langganan"

[2022-09-06 03:35] andifahruddinakas opened #5594 "Menambahkan pengaturan untuk menampilkan menu-menu anjungan"

[2022-09-06 03:35] andifahruddinakas opened #5595 "Menambahkan pengaturan untuk menampilkan text berjalan anjungan"

[2022-09-06 03:35] andifahruddinakas opened #5596 "Menambahkan pengaturan untuk artikel anjungan"

[2022-09-06 03:36] andifahruddinakas opened #5597 "Menambahkan bersihkan cache langganan saat akses halaman utama"

[2022-09-06 05:06] devrakapriyo commented on #5559
kolom Tanggal Periksa yang sebelumnya di isi tgl 1 September setelah di edit menjadi tanggal hari ini

[2022-09-06 07:22] andifahruddinakas commented on #5592
Duplicate issue https://github.com/OpenSID/OpenSID/issues/5591, sumber masalah dibagian konfirmasi pemohon yang dimana perlu dibedakan konfirmasi pemohon yang menggunakan surat rtf dan tinymce.

[2022-09-06 07:22] #5592 closed, assigned to nobody

[2022-09-06 07:27] andifahruddinakas commented on #5580
Mas @vickyrolanda, @devrakapriyo, bisa konfirmasi issue ini. Apakah setelah surat di cetak (diarsipkan) diperbolehkan untuk menghapus surat tsb.

[2022-09-06 07:54] andifahruddinakas commented on #5570
Sudah sy cek menggunakan data yang dilampirkan, hasilnya sukses cetak. Mungkin masalahnya di server desa tsb.

[2022-09-06 11:39] eddieridwan commented on #5580
@vickyrolanda @devrakapriyo :

1. Seharusnya surat yang diarsipkan berupa surat resmi yg telah diterbitkan desa, dan tidak boleh dihapus
2. Dari pembahasan di grup, kebutuhan menghapus surat di arsip timbul dari:
    1. mencoba atau belajar membuat surat
    2. mencoba/menguji template surat baru

Untuk 2.i, solusinya adalah:
1. menjelaskan di panduan, jika belajar atau mencoba jangan lakukan di s

[2022-09-06 13:01] devrakapriyo opened #5598 "Bug/error: rtf cetak surat keterangan domisili"
### Jelaskan error yg dialami

![6BF27E37-A577-44E0-ABEE-5212C92243A8](https://user-images.githubusercontent.com/36557759/188641249-7c3d630a-2132-433e-9ff4-bad7bdd7192f.png)

- form_pamong_nip masih berupa variable
- Penulisan Desa di judul surat masih menggunakan huruf kecil, seharusnya Desa

### Cara untuk mereplikasi errornya

-

### Hasil yg diharapkan

-

### Tangkapan layar dan log error

-

[2022-09-06 13:07] devrakapriyo opened #5599 "Bug/error: tombol upload dan camera tertutup"
### Jelaskan error yg dialami

Tampilan tidak responsive di halaman edit aparatur desa, sehingga foto menutupi tombol upload dan camera tertutup

![6D6DADA1-56C5-4AE4-894D-B7D800172252](https://user-images.githubusercontent.com/36557759/188643055-72be6c67-b355-4b0d-9c4c-65618f4c1f8c.jpeg)

### Cara untuk mereplikasi errornya

-

### Hasil yg diharapkan

-

### Tangkapan layar dan log error

-

###

[2022-09-06 14:17] devrakapriyo opened #5600 "Permintaan fitur: pencarian surat favorit"
### Apa kekurangan yg ingin diatasi?

Sediakan fitur pencarian di daftar surat favorit, karena pencarian baru tersedia di daftar surat saja
![57854058-47F0-4D19-BA8D-205A7BADC7BD](https://user-images.githubusercontent.com/36557759/188658629-996bd01f-718a-4032-bc1d-c918ac20ae0c.jpeg)

### Jelaskan solusi yg diinginkan

Pencarian datatable

### Apakah ada alternatif lain

-

### Untuk versi OpenSID

[2022-09-06 16:49] devrakapriyo opened #5601 "Bug/error: beberapa desa strukstur aparatur jabatan berantakan"
### Jelaskan error yg dialami

issue ini terjadi dari OpenSID v22.08-premium update ke v22.09-premium yang menyebabkan beberapa desa strukstur aparatur jabatan menjadi berantakan, setelah saya lihat didatabase v22.09-premium ada penambahan table ref_jabatan yang mengatur struktur jabatan, tetapi beberapa desa saat migrasi database table tersebut tidak sesuai urutan

<img width="1440" alt="Screen S

[2022-09-06 16:52] devrakapriyo commented on #5601
link gdrive yang berisikan database desa : https://drive.google.com/drive/folders/1F9F9h8zrH3jL4dpGxXiaPVwjLLjub2UI?usp=sharing

[2022-09-06 17:28] devrakapriyo opened #5602 "Bug/error: typo di daftar permohonan surat"
### Jelaskan error yg dialami

<img width="1440" alt="Screen Shot 2022-09-06 at 23 55 55" src="https://user-images.githubusercontent.com/36557759/188700540-c014806f-7166-4e93-ab4e-81b349f06ccc.png">

seharusnya NO ANTREAN

### Cara untuk mereplikasi errornya

-

### Hasil yg diharapkan

-

### Tangkapan layar dan log error

-

### Rilis Versi OpenSID

Rilis Premium

### Versi OpenSID

v22.09-premi

[2022-09-06 19:15] mah-mudi opened #5603 "Permintaan fitur: [PREMIUM] Penambahan Modul PPID Desa menyesuaikan Peraturan Komisi Informasi Nomor 1 Tahun 2018"
### Apa kekurangan yg ingin diatasi?

**Belum adanya modul khusus PPID Desa yang menampung :**
**1. Daftar Informasi Publik Desa**
![image](https://user-images.githubusercontent.com/57661283/188717251-857f4d53-aefe-488a-a6b8-40336a3140d6.png)

**2. Daftar Pemohon Informasi Publik Desa**
![image](https://user-images.githubusercontent.com/57661283/188717501-ba308abb-9252-4787-9172-f46736d41b26.png)

[2022-09-06 22:10] andifahruddinakas commented on #5601
Sy belum bisa cek dengan menggunakan database desa tsb (belum ada akses). Mungkin perlu diketahui pada versi sebelumnya a.n (kepala desa) dan u.b (sekretaris desa) di versi sebelumnya tidak wajib di isi. Jadi jika, pada versi tsb a.n dan u.b tidak di aktifkan, maka migrasi akan di rilis 22.09-premium tidak mengenali siapa kepala desa dan sekretaris desa karena pembauatan jabatan kepala desa berdas

[2022-09-06 23:55] eddieridwan commented on #5600
@devrakapriyo @vickyrolanda kotak cari sdh betul posisinya. Itu bagian dari tabel seluruh surat bukan favorit. Favorit isinya sedikit, tidak perlu dicari.

Alternatif lain, hilangkan tampilan kelompok favorit. Tampilkan favorit di tabel utama saja, di mana diatur supaya favorit selalu diurut paling atas, dengan warna hijau seperti sekarang. Mungkin cara itu akan mengurangi keluhan pengguna.

Kemud

[2022-09-07 01:47] devrakapriyo commented on #5600
baik pak, saya setuju agar di jadikan 1 table saja dan untuk surat favorit di urutkan paling atas

[2022-09-07 02:22] Pematung commented on #4582
Sangat setuju dan Mohon Di Proritaskan

[2022-09-07 02:24] vickyrolanda commented on #5576
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1291

[2022-09-07 02:24] #5576 closed, assigned to andifahruddinakas

[2022-09-07 02:38] vickyrolanda opened #5604 "Bug/error: Penanda tangan di surat tinymce tidak muncul"
### Jelaskan error yg dialami

Penandatangan tidak muncul pada saat pembuatan surat tinymce
<img width="797" alt="image" src="https://user-images.githubusercontent.com/59082428/188776136-af6ddd15-40c2-4578-9c85-0da2520ce828.png">

### Cara untuk mereplikasi errornya

-

### Hasil yg diharapkan

-

### Tangkapan layar dan log error

-

### Rilis Versi OpenSID

Rilis Premium

### Versi OpenSID

v22.

[2022-09-07 02:46] vickyrolanda commented on #5574
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1295

[2022-09-07 02:46] #5574 closed, assigned to andifahruddinakas

[2022-09-07 02:50] andifahruddinakas commented on #5604
Mas @vickyrolanda, ini kyaknya ada alur TTE yang terpenuhi yang membuat penanda tangan tidak muncul. Coba matikan semua yang berkaitan dengan TTE.

[2022-09-07 02:54] vickyrolanda commented on #5568
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1297

[2022-09-07 02:54] #5568 closed, assigned to andifahruddinakas

[2022-09-07 03:04] devrakapriyo commented on #5601
sudah saya bukakan aksesnya mas

[2022-09-07 03:39] vickyrolanda commented on #5602
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1299

[2022-09-07 03:39] #5602 closed, assigned to andifahruddinakas

[2022-09-07 03:47] vickyrolanda commented on #5559
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1289

[2022-09-07 03:47] #5559 closed, assigned to agungsugiarto

[2022-09-07 04:04] vickyrolanda commented on #5599
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1300

[2022-09-07 04:04] #5599 closed, assigned to andifahruddinakas

[2022-09-07 04:39] andifahruddinakas commented on #5601
Sebaiknya buat 1 folder untuk menyimpan data yang diperlukan pada issue. Agar hanya 1 kali beri akses saja, kalau cara saat ini agak lambat karena harus minta akses terus menerus.

[2022-09-07 05:42] vickyrolanda commented on #5591
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1298

[2022-09-07 05:42] #5591 closed, assigned to andifahruddinakas

[2022-09-07 08:37] devrakapriyo opened #5605 "Bug/error: filter arsip layanan surat tidak berfungsi"
### Jelaskan error yg dialami

beberapa tester melaporkan filter arsip layanan surat tidak berfungsi dan sudah saya cek menggunakan database desa Kesambirampak mengalami hal serupa, tetapi saya cek di dev.opendesa.id fitur filter berfungsi dengan normal

<img width="1440" alt="Screen Shot 2022-09-07 at 15 35 50" src="https://user-images.githubusercontent.com/36557759/188831913-f5d9bbd1-1674-400a-b

[2022-09-07 08:40] devrakapriyo commented on #5605
link gdrive yang bersikan database desa Kesambirampak

https://drive.google.com/drive/folders/1TwgId6d1yhGqbKvf5l5DUKD-gvBgPUSb?usp=sharing

[2022-09-07 16:13] muslimrahmany commented on #5484
Setuju, sangatt setuju

[2022-09-07 16:25] yogiperdana opened #5606 "Bug/error: input data kia ibu selain istri ( menantu, dll ) belum bisa"
### Jelaskan error yg dialami

Bug/error:  input data kia ibu selain istri ( menantu, dll ) belum bisa

### Cara untuk mereplikasi errornya

Tambah KIA di menu stunting

### Hasil yg diharapkan

Normal

### Tangkapan layar dan log error

-

### Rilis Versi OpenSID

Rilis Premium

### Versi OpenSID

v22.09

### Tema Yang Digunakan

_No response_

### Informasi tambahan

Sepertinya terjadi masalah k

[2022-09-07 16:38] yogiperdana commented on #5514
Mohon bantuan analisisnya mas @vickyrolanda apakah ini dibuatkan form input atau ada beberapa data yang bisa diambil dari modul keuangan

[2022-09-07 17:27] vickyrolanda commented on #5601
mas @devrakapriyo mohon di berikan izin ya sudah saya request.

[2022-09-07 17:32] vickyrolanda opened #5607 "Bug/error: Surat Biodata Penduduk corrupt pada saat di buka filenya."
### Jelaskan error yg dialami

saat membuka file surat muncul seperti ini : ini perlu perbaikan kemungkinan bug di isi surat sehingga membuat file menjadi corrupt.
<img width="469" alt="image" src="https://user-images.githubusercontent.com/59082428/188844645-59345a55-2a6a-40df-84c7-8bc545cf3716.png">

### Cara untuk mereplikasi errornya

-

### Hasil yg diharapkan

-

### Tangkapan layar dan log e

[2022-09-07 17:40] vickyrolanda commented on #5606
Mas saya coba test ini :  ya saat ini tidak muncul mas bsia diperbaiki.
<img width="752" alt="image" src="https://user-images.githubusercontent.com/59082428/188943221-16232924-f9c0-48c0-9090-7801ced06444.png">
1. Ibu (ibu Muncul)
<img width="545" alt="image" src="https://user-images.githubusercontent.com/59082428/188943649-d4d7899f-517b-44b2-b91a-01a6e8e7da24.png">

2. Anak (anak tidak muncul)
<im

[2022-09-07 17:44] vickyrolanda commented on #5604
Oh iya mas @andifahruddinakas terimakasih atas konfirmasihnya  saya sudah tes memang valid sy lupa bahwa kalo tte di aktifkan maka penandatangan memang harus Kepala Desa sehingga pilihan penandatangan memang harus hilang.
<img width="789" alt="image" src="https://user-images.githubusercontent.com/59082428/188944328-1d15a73a-e150-4cf8-adff-2b4badaab3bd.png">

mas @devrakapriyo jngn lupa kondisi ini

[2022-09-07 17:44] #5604 closed, assigned to andifahruddinakas

[2022-09-07 17:53] vickyrolanda commented on #5605
Untuk issue filter tidak berfungsi di bagian surat keluar :
1. Masuk layanan surat klik "Arsip" Lakukan Filter maka tidak berjalan
<img width="803" alt="image" src="https://user-images.githubusercontent.com/59082428/188944976-adbb13d2-3050-4af5-8084-1714529f39b4.png">
Sedangkan di bagian Permohonan Surat Filter berjalan dengan baik namun jika di lihat ketika berapa di permohonan surat
lalu menjala

[2022-09-07 17:56] andifahruddinakas commented on #5549
Mas @vickyrolanda, bagusnya dibuat seperti apa? apakah perlu ada yang dihilangkan, atau bagaimana?

[2022-09-07 18:02] vickyrolanda commented on #5600
mas @devrakapriyo menurut saya sebaiknya tidak digabungin.

Kalo direview ulang bahwa bagian surat favorit ini adalah surat yang sering digunakan harusnya tidak semua surat di favoritkan dan artinya harusnya sedikit saja yg bagian favorit sehingga tidak maslah tidak ada pencarian.

[2022-09-07 18:08] andifahruddinakas commented on #5296
Mas @vickyrolanda, untuk inputannya apa sebaiknya dibuat 1 inputan saja? tapi ditambahkan select disampingnya, apa menggunakan bulan/tahun.

![pencarian 1](https://user-images.githubusercontent.com/57283157/188948542-e80e75ee-a349-47b2-a133-8fd373ca149f.png)

[2022-09-07 18:39] vickyrolanda commented on #5580
Dari yang saya uji :
Jika kondisi di Draft
saya tes sudah tepat ketika surat di draft maka surat sudah dibuat namun belum di cetak dan bisa di edit, dan  ini sudah tepat karena ketika saya edit bisa dilanjutkan ke cetak.
<img width="759" alt="image" src="https://user-images.githubusercontent.com/59082428/188948421-46098780-7d9a-4a67-953f-7c47c3a04a91.png">

mas @andifahruddinakas sudah saya check

[2022-09-07 18:47] andifahruddinakas commented on #5580
bisa kirim database yang digunakan?

[2022-09-07 18:50] andifahruddinakas commented on #5607
Mas @vickyrolanda, sy coba cetak surat tsb tidak ada masalah.

[surat_bio_penduduk_5201140706966997_2022-09-08_1.zip](https://github.com/OpenSID/OpenSID/files/9508844/surat_bio_penduduk_5201140706966997_2022-09-08_1.zip)

Pastikan menggunakan template bawaan saat pengecekan.

[2022-09-08 00:11] yogiperdana commented on #5597
Halaman utama itu maksudnya home mas @andifahruddinakas?

[2022-09-08 00:23] eddieridwan commented on #5600
@vickyrolanda @devrakapriyo , digabung saja ke dalam satu tabel. Adanya tabel terpisah membingungkan sebagain pengguna. Tujuan favorit hanya untuk menandai surat yg sering digunakan. Kalau surat favorit ditampilkan di urutan teratas dengan warna berbeda akan memenuhi tujujan itu.

[2022-09-08 02:47] devrakapriyo opened #5608 "Bug/error: pengaturan footer tidak bisa diupdate"
### Jelaskan error yg dialami

Saat melakukan perubahan di pengaturan footer surat saat di klik tombol simpan perubahan tersebut tidak tersimpan

### Cara untuk mereplikasi errornya

- layanan surat
- pengaturan surat
- pengaturan
- footer

### Hasil yg diharapkan

-

### Tangkapan layar dan log error

-

### Rilis Versi OpenSID

Rilis Premium

### Versi OpenSID

v22.09-premium-rev1

### Tema Yang

[2022-09-08 03:21] vickyrolanda opened #5609 "Bug/error: Surat yang masih draft masuk ke arsip ketika migrasi ke versi 22.09"
### Jelaskan error yg dialami

Surat yang masih draft ikut masuk ke arsip ketika migrasi ke versi 22.09
![Capture](https://user-images.githubusercontent.com/89450861/188529166-ef3745a2-bf33-4554-acb8-4bd7bbf981d6.PNG)

Dari yang saya uji :

mas @andifahruddinakas sudah saya check untuk status draft ketika dari migrasi 22.08 ke 22.09 masuk ke arsip sehingga ketika di arsip dengan status draft jadi

[2022-09-08 03:23] vickyrolanda commented on #5580
mas @andifahruddinakas untuk issue ini sy ubah menjadi permintaan fiture delete dan bisa pakai solusi dari pak edi mas.
untuk bug bisa ke issue ini mas https://github.com/OpenSID/OpenSID/issues/5609

[2022-09-08 03:43] devrakapriyo opened #5610 "Panduan Mobile"

[2022-09-08 05:43] indr14 opened #5611 "Bug/error:"
### Jelaskan error yg dialami

Error SQL query:
CREATE ALGORITHM=UNDEFINED SQL SECURITY DEFINER VIEW `daftar_grup`  AS SELECT `a`.`id_grup` AS `id_grup`, `a`.`nama_grup` AS `nama_grup`, (select count(`anggota_grup_kontak`.`id_kontak`) from `anggota_grup_kontak` where `a`.`id_grup` = `anggota_grup_kontak`.`id_grup`) AS `jumlah_anggota` FROM `kontak_grup` AS `a``a`

MySQL said:
#1054 - Unknown colum

[2022-09-08 05:47] vickyrolanda commented on #5609
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1311

[2022-09-08 05:47] #5609 closed, assigned to andifahruddinakas

[2022-09-08 05:56] vickyrolanda commented on #5605
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1309

[2022-09-08 05:56] #5605 closed, assigned to andifahruddinakas

[2022-09-08 06:01] andifahruddinakas commented on #5611
Mas @devrakapriyo, cek issue ini dan konfrimasi issue ini.

[2022-09-08 06:26] andifahruddinakas opened #5612 "Foto perangkat desa"
Foto perangkat desa tidak menggunakan foto yang ada di penduduk, karena foto penduduk biasanya diambil dari foto KTP. Sedangkan foto perangkat biasanya diambil dari foto dinas perangkat desa

[2022-09-08 07:01] ruririzal commented on #5484
@eddieridwan setelah saya baca panduan dari aplikasi SIKS-NG Offline,

mengenai point no 10. dan 11. fitur import dan export ke dan dari aplikasi SIKS-NG Offline ke OpenSID, saya rasa cukup susah mengingat extensi nya bukan excel

![image](https://user-images.githubusercontent.com/28647065/189040593-9b88f7d9-69b6-4ff4-afc5-1aadc69c739b.png)
![image](https://user-images.githubusercontent.com/286470

[2022-09-08 07:03] andifahruddinakas opened #5613 "Peta legenda Penduduk"
Tidak ada yang tampil saat memilih legenda penduduk/keluarga
![peta filter penduduk](https://user-images.githubusercontent.com/57283157/189056635-f9f08ab0-2f0a-4522-af8c-9a948c57216e.png)

[2022-09-08 07:05] andifahruddinakas opened #5614 "Migrasi foto penduduk sebagian tidak sesuai dengan database"

[2022-09-08 10:28] vickyrolanda commented on #5608
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1310

[2022-09-08 10:28] #5608 closed, assigned to andifahruddinakas

[2022-09-08 11:49] FirlianiF opened #5616 "Bug/error: terjadinya error pada sidebar"
### Jelaskan error yg dialami

Sidebar selalu scroll keatas pada saat klik menu yang ada dropdown nya khusus nya dihalaman home.

### Cara untuk mereplikasi errornya

-

### Hasil yg diharapkan

seperti opensid umum.

### Tangkapan layar dan log error

-

### Rilis Versi OpenSID

Rilis Premium

### Versi OpenSID

22.09-premium rev.1

### Tema Yang Digunakan

_No response_

### Informasi tambahan

[2022-09-08 11:56] FirlianiF opened #5617 "Bug/error: tambahkan validasi di input RW"
### Jelaskan error yg dialami

saat menginput rw masih bisa di masukan kalimat seperti "RW 001", harusnya hanya masukan angka saja seperti input RT.

### Cara untuk mereplikasi errornya

1. Info Desa > Wilayah Administratif
2. Klik tombol rincian sub wilayah
3. tambah / edit data rw

### Hasil yg diharapkan

Tersimpan hanya angka saja

### Tangkapan layar dan log error

![rw](https://user-images.g

[2022-09-08 12:03] FirlianiF opened #5618 "Bug/error: tambahkan validasi di tambah / edit data wilayah administratif"
### Jelaskan error yg dialami

saat ini ketika memasukan "desa citapen" / "dusun citapen" akan tersimpan sesuai yang di input beserta sebutan desa yang di nput nya, sedangkan pada import penduduk telah divalidasi untuk value nya divalidasi jadi hanya nama desa nya saja yang tersimpan, sebutan desa nya otomatis terhapus.

### Cara untuk mereplikasi errornya

1. Info desa
2. wilayah administratif
3.

[2022-09-08 12:08] FirlianiF opened #5619 "Bug/error: impor data siskuedes terkait file ta_pemda yang membuat error"
### Jelaskan error yg dialami

Error saat impor data siskuedes terkait file ta_pemda yang membuat error,

note: laporan dari pak ariandi

### Cara untuk mereplikasi errornya

1. keuangan
2. Impor
3. Pilih file > simpan

### Hasil yg diharapkan

data dapat tersimpan dengan baik / tidak error, tidak harus di modifikasi manual file nya, karena saat ini agar berhasil data nya di modifikasi manual terl

[2022-09-08 12:11] FirlianiF opened #5620 "Permintaan fitur: Penyesuaian formulir f2-01 dengan format terbaru"
### Apa kekurangan yg ingin diatasi?

[Formulir-F2-01.pdf](https://github.com/OpenSID/OpenSID/files/9526633/Formulir-F2-01.pdf)

### Jelaskan solusi yg diinginkan

-

### Apakah ada alternatif lain

-

### Untuk versi OpenSID mana

22.08-premium rev.1

### Informasi tambahan

_No response_

[2022-09-08 12:22] FirlianiF opened #5621 "Bug/error: ttd mengetahui kosong, unduh RTF surat keterangan lahir"
### Jelaskan error yg dialami

ttd mengetahui kosong di file PDF hasil unduh RTF surat keterangan lahir
![pdf_surat_keterangan_lahir](https://user-images.githubusercontent.com/30171560/189120153-528ac66b-df13-4439-b750-64853a20abab.PNG)

### Cara untuk mereplikasi errornya

1. Layanan Surat
2. Cetak Surat
3. Surat Keterangan Kelahiran
4. Unduh RTF
5. Extract file
6. Lihat file PDFnnya

### Hasil y

[2022-09-08 12:30] vickyrolanda commented on #5598
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1301

[2022-09-08 12:30] #5598 closed, assigned to andifahruddinakas

[2022-09-08 12:34] FirlianiF opened #5622 "Bug/error: ubah external link css dan js ke local file css js tema esensi"
### Jelaskan error yg dialami

saat pengguna tidak ada koneksi internet maka hanya menampilkan loading saja, maka perlu external link css dan js di ubah ke memanggil link local css dan js

### Cara untuk mereplikasi errornya

-

### Hasil yg diharapkan

-

### Tangkapan layar dan log error

-

### Rilis Versi OpenSID

Rilis Premium

### Versi OpenSID

v22.09-premium-rev1

### Tema Yang Digunakan

[2022-09-08 12:53] FirlianiF opened #5623 "Bug/error: QR Code penanda tangan hilang"
### Jelaskan error yg dialami

saat cetak surat TinyMCE, saat di unduh file PDF yang berisikan QRCODE didalamnya menjadi hilang
![cetak_qrcode](https://user-images.githubusercontent.com/30171560/189126629-5888a8d4-5d2d-4bf6-b60c-14dd29cbdcf1.PNG)
![hasil_qrcode](https://user-images.githubusercontent.com/30171560/189126660-ef85de35-d42b-406f-be09-2b78e0139627.PNG)

### Cara untuk mereplikasi errorn

[2022-09-08 13:03] FirlianiF opened #5624 "Bug/error: cetak surat TinyMCE jika ubah font selalu muncul notif ERROR"
### Jelaskan error yg dialami

apabila kita mengubah default font ARIAL ke font lainnya di pengaturan surat, saat cetak surat selalu muncul notif ERROR

### Cara untuk mereplikasi errornya

-

### Hasil yg diharapkan

-

### Tangkapan layar dan log error

-

### Rilis Versi OpenSID

Rilis Premium

### Versi OpenSID

v22.09-premium-rev1

### Tema Yang Digunakan

_No response_

### Informasi tambaha

[2022-09-08 13:11] vickyrolanda commented on #5601
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1302

[2022-09-08 13:11] #5601 closed, assigned to andifahruddinakas

[2022-09-08 13:24] andifahruddinakas commented on #5619
Mas @devrakapriyo, sediakan cobtoh siskuedes yg error saat di impor tsb

[2022-09-08 13:53] vickyrolanda commented on #5600
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1307

[2022-09-08 13:53] #5600 closed, assigned to andifahruddinakas

[2022-09-08 14:16] vickyrolanda commented on #5001
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1305

[2022-09-08 14:16] #5001 closed, assigned to andifahruddinakas

[2022-09-08 16:21] muhtar-coder opened #5626 "Permintaan fitur: Lengkapi Identitas Desa"
### Apa kekurangan yg ingin diatasi?

Identitas desa belum lengkap

### Jelaskan solusi yg diinginkan

tersedia informasi identitas desa yang lengkap

1. penambahan info identitas desa
![image](https://user-images.githubusercontent.com/55665526/189174192-7ea7bcbe-0ea3-474a-87f1-3947be776536.png)

2. view informasi identitas desa
![image](https://user-images.githubusercontent.com/55665526/189174038

[2022-09-08 16:58] andifahruddinakas commented on #5623
Mas @devrakapriyo, pastikan di pengaturan surat sudah memilih untuk menggunakan qrcode.
![qrcode](https://user-images.githubusercontent.com/57283157/189181628-a823a97d-61f7-48cf-8a61-b89ed14446c4.png)

[surat_raw_tinymce_5201145003976995_2022-09-08_1.pdf](https://github.com/OpenSID/OpenSID/files/9528901/surat_raw_tinymce_5201145003976995_2022-09-08_1.pdf)

tambahkan ke panduan untuk memperjelas

[2022-09-08 22:27] vickyrolanda commented on #5617
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1316

[2022-09-08 22:27] #5617 closed, assigned to andifahruddinakas

[2022-09-08 22:42] vickyrolanda commented on #5618
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1315

[2022-09-08 22:42] #5618 closed, assigned to andifahruddinakas

[2022-09-08 22:51] vickyrolanda commented on #5621
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1314

[2022-09-08 22:51] #5621 closed, assigned to andifahruddinakas

[2022-09-09 02:35] devrakapriyo commented on #5623
iya mas sudah, di klik Ya

[2022-09-09 02:38] devrakapriyo commented on #5619
iya mas filenya ada di pak Ariandi, tetapi 1 file yang menyebabkan bug saat import sudah di replace dengan file yang benar sehingga tidak terjadi bug

coba saya followup ke pak Ariandi untuk diminta file yang saat di import menyebabkan bug

[2022-09-09 02:52] devrakapriyo commented on #5611
pak @indr14 terkait issue ini maksudnya seperti apa ya? apakah solusi bug pada saat migrasi atau seperti apa ya?
dan untuk opensid premium atau umum?

[2022-09-09 02:55] indr14 commented on #5611
erros pada saat import database di phpmyadmin

[2022-09-09 03:01] devrakapriyo commented on #5611
tolong kirimkan databasenya ke saya langsung melalui telegram ya pak, username telegram @rakapriyo

[2022-09-09 03:24] vickyrolanda commented on #5484
DFD dari mas @ruririzal
![schemaDTKS](https://user-images.githubusercontent.com/59082428/189265861-f108047f-7b64-440e-b170-e10e3f913cba.jpg)

[2022-09-09 03:56] andifahruddinakas commented on #5623
cek di https://berputar.opendesa.id/

[2022-09-09 05:42] mranca commented on #5626
Setuju

[2022-09-09 08:24] tobagus6911 opened #5627 "Permintaan fitur: Pengaturan Surat (menambah DIskripsi masing-masing jenis surat)"
### Apa kekurangan yg ingin diatasi?

Menambahkan Deskripsi / Uraian untuk masing-masing surat yang bertujuan untuk mempermudah masyarakat dalam memilih surat keterangan / ijin yang dibutuhkan terutama dalam LAYANAN MANDIRI.

### Jelaskan solusi yg diinginkan

di tampilkan juga dalam Layanan Mandiri

### Apakah ada alternatif lain

-

### Untuk versi OpenSID mana

Premium yang terbaru

### Informa

[2022-09-09 09:58] vickyrolanda commented on #5614
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1317

[2022-09-09 09:58] #5614 closed, assigned to andifahruddinakas

[2022-09-09 10:21] vickyrolanda commented on #5619
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1319

[2022-09-09 10:21] #5619 closed, assigned to nobody

[2022-09-09 19:08] Gunturwijay opened #5628 "[TinyMCE] Tambahkan Pengaturan Ganti Logo pada Template Surat TinyMCE"
Logo surat yang digunakan selama ini berbeda dengan logo yang ada di sistem. pada template rtf dapat di edit manual, pada surat  TinyMCE belum dapat diedit

![image](https://user-images.githubusercontent.com/40741591/189424689-326a41ec-78e0-4122-aa34-5433b4c8cb46.png)

![image](https://user-images.githubusercontent.com/40741591/189425452-420ec85c-e0d4-4114-b48b-29e0de3d16d6.png)

[2022-09-10 03:54] vickyrolanda commented on #5613
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1318

[2022-09-10 03:54] #5613 closed, assigned to andifahruddinakas

[2022-09-10 11:26] eddieridwan opened #5629 "Permintaan fitur: Pengelolaan struktur organisasi terpisah dari perangkat desa"
### Apa kekurangan yg ingin diatasi?

Saat ini daftar jabatan perangkat desa diisi bebas, kecuali kepala desa dan sekretaris desa. Yaitu setiap desa perlu mengisi sendiri2 pada pengelolaan perangkat desa, sehingga bisa tidak konsisten.

### Jelaskan solusi yg diinginkan

Ikuti contoh pengelolaan struktur organisasi di Sideka-NG. Videonya bimbingan teknisnya ada di https://www.youtube.com/watch?v=u

[2022-09-10 13:41] vickyrolanda commented on #5595
Sudah diselesaikan di PR https://github.com/OpenSID/premium/pull/1306

[2022-09-10 13:41] #5595 closed, assigned to andifahruddinakas

[2022-09-10 16:41] mah-mudi opened #5630 "Permintaan fitur: [PREMIUM] Modul BPD, BUMDesa dan Badan Kerjasama Antar Desa"
### Apa kekurangan yg ingin diatasi?

Bahwa berdasarkan Pasal 1 Peraturan Komis Informasi Nomor 1 tahun 2018 tentang Standar Layanan Informasi Publik Desa bahwa **Badan Publik Desa** adalah Pemerintah Desa, Badan Permusyawaratan Desa, Badan Usaha Milik Desa dan Badan Kerjasama Antar Desa.
Sehingga diharapkan Website Sistem Informasi Desa dapat menampung segala informasi Badan Publik Desa.

**Apa k