[2022-01-05 05:22] Zoel-WB commented on #4680
cc: Pak @eddieridwan
1. source code origina : konvergensi-stunting-master.zip
2. source code revisi : Stunting.zip

Login untuk Stunting.zip
Login Admin :  admin@mail.com, password : 85102947
Login User  :  user@mail.com, password : 85102947
Google Drive : https://drive.google.com/drive/folders/1Xk_xepTGl2cz5Jmuj7A0DoGqG7nVOjnr?usp=sharing

[2022-01-05 05:33] eddieridwan commented on #4680
@Zoel-WB , yang asli diperoleh dari mana? Ada url githubnya?

[2022-01-05 05:46] eddieridwan commented on #4674
@scqolbu24 , saya telah pelajari contoh yg lain. Mohon pesan diubah, yg berlaku pada kasus gagal maupun berhasil sama saja. Dengan cara ini, privasi data aman, dan juga diberi penjelasan langkah jika gagal.

Pesan sebagai berikut:

Juga sebaiknya batasi klik Lupa Pin paling banyak 3 kali berturut-turut. Sesudah itu dikunci selama x menit. Ikuti aturan di login Layanan Mandiri.

Di notifikasi yg di

[2022-01-05 10:51] Zoel-WB commented on #4680
Ada Pak @eddieridwan ini alamat reponya : https://github.com/raflyfirdausy/konvergensi-stunting

[2022-01-06 02:52] agungsugiarto commented on #4668
sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/560

[2022-01-06 02:52] #4668 closed, assigned to scqolbu24

[2022-01-06 03:27] agungsugiarto opened #4689 "Pengaturan untuk menonaktifkan sms"

[2022-01-06 03:42] rullydamara opened #4690 "Permintaan fitur: Izinkan penggunaan Huruf dalam Klasifikasi Surat"
### Apa kekurangan yg ingin diatasi?

pada klasifikasi surat hanya bisa diisi oleh angka dan titik, namun untuk di kabupaten saya ada format klasifikasi yang berbeda dan menggunakan kombinasi huruf.angka.angka.

misalkan pada gambar dibawah ini
![Screenshot (318)](https://user-images.githubusercontent.com/45301948/148324571-86a65087-9de8-4a0c-8abf-4f47e823fb9a.png)

tidak bisa input
![Screenshot (

[2022-01-06 04:09] ai-skematik opened #4691 "Permintaan fitur: Tampikan informasi publik pada halaman anjungan"
### Apa kekurangan yg ingin diatasi?

Saat ini halaman anjungan hanya berisi form login layanan mandiri sehingga perlu penambahan fungsi seperti dapat menampilkan informasi publik (keuangan, berita desa dan data statistik desa)

### Jelaskan solusi yg diinginkan

Pada halaman anjungan selain form login layanan mandiri juga dapat menampilkan informasi publik (keuangan, berita desa dan data statisti

[2022-01-06 04:33] balongbesuk commented on #4691
gak sekalian website desa d tampilkan d anjungan 😄

[2022-01-06 04:52] scqolbu24 commented on #4674
sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/562

[2022-01-06 04:52] #4674 closed, assigned to scqolbu24

[2022-01-06 06:07] ai-skematik commented on #4691
biar ada pembeda antara tampilan anjungan dan website.

[2022-01-06 06:37] scqolbu24 opened #4692 "Hapus Tanggal Verifikasi Telegram dan Email"
### Apa kekurangan yg ingin diatasi?

Issue ini terjadi setelah akun telegram dan akun email telah diverifikasi.
Kemudian akun telegram dan akun email diubah, maka tanggal verifikasi dihapus agar akun telegram dan email yang baru harus melalui verifikasi kembali.

### Jelaskan solusi yg diinginkan

Akun telegram dan Email harus diverifikasi sebagai validasi akun dan sebagai keamanan bagi pengguna.

[2022-01-06 10:21] eddieridwan commented on #4637
Tugas ini dikerjakan Nurudin.

[2022-01-06 17:03] Zoel-WB commented on #4534
link scripts versi laravel : https://drive.google.com/file/d/1avHDQjs5W_Qkw3n9RfC-ju1vYiEULR29/view?usp=sharing

[2022-01-07 02:22] totoprayogo1916 opened #4695 "Permintaan fitur: form komentar berdiri sendiri"
### Apa kekurangan yg ingin diatasi?

form komentar sebaiknya berdiri sendiri,
jadi tidak include oleh tema

### Jelaskan solusi yg diinginkan

sama seperti form login (siteman)

### Apakah ada alternatif lain

tidak

### Untuk versi OpenSID mana

*

### Informasi tambahan

_No response_

[2022-01-07 10:39] eddieridwan commented on #4680
Bung @Zoel-WB , saya lihat aplikasi stunting ini CI 3.1.8, bukan Laravel? Betul?

[2022-01-07 10:48] Zoel-WB commented on #4680
Benar Pak @eddieridwan Stunting itu memang CI.3 pak

[2022-01-08 14:56] andifahruddinakas opened #4700 "Bug/error: Pencarian dan pengurutan di modul buku kader tidak berjalan"
### Jelaskan error yg dialami

Terjadi error saat melakukan pencarian atau pengurutan.

### Cara untuk mereplikasi errornya

buka modul buku kader dan lakukan pencarian/pengurutan data

### Hasil yg diharapkan

tidak terjadi error

### Tangkapan layar dan log error

![anu](https://user-images.githubusercontent.com/57283157/148648893-dd0c6504-76f3-474a-a8a3-188b796ef4b2.png)

### Rilis Versi OpenSI

[2022-01-09 08:35] langonsari opened #4701 "Bug/error: Pesan Masuk, Balas Pesan dan Pesan Keluar Layanan Mandiri"
### Jelaskan error yg dialami

Error Pengriman Pesan, Balasan, Pesan Keluar dari Layanan Mandiri dikarenakan Duplicate entry '0' for key 'PRIMARY'

### Cara untuk mereplikasi errornya

dihalaman Layanan Mandiri Kotak Masuk ataupun Kotk Keluar,
Cek database komentar 'id' 0

### Hasil yg diharapkan

Perbaikan dalam Pengecekan 'id' Komentar

### Tangkapan layar dan log error

![image](https://user-im

[2022-01-09 10:01] Zoel-WB commented on #4641
Betul pak, kalau yg difilter data vaksin dosis 2, tentu data vaksin dosis satu tetap tampil, tidak kosong kolomnya bagi yg sudah divaksin dosis dua. Begitu juga dgn data warga yg telah divaksis dosis tiga, data2 pada kolom dosis satu maupun kolom dosis kedua tetap tampil.

[2022-01-09 10:29] WAHYUDIK opened #4702 "Bug/error: Audio di layanan mandiri login tidak bersuara"
### Jelaskan error yg dialami

setelah mencoba menambahkan video di pengaturan layanan mandiri, sukses menampilkan videonya akan tetapi audio pada video tidak bersuara.

### Cara untuk mereplikasi errornya

pergi ke halaman menu Layanan Mandiri>Pengaturan>
![image](https://user-images.githubusercontent.com/31026980/148678376-0c04deee-f766-4e7e-9281-55dd484ef53e.png)

### Hasil yg diharapkan

di lo

[2022-01-09 12:51] Nurhidayat29 commented on #4701
saya coba di (https://berputar.opensid.or.id/layanan-mandiri/) tidak menemukan bug tersebut

[2022-01-09 14:05] andifahruddinakas commented on #4702
@FirlianiF, tambahkan pengaturan aktifkan sura jika pilihannya adalah video.

[2022-01-09 14:06] andifahruddinakas commented on #4701
Silahkan perbaiki struktur database anda, itu krn primary key di kolom id terhapus.

[2022-01-09 14:06] #4701 closed, assigned to nobody

[2022-01-09 23:20] azzamy-bendungan opened #4703 "Penambahan kolom Penyusutan di Menu Sekretariat -> Inventaris, khususnya pada KIB B, C, D dan E"
### Apa kekurangan yg ingin diatasi?

Pada inventarisasi Aset Desa, setiap tahun aset-aset desa mengalami penyusutan nilai, dan pada menu inventaris belum ada kolom untuk input penyusutan nilai barang/aset

### Jelaskan solusi yg diinginkan

tambahkan kolom Penyusutan nilai barang, yang memuat Nilai Penyusutan sd Tahun lalu, penyusutan di tahun berjalan, akumulasi penyusutan, dan nilai akhir buku.

[2022-01-10 03:13] agungsugiarto opened #4704 "Bug/error: Error impor database awal"
### Jelaskan error yg dialami

Terjadi error migrasi database awal

### Cara untuk mereplikasi errornya

impor database contoh

### Hasil yg diharapkan

-

### Tangkapan layar dan log error

-

### Rilis Versi OpenSID

Rilis Premium

### Versi OpenSID

v22.01-rev01

### Tema Yang Digunakan

_No response_

### Informasi tambahan

_No response_

[2022-01-10 04:33] andifahruddinakas commented on #4677
Silahkan cek dan duplikasi di https://berputar.opensid.or.id/, sy coba melakukan hal yang sama tp tdk bisa di duplikasi. Yang sy temukan adalah data rtm tetap muncul walau penduduk tsb sudah meninggal sesuai issue https://github.com/OpenSID/OpenSID/issues/4676.

Bisa di cek ulang @scqolbu24

[2022-01-10 04:40] Zoel-WB commented on #4704
Iya benar Pak, kmaren pernah terjadi juga pada salah satu pelamggan baru premium, saat mengimport database awal dari database bawaan system premium v22.01 Rev01, kemudian terakhir saya arahkan untuk menggunakan dari data contoh bawaan database Premium V21.12 Rev03 baru berhasil.

[2022-01-10 05:23] Zoel-WB commented on #4703
Apakah ada perbedaan dengan istilah Mutasi
![image](https://user-images.githubusercontent.com/64481641/148721449-47077344-5933-47b9-8e70-3d84d94c3bf5.png)
![image](https://user-images.githubusercontent.com/64481641/148721456-c305c208-7284-4555-9d8b-3357b31cf203.png)

[2022-01-10 05:42] Zoel-WB commented on #4703
Mungkin barang kali bisa berbeda ya, kalau mutasi cuma sekali dari tahun sebelumnya ke tahun selanjutnya, kalau penyusutan berjalan sesuai dengan masa pakai iventaris, bila ditinjau dari sisi ini mungkin butuh mutasi lagi ke tahun berikutnya lagi dari mutasi sebelumnya untuk mendata perkiraan nilai asset tiap tahun berjalan.

[2022-01-10 08:06] #4641 closed, assigned to apidong

[2022-01-10 08:40] #1759 closed

[2022-01-10 08:41] andifahruddinakas commented on #1759
Sudah digabung ke `PREMIUM` melalui PR https://github.com/OpenSID/premium/pull/567

[2022-01-10 10:50] muhtar-coder opened #4705 "Menu Cetak laporan vaksin belum normal"
### Jelaskan error yg dialami

Ketika kita mencetak laporan penduduk di menu vaksin, data yg tampil dan tercetak hanya sejumlah pada halaman tersebut,pada tabel filter jumlah hanya tersedia maksimal 200 data yang ditampilkan.

### Cara untuk mereplikasi errornya

Masuk menu covid-19 >> menu vaksin >> daftar penerima kemudian ubah kolom tampilkan menjadi yg terbanyak misal 200 >> masuk ke laporan p

[2022-01-10 12:25] Zoel-WB commented on #4705
Pada berputar pada Fitur "Laporan Penduduk" saat memilih Cetak-->Data yang tampil dihasil cetak 50 Data, apakah memang ada filter tertentu mungkin batas usia yg telah ditentukan.

Atau bila mungkin menambah pilihan Filter Umur....

Hasil Test, dari Website Berputar, memilih Fitur Laporan Penduduk dari jumlah data 97 Data, saat di pilih cetak yg tampil hanya 50 data saja.
![image](https://user-imag

[2022-01-10 12:28] Zoel-WB commented on #4705
Juga pada Pilihan Unduh data, data yg ter-unduh juga 50 data, sedangkan data-nya 97 data
Screensote Hasil Unduh Data
![image](https://user-images.githubusercontent.com/64481641/148765963-0ffed624-dee2-4b87-806b-7e62c311c599.png)

[2022-01-10 12:47] Zoel-WB commented on #4705
Barusan juga telah saya coba input 3 data, satu data untuk vaksin dosis satu,  satu data vaksin dosis 2, satu data vakasin dosis 3

Tampilan di Layar pada fitur Rekap

![image](https://user-images.githubusercontent.com/64481641/148768098-b3e76480-b2a8-4e2e-940b-9edfa5891517.png)

Harusnya tampil-nya seperti berikut :
![image](https://user-images.githubusercontent.com/64481641/148768199-77359806-44

[2022-01-10 23:34] scqolbu24 commented on #4636
sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/572

[2022-01-10 23:34] #4636 closed, assigned to FirlianiF

[2022-01-11 00:36] FirlianiF commented on #4635
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/565

[2022-01-11 00:46] #4635 closed, assigned to nobody

[2022-01-11 02:26] scqolbu24 commented on #4676
sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/577

[2022-01-11 02:26] #4676 closed, assigned to andifahruddinakas

[2022-01-11 03:02] scqolbu24 commented on #4690
sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/575

[2022-01-11 03:02] #4690 closed, assigned to FirlianiF

[2022-01-11 03:50] andifahruddinakas commented on #4705
Terima kasih pak Zoel, issue ini saya tutup karena sudah diperbaiki melalui

pr: https://github.com/OpenSID/premium/pull/564, https://github.com/OpenSID/premium/pull/569
issue: https://github.com/OpenSID/OpenSID/issues/4641

[2022-01-11 03:51] #4705 closed, assigned to nobody

[2022-01-11 06:43] agungsugiarto commented on #4700
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/570

[2022-01-11 06:43] #4700 closed, assigned to andifahruddinakas

[2022-01-11 06:50] agungsugiarto commented on #1760
Sudah masuk ke rilis premium melalui pr https://github.com/OpenSID/premium/pull/540

[2022-01-11 06:50] #1760 closed

[2022-01-11 07:11] scqolbu24 commented on #4675
sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/574

[2022-01-11 07:11] #4675 closed, assigned to andifahruddinakas

[2022-01-11 08:02] agungsugiarto commented on #4521
Sudah masuk ke rilis premium melalui pr https://github.com/OpenSID/premium/pull/571

[2022-01-11 08:02] #4521 closed, assigned to FirlianiF

[2022-01-11 12:27] helmibaguswara commented on #4704
Ada kesalahan dalam pemasangan OpenSID
Aplikasi tidak bisa terhubung ke database.
Silakan salin/tempel folder desa-contoh sebagai folder desa dan periksa isi berkas desa/config/database.php.

[2022-01-11 15:56] #4677 closed, assigned to nobody

[2022-01-11 17:30] Zoel-WB commented on #4704
Ada migrasi tak berjalan pada query "column suku" pada table tweb_penduduk untuk contoh_data_awal premium 22.01

[2022-01-11 23:08] azzamy-bendungan commented on #4703
iya pak, berbeda.
mungkin bisa ditambahkan kolom isian untuk penyusutan itu,
kalau bisa otomatis berubah otomatis seiring dengan bergantinya tahun.
atau di beri kolom input manual, dan tiap tahun di klik edit barang, bisa memasukkan nilai penyusutannya

[2022-01-12 05:20] agungsugiarto commented on #4646
Pak @ai-skematik bisa dijelaskan, maksud dari duplikat ini berdasarkan dari data apa ?

[2022-01-12 06:40] agungsugiarto commented on #4580
Pak @eddieridwan apakah issue ini masih diperlukan? karena sudah ada cron job untuk mereset database setiap jam 1 dini hari dan solusi untuk mencatat ip address saya rasa tidak efektif karena pasti akan berubah2.

[2022-01-12 06:58] ai-skematik commented on #4646
duplikat itu digunanakan menduplikat data pada periode sebelumnya. jd pada periode yg baru sudah terisi kuisionernya dengan isian yang sama dengan periode sebelumnya.

[2022-01-12 07:00] ai-skematik commented on #4646
sehingga pada periode yg baru tidak perlu menginput semua kuisioner cukup merubah pada bagian2 yg memgalami perubahan.

[2022-01-12 07:03] agungsugiarto commented on #4646
Baik pak sudah diperbaiki

[2022-01-12 07:10] scqolbu24 commented on #4631
sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/593

[2022-01-12 07:10] #4631 closed, assigned to andifahruddinakas

[2022-01-12 07:21] ariandii opened #4706 "Permintaan fitur: Notifikasi Pengaduan"
### Apa kekurangan yg ingin diatasi?

Belum adanya pemberitahuan jika terdapat Pengaduan Baru dari warga atau non warga melalui Halaman Pengaduan di website desa.

### Jelaskan solusi yg diinginkan

Tersedianya notifikasi ke operator desa maupun ke group Pemerintah Desa melalui Telegram, Email, atau lainnya agar jika ada Aduan Baru dapat segera ditindaklanjuti secara langsung.

### Apakah ada alte

[2022-01-12 07:32] ariandii opened #4707 "Permintaan fitur: Captcha untuk form Pengaduan"
### Apa kekurangan yg ingin diatasi?

Belum adanya captcha pada saat ajukan Pengaduan pada halaman website.

### Jelaskan solusi yg diinginkan

Tersedia captcha, untuk menghindari span atau bom pengaduan.

### Apakah ada alternatif lain

Selain captcha, bisa ditambah batas aduan dalam 1 waktu, juga untuk menghindari bom aduan.

Misal 1 pengunjung hanya bisa 1 aduan atau 2 aduan saja.

### Untuk ve

[2022-01-12 07:52] agungsugiarto commented on #4704
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/594

[2022-01-12 07:52] #4704 closed, assigned to agungsugiarto

[2022-01-12 08:05] #4646 closed, assigned to agungsugiarto

[2022-01-12 09:01] eddieridwan commented on #4664
@FirlianiF

Yg wajib KTP adalah orang yg:

- sdh berumur 17 tahun ke atas; atau
- sdh menikah (yaitu status nikah bukan 'belum nikah'

ref: https://dukcapil.kulonprogokab.go.id/detil/164/mengapa-harus-memiliki-ktp-elektronik-ktp-el

Issue ini tidak jelas apa masalahnya. Perlu tanyakan bung @scqolbu24 siapa yg melaporkan untuk mendapatkan penjelasan.

[2022-01-12 09:11] #4632 closed, assigned to andifahruddinakas

[2022-01-12 09:43] agungsugiarto commented on #4664
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/597

[2022-01-12 09:43] #4664 closed, assigned to FirlianiF

[2022-01-12 09:52] emanuel-simon commented on #4706
setuju dengan issue ini,
dibuat seperti pemberitahuan bot Telegram setiap ada yang log in di siteman

[2022-01-12 11:06] eddieridwan commented on #4580
@agungsugiarto , ok sementara dikeluarkan dari target 22.02, menunggu perkembangan setelah diterapkan proses reset database demo setiap hari. Jika masalahya timbul lagi. maka issue ini perlu ditargetkan lagi.

[2022-01-12 12:46] rejoasri opened #4708 "Permintaan fitur : Optimalisasi kecepatan website"
### Apa kekurangan yg ingin diatasi?

Optimalisasi Kecepatan Website

### Jelaskan solusi yg diinginkan

Kompresi pada IMG yang disubmit

### Apakah ada alternatif lain

Panduan Size IMG untuk user pemula agar lebih presisi dismua layar

### Untuk versi OpenSID mana

22.1

### Informasi tambahan

View pengujian :
https://pagespeed.web.dev/report?url=https%3A%2F%2Frejoasri.id%2F
https://pagespeed.w

[2022-01-12 13:05] balongbesuk commented on #4708
buset rata rata 1 mb  imagenya 😄

[2022-01-12 15:03] #4667 closed, assigned to nobody

[2022-01-12 15:03] #4695 closed, assigned to nobody

[2022-01-12 15:03] #4672 closed, assigned to nobody

[2022-01-13 01:40] balongbesuk opened #4709 "Bug/error: bagan menu pencarian ketika tombol keyboard enter muncul blankpage"
### Jelaskan error yg dialami

ketika mencari nama penduduk d menu pencarian kemudian tekan tombol enter keyboard muncul blankpage

### Cara untuk mereplikasi errornya

buka menu kependudukan / keluarga > cari penduduk > masukkan nama > enter tombol keyboard > muncul blankpage

### Hasil yg diharapkan

bisa menggunakan kombol keyboard fisik tanpa tekan tombol pencarian di menu pencarian

### Tangk

[2022-01-13 01:43] balongbesuk commented on #4709
![Untitled](https://user-images.githubusercontent.com/35319600/149250703-cb3839f8-0609-48f1-b742-2ea9a0e4ed50.png)

[2022-01-13 04:18] andifahruddinakas commented on #4709
Cek @scqolbu24

[2022-01-13 05:38] scqolbu24 opened #4710 "[Layanan Mandiri] Kirim Pin Baru Melalui Email"
### Apa kekurangan yg ingin diatasi?

Saat ini untuk mengirim PIN Baru hanya tersedia melalui kirim melalui telegram yang telah diverifikasi.
issue ini merupakan lanjutan dari issue : [[Layanan Mandiri] Penambahan Fitur Kirim PIN baru melalui email/Telegram ke warga #3663 ](https://github.com/OpenSID/OpenSID/issues/3663)

### Jelaskan solusi yg diinginkan

Dapat mengirim pesan PIN baru ke email ya

[2022-01-13 05:47] scqolbu24 opened #4711 "[Layanan Mandiri] Kirim Verifikasi Melalui Email Pada Saat Pendaftaran"
### Apa kekurangan yg ingin diatasi?

Saat ini di pendaftaran layanan mandiri baru tersedia verifikasi telegram untuk validasi.
issue ini merupakan lanjutan dari issue : [[Layanan Mandiri] Pendaftaran Layanan Mandiri #1760](https://github.com/OpenSID/OpenSID/issues/1760).

### Jelaskan solusi yg diinginkan

Melakukan verifikasi email.

### Untuk versi OpenSID mana

v22.02-premium

### Informasi ta

[2022-01-13 06:07] andifahruddinakas commented on #4680
Gunakan https://github.com/EFTEC/BladeOne

[2022-01-13 06:34] FirlianiF commented on #4353
sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/599

[2022-01-13 06:34] #4353 closed

[2022-01-13 07:41] scqolbu24 commented on #4350
sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/584

[2022-01-13 07:41] #4350 closed

[2022-01-13 09:37] rejoasri commented on #4708
Iya pak, makanya perlu adanya panduan size img biar lebih wuss

[2022-01-13 11:17] langonsari commented on #4225
Untuk Formulir Kependudukan terbaru itu sesuai dengan Permendagri 109 Tahun 2019 tentang Formulir dan Buku yang digunakan dalam Administrasi Kependudukan.
https://peraturan.bpk.go.id/Home/Details/138575/permendagri-no-109-tahun-2019
termasuk Formulir-formulir Kependudukan yang lainnya sudah mulai menyesuaikan dengan Permendagri 109 Tahun 2019

[2022-01-13 17:44] rudiansyahyunanda opened #4712 "Layanan Mandiri Kembali Kehalaman Web Utama Saat Logout"
pada dasarnya website kita digunakan untuk menampilkan informasi. sementara form login hanya digunakan untuk yang memiliki akses saja.

ini sangat berpengaruh saat di anjungan.
ketika warga logout kembali ke halaman login. anjungan ditinggal dan masih menampilkan halaman login layanan mandiri.

Ada baiknya dikembalikan ke halaman web utama seperti logout admin setelah logout agar kembali menampilk

[2022-01-14 01:30] andifahruddinakas commented on #4702
https://github.com/OpenSID/premium/pull/598

[2022-01-14 01:30] #4702 closed, assigned to FirlianiF

[2022-01-14 01:48] andifahruddinakas commented on #4709
Sy cek tdk ada masalah di umum dan berputar
![coba2](https://user-images.githubusercontent.com/57283157/149437420-345c7c7a-13a9-4e85-b67f-d551f0993578.png)

silahkan dibuka kembali jika mengalami kendala yang sama.

[2022-01-14 01:48] #4709 closed, assigned to nobody

[2022-01-14 03:38] balongbesuk commented on #4709
cara mereplikasi errornya

d kotak pencarian > ketik nama  > kemudian tekan enter keyboard bukan tombol cari di kotak pencarian

bug akan diarahkan ke blank page yang alamat webny https://demo.opensid.or.id/penduduk/filter/cari

[2022-01-14 03:43] balongbesuk commented on #4709
sy cb d chrome lancar mungkin karenan addon firefox

closed

[2022-01-14 07:19] ariandii opened #4713 "Permintaan fitur: Informasi Penerima Bantuan Tertentu Pada Periode Tertentu"
### Apa kekurangan yg ingin diatasi?

Saat ini hanya bisa tampil Penerima Bantuan di website desa yang berstatus aktif pada tahun berjalan.

Sebagai contoh ketika Penerima BLT Tahun Lalu sudah tidak tampil di Tahun ini, sehingga kesan transparansinya menjadi tidak terwujud.

Sebagai gambaran:
<img width="960" alt="screenshot_154" src="https://user-images.githubusercontent.com/46939846/149467005-9a

[2022-01-14 10:05] agungsugiarto commented on #4612
Sudah di fitur premium melalui pr https://github.com/OpenSID/premium/pull/591

[2022-01-14 10:05] #4612 closed, assigned to scqolbu24

[2022-01-14 11:28] agungsugiarto opened #4714 "Bug/error: Tidak bisa menghapus artikel"
### Jelaskan error yg dialami

Tidak bisa menghapus artikel

### Cara untuk mereplikasi errornya

1. Pergi ke halaman Admin Web / Artikel
2. Klik tombol hapus
4. Lihat error

### Hasil yg diharapkan

Berhasil menghapus artikel

### Tangkapan layar dan log error

-

### Rilis Versi OpenSID

Rilis Premium

### Versi OpenSID

v22.01-rev02

### Tema Yang Digunakan

_No response_

### Informasi tambaha

[2022-01-14 12:45] muhtar-coder commented on #4225
Mantap...👍🏻👍🏻👍🏻

[2022-01-15 00:57] dikisiswanto opened #4715 "Permintaan fitur: Tambahkan fitur kustomisasi warna tema web"
### Apa kekurangan yg ingin diatasi?

Belum ada fitur ini. Praktik yang dijalankan saat ini pengguna perlu mengubah kode pada tema secara langsung.

Fitur yang diinginkan mirip _customizer_ pada platform WP atau Blogger.

### Jelaskan solusi yg diinginkan

Adanya fitur ini diharapkan membantu pengguna untuk melakukan perubahan warna tema web tanpa harus bersinggungan dengan kode secara langsung. W

[2022-01-15 01:02] FirlianiF commented on #4430
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/600

[2022-01-15 01:03] #4430 closed, assigned to FirlianiF

[2022-01-15 01:07] dikisiswanto opened #4716 "Permintaan fitur: Suplai data statistik yang tersedia ke halaman statistik web"
### Apa kekurangan yg ingin diatasi?

Data ini untuk kebutuhan navigasi pada tema. Sebenarnya bisa ditulis manual, tetapi akan lebih mudah apabila datanya disediakan. Jika di kemudian hari ada tambahan, tidak perlu menambahkan secara manual.

### Jelaskan solusi yg diinginkan

![image](https://user-images.githubusercontent.com/22239074/149602935-00951b76-b426-43e0-994d-53206733fd60.png)

### Apaka

[2022-01-15 02:28] balongbesuk commented on #4712
jadi gak guna fitur screen saver opensidnya 😄

[2022-01-15 02:35] balongbesuk commented on #4716
wah setuju 👍

[2022-01-15 07:34] eddieridwan commented on #4712
Bung @rudiansyahyunanda , jika itu yg anda butuhkan,  buka saja web desa langsung di 'anjungan'. Dan tidak perlu daftarkan sebagai anjungan. Yaitu biarkan 'anjungan' itu berperan seperti halnya laptop atau HP biasa.

Anjungan dimaksudkan untuk fungsi yg berbeda, bukan sebagai web desa. Melainkan sebagai gawai layanan. Yaitu fitur2 yg disediakan dimaksudkan bukan untuk warga yg akan berlama-lama di

[2022-01-15 07:39] eddieridwan commented on #4712
@rudiansyahyunanda silakan tutup issue ini jika penjelasan di atas menjawab kebutuhan anda.

[2022-01-15 12:34] #4665 closed, assigned to nobody

[2022-01-15 13:02] alexdam6 opened #4717 "Layanan Mandiri Daftar Mandiri Untuk Warga yang Sudah terdata di database,"
### Apa kekurangan yg ingin diatasi?

Dilayanan Mandiri Masyarakat bila ingin membuka layanan mandiri harus terhubung terlebih dahulu dengan Operator Meminta PIN, TErkadang Operator lama membalas sehingga masyarakat mengeluh dengan layanan mandiri terhambat dengan lamanya balasan dari Operator.

### Jelaskan solusi yg diinginkan

Dilayanan Mandiri Masyarakat yang sudah terdata bisa mendaftarkan di

[2022-01-16 15:30] ariandii opened #4718 "Bug/error: Gagal Tampil Halaman Website"
### Jelaskan error yg dialami

Ketika akses halaman website berdasarkan kategori, maka akan gagal akses ketika klik halaman selanjutnya.

### Cara untuk mereplikasi errornya

Masuk halaman Kategori.
https://berputar.opensid.or.id/artikel/kategori/berita-desa

Lalu klik halaman 2 dan seterusnya, maka akan error 404
Karena halaman kedua link menjadi:
https://berputar.opensid.or.id/kategori/berita-de

[2022-01-17 04:03] afri18 opened #4719 "Penduduk datang lagi"
### Jelaskan error yg dialami

saat entri penduduk datang terdeteksi NIK sudah digunakan, tadinya sudah pindah dan sekarang datang lagi hanya problemnya tidak bisa di input sebagai penduduk datang karna NIK sudah ada di Table tweb_penduduk hanya saja tercatat sebagai penduduk pindah

### Cara untuk mereplikasi errornya

sebaiknya penduduk yang pindah datanya dipindahkan di tabel log_pindah, jadi s

[2022-01-17 04:29] totoprayogo1916 opened #4720 "Bug/error: securimage tidak tampil?"
### Jelaskan error yg dialami

Securimage tidak tampil

### Cara untuk mereplikasi errornya

buka saja: https://berputar.opensid.or.id/artikel/2016/8/26/wilayah-desa

### Hasil yg diharapkan

mestinya tampil securimage

### Tangkapan layar dan log error

![image](https://user-images.githubusercontent.com/2387514/149708101-eeb8104a-db23-46ba-ab9e-6d189f0e4792.png)

### Rilis Versi OpenSID

Rilis Pr

[2022-01-17 04:55] ariandii commented on #4720
Informasi tambahan.
Hal tersebut normal jika menggunakan tema lain (klasik dan denatra).

<img width="623" alt="image" src="https://user-images.githubusercontent.com/46939846/149710122-dac57d16-d8bd-48d8-909f-a03489364d12.png">

<img width="617" alt="image" src="https://user-images.githubusercontent.com/46939846/149710062-16ffbfae-8357-482f-9109-62137e7c5e3b.png">

[2022-01-17 04:56] ariandii commented on #4719
bisa lakukan hal tersebut melalui Log Penduduk untuk kembalikan penduduk yg pindah datang kembali.

<img width="593" alt="image" src="https://user-images.githubusercontent.com/46939846/149710247-42cbce8b-f6ec-4424-a69d-0ed2b61e0dc0.png">

[2022-01-17 05:09] totoprayogo1916 commented on #4720
berarti ...
masalahnya ada di temanya ...

[2022-01-17 06:10] aseppakot opened #4721 "Bug/error: Di Layanan mandiri"
### Jelaskan error yg dialami

Bug/error: Di Layanan mandiri, setelah login baru, ganti password masih muncul notif telah dirubah password tetapi jadi logour

### Cara untuk mereplikasi errornya

1. buka login layanan mandiri
2. masukan NIK dan PIN
3. muncul notif ganti PIN
4. PIN Sudah diganti kemudian Keluar
5. Pas masuk muncul PIN Sudah diganti
6. muncul lagi notif kemudian keluar lagi
7. dan l

[2022-01-17 07:01] #4714 closed, assigned to agungsugiarto

[2022-01-17 07:21] #4606 closed, assigned to nobody

[2022-01-17 07:34] andifahruddinakas commented on #4606
Sudah digabung melalui PR https://github.com/OpenSID/premium/pull/587

[2022-01-17 09:37] afri18 commented on #4719
@ariandii  kalau melakukan "KEMBALI" tidak tercatat sebagai penduduk datang, dan catatan riwayat pernah pindahnya hilang/nggak ada

[2022-01-18 03:40] andifahruddinakas opened #4722 "[Pesan] Kotak pesan"

[2022-01-18 04:00] ariandii opened #4723 "Bug/error: Kode Warna Bermasalah"
### Jelaskan error yg dialami

Ketika memilik warna menggunakan pointer yg tersedia, maka tercipta kode seperti rgba(78,207,152,0.65)

Namun jika diisi manual misal warna putih dengan kode #FFFFF akan sukses.

### Cara untuk mereplikasi errornya

Masuk ke halaman edit salah satu aparatur desa, tentukan bagannya.

### Hasil yg diharapkan

Normal sebagaimana mestinya.

### Tangkapan layar dan log er

[2022-01-18 13:58] #4720 closed, assigned to nobody

[2022-01-18 16:24] Zoel-WB opened #4725 "Hanya Satu Form Lagi Tersisa pada Form F-1.08 (Pindah Pergi) Surat Keterangan Pindah Penduduk"
### Jelaskan error yg dialami

1. Pada Form Surat Keterangan Pindah Penduduk Pergi (F-1.08) Tempat tanda tangan masih terdapat Nama Kepala Desa Default Systam (MUHAMM ILHAM).
2. Tanggal pada tempat tanda/tangan kepala desa juga juga tidak muncul
![image](https://user-images.githubusercontent.com/64481641/149974159-56baf658-3d87-4a89-9725-d8210ae3fc23.png)

### Cara untuk mereplikasi errornya

1. P

[2022-01-18 23:55] eddieridwan commented on #4719
Catatan teknis: lihat cara pencatatan untuk penduduk tidak tetap yg pergi/kembali berulang-kali sebagai contoh.

[2022-01-19 01:31] astonialam commented on #4582
Bener tu.. Harus Ada
-Bidang
-Sub Bidang
-Kegiatan
-Nama Kegiatan

[2022-01-19 04:14] Zoel-WB opened #4726 "Permintaan fitur: Penambahan UNGGAH lebih dari satu jenis type dokumen untuk dapat di UNGGAH ke Fitur pendataan Vaksin"
### Apa kekurangan yg ingin diatasi?

Permintaan Penambahan type jenis dokumen untuk dapat di unggah atau di disimpan dalam system data base opensid pada fitur Pendataan Vakasi Saat ini hanya dapat unggah dokumen dengan type jpeg saja, permintaan agar dapat menggugah dokumen dalam bentuk lainnya diantaranya :
1. Dokumen Type JPEG (tetap);
2. Dokumen type PNG; dan
3. Dokumen type PDF;

### Jelaskan

[2022-01-19 04:32] Zoel-WB opened #4727 "Permintaan fitur: Penambahan Detail Data Pada Menu Tambah Kontak Fitur SMS"
### Apa kekurangan yg ingin diatasi?

Permintaan agar dapat menambah Detail Data pada Fitur Panggilan Data untuk Tambah data Kontak pada fitur :
SMS ---> Daftar Kontak - Tambah Kontak

TAMPILAN SAAT INI, data dengan nama-nama yang sama sulit ditandai untuk ditambah ke Daftar Kontak

![image](https://user-images.githubusercontent.com/64481641/150064048-cf85055e-b881-4333-9d9f-2f5c5267bcf1.png)

###

[2022-01-19 04:38] roderikmogot opened #4728 "Bug/error: TIDAK DAPAT MENGUBAH NAMA DESA"
### Jelaskan error yg dialami

Tidak dapat mengubah nama desa di menu `Identitas Desa`, dropdown list hanya menampilkan *The results cannot be loaded.*

### Cara untuk mereplikasi errornya

1. Pergi ke halaman `https://<nama domain>/identitas_desa/form`
2. Ubah `Nama Desa` sesuai dengan desa yang diinginkan
3. Lihat error pada dropdown list

### Hasil yg diharapkan

Dapat mengubah nama desa dengan

[2022-01-19 04:43] Zoel-WB opened #4729 "Upload FOTO pada Biodata Penduduk terjadi Double Form Bug/error:"
### Jelaskan error yg dialami

Saat meng-upload foto pada fitur data tambah/ubah data penduduk terjadi double (2x) muncul form upload, hal ini terjadi disaat klik tombol "UNGGAH FOTO" pilih "FOTO" system tidak langsung menyampan akan tetapi masuk lagi ke FORM minta DI UNGGAH KEMBALI

![image](https://user-images.githubusercontent.com/64481641/150065045-04af02ae-2fb6-42fd-9276-ca9f87dbecfc.png)

![

[2022-01-19 05:04] Zoel-WB opened #4730 "Urutan Nama Dusun Belum ter-Urut tampil pada menu cetak/rekap laporan Fitur Pendataan Vaksin"
### Jelaskan error yg dialami

Nama Dusun Yang tampil pada Laporan Rekap Data Pendataan vaksin belum ber-urut menurut urutan Dusun, bila nama dusun dibuat dengan Nomor Urut baik Numerik maupun Romawi
![image](https://user-images.githubusercontent.com/64481641/150067278-fecf6109-22c3-45b7-96ef-1fa1d86fecb1.png)

### Cara untuk mereplikasi errornya

Pilih Fitur Vaksin ---> Pilih Laporan Rekap

### H

[2022-01-19 05:09] andifahruddinakas commented on #4728
https://github.com/OpenSID/OpenSID/wiki/Identitas-Desa

[2022-01-19 05:22] #4728 closed, assigned to nobody

[2022-01-19 08:04] agungsugiarto commented on #4710
Sudah masuk di rilis premium melalui pr https://github.com/OpenSID/premium/pull/603

[2022-01-19 08:04] #4710 closed, assigned to scqolbu24

[2022-01-19 08:26] agungsugiarto commented on #4670
Pak @eddieridwan baik issue ini maupun https://github.com/OpenSID/OpenSID/issues/4669 apakah hanya di khususkan untuk email saja ?

[2022-01-19 08:33] eddieridwan commented on #4670
Ya. Kalau tidak salah, ada issue terpisah untuk menggunakan Telegram untuk hal yg sama. Pada prakteknya, pengguna bisa menentukan pilihan cara hubung yg diutamakan. Seperti dijelaskan di issue yg lain, urutan pemilihan cara hubung sbb:
1. default adalah Telegram
2. kalau ada pilihan dan pilihan telah diverifkasi gunakan pilihan itu
3. kalau tidak ada pilihan, dan Telegram belum diverifikasi, gunak

[2022-01-19 08:40] agungsugiarto commented on #4670
Untuk pengguna sekarang hanya email pak @eddieridwan, belum ada untuk telegram

[2022-01-19 10:11] andifahruddinakas opened #4731 "Bug/error: Latar Website pada tema tidak berganti"
### Jelaskan error yg dialami

Saat mengganti latar website, perubahan di tema tidak terjadi.

### Cara untuk mereplikasi errornya

1. Masuk pengaturan > aplikasi
2. Ubah latar website

### Hasil yg diharapkan

Lata4r website meyeuaikan dengan yang diganti pada tema yang aktif

### Tangkapan layar dan log error

tidak ada

### Rilis Versi OpenSID

Rilis Premium

### Versi OpenSID

22.01

### Tema

[2022-01-19 17:14] cepiandiana opened #4732 "Tambahkan Fitur Absensi"
### Apa kekurangan yg ingin diatasi?

Permintaan Penambahan Fitur Absensi yang mana hampir diterapkan dan pernah dicoba pada bulan April tahun 2021 oleh bung Zeppy Shiddiq, Sehingga semakin banyak yang tertarik dengan OpenSID (Premium).

Dengan tersedianya Fitur Absensi, akan semakin menguatkan Penggunaan OpenSID dan Ketergantungan Penggunaannya.

### Jelaskan solusi yg diinginkan

1. Perangkat De

[2022-01-19 23:11] eddieridwan commented on #4732
Pertanyaan yg perlu kita pertimbangkan serius adalah sbb.

`Apakah bermanfaat untuk kita kembangkan absensi lengkap sebagai aplikasi OpenDesa?`

Atau apakah seperti kasus Kabupaten Batu Bara (dan mungkin juga di wilayah lain), di mana fungsi absensi resmi akan diambil alih oleh Pemda -- yg mengharuskan digunakan oleh semua jajaran pemerintahan dengan sanksi gaji? Kalau ini yg akan terjadi, mubazir

[2022-01-20 00:52] davidyusufbumiratu commented on #4582
Sangat setuju sekali dengan tujuan dari issue ini. transparansi keuangan ke publik akan makin jelas namun masih dalam batasan wajar

[2022-01-20 02:26] balongbesuk commented on #4732
untuk kelurahan mungkin di ambil alih oleh pemda tp untuk desa selama ini gaji tetap d kelola oleh desa sendiri mungkin beda lagi kl pemda yang berinisiatif mengelola hal itu,

diterapkan bagus dapat menambah fungsi anjungan mandiri desa yang mayoritas hanya sebagai pajangan cantik d pojok ruangan,

tidak diterapkan juga tidak masalah karena gaji d desa tidak terhitung absensi kehadiran terutama d

[2022-01-20 02:43] mizwaruddin opened #4733 "[PREMIUM] Aplikasi kembali home page"
### Jelaskan error yg dialami

Saat login dan proses belum sempurna/masih loading (proses masuk ke dashboard), kemudia kita klik menu, maka aplikasi akan kembali ke halaman home page website.

### Cara untuk mereplikasi errornya

1. Login
2. Loading dashboard
3. Klik salah satu menu
4. Kembali ke halaman awal website
5. Klik back
6. Masuk ke dashboard

### Hasil yg diharapkan

Ketika proses loadin

[2022-01-20 02:53] cepiandiana commented on #4732
Saya rasa sangat bermanfaat pak ketika fitur absensi diterapkan, bisa menjadi aplikasi tambahan yang benar2 diperlukan desa.

Tidak perlu menjadi aplikasi payrol yang identik absensi itu dengan sistem penggajian, tapi sebagai absensi yang merekam kehadiran saja, rekapan hasil absensi biasanya hanya sebagai bahan evaluasi saja tidak bersangkutan dengan gaji. Seperti yang berjalan sekarang ini.

Bet

[2022-01-20 02:54] mizwaruddin opened #4734 "[UMUM] Bug/error: Aplikasi kembali ke home page"
### Jelaskan error yg dialami

Saat login dan proses belum sempurna/masih loading (proses masuk ke dashboard), kemudia kita klik menu, maka aplikasi akan kembali ke halaman home page website.

### Cara untuk mereplikasi errornya

1.	Login
2.	Loading dashboard
3.	Klik salah satu menu
4.	Kembali ke halaman awal website
5.	Klik back
6.	Masuk ke dashboard

### Hasil yg diharapkan

Ketika proses loadin

[2022-01-20 03:10] mizwaruddin opened #4735 "[PREMIUM] Bug/error: Rincian anggaran pembangunan melebihi total anggaran"
### Jelaskan error yg dialami

Pada menu pembangunan, jika rincian anggaran melebihi total anggaran masih dapat tersimpan.

### Cara untuk mereplikasi errornya

1. Menu Pembangunan
2. Tambah Data
3. Isikan anggaran (mis: 200000)
4. Rincian biaya di sumber biaya diisi melebihi isian di anggaran (mis: 300000)
5. Simpan

### Hasil yg diharapkan

Total rincian anggaran di sumber biaya seharusnya tidak

[2022-01-20 03:28] mizwaruddin opened #4736 "Permintaan fitur: Tampilkan gambar pembangunan ketika akan diupload"
### Apa kekurangan yg ingin diatasi?

Saat memilih gambar utama pembangunan, gambar tidak tampil di preview

### Jelaskan solusi yg diinginkan

Saat memilih gambar utama pembangunan, tampilkan di preview gambar terlebih dahulu untuk menghindari kesalahan gambar yang akan di upload.

### Apakah ada alternatif lain

Tidak ada

### Untuk versi OpenSID mana

OpenSID 22.01-premium-beta02

### Informasi

[2022-01-20 03:47] mizwaruddin opened #4737 "[PREMIUM] Bug/error: Foto Pembangunan Tidak Tampil di Lihat Summary"
### Jelaskan error yg dialami

Setelah foto pembangunan diupload, foto pembangunan tersebut tidak tampil ketika diklik lihat summary.

### Cara untuk mereplikasi errornya

1. Tambah data pembangunan
2. Tambah data pembangunan (termasuk gambar/foto pembangunan)
3. Simpan
4. Klik Menu Pembangunan
5. Klik lihat summary
6. Gambar/Foto Pembangunan tidak tampil.

### Hasil yg diharapkan

Gambar pembangu

[2022-01-20 03:55] Zoel-WB opened #4738 "[UMUM] Peta Lokasi Tempat Tingga Penduduk Tidak Tampil Bug/error:"
### Jelaskan error yg dialami

Penentuan Lokasi Tempat Tinggal/Lihat Lokasi Tempat Penduduk Tidak Tampil
![image](https://user-images.githubusercontent.com/64481641/150270222-de340898-3253-4889-b7af-c06b6dd5ae65.png)

### Cara untuk mereplikasi errornya

1. Pilih Salah Satu Nama Warga
2. Klik Pilih Aksi
3. Klik Lihat Lokasi Tempat Tinggal

### Hasil yg diharapkan

Agar Normal Kembali, Lihat Lokasi

[2022-01-20 03:59] Zoel-WB opened #4739 "[UMUM] Peta Wilyah Desa Tidak Tampil Sehingga Berpengaruh ke Peta Lain"
### Apa kekurangan yg ingin diatasi?

![Uploading image.png…]()

### Jelaskan solusi yg diinginkan

Agar bisa normal kembali

### Apakah ada alternatif lain

Normal

### Untuk versi OpenSID mana

Rilie Umum Beta-Dev R.22.01

### Informasi tambahan

_No response_

[2022-01-20 04:04] Zoel-WB commented on #4739
Log Error :
ERROR - 2022-01-20 10:45:52 --> Query error: Incorrect datetime value: '-' for column `teupinbe_sidu`.`log_penduduk`.`tgl_lapor` at row 1 - Invalid query: UPDATE `log_penduduk` SET `tgl_peristiwa` = '1970-08-01', `tgl_lapor` = '-', `updated_at` = '2022-01-20 10:45:52', `updated_by` = '1', `maksud_tujuan_kedatangan` = ''
WHERE `id_pend` = '1191'
AND `kode_peristiwa` IN(1, 5)
ERROR - 202

[2022-01-20 04:08] Zoel-WB commented on #4738
LOG ERROR -->TERJADI DIPETA WLAYAH DESA
ERROR - 2022-01-20 10:45:52 --> Query error: Incorrect datetime value: '-' for column `teupinbe_sidu`.`log_penduduk`.`tgl_lapor` at row 1 - Invalid query: UPDATE `log_penduduk` SET `tgl_peristiwa` = '1970-08-01', `tgl_lapor` = '-', `updated_at` = '2022-01-20 10:45:52', `updated_by` = '1', `maksud_tujuan_kedatangan` = ''
WHERE `id_pend` = '1191'
AND `kode_per

[2022-01-20 04:20] mizwaruddin opened #4740 "[PREMIUM] Bug/error: Nama Kepala Desa Tidak Tampil di Kartu Keluarga"
### Jelaskan error yg dialami

Nama kepala desa tidak tampil di kartu keluarga.

### Cara untuk mereplikasi errornya

1. Kependudukan -> Keluarga
2. Klik Tombol Rincian Anggota Keluarga (KK)
3. Klik Kartu Keluarga
4. Nama Kepala Desa Tidak Tampil

### Hasil yg diharapkan

Nama Kepala Desa tampil di data kartu keluarga

### Tangkapan layar dan log error

![bug_kk_kades](https://user-images.githubus

[2022-01-20 04:24] mizwaruddin commented on #4740
Di hasil download juga tidak tampil

[2022-01-20 04:51] #4670 closed, assigned to agungsugiarto

[2022-01-20 04:53] mizwaruddin opened #4741 "[PREMIUM] Bug/error: Tambah data penduduk yang mengandung sinle quote (') tidak tampil di data penduduk"
### Jelaskan error yg dialami

Ketika menambahkan data penduduk dengan nama yang mengandung sigle quote, tidak tampil di daftar penduduk.

### Cara untuk mereplikasi errornya

1. Tambah data penduduk (nama mengandung single quote)
2. Simpan
3. Klik kependudukan->penduduk
4. Data penduduk yang ditambahkan tidak tampil (di kolom pencarian/autocomplete tampil)

### Hasil yg diharapkan

Data penduduk

[2022-01-20 04:56] #4741 closed, assigned to nobody

[2022-01-20 05:16] #4740 closed, assigned to nobody

[2022-01-20 05:40] mizwaruddin opened #4742 "[PREMIUM] Bug/error: Jenis kelamin laki-laki masih muncul di tabel belum mengisi status kehamilan"
### Jelaskan error yg dialami

 Jenis kelamin laki-laki masih muncul di tabel belum mengisi status kehamilan

### Cara untuk mereplikasi errornya

1. Statistik-> statistik kependudukan-> status kehamilan
2. Klik angka pada kolom Jumlah Belum Mengisi
3. Data penduduk laki-laki masih muncul

### Hasil yg diharapkan

Seharusnya data penduduk yang muncul hanya yang berjenis kelamin perempuan.

### Tan

[2022-01-20 05:59] mizwaruddin opened #4743 "[PREMIUM] Bug/error: Tombol bersihkan pada data suplemen tidak berfungsi normal"
### Jelaskan error yg dialami

Ketika tombol bersihkan di klik, kotak filter tidak kembali ke nilai default.

### Cara untuk mereplikasi errornya

1. Penduduk->Data Suplemen-> Rincian Data
2. Fungsikan filter (ex: Pilih-> Laki-laki)
3. Klik tombol "Bersihkan"
4. Nilai filter tidak kembali ke default

### Hasil yg diharapkan

Ketika tombol bersihkan di klik, kotak filter kembali ke nilai default.

[2022-01-20 09:06] ariandii opened #4744 "Bug/error: Sesuaikan Sebutan Desa pada Notifikasi Layanan Mandiri"
### Jelaskan error yg dialami

Agar bisa menyesuaikan dengan sebutan lain seperti Nagari, Tiyuh, Kampung, dll.

### Cara untuk mereplikasi errornya

Hasil chat

### Hasil yg diharapkan

Normal dan Sesuai

### Tangkapan layar dan log error

<img width="711" alt="screenshot_216" src="https://user-images.githubusercontent.com/46939846/150307749-2cd355d0-393b-49ba-a373-e55e7753154c.png">

### Rilis Ve

[2022-01-20 09:12] Zoel-WB commented on #4307
Mantap 👍

[2022-01-20 09:13] Zoel-WB commented on #4307
Foto Memegang KTP di foto selfi jangan upload langsung menghadap kamera.....

[2022-01-20 09:16] mizwaruddin opened #4745 "[PREMIUM] Bug/error: Salah penyebutan "Dusun" pada laporan rekap vaksin"
### Jelaskan error yg dialami

Dalam laporan rekap hasil vaksin kata "dusun' tertulis "desa"

### Cara untuk mereplikasi errornya

1. Siaga covid-19->vaksin->Laporan Rekap->cetak
2. Tabel laporan pada kolom Dusun tertulis Desa

### Hasil yg diharapkan

Kata Desa seharusnya Dusun

### Tangkapan layar dan log error

![bug_cetak_laporan_vaksin](https://user-images.githubusercontent.com/39736008/15030

[2022-01-20 09:18] ariandii commented on #4307
menganai ini bisa buat issue terpisah pak.
Kolom Foto Selfie WAJIB akses langsung kamera, Tidak perlu sediakan kolom Upload Foto Selfie.

[2022-01-20 09:19] Zoel-WB commented on #4307
Foto Memegang KTP di foto selfi jangan upload langsung menghadap kamera, ini bisa dikaji kemudian untuk menghidari pihak lain melakukan hal-hal yg tak terduga-->kemudian walaupun dapat juga masih bisa kita pastikan nomor telepon/hp pemilik indentitas.

Bila mungkin ada verifikasi nomor HP atau e-mail-->khusus bila desa dengan  jumlah warga yg banyak, kalau desa dengan jumlah penduduk yg sedikit mu

[2022-01-20 09:32] Zoel-WB commented on #4307
Oke Pak.... tapi belum rilis-->tidak masalah kita buat issue-nya berdasarkan pra rilis ini pak...

[2022-01-20 09:59] mizwaruddin opened #4746 "[PREMIUM] Bug/error: Nomor dan Tanggal Akta Nikah aktif ketika status perkawinan belum kawin"
### Jelaskan error yg dialami

Saat menambah penduduk baru, Nomor dan Tanggal Aktanikah aktif ketika status perkawinan belum kawin

### Cara untuk mereplikasi errornya

1. Kependudukan->penduduk-tambah baru lahir
2. Pilih status perkawinan->belum kawin
3. Nomor dan tanggal perkawinan masih aktif

### Hasil yg diharapkan

Ketika status perkawinan belum kawin, seharusnya nomor dan tanggal perkawinan

[2022-01-20 10:14] mizwaruddin opened #4747 "[PREMIUM] Bug/error: Muncul kotak dialog setelah input tanggal lahir"
### Jelaskan error yg dialami

Saat menambahkan data penduduk baru, setelah menginputkan tanggal lahir (dengan cara diketik) maka akan muncul kotak dialog seperti gambar terlampir.

### Cara untuk mereplikasi errornya

1. Kependudukan->penduduk
2. Tambah penduduk-> penduduk baru lahir
3. Isikan tanggal lahir dengan cara diketik
4. Muncul kotak dialog

### Hasil yg diharapkan

Seharusnya tidak perl

[2022-01-20 10:24] mizwaruddin opened #4748 "[PREMIUM] Bug/error: Gagal Simpan Penduduk Baru untuk Usia 17+"
### Jelaskan error yg dialami

Saat tambah penduduk dengan tanggal lahir yang terhitung 17 tahun + wajib gagal disimpan karena harus mengisikan data identitas elektronik.

### Cara untuk mereplikasi errornya

1. Kependudukan-> Penduduk
2. Tambah Penduduk -> Baru Lahir/Masuk
3. Isikan tanggal lahir (dengan asumsi usia 17+), misal 1-1-2000
4. Data gagal disimpan dan mengharuskan data identitas elekt

[2022-01-20 10:27] mizwaruddin commented on #4747
Terjadi juga saat tambah KK baru

[2022-01-20 11:03] #4747 closed, assigned to andifahruddinakas

[2022-01-20 13:25] andifahruddinakas commented on #4743
Sudah diperbaiki melalui commit https://github.com/OpenSID/premium/commit/b22fe86b47b3200b07da92d80382022deb18e511

[2022-01-20 13:25] #4743 closed, assigned to andifahruddinakas

[2022-01-20 13:27] muhtar-coder opened #4749 "Permintaan fitur: Sediakan Tabel Tidak terdata untuk Statistik"
### Apa kekurangan yg ingin diatasi?

Opensid sangat membantu dalam pencarian/filter data kependudukan, misal untuk mencari data penduduk yang sudah memiliki akta lahir bisa dengan mengatur rentang umur nya terlebih dahulu,maka akan terdata penduduk yg sudah memiliki akta lahir sesuai rentang umur tersebut.

Namun ketika kita ingin mencari berdasarkan data akta lahir yang "belum memiliki" masih ke

[2022-01-20 13:30] andifahruddinakas commented on #4742
Sudah diperbaiki melalui commit https://github.com/OpenSID/premium/commit/3687faafdb0cccaf3ccf39dfdefb533fafb662f1

[2022-01-20 13:30] #4742 closed, assigned to andifahruddinakas

[2022-01-20 14:41] andifahruddinakas commented on #4737
di local tdk ada masalah, setelah sy cek folder desa di website berputar tdk lengkap. Sehingga tdk dapat upload gambar. Ini karena setiap jam 1 malam website berputar dilakukan reset (kembali fresh), tp folder desa tdk lengkap di salin dari desa-contoh.

[2022-01-20 14:41] #4737 closed, assigned to nobody

[2022-01-20 14:41] andifahruddinakas commented on #4738
ini bukan bug dari peta.

[2022-01-20 14:42] emanuel-simon opened #4750 "Permintaan fitur: Pilihan Tahun di Statistik Bantuan"
### Apa kekurangan yg ingin diatasi?

Statistik Bantuan yang ditampilkan adalah gabungan dari semua bantuan di semua tahun,
Sehingga statistik penerima bantuan per tahun anggaran menjadi rancu.
Sediakan pilihan tahun agar statistik penerima bantuan dan bukan penerima bantuan per tahun anggarannya sesuai.

### Jelaskan solusi yg diinginkan

Sediakan dropdown list untuk memilih tahun tertentu
![2022

[2022-01-20 14:44] andifahruddinakas commented on #4738
Untuk issue ini (mengenai peta), maslahnya karena data sebelumnya (path) pada wilayah administrasi desa sudah ada. namun wilayah desa tdk ada sehingga berdampak ke yg lain.

Alur pengisian :
1. Lengkapi data wilayah desa dan lokasi
2. Lengkapi data wilayah dan lokasi dusun, rw dan rt.
3. Penduduk, pertanahan, dll.

[2022-01-20 14:44] #4738 closed, assigned to nobody

[2022-01-20 14:45] andifahruddinakas commented on #4733
Sy tdk mengalami hal ini, mungkin masalah jaringan ???

[2022-01-20 14:45] andifahruddinakas commented on #4734
Sy tdk mengalami hal ini, mungkin masalah jaringan ???

[2022-01-20 22:47] FirlianiF commented on #4731
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/611

[2022-01-20 22:48] #4731 closed, assigned to andifahruddinakas

[2022-01-21 00:34] FirlianiF commented on #4725
Setelah dicek, tanda tangan berhasil otomatis muncul sesuai pilihan di form, dan untuk tanggal pada tempat tanda/tangan kepala desa saat ini telah ditambahkan.

[2022-01-21 02:04] eddieridwan commented on #4738
@andifahruddinakas buatkan issue supaya notifikasi tampil sesuai dengan alur pengisian data yg harus diikuti. Yaitu tidak tampilkan error tanpa penjelasan.

[2022-01-21 02:11] eddieridwan commented on #4732
@cepiandiana lihat pesan di atas:

Perhatikan bahwa di OpenSID sedang dikembangkan modul Kehadiran Perangkat Desa (#4323), yang tujuannya terbatas dan fokus pada layanan warga, bukan penggajian atau ketertiban pegawai.

[2022-01-21 03:02] balongbesuk opened #4751 "Bug/error: Lampiran F.2.01 memunculkan Camat"
### Jelaskan error yg dialami

cetak surat keterangan lahir muncul mengetahui camat

### Cara untuk mereplikasi errornya

buatn surat ket lahir

### Hasil yg diharapkan

sesuai format baku F.2.01 tanpa mengetahui camat

### Tangkapan layar dan log error

![Untitled](https://user-images.githubusercontent.com/35319600/150458172-4cd04324-0b47-4db2-bda6-2ab1d2097462.png)

### Rilis Versi OpenSID

Rili

[2022-01-21 03:18] khpurnawan opened #4752 "Bug/error: gagal Buat Artikel"
### Jelaskan error yg dialami

Error 404 ketika artikel mengandung Tabel.

### Cara untuk mereplikasi errornya

Membuat artikel baru pada umumnya

### Hasil yg diharapkan

Normal sebagaiman mestinya

### Tangkapan layar dan log error

![image](https://user-images.githubusercontent.com/98139011/150459677-7e91be06-554e-48c3-a1c8-188a63a060f8.png)

### Rilis Versi OpenSID

Rilis Umum

### Versi OpenS

[2022-01-21 04:29] agungsugiarto commented on #4711
Sudah masuk di rilis premium melalui pr https://github.com/OpenSID/premium/pull/610

[2022-01-21 04:29] #4711 closed, assigned to scqolbu24

[2022-01-21 04:30] agungsugiarto commented on #4669
Sudah masuk di rilis premium melalui pr https://github.com/OpenSID/premium/pull/617

[2022-01-21 04:30] #4669 closed, assigned to agungsugiarto

[2022-01-21 07:46] Zoel-WB opened #4753 "[PREMIUM] Fitur Status IDM bila Diklik (Panah Back Browser), Halaman Menjadi Error, Tahun Pilihan Status IDM Yg Tampil Tahun Berjalan, Seharusnya [Tahun] Status IDM Terakhir Bug/error"
### Jelaskan error yg dialami

Fitur Status IDM Apabila Diklik (Panah Back) Pada (Browser) Halaman Tidak Kembali, Akan Tetapi Menjadi Error, dan Tahun Yang Tampil Di Pilihan Status IDM adalah Tahun Berjalan Bukan Tahun Status IDM Terakhir.

### Cara untuk mereplikasi errornya

Pergi Kehalaman Info Desa
1. Klik Fitur Status Desa
2. Layar Secreen dan Tahun Yang Tampil Kolom Status IDM-->adalah Tahun

[2022-01-21 08:52] Zoel-WB opened #4754 "[PREMIUM] Anjungan Layanan Mandiri Tidak Bisa Masuk Otomatis dengan Scan E-KTP Bug/error:"
### Jelaskan error yg dialami

Saat mencoba mengakses Layanan Mandiri dengan menggunakan Ajungan masuk pakai scan e-ktp, system hanya berbunyi bip saja, akan layar login tidak keluar....
![image](https://user-images.githubusercontent.com/64481641/150494915-6f5be76f-40ff-4ef2-ab85-5282a6d97bbb.png)

### Cara untuk mereplikasi errornya

1. Aktifkan Anjungan Layanan Mandiri
2. Jalankan Layanan mandir

[2022-01-21 09:01] mizwaruddin opened #4755 "[PREMIUM] Bug/error: Gagal menyimpan data penduduk jika status kehamilan tidak dipilih"
### Jelaskan error yg dialami

Saat melakukan edit data penduduk dengan jenis kelamin perempuan terjadi error jika status kehamilan tidak dipilih.

### Cara untuk mereplikasi errornya

1. Kependudukan->penduduk
2. Pilih penduduk dengan jenis kelamin perempuan->pilih aksi->ubah biodata penduduk
3. Status kehamilan tidak dipilih
4. Muncul error

### Hasil yg diharapkan

Jika status kehamilan dikoson

[2022-01-21 09:05] mizwaruddin opened #4756 "[PREMIUM] Bug/error: Pencarian spesifik di menu calon pemilih tidak berjalan normal"
### Jelaskan error yg dialami

Saat akan melakukan pencarian spesifik pada menu calon pemilih, banyak pilihan yang tidak keluar pilihannya. Di sini sya ambil contoh pilihan jenis kelamin.

### Cara untuk mereplikasi errornya

1. Kependudukan->penduduk->calon pemilih
2. Pencarian spesifik
3. Banyak pilihan yang tidak keluar pilihannya

### Hasil yg diharapkan

Pilihan dalam pencarian spesifik tampi

[2022-01-21 09:24] mizwaruddin opened #4757 "[PREMIUM] Bug/error: Terjadi selisih total penduduk di menu penduduk dan statistik kependudukan"
### Jelaskan error yg dialami

Terjadi selisih total penduduk di menu penduduk dan statistik kependudukan

### Cara untuk mereplikasi errornya

1. Statistik->statistik kependudukan
2. Pilih salah satu statistik (mis: ststistik pendidikan dalam KK)
3. Perhatikan jumlah total
4. Klik angka pada total jumlah
5. Tampil menu penduduk dengan jumlah yang berbeda dengan jumlah di statistik

### Hasil yg d

[2022-01-21 09:30] dgyoganantha commented on #4732
Sependapat dengan bung cepiandiana. Fitur ini akan sangat bermanfaat bagi desa.

[2022-01-21 09:44] mizwaruddin opened #4758 "[PREMIUM] Bug/error: Kolom "Ditandatangani oleh" dalam cetak arsip surat kosong"
### Jelaskan error yg dialami

Kolom "Ditandatangani oleh" dalam cetak arsip surat kosong

### Cara untuk mereplikasi errornya

1. Layanan surat->Arsip Layanan->Cetak
2. Kolom Ditandatangani Oleh kosong

### Hasil yg diharapkan

Kolom ditandatangani oleh dalam laporan arsip layanan surat terisi sebagaimana data yang dibuat.

### Tangkapan layar dan log error

![bug_cetak_arsip_surat](https://user-

[2022-01-21 09:51] mizwaruddin opened #4759 "[PREMIUM] Bug/error: Kolom "Ditandatangani oleh" dalam hasil "cetak dan unduh" arsip surat kosong"
### Jelaskan error yg dialami

Kolom "Ditandatangani oleh" dalam hasil "unduh" arsip surat kosong

### Cara untuk mereplikasi errornya

1. Layanan surat->Arsip Layanan->Unduh
2. Kolom Ditandatangani Oleh kosong

### Hasil yg diharapkan

Kolom ditandatangani oleh dalam hasil unduhan laporan arsip layanan surat terisi sebagaimana data yang dibuat.

### Tangkapan layar dan log error

![bug_unduh_arsi

[2022-01-21 09:59] mizwaruddin opened #4760 "[PREMIUM] Bug/error: Link/Url "Home" pada breadcrumb salah"
### Jelaskan error yg dialami

Ketika menekan tombol home pada breadcrumb di halaman panduan layanan surat, halaman yang terbuka bukan halaman home, melainkan halaman utama website (berputar.opensid.or.id)

### Cara untuk mereplikasi errornya

1. Layanan surat-> panduan
2. Tekan tombol home pada breadcrumb
3. Halaman yang terbuka bukan halaman home (dashboard), melainkan halaman utama website

###

[2022-01-22 00:42] FirlianiF commented on #4745
Sudah masuk di rilis premium melalui PR https://github.com/OpenSID/premium/pull/619

[2022-01-22 00:42] #4745 closed, assigned to andifahruddinakas

[2022-01-22 01:00] FirlianiF commented on #4746
Sudah masuk di rilis premium melalui PR https://github.com/OpenSID/premium/pull/620

[2022-01-22 01:01] #4746 closed, assigned to andifahruddinakas

[2022-01-22 01:23] FirlianiF commented on #4744
Sudah masuk di rilis premium melalui PR https://github.com/OpenSID/premium/pull/622

[2022-01-22 01:23] #4744 closed, assigned to andifahruddinakas

[2022-01-22 02:59] mizwaruddin opened #4761 "[PREMIUM] Bug/error: Item yang digembok tidak muncul di cetak laporan pada menu Informasi Publik"
### Jelaskan error yg dialami

Item yang digembok tidak muncul di cetak laporan pada menu Informasi Publik

### Cara untuk mereplikasi errornya

1. Sekretariat -> informasi publik
2. Gembok salah satu item (misal: Formulir Pengajuan Keberatan Informasi)
3. Tekan tombol cetak -> isikan tahun 2019
4. Item tersebut tidak tampil di laporan

### Hasil yg diharapkan

Item yang digembok tetap tampil di l

[2022-01-22 03:10] mizwaruddin opened #4762 "[PREMIUM] Bug/error: Semua item tidak muncul di hasil unduh laporan setelah menggembok salah satu item"
### Jelaskan error yg dialami

Semua item tidak muncul di hasil unduh laporan setelah menggembok salah satu item

### Cara untuk mereplikasi errornya

1. Sekretariat -> informasi publik
2. Gembok salah satu item (misal: Formulir Pengajuan Keberatan Informasi)
3. Tekan tombol unduh
4. semua item tersebut tidak tampil di laporan

### Hasil yg diharapkan

Setelah melakukan gembok item, semua item tam

[2022-01-22 03:15] mizwaruddin opened #4763 "[PREMIUM] Bug/error: Muncul keterangan berhasil disimpan di belakang dialog cetak dan unduh pada menu informasi publik"
### Jelaskan error yg dialami

Muncul keterangan berhasil disimpan di belakang dialog cetak dan unduh pada menu informasi publik setelah melakukan penggembokan pada salah satu item

### Cara untuk mereplikasi errornya

1. Sekretariat->Informasi publik
2. Gembok salah satu item
3. Klik tombol cetak/unduh
4. Muncul keterangan data berhasil disimpan di belakang kotak dialog cetak dan unduh

### Hasil

[2022-01-22 03:38] #4763 closed, assigned to nobody

[2022-01-22 03:56] mizwaruddin opened #4764 "[PREMIUM] Bug/error: Paginasi pada menu Buku Rekapitulasi Jumlah Penduduk tidak bekerja normal"
### Jelaskan error yg dialami

Paginasi pada menu Buku Rekapitulasi Jumlah Penduduk tidak bekerja normal.

### Cara untuk mereplikasi errornya

1. Buku Administrasi Desa->Administrasi Penduduk->Buku Rekapitulasi Jumlah Penduduk
2. Total data tidak sesuai dengan jumlah data yang tampil
3. Jumlah halaman melebihi jumlah halaman semestinya.

### Hasil yg diharapkan

Total data dan halaman sesuai data

[2022-01-22 04:36] mizwaruddin opened #4765 "[PREMIUM] Bug/error: Pendidikan di buku kader pemberdayaan tidak sesuai dengan pendidikan di data penduduk"
### Jelaskan error yg dialami

Pendidikan di buku kader pemberdayaan tidak sesuai dengan pendidikan di data penduduk

### Cara untuk mereplikasi errornya

1. Buku administrasi desa->Administrasi pembangunan->Buku kader pemberdayaan masyarakat
2. Bandingkan pendidikan yang terletak di kolom PENDIDIKAN/KURSUS dengan pendidikan yang ada di data penduduk
3. Data pendidikan tidak sesuai

### Hasil yg d

[2022-01-22 04:38] eddieridwan commented on #4761
Bung @mizwaruddin , memang pengertian gembok saat ini seperti itu. Yaitu dokumen yg digembok dianggap tidak aktif dan tidak ditampilkan di web maupun laporan.

Sekiranya ingin dibedakan, misalnya supaya laporan mengikut sertakan semua dokumen, maka ubah issue ini menjadi permintaan perubahan fitur.

[2022-01-22 04:54] mizwaruddin commented on #4761
Akan saya voting ke teman2 dulu, Bang.

[2022-01-22 04:54] #4761 closed, assigned to nobody

[2022-01-22 05:05] #4734 closed, assigned to andifahruddinakas

[2022-01-22 05:06] #4733 closed, assigned to andifahruddinakas

[2022-01-23 00:50] #4762 closed, assigned to nobody

[2022-01-23 01:00] mizwaruddin opened #4766 "[PREMIUM] Bug/error: Muncul dua select pada bagian suku"
### Jelaskan error yg dialami

Muncul dua select pada bagian suku

### Cara untuk mereplikasi errornya

1. Kependudukan->penduduk
2. Tambah penduduk->penduduk masuk
3. Lihat pada bagian suku/etnis, muncul dua select, satu ada data, satu tidak berdata.

### Hasil yg diharapkan

Hanya muncul satu select di bagian suku/etnis

### Tangkapan layar dan log error

![bug_penduduk_etnis](https://user-image

[2022-01-23 01:37] mizwaruddin opened #4767 "[PREMIUM] Permintaan fitur: Hanya tampilkan daftar Perangkat Desa yang aktif saat pilih Kepala Desa di Identitas Desa"
### Apa kekurangan yg ingin diatasi?

Perangkat Desa Tidak Aktif Masih Muncul dalam Pilihan Kepala Desa di Identitas Desa

### Jelaskan solusi yg diinginkan

Hanya tampilkan perangkat desa aktif dalam pilhan kepala desa di identitas desa

### Apakah ada alternatif lain

Dalam menu buku aparat pemerintah desa, khusus kepala desa berikan tanda (jabatan kepala desa) tertentu sehingga dalam hal-hal ya

[2022-01-23 01:58] mizwaruddin opened #4768 "[PREMIUM] Bug/error: Nama desa tidak tampil dalam hasil cetak/unduh di bagian tanda tangan "Wilayah Administratif""
### Jelaskan error yg dialami

 Nama desa tidak tampil dalam hasil cetak/unduh di bagian tanda tangan "Wilayah Administratif"

### Cara untuk mereplikasi errornya

1. Info Desa->Wilayah Administratif
2. Cetak/Unduh
3. lihat pada bagian tanda tangan, hanya tampil kata desa. Untuk nama desa tidak tampil

### Hasil yg diharapkan

![bug_wilayah](https://user-images.githubusercontent.com/39736008/15066

[2022-01-23 04:30] andifahruddinakas commented on #4766
Sudah ada laporan dan perbaikan mengenai ini tp belum digabungkan.

![suku](https://user-images.githubusercontent.com/57283157/150664873-6468b1d5-9a23-4468-a9e2-bfa8b302744d.png)

[2022-01-23 04:55] FirlianiF commented on #4764
Sudah masuk di rilis premium melalui PR https://github.com/OpenSID/premium/pull/629

[2022-01-23 04:56] #4764 closed, assigned to andifahruddinakas

[2022-01-23 05:12] #4766 closed, assigned to nobody

[2022-01-23 05:55] FirlianiF commented on #4760
Sudah masuk di rilis premium melalui PR https://github.com/OpenSID/premium/pull/634

[2022-01-23 05:58] #4760 closed, assigned to andifahruddinakas

[2022-01-23 06:28] FirlianiF commented on #4768
Sudah masuk di rilis premium melalui PR https://github.com/OpenSID/premium/pull/635

[2022-01-23 06:29] #4768 closed, assigned to andifahruddinakas

[2022-01-23 06:33] Zoel-WB opened #4769 "[PREMIUM Bug/error] Perbaiki validasi form dan modal input agar tidak duplikasi"
### Jelaskan error yg dialami

Saat Meng-upload Dokumen Kependudukan pada Pilihan Data Penduduk Pilih Aksi-->Pilih Upload Dokumen, terjadi dua kali pemilihan data dokumen.

### Cara untuk mereplikasi errornya

1. Klik Detail Data Penduduk
2. Pilih Salah Satu Penduduk -->Pilih Tombol-->Pilih Aksi
3. Pilih Fitur --.Upload Dokumen Pendudu

![image](https://user-images.githubusercontent.com/64481641/1

[2022-01-23 06:43] Zoel-WB opened #4770 "[PREMIUM Bug/error] Double Form Impor Saat Mengimpor DATA SUPLEMEN"
### Jelaskan error yg dialami

Saat impor data Sumplemen terjadi 2x Pilih File Dokumen Import... pilih pertama tidak langsung menyimpan akan tetapi muncul lagi fomr pilih data setelah dipilih upload pertama.

### Cara untuk mereplikasi errornya

1. Buka Fitur Suplemen.
2. Buat Tambah Data Suplemen
3. Klik Tombol Impor Data

![image](https://user-images.githubusercontent.com/64481641/150667720-8652

[2022-01-23 06:54] Zoel-WB opened #4771 "[PREMIUM Bug/error:] Pagenasi Halaman Website Pembanguna Terjadi Error/Kosong Bila List View Yang Ditampilkan lebih dari 10 Item"
### Jelaskan error yg dialami

Halalaman Paginasi pada pilihan Page/halaman 2 Kosong  atau Error Apabila Bila Item Pembangunan Yang ditampilkan lebih dari 10 Item......

![image](https://user-images.githubusercontent.com/64481641/150667887-1bb474d9-31e1-4257-bb0c-f7cd42be910f.png)

### Cara untuk mereplikasi errornya

1. Buka Halaman Website
2. Klik Halaman View Pembangunan.
3. Klik Page [2] [3] [

[2022-01-23 07:10] andifahruddinakas commented on #4770
Masalah yg sama dngan https://github.com/OpenSID/OpenSID/issues/4769

Akara masalah pemanggilan validasi yang berulang / duplikasi.

[2022-01-23 07:10] #4770 closed, assigned to andifahruddinakas

[2022-01-23 07:16] andifahruddinakas commented on #4753
Sudah di jelaskan sama pak @eddieridwan di telegram.

[code]

[code]

[code]

[code]

[2022-01-23 07:16] #4753 closed, assigned to nobody

[2022-01-23 07:22] andifahruddinakas commented on #4759
Cetak dan unduh 1 paket yang terikat, solusinya pun sama. Krn apa yg dicetak, itu jg yang akan diunduh.

Issue https://github.com/OpenSID/OpenSID/issues/4758 sy close.

[2022-01-23 07:23] #4758 closed, assigned to andifahruddinakas

[2022-01-23 08:06] andifahruddinakas commented on #4729
https://github.com/OpenSID/OpenSID/issues/4769

[2022-01-23 08:06] #4729 closed, assigned to andifahruddinakas

[2022-01-23 08:09] andifahruddinakas commented on #4754
Pak @Zoel-WB, @ariandii silahkan disertkan source code tsb sebagai pembanding. Krn dibagian login mandiri untuk rilis ini agak banyak perubahan.

[2022-01-23 08:13] andifahruddinakas commented on #4752
Silahkan di ujicoba di website https://berputar.opensid.or.id/ dan https://demo.opensid.or.id/ jika tidak ada masalah, berarti masalah tsb ada pada hosting anda.

Contoh yang sy buat https://berputar.opensid.or.id/artikel/2022/1/23/test-atikel-dengan-tabel

![tabel](https://user-images.githubusercontent.com/57283157/150670128-0df6b44a-5070-4448-9826-7aac56404057.png)

[2022-01-23 08:19] andifahruddinakas commented on #4757
![statistik 1](https://user-images.githubusercontent.com/57283157/150670245-0362f74c-915d-4434-bcbd-4ebf05001df9.png)
![statistik 2](https://user-images.githubusercontent.com/57283157/150670242-97b497ec-5d75-4f76-8f9a-aef43d9d3a9d.png)

Saya cek tidak ada masalah.

Untuk total datanya ada semua penduduk_hidup (tampa ada session filter) atau kalau di akses langsung adalah penduduk/clear.

Pastikan

[2022-01-23 08:21] Zoel-WB opened #4772 "[PREMIUAM Bug/error:] Form Tambah Data Anggota RTM->Kepala Rumah Tangga Pengganti Dari Kepala Rumah Tangga Sebelumnya Yg Berubah Status Dasar"
### Jelaskan error yg dialami

Kepala Rumah Tangga Berubah status dasar "Meninggal" tambah anggota rumah tangga Yang Kepala Rumah Tangga telah berganti ke Data Penduduk yang masih tinggal di rumah tangga tersebut untuk berikutnya—>tombol TAMBAH ANGGOTA RUMAH TANGGA dan tombol HAPUS DATA pada form rumah tangga tersebut tidak aktif, serta Nama Kepala Rumah Tangga dalam Form Tidak Tampil

### Cara un

[2022-01-23 08:28] andifahruddinakas commented on #4718
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/624

[2022-01-23 08:28] #4718 closed, assigned to FirlianiF

[2022-01-23 08:30] andifahruddinakas commented on #4721
Pak @aseppakot, apakah anda membuka halaman admin dan layanan mandiri di 1 browser yang sama???

[2022-01-23 09:42] Zoel-WB opened #4773 "[UMUM] Bug/error: View Wibsite Zoom Lokasi Lapak Desa Tidak dapat di Zoom (Out/Close)"
### Jelaskan error yg dialami

Lokasi Lapak Tidak dapat di Zoom baik dengan klik tanda [+] atau pun dengan cara menggulir mouse

### Cara untuk mereplikasi errornya

Buka Website Pilih Fitur Lapak --> Klik Lokasi atau Peta Lokasi

### Hasil yg diharapkan

Lokasi Lapak Agar dapat di Zoom diperbesar atau di perkecil, ada pilihan tampilan mode peta, baik [OpenStreetMap] maupun satelite

### Tangkapan

[2022-01-23 10:23] Zoel-WB commented on #4754
Oke... sebentar lagi saya uploadkan

Dapatkan Outlook untuk Android<https://aka.ms/AAb9ysg>
________________________________
From: Andi Fahruddin Akas ***@***.***>
Sent: Sunday, January 23, 2022 3:09:19 PM
To: OpenSID/OpenSID ***@***.***>
Cc: ZoelWB ***@***.***>; Mention ***@***.***>
Subject: Re: [OpenSID/OpenSID] [PREMIUM] Anjungan Layanan Mandiri Tidak Bisa Masuk Otomatis dengan Scan E-KTP Bug/e

[2022-01-23 10:38] ariandii commented on #4754
yang saya lakukan hanya mengganti seluruh <script>...</script> bagian paling bawah dari versi 22.01-premium asli.

tidak rubah php dan html bagian atas, termasuk tambahan tombol lupa password tetap tersedia.

setelah ganti java script bagian bawah ke versi sebelumnya ternyata normal kembali.

[2022-01-23 11:05] Zoel-WB commented on #4754
File nya :
[masuk.txt](https://github.com/OpenSID/OpenSID/files/7920317/masuk.txt)

[2022-01-23 13:17] andifahruddinakas commented on #4773
Pak @Zoel-WB, cek versi Premium, apakah mengalami hal yg sama ???

[2022-01-23 17:06] Zoel-WB commented on #4773
Premium Aman Pak @andifahruddinakas,

[2022-01-23 17:15] andifahruddinakas commented on #4773
Berarti sudah di perbaiki di permium yang akan datang.

[2022-01-23 17:46] andifahruddinakas commented on #4754
Masalahnya ada di
[code]

baris selanjutnya tidak di eksekusi.

[2022-01-23 22:06] Zoel-WB opened #4774 "[PREMIUM] Error 500 Setelah Menjalankan Perintah Kosongkan DataBase Bug/error:"
### Jelaskan error yg dialami

Setelah menjalan perintah kosongkan database system terjadi error 500

### Cara untuk mereplikasi errornya

Fitur  Pengaturan -> Pilih Database --> Pilih Kosongkan DataBase

### Hasil yg diharapkan

Supaya tidak terjadi error setelah pengosong database

### Tangkapan layar dan log error

![image](https://user-images.githubusercontent.com/64481641/150699664-b7b0a83c-8

[2022-01-23 23:18] Zoel-WB opened #4775 "[PREMIUM] Bug/error: Pengelompokan Rumah Tangga Tersimpan Record Data Kosong yang ikut dihitung sebagai Rekap Jumlah Data Rumah Tangga"
### Jelaskan error yg dialami

Pengelompokan Rumah Tangga Tersimpan Record Data Kosong pada akhir (Baris Kosong) sehingga data kosong ini juga hitung menjadi Rekap Data, ada perbedaan jumlah data yg tampil di dasboard misal 200 data, saat data di unduh hanya terdapat 199 data.

### Cara untuk mereplikasi errornya

1. Lihat Tampilan Data Pada Dasboard.
2. Buka Fitur Rumah Tangga --> Browsing hingga

[2022-01-24 01:38] FirlianiF commented on #4769
Sudah masuk di rilis premium melalui PR https://github.com/OpenSID/premium/pull/637

[2022-01-24 01:38] #4769 closed, assigned to andifahruddinakas

[2022-01-24 01:47] #4773 closed, assigned to nobody

[2022-01-24 01:51] yogiperdana commented on #4751
Saya coba ambil mas

[2022-01-24 02:11] eddieridwan commented on #4751
Diverifikasi permintaan sesuai F-2.01 yg diperoleh dari https://disdukcapil.banjarbarukota.go.id/downlot.php?file=F-2.01_SURAT_KETERANGAN_KELAHIRAN.pdf

[F-2.01_SURAT_KETERANGAN_KELAHIRAN.pdf](https://github.com/OpenSID/OpenSID/files/7922119/F-2.01_SURAT_KETERANGAN_KELAHIRAN.pdf)

[2022-01-24 02:47] andifahruddinakas commented on #4774
Cek jg tabel yang lain.

[2022-01-24 07:08] Zoel-WB commented on #4774
Sepertinya tabel lain aman pak, sudah saya cek dan periksa yg masih terisi data hanya pada tabel data default system saja.

[2022-01-24 08:21] eddieridwan commented on #4412
Status OpenSID dari evaluasi BSrE di Kab Indragiri Hilir:

![telegram-cloud-photo-size-5-6300780907031801469-y](https://user-images.githubusercontent.com/249563/150746558-e64c5ae6-6d25-41ec-bb6e-d3f9af7043a9.jpg)

[2022-01-24 08:44] yogiperdana commented on #4629
Telah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/616

[2022-01-24 08:44] #4629 closed, assigned to andifahruddinakas

[2022-01-24 08:50] totoprayogo1916 commented on #4629
Good Job,
maaf kemarin PR #4666 sengaja dihapus
karena memang di branch Umum tidak langsung keluar perubahannya (setelah diterima)
jadi saya malas untuk berkontribusi lagi ...

[2022-01-24 10:24] scqolbu24 commented on #4755
sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/640

[2022-01-24 10:24] #4755 closed, assigned to andifahruddinakas

[2022-01-24 10:28] eddieridwan commented on #4629
@totoprayogo1916 semua perbaikan di OpenSID masuk ke rilsi Premium dulu. Untuk memberi penghargaan bagi yg pelanggan Premium yg berkontribusi pada pengembangan OpenSID.

Opsi jika ingin melihat hasil anda langsung terlihat:
1. Memperoleh akses ke repo Premium dengan menandatangani Pernyataan Menjaga Hak Intelektual OpenDesa, sehingga bisa langsung berkontribusi di repo Premium; atau/dan
2. Mengerj

[2022-01-24 10:31] yogiperdana commented on #4725
Telah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/625

[2022-01-24 10:31] #4725 closed, assigned to FirlianiF

[2022-01-24 10:43] totoprayogo1916 commented on #4629
iya saya sudah paham ... makanya saya stop ...
Premium kebanyakan kan emang untuk yang berlangganan versi Premium .. dan itu lebih banyak dikerjakan oleh Tim OpenSID ...
sedang umum, versi gratis, yang seharusnya juga kontribusi dari luar (bukan Tim OpenSID) langsung masuk ..

sepengetahuan saya, siapa saja yang kontrib ke Umum (gratis) maka jika diapprove,
maka akan langsung ditampilkan dan akan

[2022-01-24 11:09] scqolbu24 commented on #4765
sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/639

[2022-01-24 11:09] #4765 closed, assigned to andifahruddinakas

[2022-01-24 11:15] eddieridwan commented on #4629
@totoprayogo1916
Sudah sejak beberapa waktu, penambahan/perbaikan fitur OpenSID tidak lagi masuk ke versi Umum -- melainkan masuk ke versi Premium dulu. Mungkin petunjuk di Github perlu diperbaiki supaya hal ini jelas bagi semua.

Namun perlu dimengerti bahwa semua yg dikerjakan di versi Premium akan tampil di versi Umum 6 bulan ke depan, karena versi Umum adalah versi Premium 6 bulan yg lalu (yai

[2022-01-24 13:52] scqolbu24 commented on #4748
sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/628

[2022-01-24 13:52] #4748 closed, assigned to FirlianiF

[2022-01-24 14:29] Zoel-WB opened #4776 "[UMUM] Bug/error: Layanan Mandiri Belum Dapat Mengirim Pengajuan Permohonan Surat"
### Jelaskan error yg dialami

Layanan Mandiri Pada OpenSiD Umum Source Script dari Repo OpenSID Dev-V22.01 Pasca Belum Dapat Mengirim Pengajuan Permohonan Surat, Setelah isi permohona di masukkan dan dilengkapi semua persyaratan Klik Tombol [Isi Form] System Kembali ke Form permohonan melengkapi foermohonan seperti semula->ke form kirim permohonan.

![image](https://user-images.githubusercontent.

[2022-01-24 14:36] Zoel-WB opened #4777 "[UMUM] Bug/error: OpenSID-dev-v22.01 Pasca Logo Desa Belum Tampil Optomatis dari Logo Desa Sebelumnya Setelah Update Script"
### Jelaskan error yg dialami

Saat Menjalankan Pertama Sekali setelah melalukan update atau mengganti script dengan Script OpenSID dev-v22.01 PASCA, logo desa tidak tampil secara otomasti dari logo yang sudah ada di system sebelumnya pasca update.

### Cara untuk mereplikasi errornya

Pasang/Ganti Scrip ke OpenSID dev-v22.01 pasca
Kemudian lakukan loading system

![Uploading image.png…]()

### Ha

[2022-01-24 15:33] andifahruddinakas commented on #4776
Silahkan cek https://demo.opensid.or.id/

[2022-01-24 15:34] andifahruddinakas commented on #4777
Silahkan bersihkan cache.

[2022-01-24 15:36] andifahruddinakas commented on #4774
@scqolbu24, cek semua tabel referensi setelah melakukan pengosongan database dan lakukan migrasi ulang. Pastikan tabel referensi (bawaan opensid yg harus ada) tidak terhapus.

[2022-01-24 16:11] ridwan-opt opened #4778 "[premium]Bug/error: import rumah tangga selalu tertimpa"
### Jelaskan error yg dialami

Hasil import rumah tangga selalu tertimpa... Se

### Cara untuk mereplikasi errornya

.misal rtm RT 5 sudah sukses di import lalu melakukan import lagi rtm RT 6 sukses namun rtm RT 05 yang sudah berhasil di import tadi tertimpa (hilang) dan untuk penomoran sudah di pastikan berbeda antara kedua RT tersebut dan aturan format sudah mengikuti aturan pada contoh aturan i

[2022-01-24 16:22] andifahruddinakas commented on #4778
Silahkan disertakan contoh impor yang bisa digunakan agar bisa menduplikasi error ini.

[2022-01-24 16:23] Zoel-WB commented on #4777
Oke pak...., tapi sudah mencoba 2 kali, localhost dan di hosting, hasilnya sama... setelah diganti script dijalankan logo desanya hilang harus upload ulang...

[2022-01-24 22:30] scqolbu24 commented on #4735
sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/627

[2022-01-24 22:30] #4735 closed, assigned to FirlianiF

[2022-01-24 22:53] scqolbu24 commented on #4771
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/642

[2022-01-24 22:53] #4771 closed, assigned to andifahruddinakas

[2022-01-25 00:00] scqolbu24 commented on #4759
sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/638

[2022-01-25 00:00] #4759 closed, assigned to andifahruddinakas

[2022-01-25 00:58] scqolbu24 commented on #4751
sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/646

[2022-01-25 00:58] #4751 closed, assigned to yogiperdana

[2022-01-25 02:04] scqolbu24 commented on #4723
sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/623

[2022-01-25 02:04] #4723 closed, assigned to FirlianiF

[2022-01-25 03:50] agungsugiarto commented on #4754
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/643

[2022-01-25 03:50] #4754 closed, assigned to andifahruddinakas

[2022-01-25 04:01] scqolbu24 commented on #4756
telah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/636

[2022-01-25 04:01] #4756 closed, assigned to andifahruddinakas, scqolbu24

[2022-01-25 04:13] agungsugiarto commented on #4772
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/641

[2022-01-25 04:13] #4772 closed, assigned to andifahruddinakas

[2022-01-25 07:42] yogiperdana commented on #4775
Telah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/648

[2022-01-25 07:42] #4775 closed, assigned to FirlianiF

[2022-01-25 08:56] agungsugiarto commented on #4604
Untuk Panduan v22.02

- [x] 1. [#1759](https://github.com/OpenSID/OpenSID/issues/1759) Laporan statistik kehamilan.
- [x] 2. [#4635](https://github.com/OpenSID/OpenSID/issues/4635) Permintaan Penyediaan Tombol Hapus Dan Tanda Conteng Pilihan Hapus Data Pada Fitur Suplemen [Nama Modul].
- [x] 3. [#1760](https://github.com/OpenSID/OpenSID/issues/1760) Pendaftaran layanan mandiri.
- [x] 4. [#4521](ht

[2022-01-25 09:54] agungsugiarto commented on #4774
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/647

[2022-01-25 09:54] #4774 closed, assigned to yogiperdana

[2022-01-25 10:29] Zoel-WB opened #4779 "[DEMO PREMIUM] Bug/error: Uji Coba Lapak Desa Setelah Imput Data Produk--.Simpan Error 500"
### Jelaskan error yg dialami

Lapak Desa setelah meng-imput salah satu produk saat di disimpan terjadi error 500

### Cara untuk mereplikasi errornya

Buka Fitur Lapak Desa
Pilih Tambah Data --> Masukkan Data sesuai dengan isi kolom2 Data -->Pilih Simpan

![image](https://user-images.githubusercontent.com/64481641/150959325-9bef285b-dcdc-4377-9c1f-018c395a6660.png)

![image](https://user-images.g

[2022-01-25 13:47] mizwaruddin opened #4780 "[PREMIUM] Bug/error: Nama desa tidak tampil pada cetak laporan vaksin"
### Jelaskan error yg dialami

Nama desa tidak tampil pada cetak laporan vaksin

### Cara untuk mereplikasi errornya

1. Siaga Covid-19->vaksin->laporan penduduk->cetak/unduh
2. Nama desa tidak tampil dalam laporan

### Hasil yg diharapkan

Nama desa tampil dalam laporan

### Tangkapan layar dan log error

![bug_vaksin_laporan](https://user-images.githubusercontent.com/39736008/150988575-eaac9ca0-

[2022-01-25 14:00] Zoel-WB opened #4781 "[PREMIUM} Bug/error: Penyesuaian Tempat Tanda Tangan Otomatis Sesuai Dengan Pilihan Pada Pengaturan Aplikasi Print Buku Inventaris dan Kekayaan Desa"
### Jelaskan error yg dialami

Hasil Print Out Buku Inventaris dan Kekayaan Desa, Tempat tanda tangan belum otomatis seperti pada Setting Pengaturan Aplikasi

### Cara untuk mereplikasi errornya

1. Buka Fitur Buku Administrasi Desa
2. Pilih Administrasi Umum
3. Pilih Buku Iventasris dan Kekayaan Desa
4. Pilih Cetak

### Hasil yg diharapkan

Agar Plihan Nama Desa Pada Tempat Tangan sama dengan Pen

[2022-01-25 14:00] mizwaruddin opened #4782 "[PREMIUM] Bug/error: Nama Kabupaten, Kecamatan, dan Desa Tidak Tampil dalam Kop Laporan Wilayah Administratif"
### Jelaskan error yg dialami

Nama Kabupaten, Kecamatan, dan Desa Tidak Tampil dalam Kop Laporan Wilayah Administratif

### Cara untuk mereplikasi errornya

1. Info Desa -> Wilayah Administratif -> Cetak
2. Pada bagian Kop Laporan: nama Kabupaten, Kecamatan, dan Desa tidak tampil

### Hasil yg diharapkan

Nama Kabupaten, Kecamatan, dan Desa tampil dalam Kop Laporan Wilayah Administratif

### Tang

[2022-01-25 14:10] Zoel-WB commented on #4739
Sudah tidak relevan-->karena semua fitur ini sudah jalan dan tidak ada terjadi bug......

[2022-01-25 14:10] #4739 closed, assigned to nobody

[2022-01-25 14:16] mizwaruddin opened #4783 "[PREMIUM] Bug/error: Field Nama Tidak Memanggil Nilai dalam Database saat Edit Data Anggota Lembaga"
### Jelaskan error yg dialami

Field Nama Tidak Memanggil Nilai dalam Database saat Edit Data Anggota Lembaga

### Cara untuk mereplikasi errornya

1. Info Desa -> Lembaga Desa
2. Klik tombol "Rincian Lembaga" pada salah satu lembaga -> Ubah Anggota
3. Pada field nama kosong

### Hasil yg diharapkan

Fiel nama terisi sesuai data yang sudah tersimpan sebelumnya

### Tangkapan layar dan log error

!

[2022-01-25 14:23] mizwaruddin opened #4784 "Permintaan fitur: Tambahkan Paginasi pada halaman Data Lembaga"
### Apa kekurangan yg ingin diatasi?

Pada halaman data lembaga belum ada paginasi sehingga tidak bisa dilakukan pencarian data.
![fitur_lembaga_paginasi](https://user-images.githubusercontent.com/39736008/150994492-37b318dc-47c4-4a8c-b24b-b86f61e69150.png)

### Jelaskan solusi yg diinginkan

Tambahkan Paginasi pada halaman Data Lembaga

### Apakah ada alternatif lain

Tidak ada

### Untuk versi O

[2022-01-25 14:41] scqolbu24 commented on #4604
Pendaftaran Layanan Mandiri Secara Online :
**Pengaturan dan Halaman Admin**
![1 -Setting-Tampilkan-Pendaftaran](https://user-images.githubusercontent.com/68048807/150997664-d9aec4d5-9fe8-492b-a291-37cbbc59bb81.PNG)

**Pengaturan Telegram**
![Setting-Token-Telegram](https://user-images.githubusercontent.com/68048807/151011517-7dc0c079-1168-4ab1-acac-9b7d3ac4264c.png)

**Pengaturan Email**
![Config

[2022-01-25 14:55] mizwaruddin opened #4785 "[PREMIUM] Bug/error: Field Nama Tidak Memanggil Nilai dalam Database saat Edit Data Anggota Kelompok"
### Jelaskan error yg dialami

Field Nama Tidak Memanggil Nilai dalam Database saat Edit Data Anggota Kelompok

### Cara untuk mereplikasi errornya

1. Kependudukan -> Kelompok
2. Klik tombol "Rincian Kelompok" pada salah satu lembaga -> Ubah Anggota
3. Pada field nama kosong

### Hasil yg diharapkan

Fiel nama terisi sesuai data yang sudah tersimpan sebelumnya

### Tangkapan layar dan log error

[2022-01-25 15:21] mizwaruddin opened #4786 "[PREMIUM] Bug/error: Dapat Memasukkan Data Ganda Melalui Impor Data Suplemen"
### Jelaskan error yg dialami

Dapat Memasukkan Data Ganda Melalui Impor Data Suplemen. Data ganda tidak dapat terjadai jika melalui tambah warga terdata.

### Cara untuk mereplikasi errornya

1. Kependudukan -> Data Suplemen
2. Klik Rincian Data pada salah satu data suplemen -> Impor Data
3. Masukkan NIK yang sama pada file impor (excel)
4. Data ganda tersebut dapat terimpor (Hal yang seharusnya

[2022-01-25 16:16] Zoel-WB opened #4787 "[UMUM] Bug/error: Peta Wilayah Desa Tidak Tampil di Website Maupun di Fitur Pemetaan"
### Jelaskan error yg dialami

Setelah dibuat Peta Wilayah Desa Tidak ditampilkan di Website Maupun di Fitur Pemetaan-->pilih Peta, menggunakan Database default dari data_contoh_awal.

### Cara untuk mereplikasi errornya

Membuat Peta
1. Pilih Info Desa ---> Pilih Identitas Desa-->Lokasi Kantor Desa --->Tentukan Koordinat Kantor Desa
2. Pilih Peta Wilayah Desa --> Kosongkan Default --> Buat Peta B

[2022-01-25 16:29] Zoel-WB opened #4788 "[UMUM] Bug/error: Tombol [Home] Masuk Ke Halaman Website"
### Jelaskan error yg dialami

Bila Diklik Tombol Home Pada Fitur System Dasboard --> Masuk Menuju ke Halaman Website

### Cara untuk mereplikasi errornya

Pada Dasboard Klik Tombol Home

![image](https://user-images.githubusercontent.com/64481641/151017537-232ee532-4f25-46c3-b9ee-4dc882f432ef.png)

![image](https://user-images.githubusercontent.com/64481641/151018135-25cee429-5b05-4b84-aff1-0d337

[2022-01-25 17:42] #4757 closed, assigned to nobody

[2022-01-25 18:46] #4788 closed, assigned to nobody

[2022-01-25 19:36] Zoel-WB commented on #4782
Ada 2 kali tercetak  Judul : Baris Pertama judul terisi, bari 3 judul, hanya Tulisn Kabupaten, Kecamatan, Desa

![image](https://user-images.githubusercontent.com/64481641/151046910-26f74d9c-c589-4e41-93b5-2cf9b0baa000.png)

[2022-01-25 19:48] Zoel-WB opened #4789 "[PREMIUM]Bug/error: Cetak Biodata Penduduk NIK dan Nomor KK Tidak Tercetak"
### Jelaskan error yg dialami

Form Biodata Penduduk Sangat Mengambil Cetak NIK dan Nomor KK tidak tampil di lembaran Cetak

### Cara untuk mereplikasi errornya

1. Buka Dasboard -->Lihat Detail Data Pendudu.
2. Klik Pilih Aksi
3. Klik Pilihan -->Cetak Biodata Penduduk
Atau
4. Klik ->Lihat Detail Biodata Penduduk ->Klik Cetak

### Hasil yg diharapkan

Cetak Biodata Penduduk, Agar NIK dan Nomor KK

[2022-01-25 19:50] Zoel-WB commented on #4789
Sorry Untuk Hanya Yang NIK Sementara -->Salah Mencetak Data cetak, Lainnya yang bukan NIK Sementara  "Normal"

[2022-01-25 19:50] #4789 closed, assigned to nobody

[2022-01-26 00:23] Zoel-WB opened #4790 "[PREMIUM] Bug/error: Cetak Kartu Rumah Tangga Untuk Kepala Rumah Tangga Penggati"
### Jelaskan error yg dialami

Kepala Rumah Tangga Berubah status berganti kepada yg Masih Hidup yang menggantikan Kepala Rumah Tangga Sebelumnya Telah Berubah Status dasar menjadi "Meninggal" dan digantikan. akan tetapi masalah ini juga berpengaruh sampai ke cetak kartu rumah rumah tangga, dimana Atas Nama Kartu Keluarga dan Alamat Letak Rumah Tangga ikut kosong tidak ditampilkan/tercetak di lemb

[2022-01-26 01:08] mizwaruddin opened #4791 "[PREMIUM] Bug/error: Format impor data penduduk tidak berjalan normal"
### Jelaskan error yg dialami

Saat melakukan impor data penduduk menggunakan file contoh dari gagal disimpan karena format tidak sesuai.

### Cara untuk mereplikasi errornya

1. Pengaturan -> Database -> Impro Database
2. Isikan data di file impor (excel sesuai dengan format terlampir)
3. Terjadi gagal impor

### Hasil yg diharapkan

Format contoh impor disesuaikan sehingga tidak terjadi gagal im

[2022-01-26 01:11] andifahruddinakas commented on #4790
Ini dipilih ulang kepala Rumah Tangganya biar yang lama terganti.

[2022-01-26 01:12] andifahruddinakas commented on #4787
Cek di versi premium jg.

[2022-01-26 01:15] mizwaruddin opened #4792 "[PREMIUM] Bug/error: Perbaiki simpan data penduduk jika terjadi duplikasi tag id card."
### Jelaskan error yg dialami

Muncul error 500 saat impor data penduduk jika tag id ada yang sama

### Cara untuk mereplikasi errornya

1. Pengaturan -> Database -> Impor Database
2. Masukkan data tag id ganda pada format impor
3. Muncul keterangan error 500

### Hasil yg diharapkan

Jika ada tag id yang sama, tampilkan keterangan gagal impor sebagaimana jika terjadi kesalahan pada kolom lain (mi

[2022-01-26 01:17] andifahruddinakas commented on #4785
Lemabaga dan kelompok menggunakan tabel dan view yang sama. https://github.com/OpenSID/OpenSID/issues/4785

Jika ada error (scr umum) di kelompok, akan terjadi juga di lembaga.

[2022-01-26 01:17] #4785 closed, assigned to nobody

[2022-01-26 01:18] andifahruddinakas commented on #4782
Ini duplikasi, kyaknya salah 1 harus di hapus.

[2022-01-26 01:24] andifahruddinakas commented on #4779
Batas maksimal hanya 11 digit jika lebih akan error, jika yang diminta adalah penambahan panjang inputan yang disimpan maka silahkan buatkan issue terpisah. Issue ini hanya khusus untuk perbaikan validasi.

[2022-01-26 01:31] scqolbu24 commented on #4782
yang dihapus baris pertama atau baris ketiga ?

[2022-01-26 01:33] andifahruddinakas commented on #4791
Pak @mizwaruddin, sy coba impor menggunakan file yg dilampirkan dan tidak ada masalah.

![asuransi2](https://user-images.githubusercontent.com/57283157/151088251-2e41bab3-f85c-476f-a21d-19cec8b9e32e.png)
![impor1](https://user-images.githubusercontent.com/57283157/151088254-268db64d-4431-41f1-8e31-8b2693726d84.png)

[2022-01-26 01:35] andifahruddinakas commented on #4782
hapus baris 3

[2022-01-26 01:35] scqolbu24 commented on #4782
siap

[2022-01-26 01:47] Zoel-WB opened #4793 "[PREMIUM] Bug/error: Error 500 Input Data Pembangunan Alokasi Anggaran 10 digit atau ada sebab lain"
### Jelaskan error yg dialami

Input Data Pembangunan dengan nilai anggaran 1 milayar saat disimpan terjadi error 500

### Cara untuk mereplikasi errornya

1. Buka Fitur Pembanguan
2. Pilih Tambah Data --. Input Data Pembangunan dengan nilai budget 1 milyar
3. Klik Simpan

![image](https://user-images.githubusercontent.com/64481641/151089330-5e1a1cec-4c12-4c1f-8e19-7a94637acacb.png)

### Hasil yg

[2022-01-26 01:47] #4790 closed, assigned to nobody

[2022-01-26 01:51] andifahruddinakas commented on #4793
Di cek, ulang pak. perbaikan kemarin anggaran = pemeritah + provinsi + Kab / Kota + Swadaya.

![anggaran](https://user-images.githubusercontent.com/57283157/151090260-c0e8ccf1-a23f-440f-afe0-fae38814233f.png)

[2022-01-26 01:55] andifahruddinakas commented on #4787
Cek web demo.

https://demo.opensid.or.id/peta

https://demo.opensid.or.id/gis

[2022-01-26 01:57] andifahruddinakas commented on #4781
Issue ini sebatan perbaikan penulisan desa sesuai pengaturan aplikasi. Untuk perubahan format cetak silahkan buat issue baru permintaan fitur.

[2022-01-26 01:58] #4787 closed, assigned to nobody

[2022-01-26 02:04] Zoel-WB commented on #4790
Kepala Rumah Tangga sudah terganti entah beberapa bulan atau tahunan pak....

[2022-01-26 02:07] andifahruddinakas commented on #4790
di pilih ulang saja pak, biar bisa menyesuaikan perubahan dari laporan kemarin.

[2022-01-26 02:09] Zoel-WB commented on #4790
![image](https://user-images.githubusercontent.com/64481641/151091531-465e0cb9-d9cb-4400-826a-019c24003aff.png)

![image](https://user-images.githubusercontent.com/64481641/151091557-9c1f1ef3-3f8c-4126-980a-97821bce9f95.png)

![image](https://user-images.githubusercontent.com/64481641/151091775-e4792d7f-5c5e-4e2c-a237-76ea0cb17bb8.png)

[2022-01-26 02:10] andifahruddinakas commented on #4790
cek dan duplikasi di https://berputar.opensid.or.id/

[2022-01-26 03:04] yogiperdana commented on #4604
![reset1](https://user-images.githubusercontent.com/14155050/151097148-f4f9c009-0085-4b45-bfb6-26a00395e28c.png)

[2022-01-26 03:12] yogiperdana commented on #4604
![reset2](https://user-images.githubusercontent.com/14155050/151097763-1cf838f2-eaf8-4474-931d-da89323c6412.png)

[2022-01-26 03:12] yogiperdana commented on #4604
![reset3](https://user-images.githubusercontent.com/14155050/151097805-1dcda137-6ecb-49a0-a815-c7344b29b26e.png)

[2022-01-26 03:13] yogiperdana commented on #4604
![reset4](https://user-images.githubusercontent.com/14155050/151097862-8c80f922-8d8f-45f8-9e5e-fb5084c8fabc.png)

[2022-01-26 03:13] yogiperdana commented on #4604
![reset5](https://user-images.githubusercontent.com/14155050/151097897-48182fc1-f9ed-4ce8-97ac-a2820f50b6dc.png)

[2022-01-26 03:14] yogiperdana commented on #4604
![reset6](https://user-images.githubusercontent.com/14155050/151097941-f4f1cfb1-7ff4-433f-ac47-e337e70717b5.png)

[2022-01-26 03:59] #4721 closed, assigned to nobody

[2022-01-26 04:44] yogiperdana commented on #4604
Penerima bantuan keluarga:
![penerima-bantuan-keluarga](https://user-images.githubusercontent.com/14155050/151104565-7b3770e2-92fd-4038-8465-cb4dbce93059.png)

Filter status aktif penerima bantuan keluarga:
![penerima-bantuan-keluarga-filter](https://user-images.githubusercontent.com/14155050/151104572-5de205fa-a5a6-43f4-8b47-916af0ddd6b4.png)

[2022-01-26 04:48] agungsugiarto commented on #4783
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/653

[2022-01-26 04:48] #4783 closed, assigned to scqolbu24

[2022-01-26 05:18] yogiperdana commented on #4604
Status kehamilan:
![status-kehamilan](https://user-images.githubusercontent.com/14155050/151107721-fd9b36c6-dbba-47b7-aeb9-7342776a63fb.png)
![status-kehamilan2](https://user-images.githubusercontent.com/14155050/151107731-fda107dc-0924-4750-86e1-e20139a77367.png)

[2022-01-26 05:42] yogiperdana commented on #4604
Cetak laporan statistik:

![cetak-laporan-statistik](https://user-images.githubusercontent.com/14155050/151109578-0e36ce7b-d18f-42fc-95c4-fadf008343fc.png)

![cetak-laporan-statistik2](https://user-images.githubusercontent.com/14155050/151109619-f4465414-da2e-43d7-bc0d-ccb9c71e5e4b.png)

![cetak-laporan-statistik3](https://user-images.githubusercontent.com/14155050/151109651-afe9d356-9ebc-4573-b12

[2022-01-26 07:26] yogiperdana commented on #4604
Hapus suplemen data warga:
![hapus-suplemen-terdata2](https://user-images.githubusercontent.com/14155050/151121327-43329f1e-4b2f-4229-b945-b973922301c5.png)

![hapus-suplemen-terdata](https://user-images.githubusercontent.com/14155050/151120343-9be72638-d42b-4e95-9be8-264c2a1343d1.png)

[2022-01-26 08:36] yogiperdana commented on #4779
Panjang data int 11 adalah maksimal 2147483648 dan minimal -2147483648. Setelah berdiskusi diputuskan panjang data yang ditetapkan pada validasi menjadi 2000000000

[2022-01-26 10:34] #4791 closed, assigned to nobody

[2022-01-26 11:00] andifahruddinakas opened #4794 "Bug/error: Hak akses modul pembangunan"
### Jelaskan error yg dialami

Hak akses modul pembangunan tidak sesuai dengan fungsinya

### Cara untuk mereplikasi errornya

![pembangunan](https://user-images.githubusercontent.com/57283157/151151546-0d22ee82-b70d-4447-9b7b-4b88d273669f.png)

### Hasil yg diharapkan

Hak akses pembangunan normal

### Tangkapan layar dan log error

tidak ada

### Rilis Versi OpenSID

Rilis Premium

### Versi Ope

[2022-01-26 11:44] yogiperdana commented on #4793
Panjang data int 11 adalah maksimal 2147483648 dan minimal -2147483648. Setelah berdiskusi diputuskan panjang data yang ditetapkan pada validasi menjadi 2000000000 yang berlaku untuk kolom sumber_biaya_pemerintah, sumber_biaya_provinsi, sumber_biaya_kab/kota, dan sumber_biaya_swadaya. Lebih lanjut hasil diskusi sementara menetapkan penghapusan kolom anggaran dan sumber biaya total dihapuskan agar

[2022-01-26 15:04] scqolbu24 commented on #4604
Verifikasi Telegram di Layanan Mandiri :
![1  Langkah1-1](https://user-images.githubusercontent.com/68048807/151185734-3bf2b79e-412b-498e-a72e-5f67c6e43e68.PNG)
<img width="632" alt="1  Langkah1-2" src="https://user-images.githubusercontent.com/68048807/151185761-c6fbe9bd-62e7-44a7-a77c-cac90263ba27.PNG">
<img width="629" alt="1  Langkah1-3" src="https://user-images.githubusercontent.com/68048807/

[2022-01-26 17:46] andifahruddinakas commented on #3659
Pak @eddieridwan, ini sudah diperbaiki di issue https://github.com/OpenSID/OpenSID/issues/4498

[2022-01-26 17:46] #3659 closed

[2022-01-27 00:56] yogiperdana commented on #4786
Telah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/658

[2022-01-27 00:56] #4786 closed, assigned to andifahruddinakas

[2022-01-27 01:29] scqolbu24 commented on #4604
**Layanan Mandiri -> Ganti Pin **

![Ganti PIN](https://user-images.githubusercontent.com/68048807/151644060-d3554d05-490f-45c3-9b07-36023ee01767.PNG)

<img width="666" alt="Ganti PIN-dialog" src="https://user-images.githubusercontent.com/68048807/151644291-09add41e-62a8-4d13-a7bc-1a040703c26c.PNG">

**Layanan Mandiri -> Ganti Pin Kirim Melalui Telegram**

![Kirim Melalui Telegram-1](https://user-

[2022-01-27 01:37] yogiperdana commented on #4604
Verifikasi email pengguna administrator:
![verif1](https://user-images.githubusercontent.com/14155050/151275076-b4f5ce55-897f-424a-84df-e48452f05388.png)

![verif2](https://user-images.githubusercontent.com/14155050/151275128-c2d9c6f3-72b3-44ba-b559-850494f1ecf8.png)

![verif3](https://user-images.githubusercontent.com/14155050/151275146-e304c89b-4cb1-4c93-bdcf-02ba09addf42.png)

![verif4](https:/

[2022-01-27 01:38] FirlianiF commented on #4689
mas @agungsugiarto boleh tolong dijelaskan Pengaturan untuk menonaktifkan sms itu seperti apa detail nya?

[2022-01-27 02:25] agungsugiarto commented on #4689
Kalau tidak salah ingat, modul sms dibuat pengaturan kemudian bisa di aktifkan / non aktifkan

[2022-01-27 02:37] agungsugiarto commented on #4782
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/650

[2022-01-27 02:37] #4782 closed, assigned to scqolbu24

[2022-01-27 05:38] Zoel-WB commented on #4793
1. Apakah tidak mempengaruhi data anggaran yang sudah ada sebelumnya dengan perpindahan kolom dari kolom Anggaran ke Kolom Sumber Biaya Pemerintah, karena sebagian desa telah selesai mengimput untuk data fitur ini dari semenjak fitur ini ditambah di opensid.

2. Pembiayan dengan sumber-sumber pembiayaan lain yang bukan dari pemerintah, misalnya dari pendapatan asli desa, kemudian bila anggaran pem

[2022-01-27 06:42] scqolbu24 commented on #4776
Pak @Zoel-WB  saya sudah mengecek dengan downlad Repo OpenSID Dev-V22.01 Pasca, berjalan normal, berikut dilampirkan videonya :

https://user-images.githubusercontent.com/68048807/151305394-62093a92-d680-4a9b-b2e7-b6b70fa3a9b5.mp4

[2022-01-27 06:54] scqolbu24 commented on #4776
sudah dicek di web demo https://demo.opensid.or.id/ juga normal, seperti berikut lampiran videonya:

https://user-images.githubusercontent.com/68048807/151307046-54903dbc-3e87-4d74-99b1-04c03cf32239.mp4

[2022-01-27 07:01] Zoel-WB commented on #4776
Ini di laptop saya sudah 2 kali di install tidak dapat mengirim surat, baik di system Premium maun di system Umum, secara pasti tidak dapat saya pastikan apakah jalan atau tidak, yg lain pun setelah issue ini saya buat tak ada yg komen, mungkin saja tidak masalah, hanya di laptop saya barang kali, makanya saya sendiri tidak dapat memastikan untuk fitur ini secara konkrit.

[2022-01-27 07:05] scqolbu24 commented on #4776
tadi saya sudah mencoba install ulang download dari Reponya, kemudian dijalankan aman

[2022-01-27 07:05] scqolbu24 commented on #4776
Pak @andifahruddinakas juga sudah mencoba aman

[2022-01-27 07:07] scqolbu24 commented on #4776
Untuk web demo berjalan normal, dan mohon ijin pak @Zoel-WB apakah bisa di close untuk issue ini?

[2022-01-27 07:07] Zoel-WB commented on #4776
oke berarti aman pak, cuma dilaptop saya belum tahu apa masalahnya, malalah pembersiha cache dan sebagainya selalu saya lakukan.

[2022-01-27 07:08] Zoel-WB commented on #4776
Oke pak di Close saja, nanti bila bisa re-open lagi...

[2022-01-27 07:08] scqolbu24 commented on #4776
baik pak, saya close saja untuk issue ini.

[2022-01-27 07:54] eddieridwan commented on #4776
Bung @scqolbu24 seperti kita bicarakan tadi, harap dilihat/diperiksa di laptop bung @Zoel-WB . Tuntaskan masalahnya

[2022-01-27 08:02] ariandii opened #4796 "Bug/error: Tambah produk"
### Jelaskan error yg dialami

Terjadi Gagal Tampil Produk saat setelah simpan produk tanpa isi Potongan Harga Produk.

<img width="960" alt="screenshot_290" src="https://user-images.githubusercontent.com/46939846/151316110-2d360d9f-0094-4807-9c03-3d70d244e17e.png">

### Cara untuk mereplikasi errornya

Masuk menu lapak, tambah produk. lalu isi kolom (kecuali kolom Potongan Harga Produk tidak perl

[2022-01-27 09:08] scqolbu24 commented on #4780
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/657

[2022-01-27 09:08] #4780 closed, assigned to andifahruddinakas

[2022-01-27 09:24] yogiperdana commented on #4604
hapus sebelum import:
![import-hapus2](https://user-images.githubusercontent.com/14155050/151329412-71829c7b-0972-48ad-9c09-9048427406b2.png)

[2022-01-27 10:00] Zoel-WB commented on #4752
Hasil Tester ;
![image](https://user-images.githubusercontent.com/64481641/151336247-5358f618-59c1-4cb3-92f4-98f0db109f4f.png)

![image](https://user-images.githubusercontent.com/64481641/151336317-b9ed3a8c-c71e-46f7-aa71-096001afdc73.png)

https://www.sidu.teupinbeulangan.desa.id/artikel/2022/1/27/jadwal-musyawah-desa

[2022-01-27 15:04] agusterm commented on #4794
![photo_2022-01-27_22-42-22](https://user-images.githubusercontent.com/87739467/151384769-893a5778-efe3-4e93-9c30-eb4c7d82dcaa.jpg)

Tombol tambah data sangat diperlukan dalam hak akses khusus modul pembangunan. untuk memudahkan dalam penginputan data sesuai dengan tupoksinya

[2022-01-27 15:47] andifahruddinakas commented on #4794
Ya, sudah termasuk di issue ini mengenai hak akses modul pembangunan.

[2022-01-28 02:29] agusterm commented on #4794
mantap, teima kasih bang

[2022-01-28 03:31] scqolbu24 commented on #4796
sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/663

[2022-01-28 03:31] #4796 closed, assigned to andifahruddinakas

[2022-01-28 08:07] scqolbu24 commented on #4794
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/660

[2022-01-28 08:07] #4794 closed, assigned to andifahruddinakas

[2022-01-28 08:55] makhbub commented on #4643
Semoga bisa diterapkan di OpenSID Versi 22.02

[2022-01-28 10:23] agungsugiarto commented on #4778
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/652

[2022-01-28 10:23] #4778 closed, assigned to andifahruddinakas

[2022-01-28 11:10] yogiperdana commented on #4781
Telah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/654

[2022-01-28 11:10] #4781 closed, assigned to scqolbu24

[2022-01-28 11:14] wirawan114 commented on #4708
pemanfaatan ajx juga mungkin dapat meperingan website namun berpengaruh pada seo

[2022-01-28 11:38] eddieridwan opened #4797 "Bug/error: Lat/Lng di lokasi kantor desa dapat diisi nilai tidak valid sehingga menyebabkan semua peta tidak tampil"
### Jelaskan error yg dialami

Lat/Lng di lokasi kantor desa dapat diisi nilai tidak valid sehingga menyebabkan semua peta wilayah tidak tampil

### Cara untuk mereplikasi errornya

1. Pergi ke halaman Info Desa > Identitas Desa > Lokasi Kantor Desa
2. Isi lat/lng tidak valid
3. Simpan
4. Periksa beberapa peta wilayah administratif
5. Terlihat semua peta tidak tampil tanpa penjelasan apapun

![ima

[2022-01-28 12:07] andifahruddinakas commented on #4797
http://jsfiddle.net/nRha8/2/

[2022-01-28 12:54] scqolbu24 commented on #4779
sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/656

[2022-01-28 12:54] #4779 closed, assigned to yogiperdana

[2022-01-28 13:12] yogiperdana commented on #4792
Telah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/655

[2022-01-28 13:12] #4792 closed, assigned to andifahruddinakas

[2022-01-28 14:54] mizwaruddin opened #4798 "[PREMIUM] Nama bulan tampil angka pada laporan kelompok rentan"
### Jelaskan error yg dialami

Nama bulan tampil angka pada laporan kelompok rentan

### Cara untuk mereplikasi errornya

1. Statistik -> Laporan Kelompok Rentan -> Cetak
2. Nama bulan tampil angka--yang seharusnya nama bulan--

### Hasil yg diharapkan

Nama bulan tampil bukan sebagai angka

### Tangkapan layar dan log error

![bug_rentan_laporan](https://user-images.githubusercontent.com/39736008

[2022-01-28 14:59] andifahruddinakas commented on #4798
Desain awal modul ini menggunakan bulan angka dan tidak bisa diganti/dipilih.

![laporan 1](https://user-images.githubusercontent.com/57283157/151569384-436b1d76-7f2e-4bf4-bcb6-c7b3e014b8d8.png)

[code]

Bulan dari laporan di ambil dari data modul tsb.

[2022-01-28 15:10] mizwaruddin opened #4799 "[PREMIUM] Bug/error: Perbaiki agar tidak bisa ubah status hubungan dalam keluarga menjadi kepala keluarga jika kepala keluarga sudah meninggal."
### Jelaskan error yg dialami

Jumlah KK bernilai negatif dalam laporan bulanan

### Cara untuk mereplikasi errornya

https://t.me/c/1238304761/24505:
Yg saya lakukan: stlh kepala keluarga meninggal, ubah status meninggal. Istri naik jabatan jd kepala KK. Klo KK tsb mengajukan perubahan KK, baru pecah KK.

1. Statistik -> Laporan Bulanan
2. Jumlah KK dalam laporan bulanan bernilai negatif

### Has

[2022-01-28 15:20] mizwaruddin opened #4800 "Permintaan fitur: Tambahkan fungsi auto complete pada daftar penerima vaksin"
### Apa kekurangan yg ingin diatasi?

Pada kotak pencarian menu daftar penerima vaksin belum ada fungsi auto complete

### Jelaskan solusi yg diinginkan

Tambahkan fungsi auto complete untuk mempercepat proses pencarian data

### Apakah ada alternatif lain

Tidak ada

### Untuk versi OpenSID mana

OpenSID 22.01-premium-beta03

### Informasi tambahan

_No response_

[2022-01-28 15:42] mizwaruddin opened #4801 "[PREMIUM] Bug/error: Salah penyebutan tanggal pada form mutasi inventaris"
### Jelaskan error yg dialami

Pada form tambah mutasi terdapat kesalahan penyebutan, yang seharusnya "tanggal mutasi" tertulis "tahun mutasi".

### Cara untuk mereplikasi errornya

1. Sekretaris -> Inventaris
2. Pilih salah satu kategori
3. Klik tombol mutasi pada salah satu jenis inventaris
4. Pada form mutasi, terdapat kesalahan penyebutan, yang seharusnya "tanggal mutasi" tertulis "tahun mutas

[2022-01-28 15:49] mizwaruddin opened #4802 "[PREMIUM] Bug/error: Error 500 saat tambah mutasi inventaris"
### Jelaskan error yg dialami

Error 500 saat tambah mutasi inventaris

### Cara untuk mereplikasi errornya

1. Sekretaris -> Inventaris
2. Pilih salah satu kategori
3. Klik tombol mutasi pada salah satu jenis inventaris
4. Isi form mutasi
5. Simpan -> Error 500

### Hasil yg diharapkan

Proses mutasi barang inventaris berjalan dengan lancar

### Tangkapan layar dan log error

![bug_inventaris_mut

[2022-01-28 15:52] andifahruddinakas opened #4803 "Permintaan fitur: No HP diambil data penduduk saat buat surat layanan mandiri"
### Apa kekurangan yg ingin diatasi?

No HP selalu harus di masukkan ulang saat buat surat dilayanan mandiri.

### Jelaskan solusi yg diinginkan

No HP diambil data penduduk saat buat surat layanan mandiri dan bisa disesuaikan.

### Apakah ada alternatif lain

Tidak ada.

### Untuk versi OpenSID mana

v22.01-premium

### Informasi tambahan

Tidak ada

[2022-01-28 15:55] andifahruddinakas commented on #4776
Pindahkan `form_action` ke kontroller controller, bedakan jika tambah atau ubah.

[2022-01-28 16:03] mizwaruddin opened #4804 "[PREMIUM] Bug/error: Nama kecamatan Ikut tampil dalam tempat dan tanggal laporan inventaris"
### Jelaskan error yg dialami

Nama kecamatan Ikut tampil dalam tempat dan tanggal laporan inventaris

### Cara untuk mereplikasi errornya

1. Sekretariat -> Inventaris
2. Pilih salah satu kategori -> cetak
3. Pada hasil cetak, nama kecamatan ikut tampil pada bagian tempat dan tanggal laporan

### Hasil yg diharapkan

Nama kecmatan tidak tampil dalam tempat dan tanggal laporan

### Tangkapan layar

[2022-01-29 00:32] eddieridwan commented on #4799
Masalahnya di langkah yg dilakukan @mizwaruddin :

`stlh kepala keluarga meninggal, ubah status meninggal. Istri naik jabatan jd kepala KK. Klo KK tsb mengajukan perubahan KK, baru pecah KK.`

Seharusnya nomor KK melekat pada kepala keluarga yg asli. Jadi setelah kepala keluarga meninggal, kartu keluarga (Nomor KK) tersebut TIDAK BOLEH digunakan dengan orang lain sebagai kepala keluarga pengganti.

[2022-01-29 00:58] eddieridwan opened #4805 "Permintaan fitur: Setelah kepala keluarga meninggal, mudahkan proses membuat keluarga baru bagi yg ditinggal"
### Apa kekurangan yg ingin diatasi?

Saat ini, proses yg perlu dilakukan setelah kepala keluarga meninggal adalah sbb:

1. Ubah status kepala keluarga menjadi mati
2. Pecah seluruh anggota keluarga yg ditinggalkan
3. Buat keluarga baru menggunakan nomor KK sementara, dengan istri sebagai kepala keluarga
4. Tambahkan anggota keluarga lainnya ke keluarga baru tersebut

Langkah2 ini menyulitkan dan

[2022-01-29 01:15] muhtar-coder commented on #4805
Ya.. lebih praktis...

[2022-01-29 02:34] balongbesuk commented on #4225
nah ini

bikin heran sering banget blanko d rubah rubah

[2022-01-29 04:00] scqolbu24 commented on #4604
**Kirim Ganti PIN di Operator Kemudian kirim melalui Email dan Telegram**

![1  Kirim Melalui Telegram dan Email](https://user-images.githubusercontent.com/68048807/151646800-de6eff9e-e7cd-4233-bb60-3f7c89a66043.PNG)

<img width="959" alt="2  Ganti PIN" src="https://user-images.githubusercontent.com/68048807/151646804-b543badb-1b79-41ac-b59b-9ffda990b9db.PNG">

![3  Kirim Melalui Email](https://us

[2022-01-29 05:05] andifahruddinakas commented on #4802
Saya test tidak ada masalah.

id tidak memliki nilia default, krn seharusnya id digenerate otomatis saat disimpan (bukan dari inputan).
cek tabel tsb, apakah struktur sudah sesuai dengan database bawwan. kolom id memiliki auto_increment.
![inventaris](https://user-images.githubusercontent.com/57283157/151648168-01da3bbb-bc7c-49e2-ae17-a4f401a48731.png)

[2022-01-29 05:24] sulaimanlawidhub commented on #4643
Mohon agar fitur ini segera disediakan.

[2022-01-29 08:19] scqolbu24 commented on #4604
lupa PIN dikirim melalui telegam:

![1  Lupa PIN](https://user-images.githubusercontent.com/68048807/151653547-39592bf2-162a-4411-bce9-b3a0b66b13b1.PNG)

<img width="786" alt="2  Lupa PIN" src="https://user-images.githubusercontent.com/68048807/151653550-1e5d4ef9-cc4f-4c28-b00a-4e1c0b431950.PNG">

<img width="779" alt="3  Lupa PIN-Gagal" src="https://user-images.githubusercontent.com/68048807/1516

[2022-01-29 09:23] scqolbu24 opened #4806 "[Layanan Mandiri] Lupa/reset PIN kirim melalui email"
### Apa kekurangan yg ingin diatasi?

saat ini Layanan Fitur Lupa PIN baru tersedia kirim melalui telegram yang sudah diverifikasi, untuk akun yang sudah disediakan yang dapat diverifikasi adalah telegram dan email.
Fitur Lupa PIN dikirim melalui email bisa menjadi alternatif bagi pengguna yang sudah terbiasa menggunakan email.

### Jelaskan solusi yg diinginkan

Ada pilihan Lupa PIN kirim melalui

[2022-01-29 10:04] scqolbu24 commented on #4776
sudah diperbaiki melalui PR #677 [Perbaiki permohonan surat layanan mandiri ](https://github.com/OpenSID/premium/pull/677)

[2022-01-29 10:04] #4776 closed, assigned to andifahruddinakas

[2022-01-29 12:10] #4802 closed, assigned to nobody

[2022-01-29 14:35] scqolbu24 commented on #4797
apabila yang diinputkan -000.483832804795249 sudah ada validasinya, sehingga sudah aman tidak bisa menyimpan

<img width="943" alt="validasi peta-ok" src="https://user-images.githubusercontent.com/68048807/151664908-c18fcd60-2487-43ec-8005-fbcbd732fe38.PNG">

Namun ketika diinputkan -00.483832804795249 belum ada validasinya, sehingga masih terjadi error ketika disimpan seperti gambar berikut:

<im

[2022-01-29 15:49] andifahruddinakas commented on #4637
Sudah digabung ke Fitur Premium melalui PR https://github.com/OpenSID/premium/pull/604

[2022-01-29 15:49] #4637 closed, assigned to nobody

[2022-01-29 16:03] #4801 closed, assigned to scqolbu24

[2022-01-29 16:15] #4804 closed, assigned to scqolbu24

[2022-01-29 16:31] #4797 closed, assigned to andifahruddinakas

[2022-01-30 00:39] scqolbu24 opened #4807 "[Sekretariat] Sebutan Jabatan Kepala Desa atau Lurah"
### Jelaskan error yg dialami

Saat ini pada tandatangan, jabatan yang menandatangani Kepala Desa yang merupakan jabatan pemimpin pada Desa, namun jika pada yang dipimpin adalah kelurahan seharusnya jabatan yang tandatangan adalah Lurah.

### Cara untuk mereplikasi errornya

1. Sekretariat -> Inventaris
2. Pilih salah satu kategori -> cetak
3. Pada hasil cetak, nama jabatan yang tandatangan adalah

[2022-01-30 01:01] scqolbu24 commented on #4807
di close dikarenakan pilihan tandatangan sesuai dengan pilihan pada cetak tandatangan dengan mengambil data dari tabel `tweb_desa_pamong` sehingga sudah menyesuaiakan nama jabatan yang tandatangan.

[2022-01-30 01:01] #4807 closed, assigned to scqolbu24

[2022-01-30 04:08] pemdeslinggapura opened #4808 "Tidak ada menu hapus penduduk di menu import database"
Pada menu Impor Database biasanya ada menu hapus penduduk di menu import database. di Versi 22.01-premium-rev02 tidak ada
![Screenshot 2022-01-30 110834](https://user-images.githubusercontent.com/89450861/151686251-f8148389-0529-4e48-997f-f980eaca0961.jpg)

[2022-01-30 04:39] eddieridwan commented on #4808
@pemdeslinggapura , mohon lihat https://github.com/OpenSID/OpenSID/wiki/Impor-Data-Penduduk-Desa

`(Penting: fitur hapus sebelum impor hanya dapat dilakukan pada pertama kali mengimpor data penduduk).`

Karena fitur impor penduduk baru tidak dimaksudkan untuk dilakukan berulang-ulang. Sekali saja.

Issue ini akan ditutup. Jika ada hal tambahan, silakan buka lagi.

[2022-01-30 04:39] #4808 closed, assigned to nobody

[2022-01-30 04:52] tanjungberulak opened #4809 "Bug/error: Tidak Bisa Mengubah Info Desa | Localhost"
### Jelaskan error yg dialami

Kami mencoba untuk menjalankan SID di localhost.
Tahap instalasi selesai dan pengosongan database juga sudah.
Tahap mengubah info desa terkendala karena form desa tidak memunculkan nama desa pilihan.

### Cara untuk mereplikasi errornya

1. Masuk ke admin
2. Pilih menu 'Info Desa'
3. Pilih menu 'Identitas Desa'

### Hasil yg diharapkan

Bisa Memasukan Nama Desa Secar

[2022-01-30 05:11] andifahruddinakas commented on #4809
Cek https://github.com/OpenSID/OpenSID/wiki/Identitas-Desa

[2022-01-30 05:54] scqolbu24 commented on #4604
**Pegaduan di Halaman Web Pengguna :**

<img width="948" alt="1  Tampilan Pengaduan di Pengguna" src="https://user-images.githubusercontent.com/68048807/151688423-2128a87d-0310-4c6c-b5b9-08a55320920b.png">

<img width="1440" alt="2  Buat Pengaduan" src="https://user-images.githubusercontent.com/68048807/151688425-9127ee28-113b-455a-b8e9-a17bd4e0650c.png">

<img width="1440" alt="3  Tampilan Pengad

[2022-01-30 06:13] tanjungberulak commented on #4809
Kami telah mencoba menambah bari kode Traking nama desa di file desa/config/config.php, namun masih gagal.
KEdua, kami lakukan Ganti file yang ada di folder donjo-app/views/identitas_desa/form.php dengan file https://github.com/OpenSID/OpenSID/files/7798636/form.zip Akhirnya Berhasil.

[2022-01-30 06:13] #4809 closed, assigned to nobody

[2022-01-30 06:48] eddieridwan commented on #4809
@andifahruddinakas @tanjungberulak , sebagai catatan, saya telah perbaiki panduan di https://github.com/OpenSID/OpenSID/wiki/Identitas-Desa#tidak-bisa-mengubah-nama-desa, supaya lebih jelas apa saja yg perlu diperiksa jika masalah ini terjadi.

Tetapi mengenai perubahan script file donjo-app/views/identitas_desa/form.php yg dilaporkan bung @tanjungberulak, mohon bung @andifahruddinakas tuntaskan.

[2022-01-30 06:49] andifahruddinakas commented on #4809
Sudah diperbaiki.

[2022-01-30 07:24] andifahruddinakas commented on #4609
Duplikasi issue https://github.com/OpenSID/OpenSID/issues/4606

[2022-01-30 07:24] #4609 closed, assigned to nobody

[2022-01-30 07:25] andifahruddinakas commented on #4597
Duplikasi issue https://github.com/OpenSID/OpenSID/issues/4635

[2022-01-30 07:25] #4597 closed, assigned to nobody

[2022-01-30 07:34] andifahruddinakas commented on #4250
Duplikasi issue https://github.com/OpenSID/OpenSID/issues/4679

[2022-01-30 07:34] #4250 closed

[2022-01-30 07:34] andifahruddinakas commented on #4227
Sudah di fitur premium

[2022-01-30 07:34] #4227 closed

[2022-01-30 07:36] andifahruddinakas commented on #4139
Gunakan select2 multiple

[2022-01-30 09:09] scqolbu24 commented on #4604
Pencarian Spesifik pada modul penduduk

<img width="948" alt="Pencarian Spesifik" src="https://user-images.githubusercontent.com/68048807/151693635-3fbf3b4d-b164-4548-b967-f526e03bcdad.PNG">

<img width="959" alt="Pencarian Spesifik-Dialog" src="https://user-images.githubusercontent.com/68048807/151693637-23a0316c-d3fa-4f86-b062-bfa886c29779.PNG">

[2022-01-30 09:47] scqolbu24 commented on #4604
Tambah saring data rincian suplemen

<img width="960" alt="Data Suplemen" src="https://user-images.githubusercontent.com/68048807/151694809-d2e39762-dda3-4921-aff5-5b5c78c0735e.PNG">

[2022-01-30 10:09] usmanrahdi opened #4813 "Bug/error: Artikel tidak tampil di laman web utama jika diklik tgl default pada waktu menyimpan awal"
### Jelaskan error yg dialami

Saat membuat artikel baru, sesaat sebelum klik simpan terlebih dahulu klik tanggal dan kemudian simpan.
Artikel berhasil tersimpan namun tidak tampil di halaman depan depan/ website utama dan coba preview muncul error 404

### Cara untuk mereplikasi errornya

1. Pergi ke halaman 'Admin web'
2. Buat Artikel baru
3. Klik tanggal (otomatis tanggal dan wktu/ jam muncul)

[2022-01-30 10:40] Zoel-WB commented on #4813
Pembuatan artikel di website seperti agak sedikit terhambat atau tersentak saat untuk ditampilkan, terkadang bila langsung disimpan atau edit sedikit di buka ke website "Muncul Pesan Halaman yg dicari belum tersedia pesan 404, kemudian dibuka edit ulang, tanpa melakukan koreksi apapun hanya membuka tombole suting ulang/edit lalu pilih simpan, artikel kemudian baru dapat dimunculkan di website [PRE

[2022-01-30 11:19] Zoel-WB opened #4814 "[PREMIUM 22.01 BETA03] Permintaan Pengecekkan Rekapitulasi Kelompok Rumah Tangga Pada Dasboard"
### Jelaskan error yg dialami

Tampilan Rekapitulasi yang ditampilkan pada dasboard seperti ada sedikit gangguan setelah adanya perubahan status dasar pada pada salah satu kepala  keluarga yg merangkap kepala rumah tangga menjadi status dasar PINDAH, tampilan rekap di dasboard diawal loading masih menampilkan jumlah rekap sebelumnya, setelah direpresh atau klik list detail, lalu kembali lagi ke da

[2022-01-30 12:15] scqolbu24 commented on #4604
Buku Inventaris Hasil Pembangunan:

<img width="960" alt="1  Buku Inventaris hasil Pembangunan" src="https://user-images.githubusercontent.com/68048807/151699194-b51cf14d-cd06-4958-bc31-8789e1539954.PNG">

<img width="960" alt="2  Buku Inventaris hasil Pembangunan" src="https://user-images.githubusercontent.com/68048807/151699198-8c46ee89-deff-4249-8aaf-7836131f6691.PNG">

[2022-01-30 12:43] pemdeslinggapura commented on #4808
Kebetulan kemarin sebelum pakai premium v.22.01 saya salah import data penduduk, bayak yg salah tgl lahirnya. Kalo sudah begini harus gmna dong mas?

[2022-01-30 13:28] andifahruddinakas commented on #4814
Ini terkait filter kelompok aktif dan tidak aktif, desain awal tidak dibuat demikian (data dihitung keseluruhan kelompok). Terkait issue ini, solusi :
1. Ganti ketua kelompok dengan penduduk yang masih hidup.
2. Sediakan kondisi status kelompok (aktif/tidak aktif) sama halnya degan modul penduduk, keluarga, rtm. (Silahkan buat issuenya)

[2022-01-30 13:46] Zoel-WB commented on #4814
Oke pak, utk informasi tambahan kejadian ini timbul karena adanya perubahan status dasar Pindah utk seluruh keluarga/pindah semua satu keluarga/rumah tangga.

[2022-01-30 13:53] andifahruddinakas commented on #4814
ya, makanya perlu ada filte status kelompok aktif atau tidak sama halnya dengan penduduk, keluarga atau rtm jika keluarga sudah menunggal, pindah atau lainnya. Data yang ditampilkan nantinya, kelompok yang aktif saja.

[2022-01-30 13:55] andifahruddinakas commented on #4813
@yogiperdana cek ini.

[2022-01-30 14:02] scqolbu24 commented on #4604
View Buku Peraturan Desa,

<img width="960" alt="1  Buku Peraturan Desa" src="https://user-images.githubusercontent.com/68048807/151703517-61eedac1-8328-44f4-8049-157766fefe83.PNG">

<img width="960" alt="2  Buku Peraturan Desa" src="https://user-images.githubusercontent.com/68048807/151703520-86fef690-c71d-4499-8186-5d0ae5012520.PNG">

<img width="946" alt="3  Buku Peraturan Desa" src="https://us

[2022-01-30 14:06] Zoel-WB commented on #4814
Oke Pak, berarti saya buat issue untuk filter aktif pada fitur rtm

[2022-01-30 14:13] eddieridwan commented on #4808
Pada impor data penduduk, data dengan NIK sama akan ditimpa. Jadi impor saja tanpa harus menghapus data yg sudah ada.

[2022-01-30 14:19] andifahruddinakas commented on #4814
ya.

[2022-01-30 14:26] Zoel-WB opened #4816 "[PREMIUM] Permintaan fitur: Aktifkan Filter Kelompok Status Aktif pada Fitur Rekap Jumlah RTM"
### Apa kekurangan yg ingin diatasi?

Permintaaan Aktifkan Filter Kelompok Status Aktif pada Fitur Detail RTM, karena bila filter aktif tidak ditetapkan sebagai filter utama pada fitur Kelompok Rumah tangga, bila tidak ada filter tetap untuk kelompok yang masih aktif akan terjadi jumlah rekap data pada dasboard akan berbeda atau tetap  sama dsaat salah satu kepala Keluarga yg merangkap Kepala Ruma

[2022-01-30 14:44] pemdeslinggapura commented on #4808
Saya nyoba import penduduk, di versi 22.1 sampai 21.12 tanggal lahir semua berubah jadi 1 januari 1970, saya coba import di versi umum tgl lahirnya normal

[2022-01-30 21:01] FirlianiF commented on #4604
atur jenis garis dan ketebalan tipe garis di pengaturan peta
<img width="1440" alt="Screen Shot 2022-01-31 at 03 39 31" src="https://user-images.githubusercontent.com/30171560/151717626-45189c89-c7ed-4d17-b44e-d8146c4d0bc6.png">
<img width="1440" alt="Screen Shot 2022-01-31 at 03 41 02" src="https://user-images.githubusercontent.com/30171560/151717631-2e3d114c-0de9-418c-b963-b3199e3ddb1a.png">
<im

[2022-01-30 22:05] FirlianiF commented on #4604
Modul bumindesa arsip desa.
<img width="1440" alt="Screen Shot 2022-01-31 at 04 40 22" src="https://user-images.githubusercontent.com/30171560/151719709-dac222e2-ace6-45d1-970f-3c5b358d76a7.png">
<img width="1440" alt="Screen Shot 2022-01-31 at 04 40 32" src="https://user-images.githubusercontent.com/30171560/151719712-af1be930-ee1a-460c-8b9e-3eba64d98c72.png">
<img width="1440" alt="Screen Shot 2

[2022-01-30 22:55] scqolbu24 commented on #4604
Pendataan Vaksin

<img width="948" alt="1  Vaksin Covid" src="https://user-images.githubusercontent.com/68048807/151721356-9327776a-4710-4b90-961c-0fcba0694c74.PNG">

<img width="948" alt="2  Vaksin Covid" src="https://user-images.githubusercontent.com/68048807/151721360-f6203591-72db-48d6-997b-ca35fbbdc973.PNG">

<img width="948" alt="3  Vaksin Covid" src="https://user-images.githubusercontent.co

[2022-01-31 00:03] eddieridwan commented on #4752
@andifahruddinakas Jika tidak bisa direplikasi oleh beberapa tester, dan pelapor tidak bisa dihubungi maka issue dapat ditutup.

[2022-01-31 01:57] yogiperdana commented on #4793
Validasi kolom sudah ditambahkan. Untuk penambahan kolom sumber biaya lain mohon dibuatkan issue yang baru terkait penambahan fitur ya pak @Zoel-WB

[2022-01-31 03:28] #4752 closed, assigned to yogiperdana

[2022-01-31 06:32] Zoel-WB opened #4817 "[PREMIUM]Bug/error: Tidak Dapat Menyimpan Data Setelah di Edit Form Master Analisis > Analisis Keluarga"
### Jelaskan error yg dialami

Tidak Dapat Menyimpan Data Setelah di Edit Form Master Analisis > Analisis Keluarga

### Cara untuk mereplikasi errornya

1. Buka Fitur Analisis-->Master Analisis
2. Pilih Analisis Keluarga
3. Masukkan Beberapa data
4. Setelah di simpan > buka salah data untuk mengedit pada ->Kategori Kepemilikan Rumah atau Penghasilan Perbulan
5. Lalu Simpan Kembali > Pilih Laporan

[2022-01-31 06:47] totoprayogo1916 opened #4818 "Bug/error: padding/margin pada demo umum vs premium"
### Jelaskan error yg dialami

padding / margin di tema Natra berbeda?

https://berputar.opensid.or.id/
![image](https://user-images.githubusercontent.com/2387514/151750165-931e592f-1493-4a8d-ac69-857cf392054a.png)

https://demo.opensid.or.id/
![image](https://user-images.githubusercontent.com/2387514/151750117-0f5ffc39-efea-48d4-82d6-92e7ff9430ed.png)

### Cara untuk mereplikasi errornya

akses k

[2022-01-31 06:49] Zoel-WB commented on #4793
Baik Pak, nanti saya ajukan untuk issue tambah kolom bidang pembiayaan dari sumber lainnya selain yg sudah baku pada fitur pembangunan sudah ada saat ini, issue #4819

[2022-01-31 07:06] Zoel-WB opened #4819 "[PREMIUM] Permintaan Penambahan Kolom Sumber Pembiayaan Lainnya pada Fitur Input Data Pembangunan"
### Apa kekurangan yg ingin diatasi?

Permintaan Tambah Satu Kolom Untuk Data Pembangunan dengan Pembiayaan dari Sumber Linnya untuk dapat memasukkan nilai, karena saat ini setelah pengalihan Kolom Anggaran menjadi kolom Jumlah Anggaran = [Pemerintah]+[Provinsi]+[Kab/Kota]+[Swakelola], issue terkait #4793

sehingga untuk pembiayaan lainnya tidak ada kolom yg dapat mewakili sumber anggaran, bila su

[2022-01-31 07:24] FirlianiF commented on #4777
Sudah solved ya pak @Zoel-WB, issue saya close.

[2022-01-31 07:24] #4777 closed, assigned to FirlianiF

[2022-01-31 11:41] Zoel-WB commented on #4777
Ya, Oke......

[2022-01-31 12:30] Zoel-WB opened #4820 "[PREMIUM] Keluarga/Kepala Keluarga Berubah status dasar Pindah Seluruh Keluarga Terdapat Dalam Laporan Hasil Klasifikasi Analisis Keluarga"
### Jelaskan error yg dialami

Keluarga/Kepala yang telah Berubah status dasar menjadi Pindah atau Pindah Seluruh Keluarga-nya Terdapat dan muncul kembali di Dalam Laporan Hasil Klasifikasi Analisis Keluarga.

### Cara untuk mereplikasi errornya

1. Pilih Fitur Analisis -->Master Analisis -->Pilih Analisis Keluarga
2. Input Semua Data
3. Masuk ke Fitur Penduduk Pilih Data Penduduk dengan Posisi Ke

[2022-01-31 19:49] Zoel-WB opened #4821 "[PREMIUM] Data Penduduk/Kepala Keluarga Yg Berubah status dasar Masih Muncul di Program Bantuan"
### Jelaskan error yg dialami

Data Penduduk/Kepala Keluarga Yg Berubah status dasar "Mati" Masih Muncul di Program Bantuan pada tahun yang sama dengan adanya perubahan status dasar, akan tetapi nama-nya masih terdaftar sebagai penerima program bantuan

### Cara untuk mereplikasi errornya

1. Rubah Status Dasar Salah Satu Data Penduduk/Kepala KK yg terdaftar sebagai penerima bantuan tahun berjalan

[2022-02-01 06:21] totoprayogo1916 opened #4823 "Bug/error: securimage tidak keluar di web demo berputar"
### Jelaskan error yg dialami

securimage tidak keluar,
harus diklik "ganti gambar" baru keluar

![image](https://user-images.githubusercontent.com/2387514/151921424-c45fe855-85e6-4eb1-8c9b-379760db449c.png)

### Cara untuk mereplikasi errornya

bisa buka https://berputar.opensid.or.id/ cari artikel

### Hasil yg diharapkan

waktu load pertama mestinya keluar,
mungkin berkaitan pada #4720 ?

### T

[2022-02-01 07:09] yogiperdana opened #4824 "Bug/error: duplikat email ketika migrasi database"
### Jelaskan error yg dialami

Ketika migrasi database, muncul pesan error "data gagal disimpan data email ada yang duplikat"

### Cara untuk mereplikasi errornya

1. Pergi ke halaman admin
2. Klik modul pengaturan
3. Pilih menu database
4. Pilih migrasi db
5. Klik migrasi database ke opensid 22.02 premium

### Hasil yg diharapkan

Migrasi dapat dilakukan sebagaimana mestinya

### Tangkapan layar

[2022-02-01 17:06] scqolbu24 commented on #4604
Konfigurasi Gmail

<img width="362" alt="0  Konfigurasi Email" src="https://user-images.githubusercontent.com/68048807/152016613-d611514c-f988-4e6c-a64e-3f605beb100b.PNG">

<img width="278" alt="1  Konfigurasi Email" src="https://user-images.githubusercontent.com/68048807/152015671-d5b14b0d-6965-43b7-ae1c-490154b03d1e.PNG">

<img width="944" alt="2  Konfigurasi Email" src="https://user-images.gith

[2022-02-02 03:51] yogiperdana commented on #4813
Bermasalah pada penjadwalan artikel khususnya pada bagian datetime picker

[2022-02-02 08:28] yogiperdana opened #4825 "Bug/error: info media sosial tidak muncul di halaman utama"
### Jelaskan error yg dialami

Info media sosial tidak muncul di halaman utama

### Cara untuk mereplikasi errornya

1. Pergi ke halaman utama
2. Lihat bagian info media sosial

### Hasil yg diharapkan

Media sosial tampil seperti seharusnya

### Tangkapan layar dan log error

![medsos](https://user-images.githubusercontent.com/14155050/152118521-9b3ecc85-5ff9-4efc-8031-a59416d80c37.JPG)

### Rili

[2022-02-02 10:06] Wiliyantoro opened #4826 "Bug/error: kolom asuransi dan no asuransi tidak terdowload di unduh export database xlsx dan import database dengan format xlsx muncuk kode tidak dikenal"
### Jelaskan error yg dialami

1. saat ingin mengeksporrt database dalam bentuk .xlsx di Pengaturan -> Database -> Unduh Export .xlsx dalam file exelnya belum terunduh untuk kolom asuransi dan no asuransi.

2. saat melakukan import database dalam format xlsx terjadi erorr
   1. Kode Hamil 2 Tidak dikenal
   2. Kode ktp_el 3 tidak dikenal

### Cara untuk mereplikasi errornya

1. kolom asuransi dan

[2022-02-02 11:36] pemdeslinggapura opened #4827 "Permintaan fitur: Artikel Terkait"
### Apa kekurangan yg ingin diatasi?

Tidak adanya artikel terkait di bawah bagian artikel

### Jelaskan solusi yg diinginkan

Adanya artikel terkait agar artikel yang masih satu topik dapat dibaca oleh pengunjung. Artikel terkait tanpa gambar juga dirasa cukup, agar web tidak lambat

### Apakah ada alternatif lain

Bisa saja menambahkan manual, tapi kurang efektif

### Untuk versi OpenSID mana

P

[2022-02-02 18:44] Zoel-WB opened #4828 "[PREMIUM] Layanan Mandiri Belum Dapat Masuk Dengan E-Ktp dan Agak Kesulitan Pengoperasian Di Android"
### Jelaskan error yg dialami

1. Layanan mandiri -> login tidak dapat masuk dengan e-ktp
2. Saat memilih login dengan e-ktp layar Layanan Mandir masih menampilkan kolom isian tag id card dan kolom input PIN
3. Layanan Mandiri agak kesulitan Pengoprasian pada Android dan tampilan layar tidak beraturan

### Cara untuk mereplikasi errornya

Buka Layanan Mandiri -> Pilih Masuk Menggunakan E-KTP

###

[2022-02-02 18:54] Zoel-WB opened #4829 "[premium] Statistik Halaman Artikel Peta Pada Website Mengalami Gangguan Saat Ingin Ditampilkan"
### Jelaskan error yg dialami

1. Statistik Halaman Artikel  Peta Pada Website Mengalami Gangguan -> Statistik muncul sebentar, lalu tiba2 hilang
2. Pilihan Berikut-nya Sudah Cacet —->tidak dapat lagi dipilih apapun

### Cara untuk mereplikasi errornya

1. Buka Fitur Halaman Peta Pada Website
2. Pilih Peta Wilayah Desa, Dusun RT/RW
3. Klik Pada Wilayah yang dipilih -->Pilih Pilihan Statistik yang

[2022-02-02 19:48] Zoel-WB opened #4830 "[PREMIUM] Kirim Pengajuan Surat Layanan Mandiri Erro 500"
### Jelaskan error yg dialami

Saat Klik Tombol Kirim->Setelah Semua Keperluan Keterangan Surat Dimasukkan, terjadi Error 500, Hal ini Tidak Terjadi Pada Demo Berputar....

### Cara untuk mereplikasi errornya

1. Buka Layanan Mandiri
2. Buat Surat -.Lengakapi Semua Keterangan Surat -> Form->Masuk Form Kirim
3. Lengkapi Keperluan Keterangan
4. Klik Kirim

### Hasil yg diharapkan

Normal dan Berfung

[2022-02-02 23:13] scqolbu24 commented on #4825
sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/690

[2022-02-02 23:13] #4825 closed, assigned to agungsugiarto

[2022-02-03 01:03] eddieridwan opened #4831 "Permintaan fitur: menggantikan tema klasik dengan tema esensi"
### Apa kekurangan yg ingin diatasi?

Tema esensi telah siap, tapi belum digabung ke OpenSID untuk menggantikan tema klasik

### Jelaskan solusi yg diinginkan

Ganti tema klasik dengan tema esensi sebagai tema bawaan OpenSID

### Apakah ada alternatif lain

Tidak ada

### Untuk versi OpenSID mana

v22.02-premium

### Informasi tambahan

Perlu menyesuaikan tema natra untuk halaman2 yg sebelumnya be

[2022-02-03 01:22] scqolbu24 commented on #4793
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/689

[2022-02-03 01:22] #4793 closed, assigned to yogiperdana

[2022-02-03 04:56] scqolbu24 opened #4832 "Bug/error: Tambah Grup Pengguna Baru"
### Jelaskan error yg dialami

Pada saat tambah  Grup pengguna dan belum ada yang diceklist, kemudian di klik tombol simpan , maka akan terjadi error.

### Cara untuk mereplikasi errornya

1. Pergi ke Modul Pengaturan
2. Pilih Pengguna
3. Pilih Pengaturan Grup
4. Klik Tombol Tambah Grup Baru
5. Klik Tombol Simpan tanpa mengisi ceklist apapun di Form Grup Pengguna

### Hasil yg diharapkan

ada vali

[2022-02-03 06:01] apidong opened #4833 "Permintaan fitur: Tambahkan input Branding Desa untuk Aplikasi Mobile"
### Apa kekurangan yg ingin diatasi?

terkait dengan issue https://github.com/OpenSID/wiki-mobile/issues/17
karena di Opensid belum ada input untuk mengatur nama branding desa, maka perlu dibuatkan terlebih dahulu.

### Jelaskan solusi yg diinginkan

tambahkan input Branding desa pada menu Pengaturan > Aplikasi.

![image](https://user-images.githubusercontent.com/20056421/152289642-a6b57ab8-6e89-4

[2022-02-03 10:19] yogiperdana commented on #4824
Telah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/691

[2022-02-03 10:19] #4824 closed, assigned to agungsugiarto

[2022-02-03 12:23] andifahruddinakas commented on #4589
Mungkin selanjutnya penambahan dilakukan per modul.

[2022-02-03 13:04] yogiperdana commented on #4826
Saat ini untuk nilai ktp_el terdiri dari 2 jenis, yaitu nilai 1 merepresentasikan belum dan nilai 2 merepresentasikan sudah mempunyai ktp_el

[2022-02-04 00:49] eddieridwan opened #4834 "Sediakan pemeriksaan keabsahan data pada waktu update (seperti NIK duplikat, No KK > 16, tgl 9, email duplikat, dsbnya)"
Untuk mengatasi database desa yg menjadi rancu karena berbagai hal yg telah diketahui, seperti:

1. data yg diisi yg menyalahi aturan yg baru, seperti tgl 0, NIK ganda, email ganda, atau batas panjang isian suatu kolom
2. kehilangan view atau autoincrement yang terjadi pada waktu melakukan ekspor/impor database menggunakan Phpmyadmin dengan setting yg keliru
3. tabel yg terhapus pada saat mengguna

[2022-02-04 01:55] FirlianiF commented on #4803
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/695

[2022-02-04 01:56] #4803 closed, assigned to andifahruddinakas

[2022-02-04 02:16] yogiperdana opened #4835 "Permintaan fitur: buatkan sebuah pengaturan untuk mengaktifkan / non aktifkan modul tte"
Untuk memenuhi uji kelengkapan sebagai syarat PKS
----------------------------------------------------
**Apa kekurangan yg ingin diatasi?**
- Menambahkan Logo BSRE untuk ditampilkan di frontend hal ini selain memenuhi uji kelengkapan syarat PKS juga syarat integrasi BSRE API untuk kedepannya karena mencantukan logo BSRE adalah suatu kewajiban jika ingin integrasi.

**Pencapaian yang di harapkan**

[2022-02-04 03:31] apidong commented on #4767
sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/698

[2022-02-04 03:32] #4767 closed, assigned to apidong

[2022-02-04 05:38] FirlianiF commented on #4730
sudah di perbaiki melalui pr https://github.com/OpenSID/premium/pull/699

[2022-02-04 05:39] #4730 closed, assigned to apidong

[2022-02-04 06:20] agungsugiarto commented on #4826
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/697

[2022-02-04 06:20] #4826 closed, assigned to yogiperdana

[2022-02-04 06:49] andifahruddinakas commented on #4679
Pak @cepiandiana, @eddieridwan, bedanya Nomor Rumah Tangga (yang ada sekrang) dengan permintaan penambahan Nomor Rumah apa yah ???

[2022-02-04 06:58] FirlianiF commented on #4589
Sudah dipremium melalui PR https://github.com/OpenSID/premium/pull/700

[2022-02-04 07:00] #4589 closed, assigned to nobody

[2022-02-04 07:47] muhtar-coder commented on #4679
di opensid,anggota rumah tangga adalah kepala keluarga yang ikut dalam satu rumah tangga/numpang dengan kepala rumah tangga pemilik rumah

[2022-02-04 07:55] eddieridwan commented on #4679
Bung @cepiandiana mohon lampirkan tangkapan layar dari aplikasi yg anda sebut. Supaya lebih jelas seperti apa yg anda maksud.

Apakah yg anda maksud supaya OpenSID menghasilkan barcode yg jika discan akan membuka data terkait di OpenSID?

[2022-02-04 13:16] andifahruddinakas commented on #4814
Sudah digabung melalui PR https://github.com/OpenSID/premium/pull/702

[2022-02-04 13:16] #4814 closed, assigned to FirlianiF

[2022-02-04 15:06] MUHAMMADRANGSEL opened #4836 "Bug/error: Status Perkawinan KAWIN TERCATAT SEMUA"
### Jelaskan error yg dialami

Di Status Perkawinan semua KAWIN TERCATAT walaupun belum terisi kolom buku nikah dan tanggal nikah

### Cara untuk mereplikasi errornya

Menu Kependudukan/Keluarga/ klik nomor KK
![image](https://user-images.githubusercontent.com/25834335/152551830-a1b115ed-fb6a-4285-afee-62dacf5d1634.png)
di status Perkawinan tertera KAWIN TERCATAT padahal tidak ada nomor buku nikah

[2022-02-04 15:11] MUHAMMADRANGSEL opened #4837 "Bug/error: Status Kehamilan"
### Jelaskan error yg dialami

Ketika Ubah Biodata Penduduk maupun Input baru pada waktu memilih status kehamilan : TIDAK HAMIL yang muncul HAMIL setelah data disimpan
![image](https://user-images.githubusercontent.com/25834335/152552674-7a79806f-4435-4a71-a77d-4cd1d1d0626e.png)

muncul HAMIL
![image](https://user-images.githubusercontent.com/25834335/152552760-f6b661fe-8283-46d3-8514-293f156414f8

[2022-02-04 15:18] MUHAMMADRANGSEL opened #4838 "Permintaan fitur: Perlu ditambahkan Tidak Menggunakan Akseptor KB"
### Apa kekurangan yg ingin diatasi?

Pada waktu mengisi kolom akseptor KB tidak ada pilihan TIDAK MENGGUNAKAN AKSEPTOR KB sehingga di Statistik bagi yang tidak mengisi akseptor KB terhitung belum mengisi, ini akan membuat operator/perangkat desa kesulitan pada waktu mau update data untuk Akseptor KB
![Uploading image.png…]()

### Jelaskan solusi yg diinginkan

1. Untuk memberikan kemudahan pada w

[2022-02-04 15:33] MUHAMMADRANGSEL opened #4839 "Permintaan fitur: Short berdasarkan Tanggal Cetak KK"
### Apa kekurangan yg ingin diatasi?

untuk memaksisimalkan fungsi dari kolom Tanggal Cetak KK dan supaya bisa dengan mudah mengetahui KK mana yang belum terisi tanggal cetak KK maka perlu dibuatkan supaya bisa short berdasrkan tanggal cetak KK
![Uploading image.png…]()

### Jelaskan solusi yg diinginkan

Bisa short berdasarkan tanggal cetak KK seperti TANGGAL TERDAFTAR
![image](https://user-image

[2022-02-05 07:47] andifahruddinakas commented on #4726
Sudah ditambahkan melalui PR https://github.com/OpenSID/premium/pull/703

[2022-02-05 07:47] #4726 closed, assigned to apidong

[2022-02-05 07:58] kasipem331 opened #4840 "Bug/error: Kependudukan"
### Jelaskan error yg dialami

Setelah update v22.02 Daftar Penduduk adminsitrasi penduduk tidak bisa tampil (error 500)

### Cara untuk mereplikasi errornya

Kependudukan>penduduk

### Hasil yg diharapkan

normal kembali

### Tangkapan layar dan log error

x

### Rilis Versi OpenSID

Rilis Umum

### Versi OpenSID

v22.02

### Tema Yang Digunakan

_No response_

### Informasi tambahan

a

[2022-02-05 09:12] andifahruddinakas commented on #1032
Ini pak @roaddee

[2022-02-05 09:25] andifahruddinakas commented on #1032
![ganda](https://user-images.githubusercontent.com/57283157/152636111-1165037a-32d7-48b3-9de3-19c1d3f8bcf3.png)

[2022-02-05 09:58] andifahruddinakas commented on #4818
Pinmdahkan ke https://github.com/OpenSID/tema-natra

[2022-02-05 11:34] Zoel-WB opened #4841 "[PREMIUM] Impor Peta Area Persil dari KML/GPX dan Buat Area Persil error 500"
### Jelaskan error yg dialami

Saat melakukan impor peta area peta lokasi persil -->saat disimpan terjadi error 500

### Cara untuk mereplikasi errornya

1. Pilih Fitur Pertanahan -->Pilih Salah Satu C-Desa
2. Klik Tambah Persil-->Lengkapi Data yg di perlukan
3. Klik Pilih Area
4. Klik Impor dari KML/GPX --> Klik Simpan

![image](https://user-images.githubusercontent.com/64481641/152640236-038e0c2

[2022-02-05 12:26] ariandii opened #4842 "Bug/error: Sukses Input Tanggal lahir Mendatang"
### Jelaskan error yg dialami

Ketika input tanggal lahir setelah saat ini, sukses tersimpan.

### Cara untuk mereplikasi errornya

Buat Penduduk Baru maupun Edit Penduduk yang sudah ada, kemudian sesuaikan Tanggal Lahir mendatang.

### Hasil yg diharapkan

Seharusnya ditolak karena belum waktunya.

### Tangkapan layar dan log error

<img width="960" alt="screenshot_434" src="https://user-images.g

[2022-02-05 15:36] andifahruddinakas commented on #4823
@scqolbu24, sekalian tambahkan lewat composer.

[2022-02-06 08:01] isnantomch opened #4843 "Sediakan qrcode untuk hasil ekspor pembuatan Surat Keterangan Biodata Penduduk"
### Jelaskan error yg dialami

Saya coba menambahkan qrcode di surat layanan. Untuk surat yg tidak ada lampirannya berjalan normal. Tapi saat saya terapkan qrcode dg cara yg sama di surat yang ada lampirannya (Surat Keterangan Biodata Penduduk ) saat file rtf nya dibuka dari file zip hasil ekspor tampil pemberitahuan "It may be corrupt" seperti gambar dibawah ini :
![Screenshot_20220130-205114_Any

[2022-02-06 09:01] #4800 closed, assigned to apidong

[2022-02-06 12:21] apidong commented on #4831
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/694

[2022-02-06 12:22] #4831 closed, assigned to andifahruddinakas

[2022-02-06 15:05] apidong commented on #4799
pak @mizwaruddin , tidak bisa duplikasi error.
yang saya lakukan.
1. ubah status dasar kepala keluarga menjadi mati
2. ubah data istri , field "Hubungan Dalam Keluarga" menjadi kepala keluarga.
3. ubah informasi kartu keluarga tersebut.
4. pecah KK
dengan langkah seperti itu tidak membuat kolom kk menjadi negatif

sedangkan untuk fitur https://github.com/OpenSID/OpenSID/issues/4805 sudah tersedia.

[2022-02-06 19:07] Zoel-WB opened #4844 "[PREMIUM] Error Kolom Keterangan Tidak Mencukupi Untuk Menampung Data Yang Panjang Saat Import Data Siskeudes"
### Jelaskan error yg dialami

Saat melalukan impor data keuangan dari Data Siskeudes terjadi error, yang menunjukkan kolom keterangan tidak dapat menampung data dengan karakter yang panjang. Laporan ini ada 2 desa yang melakukan impor dengan kasus yang sama yang di laporkan dalam group support pelanggan premium..

### Cara untuk mereplikasi errornya

Impor Data Keuangan dari Data Siskeudes

### H

[2022-02-06 22:35] FirlianiF opened #4845 "Bug/error: Error ketika menambah anggota yang sudah terdaftar pada anggota kelompok"
### Jelaskan error yg dialami

error ketika menambahkan anggota kelompok jika data sudah terdaftar di kelompok tersebut.

### Cara untuk mereplikasi errornya

Kependudukan > Kelompok > Rincian Kelompok > Tambah Anggota Kelompok

### Hasil yg diharapkan

tidak muncul tampilan error, jadi bisa berupa alert "data sudah terdaftar di kelompok tersebut"  atau menambahkan validasi agar data yang sudah te

[2022-02-07 00:34] scqolbu24 opened #4846 "Bug/error: Ubah Data Pengguna dan Penduduk"
### Jelaskan error yg dialami

Saat ini ketika akan ubah data pada data pengguna dan penduduk terjadi eror duplikat email.

### Cara untuk mereplikasi errornya

**Data Pengguna**
1. Pergi ke Halaman Admin
2. Klik Modul Pengaturan
3. Pilih Pengguna
4. Ubah salah satu pada list data pengguna

**Data Penduduk**
1. Pergi ke Halaman Admin
2. Klik Modul Kependudukan
3. Pilih Penduduk
4. Ubah salah satu

[2022-02-07 04:02] cepiandiana commented on #4679
![Untitled-1](https://user-images.githubusercontent.com/39004343/152722483-2a629045-2422-4b2d-9320-e1b19dad8828.jpg)

qrcode diperoleh dari OpenSID, Ketika di scan muncul nama penghuni rumah (Nama, SHDK, No. KK)

[2022-02-07 04:03] cepiandiana commented on #4679
Penambahan qr code pak
![Untitled-1](https://user-images.githubusercontent.com/39004343/152722691-337b1f46-df55-4ee2-ad34-3a5bd512ddb2.jpg)

[2022-02-07 04:08] emanuel-simon opened #4847 "Permintaan fitur: Penambahan Jenis Satuan Produk Pada Modul Lapak"
### Apa kekurangan yg ingin diatasi?

Pilihan satuan produk yang masih terbatas, sedangkan jenis produk yang sangat bervariasi sehingga pilihan satuan yang tersedia sekarang kurang sesuai.
![2022-02-07_12h00_15](https://user-images.githubusercontent.com/48465803/152722854-edc92b8d-e56b-4e4d-9391-110fc6d38b6c.png)

### Jelaskan solusi yg diinginkan

Penambahan fitur input satuan produk

### Apakah

[2022-02-07 04:21] mranca opened #4848 "Bug/error: terjadi eror di pada penambahan persil di fitur premium"
### Jelaskan error yg dialami

terjadi eror saat no persil dan nomor bidang lebih dari dua digit / angka

### Cara untuk mereplikasi errornya

-

### Hasil yg diharapkan

-

### Tangkapan layar dan log error

-

### Rilis Versi OpenSID

Rilis Premium

### Versi OpenSID

v.22.02

### Tema Yang Digunakan

_No response_

### Informasi tambahan

-

[2022-02-07 04:40] muhtar-coder opened #4849 "Modul Lapak : Ubah lokasi pelapak secara manual sesuai tempat lapak bukan dari lokasi penduduk"
### Apa kekurangan yg ingin diatasi?

1. Ada beberapa orang/penduduk memiliki jenis usaha lebih dari satu
2. Ada beberapa orang/penduduk memiliki tempat usaha berada di luar wilayah peta desa.

### Jelaskan solusi yg diinginkan

Karena dua alasan di atas, mungkin lebih baiknya untuk penetuan lokasi lapak di bua manual sesuai lokasi lapak dan bukan berdasarkan lokasi penduduk.

- daftar lapak ( sat

[2022-02-07 05:55] agusterm opened #4850 "Bug/error: HASIL CETAK SURAT KET. KELAHIRAN TIDAK SESUAI"
### Jelaskan error yg dialami

hasil cetak surat keterangan kelahiran .rtf tidak memunculkan jenis kelamin dan nama penduduk lahir jika data kelahiran di ambil dari data kependudukan. Namun jika data kelahiran di input manual berhasil / normal

### Cara untuk mereplikasi errornya

sebagai mana mestinya

### Hasil yg diharapkan

sebagai mana mestinya

### Tangkapan layar dan log error

![Screenshot

[2022-02-07 06:28] #4816 closed, assigned to FirlianiF

[2022-02-07 08:06] #4784 closed, assigned to FirlianiF

[2022-02-07 09:19] FirlianiF commented on #4608
Sudah di premium melalui pr https://github.com/OpenSID/premium/pull/613

[2022-02-07 09:19] #4608 closed, assigned to agungsugiarto, andifahruddinakas

[2022-02-07 09:25] yogiperdana commented on #4846
Telah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/709

[2022-02-07 09:25] #4846 closed, assigned to scqolbu24

[2022-02-07 09:38] yogiperdana commented on #4832
Telah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/708

[2022-02-07 09:38] #4832 closed, assigned to scqolbu24

[2022-02-07 10:04] yogiperdana commented on #4817
Telah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/707

[2022-02-07 10:04] #4817 closed, assigned to scqolbu24

[2022-02-07 11:00] yogiperdana opened #4851 "Tambah keterangan informasi penggunaan layanan BSrE"
Tambah keterangan informasi penggunaan layanan BSrE pada dokumen yang telah ditandatangani untuk memenuhi uji kelengkapan sebagai syarat PKS

---------------------------------------
- Ada 4 jenis TTE
1. Pdf TTE tanpa visual (artinya pdf telah ter TTE namun tidak nampak secara visual)
2. Pdf dengan Images (artinya pdf telah ter TTE akan ada tambahan images yang ingin kta terapkan didalam pdf terseb

[2022-02-07 11:12] yogiperdana opened #4852 "Buat kolom pengisian passphrase"
Buat kolom isian untuk pengisian passphrase yang dimasukkan oleh user secara manual untuk memenuhi uji proses tanda tangan digital
-------------------------------------------
**Apa kekurangan yg ingin diatasi?**
- Menambahkan Passphrase setiap ingin melakukan penandatangan document , Passphrase ini nantinya akan di dapat dari BSrE dimana setiap 1 penandatangan memiliki 1 Passhrase tersendiri  *moh

[2022-02-07 11:19] yogiperdana opened #4853 "Buat notifikasi penanganan exception dalam proses TTE"
Aplikasi menampilkan notifikasi ketika passphare sukses atau gagal.

Aplikasi menampilkan notifikasi ketika dokumen tidak bisa dibuka atau file tidak ada.

Aplikasi menampilkan notifikasi ketika proses TTE tidak didukung koneksi internet.

Aplikasi menyimpan log kegagalan selama proses TTE, logging ini modul tersendiri.

--------------------------------------------------------
- Mungkin notifikasi

[2022-02-07 11:23] yogiperdana opened #4854 "Cetak dokumen TTE dalam bentuk pdf"
Dokumen yang telah ditandangani berformat pdf dan dapat diunduh sesuai ketentuan BSrE pada uji proses TTE.

-----------------------------------------------------
Pada prinsipnya document yang ingin diterapkan TTE akan di post ke API local yang disebut Esign Client Service
dimana system ini akan di dapat dari BSrE yang akan di install ke server local berikut keterangan lebih jelasnya :

**Apa kekur

[2022-02-07 11:39] muhtar-coder opened #4855 "Permintaan fitur: Urutkan RT di semua cetak laporan kependudukan"
### Apa kekurangan yg ingin diatasi?

Sering di minta data kependudukan misal data anak dari umur 0-6 tahun atau data statistik lain nya.
Saat cetak laporan terlihat kurang tersusun bila cetak laporan sekaligus. Kecuali laporan di cetak per RT.

### Jelaskan solusi yg diinginkan

Tersedia tombol urutkan RT di samping kolom (RT)

![Screenshot_20220207-183133_Chrome](https://user-images.githubuserco

[2022-02-07 12:01] Zoel-WB opened #4856 "[PREMIUM] Masa Berlaku Surat (Tanggal) Permohonan Surat Melalui Layanan Mandiri Tidak Aktif"
### Jelaskan error yg dialami

Masa Berlaku Surat (Tanggal) Permohonan Surat Melalui Layanan Mandiri Tidak Aktif

### Cara untuk mereplikasi errornya

1.  Buka Layanan Mandiri
2.  Buat Permohonan Satu Surat Misal-Nya "Surat Pengantar"
3.  Isi Semua Kebutuhan Surat
4.  Pilih Masa Berlaku Dari - Sampai

### Hasil yg diharapkan

Supaya Masa Berlaku Dapat Ditentukan atau Masa Berlaku Ini siapa yg mene

[2022-02-07 12:42] yogiperdana commented on #4848
Terima kasih atas laporannya. Mohon sertakan langkah-langkah untuk mereplikasi error dan tangkapan layar (screenshoot) dari error tersebut.

[2022-02-07 13:23] yogiperdana commented on #4813
Terdapat perbedaan waktu server sebanyak 6 jam

[2022-02-07 13:33] yogiperdana commented on #4837
Tambahan: ketika tanggal perkawinan diisi lalu dikosongkan, status perkawinan tetap tercatat

[2022-02-07 14:14] mranca commented on #4848
![Uploading IMG_20220207_220754.jpg…]()

[2022-02-07 14:18] mranca commented on #4848
![IMG_20220207_220754](https://user-images.githubusercontent.com/76085245/152805230-380375ea-7750-4cd0-adfa-95b7869a0f5b.jpg)

[2022-02-08 00:15] eddieridwan commented on #4813
@yogiperdana ,  secara default datetimepicker menggunakan waktu di komputer client, yg bisa berbeda dengan waktu di server. Sedangkan pemeriksaan waktu 'saat ini' di server dillakukan berdasarkan waktu di server.

Jadi yg perlu dilakukan adalah mengubah setting datetimepicker supaya waktu default yg ditampilkan diambil dari server. Yaitu sesuai dengan waktu di server.

Posting stack overflow ini m

[2022-02-08 01:01] yogiperdana commented on #4848
Setelah kami coba, nomor persil aman jika diinput menggunakan 3 digit angka. Namun no urut bidang saat ini akan bermasalah jika diinput dengan nilai lebih dari 127. Adakah ketentuan berapa nilai maksimum untuk no urut bidang tersebut pak?

[2022-02-08 02:29] eddieridwan commented on #4848
@yogiperdana seharusnya nomor urut bidang tidak besar2 amat, karena menunjukkan pemecehan persil. Sementara tidak ada info tambahan, tentukan saja maksimum tiga digit (yaitu 999). Ubah jenis data kolomnya, jika perlu. Tambahkan validasi di form dan di server membatasi nilai tersebut.

[2022-02-08 02:33] eddieridwan commented on #4805
@apidong ini bisa ditutup kalau sudah ada di rilis

[2022-02-08 02:47] apidong commented on #4805
fitur ini sudah ada di rilis.
![image (1)](https://user-images.githubusercontent.com/20056421/152908446-ed704fc4-d540-420f-ad2a-3b3de29496ea.png)

[2022-02-08 02:47] #4805 closed, assigned to apidong

[2022-02-08 03:00] agungsugiarto commented on #4829
Pak @Zoel-WB saya tidak menemukan masalah yg dimaksud di tema bawaan. Issue ini saya close karena terkait dengan tema luar
cc: pak @ariandii

[2022-02-08 04:07] andifahruddinakas commented on #4847
Tinggal ketik saja satuan yang ingin ditambahkan dan kemudian simpan.

[2022-02-08 04:21] emanuel-simon commented on #4847
Oh bisa ya pak?
Siap 👮🏻‍♂️

[2022-02-08 04:23] #4847 closed, assigned to nobody

[2022-02-08 04:26] #4829 closed, assigned to nobody

[2022-02-08 04:29] agungsugiarto commented on #4840
Pak @kasipem331 mohon lengkapi error yg dimaksud, seperti tampilan log error

[2022-02-08 04:37] eddieridwan commented on #4799
@apidong errornya terjadi setelah langkah (3) sebelum langkah (4), yang tidak tentu kapan dikerjakan. Mohon lihat apa yg perlu diterapkan di komentar https://github.com/OpenSID/OpenSID/issues/4799#issuecomment-1024769243. Yaitu, selain panduan, kerjakan:

1. Untuk keluarga yg status dasar kepala keluarga tidak lagi hidup, pastikan tidak ada yg bisa menjadi kepala keluarga baru.
2. Untuk keluarga y

[2022-02-08 04:40] agungsugiarto commented on #4850
Pak @agusterm maksud dari database bisa dijelaskan langkah terperincinya?

[2022-02-08 05:00] #4651 closed, assigned to scqolbu24

[2022-02-08 05:03] andifahruddinakas commented on #4652
Ambil branch https://github.com/OpenSID/premium/tree/kehadiran-perangkat

[2022-02-08 05:03] andifahruddinakas commented on #4655
Ambil branch https://github.com/OpenSID/premium/tree/kehadiran-perangkat

[2022-02-08 05:03] andifahruddinakas commented on #4653
Ambil branch https://github.com/OpenSID/premium/tree/kehadiran-perangkat

[2022-02-08 05:03] andifahruddinakas commented on #4654
Ambil branch https://github.com/OpenSID/premium/tree/kehadiran-perangkat

[2022-02-08 05:03] andifahruddinakas commented on #4656
Ambil branch https://github.com/OpenSID/premium/tree/kehadiran-perangkat

[2022-02-08 05:03] andifahruddinakas commented on #4657
Ambil branch https://github.com/OpenSID/premium/tree/kehadiran-perangkat

[2022-02-08 05:04] andifahruddinakas commented on #4658
Ambil branch https://github.com/OpenSID/premium/tree/kehadiran-perangkat

[2022-02-08 05:04] andifahruddinakas commented on #4659
Ambil branch https://github.com/OpenSID/premium/tree/kehadiran-perangkat

[2022-02-08 05:04] andifahruddinakas commented on #4660
Ambil branch https://github.com/OpenSID/premium/tree/kehadiran-perangkat

[2022-02-08 05:40] balongbesuk opened #4857 "Bug/error: tambahkan peta dusun tidak bisa di simpan"
### Jelaskan error yg dialami

nemabahkan peta dusun tidak dapan disimpan

### Cara untuk mereplikasi errornya

buka : https://berputar.opensid.or.id/  >> info desa >> wilayah administratif >> tambahkan peta dusun

### Hasil yg diharapkan

bisa menambahkan peta dusun

### Tangkapan layar dan log error

-

### Rilis Versi OpenSID

Rilis Premium

### Versi OpenSID

premium

### Tema Yang Digunakan

[2022-02-08 05:49] balongbesuk opened #4858 "Bug/error: wilayah dusun lainnya tidak tampil pada peta"
### Jelaskan error yg dialami

ketika sudah membuat peta dusun 1 dan kemudian dilanjutkan menambahkan peta dusun2 lalu ketika d cek di https://demo.opensid.or.id/peta dengan mencentang tampilkan wilayah desa kemudian wilayah dusun maka wilayah dusun 1 saja yang tampil pada peta wilayah dusun 2 tidak tampil

### Cara untuk mereplikasi errornya

ketika sudah mengisili wilayah dusun 1 2 3 dst buka we

[2022-02-08 07:01] FirlianiF commented on #4750
sudah di premium melalui PR https://github.com/OpenSID/premium/pull/662

[2022-02-08 07:01] #4750 closed, assigned to nobody

[2022-02-08 07:30] mranca commented on #4848
@yogiperdana batasi saja untuk 3 digit

[2022-02-08 07:41] apidong commented on #4799
untuk nomor 2 sudah ada.
![image](https://user-images.githubusercontent.com/20056421/152940361-2d60829b-3a6b-456f-8efa-dee135d80c58.png)

untuk nomor 1, di modul **kartu keluarga** sudah tidak bisa dilakukan.
tapi masih ada celah di modul kependudukan, yaitu dengan cara, mengubah data penduduk dari anggota keluarga tersebut, pada field "Hubungan Dalam Keluarga" diubah menjadi kepala keluarga.  mak

[2022-02-08 07:53] yogiperdana commented on #4836
Jika salah satu dari kolom buku nikah atau tanggal nikah terisi dan yang lainnya kosong apakah statusnya menjadi tercatat atau belum tercatat? @MUHAMMADRANGSEL

[2022-02-08 08:59] eddieridwan commented on #4799
@apidong mohon perbaiki di issue ini. Bukan terpisah.

[2022-02-08 10:28] andifahruddinakas commented on #4707
Sudah digabung melalui PR https://github.com/OpenSID/premium/pull/711

[2022-02-08 10:28] #4707 closed, assigned to FirlianiF

[2022-02-08 11:09] yogiperdana commented on #4845
Telah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/713

[2022-02-08 11:09] #4845 closed, assigned to scqolbu24

[2022-02-08 11:15] scqolbu24 commented on #4842
sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/712

[2022-02-08 11:15] #4842 closed, assigned to agungsugiarto

[2022-02-08 11:26] agungsugiarto commented on #4856
Pak @Zoel-WB issue ini saya tutup karena setiap surat diatur melalui pengaturan untuk masa berlakunya, di layanan mandiri perlu ditampilkan agar warga mengetahui informasi itu. Terima kasih

![image](https://user-images.githubusercontent.com/10989147/152977981-ebcfeae8-9c50-47e9-8ce3-18dcbb936e92.png)

[2022-02-08 11:26] #4856 closed, assigned to nobody

[2022-02-08 11:33] agungsugiarto commented on #4843
Pak @isnantomch saat ini untuk surat **Surat Keterangan Biodata Penduduk** belum mendukung untuk ditampilkan qrcode, issue ini saya ubah ke permintaan fitur agar bisa dimanfaatkan juga oleh banyak desa. Terima kasih

[2022-02-08 11:42] MUHAMMADRANGSEL commented on #4836
sama tetap KAWIN TERCATAT, KOLOM BUKU NIKAH terisi  kolom TANGGAL NIKAH tidak terisi atau sebaliknya tetap muncul KAWIN TERCATAT

[2022-02-08 11:46] scqolbu24 commented on #4818
issue ini di close dan dipindahkan ke issue pada tema natra https://github.com/OpenSID/tema-natra/issues/88

[2022-02-08 11:46] #4818 closed, assigned to nobody

[2022-02-08 12:11] ariandii commented on #4829
Kolom Halaman Peta bukan bawaan dari Tema.

 Itu terjadi karena ada bentrok, yang biasa saya lakukan:

buka file donjo-app/views/gis/penduduk_gis.php
lalu hapus baris:
`<link rel="stylesheet" href="<?= base_url()?>assets/bootstrap/css/bootstrap.min.css" media="screen" type="text/css" />`

agar bisa buka statistik penduduk di peta.

[2022-02-08 13:03] andifahruddinakas commented on #4829
silahkan buatkan isuue untuk memindahkn halaman statis untuk website (front) ke masing2 tema (berdiri sendiri). Krn tiap tema menggunakan asset yang berbeda.

[2022-02-08 14:34] apidong commented on #4652
@andifahruddinakas akan saya kerjakan mas

[2022-02-08 23:01] totoprayogo1916 commented on #4818
sebenarnya ada caranya utnuk transfer issue.
![image](https://user-images.githubusercontent.com/2387514/153090119-49942e76-6c2f-453b-be5f-6be98fb19b4b.png)

cc: @scqolbu24

[2022-02-08 23:10] scqolbu24 commented on #4818
siap, terimakasih informasinya.

[2022-02-08 23:15] eddieridwan commented on #4856
@Zoel-WB , waktu berlaku ditentukan oleh petugas desa, bukan oleh warga. Karena itu tidak dapat diisi oleh warga di Layanan Mandiri. Warga bisa saja meminta waktu berlaku yg berbeda melalui pesan kepada petugas desa. Misalnya untuk surat izin keramaian minta berlaku 5 hari karena kondangan yg berjalan lama. Tetapi tetap wewenang ada pada petugas desa untuk menetapkan.

Seperti itu ketentuan yg ber

[2022-02-09 00:21] totoprayogo1916 commented on #4629
https://github.com/OpenSID/OpenSID/wiki/Cara-Ikut-Mengembangkan-OpenSID#repo-github-private
kemana saya bisa kirim berkasnya?

[2022-02-09 01:02] totoprayogo1916 opened #4862 "Bug/error: di mode `production`, mestinya tidak tampil errornya"
### Jelaskan error yg dialami

jika terjadi error pada env production
mestinya tidak ditampilkan "apa yang error" ...

akan jadi celah buat orang yang tidak bertanggung jawab.

### Cara untuk mereplikasi errornya

silakan buat satu kesalahan yang memunculkan masalah

### Hasil yg diharapkan

sembunyikan pesan error,
bisa dibuatkan log untuk pesan errornya

### Tangkapan layar dan log error

![imag

[2022-02-09 01:40] agungsugiarto commented on #4841
Pak @Zoel-WB bisa kirim file kml/gpx nya ?

[2022-02-09 01:45] kasipem331 commented on #4840
Pak @agungsugiarto Mohon maaf, karena tuntutan pekerjaan, sementara saya downgrade lagi ke V22.01. Intinya ketika masuk menu kependudukkan isinya kosong. Tapi untuk surat menyurat, KK, tetap muncul

[2022-02-09 01:52] yogiperdana commented on #4836
Telah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/710

[2022-02-09 01:59] MUHAMMADRANGSEL commented on #4836
Terima kasih

Pada tanggal Rab, 9 Feb 2022 09.53, Yogi Perdana ***@***.***>
menulis:

[2022-02-09 02:42] eddieridwan opened #4863 "Bug/error: Gagal migrasi dari 20.12 umum ke 22.02-premium-beta01"
### Jelaskan error yg dialami

Gagal pada waktu update dari v20.12 umum ke v22.02-premium-beta01, dengan error seperti pada gambar.

![image](https://user-images.githubusercontent.com/249563/153110756-9d3ffab4-395f-46ea-a9df-36289419eeb6.png)

### Cara untuk mereplikasi errornya

1. buat database dengan data dari v20.12 umum
2. pasang v22.02-premium-beta01 dan sambungkan ke database di langkah (1)

[2022-02-09 02:56] eddieridwan commented on #4863
Sudah digabung ke `rilis-dev`

[2022-02-09 02:56] #4863 closed, assigned to eddieridwan

[2022-02-09 08:36] scqolbu24 opened #4865 "Bug/error: Error Migrasi (ref_penduduk_hamil)"
### Jelaskan error yg dialami

pada saat migrasi terjadi error dengan pesan ref_penduduk_hamil

### Cara untuk mereplikasi errornya

1.  Pergi Halaman Admin
2.  Klik Modul Pengaturan
3. Pilih Database
4. Pilih Migrasi DB
5. Klik Migrasi Database ke OpenSID

### Hasil yg diharapkan

dapat sukses migrasi

### Tangkapan layar dan log error

![photo_2022-02-09_15-36-04](https://user-images.githubuserc

[2022-02-09 10:03] totoprayogo1916 opened #4866 "Bug/error: "Kosongkan DB" tapi masih ada beberapa tabel yang belum terhapus"
### Jelaskan error yg dialami

Mestinya, untuk "Kosongkan DB", semua isian tabel terhapus semua kecuali beberapa tabel saja, misal sisakan setting

### Cara untuk mereplikasi errornya

jalankan "Kosongkan DB" di pengaturan

### Hasil yg diharapkan

semua harusnya kosong ...

### Tangkapan layar dan log error

![image](https://user-images.githubusercontent.com/2387514/153175156-16e8d4d5-1fd9-4914-a

[2022-02-09 10:08] totoprayogo1916 commented on #4866
mungkin sudah diperbaiki di #4459

[2022-02-09 10:09] totoprayogo1916 commented on #4866
mungkin berhubungan dengan #4774

[2022-02-09 10:38] scqolbu24 commented on #4866
issue https://github.com/OpenSID/OpenSID/issues/4774 sudah diperbaiki,
dapat dilihat pada catatan rilis https://github.com/OpenSID/OpenSID/releases/tag/v22.02  -> Perbaikan Bug -> nomor 40

[2022-02-09 11:37] #4866 closed, assigned to nobody

[2022-02-09 13:26] apidong commented on #4653
pak @eddieridwan, untuk gawai rekam hadir ini. apakah dijadikan satu dengan opensid atau terpisah? jika terpisah, framework apa yang akan dipakai?

[2022-02-09 13:30] #4799 closed, assigned to apidong

[2022-02-09 14:59] Zoel-WB commented on #4856
Oke pak...

[2022-02-09 15:07] Zoel-WB commented on #4841
oke...
[Nuraini Z.zip](https://github.com/OpenSID/OpenSID/files/8033738/Nuraini.Z.zip)

[2022-02-09 23:50] eddieridwan commented on #4653
@apidong bagian dari OpenSID. Mengikuti pola seperti untuk Anjungan, di mana ada fitur khusus yang hanya berlaku jika client terdeteksi sebagai Anjungan. Begitu juga dengan gawai Rekam Hadir.

[2022-02-10 01:05] agusterm commented on #4850
maksud saya, pada saat memilih data kelahiran dari dari database pak. itu tidak mau terisi jenis kelami dan nama bayi di cetak rtf. namun pada saat input manual hasil cetakannya normal

[2022-02-10 01:06] agusterm commented on #4850
ini maksud saya
![image](https://user-images.githubusercontent.com/87739467/153317077-18b8380b-ee26-4d3a-a346-7d5f1d5b494d.png)

[2022-02-10 04:59] agungsugiarto commented on #4844
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/716

[2022-02-10 04:59] #4844 closed, assigned to scqolbu24

[2022-02-10 07:13] scqolbu24 commented on #4857
Mohon Maaf @balongbesuk , saya coba dapat menyimpan dengan normal, berikut saya lampirkan tangkapan layarnya setelah berhasil disimpan.

<img width="100%" alt="Membuat Peta Dusun" src="https://user-images.githubusercontent.com/68048807/153358350-471e3cbd-5be8-4cfa-9263-3cb7bd6ce686.PNG">

[2022-02-10 07:53] scqolbu24 commented on #4857
https://user-images.githubusercontent.com/68048807/153361745-48e1929a-163e-4f60-a748-c4bcd518c7b0.mp4

[2022-02-10 08:18] scqolbu24 commented on #4821
sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/722

[2022-02-10 08:18] #4821 closed, assigned to agungsugiarto

[2022-02-10 09:03] scqolbu24 commented on #4857
berhubung di https://berputar.opensid.or.id/ normal bisa menyimpan tambah peta dusun, maka issue ini di close.

[2022-02-10 09:03] #4857 closed, assigned to nobody

[2022-02-10 09:06] scqolbu24 commented on #4858
issue ini sama halnya dengan issue https://github.com/OpenSID/OpenSID/issues/4857, dan apabila di [berputar](https://berputar.opensid.or.id/) sudah berjalan dengan normal, maka issue ini sudah diperbaiki di premium, sehingga issue ini bisa di close, terimakasih.

[2022-02-10 09:06] #4858 closed, assigned to nobody

[2022-02-10 09:15] #4706 closed, assigned to FirlianiF

[2022-02-10 14:18] rajatega1922 opened #4867 "Bug/error:"
### Jelaskan error yg dialami

ada error saat melakukan permohonan surat keterangan kelahiran. saat klik tombol kirim muncul error. id_pemohon tidak terbaca.
ERROR - 2022-02-10 18:17:58 --> Query error: Column 'id_pemohon' cannot be null - Invalid query: INSERT INTO `permohonan_surat` (`id_pemohon`, `id_surat`, `isian_form`, `status`, `keterangan`, `no_hp_aktif`, `syarat`) VALUES (NULL, '18', '{\"

[2022-02-10 14:47] yogiperdana commented on #4841
Telah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/717

[2022-02-10 14:47] #4841 closed, assigned to agungsugiarto

[2022-02-10 15:18] apidong commented on #4833
sudah diperbaiki https://github.com/OpenSID/premium/pull/715

[2022-02-10 15:19] #4833 closed, assigned to apidong

[2022-02-10 16:39] #4652 closed, assigned to apidong

[2022-02-10 16:46] andifahruddinakas commented on #4679
Yang diinginkan :
1. Penambahan qrcode (digenerate dari no rtm)
2. Penambahan halaman verifikasi dari hasil scan barcode tsb

Bung @eddieridwan, @cepiandiana, @muhtar-coder kalau ada yang kurang silahkan ditambahkan.

[2022-02-10 22:16] scqolbu24 commented on #4867
Mohon dijelaskan secara terperinci langkah-langkah dari awal sampai terjadinya error.

[2022-02-11 00:05] ariandii opened #4868 "Permintaan fitur: Pindahkan halaman statis untuk website (front) ke masing-masing tema"
### Apa kekurangan yg ingin diatasi?

Terjadi bentrok pada saat membuka Statistik, Aparatur, dll di Peta pada halaman web (front end)

### Jelaskan solusi yg diinginkan

Pindahkan asset peta ke masing-masing tema

### Apakah ada alternatif lain

Tidak ada

### Untuk versi OpenSID mana

v22.02-premium

### Informasi tambahan

_No response_

[2022-02-11 04:13] scqolbu24 commented on #4848
sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/733

[2022-02-11 04:13] #4848 closed, assigned to yogiperdana

[2022-02-11 04:24] Wiliyantoro opened #4869 "Bug/error: upload dokumen laporan penduduk error"
### Jelaskan error yg dialami

saat ingin mengupload laporan penduduk / dokumen .pdf di menu statistik -> laporan penduduk
ketika ingin menyimpan muncul error 500

### Cara untuk mereplikasi errornya

Query error: Column 'nama_file' cannot be null - Invalid query: INSERT INTO `laporan_sinkronisasi` (`judul`, `semester`, `tahun`, `nama_file`, `tipe`) VALUES ('Laoran Penduduk Bulan Januari', '1', '2

[2022-02-11 06:51] scqolbu24 commented on #4869
Validasi penyimpanan file selain .pdf

[2022-02-12 02:09] scqolbu24 opened #4870 "Bug/error: Notifikasi Login Layanan Mandiri, Pengguna Belum Aktif"
### Jelaskan error yg dialami

Saat ini ketika pengguna yang masih non aktif login di layanan mandiri akan muncul notifikasi dan notif tersebut sama akan muncul di halaman admin.

### Cara untuk mereplikasi errornya

1. Pergi Halaman Layanan Mandiri
2. Login sebagai pengguna yang sudah mendaftar di layanan mandiri, namun belum di aktifkan oleh operator / admin
3. Kemudian masukan NIK dan PIN
4. Kl

[2022-02-12 04:30] yogiperdana commented on #4850
Telah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/728

[2022-02-12 04:30] #4850 closed, assigned to scqolbu24

[2022-02-12 04:53] yogiperdana commented on #4828
Telah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/724

[2022-02-12 04:53] #4828 closed, assigned to scqolbu24

[2022-02-12 11:32] eddieridwan commented on #4834
Tahap awal diterapkan dengan skema sebagai berikut.

Periksa akan otomatis dibuka pada saat ada database exception (500). Dan harus login khusus dulu — dibatasi hanya bagi grup admin. Masalah yg terdeteksi diperbaiki, dan migrasi diulangi. Kalau masih ada masalah susulan (exception), otomatis ke periksa lagi.

![login-periksa](https://user-images.githubusercontent.com/249563/153709526-9daccb3d-6d0

[2022-02-13 03:59] siwamdara opened #4871 "Permintaan fitur: Surat pengantar Kepala Dusun"
### Apa kekurangan yg ingin diatasi?

![persyaratan dokument](https://user-images.githubusercontent.com/99572668/153737925-782fb4e0-cbd4-4cd8-9774-881fc979870b.jpg)
Surat pengantar kepala dusun/Kepala Kewilayah sudah digital dan surat masuk dan keluar ditambahkan khusus untuk kepala dusun/kepala kewilayahan masing masing dusun .

### Jelaskan solusi yg diinginkan

1. untuk surat pengantar kepala d

[2022-02-13 15:01] ariandii opened #4872 "Permintaan fitur: Perjelas Tampilan 404"
### Apa kekurangan yg ingin diatasi?

Ketika 404 ini muncul, banyak yang mengira itu adalah Error.

<img width="538" alt="image" src="https://user-images.githubusercontent.com/46939846/153759078-03b29372-a71a-4469-97b1-8d59c8ed7e0e.png">

### Jelaskan solusi yg diinginkan

Beritahu apakah URL yang diakses memang tidak berlaku, atau URL belum disediakan di Menu OpenSID.

misal seperti:
halaman stat

[2022-02-14 01:09] scqolbu24 commented on #4837
sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/732

[2022-02-14 01:09] #4837 closed, assigned to yogiperdana

[2022-02-14 02:06] yogiperdana commented on #4869
Telah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/734

[2022-02-14 02:06] #4869 closed, assigned to scqolbu24

[2022-02-14 05:46] desasoro opened #4873 "Bug/error: ERROR ISI DATA BANTUAN SECARA MANUAL DAN IMPOR"
### Jelaskan error yg dialami

Ketika ingin menginput Data Peserta Bansos error, baik isi manual mauput lewat fitur impor.
Error ini disebabkan oleh Tempat Lahir mengandung tanda ( ' ), Misalnya: =NA'E=
Masalah teratasi jika tanda ( ' ) pada Tempat Lahir didelete, Seperti: =NAE=.

Berikut Log Errornya:
Query error: Incorrect date value: '' for column 'kartu_tanggal_lahir' at row 1 - Invalid query:

[2022-02-14 07:47] yogiperdana commented on #4865
Telah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/723

[2022-02-14 07:47] #4865 closed, assigned to scqolbu24

[2022-02-14 07:55] eddieridwan commented on #4865
@yogiperdana @scqolbu24 , untuk mengembalikan tabel referensi yg hilang, tambahkan ke fitur Periksa yg saya kirim melalui PR https://github.com/OpenSID/premium/pull/739

[2022-02-14 08:01] apidong commented on #4870
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/738

[2022-02-14 08:02] #4870 closed, assigned to scqolbu24

[2022-02-14 08:28] yogiperdana commented on #4820
Telah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/718

[2022-02-14 08:28] #4820 closed, assigned to scqolbu24

[2022-02-14 08:46] agungsugiarto commented on #4862
**Mode development**
![image](https://user-images.githubusercontent.com/10989147/153829789-51ba081d-1530-420e-bf10-990a3e9999d3.png)

**Mode production**
![image](https://user-images.githubusercontent.com/10989147/153829891-a656e13c-8d27-449d-ba97-8d57d93ab72d.png)

[2022-02-14 09:54] scqolbu24 commented on #4862
sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/740

[2022-02-14 09:54] #4862 closed, assigned to scqolbu24

[2022-02-14 10:23] agungsugiarto commented on #4813
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/720

[2022-02-14 10:23] #4813 closed, assigned to yogiperdana

[2022-02-15 03:48] usmanrahdi commented on #3829
apakah fitur ini masih dikembangkan?

[2022-02-15 06:38] Zoel-WB opened #4874 "[PREMIUM-22.02 BETA01] Fitur Dropdown Halaman Web tertimpa dengan Widget"
### Jelaskan error yg dialami

Fitur Dropdown Halaman Web tertimpa dengan Widget

### Cara untuk mereplikasi errornya

1. Buka Website
2. Pilih List Fitur Dropdown di diatas widget

### Hasil yg diharapkan

Normal

### Tangkapan layar dan log error

![image](https://user-images.githubusercontent.com/64481641/154006313-f2e03f87-5b52-4323-8f6a-afd6750b0b34.png)

### Rilis Versi OpenSID

Rilis Premiu

[2022-02-15 06:49] Zoel-WB opened #4875 "[PREMIUM-22.02 BETA01] Tampilan Halaman (Paging) Pada Website atau Filter Data Suplemen hanya menampilkan 10 Data"
### Jelaskan error yg dialami

Tampilan Halaman (Paging) Pada Website atau Filter Data Suplemen hanya menampilkan 10 Data

### Cara untuk mereplikasi errornya

Buka Website
Pilih Data Suplemen yg melebihi 100 Data

### Hasil yg diharapkan

Agar data suplemen dapat menampilkan seluruh data dana Sesuai dengan Pilihan Jumlah Data Data di Filter untuk ditampilkan, dan pilihan halaman juga berfungsi

#

[2022-02-15 06:50] Zoel-WB commented on #4875
https://www.teupinbeulangan.desa.id/data-suplemen/pendataan-penerima-vaksin-covid-19

https://www.teupinbeulangan.desa.id/

[2022-02-15 08:15] scqolbu24 commented on #4874
Pak @Zoel-WB issue ini merupakan permasalahan pada temanya, maka dipindahkan ke branch tema-esensi

[2022-02-15 08:17] cepiandiana commented on #4679
Betul bang @andifahruddinakas

Betul Bung @andifahruddinakas

[2022-02-15 08:52] scqolbu24 commented on #4875
saya buka https://www.teupinbeulangan.desa.id/data-suplemen/pendataan-penerima-vaksin-covid-19 data yang ditampilkan sesuai dengan filter yang dipilih, Mohon maaf pak @Zoel-WB yang dimaksud bug-nya seperti bagaimanakah?

<img width="100%" alt="data-vaksin" src="https://user-images.githubusercontent.com/68048807/154026218-72565c85-efcf-4df3-9f6d-c6831c7ed474.PNG">

[2022-02-15 09:04] Zoel-WB opened #4876 "[PREMIUM-22.02 BETA01] Peta Garis-->setelah dihapus atau di reset>> semua menu/tombol ikut hilang di layar"
### Jelaskan error yg dialami

Semua tombol buat peta pada Peta Garis tidak ditampilkan lagi setelah peta dihapus atau reset..

### Cara untuk mereplikasi errornya

Buka Fitur Pemetaan
Pilih Pengaturan Peta --->Pilih Peta Garis
Buat Peta Jenis Peta Garis --> Kemudian Simpan..

Buka Kembali---> Coba edit/hapus/riset
Pilih Simpan....
Kemudian Buka Kembali Peta Type Garis Untuk Membuat Peta Baru Type

[2022-02-15 09:09] Zoel-WB commented on #4876
Hal ini berlaku juga di Peta Area

![image](https://user-images.githubusercontent.com/64481641/154029485-acf3577b-98e3-4553-9946-615f5148f000.png)

[2022-02-15 09:20] Zoel-WB commented on #4874
Oke Pak....

[2022-02-15 09:46] Zoel-WB opened #4877 "[PREMIUM-22.02 BETA01] Impor Data_Contoh_Awal Token Premium Tak Berjalan Utk Semua Fitur"
### Jelaskan error yg dialami

 Impor Data_Contoh_Awal Token Premium Tak Berjalan Utk Semua Fitur

### Cara untuk mereplikasi errornya

Buka Data Base -->Buat Database Baru (Catatan Tester pada Local Host)
Jalan System->Masuk Login
Pilih Layanan Pelanggan -->Masukkan Pengaturan Pelanggan-->Layanan Opendesa Token -> Pastekan Tokone Pilih Simpan

### Hasil yg diharapkan

System Premium Langsung Berf

[2022-02-15 09:51] Zoel-WB commented on #4877
File Log
[log-2022-02-15.zip](https://github.com/OpenSID/OpenSID/files/8067880/log-2022-02-15.zip)

[2022-02-15 10:26] Zoel-WB opened #4878 "[PREMIUM-22.02 BETA01] Permintaan Menghilangkan Garis Bawah Double di Tempat Tanda Tangan ->Cetak Buku Aparat Pemerintah Desa"
### Apa kekurangan yg ingin diatasi?

Form Buku Aparat Desa-> Pada Tempat Tanda Tangan Kepala Desa dan Sekretaris Desa Muncul 2 Garis Bawah Nama Penanda Tangan

![image](https://user-images.githubusercontent.com/64481641/154042890-c3ab46e1-61b1-4383-97f1-dd46d726f7a4.png)

### Jelaskan solusi yg diinginkan

Hilangkan Salah satu Garis Bawah Font Text

### Apakah ada alternatif lain

Noted

### Untu

[2022-02-15 11:11] Zoel-WB opened #4879 "[PREMIUM-22.02 BETA01] Edit Data atau Ubah Data Penduduk, Tanggal Lahir Penduduk Ikut Berubah ke Tanggal Simpan Data"
### Jelaskan error yg dialami

Saat melakukan edit salah satu data pendduduk-->tanggal Lahir Ikut Berganti Menjadi tanggal simpan ubah data

### Cara untuk mereplikasi errornya

Buka Fitur Data Penduduk
--> Pilih Salah satu Data Penduduk
--> Pilih Ubah Data --> Ganti atau ubah data apa saja
---> Simpan -->Buka Kembali atau Lihat Biodata Penduduk yang sudah edit biodatanya-->Lihat Data Tanggal Lahi

[2022-02-15 11:36] Zoel-WB commented on #4875
Ditempat saya tidak bisa-->pengaruh konek internetnya barang kali-->saya menggunakan edge, bila pakai crome hanya mutar-mutar saja, halaman tidak tampil untuk menampilkan data suplemen...

[2022-02-15 11:40] Zoel-WB commented on #4875
Saya ganti tema juga sama, hanya tampil 10 data
![image](https://user-images.githubusercontent.com/64481641/154055133-2a53dd91-f3ca-41a8-a9a2-bfcb42045069.png)

[2022-02-15 11:46] Zoel-WB commented on #4875
Saya gantikan Judul Modul -->tampilan berubah jadi 50 data-->
![image](https://user-images.githubusercontent.com/64481641/154055925-b406e51d-53a4-4293-8a01-f071da15976d.png)

![image](https://user-images.githubusercontent.com/64481641/154056005-f994ca71-a2fb-4b02-8f62-d26d28ba32a7.png)

[2022-02-15 12:57] Zoel-WB opened #4880 "[PREMIUM-22.02 BETA01] Bug Halaman Pengaduan"
### Jelaskan error yg dialami

 Bug Halaman Pengaduan

### Cara untuk mereplikasi errornya

Buka Website Pilih Pengaduan

### Hasil yg diharapkan

Agar dapat diterapkan dan berfungsi dengan baik

### Tangkapan layar dan log error

Tema : Natra Halaman Formulir Penngaduan Tidak Berfungsi
![image](https://user-images.githubusercontent.com/64481641/154065947-25212c62-a51a-410a-89eb-89a36e4d2389.png)

[2022-02-15 15:06] Zoel-WB opened #4881 "[PREMIUM-22.02 BETA01] Kirim Surat Layanan Mandiri Error 500 Perlu Pengkajian dimana Letak Kesalahannya"
### Jelaskan error yg dialami

Terkait Isssue ini sudah pernah dibuat cuma tidak dapat di direpikasi Issue #4830
Sudah Melakukan Tester Dengan Data Asli Bawaan System Hasilnya Sama

### Cara untuk mereplikasi errornya

Impor Data Asli : Contoh_Data_Awal
Buat Surat Permhonan dengan Layanan Mandiri

### Hasil yg diharapkan

Supaya Bisa digunakan->karena bila ditest di Berputar tidak ada masalah yg d

[2022-02-15 15:45] Zoel-WB opened #4882 "[PREMIUM-22.02 BETA02] Belum dapat Melakukan Pendaftaran Layanan Mandiri melalu Fitur Layanan Mandiri"
### Jelaskan error yg dialami

Belum dapat Melakukan Pendaftaran Layanan Mandiri melalu Fitur Layanan Mandiri :
1. Pilihan Tahun Tanggal Lahir tidak beraturan
2. Pengirim Pemdaftaran Tidak Dapat Dilakukan

### Cara untuk mereplikasi errornya

1. Buka Layanan Mandiri
2. Pilih PENDAFTARAN AKUN LAYANAN MANDIRI
3. Masukkan Data

### Hasil yg diharapkan

Berfungsi Normal

### Tangkapan layar dan log er

[2022-02-15 16:40] Zoel-WB opened #4883 "[PREMIUM-22.02 BETA02] Tombol Kembali Pada Fitur Arsip Desa->Detail Kependudukan->Harusnya Kembali Lagi Ke Dasboard Fitur Arsip Desa"
### Jelaskan error yg dialami

Tombol Kembali Pada Fitur Arsip Desa->Detail Kependudukan->Harusnya Kembali Lagi Ke Dasboard Arsip Desa

### Cara untuk mereplikasi errornya

1. Buka Fitur Arsip Desa
2. Pilih Kependudukan

![image](https://user-images.githubusercontent.com/64481641/154106715-0fe57d8a-123e-44fe-8c9a-572e11f49598.png)

3. Pilih List Dokumen

![image](https://user-images.githubusercont

[2022-02-15 17:51] mah-mudi opened #4884 "Desimal tidak dapat ditampilkan pada Transparansi APBDesa pada Footnote"
**Jelaskan error yg dialami**

Desimal pada APBDesa di Footnote tidak dapat ditampilkan

**Gambar**

![IMG_20220216_005443.jpg](https://user-images.githubusercontent.com/57661283/154120537-1e5eb83b-1924-4ba9-a704-2e9d8c21aa1a.jpg)

**Hasil yg diharapkan**

Nominal Desimal APBDesa dapat ditampilkan sesuai input manual.
Misal input Bidang Pemberdayaan Rp 103.539.494,15
Nominal Desimal dapat ditampil

[2022-02-15 19:22] Zoel-WB opened #4885 "[PREMIUM-22.02 BETA02] Sertifikat Data Vaksin Tidak Tampil saat Pilih Tombol Aksi [Tampilkan]"
### Jelaskan error yg dialami

Sertifikat Data Vaksin Tidak Tampil saat Pilih Tombol Aksi [Tampilkan]

### Cara untuk mereplikasi errornya

Pilih Fitur Vaksin
--> Cari Satu Data Penduduk yg sudah di lengkapi dengan semua sertifikat menurut jumlah vaksin yg dilaksanakan
--> Klik Aksi [Tampilkan] Sertifikat

![image](https://user-images.githubusercontent.com/64481641/154133881-b5febbc7-fa76-4113-a18

[2022-02-16 00:10] eddieridwan opened #4886 "Bug/error: Migrasi supaya tidak menyembunyikan masalah fatal"
### Jelaskan error yg dialami

Saat ini jika migrasi menambahkan indeks dan terdeteksi ada data duplikat yg mencegah pembuatan indeks, error hanya ditampilkan sesaat dan proses berlanjut. Sangat mungkin pengguna tidak sadar bahwa masalah yg terjadi bersifat fatal, yaitu akan menyebabkan error secara tidak terduga pada penggunaan selanjutnya.

Masalah fatal perlu dibuat lebih mencolok, supaya pengg

[2022-02-16 01:17] eddieridwan opened #4887 "Bug/error: Tidak sembunyikan tabel referensi tidak ada"
### Jelaskan error yg dialami

Saat ini jika impor data penduduk dan terdeteksi tidak ada tabel referensi, error tidak ditampilkan dan proses berlanjut. Sangat mungkin pengguna tidak sadar bahwa masalah yg terjadi bersifat fatal, yaitu akan menyebabkan error secara tidak terduga pada penggunaan selanjutnya.

Masalah fatal perlu dibuat lebih mencolok, supaya pengguna mencari penyebab dan solusinya.

[2022-02-16 01:47] scqolbu24 commented on #4885
dokuemen/scan sertifikat vaksin apakah baru di upload atau sebelumnya sudah ada sebelum di migrasi?

[2022-02-16 02:50] mizwaruddin opened #4888 "[PREMIUM] Bug/error: Gagal impor data penduduk pada kolom asuransi"
### Jelaskan error yg dialami

Saat melakukan impor data penduduk menggunakan format excel hasil download di menu pengaturan->database->impor database terjadi kesalahan (gagal impor) jika kolom asuransi dan nomor asuransi diisi.

### Cara untuk mereplikasi errornya

1. Pengaturan->database->impor database
2. Pada form contoh impor penduduk, kolom asuransi dan nomor asuransi diisi
3. Muncul keteran

[2022-02-16 02:58] mizwaruddin opened #4889 "[PREMIUM] Bug/error: Tag ID terimpor di bagian suku/etnis saat melakukan impor data penduduk"
### Jelaskan error yg dialami

Tag ID terimpor di bagian suku/etnis saat melakukan impor data penduduk

### Cara untuk mereplikasi errornya

1. Pengaturan->database->impor database
2. Isikan tag id pada form excel impor penduduk
3. Tag ID terimpor pada bagian suku/etnis

### Hasil yg diharapkan

Tag ID terimpor dengan benar

### Tangkapan layar dan log error

![bug_imporpenduduk_tagid2](https://us

[2022-02-16 03:05] mizwaruddin opened #4890 "[PREMIUM] Bug/error: Tanggal lahir berubah menjadi tanggal sekarang saat melakukan edit data penduduk"
### Jelaskan error yg dialami

Tanggal lahir berubah menjadi tanggal sekarang saat melakukan edit data penduduk

### Cara untuk mereplikasi errornya

1. Kependudukan->penduduk
2. Pilih salah satu penduduk -> edit biodata
3. Tanggal lahir berubah menjadi tanggal saat ini

### Hasil yg diharapkan

Tanggal lahir tidak berubah menjadi tanggal sekarang

### Tangkapan layar dan log error

![bug_edit_pen

[2022-02-16 03:07] scqolbu24 commented on #4890
sudah dilaporkan di issue ini https://github.com/OpenSID/OpenSID/issues/4879

[2022-02-16 03:07] #4890 closed, assigned to nobody

[2022-02-16 03:52] mizwaruddin opened #4891 "[PREMIUM] Bug/error: Data lembaga desa masuk hitungan data kelompok pada dashboard"
### Jelaskan error yg dialami

Data lembaga desa masuk hitungan data kelompok pada dashboard

### Cara untuk mereplikasi errornya

1. Info desa-> lembaga desa
2. Inputkan data lembaga desa
3. dashboard-> kelompok
4. Data kelompok pada dashboard bertambah setelah data lembaga desa terisi

### Hasil yg diharapkan

1. Data kelompok pada dashboard tidak bertambah setelah data lembaga desa terisi (hany

[2022-02-16 04:25] Zoel-WB commented on #4885
sudah ada didalam sebelumnya

[2022-02-16 04:39] mizwaruddin opened #4892 "[PREMIUM] Bug/error: Nomor register berubah dari aturan baku saat edit data inventaris"
### Jelaskan error yg dialami

Nomor register berubah dari aturan baku saat edit data inventaris

### Cara untuk mereplikasi errornya

1. Sekretariat->inventaris
2. Pilih salah satu data inventaris->edit data
3. Pada field nama inventaris pilih nama selain nama yang terpilih
4. Pilih kembali nama yang terpilih
5. Nomor register tidak sesuai aturan baku

### Hasil yg diharapkan

Nomor register teta

[2022-02-16 04:40] mizwaruddin commented on #4892
Bug ini terjadi pada semua kategori inventaris

[2022-02-16 04:43] andifahruddinakas commented on #2859
Sudah digabung melalui PR https://github.com/OpenSID/premium/pull/731

[2022-02-16 04:43] #2859 closed

[2022-02-16 05:03] mizwaruddin opened #4893 "[PREMIUM] Bug/error: Total harga pada cetak inventaris tanah tidak tampil"
### Jelaskan error yg dialami

Total harga pada cetak inventaris tanah tidak tampil

### Cara untuk mereplikasi errornya

1. Sekretariat->inventaris-> tanah
2. Tambahkan data aset
3. Cetak
4. Pada hasil cetak total harga/nilai inventaris tidak tampil

### Hasil yg diharapkan

Total nilai aset tanah tampil

### Tangkapan layar dan log error

![bug_cetak_inventaris_tanah](https://user-images.githubu

[2022-02-16 05:11] mizwaruddin opened #4894 "[PREMIUM] Permintaan fitur: Sediakan range tahun pada cetak inventaris"
### Apa kekurangan yg ingin diatasi?

Saat ini pada saat cetak inventaris hanya tersedia pilihan tahun (tunggal) dan semua tahun, sehingga hal ini tidak mengakomodasi keinginan untuk mencetak inventaris per periode (misal: 2017 s.d. 2021)

### Jelaskan solusi yg diinginkan

Sediakan range tahun untuk mengakomodasi cetak pada jangka tahun tertentu (misal: 2017 s.d. 2021)

![fitur_cetak_inventaris](

[2022-02-16 05:24] mizwaruddin opened #4895 "[PREMIUM] Permintaan fitur: Sembunyikan harga jual jika status jenis mutasi "Disumbangkan" pada detail mutasi"
### Apa kekurangan yg ingin diatasi?

Saat ini saat membukai detail mutasi inventaris (semua kategori inventaris), keterangan harga jual muncul ketika jenis mutasi "disumbangkan". Begitu juga sebaliknya, keterangan disumbangkan muncul ketika jenis mutasi "Dijual".

![fitur_mutasi_inventaris](https://user-images.githubusercontent.com/39736008/154201504-79ab36b9-434e-4cdb-85ea-07418f0be7ce.png)

###

[2022-02-16 05:26] mizwaruddin commented on #4895
![fitur_mutasi_inventaris2](https://user-images.githubusercontent.com/39736008/154201766-56017ebb-d2c3-4d26-8ce3-116b923b398d.png)

[2022-02-16 05:27] mizwaruddin commented on #4895
![fitur_mutasi_inventaris3](https://user-images.githubusercontent.com/39736008/154201889-eabf3fc1-d709-4040-978c-0b157426b919.png)

[2022-02-16 06:15] Zoel-WB opened #4896 "[PREMIUM-22.02 BETA02] Filter Laporan Vaksin [Status Vaksin->Belum] ->Menurut [Pilihan Wilayah Dusun] Belum Berfungsi"
### Jelaskan error yg dialami

Saat Memfilter data yang belum vaksin berdasarkan dusun, data tidak tersaring menurut yang pilih, baik data status vaksi [belum vaksin] maupun data wilayah dusun.

### Cara untuk mereplikasi errornya

Pilih Fitur Vaksin -->Laporan Penduduk
Pilih Isian -->Kolom Status Vaksin Kategori -> Belum
Pilih Isian --> Pilihan Dusun --> Lihat Tampilan Dilayar Filter --.Maupun Pi

[2022-02-16 06:25] Zoel-WB commented on #4885
TAMBAHAN --> Langsung Disini saja pak  @scqolbu24 ya, ada keterkaitan dalam satu form

![image](https://user-images.githubusercontent.com/64481641/154208315-dcca7155-e3aa-4826-827b-ff013fa993f4.png)

[2022-02-16 07:55] agungsugiarto commented on #4875
Pak @Zoel-WB  issue ini saya close karena ketika saya mengakses tidak menemukan masalah?

![image](https://user-images.githubusercontent.com/10989147/154220419-7f1d03c4-c646-4bf8-bf50-d552afa58cac.png)

[2022-02-16 08:12] agungsugiarto commented on #4877
Pak @Zoel-WB apakah mengaksesnya lewat localhost?

[2022-02-16 08:25] agungsugiarto commented on #4877
Pak @Zoel-WB issue ini saya tutup, untuk bisa menjalankan dengan database baru silahkan rubah dulu desanya seesuai token untuk desa tersebut terima kasih.

[2022-02-16 08:25] #4877 closed, assigned to nobody

[2022-02-16 09:11] agungsugiarto commented on #4882
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/743

[2022-02-16 09:11] #4882 closed, assigned to scqolbu24

[2022-02-16 12:51] Zoel-WB opened #4897 "[PREMIUM-22.02 BETA02] Impor Peta kml bertipe garis tidak langsung dapat disimpan"
### Jelaskan error yg dialami

Impor Peta Garis dari dari peta KML :
1. Impor KML --> Langsung Klik Tombol {Simpan]
2. Saat Ditampilkan Halaman Peta--.Sebagian Menu Layar Peta Hilang.

![image](https://user-images.githubusercontent.com/64481641/154265658-4ae2c863-4809-4b04-95b3-7b73999c60f1.png)

3. Saat Ditampilkan Dihalaman Peta

![image](https://user-images.githubusercontent.com/64481641/154266

[2022-02-16 16:41] Zoel-WB opened #4898 "[PREMIUM-22.02 BETA02] Statistik Program Bantuan Sasaran Rumah Tangga masih menghitung yg tidak aktif (RTM)"
### Jelaskan error yg dialami

Penjumlahan Statistik Program Bantuan Sasaran Rumah Tangga, Jumlah Total RTM = 128
Yang Ter-Input Sebagai Peserta Program Bantuan Sasaran Rumah Tangga = 2
Seharusnya Yang Terjumlah Sebagai Jumlah Bukan Peserta adalah = 126  Tampil Disistem Jumlah = 128
Total Harusnya [Peserta = 2  + Bukan Peserta = 126  Total = 128]

Total yang Tampil Pada Sistem = 130 RTM ---> Meleb

[2022-02-16 20:05] Zoel-WB opened #4899 "[PREMIUM-22.02 BETA02] Susunan Kolom Widget Tema Esensi Agak Kurang Lebar"
### Jelaskan error yg dialami

Susunan Kolom Widget Tema Esensi Agak Kurang Lebar, sehingga menyebabkan beberapa susuan Kolom Widget terkesan tidak muat dan muatan widgetnya turun mengikuti baris dibawahnya

### Cara untuk mereplikasi errornya

Buka Website-->Perhatikan Susunan widget---> Widget "INFO MEDIA SOSIAL",  Widget "GALERI FOTO" dan lainnya

### Hasil yg diharapkan

Suapaya dapat disesuai

[2022-02-17 01:20] scqolbu24 commented on #4887
sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/746

[2022-02-17 01:20] #4887 closed, assigned to eddieridwan

[2022-02-17 01:40] ariandii opened #4900 "Permintaan fitur: Sesuaikan Nama Database"
### Apa kekurangan yg ingin diatasi?

Bagi pengguna baru, akan bingung mengenai Judul pada Tab Pengaturan -> Database

<img width="960" alt="screenshot_148" src="https://user-images.githubusercontent.com/46939846/154388069-95aa71c8-5a39-4fe3-a65a-f7aa26e7eb11.png">

### Jelaskan solusi yg diinginkan

Sesuaikan judul agar mencerminkan isinya.

### Apakah ada alternatif lain

Tidak ada.

### Untuk v

[2022-02-17 02:19] yogiperdana commented on #4873
Telah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/741

[2022-02-17 02:19] #4873 closed, assigned to scqolbu24

[2022-02-17 02:26] agungsugiarto commented on #4885
Pak @Zoel-WB apakah sudah memastikan, aset sertifikat gambar tersebut ada di folder desa?

[2022-02-17 02:30] eddieridwan commented on #4900
Catatan teknis bagi programmer:
1. sebaiknya fitur impor penduduk dipindahkan ke menu Kependudukan > Penduduk, supaya lebih konsisten dengan menu lain, dan juga supaya lebih jelas
2. Impor BIP juga digabung dengan fitur impor penduduk di (1) di atas, karena impor BIP hanya merupakan format lain untuk mengimpor data penduduk
3. Demikian juga ekspor data penduduk pindahkan ke menu Kependudukan > Pen

[2022-02-17 02:39] scqolbu24 commented on #4840
@kasipem331 sehubungan perbaikan yang dilakukan di rilis premium, maka issue isi di close.
silahkan diupdate di rilis berikutnya, terimakasih.

[2022-02-17 02:39] #4840 closed, assigned to nobody

[2022-02-17 02:56] eddieridwan commented on #4898
@Zoel-WB saya tidak bisa replikasi masalah ini. Harap kirim database anda PM ke Telegram akun @eddieridwan untuk diperiksa.

Apakah sdh dicoba di berputar?

[2022-02-17 03:33] #4879 closed, assigned to nobody

[2022-02-17 03:33] yogiperdana commented on #4879
Sudah diperbaiki melalui PR susulan

[2022-02-17 03:38] yogiperdana commented on #4830
Duplikat dengan issue https://github.com/OpenSID/OpenSID/issues/4881

[2022-02-17 03:38] #4830 closed, assigned to nobody

[2022-02-17 04:00] agungsugiarto opened #4901 "Bug/error: [bug-fix] halaman pengaduan tampil error di branch bug-fix"
### Jelaskan error yg dialami

Error halaman pengaduan

### Cara untuk mereplikasi errornya

-

### Hasil yg diharapkan

Masuk ke halaman web pengaduan

### Tangkapan layar dan log error

![image](https://user-images.githubusercontent.com/10989147/154402675-c0099aa2-c65e-4ad1-b2a5-ff6e7f1398aa.png)

### Rilis Versi OpenSID

Rilis Premium

### Versi OpenSID

v22.02-premium-rev02

### Tema Yang Digu

[2022-02-17 04:24] scqolbu24 commented on #4885
sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/748

[2022-02-17 04:24] #4885 closed, assigned to agungsugiarto

[2022-02-17 04:48] ariandii commented on #4875
Issue ini terjadi hanya muncul 10 data jika buka web halaman suplemen dalam kondisi login admin.

jika logout dan buka web halaman suplemen, maka data tampil lengkap.

ini tampilan saat sedang login halaman admin.

<img width="960" alt="screenshot_150" src="https://user-images.githubusercontent.com/46939846/154407557-db80b9de-8164-41cb-9ba1-4a602f177d34.png">

dan ini tampilan lengkap setelah admi

[2022-02-17 04:55] roaddee commented on #4875
Session mungkin

[2022-02-17 04:55] andifahruddinakas commented on #4880
Sudah diperbaiki melalui commit https://github.com/OpenSID/premium/commit/b2a47055dfb77d9202c6aa541872d17e3142e802

[2022-02-17 04:55] #4880 closed, assigned to scqolbu24

[2022-02-17 05:42] mizwaruddin opened #4902 "[PREMIUM] Bug/error: Filter kategori pada menu pemetaan tidak bekerja semestinya"
### Jelaskan error yg dialami

Saat melakukan filter peta (semua tipe peta) filter kategori dan jenis tidak bekerja semestinya.

### Cara untuk mereplikasi errornya

1. Pemetaan-> pengaturan peta
2. lakukan filter pada kategori kemudia lakukan filter jenis->filter kategori akan kembali ke default (kategori)

### Hasil yg diharapkan

Filter kategori bekerja normal

### Tangkapan layar dan log error

[2022-02-17 06:14] scqolbu24 commented on #4893
sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/749

[2022-02-17 06:14] #4893 closed, assigned to agungsugiarto, scqolbu24

[2022-02-17 06:45] eddieridwan commented on #4898
@Zoel-WB dari pemeriksaan data anda terlihat masalahnya disebabkan statistik kependudukan masih menghitung rumah tangga yg sudah tidak aktif, yaitu yg kepala rumah tangganya tidak ditemukan lagi atau status dasarnya bukan `hidup`.

[2022-02-17 06:50] agungsugiarto commented on #4867
Duplikat dengan issue https://github.com/OpenSID/OpenSID/issues/4881

[2022-02-17 06:50] #4867 closed, assigned to nobody

[2022-02-17 06:53] Zoel-WB opened #4903 "[PREMIUM-22.02 BETA02] Impor Data Penduduk dari Excel>>Penduduk Dengan Pilihan Jenis Asuransi Kesehtan "ASURANSI LAINNYA" dan "TIDAK/BELUM PUNYA ASURANSI" Tidak Ter-Impor"
### Jelaskan error yg dialami

Impor Data Penduduk dari Excel>>Penduduk Dengan Pilihan Jenis Asuransi Kesehtan "ASURANSI LAINNYA" dan "TIDAK/BELUM PUNYA ASURANSI" Tidak Ter-Impor

### Cara untuk mereplikasi errornya

1. Masuk List Detail Data Penduduk
2. Pilih Ubah Data---> Ubah Data -->DATA KESEHATAN
3. Gantikan Beberapa Penduduk dengan Jenis Asuransi ---> ASUNRANSI LAINNYA atau TIDAK/BELUM PUNYA

[2022-02-17 08:03] andifahruddinakas commented on #4644
Sudah ditambahkan melalui PR https://github.com/OpenSID/premium/pull/745

[2022-02-17 08:03] #4644 closed, assigned to FirlianiF

[2022-02-17 08:50] Zoel-WB commented on #4898
Oke Pak @eddieridwan nanti saya coba chechk ulang data RTM system saya pak...

[2022-02-17 09:46] scqolbu24 commented on #4898
sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/751

<img width="100%" alt="Data Peserta" src="https://user-images.githubusercontent.com/68048807/154449287-a0ea51f6-a958-4d90-a7c9-8d2ed2661fe3.PNG">

[2022-02-17 09:46] #4898 closed, assigned to eddieridwan

[2022-02-17 09:51] scqolbu24 commented on #4903
Pak @Zoel-WB, apakah issue ini sama dengan issue https://github.com/OpenSID/OpenSID/issues/4888?

[2022-02-17 10:08] scqolbu24 commented on #4875
reopen kembali dengan penjelasan bahwa error yang terjadi ketika login sebagai admin, kemudian buka page "/data-suplemen/pendataan-penerima-vaksin-covid-19" maka akan mengalami error tersebut.

[2022-02-17 10:12] yogiperdana opened #4904 "Bug/error: Export data penduduk pada kolom asuransi menghasilkan nilai yang salah"
### Jelaskan error yg dialami

Export data penduduk pada kolom asuransi menghasilkan nilai yang salah sehingga tidak bisa untuk diimport ulang

### Cara untuk mereplikasi errornya

1. Pengaturan
2. Database
3. Export database
4. Unduh

### Hasil yg diharapkan

Nilai yang dihasilkan berupa angka (bukan huruf/abjad)

### Tangkapan layar dan log error

![export](https://user-images.githubusercontent.

[2022-02-17 10:14] Zoel-WB commented on #4903
Belum memeriksa issue ini, tadi kejadian awal perbedaan data pada DPT atau pemilih, setelah impor data dari excel jumlah pemilih pada wilayah dusun ada yg berbeda dari data sebelumnya, kemudian saya coba kosong database dan saya test impor dari file excel, ternyata memang datanya memang ada kurang.... kedua jenis data saya gandingkan, saya adu untuk pemeriksaan satu persatu, itulah temuannya yang

[2022-02-17 13:46] scqolbu24 commented on #4889
issue ini merupakan satu kesatuan dengan issue https://github.com/OpenSID/OpenSID/issues/4888,
yang disebabkan karena pada file excel import tidak ada kolom suku

sehingga issue ini merupakan duplicat dan saya close.

[2022-02-17 13:46] #4889 closed, assigned to nobody

[2022-02-17 13:50] andifahruddinakas commented on #54
Sudah diganti dengan tema esensi

[2022-02-17 13:50] #54 closed

[2022-02-17 13:52] #1706 closed

[2022-02-17 13:52] #2296 closed

[2022-02-17 13:54] #2671 closed

[2022-02-17 13:54] #2613 closed

[2022-02-17 13:55] andifahruddinakas commented on #2613
Duplikasi https://github.com/OpenSID/OpenSID/issues/2859

[2022-02-17 13:57] #3402 closed

[2022-02-17 13:57] #3181 closed

[2022-02-17 13:57] #3260 closed

[2022-02-17 14:06] scqolbu24 commented on #4888
sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/752

[2022-02-17 14:06] #4888 closed, assigned to yogiperdana

[2022-02-17 14:06] #4624 closed, assigned to nobody

[2022-02-17 14:08] scqolbu24 commented on #4903
issue ini merupakan satu kesatuan dengan issue https://github.com/OpenSID/OpenSID/issues/4888,
yang disebabkan karena pada file excel import tidak ada kolom suku

sehingga issue ini merupakan duplicat dan saya close.

[2022-02-17 14:08] #4903 closed, assigned to nobody

[2022-02-17 14:08] #4901 closed, assigned to andifahruddinakas

[2022-02-17 14:29] yogiperdana commented on #4891
Sudah diperbaiki pada susulan PR melalui commit [20fa98a9870f626980702e912bb50ccdded62ad4 ](https://github.com/OpenSID/premium/commit/20fa98a9870f626980702e912bb50ccdded62ad4)

[2022-02-17 14:29] #4891 closed, assigned to yogiperdana

[2022-02-17 23:37] scqolbu24 commented on #4899
issue ini dipindah di branch tema-esensi

[2022-02-18 00:16] mizwaruddin commented on #3829
Masih, Bung.

[2022-02-18 03:20] yogiperdana commented on #4892
Telah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/755

[2022-02-18 03:20] #4892 closed, assigned to scqolbu24

[2022-02-18 03:24] ariandii opened #4905 "Bug/error: Error 500"
### Jelaskan error yg dialami

Saat klik langsung untuk URL
https://berputar.opensid.or.id/siteman/reset_kata_sandi

akan muncul error 500

### Cara untuk mereplikasi errornya

Langsung akses URL https://berputar.opensid.or.id/siteman/reset_kata_sandi/

### Hasil yg diharapkan

Redirect ke halaman login, jika tidak melakukan reset password dengan permintaan yang sesuai.

### Tangkapan layar dan lo

[2022-02-18 03:56] ariandii opened #4906 "Permintaan fitur: Permudah Informasi Mengenai Status Akun Login"
### Apa kekurangan yg ingin diatasi?

Saat ini tombol verifikasi email tersembunyi saat pengguna klik Profil masing masing.

Sehingga belum diketahui secara langsung apakah seorang login di halaman admin sudah Verifikasi email atau belum. Atau bahkan sudah ber email atau belum.

![IMG_20220218_105144](https://user-images.githubusercontent.com/46939846/154614522-dde6c793-bd61-4a2d-9455-b5c410d94164

[2022-02-18 04:16] ekozer03 commented on #4654
lebih keren lagi seandainya absensi kantor desa pake sidik jari, wuihhh...
atau lewat apliasi web nya langsung tapi pakai jaringan lokal yang ada disana pak, jadi mereka harus konek ke wifi kantor desa dulu.:)