[2021-09-13 14:33] Zoel-WB opened #4425 "[BUG] Download Lampiran dokumen yang di upload dalam Artikel-> akses ditolak oleh server"
**Jelaskan error yg dialami**
 Dokumen yang yng di upload dalam Artikel tidak dapat di download terjadi error 403 Formiden atau akses ditolak oleh server

Harap tidak melaporkan masalah instal OpenSID. Masalah pada waktu install harap ditanyakan di https://www.facebook.com/groups/OpenSID atau di https://t.me/joinchat/SI0GWHeqKT39Gxhh, karena terkait sistem masing2 pengguna.

Berikan keterangan yg

[2021-09-14 05:02] eddieridwan commented on #4410
Sdh dicommit ke `rilis-dev` (tambah fitur, bukan bug).

[2021-09-14 05:02] #4410 closed, assigned to eddieridwan

[2021-09-14 06:32] andifahruddinakas commented on #4419
pak @ai-skematik

[2021-09-14 08:24] eddieridwan commented on #4425
Sdh dicommit ke `bug-fix`

[2021-09-14 08:24] #4425 closed, assigned to eddieridwan

[2021-09-14 09:53] afa28 commented on #4421
List Surat:

[2021-09-14 14:29] Pambudieky commented on #4112
Hidup desa gogodalem!! Saya yakin sangat bermanfaat mas

[2021-09-15 01:12] eddieridwan commented on #4323
@nurisakbar beberapa hal:

-  Perlu ada kolom `tag_id` di tabel `tweb_desa_pamong`, untuk menyimpan tag id eKTP pamong luar desa.
- Tambahkan kolom `pin` di tabel `tweb_desa_pamong`,  untuk menyimpan PIN bagi `semua` pamong.
- Di tabel `laporan_kehadiran_oleh_warga` tidak disimpan `nik`. Melainkan disimpan `id_pend` sebagai foreign key ke `tweb_penduduk`. Hanya penduduk yg terdaftar layanan mandir

[2021-09-15 01:30] gundambison commented on #4323
Untuk masalah PIN masuk dari Pamong non Warga. PINnya diletakkan dimana? apakah harus ditambahkan fieldnya.. Saya minta masukan ini dahulu, karena info terbaru tidak menyebutkan mengenai hal tersebut

[2021-09-15 01:45] eddieridwan commented on #4323
Sudah ditambahkan di komentar https://github.com/OpenSID/OpenSID/issues/4323#issuecomment-919620758. Tapi harap anda juga ikut mengusulkan struktur database yg dibutuhkan. Silakan beri usul jika perlu, untuk kami setujui.

[2021-09-15 02:41] gundambison commented on #4323
![fsakjfsar](https://user-images.githubusercontent.com/1597200/133360895-65a2d693-a1ac-4815-894a-f2aa341551c5.jpg)
berikut adalah table yang saya propose
![safraq](https://user-images.githubusercontent.com/1597200/133361041-a4a90178-6813-4c5f-adfa-f9e637368d97.jpg)
berikut adalah struktur dari table kehadiran
berikut penjelasan field

- pamong_id : relasi ke table pamong
- tanggal : tanggal melaku

[2021-09-15 03:47] eddieridwan commented on #4323
@nurisakbar , mohon anda review usulan @gundambison

[2021-09-15 06:43] nurisakbar commented on #4323
@gundambison : jadi maksudnya hadir_log akan digunakan untuk menyimpan summary ya mas ?
semua history masuk dan keluar di write kesitu ?

[2021-09-15 06:44] nurisakbar commented on #4323
berikut ini hasil revisi dari saya, dengan memasukan tambahan informasi dari pak @eddieridwan
![revisi erd kehadiran](https://user-images.githubusercontent.com/5483330/133383724-0e3d7db1-8915-4c59-9b0d-a7bbc1395787.png)

[2021-09-15 07:08] gundambison commented on #4323
ya.. akan menyimpan info terkait kapan masuk dan kapan keluar.. bentuknya json.. dan akan terbaca saat di rekapnya

akan ditambahkan tag_id_card sesuai yang ada di tweb_penduduk.

plan kerja saat ini

1. membuat tampilan masuk/keluar
2. membuat rekap kehadiran
3. membuat export kehadiran
4. membuat menu tambahan setelah login mandiri yang terkait pelaporan
5. membuat logika pelaporan
6. memasukkan

[2021-09-16 04:10] HerryWanda opened #4426 "Sesuaikan Nama Menu/Modul pada Admin dan web OpenSID dengan sebutan_desa/sebutan_kepala_desa[BUG]"
**Jelaskan error yg dialami**
1. Pada Modul Buku Adminitrasi Desa
    Sesuaikan penamaan menu nya dengan sebutan desa, seperti yang lainnya. Seperti Modul Info Desa menjadi Info Nagari.
    seperti  :
![1](https://user-images.githubusercontent.com/32125282/133547125-3b204da9-64b1-4f07-9515-497f2a59f474.png)
Jadi penamaan desa sesuaikan dengan sebutan_desa.

Jadi semua sub modul yg ada pada BUku Ad

[2021-09-16 06:17] PemdesKampungBaru opened #4427 "[BUG]"
**peta wilayah tidak muncul**

**Cara untuk mereplikasi errornya**

**Hasil yg diharapkan**

**Tampakan layar dan log error**

**Versi OpenSID**

**Tema Yg Digunakan**

**Informasi tambahan**

[2021-09-16 06:17] #4427 closed, assigned to nobody

[2021-09-17 02:01] afri18 opened #4428 "arsip layanan"
### Bagaimana alurnya sampai muncul masalah?
Saat cetak arsip layanan Surat untuk laporan perbulan tidak bisa, karna yang tersedia hanya pilihan tahun

### Seperti apa yang diharapkan?
Kalau Bisa Sediakan pilihan cetak/unduh Tahun#Bulan#Jenis Surat
![image](https://user-images.githubusercontent.com/6611881/133711715-c0123b97-e8f2-44bd-87d8-b80030fb7212.png)

### Apa yang terjadi?
Selelu tercetak/t

[2021-09-17 05:00] #4414 closed, assigned to nobody

[2021-09-17 07:47] nanangnursinggih commented on #2718
Pak kalau kasi kosong kembali data pengunjungnya bagai mana

[2021-09-17 08:13] andifahruddinakas commented on #2718
Belum tersedia, seharusnya saat instalasi awal data dikosongkan terlebih dahulu. Silahkan buat issueenya jika mmang dibutuhkan.

untuk sementara, solusinya bisa dengan menghapus isi data table `sys_traffic`

[2021-09-17 08:16] andifahruddinakas commented on #4419
Error:
- data nik 0 yg di impor tdk masuk

[2021-09-17 08:22] #4397 closed

[2021-09-17 08:24] andifahruddinakas commented on #4424
kalau sudah ada solusinya, bisa di PR.

[2021-09-17 09:11] andifahruddinakas commented on #4371
Sudah digabung ke `RILIS PREMIUM`

[2021-09-17 09:11] #4371 closed

[2021-09-17 12:38] andifahruddinakas commented on #4376
![1111](https://user-images.githubusercontent.com/57283157/133783795-097bdc0f-01f7-448a-857d-337201a03457.png)

pak @ariandii, @ai-skematik mungkin bisa beri masukan.

[2021-09-17 13:57] ariandii commented on #4376
boleh pak, diberi kategori dan kolom pencarian, termasuk tersedia pencarian "semua kategori".
juga misal bisa pilih urut mahal ke murah, murah ke mahal, dll.

[2021-09-17 19:25] andifahruddinakas opened #4429 "File qrcode disimpan sementara, generate ulang jika dibutuhkan"
**Apa kekurangan yg ingin diatasi?**

File qrcode disimpan sementara, generate ulang jika dibutuhkan. Yg saat ini qrcode surat disimpan semua  di hosting.

**Jelaskan solusi yg diinginkan**

**Apakah ada alternatif lain**

Hapus qrcode jika sudah digunakan, untuk menggunakannya kembali cukup digenerate kembali. Buat folder khusus(tempat penyimpanan) untuk qrcode agar tdk tercampur dengan file lain

[2021-09-19 10:06] eddieridwan commented on #4355
Sdh dicommit ke `rilis-dev`

[2021-09-19 10:07] #4355 closed

[2021-09-19 10:56] andifahruddinakas commented on #4391
Sudah di rilis 21.09-premium

[2021-09-19 10:56] #4391 closed

[2021-09-20 01:14] eddieridwan commented on #4181
Pengerjaan tugas ini telah diserahkan kepada Faisyal Rachman.

[2021-09-20 05:51] sukrimalendra opened #4430 "[Database] Penambahan Fitur Import Asuransi Kesehatan pada file FormatImporExcel"
**Apa kekurangan yg ingin diatasi?**
tikak tersedianya kolom untuk mengimpor nama asuransi dan nomornya pada FormatImpor Excel. dengan adanya kolom ini maka nama asuransi dan nomornya dapat diimpor ke database penduduk secara kolektif.
![image](https://user-images.githubusercontent.com/30992964/133961215-1a05ed14-9585-4a06-be10-190b5b6eeb50.png)
![image](https://user-images.githubusercontent.com/3

[2021-09-20 05:58] nurisakbar commented on #4323
@gundambison  untuk posisi menu nya seperti yang sudah disebutkan di atas ( posisi menu admin ), untuk mockupnya kurang lebih seperti ini :
![Screen Shot 2021-09-20 at 12 56 31](https://user-images.githubusercontent.com/5483330/133961791-9d8f5dc0-1c2f-4159-b053-27f736bc865a.png)

ini hanya referensi saja, silahkan di sesuaikan dengan kebutuhan.
terima kasih

[2021-09-20 07:08] makhbub opened #4431 "[BUG] Infrastruktur lokasi tidak muncul pada menu pemetaan"
**Jelaskan error yg dialami**

Infrastruktur lokasi tidak muncul pada menu pemetaan, sementara infrastruktur lain (Area dan Garis) masih muncul.
sudah cek di demo.opensid tidak muncul sedangkan di Berputar.Opensid menu infrastruktur lokasi masih muncul

**Cara untuk mereplikasi errornya**

**Hasil yg diharapkan**

infrastruktur lokasi pada menu pemetaan rilis umum dimunculkan kembali
**Tampakan la

[2021-09-20 12:28] agungsugiarto commented on #4426
Sudah di perbaiki melalui pr https://github.com/OpenSID/premium/pull/401

[2021-09-20 12:28] #4426 closed, assigned to andifahruddinakas

[2021-09-20 14:30] Appi-spec commented on #4428
sudah tersedia untuk versi premium tp dirilis umum nanti bulan 12
[https://github-wiki-see.page/m/OpenSID/OpenSID/wiki/Rilis-Umum-Yang-Akan-Datang](url)

OpenSID versi premium :
[https://berputar.opensid.or.id/](url)

[2021-09-20 15:27] agungsugiarto commented on #4419
Sudah di commit melalui PR https://github.com/OpenSID/premium/pull/403

[2021-09-20 15:27] #4419 closed, assigned to andifahruddinakas

[2021-09-22 05:18] #4421 closed, assigned to andifahruddinakas

[2021-09-22 06:10] agungsugiarto opened #4432 "[BUG] - User level operator, bisa masuk ke menu Pengaturan Pengguna."
**Jelaskan error yg dialami**

Untuk login level operator, bisa masuk ke menu Pengaturan Pengguna yang seharusnya tidak diperbolehkan.

**Cara untuk mereplikasi errornya**

**Hasil yg diharapkan**

User level operator tidak diberikan akses.

**Tampakan layar dan log error**

**Versi OpenSID**

![image](https://user-images.githubusercontent.com/10989147/134291837-1a642798-315a-40cc-98d7-7fc2fd86cbe

[2021-09-23 02:13] #4428 closed, assigned to nobody

[2021-09-23 03:16] eddieridwan opened #4433 "Sediakan ekspor master analisis"
**Apa kekurangan yg ingin diatasi?**

Saat ini ada fitur untuk impor master analisis. Format file impor berupa Excel dengan 4 worksheet (tab).
Tetapi tidak ada fitur untuk mengekpor master analisis yg sdh ada ke format impor tersebut.
Fitur ekspor ini diperlukan untuk memudahkan berbagi master analisis.

**Jelaskan solusi yg diinginkan**

Tambahkan fitur untuk mengekspor master analisis ke bentuk

[2021-09-23 07:20] oalahbro commented on #552
coba
![issue#25](https://user-images.githubusercontent.com/72176637/134468496-e1b910c5-a51f-4c7e-8abf-a1a9fd6a4a94.png)

[2021-09-23 11:19] gundambison commented on #4323
update yang dibahas discord kemarin

1. menambahkan menu pada menu penduduk di antara pesan dan bantuan
2. halaman tampilan laporan diawali menampilkan list para aparat dalam bentuk gambar grid
3. mengklik salah satu foto (grid) akan mengeluarkan popup yang berisi input alasan laporan
4. submit yang dilakukan akan memberikan flagging pada aparat bersangkutan
5. info terima kasih atas laporan diber

[2021-09-24 02:58] PWidodo opened #4434 "[BUG] Perbaiki isi kolom "Pendidikan Terakhir" pada Laporan Anggota Lembaga"
**Jelaskan error yg dialami**
Pada halaman cetak laporan data anggota lembaga terdapat kekeliruan pada isi tabel kolom Pendidikan Terakhir.

**Cara untuk mereplikasi errornya**
Kemungkinan erorr tersebut karena kolom tabel Pendidikan Terakhir tersebut berisi script **pendidikan_sedang_ditempuh** dan seharusnya berisi script **pendidikan_dalam_kk**

**Hasil yg diharapkan**
Kolom pendidikan terakhir

[2021-09-24 15:48] andifahruddinakas commented on #4376
Pak @cwicaksono cek pembahasan di issue ini

[2021-09-25 04:24] andifahruddinakas opened #4435 "[BUG] Isi Arsip Surat Layanan Mandiri salah"
**Jelaskan error yg dialami**

Surat yg ditambahkan sebagai arsip surat di layanan mandiri pengguna adalah surat yg sudah diambil

![22222](https://user-images.githubusercontent.com/57283157/134757823-324402f7-ffec-45fb-b3fc-18271c661a3f.png)

**Cara untuk mereplikasi errornya**

**Hasil yg diharapkan**

**Tampakan layar dan log error**

**Versi OpenSID**

**Tema Yg Digunakan**

**Informasi tambah

[2021-09-25 08:02] fajartinri opened #4436 "[BUG] Gagal Post Artikel padasaat di Hosting"
ini kok saya coba upload ke hosting (hostinger) malah gagal setiap mau post artikel dll, mohon jawabannya dan apa yang harus saya lakukan ?
![Gagal Post](https://user-images.githubusercontent.com/48597229/134764287-50269117-3342-481c-8a00-45f73dfc3b54.png)

[2021-09-26 12:21] afa28 commented on #4436
Lampirkan log error

[2021-09-26 12:22] andifahruddinakas commented on #4431
Akan di update di rilis 21.10, silahkan lakukan testing dirilis pasca tsb.

[2021-09-26 12:29] eddieridwan commented on #4433
Sdh dicommit ke `rilis-dev`.

[2021-09-26 12:29] #4433 closed, assigned to eddieridwan

[2021-09-27 08:56] agungsugiarto opened #4439 "[BUG] - Menambah penduduk masuk error ketika kolom hubungan dalam keluarga tidak di isi."
**Jelaskan error yg dialami**

**Cara untuk mereplikasi errornya**

**Hasil yg diharapkan**

**Tampakan layar dan log error**

**Versi OpenSID**

**Tema Yg Digunakan**

**Informasi tambahan**

[2021-09-27 15:36] muhtar-coder opened #4440 "Pisahkan setiap judul analisis di halaman website desa sebagai sub menu agar data yang di sajikan tidak bercampur"
**Apa kekurangan yg ingin diatasi?**

Data analisis dari beberapa judul yang di tampilkan di halaman website desa menyatu meskipun berbeda judul data analisis.

**Jelaskan solusi yg diinginkan**

Sediakan masing-masing pilihan sebagai sub menu untuk menampilkan data analisis di halaman website desa sesuai judul masing-masing

![image](https://user-images.githubusercontent.com/55665526/134938654-7b

[2021-09-27 15:38] #4439 closed, assigned to agungsugiarto

[2021-09-27 15:48] #4432 closed, assigned to agungsugiarto

[2021-09-27 15:56] #4434 closed, assigned to nobody

[2021-09-27 15:56] andifahruddinakas commented on #4434
Sudah diperbaiki melalui commit https://github.com/OpenSID/premium/commit/92311fb6b68e6489dfdd2bd13a66ffa6b2d79619

[2021-09-27 17:27] muhtar-coder commented on #4405
Setuju....
Misal target sasaran nya untuk usia 0-2 tahun (fleksibel).
Indikator dan pertanyaan bisa menyesuaikan kebutuhan data stunting.

[2021-09-28 00:20] muhtar-coder commented on #4398
Setuju

[2021-09-28 04:41] muhtar-coder opened #4442 "[BUG] Status dasar penduduk hilang tidak dapat di kembalikan/di pulihkan"
**Jelaskan error yg dialami**

log penduduk dengan keterangan status dasar hilang tidak dapat di kembalikan/di pulihkan.hal ini salah satu yang menyebabkan jumlah hitungan pada laporan penduduk bulanan /jumlah kk tidak valid.

![image](https://user-images.githubusercontent.com/55665526/136069488-f66e27c7-9b1a-4bf7-9bb5-e1f1daa1b9ac.png)

![image](https://user-images.githubusercontent.com/55665526/

[2021-09-28 04:44] muhtar-coder commented on #4442
cc @afa28 @agungsugiarto

[2021-09-28 05:50] eddieridwan commented on #4442
Masalah ini adalah karena status database yg tidak konsisten. Sangat mungkin karena migrasi terkait log_penduduk tidak dijalankan sempurna. Solusinya bukan dengan memaksa menjadi sama. Tapi yg perlu diperiksa adalah mengapa databasenya tidak konsisten dan kemudian memperbaiki databasenya. Perhatikan ini juga tergantung versi OpenSID yg mana. @afa28

[2021-09-29 15:27] tobagus6911 opened #4444 "Penambahan Link halaman atau link website di lapak"
**Apa kekurangan yg ingin diatasi?**

Penambahan Link halaman atau link website di lapak selain WA dan Lokasi

**Jelaskan solusi yg diinginkan**

dimaksudkan agar warga dapat melihat lebih banyak informasi mengenai lapak/ tokonya

[2021-09-30 12:30] eddieridwan opened #4446 "Perbaiki surat nikah sesuai dg KEPDIRJEN BIMAS ISLAM NO. 473 TAHUN 2020"
**Apa kekurangan yg ingin diatasi?**

Surat Nikah N1-N7 saat ini format lama, yg sudah diganti dengan KEPDIRJEN BIMAS ISLAM NO. 473 TAHUN 2020

**Jelaskan solusi yg diinginkan**

Surat yg ada perlu disesuaikan dg KEPDIRJEN BIMAS ISLAM NO. 473 TAHUN 2020

**Untuk versi OpenSID mana**

v21.10-premium

**Informasi tambahan**

Format yg sudah dibuat oleh Mizwaruddin:
[surat_ket_nikah.zip](https://gith

[2021-09-30 12:55] eddieridwan commented on #1824
Issue ini juga untuk:

- [ ] Perbaiki modul SMS, sederhanakan, lakukan testing
- [ ] Integrasikan dengan SMS Gateway default yg bermitra dengan OpenDesa

[2021-10-01 06:11] andifahruddinakas commented on #1824
Untuk fitur ini, apakah dari opendesa sudah ada bermitra dengan penyedia layanan sms getway???

[2021-10-01 06:14] eddieridwan commented on #1824
Belum. Pencarian mitra SMS Gateway diserahkan pada Sekretariat.

[2021-10-01 06:32] pandigresik commented on #1824
kenapa gak pakai whatsapp aja, cukup sewa satu VPS nanti opendesa bisa membuat whatsapp gateway sendiri.
ini salah satu contoh script yang bisa digunakan https://github.com/adiwajshing/Baileys di dokumentasi dikatakan lebih ringan karena tidak menggunakan pupperter

[2021-10-01 06:37] andifahruddinakas commented on #4402
Pak @eddieridwan, sy coba kerjakan yg ini krn hampir mirip dengan yg lapak yg pernah sy kerjakan.

[2021-10-01 06:57] eddieridwan commented on #1824
SMS adalah media pemberitahuan resmi yg digunakan oleh hampir semua instansi besar, termasuk perbankan, dsbnya. Karena tidak bergantung pada aplikasi pihak ketiga, hanya pada sarana telekomunikasi. Dan tidak bergantung pada jaringan data.

[2021-10-01 08:02] makhbub commented on #4431
Siap..!, Terima kasih

[2021-10-01 08:02] #4431 closed, assigned to nobody

[2021-10-01 15:00] mizwaruddin opened #4449 "Buat Jabatan dalam Menu Lembaga Menjadi Fleksibel"
**Apa kekurangan yg ingin diatasi?**

Saat ini jabatan dalam lembaga hanya tersedia ketua, sekretaris, bendahara, dan anggota. Padahal dalam lembaga ada seksi-seksi. Terkadang juga ada jabatan wakil ketua.

**Jelaskan solusi yg diinginkan**

Admin bisa menambahkan sendiri jabatan sesuai dengan kebutuhan lembaga.

**Apakah ada alternatif lain**

**Untuk versi OpenSID mana**

**Informasi tambahan**

[2021-10-02 03:19] eddieridwan commented on #4366
Sdh dicommit ke `rilis-dev`. RSS feed juga sudah disesuaikan supaya lolos validasi di https://validator.w3.org/feed/#validate_by_input

[2021-10-02 03:19] #4366 closed

[2021-10-02 03:58] WAHYUDIK opened #4450 "[BUG] Unduh Salinan Keluarga Muncul Eror 403"
**Jelaskan error yg dialami**

ketika kita ingin mengunduh salinan keluarga tidak bisa, muncul eror 403, seperti gambar dibawah ini

**Cara untuk mereplikasi errornya**

![image_2021-10-02_10-04-40](https://user-images.githubusercontent.com/31026980/135702870-de718fe3-f170-4a40-be7f-bb985d37a1c9.png)

**Hasil yg diharapkan**
 tidak terjadi eror seperti gambar, sehingga data bisa terunduh

**Tampak

[2021-10-02 04:00] eddieridwan commented on #4450
@WAHYUDIK Lampirkan tampakan layar di menu yg bermasalah. Supaya cepat bisa direplikasi.

[2021-10-02 04:05] WAHYUDIK opened #4451 "[BUG] Data Hasil Entri Pembangunan Hilang"
**Jelaskan error yg dialami**

Setelah melakukan update opensid dari versi 21.09 ke versi 21.10 hasil entri data pembangunan hilang, akan tetapi di menu administrasi pembangunan data masih ada sesuai hasil entri sebelumnya

**Cara untuk mereplikasi errornya**

**Hasil yg diharapkan**

harapannya setelah mengentri hasil/progres, data entri pembangunan di menu pembangunan masih ada, agar bisa melanj

[2021-10-02 04:10] WAHYUDIK commented on #4450
di menu kependudukan, submenu keluarga pak @eddieridwan
![image](https://user-images.githubusercontent.com/31026980/135703198-c0744209-8973-4674-af69-726843348530.png)
![image](https://user-images.githubusercontent.com/31026980/135703202-af1662f0-08ec-4092-a09f-b0e530657de5.png)

[2021-10-02 04:46] eddieridwan commented on #4450
Sdh dicommit ke `bug-fix`

[2021-10-02 04:46] #4450 closed, assigned to eddieridwan

[2021-10-02 08:22] eddieridwan commented on #4451
Sdh dicommit ke `bug-fix`

[2021-10-02 08:22] #4451 closed, assigned to eddieridwan

[2021-10-02 11:50] eddieridwan commented on #4449
@mizwaruddin, Di v21.10-premium, bebas menambah jabatan. Pada waktu menambah anggota, ketik langsung jabatan yg dibutuhkan.
Silakan periksa di berputar.opensid.or.id, dan tutup issue ini kalau sudah memadai.

[2021-10-04 00:32] eddieridwan commented on #4440
Sdh dicommit ke `rilis-dev`.

Tidak dipisah melalui menu. Melainkan disediakan pilihan master analisis di halaman analisis web. Solusi ini digunakan, karena publikasi di modul Analisis dilakukan per indikator, dan bukan ditentukan per master analisis.

[2021-10-04 00:32] #4440 closed, assigned to eddieridwan

[2021-10-04 02:24] andifahruddinakas commented on #4402
![1576132766-picsay](https://user-images.githubusercontent.com/57283157/135784451-f1c2893b-9a46-48e4-9cf1-fcf13ca1263e.jpg)
![received_134793090485203](https://user-images.githubusercontent.com/57283157/135784455-176eaba7-ba08-48a2-883a-ce1cba8989cf.jpeg)

[2021-10-04 09:27] agungsugiarto commented on #4322
Pak @ariandii, mohon diberikan contoh semua pesan notfikasi untuk

1. permohonan surat melalui layanan mandiri
2. pesan masuk dar layanan mandiri
3. permohonan ajuan lapak dari layanan mandiri (fitur kedepan)
4. mengetahui sesaat setelah operator login

[2021-10-04 15:46] ariandii commented on #4322
Contoh:
1. Segera cek Halaman Admin, penduduk atas nama Ariandi Ryan Kahfi (08115222660) telah mengajukan Surat XXX melalui Layanan Mandiri pada tanggal 02-Jun-2021 10:00:47
2. Warga RT. XXX atas nama YYY telah mengirim pesan melalui Layanan Mandiri pada tanggal 22-Jun-2021 10:00:47
3. Permohonan aktivasi Produk XXX pada Layanan Mandiri dari warga RT. YYY atas nama ZZZ pada tanggal 22-Jun-2021 10:

[2021-10-05 04:36] andifahruddinakas commented on #3844
pak @eddieridwan ini perlu di buat kesimpulan pembahasan.

[2021-10-05 07:31] andifahruddinakas commented on #4449
Jabatan jika belum tersedia, bisa ditambahkan secara manual/diketik langsung.
![dsfdsfdsf](https://user-images.githubusercontent.com/57283157/135979425-09b9fa77-62b5-423f-9d82-50077594eae8.png)

[2021-10-05 07:31] #4449 closed, assigned to nobody

[2021-10-05 07:32] andifahruddinakas commented on #4444
Bisa ditambahkan di deskripsi produk.

[2021-10-05 07:32] #4444 closed, assigned to nobody

[2021-10-05 11:10] eddieridwan commented on #3844
@afa28 , seperti berikut mungkin lebih jelas.

![wilayah-1](https://user-images.githubusercontent.com/249563/136011962-bef5f617-1970-4072-891f-04930b977022.jpg)

[2021-10-05 11:40] WAHYUDIK opened #4454 "[Anjungan] Aktifkan kembali fitur cetak surat di anjungan mandiri"
**Apa kekurangan yg ingin diatasi?**

sehubungan dengan banyaknya desa-dengan yang ingin menerapkan atau menggunakan anjungan, dimana yang mereka harapkan adalah warga bisa mencetak sendiri suratnya dianjungan. Dan kemudian lagi dengan adanya beberapa desa yang sudah mengajukan permohonan penerbitan Tanda Tangan Elektronik, sehingga sangat dibutuhkan untuk diaktifkannya kembali fitur cetak di anju

[2021-10-05 11:42] muhtar-coder commented on #3844
Setuju...mudah di pahami...saat ini yg paling sering minta data penduduk
per rt adalah kader stunting,kader posyandu ..dll

Pada tanggal Sel, 5 Okt 2021 18.10, Eddie Ridwan ***@***.***>
menulis:

[2021-10-05 15:33] rudiansyahyunanda commented on #4454
Sependapat, atau bisa ditambahkan opsi pengaturan bisa diaktifkan atau dinonaktifkan fiturnya.

[2021-10-05 22:40] eddieridwan commented on #4454
@WAHYUDIK @rudiansyahyunanda , seperti sudah dijelaskan berulangkali, fitur cetak melalui layanan mandiri/anjungan tidak bisa diterapkan sebelum desa memiliki TTE. Kita masih menunggu ada desa yg berhasil memperoleh TTE untuk OpenSID. Cetak Layanan Mandiri nanti akan bisa diaktifkan bila desa telah memasang TTE.

Jika teman2 ingin membantu, maka usahakanlah supaya desa anda memperoleh TTE untuk Op

[2021-10-06 01:40] WAHYUDIK commented on #4454
saya bersedia pak @eddieridwan  untuk alternatif tersebut, sambil lalu menunggu keluarnya TTE dari BSRE

[2021-10-06 04:15] eddieridwan commented on #4454
Beberapa pertimbangan teknis untuk solusinya:

- [ ] surat cetak hanya dalam format PDF -- tidak disediakan unduh RTF. Yaitu desa `harus` memasang LibreOffice
- [ ] di tabel `log_surat` perlu ditambah indikator bahwa surat ybs ditandatangani secara elektronik
- [ ] di tabel `log_surat` perlu ditambah kolom untuk menyimpan hash isi surat setelah dibubuhi tanda tangan elektronik (QR Code + scan tand

[2021-10-06 04:41] andifahruddinakas commented on #3844
ok.

ini dihalaman web saja atau di halaman admin jg???

[2021-10-06 07:16] muhtar-coder commented on #4442
Cc @eddieridwan

[2021-10-06 07:41] andifahruddinakas commented on #4442
Ok

[2021-10-06 09:00] eddieridwan commented on #4442
@muhtar-coder @afa28 , untuk melacak masalah database desa ini, kirim backup database yg bermasalah untuk diperiksa.

[2021-10-06 09:34] eddieridwan opened #4455 "[BUG] Keluarga dengan KK hilang/mati/pindah seharusnya tidak bisa diubah"
**Jelaskan error yg dialami**

Saat ini Keluarga dengan status hilang/mati/pindah (yaitu di mana kepala keluarga hilang/mati/pindah) masih bisa diubah. Seharusnya tidak bisa diubah.

**Cara untuk mereplikasi errornya**

1. Ubah status seorang kepala keluarga menjadi mati/hilang/pindah
2. Di daftar Keluarga, filter untuk menampilkan KK mati/hilang/pindah
3. Ubah keluarga

**Hasil yg diharapkan**

S

[2021-10-06 11:09] #4442 closed, assigned to nobody

[2021-10-06 11:13] muhtar-coder commented on #4442
Point : masalah berasal dari perubahan kepala keluarga dengan status mati,atau yg mengharuskan perubahan no KK namun tidak dilakukan pemecahan...

Mungkin harus di buat warning apabila ada perubahan kepala keluarga karena masalah ini kemungkinan akan banyak di temui yg lain

[2021-10-06 11:27] eddieridwan commented on #4455
Sdh dicommit ke `bug-fix`

[2021-10-06 11:27] #4455 closed, assigned to eddieridwan

[2021-10-06 11:50] eddieridwan commented on #4442
Sekarang, melalui issue https://github.com/OpenSID/OpenSID/issues/4455, keluarga dengan KK mati/hilang/pindah tidak dapat diubah -- termasuk tidak bisa diganti kepala keluarganya. Yang hanya bisa dilakukan adalah pecah anggota.

Kalau itu mengatasi masalah di issue #4442 ini, silakan ditutup.

[2021-10-07 05:20] muhtar-coder opened #4456 "[BUG] Jumlah "bukan" penerima bantuan tidak valid"
**Jelaskan error yg dialami**

Di statistik kependudukan terdapat data statistik penerima bantuan keluarg yang menghitung jumlah penerima dari setiap jenis bantuan untuk keluarga,namun ketika kita klil tabel bukan penerima,yang di tampilkan hasilnya bukan pengurangan jumlah total keluarga di kurang penerima.

**Cara untuk mereplikasi errornya**

**Hasil yg diharapkan**

seharusnya misal :
1. jumla

[2021-10-07 06:18] eddieridwan commented on #4456
@muhtar-coder apakah sudah membaca catatan di bawah tabel:
![bantuan-1](https://user-images.githubusercontent.com/249563/136329855-ec01ee4b-a111-4fe2-b1b2-2990cccae916.jpg)

Jadi hitungannya tidak harus seperti di poin (5) anda. `Bisa saja ada yg menerima lebih dari satu bantuan`. cc @afa28

[2021-10-07 07:27] andifahruddinakas commented on #4456
Sy cek di berputar,

Sesuai dengan catatan: jumlah penerim yg dihitung sekali saja. Yg bermasalah jika data tsb di linkkan ke data sebenarnya yg tdk sesuai.

Akan sy cek ulang.

[2021-10-07 07:35] muhtar-coder commented on #4456
Ok...
Idealnya jumlah data di statistik tsb adalah gambaran uraian di dalam
nya.jika jumlah di statistik menyajikan jumlah 100 (misal) tetapi ketika di
klik 1000,maka akan membingungkan.

Pada tanggal Kam, 7 Okt 2021 14.27, Andi Fahruddin Akas <
***@***.***> menulis:

[2021-10-07 07:37] andifahruddinakas commented on #4456
Ya, yg masalah uraian dan detailnya berbeda.

[2021-10-07 07:46] andifahruddinakas commented on #4456
Sy menggunakan contoh data awal, dan cek tdk ada masalah baik uraian dan detail saat di klik.

[2021-10-07 09:15] nursanamar commented on #595
Jadi JS Prodeskel ini punyanya @jogjasoftware atau @anwargopro?

[2021-10-07 10:44] muhtar-coder commented on #4456
Saya cek di berputar angka jumlah bukan penerima di statistik bantuan
keluarga juga tidak valid ketika diklik. Atau mungkin jumlah tersebut di
unlink/beku kan, karena tidak menjelaskan uraian  jumlah yang di klik.

Pada tanggal Kam, 7 Okt 2021 14.46, Andi Fahruddin Akas <
***@***.***> menulis:

[2021-10-07 12:04] eddieridwan commented on #4456
Bung @afa28 , biar saya ambil yg ini. Karena agak ribet. Nanti kapan2 setelah fungsinya berjalan ok, bisa direfaktor.

[2021-10-09 02:09] muhtar-coder opened #4458 "[BUG] Tombol simpan tidak berfungsi setelah input kedua pada menu Buku Tanah di Desa"
**Jelaskan error yg dialami**

tidak bisa simpan hasil input kedua /tombol tidak berfungsi
![image](https://user-images.githubusercontent.com/55665526/136640183-7fd01e49-c636-43d5-b958-7bb3d160638e.png)

**Cara untuk mereplikasi errornya**

**Hasil yg diharapkan**

**Tampakan layar dan log error**

![image](https://user-images.githubusercontent.com/55665526/136640321-0b007bfc-6c14-450c-a584-2a88d7

[2021-10-09 09:30] #4446 closed, assigned to Nurhidayat29

[2021-10-09 10:58] andifahruddinakas commented on #4322
Sudah digabungkan ke FITUR PREMIUM.

[2021-10-09 10:58] #4322 closed

[2021-10-09 11:00] ariandii commented on #4322
yang digabung tersebut apakah bisa untuk lebih dari 1 akun telegram penerima notifikasi?

baik itu warga ybs, operator, maupun admin.

[2021-10-09 13:49] Nurhidayat29 commented on #4393
Dupplicat #4430

[2021-10-09 13:49] #4393 closed

[2021-10-09 14:31] sukrimalendra commented on #3844
Jika boleh usul, tampilkan juga jumlah KK laki-laki dan perempuan. Karena sekarang banyak yg minta Jumlah KK Laki-laki dan perempuan.

[2021-10-10 03:23] ariandii opened #4459 "[BUG] Error 500 Ketika klik Kosongkan DB"
### Bagaimana alurnya sampai muncul masalah?
Pertama kali install OpenSID dengan import contoh data awal, hingga sesuaikan konfigurasi database berjalan lancar dan sukses.

**Masalah muncul ketika** akan kosongkan database untuk pengguna baru, yang mana saat ini perlu input Token dan Identitas Desa terlebih dahulu agar menu Pengaturan -> Database tidak terkunci.

Setelah input Token dan Identitas

[2021-10-10 10:04] andifahruddinakas commented on #4322
Dari panduan yg diberika mas @agungsugiarto dan sudah sy pindahkan ke https://github.com/OpenSID/OpenSID/wiki/Bot-Notifikasi-Telegram, sy hanya testing di 1 akun sebagai admin.

[2021-10-10 11:46] ariandii commented on #4322
bung @afa28 @agungsugiarto
pada Pengaturan > Aplikasi saat ini dikolom "Telegram User Id" hanya bisa isi 1 id telegram.

apakah bisa misal ingin menerima notifikasi lebih dari 1 akun operator? contoh ada tanda koma antar id sebagai pemisah.

jika memungkinkan, akan saya buat issue baru.

[2021-10-10 12:00] eddieridwan commented on #4456
- [x] Statistik Penerima bantuan penduduk
- [x] Statistik Penerima bantuan keluarga
- [x] Statistik Program bantuan sasaran keluarga
- [x] Statistik Program bantuan sasaran penduduk
- [x] Statistik Program bantuan sasaran rumah tangga
- [x] Statistik Program bantuan sasaran kelompok
- [x] Pada pembersihan hapus peserta duplikat, tinggalkan satu
- [x] Laporkan peserta terhapus dan duplikat (yaitu h

[2021-10-10 12:29] andifahruddinakas commented on #4322
Silahkan pak @ariandii.

[2021-10-10 12:37] andifahruddinakas commented on #4436
Silahkan di buka kembali issue ini jika log error sudah di lampirkan.

[2021-10-10 12:37] #4436 closed, assigned to nobody

[2021-10-10 12:41] ariandii opened #4460 "Penerima Notifikasi Telegram Bisa Lebih dari 1 Akun"
**Apa kekurangan yg ingin diatasi?**

Melanjutkan issue https://github.com/OpenSID/OpenSID/issues/4322 yang sudah closed,

Diharapkan adanya fitur Notifikasi Telegram untuk Layanan Mandiri yang bisa diterima lebih dari 1 Akun.

Hal ini dimaksud agar jika salah satu Admin atau Operator Desa sedang tidak berada di tempat atau bahkan sedang Tidak ada Paket Data, maka Notifikasi tersebut bisa diterima

[2021-10-10 23:42] eddieridwan commented on #4322
@ariandii @afa28 @agungsugiarto , untuk issue baru, saya sarankan yg diusulkan sbb:
1. akun telegram dimuat per perangkat desa melalui menu Pemerintahan Desa
2. di Pemerintahan Desa tambah indikator perangkat desa penerima notifikasi
3. sediakan beberapa jenis notifikasi, sehingga bagi masing2 perangkat desa bisa ditentukan notifikasi apa yg diterima. Notifikasi dikirim sesuai penentuan tsb,
4. ka

[2021-10-11 00:27] agungsugiarto commented on #4322
Telegram tidak menyediakan fitur broadcast,  bisa diakali dengan looping tapi tidak disarankan karena akan memakan waktu yg lama untuk mengirim.

[2021-10-11 01:37] agungsugiarto commented on #4458
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/413

[2021-10-11 01:37] #4458 closed, assigned to andifahruddinakas

[2021-10-11 01:56] agungsugiarto commented on #4459
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/415

[2021-10-11 01:56] #4459 closed, assigned to andifahruddinakas

[2021-10-11 02:18] balongbesuk commented on #4460
kenapa tidak di masukan kedalam grup telegram saja botnya?

[2021-10-11 02:43] andifahruddinakas commented on #4376
Sudah digabung ke `FITUR PREMIUM`

[2021-10-11 06:23] muhtar-coder opened #4461 "[BUG] Tidak dapat input dengan NIK sama pada menu tanah yang ada di desa"
**Jelaskan error yg dialami**

Saat melakukan penginputan data pertanahan/data tanah yang ada di desa,tidak dapat di isi/input dengan noNIK yang sama

**Cara untuk mereplikasi errornya**

**Hasil yg diharapkan**

agar dapat di isi dengan data yang memiliki NIK sama
**Tampakan layar dan log error**

![image](https://user-images.githubusercontent.com/55665526/136742085-7b30c904-474e-4d9d-be2c-cfeb54

[2021-10-11 09:05] andifahruddinakas commented on #4461
pak @eddieridwan, apa benar seperti ini???

[2021-10-12 02:07] balongbesuk commented on #4461
seharusnya primary keynya memang NIK (No petok) bukan tanah (Persil),

NIK A punya tanah sejumlah 1. tanah A 2. Tanah B 3 Tanah C
bukan sebaliknya tanah A (Pesil) punya NIK A (no Petok), NIK B (no Petok), NIK C (no Petok)

belum coba menu pertanahan, (mau tes d web demo website,ny down)

sebaiknya d lempar ke grup opensid karena sudah banyak yang menggunakan menu tersebut

[2021-10-12 02:30] ai-skematik opened #4462 "[BUG] Daftar permohonan Surat perlu di urut berdasarkan waktu permohonan"
**Jelaskan error yg dialami**

Daftar Permohonan surat melalui layanan mandiri belum di urut berdasarkan waktu permohonan

**Cara untuk mereplikasi errornya**

ajukan surat melalu layanan mandiri, lalu cek pemohonan surat di menu admin, perhatikan tanggal permohonan.

**Hasil yg diharapkan**

di urut berdasarkan tanggal kirim permohonan
**Tampakan layar dan log error**

![gambar](https://user-imag

[2021-10-12 03:03] mizwaruddin opened #5402 "[Peta] Tampilan Keterangan Gambar di Peta Bisa Urut ke Bawah"
**Apa kekurangan yg ingin diatasi?**
 Saat ini tampilan informasi gambar hanya satu baris saja, sehingga ketika ingin menampilkan banyak informasi akan terpotong.

**Jelaskan solusi yg diinginkan**
Izinkan informasi gambar di peta ditampilkan dalam beberapa baris. Ketika di enter, maka tampil di baris baru.

![IMG20211012095357.jpg](https://user-images.githubusercontent.com/39736008/136884188-0a43

[2021-10-12 04:14] mizwaruddin opened #4464 "[Pengaturan] Berikan Opsi Sembunyikan Luas Area di Web"
**Apa kekurangan yg ingin diatasi?**

Saat ini peta area selalu menampilkan luas area. Kadang kala, luas area tsb tidak perlu ditampilkan karena luas peta yg dibuat belum tentu sama dg luas di sertipikat tanah.

**Jelaskan solusi yg diinginkan**

Berikan opsi untuk menampilkan/menyembunyikan luas area.

**Apakah ada alternatif lain**

**Untuk versi OpenSID mana**

**Informasi tambahan**

[2021-10-12 08:28] ariandii opened #4465 "[BUG] Terjadi Error 404 pada Paginasi Halaman Web Lapak"
**Jelaskan error yg dialami**

Saat halaman lapak lebih dari 1, maka klik halaman pada paginasi ke 2 dan seterusnya akan muncul error 404.

dengan link URL pada paginasi adalah: /produk/2
namun ketika URL diganti manual menjadi: /lapak/2 akan sukses tampil produk.

**Cara untuk mereplikasi errornya**

**Hasil yg diharapkan**

Halaman paginasi dapat berfungsi dengan normal kembali.

**Tema Yg Digun

[2021-10-12 08:31] ariandii opened #4466 "[BUG] Error Tampilkan Hasil Pencarian Produk pada Halaman Lapak"
**Jelaskan error yg dialami**

Form pencarian yang ada di halaman web lapak, akan sukses jika produk yang diketik ada di halaman tersebut.

Namun jika produk ada di halaman lain. Misal kita sedang berada di halaman 1 yang tidak muncul Produk A.
karena Produk A ada di halaman 2.

Maka ketika kita menggunakan fitur cari saat berada di halaman 1, produk A tersebut dinyatakan tidak ada.
muncul keteran

[2021-10-12 08:36] ariandii opened #4467 "[BUG] Tombol Simpan Produk Lapak tidak Berfungsi"
**Jelaskan error yg dialami**

Masuk halaman https://berputar.opensid.or.id/lapak_admin/produk_form

Tombol simpan tidak berfungsi ketika Kolom Potongan Harga Produk diubah menjadi Nominal (Rp.)

**Hasil yg diharapkan**

Berfungsi sebagaimana mestinya.

**Tampakan layar dan log error**

<img width="542" alt="2021-10-12_15h20_56" src="https://user-images.githubusercontent.com/46939846/136921747-25f

[2021-10-12 09:21] andifahruddinakas commented on #4465
Pak @ariandii, sy coba tdk ada masalah. Sy pakai rev01, apa masalahnya di beta01. Mungkin bisa dicantumkan versi yg digunakan.

![lapak](https://user-images.githubusercontent.com/57283157/136929000-958f702d-be95-46d7-b4a8-51d7951168aa.png)

[2021-10-12 09:31] andifahruddinakas commented on #4465
Sudah diperbaiki, terjadi setelah penambahan pencarian produk.

[2021-10-12 09:31] #4465 closed, assigned to nobody

[2021-10-13 09:17] Jhiban-Khang opened #4468 "[BUG]"
pada release OPENSID UMUM 21.10

gagal Menyimpan data penduduk baru jika melalui TAMBAH ANGGOTA KELUARGA di menu Keluarga

[2021-10-13 13:54] andifahruddinakas commented on #4468
Sudah digabungkan ke branch `dev-21.11` melalui commit ba6dc8e1f2923edb4fe4ea2153cacea31d10dc3e

[2021-10-13 13:54] #4468 closed, assigned to nobody

[2021-10-13 15:08] desasoro opened #4469 "Scan Tag ID Card Tidak Tersave [BUG]"
**Jelaskan error yg dialami**

**Cara untuk mereplikasi errornya**

**Hasil yg diharapkan**

**Tampakan layar dan log error**

**Versi OpenSID**

**Tema Yg Digunakan**

**Informasi tambahan**

[2021-10-14 01:10] ariandii opened #4470 "Menambah Informasi Penandatangan di Halaman Verifikasi Surat"
**Apa kekurangan yg ingin diatasi?**

Adanya informasi Pejabat yang Menandatangani Surat Keterangan berdasarkan hasil scan QRCode.

Sebagai contoh halaman hasil verifikasi https://www.natairaya.desa.id/c1/751

**Jelaskan solusi yg diinginkan**

Tersedia keterangan bahwa benar telah ditandatangani oleh KepalaDesa/PerangkatDesa lain yang telah menandatangani sesuai yang dipilih saat cetak Surat Kete

[2021-10-14 03:57] ariandii opened #4471 "[BUG] Error Buka Halaman Verifikasi Surat"
**Jelaskan error yg dialami**

Scan QRCode pada lembar surat keterangan, ketika klik link yang muncul Pertama akan terbuka halaman Error 404.,
Setelah klik, ulang, baru muncul informasi mengenai surat tersebut.

Klik link, akan terjadi Error pada saat pertama kali hingga Ketiga kali dibuka.

Dan setelah itu, akan berhasil membuka halaman informasi pemilik surat.

**Cara untuk mereplikasi errornya*

[2021-10-14 04:12] zeneight opened #4472 "[BUG] Surat Keterangan Kematian dapat tampil di layanan mandiri"
**Jelaskan error yg dialami**
Ada opsi sediakan di layanan mandiri untuk pilihan Surat Keterangan Kematian pada Admin yang menyebabkan munculnya formulir surat kematian pada halaman layanan mandiri

**Cara untuk mereplikasi errornya**
1. Login ke halaman admin
2. Pergi ke menu layanan surat > pengaturan surat
3. Klik tombol 'Buat Surat'
4. Cari keterangan kematian pada field pencarian dan klik tom

[2021-10-14 04:42] Akmal197 opened #4473 "[BUG]"
penambahan data penduduk langsung di menu keluarga tidak bisa tersimpan

[2021-10-14 04:48] Akmal197 opened #4474 "[BUG] Penambahan Anggota Keluarga di menu Keluarga"
tidak bisa melakukan penambahan anggota keluarga langsung yang di entri dari menu Keluarga.

[2021-10-14 04:49] #4473 closed, assigned to nobody

[2021-10-14 04:50] andifahruddinakas commented on #4474
Sudah diperbaiki, silahkan cek https://github.com/OpenSID/OpenSID/issues/4468

[2021-10-14 04:50] #4474 closed, assigned to nobody

[2021-10-14 05:07] balongbesuk commented on #4472
layanan mandiri kan d khususkan untuk permohonan surat penduduk hidup?

[2021-10-14 09:31] andifahruddinakas opened #4475 "Tambahkan seeder untuk data sistem (das_setting, ref_*)"
**Apa kekurangan yg ingin diatasi?**

**Jelaskan solusi yg diinginkan**

**Apakah ada alternatif lain**

**Untuk versi OpenSID mana**

**Informasi tambahan**

[2021-10-14 09:38] #4475 closed, assigned to nobody

[2021-10-14 11:33] eddieridwan commented on #4456
Sdh dicommit ke `bug-fix`.

[2021-10-14 11:33] #4456 closed, assigned to eddieridwan

[2021-10-14 12:15] zeneight commented on #4472
@balongbesuk Kalau memang dikhususkan untuk permohonan surat penduduk hidup kenapa di admin ada opsi "tampilkan di layanan mandiri" untuk pilihan surat keterangan kematian?
Apakah lebih baik dihilangkan?

![WhatsApp Image 2021-10-14 at 20 07 53 (2)](https://user-images.githubusercontent.com/14101291/137315176-4c869dc0-4f9b-49a3-96ab-a18b7881b1f3.jpeg)

[2021-10-15 01:15] balongbesuk commented on #4472
kl begitu issuenya d ganti hanya surat penduduk hidup saja yang boleh masuk ke layanan mandiri

[2021-10-15 06:20] andifahruddinakas opened #4476 "Pindahkan data pengguna ke folder desa"
**Apa kekurangan yg ingin diatasi?**

Setiap kali update terkadang pengguna hanya membackup folder desa saja, sehingga data lain kadang terhapus seperti data yg ada folder cache misalnya idm. Data cache bisa dibuat kembali jika di akses, namu kadang ada sesuatu yg membuatnya error (salah 1 nya sever yg dituju down).

**Jelaskan solusi yg diinginkan**

Pindahkan folder cache ke folder desa.

**Apak

[2021-10-15 07:22] zeneight commented on #4472
@balongbesuk Sudah saya ganti

[2021-10-15 07:46] andifahruddinakas commented on #1824
https://smsgateway.me/

https://github.com/Dealaxer/gammu-e2s

[2021-10-15 08:34] andifahruddinakas commented on #4472
Pak @zeneight mungkin bisa baca panduan https://github.com/OpenSID/OpenSID/wiki/Surat-Layanan-Mandiri

[2021-10-15 08:35] andifahruddinakas commented on #4472
Silahkan di buka kembali jika masih bermasalah.

[2021-10-15 08:35] #4472 closed, assigned to nobody

[2021-10-15 09:11] zeneight commented on #4472
@afa28 Terima kasih banyak atas arahan dan informasinya

[2021-10-15 09:44] andifahruddinakas opened #4477 "[BUG] Cek ulang penggunaan package "cartalyst/sentinel", beberapa modul bisa diakses walau tdk sesuai role"
**Jelaskan error yg dialami**

**Cara untuk mereplikasi errornya**

**Hasil yg diharapkan**

**Tampakan layar dan log error**

**Versi OpenSID**

**Tema Yg Digunakan**

**Informasi tambahan**

[2021-10-15 09:44] #4477 closed, assigned to nobody

[2021-10-17 03:50] andifahruddinakas commented on #4469
pak @desasoro silahkan issuenya dilengkapi. Buka kembali kalau masih bermasalah.

[2021-10-17 03:50] #4469 closed, assigned to nobody

[2021-10-17 16:49] muhtar-coder opened #4478 "[Analisis] [Keluarga] Data Kependudukan Menurut Kelas Sosial idealnya adalah hasil analisis quisioner yang sesuai dan baku"
**Apa kekurangan yg ingin diatasi?**

1. pengelompokan kelas sosial keluarga saat ini masih berupa kolom input bebas yang tanpa dasar dan rujukan yang jelas.
2. agar desa dapat menetapkan data kependudukan menurut kelas sosial berdasarkan analisis yang sesuai

**Jelaskan solusi yg diinginkan**

1. saat penyusunan/perbaikan/pemutakhiran data keluarga,agar kolom kelas sosial di dapat kan dari hasil

[2021-10-18 03:27] kasipem331 opened #4479 "Penambahan Cetak Form F.1.03 Untuk PerubahanData/Penambahan Anggota Keluarga. Terima Kasih"
**Apa kekurangan yg ingin diatasi?**

**Jelaskan solusi yg diinginkan**

**Apakah ada alternatif lain**

**Untuk versi OpenSID mana**

**Informasi tambahan**

[2021-10-18 06:16] andifahruddinakas commented on #4404
Pak @eddieridwan :
Apakah penyesuaian ini dilakukan pada semua sasaran yg tersedia??? atau hanya untuk sasaran `penduduk `dan `keluarga `saja???

[2021-10-18 06:19] eddieridwan commented on #4404
@afa28 , diprioritaskan untuk Penduduk dan Keluarga dulu.

[2021-10-18 06:21] andifahruddinakas commented on #4404
Ok

[2021-10-18 06:52] andifahruddinakas commented on #4404
Sasaran Penduduk :

Alur :
1. Tambah Indikator
2. Pada bagian ini perlu ditambahkan pilihan isian (Manual / Otomatis) :
- Manual  : nilai default kosong (perlu diisi), daftar jawaban perlu ditambahkan.
- Otomatis : nilai default diambil dari data penduduk, misalnya golongan darah maka jawaban default dari golongan_darah_id yg refrensi dari table gololongan darah.
3. Setelah memilih Tipe Pertanyaan

[2021-10-18 08:02] agungsugiarto commented on #4461
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/422

[2021-10-18 08:02] #4461 closed, assigned to andifahruddinakas

[2021-10-18 08:09] agungsugiarto commented on #4467
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/424

[2021-10-18 08:09] #4467 closed, assigned to andifahruddinakas

[2021-10-18 08:40] agungsugiarto commented on #4462
Sudah diperbaiki melalui commit https://github.com/OpenSID/premium/commit/19c71e0d26043c868358612fb795c0b8187a04b7

[2021-10-18 08:41] #4462 closed, assigned to agungsugiarto, andifahruddinakas

[2021-10-18 09:01] agungsugiarto commented on #3844
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/434

[2021-10-18 09:17] agungsugiarto commented on #4471
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/436

[2021-10-18 09:17] #4471 closed, assigned to andifahruddinakas

[2021-10-18 09:43] agungsugiarto commented on #3404
Sudah di perbaiki melalui pr https://github.com/OpenSID/premium/pull/437

[2021-10-18 09:43] #3404 closed

[2021-10-19 12:28] andifahruddinakas commented on #4479
Mohon issue dilengkapi, silahkan di buka kembali jika sudah lengkap.

[2021-10-19 12:28] #4479 closed, assigned to nobody

[2021-10-19 12:30] andifahruddinakas commented on #4478
Berkaitan dengan issue :
1. https://github.com/OpenSID/OpenSID/issues/4404
2. https://github.com/OpenSID/OpenSID/issues/4405

[2021-10-19 23:08] eddieridwan commented on #4478
Bung @afa28 , issue ini kebalikan dari #4404 dan #4405.
Yaitu, di mana kolom di Penduduk atau Keluarga diisi berdasarkan hasil analisis.

Solusinya perlu dipikirkan lebih dalam. Solusinya perlu berdasarkan fitur yg memungkinkan data penduduk/keluarga ditambah secara dinamis. Karena itu, saya bayangkan perlu melibatkan fitur Data Suplemen. Yaitu, solusi seperti berikut:

1. Data suplemen bisa ditam

[2021-10-20 04:32] eddieridwan commented on #1824
Menurut beberapa analisi telekomunikasi, tidak lama lagi SMS akan punah. Diperkirakan hanya sekitar 10% masyarakat yg masih menggunakan SMS. https://industri.kontan.co.id/news/bersiap-di-2020-tak-akan-lagi-layanan-sms-dan-telepon

Dengan demikian, tidak perlu OpenDesa menyediakan layanan SMS gateway. Sebagai penggantinya, lebih baik OpenSID menyediakan pengiriman pesan ke WA, Telegram atau email w

[2021-10-20 04:33] eddieridwan commented on #1824
Karena itu, issue ini akan ditutup dan dibuka issue terpisah untuk merefaktor modul SMS supaya bisa digunakan untuk mengirim pesan kepada warga melalui WA/Telegram/email.

[2021-10-20 04:49] muhtar-coder commented on #4478
Soal teknis kami percayakan ke teman2 programer...

Pada tanggal Rab, 20 Okt 2021 06.09, Eddie Ridwan ***@***.***>
menulis:

[2021-10-20 04:52] eddieridwan opened #4481 "[SMS] Mekarkan modul SMS menjadi modul Hubung Warga"
* Issue ini sudah dipecah menjadi tugas2 lebih kecil di https://github.com/orgs/OpenSID/projects/3/views/1 *

**Apa kekurangan yg ingin diatasi?**

Modul SMS menyediakan fitur untuk mengirim pesan ke warga, tanpa warga tersebut harus terdaftar sebagai pengguna layanan mandiri. Berpotensi digunakan untuk mengirim pemberitahuan dan berita penting kepada warga. Tetapi modul SMS hanya dapat mengirim p

[2021-10-20 04:56] eddieridwan commented on #4481
Issue ini meneruskan permintaan di https://github.com/OpenSID/OpenSID/issues/3975.
Issue #3975 akan ditutup, karena sudah tercakup di issue ini.

[2021-10-20 04:57] eddieridwan commented on #3975
Issue ini dimekarkan di https://github.com/OpenSID/OpenSID/issues/4481.
Jadi issue ini ditutupn karena sudah tercakup di #4881

[2021-10-20 05:14] lihin20 commented on #4470
setuju

[2021-10-20 10:59] ai-skematik commented on #4481
sy sangat setuju ini., sebaiknya pemberitahunan seperti info kedukaan akan masuk sebagai notifikasi juga bagi yg memasang opensid mobile.

[2021-10-20 16:31] #4217 closed

[2021-10-21 08:59] ai-skematik opened #4482 "[Anjungan] Tambah fungsi anjungan selain untuk permohonan surat dapat digunakan untuk informasi publik, lapak, dll"
**Apa kekurangan yg ingin diatasi?**

saat ini fungsi anjungan hanya sebatas permohonan surat sehingga fungsinya sangat sedikit jika dibanding dengan biaya yang dikeluarka oleh desa.

**Jelaskan solusi yg diinginkan**

tambah fungsi anjungan selain untuk pesan surat dapat juga digunakan untuk informasi publik, lapak dll.

**Apakah ada alternatif lain**

OpenSID dapat dipasang 2 tema, 1 tema untuk

[2021-10-22 07:46] agungsugiarto commented on #4402
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/410

[2021-10-22 07:46] #4402 closed, assigned to andifahruddinakas

[2021-10-22 09:12] agungsugiarto commented on #4404
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/440

[2021-10-22 09:13] #4404 closed, assigned to andifahruddinakas

[2021-10-22 09:14] agungsugiarto commented on #4476
Sudah diperbaiki

[2021-10-22 09:14] #4476 closed, assigned to andifahruddinakas

[2021-10-23 06:54] ariandii opened #4483 "[BUG] Gagal Unggah Foto Pembangunan Jika Nama File Berkarakter"
**Jelaskan error yg dialami**

Ketika nama file foto terdapat karakter seperti nol%.jpg maka unggah foto pembangunan pada saat tambah data maupun edit dari yang ada akan gagal tersimpan.

**Hasil yg diharapkan**

Dapat normal sebagaimana mestinya. sukses unggah nama file berkarakter apapun.

[2021-10-23 06:57] andifahruddinakas opened #4484 "[BUG] Impor Penduduk, tapi data keluarga tdk tersimpan"
**Jelaskan error yg dialami**

Data keluarga tdk tampil setelah impor data penduduk.

**Cara untuk mereplikasi errornya**

Lakukan impor data penduduk yg didalamnya terdapat data keluarga.

**Hasil yg diharapkan**

**Tampakan layar dan log error**

**Versi OpenSID**

**Tema Yg Digunakan**

**Informasi tambahan**

[2021-10-23 06:58] #4484 closed, assigned to andifahruddinakas

[2021-10-23 09:48] andifahruddinakas opened #4485 "[BUG] [Telegram] Error input No. Rumah Tangga Jika Terlalu panjang"
**Jelaskan error yg dialami**

Saat ubah no_kk/no_rumah_tangga terjadi error saat input terlalu panjang.

**Cara untuk mereplikasi errornya**

**Hasil yg diharapkan**

**Tampakan layar dan log error**

**Versi OpenSID**

**Tema Yg Digunakan**

**Informasi tambahan**

[2021-10-23 09:51] andifahruddinakas opened #4486 "[Telegram] Impor data penduduk berupa huruf tdk bisa untuk pendidikan_sedang, cacat, dlll"
**Apa kekurangan yg ingin diatasi?**

Agar data berupa format huruf untuk kolom pendidikan sedang, cacat, dll tdk perlu di konfersi ke format angka.

**Jelaskan solusi yg diinginkan**

Lakukan impor data dengan menggunakan format huruf pada kolom pendidikan sedang, maka akan tampil error impor.

**Apakah ada alternatif lain**

**Untuk versi OpenSID mana**

**Informasi tambahan**

[2021-10-23 12:03] #4485 closed, assigned to andifahruddinakas

[2021-10-23 12:55] ompaydisgen opened #4487 "[BUG] Eror Perekaman Foto Pada Menu Cepture"
**Eror Perekaman Foto Pada Menu Cepture**

**Posisi Eror**

**Hasil yg diharapkan**

**Tampakan layar dan log error**

**Versi OpenSID**

**Tema Yg Digunakan**

**Informasi tambahan**

[2021-10-23 13:22] ompaydisgen opened #4488 "SEGMENTASI DATA KHUSUS UNTUK DAERAH OTONOMI KHUSUS"
**Apa kekurangan yg ingin diatasi?**

**Jelaskan solusi yg diinginkan**

**Apakah ada alternatif lain**

**Untuk versi OpenSID mana**

**Informasi tambahan**

[2021-10-23 14:14] andifahruddinakas commented on #4487
Silahkan dibuka kembali issue ini jika sudah dilengkapi.

[2021-10-23 14:14] #4487 closed, assigned to nobody

[2021-10-23 14:14] andifahruddinakas commented on #4488
Silahkan dibuka kembali issue ini jika sudah dilengkapi.

[2021-10-23 14:14] #4488 closed, assigned to nobody

[2021-10-24 07:14] ompaydisgen opened #4489 "Silahkan dibuka kembali issue ini jika sudah dilengkapi."
Silahkan dibuka kembali issue ini jika sudah dilengkapi.

_Originally posted by @andifahruddinakas in https://github.com/OpenSID/OpenSID/issues/4487#issuecomment-950159150_

[2021-10-24 07:26] ompaydisgen opened #4490 "Silahkan dibuka kembali issue ini jika sudah dilengkapi."
Silahkan dibuka kembali issue ini jika sudah dilengkapi.

_Originally posted by @andifahruddinakas in https://github.com/OpenSID/OpenSID/issues/4488#issuecomment-950159179_

[2021-10-24 07:36] #4490 closed, assigned to nobody

[2021-10-24 13:42] #4489 closed, assigned to nobody

[2021-10-24 17:15] ariandii opened #4491 "[BUG] Status Covid-19 Seluruhnya Menjadi Kontak Erat"
**Jelaskan error yg dialami**

Ketika melakukan Penambahan Pemudik Covid-19 pada Menu Siaga Covid-19, seluruh penduduk yang dibuat, otomatis berstatus Kontak Erat dan Jika Penduduk tersebut di edti, terjadi error 500 dengan log sebagai berikut:

Severity: error --> Exception: Class 'CI_Controller' not found C:\laragon\www\premium\system\core\CodeIgniter.php 369

<img width="898" alt="screenshot_17

[2021-10-24 17:37] #4491 closed, assigned to nobody

[2021-10-24 17:37] andifahruddinakas commented on #4491
Sudah diperbaiki di `rilis-dev`

[2021-10-24 18:07] andifahruddinakas opened #4492 "[BUG] [TELEGRAM] Error saat menampilkan data Inventaris dan Kekayaan Desa"
**Jelaskan error yg dialami**

Untuk pengguna baru, saat akses modul Buku Administrasi Desa > Administrasi Umum > Inventaris dan Kekayaan Desa aikan menagalami error krn data belum tersedia.

**Cara untuk mereplikasi errornya**

**Hasil yg diharapkan**

Tidak terjadi error walau data belum ada.

**Tampakan layar dan log error**

**Versi OpenSID**

**Tema Yg Digunakan**

**Informasi tambahan**

[2021-10-24 18:09] #4492 closed, assigned to andifahruddinakas

[2021-10-25 07:16] #4483 closed, assigned to andifahruddinakas

[2021-10-25 12:17] kasipem331 opened #4493 "Penambahan format Surat/Formulir Kependudukan F1.01 s.d F1.07, F2.01 s.d F2.04 dan F2.10 sesuai Format terbaru dari Disdukcapil"
**Apa kekurangan yg ingin diatasi?**

**Jelaskan solusi yg diinginkan**

**Apakah ada alternatif lain**

**Untuk versi OpenSID mana**

**Informasi tambahan**

[2021-10-25 12:26] andifahruddinakas commented on #4493
Silahkan dilengkapi dlu issuenya.

[2021-10-25 12:26] #4493 closed, assigned to nobody

[2021-10-26 13:44] ariandii opened #4494 "[BUG] Link Edit Menu Kelompok"
**Jelaskan error yg dialami**

Ketika ubah Menu dengan Jenis Link Kelompok, maka pada kolom Link seharusnya kelompok sudah terpilih sebelumnya.

**Cara untuk mereplikasi errornya**
Langkah untuk mereplikasi error yg dialami, misalnya:
1. Pergi ke halaman 'https://berputar.opensid.or.id/menu'
2. Klik tombol 'Tambah Menu'
3. Lalu pilih Jenis Link 'Kelompok'
4. Kemudian pada 'Pilihan Link' tentukan s

[2021-10-26 14:40] ariandii opened #4495 "[Pembangunan] Penyesuaian Menu Pembangunan"
**Apa kekurangan yg ingin diatasi?**

1. Pertama kali Menambah Data Pembanguan, agar pada kolom pilihan Tahun Anggaran secara default adalah tahun berjalan. Agar tidak gulir ke atas sejak 1999.
2. Untuk kolom Waktu agar dibuat Satuan Hari Kalender, menghindari penggunaan Desimal jika dilaksanakan seperti 22 Hari, 38 Hari dst.

<img width="753" alt="screenshot_36" src="https://user-images.githubuse

[2021-10-27 05:47] andifahruddinakas commented on #4494
Sudah diperbaiki melalui commit https://github.com/OpenSID/premium/commit/676c7c20ba54ce1fee9dfe8e024f7e377aa02c90

[2021-10-27 05:47] #4494 closed, assigned to andifahruddinakas

[2021-10-27 09:32] Jhiban-Khang opened #4496 "[BUG] Tampilan data suplemen di web hanya menampilkan maksimum 20 data terdata"
**Jelaskan error yg dialami**

Data suplemen, jika ditampikan/dipublikasikan melalui tampilan web, hanya bisa menampilkan sampai 20 data saja, sebenarnya data di suplemen lebih dari 20. apakah ini bugs? atau memang didesain mentok sampai 20 saja?

**Cara untuk mereplikasi errornya**

Jika bugs, diharapkan bisa menampilkan data seluruhnya
!
**Hasil yg diharapkan**

**Tampakan layar dan log error**

[2021-10-28 04:10] andifahruddinakas commented on #4312
https://opensid.my.id/surat/

[2021-10-28 04:15] andifahruddinakas commented on #4308
Duplikasi issue https://github.com/OpenSID/OpenSID/issues/4307

[2021-10-28 04:17] andifahruddinakas commented on #4288
Sudah di aplikasi PBB

[2021-10-28 04:19] andifahruddinakas commented on #4245
Sudah difitur premium

[2021-10-28 04:20] andifahruddinakas commented on #4192
Sudah di fitur premium dengan alur yg disesuaikan.

[2021-10-28 04:23] andifahruddinakas commented on #4103
Duplikasi issue https://github.com/OpenSID/OpenSID/issues/4332

[2021-10-28 04:25] andifahruddinakas commented on #4420
Duplikasi issue https://github.com/OpenSID/OpenSID/issues/2565

[2021-10-28 04:25] #4420 closed, assigned to nobody

[2021-10-28 14:15] emanuel-simon opened #4497 "[Template Surat] Surat Keterangan Nikah & Form F2.12 untuk Warga Non Muslim"
**Apa kekurangan yg ingin diatasi?**

Belum ada Surat Keterangan Nikah dan Lampirannya yaitu Form F-2.12 untuk pengurusan Akta Nikah bagi warga non Muslim di Layanan Surat

**Jelaskan solusi yg diinginkan**

- Sediakan Surat Keterangan Nikah berserta lampirannya formulir F-2.12 di Layanan Surat
- [PERMENDAGRI NO 19 TAHUN 2010 tentang FORMULIR DAN BUKU YANG DIGUNAKAN DALAM PENDAFTARAN PENDUDUK DAN

[2021-10-29 01:24] afri18 opened #4498 "[Bug] Pengubahan data survei analisis menghasilkan data duplikat"
**Apa kekurangan yg ingin diatasi?**
 Kadang pengisian survey tidak selesai sudah disimpan (karna pertanyaan banyak atau ada keperluan mendesak), bila dilain waktu melanjutkan survey dan menyimpannya maka akan terdapat 2 data untuk objek yang sama

**Jelaskan solusi yg diinginkan**

![image](https://user-images.githubusercontent.com/6611881/139357720-3eb91be7-3961-4d63-a9d4-9c8a331832b4.png)

**Ap

[2021-10-29 05:37] emanuel-simon opened #4499 "[BUG] Beberapa Data Tidak Muncul di Suket Kelahiran Dan Lampiran F-2.01"
**Jelaskan error yg dialami**

Ada beberapa data yang tidak muncul di Surat Keterangan Kelahiran dan Lampiran f-kelahiran

**Cara untuk mereplikasi errornya**

- Pergi ke Layanan Surat - Cetak Surat - Surat Keterangan Kelahiran
- Isi semua data yang dibutuhkan
- Unduh .rtf
- Buka hasil unduhan dan akan terlihat data-data ada yang tidak tampil

**Hasil yg diharapkan**

Template surat beserta lampir

[2021-10-29 08:23] andifahruddinakas opened #4500 "Untuk panduan v21.11"

[2021-10-29 08:26] andifahruddinakas commented on #4500
#### Penambahan Fitur
- [x] 1. [#4366](https://github.com/OpenSID/OpenSID/issues/4366) RSS Feeds artikel sekarang berisi tanggal unggah artikel.
- [x] 2. [#4440](https://github.com/OpenSID/OpenSID/issues/4440) Perbaiki tampilan hasil analisis di web, supaya indikator ditampilkan per master analisis.
- [x] 3. [#4446](https://github.com/OpenSID/OpenSID/issues/4446) Perbaiki surat keterangan nikah se

[2021-10-29 15:45] mizwaruddin opened #4501 "[Suplemen] Tampilkan Warga Belum Terdata dalam Data Suplemen"
**Apa kekurangan yg ingin diatasi?**

Saat ini yang ditampilkan dan dapat diunduh dalam data suplemen hanya warga yang sudah terdata, sedangkan untuk warga belum/tidak terdata belum ditampilkan. Tentunya hal ini menimbulkan kesulitan saat mau mengecek warga yang belum terdata.

**Jelaskan solusi yg diinginkan**

1. Tampilkan data belum/tidak terdata.
2. Unduh warga belum/tidak terdata.

**Apakah a

[2021-10-30 02:29] kasipembatungsel commented on #4497
untuk di daerah bali yang mayoritas beragama non muslim khusu untuk daerah kabupaten tabanan, adapaun persyaratan yang diperlukan untuk menerbitkan kutipan akta perkawinan yaitu,
1.  F-1.12
2. surat belum pernah kawin/menikah
3. surat ijin orang tua bagi yang berusia 19 - 21 tahun,
4. surat pernyataan kedua mempelai
5. surat keteranggan perkawinan umat hindu ( bagi masyarakat beragama hindu )
 seb

[2021-10-30 12:14] emanuel-simon commented on #4497
boleh ajak teman-teman yang lain untuk like issue ini, bli @kasipembatungsel

[2021-10-30 17:19] MUHAMMADRANGSEL opened #4502 "[Bug] Status Hubungan Keluarga Perlu disesuaikan"
**Apa kekurangan yg ingin diatasi?

Status Hubungan Keluargayang ada di Aplikasi OpenSID dengan di SIAK Dukcapil terdapat perbedaan

**Jelaskan solusi yg diinginkan**

**Apakah ada alternatif lain**

![status hubungan di opensid](https://user-images.githubusercontent.com/25834335/139542921-9c4c7519-3b0f-4376-92be-c6fb6178139b.jpg)

![status hubungan di siak](https://user-images.githubusercontent.c

[2021-10-31 05:08] mr703 opened #4503 "[Bug] Latar Belakang Halaman Login dan Layanan Mandiri hanya bisa diubah satu kali"
### Bagaimana alurnya sampai muncul masalah?
Setelah di robah latar login dan layanan mandiri di Pengaturan Aplikasi, latar tidak dapat lagi di robah, atau tidak mau menyimpan gambar lainnya ketika dirobah

### Seperti apa yang diharapkan?

Bisa di robah sesuai dengan keinginan
### Apa yang terjadi?
Gambar latar tidak bisa dirobah utk kedua kalinya

### Informasi tambahan

| Tanya            | Jaw

[2021-10-31 06:41] andifahruddinakas commented on #4500
Analisis Web :
![web analisis  1](https://user-images.githubusercontent.com/57283157/139571510-109e42b2-3f1b-4951-89a7-a98077db5ad6.png)
![web analisis  2](https://user-images.githubusercontent.com/57283157/139571512-e970afaf-7655-4530-bad4-23a6f9f71482.png)
![web analisis  3](https://user-images.githubusercontent.com/57283157/139571513-44b97ed9-8233-4357-b019-f490b606d1b9.png)

[2021-10-31 06:46] andifahruddinakas commented on #4500
Lapak Web :
![lapak 1](https://user-images.githubusercontent.com/57283157/139571646-c72baeae-1a2d-4270-af61-b231545e7e45.png)
![lapak 2](https://user-images.githubusercontent.com/57283157/139571649-deb70e2c-c360-45d2-a179-ebdf9f34f676.png)
![lapak 3](https://user-images.githubusercontent.com/57283157/139571651-fd18b032-9bdb-4f45-8995-e211a3e895f3.png)
![lapak 3](https://user-images.githubuserconte

[2021-10-31 06:48] andifahruddinakas commented on #4500
Telegram :
![telegram 1](https://user-images.githubusercontent.com/57283157/139571705-f99006b6-5443-48ff-9505-96f69e45e55b.png)

[2021-10-31 06:50] andifahruddinakas commented on #4500
Covid19 Web :
![covid19 web](https://user-images.githubusercontent.com/57283157/139571785-cab25378-58ee-4cb8-9263-21111ccc847a.png)
![covid19 web 2](https://user-images.githubusercontent.com/57283157/139571844-dcb78594-c88f-46cb-8176-621e545e360a.png)

[2021-10-31 06:54] andifahruddinakas commented on #4500
Data Wilayah Web :
![data wilayah web](https://user-images.githubusercontent.com/57283157/139571912-05712fb8-30d7-4322-a4bf-dc2eb5b8939d.png)

[2021-10-31 07:21] andifahruddinakas commented on #4503
Pak @mr703, mohon dilengkapi issuenya. OpenSID versi berapa yg digunakan agar mepermudah pengecekan.

[2021-10-31 18:05] muhtar-coder opened #4505 "Tambahkan Pilihan Jenis Pekerjaan Pada Menu Hubungkan Data Pendudukan di Analisis"
**Apa kekurangan yg ingin diatasi?**

tidak terdapat pilihan untuk menghubungkan jenis pekerjaan penduduk pada indikator & pertanyaan di menu analisis

![image](https://user-images.githubusercontent.com/55665526/139596183-9960a8b4-493a-4a48-bb25-66831214a84c.png)

**Jelaskan solusi yg diinginkan**

Agar tersedia pilihan jenis pekerjaan

**Apakah ada alternatif lain**

agar desa dapat lebih fokus m

[2021-11-01 00:25] eddieridwan opened #4506 "[Anjungan] Tambah fitur tampilan slides/video di anjungan pada sast tidak digunakan"
**Apa kekurangan yg ingin diatasi?**

Saat ini jika anjungan sedang kosong, tampilan statis pada halaman login mandiri. Sebaiknya waktu kosong tersebut dimanfaatkan untuk menampilkan informasi atau tayangan menarik.

**Jelaskan solusi yg diinginkan**

Sediakan pengaturan untuk menampilkan galeri atau video untuk ditayangkan di anjungan jika anjungan kosong. Jika layar/keyboard disentuh, tampilan a

[2021-11-01 00:28] eddieridwan commented on #4482
Bung @ai-skematik , issue ini perlu dipecah menjadi beberapa issue, untuk masing2 fitur yg diinginkan. Issue yg berisi banyak tugas tidak dapat diterapkan. Sebagai contoh, saya telah buatkan issue terpisah untuk menampilkan slides/video pada waktu anjungan kosong, di https://github.com/OpenSID/OpenSID/issues/4506.

[2021-11-01 00:40] eddieridwan commented on #4498
Pastikan bahwa ini memang bug. Bisa jadi masalah karena kondisi data pada bung @afri18

[2021-11-01 01:09] eddieridwan opened #4507 "[Peta] Bisa atur jenis garis dan ketebalan tipe garis di pengaturan peta"
**Apa kekurangan yg ingin diatasi?**

Saat ini pengaturan Tipe Garis di Pengaturan Peta terbatas pada warna saja. Diperlukan pengaturan tambahan untuk mengitkuti standar yg umum digunakan untuk membedakan garis untuk jalan raya, jalan setapak, pembatas dll.

**Jelaskan solusi yg diinginkan**

Tambahkan pengaturan tipe garis untuk:

1. ketebalan garis
2. jenis garis (solid, dash, dot, dsbnya)

Guna

[2021-11-01 01:42] rudiansyahyunanda opened #4508 "Penambahan Fitur Informasi PBB"
**Apa kekurangan yg ingin diatasi?**

**Jelaskan solusi yg diinginkan**

**Apakah ada alternatif lain**

**Untuk versi OpenSID mana**

**Informasi tambahan**

[2021-11-01 04:26] eddieridwan opened #4510 "[BUG] Unduh dokumen kesepakatan kerjasama desa dalam format PDF, bukan RTF"
**Jelaskan error yg dialami**

Saat ini dokumen kesepakatan kerjasama desa dengan OpenDesa diunduh dalam format RTF. Seharusnya dalam format PDF supaya tidak bisa diubah.

**Cara untuk mereplikasi errornya**

1. Pergi ke menu Info Desa > Pendaftaran Kerjasama
2. Isi form
3. Unduh dokumen kerjasama
4. Periksa dokumen yg diunduh. Ternyata format RTF

**Hasil yg diharapkan**

Seharusnya dalam format

[2021-11-01 06:48] RagaKyud opened #4511 "[Template Surat] Surat nikah pilih penduduk calon perempuan dari desa"
Surat keterangan nikah pada layanan mandiri

### Bagaimana alurnya sampai muncul masalah?
untuk pasangan wanita dari desa tidak muncul ketika dipilih

### Seperti apa yang diharapkan?

### Apa yang terjadi?

### Informasi tambahan

| Tanya            | Jawab
| ---------------- | ---
| Versi OpenSID    | 21.11
| Versi PHP        |  7.2
| System operasi   | win 7 xampp
![d91687e8-8139-4b03-8d95-e9fe

[2021-11-01 06:53] eddieridwan commented on #4511
@RagaKyud apakah masalah ini bisa direplikasi di https://demo.opensid.or.id atau https://berputar.opensid.or.id?
Kalau tidak, masalah ada di sistem anda.

[2021-11-01 08:54] andifahruddinakas commented on #4500
QRCode :
![qrcode](https://user-images.githubusercontent.com/57283157/139646702-e6c3f20c-bc51-466f-b4b7-01992bb90e91.png)
![qrcode1](https://user-images.githubusercontent.com/57283157/139646988-cc4ed327-e0aa-482d-9501-91c435043560.png)
![photo_2021-11-10_17-41-29](https://user-images.githubusercontent.com/57283157/141651880-d037fb62-a5c5-4664-948f-364d307d47f3.jpg)

[2021-11-02 03:48] #4505 closed, assigned to nobody

[2021-11-02 06:40] zbinggor opened #4512 "[Artikel] Format Permalink Artikel"
**Apa kekurangan yg ingin diatasi?**
Format Permalink artikel tidak bisa ditentukan sendiri...

**Jelaskan solusi yg diinginkan**
Terdapat menu atau form isian untuk menentukan format dari permalink artikel, baik saat membuat artikel baru atau saat mengedit artikel.
![Permalink-post](https://user-images.githubusercontent.com/93571919/139803942-bf485a5a-1df2-411e-a9a2-b0dab1a7d6cd.png)
![Default-Wo

[2021-11-02 06:51] andifahruddinakas commented on #4512
Mohon dilengkapi.

[2021-11-02 15:37] andifahruddinakas opened #4513 "[BUG] Jangan tampilkan aksi untuk kk kosong dengan kepala kk null dan anggota keluarga 0"
**Jelaskan error yg dialami**

Saat ini jika data keluarga di saring berdasarkan KK kosong, maka semua data KK kosong akan tampil semua, tdk terkecuali data KK yang tdk memiliki KK dan anggota KK. Data tsb saat ini masih bisa dilihat, di pecah (tp tdk aktif krn perlu kepala keluarga baru dr anggota KK) namun datanya kosong.

**Cara untuk mereplikasi errornya**

Saring data keluarga yang ada di kep

[2021-11-02 15:38] andifahruddinakas commented on #4513
Pak @eddieridwan, apa benar seperti ini ???

[2021-11-02 16:26] andifahruddinakas commented on #4502
Pak @eddieridwan, berkaitan dengan issue https://github.com/OpenSID/premium/issues/393 tp scr luas.

[2021-11-02 16:32] andifahruddinakas commented on #4486
Pak @eddieridwan, beberapa issue yg berkaitan dgn impor :
https://github.com/OpenSID/OpenSID/issues/4369
https://github.com/OpenSID/OpenSID/issues/4392
https://github.com/OpenSID/OpenSID/issues/4353
https://github.com/OpenSID/OpenSID/issues/1032
https://github.com/OpenSID/OpenSID/issues/3830

[2021-11-03 02:15] afri18 commented on #4498
![image](https://user-images.githubusercontent.com/6611881/140001320-d1b34273-9e4d-4eec-a8e6-a3b6824a7d0b.png)
 saya coba jajal di https://demo.opensid.or.id hasil sama

[2021-11-03 02:28] ariandii opened #4514 "[BUG] Tombol Kembali ke Nama Analisis, Error"
**Jelaskan error yg dialami**

Saat klik tombol kembali yang ada di halaman https://berputar.opensid.or.id/analisis_indikator/clear/8
akan error 404.

<img width="960" alt="screenshot_102" src="https://user-images.githubusercontent.com/46939846/140002136-84f789b6-6cb0-45f6-836d-8519499044af.png">

Namun normal ketika berada di Menu Lainnya.
Hal ini terjadi di OpenSID v21.11-premium

Untuk di OpenS

[2021-11-03 07:04] andifahruddinakas commented on #4498
Ya, waktu sy coba akan jadi duplikasi dati untuk data survey yang di ubah untuk isian text dan number.

[2021-11-03 11:09] andifahruddinakas commented on #4470
Tampilan bisa disesuaikan di masing2 tema :

![verifikasi](https://user-images.githubusercontent.com/57283157/140049852-52adda61-68ef-401f-ac1f-b159c1502c42.png)

[2021-11-03 20:09] andifahruddinakas commented on #4405
Pak @eddieridwan, ada contoh untuk data indikator/pertanyaan SDGs, IDM dan Prodeskel tingkat desa yg bisa sy jadikan rujukan???

[2021-11-04 02:07] afri18 commented on #4498
saya amati itu seakan disurvey 2 x, karna perintahnya SIMPAN

[2021-11-04 06:18] andifahruddinakas commented on #4405
Pak @eddieridwan, apa datanya seperti ini https://cugung-rajabasa.desa.id/artikel/2020/11/22/pofil-desa-cugung-tahun-2020

[2021-11-04 06:46] eddieridwan commented on #4074
Sdh dicommit ke rilis-dev.

[2021-11-04 06:46] #4074 closed

[2021-11-04 06:48] eddieridwan commented on #4405
@andifahruddinakas , contoh di SGDs Rukun Tetangga P1001. P1002. Tetapi baru sedikit yg ditemukan.
[SDGs.DESA.KUESIONER.RUKUN.TETANGGA.1.1 (1).pdf](https://github.com/OpenSID/OpenSID/files/7472817/SDGs.DESA.KUESIONER.RUKUN.TETANGGA.1.1.1.pdf)

[2021-11-04 12:48] andifahruddinakas commented on #4405
Pak @eddieridwan, mungkin ada contoh analisis yang pernah dibuat pengguna yang bisa dijadikan rujukan???

[2021-11-04 14:54] emanuel-simon commented on #2297
formulir ini juga sangat penting dan sering digunakan di kabupaten saya

[2021-11-04 15:04] emanuel-simon opened #4515 "[Template Surat] Formulir F-1.05 Surat Pernyataan Perubahan Data Kependudukan"
**Apa kekurangan yg ingin diatasi?**

Terkadang terjadi kesalahan di dokumen kependudukan, untuk bisa merubahnya diperlukan Surat Pernyataan Perubahan Data Kependudukan F-1.05, dan form ini belum tersedia di Layanan Surat

**Jelaskan solusi yg diinginkan**

Disediakan Surat Pernyataan Perubahan Data Kependudukan F-1.05
[SURAT PERNYATAAN PERUBAHAN DATA KEPENDUDUKAN F-1.05.pdf](https://github.com/Op

[2021-11-04 22:33] eddieridwan commented on #4405
@andifahruddinakas tidak ada. Tetapi SDGs Rukun Tetangga seperti yg dilampirkan di atas merupakan sesuatu yg diterapkan beberapa desa, termasuk Mutih Kulon.

[2021-11-05 04:05] emanuel-simon opened #4516 "[BUG] DATA TIDAK MUNCUL DI HASIL DOWNLOAD SUKET PINDAH PENDUDUK"
**Jelaskan error yg dialami**

HASIL UNDUHAN SUKET PINDAH PENDUDUK BESERTA LAMPIRANNYA HANYA BERUPA FORM KOSONG, DATA YANG DIINPUT DI LAYANAN SURAT TIDAK MUNCUL

**Cara untuk mereplikasi errornya**

1.   PERGI KE https://berputar.opensid.or.id/surat DAN PILIH SURAT KETERANGAN PINDAH PENDUDUK
2.   ISI SEMUA DATA YANG DIBUTUHKAN
3.   UNDUH RTF
4.   BUKA HASIL UNDUHAN, FILE RTF DAN PDF TIDAK TERISI D

[2021-11-05 15:21] MUHAMMADRANGSEL opened #4517 "Tambah Anggota Baru dengan NIK 0 Gagal"
### Bagaimana alurnya sampai muncul masalah?
Ketika menambahkan penduduk dengan NIK 0 di OpenSID versi 21.11 umum gagal
![image](https://user-images.githubusercontent.com/25834335/140534977-6de16c86-227d-4cf0-9222-15a33f8ede81.png)

### Seperti apa yang diharapkan?
bisa menambahkan penduduk dengan NIK 0

### Apa yang terjadi?
Tidak bisa tambah penduduk

### Informasi tambahan
terjadi juga di https

[2021-11-06 00:11] macaksibuk opened #4518 "[Template Surat] Penambahan Lampiran Surat Keterangan Pindah Datang Penduduk F-1.27, F-1.31, F-1.39"
**Apa kekurangan yg ingin diatasi?**

Selain Lampiran Formulir Surat Keterangan Pindah Penduduk **(F-1.23, F-1.25, F-1.29, F-1.34)**
Perlu juga Lampiran Formulir Surat Keterangan Pindah Datang Penduduk, yang saya lihat saat ini memang sudah ada dengan kode Lampiran Formulir Surat Keterangan Pindah Datang Penduduk (F-1.08), tapi tidak semua Desa telah menerapkan Lampiran Formulir Surat Keterangan P

[2021-11-06 00:17] macaksibuk commented on #4518
MOHON MAAF, JIKA KESULITAN UNTUK MENGGABUNGKAN FITUR INI PADA SURAT PINDAH YANG SUDAH ADA.
BISA JUGA UNTUK MENAMBAHKAN SURAT BARU DENGAN NAMA SURAT **SURAT KETERANGAN PINDAH DATANG PENDUDUK**.
KARENA ADA SUB FORM :
**DATA DAERAH TUJUAN**

[2021-11-06 00:34] pemdeskasokandel opened #4519 "Penambahan fitur pembuatan surat tanpa coding"
**Apa kekurangan yg ingin diatasi?**

**Jelaskan solusi yg diinginkan**

**Apakah ada alternatif lain**

**Untuk versi OpenSID mana**

**Informasi tambahan**

[2021-11-06 00:37] #4519 closed, assigned to nobody

[2021-11-06 01:03] pemdeskasokandel opened #4520 "[Surat] Penambahan Fitur Pembuatan Surat Baru tanpa Coding"
Apa kekurangan yg ingin diatasi?

(Penambahan fitur pembuatan surat baru tanpa coding)

Jelaskan solusi yg diinginkan
(Banyak yang ingin membuat surat ke desa dengan format tersendiri)

Apakah ada alternatif lain
(harus bisa coding)

Untuk versi OpenSID mana

Fitur ini diusulkan untuk versi Rilis Umum (mis. v21.11) atau Rilis Premium (mis v21.11-premium) yg mana?
-->

**Informasi tambahan**

[2021-11-06 02:15] astonialam commented on #4518
Saya Penggunan Baru, cara downloadnya gimana.?

[2021-11-06 02:21] macaksibuk commented on #4518
Apa yang Bapak maksud?
Download Aplikasi OpenSID/Download surat tersebut?

[2021-11-06 02:30] astonialam commented on #4518
Ini sangat di butuhkan di desa kami..

[2021-11-06 02:30] astonialam commented on #4518
Surat nya pak..

[2021-11-06 02:40] macaksibuk commented on #4518
Semoga apa yang Desa Bapak dan Desa lain inginkan perihal issue ini segera terealisasikan...
**SEMOGA SELURUH YANG MEMBANTU MENGURUSI DAN MENOLONG OPENSID INI SENANTIASA DIBERIKAN KESEHATAN.
DAN KELUARGANYA SELALU DILANCARKAN SEGALA URUSANNYA.**

[2021-11-06 07:38] zbinggor opened #4521 "Penulisan Kalimat NIP Pada Tanda Tangan Surat"
**Jelaskan error yg dialami**
Untuk desa yang Kepala Desa tidak memiliki NIP dan sekertaris Desa memiliki NIP, ketika pembuatan surat yang di tandatangani oleh Kepala Desa maka masih terdapat tulisan/Kalimat NIP dibawah ttd kepala desa tetai "nomor NIP" kosong karena memang kepala desa tidak memiliki Nomor NIP. dan apabila ada lapiran yang bentuknya pdf akan kesulitan untuk mengedit tulisan/kalima

[2021-11-06 15:51] Gunturwijay opened #4522 "[Penduduk] Tambahkan menu Impor GPX/KML pada peta lokasi tempat tinggal penduduk"
**Apa kekurangan yg ingin diatasi?**

Pada saat menentukan titik tempat tinggal penduduk mengalami kesulitan.

![image](https://user-images.githubusercontent.com/40741591/140615290-3fe19401-0213-41cb-ac55-23bcf7439aaf.png)
![menu gpx](https://user-images.githubusercontent.com/40741591/140615545-2b744108-b625-422d-9ab8-392cbf06fa33.png)

**Jelaskan solusi yg diinginkan**

Apabila tersedianya menu i

[2021-11-07 06:58] eddieridwan opened #4523 "[BUG] Hari salah untuk tgl perjanjian di naskah Kesepakatan Kerjasama"
**Jelaskan error yg dialami**

Dokumen Kesepakatan Kerjasama yg diunduh pada waktu melakukan pendaftaran berisi kesalahan berikut: nama hari perjanjian berbeda dengan tanggal perjanjian.

**Cara untuk mereplikasi errornya**

Lakukan pendaftaran kerjasama.
Unduh dokumen kesepakatan kerjasama.
Periksa hari dan tanggal perjanjian.
Terlihat salah. Tg 7 November seharusnya bukan Kamis

![2021-11-07 17

[2021-11-07 09:12] andifahruddinakas commented on #4520
https://m.facebook.com/groups/OpenSID/permalink/1920140864817552/

[2021-11-07 09:13] #4508 closed, assigned to nobody

[2021-11-07 09:36] #4510 closed, assigned to nobody

[2021-11-07 09:38] #4429 closed, assigned to nobody

[2021-11-07 12:57] pemdesbatajawa opened #4524 "Tambahkan Fitur Bumdesa"
**Apa kekurangan yg ingin diatasi?**

**Jelaskan solusi yg diinginkan**

[2021-11-07 13:52] pemdesbatajawa commented on #4523
Apakah Bisa Di Sesuaikan Dengan Tanggal Di tandatanganinya Dokumen Ini ? Dan Bisakah Di tandatangani Oleh Sekretaris Desa?

[2021-11-08 08:09] kasipembatungsel opened #4525 "[Surat] penambahan kolom untuk nama surat di pengaturan surat"
**Apa kekurangan yg ingin diatasi?**
Penabahan Kolom untuk Nama Surat disebelah Judul surat di Menu Pengaturan Surat

untuk saat ini pencarian surat oleh operator/warga mengacu dari database judul_surat, dengan penambahan kolom Nama Surat dan mempermudah dalam memberikan nama/jenis surat keterangan yang dipilih dan melakukan pencarian jenis surat keterangan

**Jelaskan solusi yg diinginkan**

deng

[2021-11-09 03:56] #4523 closed, assigned to agungsugiarto

[2021-11-09 04:48] hasap86 opened #4526 "[BUG] GAGAL menambahkan anggota keluarga"
**Jelaskan error yg dialami**

GAGAL menambahkan anggota keluarga pada menu Keluarga

**Cara untuk mereplikasi errornya**
Langkah untuk mereplikasi error yg dialami, misalnya:
1. Pergi ke halaman 'KELUARGA'
2. Klik tombol 'TAMBAH ANGGOTA'

**Hasil yg diharapkan**

**Tampakan layar dan log error**

**Versi OpenSID**

Versi 21.11

**Tema Yg Digunakan**

COSMO

**Informasi tambahan**

[2021-11-09 07:53] #4466 closed, assigned to agungsugiarto

[2021-11-09 09:45] #4435 closed, assigned to agungsugiarto

[2021-11-09 12:58] ariandii opened #4527 "SLUG pada halaman Pembangunan"
**Apa kekurangan yg ingin diatasi?**

Adanya link URL bukan berupa ID seperti https://berputar.opensid.or.id/pembangunan/detail/2

agar pengunjung tidak mudah merubah angka di akhir URL untuk tebak tebak publikasi pembangunan di web.

**Jelaskan solusi yg diinginkan**

adanya SLUG yg diterapkan pada URL pembangunan tersebut.

**Apakah ada alternatif lain**

bisa berupa waktu upload, nama kegiatan,

[2021-11-10 07:09] andifahruddinakas opened #4528 "[BUG] Matikan fitur impor data penduduk untuk web demo."
**Jelaskan error yg dialami**

Terkadang pengguna melakukan ujicoba dengan melakukan impor data penduduk yg asli. Data penduduk yg asli tsb bisa sj disalahkan gunakan.

**Cara untuk mereplikasi errornya**

Buka pengaturan > database > impor. Lakukan impor

**Hasil yg diharapkan**

Tdk dpt melakukan impor data penduduk untuk web demo.

**Tampakan layar dan log error**

**Versi OpenSID**

v21.11 dan

[2021-11-10 12:59] mr703 opened #4529 "[Layanan Mandiri] PIN Layanan Mandiri"
### Bagaimana alurnya sampai muncul masalah?
Masuk dengan e-KTP tidak bisa langsung Login kedalam Layanan Mandiri, diperlukan penginputan PIN Layanan Secara Manual, Sehingga tidak efisien secara waktu

### Seperti apa yang diharapkan?
Dengan 2 Kali Tap pada pembaca KTP, User/Masyarakat dapat langsung login ke Layanan Mandiri, ID Tag dan PIN bisa disamakan, Sehingga lebih Efisien

### Apa yang terj

[2021-11-10 16:15] MUHAMMADRANGSEL opened #4530 "[BUG] Statistik Aseptor KB"
**Jelaskan error yg dialami**

**Cara untuk mereplikasi errornya**

![ASEPTOR KB](https://user-images.githubusercontent.com/25834335/141150288-77a69c87-2e74-46be-8d09-ccbd02f54563.png)

**Hasil yg diharapkan**

**Versi OpenSID**

**Tema Yg Digunakan**

**Informasi tambahan**

[2021-11-10 16:20] MUHAMMADRANGSEL opened #4531 "[BUG] Statistik RTM"
**Jelaskan error yg dialami**

**Cara untuk mereplikasi errornya**

Jumlah data yang dimunculkan salah
![statistik rtm](https://user-images.githubusercontent.com/25834335/141151417-24dd7966-3cdd-4fd9-958e-d06517ca8c4a.png)

**Hasil yg diharapkan**

**Tampakan layar dan log error**

**Versi OpenSID**

**Tema Yg Digunakan**

**Informasi tambahan**

[2021-11-11 03:15] ariandii opened #4532 "[BUG] Tombol Halaman Pembangunan pada Peta belum sesuai"
**Jelaskan error yg dialami**

Saat mengunjungi Peta, lalu klik salah satu pembangunan yang ada, maka akan muncul tombol _Informasi Rinci_

Saat ini tombol tersebut masih mengarah ke URL first/info_pembangunan yang mengakibatkan halaman web menjadi 404.

**Cara untuk mereplikasi errornya**
Langkah untuk mereplikasi error yg dialami, misalnya:
1. Pergi ke halaman 'peta'
2. Klik tombol 'infrastruktu

[2021-11-11 04:07] agungsugiarto commented on #4503
Pak @mr703 terima kasih sudah melaporkan issue. Issue ini saya tutup karena tidak menemukan masalah yg dimaksud, mohon pastikan melalukan clear cache pada browser untuk melihat perubahan.

[2021-11-11 04:07] #4503 closed, assigned to nobody

[2021-11-11 04:27] agungsugiarto commented on #4496
@Jhiban-Khang terima kasih sudah melaporkan issue, issue ini saya tutup karena tidak temukan di versi premium, untuk rilis versi umum silahkan menunggu rilis v21.12 untuk perbaikian tersebut. Selengkapnya https://github.com/OpenSID/OpenSID/wiki/Rilis-Umum-Yang-Akan-Datang

Terima kasih

[2021-11-11 04:27] #4496 closed, assigned to nobody

[2021-11-11 05:16] #4181 closed

[2021-11-11 07:06] unregister opened #4533 "Module Kepegawaian dan Manajemen SDM"
**Apa kekurangan yg ingin diatasi?**
Module kepegawaian yg bisa digunakan untuk manajemen pegawai, baik berupa data pribadi pegawai, penggajian, absensi, cuti dll

**Jelaskan solusi yg diinginkan**
Pembuatan modul kepegawaian yg mengakomodir kebutuhan kepegawaian seperti rekap absensi, pengajuan cuti, rekap gaji (THR, tunjangan dll)

**Apakah ada alternatif lain**
-

**Untuk versi OpenSID mana**

[2021-11-11 10:20] eddieridwan commented on #4531
Sdh dicommit ke `bug-fix`

[2021-11-11 10:20] #4531 closed, assigned to eddieridwan

[2021-11-11 11:19] eddieridwan commented on #4530
@MUHAMMADRANGSEL , saya coba normal. Silakan anda lampirkan tampakan layar menunjukkan persisnya error yg anda alami. Coba juga di https://berputar.opensid.or.id

[2021-11-12 09:12] #4528 closed, assigned to nobody

[2021-11-12 09:57] eddieridwan commented on #4530
Yg ditemukan di berputar adalah adanya pengisian Aksekptor KB yg tidak valid di database. Telah disediakan validasi supaya tidak bisa menyimpan kode yg tidak valid, dan sekalian migrasi kode2 yg tidak valid. Sdh dicommit ke `bug-fix`.

[2021-11-12 09:57] #4530 closed, assigned to eddieridwan

[2021-11-12 12:52] muhtar-coder opened #4534 "Perlu disediakan aplikasi posyandu terintegrasi opensid"
**Apa kekurangan yg ingin diatasi?**

1.
Dalam rangka melaksanakan kolaborasi dengan semua dinas pemerintahan terutama di lampung,perlu penyesuaian kebutuhan dengan pihak-pihak terkait termasuk kebutuhan aplikasi posyandu yang terintegrasi dalam satu sistem,sehingga dinas -dinas yang saling bekerja sama dapat saling terbantu dan membantu.
2.
Dalam rangka mendukung program stunting yang kian di gal

[2021-11-12 13:38] agungsugiarto commented on #4470
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/450

[2021-11-12 13:38] #4470 closed, assigned to andifahruddinakas

[2021-11-12 14:10] chamimyahya commented on #4534
ini panduan pengisian formulir sip posyandu
https://drive.google.com/file/d/1Wz56SRuy7WTvtG9JAG2VxrEoGr-7Zrs0/view

[2021-11-13 01:55] komarhaziq commented on #4534
Ini sangat di butuhkan mudah mudahan sengera di rekomdasikan issues terkait admininstrasi Posyandu.

[2021-11-13 02:01] Fajar-blackdeath commented on #4534
Mantab

[2021-11-13 02:01] Fajar-blackdeath commented on #4534
Ini dibutuhkan

[2021-11-13 02:19] ahmadngudi commented on #4534
ini sangat di butuhkan

[2021-11-13 07:52] kasipembatungsel commented on #4518
ya desa saya juga butuh format yg di usulkan

[2021-11-13 19:02] #4532 closed, assigned to andifahruddinakas

[2021-11-13 19:30] andifahruddinakas commented on #4526
Sudah di perbaiki di versi 21.05-premium dan akan digabungkan ke rilis v21.12

[2021-11-13 19:30] #4526 closed, assigned to nobody

[2021-11-13 19:31] andifahruddinakas commented on #4517
Sudah di perbaiki di versi 21.05-premium dan akan digabungkan ke rilis v21.12.

[2021-11-13 19:31] #4517 closed, assigned to nobody

[2021-11-13 19:45] #4502 closed, assigned to andifahruddinakas

[2021-11-13 20:06] #4514 closed, assigned to andifahruddinakas

[2021-11-13 20:16] #4513 closed, assigned to andifahruddinakas

[2021-11-13 20:27] Zoel-WB commented on #4534
Oke, mantap...

[2021-11-13 22:03] #4498 closed, assigned to andifahruddinakas

[2021-11-14 07:17] andifahruddinakas commented on #4516
Pak @MantoAta, sy coba aman sj di https://berputar.opensid.or.id/surat/form/surat_ket_pindah_penduduk

Ini hasilnya :
[surat_ket_pindah_penduduk_1108042506909995_2021-11-14_386.zip](https://github.com/OpenSID/OpenSID/files/7533331/surat_ket_pindah_penduduk_1108042506909995_2021-11-14_386.zip)

Untuk ubahan desa, perlu disesuaikan jika ada perubahan format template pada surat bawaan.

[2021-11-14 07:20] emanuel-simon commented on #4516
Saya coba 9 hari yang lalu pak @andifahruddinakas , apa mungkin sudah diperbaiki?
Saya pakai template surat bawaan dari OpenSID, bukan gubahan sendiri

[2021-11-14 07:31] andifahruddinakas commented on #4516
Web  https://berputar.opensid.or.id/ terbaru hari ini dengan perbaikan bugs, tp tidak ada perbaikan mengenai masalah ini. Mungkin bisa di cek lg, jika tdk ada masalah, issuenya bisa di tutup.

[2021-11-14 07:34] emanuel-simon commented on #4516
Ok pak @andifahruddinakas , saya coba dulu di nihaone.desa.id ya

[2021-11-14 07:41] andifahruddinakas commented on #4499
Pak @MantoAta Sy coba di https://berputar.opensid.or.id/surat/form/surat_ket_kelahiran yg data yang tidak lengkap hanya pada bagian lampiran (kode wilayah, nokkk dan nama kk) selain itu tersisi dengan benar.

Bisa cek hasil unduhan berikut :
[surat_ket_kelahiran_0720814200200001_2021-11-14_387.zip](https://github.com/OpenSID/OpenSID/files/7533359/surat_ket_kelahiran_0720814200200001_2021-11-14_387

[2021-11-14 07:46] emanuel-simon commented on #4499
Pak @andifahruddinakas saya coba di nihaone.desa.id juga sudah normal pak. Aplikasinya v.21.11-premium rev 01.

Saya tutup saja ya pak issue nya pak

[2021-11-14 07:49] andifahruddinakas commented on #4499
Jangan ditutup, krn ada yg perlu diperbaiki. Nanti sy sesuaikan sj judulnya.

[2021-11-14 07:52] emanuel-simon commented on #4499
Siap pak @andifahruddinakas

[2021-11-14 07:55] emanuel-simon commented on #4516
Barusan saya coba surat pindah ini juga datanya sudah muncul dengan benar pak @andifahruddinakas di v.21.11-premium rev 01

[2021-11-14 07:59] #4516 closed, assigned to nobody

[2021-11-14 07:59] andifahruddinakas commented on #4516
ok

[2021-11-14 08:27] andifahruddinakas commented on #4499
Untuk perbaikan lainnya, bisa di buat di issue baru.

[2021-11-14 08:27] #4499 closed, assigned to andifahruddinakas

[2021-11-14 08:40] #4122 closed

[2021-11-14 12:35] #4527 closed, assigned to andifahruddinakas

[2021-11-14 13:13] andifahruddinakas commented on #4460
Silahkan gunakan cara ini https://github.com/OpenSID/OpenSID/wiki/Bot-Notifikasi-Telegram

[2021-11-14 13:13] #4460 closed, assigned to nobody

[2021-11-14 13:14] #4387 closed

[2021-11-14 13:17] andifahruddinakas commented on #4362
Silahkan di cek kembali di https://berputar.opensid.or.id/

[2021-11-14 13:17] #4362 closed

[2021-11-14 14:57] zickkeen commented on #4529
menurut saya pin masih tetap dibutuhkan sebagai security, mengingat pembacaan ektp berupa tagid yang dapat dimanfaatkan oleh siapapun yang mengetahui tagid nya.

[2021-11-14 16:29] #737 closed

[2021-11-14 16:30] #850 closed

[2021-11-14 16:31] #734 closed

[2021-11-14 16:32] #931 closed

[2021-11-14 16:35] #170 closed

[2021-11-14 16:35] #148 closed

[2021-11-14 16:38] #855 closed

[2021-11-14 16:40] #2115 closed

[2021-11-14 16:41] andifahruddinakas commented on #1937
Silahkan dibukan kembali jika masih bermaslah.

[2021-11-14 16:41] #1937 closed

[2021-11-14 16:41] #1823 closed

[2021-11-14 16:42] #1655 closed

[2021-11-14 16:42] andifahruddinakas commented on #1570
Pak @MUHAMMADRANGSEL apakah masih bermaslah???

[2021-11-14 16:43] andifahruddinakas commented on #2186
Sudah di master.

[2021-11-14 16:43] #2186 closed

[2021-11-14 16:44] #1938 closed

[2021-11-14 16:46] andifahruddinakas commented on #933
Bisa gunakan modul analisis.

[2021-11-14 16:46] #933 closed

[2021-11-14 16:46] #928 closed

[2021-11-14 16:48] #837 closed

[2021-11-14 16:49] #1821 closed

[2021-11-14 16:53] #2389 closed

[2021-11-14 16:56] #2288 closed

[2021-11-14 16:56] andifahruddinakas commented on #2286
Bisa gunakan modul kelompok atau lembaga.

[2021-11-14 16:56] #2286 closed

[2021-11-14 16:58] #2893 closed

[2021-11-14 17:00] andifahruddinakas commented on #4028
Bisa gunakan data suplemen.

[2021-11-14 17:00] #4028 closed

[2021-11-14 17:05] andifahruddinakas commented on #4146
Bisa gunakan data suplemen.

[2021-11-14 17:05] #4146 closed

[2021-11-14 17:08] #4112 closed

[2021-11-14 17:09] andifahruddinakas commented on #4138
Pak @mizwaruddin bisa lampirkan dokumen terkait masalah ini???

[2021-11-14 17:15] #4270 closed

[2021-11-14 17:16] #4272 closed

[2021-11-14 17:30] #4500 closed, assigned to nobody

[2021-11-14 17:34] andifahruddinakas commented on #842
Bisa dimasukkan ke data suplemen.

[2021-11-14 17:34] #842 closed

[2021-11-14 17:37] #1754 closed

[2021-11-14 17:40] andifahruddinakas commented on #2554
Duplikasi https://github.com/OpenSID/OpenSID/issues/4534

[2021-11-14 17:40] #2554 closed

[2021-11-14 17:41] #2284 closed

[2021-11-14 17:41] #1928 closed

[2021-11-14 17:43] andifahruddinakas commented on #2840
Sudah di fitur premium, bisa buatkan group khusus.

[2021-11-14 17:43] #2840 closed

[2021-11-14 17:43] #2769 closed

[2021-11-14 17:45] andifahruddinakas commented on #2768
Notifikasi bisa dikirim ke telegram, bisa buat issuenya.

[2021-11-14 17:45] #2768 closed

[2021-11-14 17:48] #2662 closed

[2021-11-14 17:48] #2620 closed

[2021-11-14 17:50] #3318 closed

[2021-11-14 17:53] andifahruddinakas commented on #3184
Ukuran gambar perlu disesuaikan dengan tema yg digunakan.

[2021-11-14 17:53] #3184 closed

[2021-11-14 17:54] andifahruddinakas commented on #3050
Silahkan dibuka kembali jika masih terjadi masalah, gunakan versi terbaru untuk pengecekan.

[2021-11-14 17:54] #3050 closed

[2021-11-14 17:55] #2846 closed

[2021-11-14 17:56] andifahruddinakas commented on #2842
Duplikasi https://github.com/OpenSID/OpenSID/issues/4512

[2021-11-14 17:56] #2842 closed

[2021-11-14 17:57] andifahruddinakas commented on #4512
Cek PR https://github.com/OpenSID/OpenSID/pull/2844

[2021-11-14 17:59] andifahruddinakas commented on #3659
Pak @Zoel-WB bisa cek ulang issue ini menggunakan versi terbaru.

[2021-11-14 18:05] #3868 closed

[2021-11-14 18:08] andifahruddinakas commented on #3811
PERBAIKAN :
- [ ] 1. Tambahkan galery dan sub galery pada pilihan menu.
- [ ] 2. Perbaiki route, hapus first/.
- [ ] 3. Gunakan slug untuk menampilkan data sub galery pada website.

[2021-11-14 18:11] andifahruddinakas commented on #3810
Issue ini tidak bisa diterapkan, krn masing2 tema menggukan icon yg berbeda2.

[2021-11-14 18:11] #3810 closed

[2021-11-14 18:13] andifahruddinakas commented on #3998
Duplikasi https://github.com/OpenSID/OpenSID/issues/1848

[2021-11-14 18:13] #3998 closed

[2021-11-14 18:15] #3982 closed

[2021-11-14 18:15] andifahruddinakas commented on #3981
Duplikasi https://github.com/OpenSID/OpenSID/issues/4521

[2021-11-14 18:15] #3981 closed

[2021-11-14 18:16] andifahruddinakas commented on #4521
Pernah dibahas di PR https://github.com/OpenSID/premium/pull/338

[2021-11-14 18:16] #3978 closed

[2021-11-14 18:17] andifahruddinakas commented on #3972
Sebaiknya yg di tambahkan adalah saat upload dan sebelum di simpan gambar bisa disesuaikan.

[2021-11-14 18:21] #4012 closed

[2021-11-15 03:02] agungsugiarto commented on #4495
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/452

[2021-11-15 03:02] #4495 closed, assigned to andifahruddinakas

[2021-11-16 05:58] eddieridwan opened #4535 "[BUG] NIK Sementara seharusnya tampil sebagai 0 di lampiran surat, termasuk F-1.15"
**Jelaskan error yg dialami**

Di lampiran F-1.15 untuk Surat Permohonan Kartu Keluarga Baru, NIK sementara masih tampil utuh, meskipun seharusnya tampil sebagai 0.

**Cara untuk mereplikasi errornya**

1. Buat penduduk dengan NIK Sementara
2. Cetak Surat Permohonan Kartu Keluarga, isi penduduk yg dibuat di butir (1)
3. Periksa lampiran F-1.15 yang dihasilkan
4. Terlihat NIK Sementara untuk pendud

[2021-11-16 06:13] agungsugiarto commented on #4486
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/451

[2021-11-16 06:13] #4486 closed, assigned to andifahruddinakas

[2021-11-18 05:11] agungsugiarto commented on #4405
Sudah diperbaiki melalui pr: https://github.com/OpenSID/premium/pull/461

Untuk sekarang baru hanya untuk sasaran desa, untuk yg lain dibuatkan issue terpisah.

- [x] Sasaran Desa
- [ ] Sasaran Dususn
- [ ] Sasaran RT
- [ ] Sasaran RW

[2021-11-18 05:11] #4405 closed, assigned to nobody

[2021-11-18 17:57] hantariksa commented on #4534
ok mantab semoga bisa cepat terealisasi

[2021-11-19 05:57] Zoel-WB opened #4538 "[BUG] Impor Data Pada Fitur Bantuan Terjadi Error 500"
**Jelaskan error yg dialami**
Saat melakukan Inpor data ke dalam fitur bantuan lebih dari 400 data terjadi error 500, semua isi data sudah disesuaikan dengan catatan yang ada form contoh impor program bantuan dan juga sudah mencoba melakukan beberapa konfigurasi hasil-nya tetap sama.

Harap tidak melaporkan masalah instal OpenSID. Masalah pada waktu install harap ditanyakan di https://www.facebook

[2021-11-19 16:02] siayi commented on #4364
Sip, ternyata issues ini sudah ada.
Tadinya saya mau submit issues ini.

[2021-11-21 16:48] andifahruddinakas commented on #1032
Tambahan :
1. Unduh data yang error, jadi nantinya yang akan di upload hanya yang error sj tdk semuanya dan mempermudah penguna untuk menemukan data yg perlu diperbaiki,
2. Tambahkan info lain, misanya info data keluarga dan wilayah yang ditambahkan.

[2021-11-22 03:27] agungsugiarto commented on #4538
Pak @Zoel-WB bisa kirim contoh file yg di impor, yg bapak buat?

[2021-11-22 04:09] Zoel-WB commented on #4538
Pak @agungsugiarto file-nya saya PM lewat telegram pak ya.....

[2021-11-22 08:51] #4538 closed, assigned to agungsugiarto

[2021-11-22 09:29] #4535 closed, assigned to nobody

[2021-11-22 23:49] eddieridwan opened #4540 "Perbolehkan menambah anggota keluarga pada keluarga kosong"
Saat ini tidak bisa menambah anggota keluarga pada keluarga kosong.

Issue ini untuk memperbolehkan, untuk kasus di mana nomor kartu keluarga ybs ternyata valid dan anggota keluarga perlu dimasukkan kembali.

[2021-11-23 01:26] eddieridwan opened #4541 "Perketat penghapusan keluarga"
**Apa kekurangan yg ingin diatasi?**

Saat ini keluarga bebas dihapus, dan berpotensi menyebabkan kerancuan dengan pencatatan data mutasi keluarga ataupun penggunaan keluarga sebagai sasaran data suplemen, bantuan atau analisis.

**Jelaskan solusi yg diinginkan**

Perketat penanganan penghapusan keluarga, untuk mencegah kerancuan data. Terapkan aturan sebagai berikut.

### Keluarga yg dapat dihapu

[2021-11-23 03:21] pemdeslinggapura opened #4542 "CETAK SURAT KELAHIRAN"
Penambahan penduduk lahir melalui cetak Keterangan Lahir tidak bisa dilakukan sebanyak 2 kali. Jika masih ada penduduk dengan NIK dengan simbol * di database.
Sudah dicoba di berputar sama seperti itu.

**Solusi Sementara**
Solusi sementara setiap menambahkan penduduk lahir melalui cetak surat, harus di edit nik nya menggunakan NIK sementara. Baru bisa menggunakan kembali menu Cetak Surat Ket Lahi

[2021-11-23 03:59] balongbesuk commented on #4542
knp gak pake angka 0 ?

[2021-11-24 11:14] andifahruddinakas commented on #4529
Silahkan di daftarkan jadi anjungan agar tidak perlu input PIN lg.

https://github.com/OpenSID/OpenSID/wiki/Anjungan

[2021-11-24 11:14] #4529 closed, assigned to nobody

[2021-11-24 11:21] andifahruddinakas commented on #4350
Tambahan pencarian spesifik :
1. tag id
2. suku
3. bpjs
4. kk level
5. jenis kelamin
6. kewarga negaraan
7. akseptor kb
8. e ktp
9. status rekam
10. dll

[2021-11-24 11:28] eddieridwan commented on #4541
Sdh dicommit ke `rilis-dev`

[2021-11-24 11:28] #4541 closed, assigned to eddieridwan

[2021-11-25 01:23] andifahruddinakas commented on #4353
Setelah PR issue https://github.com/OpenSID/OpenSID/issues/4369 digabung baru dilanjutkan mengerjakan issue ini agar konsisten.

[2021-11-25 01:36] andifahruddinakas commented on #3659
Pak @Zoel-WB bisa cek ulang issue ini menggunakan versi terbaru.

[2021-11-25 01:39] andifahruddinakas commented on #2767
Ganti cara saat ini menggunakan sessionStorage js untuk menyimpan kondisi sidebar terakhir.

[2021-11-25 01:41] andifahruddinakas commented on #2623
Penanganan template halaman website perlu disuaikan ulang agar bisa menerapkan hal ini.

[2021-11-25 03:57] agungsugiarto commented on #4351
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/479

[2021-11-25 03:57] #4351 closed

[2021-11-25 04:06] agungsugiarto commented on #4369
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/481

[2021-11-25 04:06] #4369 closed

[2021-11-25 07:55] yus-ham commented on #1928
saya udah jarang ikuti proyek ini.
ini sudah ada fiturnya ya?

[2021-11-25 09:06] andifahruddinakas commented on #1928
Sudah ada untuk point 2 tp belum digabungkan ke rilis umum.

[2021-11-25 09:24] ariandii opened #4544 "[Kelompok] Slug Data Kelompok"
**Apa kekurangan yg ingin diatasi?**

Agar tidak muncul ID suplemen sehingga pengunjung dapat hanya dengan mengganti ID saja (untuk coba-coba), dapat dibuat Slug untuk LINK Data Kelompok.

<img width="958" alt="screenshot_77" src="https://user-images.githubusercontent.com/46939846/143414721-80022876-9721-4d98-ad5c-69a2e7bf5cb2.png">

[2021-11-25 10:09] eddieridwan commented on #4540
Sdh dicommit ke `rilis-dev`

[2021-11-25 10:09] #4540 closed, assigned to eddieridwan

[2021-11-25 11:25] #4544 closed, assigned to nobody

[2021-11-25 11:26] andifahruddinakas commented on #4544
Sudah dicommit ke `rilis-dev`

[2021-11-26 03:18] ariandii opened #4545 "[Pengguna] Sesuaikan Identitas Pengguna Asli"
**Apa kekurangan yg ingin diatasi?**

Saat ini identitas pembuat Artikel akan berubah jika nama akun telah diubah.
Hal itu nampaknya untuk dihindari, dengan tujuan si pembuat artikel A tentu adalah bernama X walau nama akun diganti Y pun, tetap identitas pembuat artikel tersebut adalah X.

Hal ini juga terjadi pada Pelapak, jika penduduk pindah, Info Pelapak sesungguhnya akan ikut hilang.

<img wi

[2021-11-26 04:31] mr703 commented on #4529
Ini sudah didaftarkan jadi anjungan,
ADM pun sudah ada,,
Login pakai eKTP tetap memerlukan PIN,,
Setidaknya PIN Layanan dapat lebih dari 6..

[2021-11-26 05:06] ai-skematik commented on #4529
silahkan baca panduan bung,

[2021-11-26 05:07] ai-skematik commented on #4529
![IMG_20211012_212810_527.jpg](https://user-images.githubusercontent.com/48144047/143529816-5b731b8b-8ef9-4ef9-bcb7-d2daa6e5c50a.jpg)

[2021-11-26 10:51] ariandii commented on #4194
kendala terjadi muncul log persis seperti di atas, ketika update 21.07 menjadi 21.11-premium yang gagal akses (error 500).

setelah di cek, pada tabel setting_aplikasi kolom current_version masih tertulis versi 21.07-bugfix

setelah diganti jadi 21.11 normal kembali.

[2021-11-28 14:52] Ekoprass opened #4547 "[BUG] Data Dokumen Bocor"
**Jelaskan error yg dialami**

link dokumen yang seharusnya private muncul dalam pencarian google

https://desarejodadi.com/desa/upload/dokumen/Emailing-Daftar-Pemilih-Sementara-Desa-Rejodadi.pdf

**Versi OpenSID**

**Informasi tambahan**
<!--
Penjelasan lain yg dapat membantu.
--
![Capturedf](https://user-images.githubusercontent.com/14850877/143772929-baa4e923-9c55-4aa9-93f6-02fe66113af8.PNG)

[2021-11-28 14:53] Ekoprass commented on #4547
![Capturedf](https://user-images.githubusercontent.com/14850877/143773123-f189b4ea-2f55-4789-9ce1-a02f29972849.PNG)

[2021-11-28 15:18] agungsugiarto commented on #4547
Terima kasih sudah melaporkan issue, issue ini saya tutup. Mohon menggunakan rilis terbaru opensid untuk menghindari file .pdf seperti ini terindex oleh mesin pencarian. Bisa dilihat pada situs demo.opensid.or.id tidak ada file yg terindex oleh mesin pencari. Terima kasih,

[2021-11-28 15:18] #4547 closed, assigned to nobody

[2021-11-30 02:22] OkkySuryaLesmana opened #4548 "[BUG] AKUMULASI DATA KEPENDUDUKAN PADA DATA DESA TIDAK TAMPIL"
**Jelaskan error yg dialami**
Data Kependudukan tidak dapat tampil pada halaman data desa, padahal pada database data sudah ada.

**Hasil yg diharapkan**
Data Tampil,
Jumlah Penduduk Desa Tampil

**Tampakan layar dan log error**

**Versi OpenSID**
21.11

**Tema Yg Digunakan**
- Silir
- Natra
- Default

**Informasi tambahan**
Data Pada Dashboard admin ada, tapi di frontend tidak tampil.

[2021-11-30 02:27] andifahruddinakas commented on #4548
Pak @OkkySuryaLesmana bisa sertakan gambar yang dimaksud yg di duplikasi dari website demo ???

[2021-11-30 09:07] faissw opened #4549 "[BUG] Declaration of Penduduk_penerima_bantuan::hitung_total() must be compatible with Laporan_penduduk_model::hitung_total(&$data)"
i just firstly install it , import DB sukses . then i direct to localhost/foldername/
here is the error
Fatal error: Declaration of Penduduk_penerima_bantuan::hitung_total() must be compatible with Laporan_penduduk_model::hitung_total(&$data) in /Applications/XAMPP/xamppfiles/htdocs/OpenDesa/donjo-app/models/Statistik_penduduk_model.php on line 92
A PHP Error was encountered
Severity: Compile Erro

[2021-11-30 09:55] andifahruddinakas commented on #4549
Pak @Afaisw, bisa sertakan tangkapan layar beserta versi OpenSID yg digunakan.

[2021-12-01 01:05] #3811 closed

[2021-12-01 01:48] afri18 opened #4552 "[Lembaga] Tampilkan ke halaman web data lembaga"
**Apa kekurangan yg ingin diatasi?**

biar mudah menampilkan lembaga desa di web

**Jelaskan solusi yg diinginkan**

**Apakah ada alternatif lain**

**Untuk versi OpenSID mana**

**Informasi tambahan**

[2021-12-01 02:54] agungsugiarto commented on #4481
Pak @eddieridwan untuk modul SMS apakah dijadikan gateway atau tetap desa sendiri yg mengolola?

[2021-12-01 03:06] eddieridwan commented on #4518
Tugas ini telah dialokasikan kepada @FirlianiF

[2021-12-01 03:10] eddieridwan commented on #4226
Tugas ini telah dialokasikan kepada @scqolbu24

[2021-12-01 03:48] agungsugiarto commented on #4226
Pak @eddieridwan untuk blanko ini apakah membuat lampiran baru F.1.03 atau menyesuaikan dari lampiran f-1.08 ?

[2021-12-01 04:11] eddieridwan commented on #4481
@agungsugiarto , untuk tahap pertama, mohon batasi pada penambahan akun Telegram pada setiap penduduk. Kemudian di modul SMS sediakan pilihan supaya bisa kirim pesan ke akun Telegram atau email kontak, sebagai alternatif menggunakan SMS. Setelah ini dikerjakan, kita tinjau ulang lagi.

Yaitu lihat solusi yg diinginkan di https://github.com/OpenSID/OpenSID/issues/4481#issue-1030972104

Sangat mungk

[2021-12-01 04:20] eddieridwan commented on #2960
Sudah ada di v21.12-premium.

[2021-12-01 04:20] #2960 closed

[2021-12-01 04:30] eddieridwan opened #4553 "Tampilkan lapak di layanan mandiri, termasuk anjungan"
**Apa kekurangan yg ingin diatasi?**

Issue #4482 meminta ditambahkannya fitur di layanan mandiri. Salah satu fitur yg diminta adalah menampilkan lapak.

**Jelaskan solusi yg diinginkan**

Tampilkan lapak di Layanan Mandiri, termasuk di Anjungan. Seragamkan tampilan seperti yg ada di web. Hindari duplikasi.

**Untuk versi OpenSID mana**

Pasca v21.12-premium

**Informasi tambahan**

[2021-12-01 04:37] lihin20 commented on #4553
nah ia ini,🙂

[2021-12-01 04:48] eddieridwan commented on #4226
Serupa tetapi tidak sama. F1.08 untuk warga yg pergi dari desa. F-1.03 untuk warga yg datang ke desa. Tetapi kalau ada bagian dari F1.08 yg bisa digunakan ulang boleh, asal hati2 saja melihat perbedaannya.

Tetapi perlu dicatat, kode F-1.08 tidak lagi digunakan untuk surat pindah keluar desa, karena sudah diganti dengan F-1.25, F-1.29, F-1.33, F-1.34, F-1.36 (sudah ada di OpenSID). F-1.08 versi la

[2021-12-01 04:56] agungsugiarto commented on #4481
Batasan issue yg saya usulkan untuk Telegram, Email dan WA tidak memungkinan dibuatkan fitur serupa dengan SMS yaitu pesan yg sudah terkirim dan tertunda, fitur ini akan dipangkas pak.

[2021-12-01 05:00] eddieridwan commented on #4518
@FirlianiF @andifahruddinakas , perhatikan referensi https://disdukcapil.purworejokab.go.id/formulir/. Di situ tidak terdaftar F-1.27, F-1.31 ataupun F-1.39. Untuk pindah datang, yg terdaftar adalah F-1.23 (pindah datang satu desa). Tetapi sepertinya yg lain itu variasi saja berdasarkan asal pindahnya. Sama halnya seperti untuk pindah keluar desa yg sudah ada di OpenSID.

Meskipun demikian, ada ba

[2021-12-01 12:07] gampongbarabung opened #4554 "Modifikasi Verifikasi Surat Hasil Scan Barcode Tidak Terpanggil Sempurna"
**Apa kekurangan yg ingin diatasi?**
Tampilan Verifikasi Surat Tidak Dapat Dimodifikasi Sesuai Keiinginan Desa.

**Jelaskan solusi yg diinginkan**

[2021-12-01 12:13] andifahruddinakas commented on #4554
Sudah di 21.12-premium, saat ini hanya modifikasi dilakukan sesuai tema yang digunakan.

[2021-12-01 12:18] gampongbarabung commented on #4554
Untuk memodifikasi hubungi pihak tema nya pak?

[2021-12-01 12:21] andifahruddinakas commented on #4554
Ya.

Untuk saat ini sudah tersedia, tp kayaknya ada kendala saat mengambil view di masing2 tema.

[2021-12-01 12:25] andifahruddinakas opened #4555 "Panduan"
![error migrasi](https://user-images.githubusercontent.com/57283157/144234054-6119952d-7a15-4fc5-bdc7-d8650b337430.jpg)

[migrations.zip](https://github.com/OpenSID/OpenSID/files/7633738/migrations.zip)

[2021-12-01 23:14] eddieridwan commented on #3947
Terapkan sebagai berikut untuk tampilan awal setelah login di Layanan Mandiri:

1. Jika ada pesan masuk yg belum dibuka, tampilkan halaman daftar pesan masuk
2. Jika tidak ada pesan masuk yg belum dibuka, tampilkan halaman permohonan surat

[2021-12-01 23:18] eddieridwan commented on #4015
Issue ini akan ditutup, karena tidak akan diterapkan dalam bentuk yg diusulkan.

[2021-12-01 23:18] #4015 closed

[2021-12-01 23:31] eddieridwan opened #4556 "[Penduduk] Tambahkan info akun Telegram ke data penduduk"
**Apa kekurangan yg ingin diatasi?**

Akun Telegram penduduk diperlukan sebagai salah satu cara untuk menghubungi warga, termasuk untuk mengirim pemberitahuan.

**Jelaskan solusi yg diinginkan**

Tambahkan akun Telegram di data penduduk. Sediakan fitur untuk memasukkan dan mengubah data tersebut.

**Untuk versi OpenSID mana**

pasca v12.12-premium

**Informasi tambahan**

Akun Telegram ini diperlu

[2021-12-01 23:32] eddieridwan commented on #4481
Penambahan akun Telegram ke data penduduk telah dipisah ke Issue https://github.com/OpenSID/OpenSID/issues/4556.

[2021-12-01 23:36] eddieridwan commented on #2574
Duplikat https://github.com/OpenSID/OpenSID/issues/1760

[2021-12-01 23:36] #2574 closed

[2021-12-01 23:51] eddieridwan commented on #512
Lihat contoh Sikema (sistem keluhan) di OpenDK. Tapi sebaiknya dirancang ulang, dengan melihat contoh di bebagai aplikasi lain.

[2021-12-01 23:55] eddieridwan commented on #512
Tambahan dari issue https://github.com/OpenSID/OpenSID/issues/1758

Status proses keluhan:

- Menunggu Diproses, status default awal
- Sedang Diproses, dirubah oleh staf saat sedang menangani laporan
- Selesai Diproses, dirubah oleh staf saat laporan sudah terselesaikan

sertakan juga inputan keterangan yang diisi oleh staf yg menangani laporan.
kemudian disisi Pelapor / Warga saat login dibawah F

[2021-12-01 23:56] eddieridwan commented on #1758
Telah digabung ke issue sistem keluhan/pengaduan/lapor di https://github.com/OpenSID/OpenSID/issues/512

[2021-12-01 23:56] #1758 closed

[2021-12-02 00:13] eddieridwan opened #4557 "[Layanan Mandiri] Lupa/reset PIN"
**Apa kekurangan yg ingin diatasi?**

Saat ini jika warga lupa PIN layanan mandiri, perlu meminta diganti melalui operator. Sebaiknya bisa mengubah sendiri.

**Jelaskan solusi yg diinginkan**

Sediakan fitur `Lupa PIN` di halaman login Layanan Mandiri.

- [ ] Sediakan tautan `Lupa PIN` di halaman Login Layanan Mandiri
- [ ] Setelah diklik, tampilkan form isian NIK pendaftar Layanan Mandiri, dengan

[2021-12-02 00:19] eddieridwan commented on #3285
Permintaan ini diganti dengan issue https://github.com/OpenSID/OpenSID/issues/4557, dan https://github.com/OpenSID/OpenSID/issues/1760.

Issue ini ditutup.

[2021-12-02 00:19] #3285 closed

[2021-12-02 11:16] eddieridwan commented on #4556
Sdh dicommit ke `rilis-dev`

[2021-12-02 11:16] #4556 closed, assigned to eddieridwan

[2021-12-02 11:28] eddieridwan opened #4558 "[Penduduk] Verifikasi akun Telegram"
**Apa kekurangan yg ingin diatasi?**

Akun Telegram penduduk perlu diverifikasi supaya dapat digunakan sebagai pengganti bukti identitas.

**Jelaskan solusi yg diinginkan**

Di Layanan Mandiri, setelah penduduk ybs login:

- [x] Sediakan tombol untuk verifikasi akun Telegram. Sistem akan mengirim kode berbatas waktu ke akun Telegram tersebut
- [x] Tampilkan form untuk mengisi kode yg dikirim terse

[2021-12-02 13:55] andifahruddinakas commented on #4555
![log](https://user-images.githubusercontent.com/57283157/144435555-9e304666-f3e5-4ad5-adcc-06293dc4d647.jpg)

[2021-12-03 08:36] FaisyalRachman commented on #4180
Saya sudah melakukan pull request,

[2021-12-03 09:48] andifahruddinakas opened #4560 "[Migrasi] Migrasi untuk nik dan no_kk sementara kadang error untuk kasus tertentu"
**Jelaskan error yg dialami**

Kadang terjadi error saat melakukan migrasi untuk nik dan no kk sementara

**Cara untuk mereplikasi errornya**

**Hasil yg diharapkan**

**Tampakan layar dan log error**

**Versi OpenSID**

![error migrasi](https://user-images.githubusercontent.com/57283157/144234054-6119952d-7a15-4fc5-bdc7-d8650b337430.jpg)

**Tema Yg Digunakan**

**Informasi tambahan**

[2021-12-03 09:51] agungsugiarto commented on #4560
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/491

[2021-12-03 09:51] #4560 closed, assigned to andifahruddinakas

[2021-12-05 06:35] eddieridwan opened #4561 "[Notifikasi] Sesuaikan pemberitahuan adanya rilis baru"
**Apa kekurangan yg ingin diatasi?**

Saat ini pemberitahuan terdeteksinya rilis baru tidak dibedakan untuk rilis Umum ataupun Premium. Tetapi karena aturan rilis berbeda untuk rilis Umum dan Premium, maka pemberitahuan perlu dibedakan juga.

**Jelaskan solusi yg diinginkan**

- [x] Untuk Rilis Umum, pemberitahuan rilis baru tidak berubah seperti yg sudah ada. Yaitu, ada notifikasi rilis baru jika

[2021-12-05 18:57] andifahruddinakas commented on #4378
Dari PR https://github.com/OpenSID/premium/pull/501 menggunakan solusi 3 namun tanpa menggunakan tombol (menggunakan cara point 2)

[2021-12-05 19:55] andifahruddinakas commented on #4548
Pak @OkkySuryaLesmana, mohon dilengkapi bagian mana yg dimaksud. Silahkan buka kembali jika masih bermaslah.

[2021-12-05 19:55] #4548 closed, assigned to nobody

[2021-12-05 19:58] andifahruddinakas commented on #4542
Pak @eddieridwan, apakah alur ini perlu diubah atau tetap menggunakan alur yg sekarang.

Alur yg mungkin diubah :
1. Buat terlebih dahulu penduduk lahir di modul penduduk > lahir
2. Buat surat keterangan kelahiran

Alur di atas sama halnya jika terdapat penduduk yg meninggal, data perlu disediakan terlebih dahulu.

[2021-12-05 22:49] eddieridwan commented on #4542
@andifahruddinakas fitur membuat penduduk baru dari Surat Keterangan Lahir memang bermasalah jika dibuat ulang. Ya, sepertinya sebaiknya dihilangkan saja fitur itu, karena prosesnya agak rapuh. Sehingga hanya dapat mencetak Surat Keterangan Lahir bagi penduduk yg sudah tercatat di data penduduk -- dan isian form seluruhnya (atau sebagian besar) diambil dari data penduduk.

Tujuan awal fitur itu ad

[2021-12-06 06:09] agungsugiarto commented on #4226
Pak @balongbesuk, @eddieridwan apakah hasil lampiran f-1.03 ini sudah sesuai?

[surat_ket_pindah_penduduk_5201146510916995_2021-12-06_9_lampiran.pdf](https://github.com/OpenSID/OpenSID/files/7658381/surat_ket_pindah_penduduk_5201146510916995_2021-12-06_9_lampiran.pdf)

[2021-12-06 09:58] scqolbu24 commented on #4226
Pak @balongbesuk, @eddieridwan bisa cek untuk lampiran ini juga f-1.03 apakah sudah sesuai
(https://github.com/OpenSID/OpenSID/files/7659748/surat_ket_pindah_penduduk_5201142210181724_2021-12-06_26_lampiran.pdf)

Lampiran ini sudah direvisi setelah ada review dari Pak @agungsugiarto

[2021-12-06 15:58] emanuel-simon opened #4562 "[KEUANGAN] Tidak bisa impor data Siskeudes hasil dari mdb2csv"
**Jelaskan error yg dialami**

Tidak bisa impor file zip yang dihasilkan oleh aplikasi mdb2csv dari database siskeudes
![2021-12-06_23h47_06](https://user-images.githubusercontent.com/48465803/144877705-ce7800d9-ec32-4620-b310-45c3568237ef.png)

![2021-12-06_23h47_43](https://user-images.githubusercontent.com/48465803/144877758-8ffb7adc-0df2-48b1-a465-ff24bd50160a.png)

**Cara untuk mereplikasi er

[2021-12-06 17:10] andifahruddinakas commented on #4562
Silahkan di lampirkan juga file sebegai contohnya.

[2021-12-07 00:56] emanuel-simon commented on #4562
[opensid_data.zip](https://github.com/OpenSID/OpenSID/files/7664551/opensid_data.zip)
[DataAPBDES2021.zip](https://github.com/OpenSID/OpenSID/files/7664597/DataAPBDES2021.zip)

[2021-12-07 02:54] afri18 opened #4563 "[Pembangunan] Urut data pembangunan"
**Jelaskan error yg dialami**
bukan eror, hanya mengusulkan URUTKAN daftar pembangunan di halaman web > pembanguna dan admin pembangunan sesuai tahun pembangunan, yang paling atas yg tahun terbaru

**Cara untuk mereplikasi errornya**

**Hasil yg diharapkan**
Akan tertata data pembangunan di halaman admin pembangunan sesuai tahun, tidak tergantung dengan input pertama/terdahulu, yang teratas tahun

[2021-12-07 03:40] balongbesuk commented on #4226
format blankonya tidak sama ada kemungkinan bisa di tolak,

bisa d coba d push saja ke desa desa premium yang sudah menerapkan pindah penduduk F.1.03

[2021-12-07 04:25] FirlianiF commented on #4518
Sudah selesai dikerjakan, mohon di review mas @andifahruddinakas

[2021-12-07 04:26] andifahruddinakas commented on #4553
Mas @scqolbu24

[2021-12-07 04:27] scqolbu24 commented on #4553
siap

[2021-12-07 04:28] FirlianiF commented on #4506
tes komentar

[2021-12-07 04:28] FirlianiF commented on #3947
tes komentar

[2021-12-07 04:38] andifahruddinakas opened #4564 "[Pengaturan Peta] Tidak dapat menyimpan warna"
**Jelaskan error yg dialami**

Saat menambah / mengubah tipe garis, warna tidak tersimpan

**Cara untuk mereplikasi errornya**

1. Buka modul pemetaan > pengaturan peta > tipe garis.
2. Tambah / ubah salah 1 data dan simpan.

**Hasil yg diharapkan**

**Tampakan layar dan log error**

**Versi OpenSID**

**Tema Yg Digunakan**

**Informasi tambahan**

[2021-12-07 04:44] andifahruddinakas opened #4565 "[Pembangunan] Foto pembangunan terlihat besa"
**Jelaskan error yg dialami**

Buka modul pembangunan, foto yg terunggah terlihat besar.

**Cara untuk mereplikasi errornya**

**Hasil yg diharapkan**

Terlihat normal seperti sebelumnya.

**Tampakan layar dan log error**

**Versi OpenSID**

**Tema Yg Digunakan**

**Informasi tambahan**

[2021-12-07 04:47] andifahruddinakas opened #4566 "[Layanan Mandiri] Error loging ektp dan persuratan"
**Jelaskan error yg dialami**

Terjadi error login menggunakan ektp dan saat mengakses persuratan.

**Cara untuk mereplikasi errornya**

Login ke layanan mandiri dengan ektp, maka akan di alihkan ke halaman 404

**Hasil yg diharapkan**

**Tampakan layar dan log error**

**Versi OpenSID**

**Tema Yg Digunakan**

**Informasi tambahan**

[2021-12-07 04:50] andifahruddinakas opened #4567 "[Migrasi] Migrasi tidak jalan sempurna"
**Jelaskan error yg dialami**

Proses migrasi berhasil, namun perubahan/penambahan slug di modul pembangunan tidak terjadi.

**Cara untuk mereplikasi errornya**

**Hasil yg diharapkan**

**Tampakan layar dan log error**

**Versi OpenSID**

**Tema Yg Digunakan**

**Informasi tambahan**

[2021-12-07 04:53] andifahruddinakas opened #4568 "[Rekapitulasi Penduduk] Terjadi error saat mengakses modul"
**Jelaskan error yg dialami**

Saat mengakses modul bumindes > penduduk > rekapitulasi jumlah penduduk terjadi error

**Cara untuk mereplikasi errornya**

**Hasil yg diharapkan**

Tidak terjadi error

**Tampakan layar dan log error**

**Versi OpenSID**

**Tema Yg Digunakan**

**Informasi tambahan**

[2021-12-07 06:20] agungsugiarto commented on #4565
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/493

[2021-12-07 06:20] #4565 closed, assigned to andifahruddinakas

[2021-12-07 06:28] agungsugiarto commented on #4567
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/494

[2021-12-07 06:28] #4567 closed, assigned to andifahruddinakas

[2021-12-07 06:33] pemdeslinggapura opened #4569 "NIK dan NO KK Sementara muncul di Formulir F-2.01dan F-1.15"
### Bagaimana alurnya sampai muncul masalah?
**Contoh 1**
ketika memasukan penduduk baru dan melakukan penambahan penduduk lahir, kondisi ini pastinya belum mempunyai no KK, sehingga digunakanlah **No KK Sementara**.
Tetapi ketika cetak surat Ket Lahir, maka No KK sementara akan tercetak di Formulir F-2.01.

**Contoh 2**
Dikarenakan tidak bisa melakukan penambahan penduduk sebanyak 2 kali melalui

[2021-12-07 06:38] agungsugiarto commented on #4566
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/496

[2021-12-07 06:38] #4566 closed, assigned to andifahruddinakas

[2021-12-07 07:21] scqolbu24 commented on #4554
sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/497

[2021-12-07 07:23] #4554 closed, assigned to andifahruddinakas

[2021-12-07 07:51] agungsugiarto commented on #4568
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/505

[2021-12-07 07:51] #4568 closed, assigned to andifahruddinakas

[2021-12-07 08:12] agungsugiarto commented on #4549
Sudah di perbaiki melalui pr https://github.com/OpenSID/premium/pull/503

[2021-12-07 08:12] #4549 closed, assigned to andifahruddinakas

[2021-12-07 08:31] andifahruddinakas opened #4570 "[Buku Kader] Url tidak ditemukan jika menggunakan .httaccess"
**Jelaskan error yg dialami**

Saat menambahkan data kader, dimana website menggunakan .htaccess maka akan terjadi error 404.

**Cara untuk mereplikasi errornya**

Buka Bumindes > pembangunan > Buku Kader > tambah / ubah kader

**Hasil yg diharapkan**

**Tampakan layar dan log error**

**Versi OpenSID**

**Tema Yg Digunakan**

**Informasi tambahan**

[2021-12-07 10:08] #4570 closed, assigned to andifahruddinakas

[2021-12-08 02:42] andifahruddinakas opened #4571 "[Mode Demo] Tambahkan restore database awal untuk web mode demo"
**Apa kekurangan yg ingin diatasi?**

Karena upload database di demo mode dilarang, maka perlu dibuatkan tombol restore database dengan default contoh dataawal.

**Jelaskan solusi yg diinginkan**

Agar tidak ribet untuk menormalkan kembali website demo.

**Apakah ada alternatif lain**

**Untuk versi OpenSID mana**

**Informasi tambahan**

[2021-12-08 04:02] scqolbu24 commented on #4226
pak @balongbesuk  bisa minta tolong dijelasakan secara detail perbedaannya dimana

[2021-12-08 05:49] #4378 closed

[2021-12-08 06:08] FirlianiF commented on #4392
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/502

[2021-12-08 06:08] #4392 closed

[2021-12-08 06:21] FirlianiF commented on #4564
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/507

[2021-12-08 06:23] #4564 closed, assigned to andifahruddinakas

[2021-12-08 12:19] totoprayogo1916 opened #4572 "berkas `.env`"
https://github.com/OpenSID/OpenSID/blob/b88ddde03fad48f9798a6289514e7faae38f2e79/index.php#L58

apakah ada contoh berkas `.env`
saya coba dengan tambahan data `CI_ENV` tapi malah muncul dihalaman ...

![image](https://user-images.githubusercontent.com/2387514/145207259-f5aeda6b-69c1-45e7-871c-c3e2bc7d7115.png)

[2021-12-08 12:21] totoprayogo1916 commented on #4572
FYI: saya setting **manual** dengan edit `ENVIRONMENT` di file index.php tsb menjadi development karena web gak bisa jalan kalo gak mode ini ...

[2021-12-08 13:07] andifahruddinakas commented on #4572
Pakai versi rilis

[2021-12-08 16:50] tobagus6911 opened #4574 "[Pengguna] Pengaturan Grup Pengguna"
**Jelaskan error yg dialami**
Saya buat grup pengguna "Jurnalis" yang hanya dapat membuat artikel
akan tetapi daftar artikel yang dibuat oleh Akun lain tampil / menampilkan semua artikel
tidak seperti Grup Akun Kontributor. yang hanya menampilkan Artikel yang dibuatnya saja

**Cara untuk mereplikasi errornya**

**Hasil yg diharapkan**
Artikel yang dibuat oleh Akun lain jangan ditampilkan di daftar

[2021-12-08 17:10] tobagus6911 opened #4575 "[Pengguna] Grup Pengguna"
**Apa kekurangan yg ingin diatasi?**
Mohon dibuatkan grup pengguna khusus Jurnalis Desa
yang hanya dapat membuat Artikel Dinamis

**Jelaskan solusi yg diinginkan**
Dimaksudkan agar dapat menjadi laporan kegiatan para relawan berita (RT, RW, Kader Posyandu, BPD, LPM, Dll)
sehingga Websitenya Aktif mendapatkan berita dari Jurnalis Desa
Masing-masing Pengguna (Jurnalis) tiidak dapat Intervensi (merub

[2021-12-08 17:12] tobagus6911 commented on #4574
maaf salah tempat seharusnya di Pembuatan fitur baru. bukan bug

[2021-12-08 17:42] tobagus6911 opened #4576 "[Pengguna] Grup Pengguna"
**Jelaskan error yg dialami**
saya buat grup pengguna yang hanya punya Hak Baca untuk data penduduk.
akan tetapi masih bisa membuat, dan merubah datanya

**Cara untuk mereplikasi errornya**

**Hasil yg diharapkan**
pengguna hanya dapat melihat, dan mendownload, cetak datanya saja
untuk para RT, RW, Kadus, atau relawan/kader Posyandu & Paud

**Tampakan layar dan log error**

**Versi OpenSID**

**Te

[2021-12-09 05:26] balongbesuk commented on #4226
secara konsep isian sama secara format berbeda (berbeda di isian centang saja), makanya saya saran cb d push saja minta pengguna desa premium untuk mereview apakah d terima tidak d tingkat kecamatan / kabupaten,

[2021-12-09 06:09] Zoel-WB opened #4577 "[Pembangunan] BUMINDES -> Buku Kegiatan Pembangunan-> Pilihan Tahun Yang Tampil Hanya 2021"
**Jelaskan error yg dialami**
Pada Bumindes : Buku Kegiatan Pembanguna pada dropdown pilihan tahun tersendat, setelah memilih satu tahun kegiatan, kemudian memilih untuk lainnya tidak lagi muncul pilihan di daftar dropdwon
![image](https://user-images.githubusercontent.com/64481641/145343435-6ce157fb-cea3-46bf-9e86-ca901daa04dc.png)

Harap tidak melaporkan masalah instal OpenSID. Masalah pada wakt

[2021-12-09 06:16] Zoel-WB commented on #4553
Mantap ini...
Bagi warga yg sudah punya akun lapak desa di website desa, dapat secara langsung mengontrol lapaknya melalui OpenSID mandiri android.

[2021-12-09 07:31] andifahruddinakas opened #4578 "[Login Mandiri] Halama login mandiri tersediri"
**Apa kekurangan yg ingin diatasi?**

Modifikasi login untuk desa/thema sesuai ubahan.

**Jelaskan solusi yg diinginkan**

Sediakan view login tersendiri.

**Apakah ada alternatif lain**

**Untuk versi OpenSID mana**

**Informasi tambahan**

[2021-12-09 08:41] FirlianiF commented on #4518
Sudah masuk di fitur premium https://github.com/OpenSID/premium/pull/504

[2021-12-09 08:41] #4518 closed, assigned to FirlianiF

[2021-12-09 11:20] eddieridwan opened #4580 "[Login Admin] Catat ip address pengguna login admin"
**Apa kekurangan yg ingin diatasi?**

Di website demo ada pengguna yg rutin iseng mengubah data memberi kesan website diretas. Diperlukan cara untuk melacak dan  mencegah akses oleh orang yg iseng seperti itu

**Jelaskan solusi yg diinginkan**

Untuk website demo, sediakan:

- [ ] buat log pengguna yg login dengan hak akses administrator; catat IP address dan tgl & waktu login
- [ ] sediakan penga

[2021-12-09 22:04] andifahruddinakas commented on #4572
[code]

[2021-12-09 22:04] #4572 closed, assigned to nobody

[2021-12-10 00:53] andifahruddinakas commented on #4226
Sudah digabung ke fitur premium melalui PR https://github.com/OpenSID/premium/pull/506

[2021-12-10 00:53] #4226 closed

[2021-12-10 02:13] andifahruddinakas commented on #4553
Sudah digabungkan ke FITUR PREMIUM melalui PR https://github.com/OpenSID/premium/pull/509

[2021-12-10 02:13] #4553 closed, assigned to scqolbu24

[2021-12-10 08:33] mukhlisvandjava opened #4581 "[Lapak]"
**Apa kekurangan yg ingin diatasi?**

**Jelaskan solusi yg diinginkan**

**Apakah ada alternatif lain**

**Untuk versi OpenSID mana**

**Informasi tambahan**

[2021-12-10 09:03] andifahruddinakas commented on #4581
Mohon issue diperjelas.

[2021-12-10 09:03] #4581 closed, assigned to nobody

[2021-12-10 13:26] emanuel-simon opened #4582 "[Keuangan] Rincikan Belanja Sampai Ke Paket Kegiatan pada Input Data Manual"
**Apa kekurangan yg ingin diatasi?**

Mengingat:
1. banyak desa yang menggunakan Siskeudes online sehingga tidak bisa mengakses databasenya
2. banyak pengguna yang kesulitan mengkonversi database .mde Siskeudes untuk diimpor ke OpenSID
3. (ini kemungkinan saja) perubahan struktur database Siskeudes mengikuti peraturan yang sering berubah

**Jelaskan solusi yg diinginkan**

Input data manual pada m

[2021-12-10 13:50] mangaip commented on #4582
Saya termasuk pengguna siskeudes online. Memang kami kesulitan untuk mengakses database. Karena database siskeudes online adanya di DPMD Kabupaten.

Input data keuangan ke web desa pun jadinya manual.

[2021-12-10 14:06] emanuel-simon commented on #4582
Mari ajak teman-teman lain untuk _like issue_ ini agar lebih cepat dikerjakan

[2021-12-10 22:54] mangaip commented on #4582
Seharusnya kalau sudah menyangkut laporan keuangan, harusnya bisa jadi prioritas. Sangat jelas dalam transparansi anggaran.

Bagi pengguna siskeudes offline, suatu saat pasti akan migrasi juga ke online.

Maka issue ini, menurut saya harusnya jadi prioritas

[2021-12-10 23:14] emanuel-simon commented on #4582
Setuju pak

[2021-12-11 03:22] andifahruddinakas opened #4583 "[Backup] Backup folder desa lewat hosting"
**Jelaskan error yg dialami**

Terkadang pengguna/desa melakukan backup folder desa (lewat hosting/bukan dari halaman admin) dan tidak menyimpannya di tempat yang aman. Biasa di backup dan disimpan di folder public_html, ssehingga orang luar dapat mengunduh file tsb dengan mengakses melalui link (misalnya : donamain/desa.zip)

**Cara untuk mereplikasi errornya**

Lakukan backup folder desa dan let

[2021-12-11 06:25] eddieridwan opened #4584 "[Cetak Surat] Laporkan jika `exec` tidak tersedia pada waktu mencetak PDF"
**Apa kekurangan yg ingin diatasi?**

Saat ini di menu Cetak Surat,  jika Cetak PDF dijalankan dan gagal karena instruksi PHP `exec` tidak tersedia, notifikasi tidak menjelaskan sebab kegagalan.

**Jelaskan solusi yg diinginkan**

Di menu Cetak Surat,  jika Cetak PDF dijalankan dan gagal karena instruksi PHP `exec` tidak tersedia, tampilkan notifikasi yang menjelaskan sebab kegagalan.

**Apakah ad

[2021-12-11 13:23] tobagus6911 opened #4585 "[Widget] Tampilkan notifikasi error, jika widget gagal disimpan beserta penyebabnya."
**Jelaskan error yg dialami**
Tidak bisa menyimpan Widget yang baru

**Cara untuk mereplikasi errornya**
Setelah Menambah Widget yang baru. data tidak dapat disimpan

**Hasil yg diharapkan**
bisa menambah WIdget / menyimpan hasil edit widget

**Tampakan layar dan log error**
![image](https://user-images.githubusercontent.com/84884247/145678078-9f86507f-f2f3-4e2b-b37b-eca8aeacee46.png)

setelah dis

[2021-12-11 22:41] andifahruddinakas commented on #4585
Sertakan log saat error ini terjadi.

[2021-12-12 04:42] tobagus6911 commented on #4585
![image](https://user-images.githubusercontent.com/84884247/145700536-58762951-453a-42f2-a6f0-b226f2970426.png)

[2021-12-12 04:59] tobagus6911 opened #4586 "modul [Penduduk] & modul [Keluarga]"
**Jelaskan error yg dialami**
Tidak ada pencariian berdasarkan NIK dan No KK

**Cara untuk mereplikasi errornya**

**Hasil yg diharapkan**
kalau sedang input Data Keluarga atau Data Penduduk ternyata NIK atau No KK nya sudah digunakan. kita tidak bisa melihat/mencari dengan cepat oleh siapa data keluarga / data penduduk itu digunakan bila tidak ada pencarian berdasarkan NIK atau No KK

**Tampakan

[2021-12-12 06:08] andifahruddinakas commented on #4585
Silahkan baca panduan https://github.com/OpenSID/OpenSID/wiki/Persiapan-Install-OpenSID

[2021-12-12 07:11] tobagus6911 commented on #4328
Juga Poling lainnya. seperti tingkat kepuasan, dll

[2021-12-12 07:17] tobagus6911 commented on #4534
ini sangat dibutuhkan. untuk penimbangan, imunisasi, laporan warga (Lahir, pindah, datang, mati)

[2021-12-12 07:28] tobagus6911 opened #4587 "modul[Pengaturan > Database -- impordata base]"
**Jelaskan error yg dialami**
- impordatabase sukses, akan tetapi ada Data Keluarga yang tidak tampil di List
- Mau tambah data KK tidak bisa karena data sudah ada , tapi data tidak tampil untuk dapat di edit
- Tidak ada pencarian berdasarkan No KK
- Kepala Keluarganya tidak ikut ter impor
- saya tambah data penduduk sebagai Kepala Keluaarga, akan tetapi tidak dapat dibuat, dimasukkan ke Data Kelu

[2021-12-12 09:39] eddieridwan opened #4588 "[Demo] Loloskan pemeriksaan token di setting demo"
**Apa kekurangan yg ingin diatasi?**

Saat ini jika identitas desa diubah, semua menu terkunci, karena tidak memiliki token untuk desa yg dipilih. Sedangkan, di demo, menu perlu dapat terus diakses.

**Jelaskan solusi yg diinginkan**

Di setting demo,

- [ ] loloskan saja pemeriksaan token, supaya menu tidak terkunci.
- [ ] buat pembatasan yg mencegah pengguna memanfaatkan status demo untuk menggu

[2021-12-12 09:56] andifahruddinakas commented on #4587
Silahkan di sertakan contoh impor yg bermasalah tsb.

[2021-12-12 11:41] ariandii commented on #4328
tingkat kepuasan sudah ada, akan muncul ketika warga klik Logout Layanan Mandiri

[2021-12-12 14:15] #4506 closed, assigned to FirlianiF

[2021-12-12 14:20] andifahruddinakas commented on #4586
Silahkan dipelajari lg fitur yg disedikan di OpenSID.

![cari](https://user-images.githubusercontent.com/57283157/145716213-8bbad31b-3d51-4845-8a73-fd4b635e3359.png)

[2021-12-12 14:20] #4586 closed, assigned to nobody

[2021-12-12 14:23] #4555 closed, assigned to nobody

[2021-12-12 14:53] tobagus6911 commented on #4587
tapi bagaimana menambah anggota KK kalau KK nya tidak tampil di Daftar/list karena ga bisa di edit

[2021-12-12 15:28] tobagus6911 commented on #4587
duh maaf,, setelah saya telusuri kembali dengan cermat. ternyata ada kesalah di databasenya pada penyesuaian data di Excel.

[2021-12-12 15:29] #4587 closed, assigned to nobody

[2021-12-12 16:08] KangErwin opened #4589 "[Suplemen] Tambahkan pencarian berdasarkan tag ID card (menggunakan RFID)"
**Menambahkan tag_id_card pada data suplemen dan program batuan?**

**ketika melakukan pendataan tambah peserta atau mencari nama peserta bisa menggunakan id_car /e-ktp**

****

**Fitur ini diusulkan untuk versi Rilis Umum (mis. v21.12) **

****

[2021-12-12 23:43] andifahruddinakas commented on #3947
Sudah digabung ke `FITUR PREMIUM` melalui PR https://github.com/OpenSID/premium/pull/516

[2021-12-12 23:43] #3947 closed

[2021-12-12 23:51] andifahruddinakas commented on #4588
Alur login perlu disesuaikan dan mematikan username dan password default tidak bisa diubah, baik dari admin atau langsung dari database. Atau username untuk admin utama (superadmin) dibuat statis.

[2021-12-13 01:09] andifahruddinakas commented on #4569
[surat_ket_kelahiran_5201070000000004_2021-12-13_1 (2).zip](https://github.com/OpenSID/OpenSID/files/7700287/surat_ket_kelahiran_5201070000000004_2021-12-13_1.2.zip)

Sy coba test, menggunakan nik sementara dari databse penduduk dan no_kk sementara, output lampirannya sudah betul, Silahkan di update ke versi terbaru terlebih dahulu.

[2021-12-13 01:12] andifahruddinakas commented on #3957
Tema layanan mandri bisa di ikut sertakan / include pada tema website yg digunakan. Jika tema website tsb tidak tersedia tema layanan mandiri, gunakan tema default atau bawaan yang ada saat ini.

[2021-12-13 02:30] FirlianiF commented on #1760
mulai pengerjaan issue #1760

[2021-12-13 02:45] andifahruddinakas commented on #4562
@emanuel-simon, versi Siskeudes yg digunakan ???

[2021-12-13 02:56] emanuel-simon commented on #4562
Saya coba yang V2.0.R2.04 dan V2.0.R2.03
Dua-duanya tidak bisa,
Padahal sampai semester 1 kemarin masih bisa, begitu pindah ke yang .04 baru tidak bisa lagi

[2021-12-13 03:42] andifahruddinakas commented on #4562
ok, sy cek di versi opensid versi lama dlu. apa krn ubahan dr opensidnya, atau krn ada pembaharuan di aplikasi siskuedesnya.

[2021-12-13 05:42] ai-skematik commented on #4582
sy bantu UP.

[2021-12-13 06:10] emanuel-simon commented on #4582
Siap pak @ai-skematik

[2021-12-13 07:03] andifahruddinakas commented on #4561
Mas @agungsugiarto, ini sudah di cek ???

[2021-12-13 07:08] andifahruddinakas commented on #3876
Agar tidak duplikasi, pindahkan pengaturan yg berkaitan dengan layanan mandiri ke modul layanan mandiri.

[2021-12-13 07:27] andifahruddinakas commented on #4507
![contoh](https://user-images.githubusercontent.com/57283157/145770233-5d4ffc1a-d512-491d-b157-127f5f322339.png)

1. buat kolom ukuran_garis.
2. tambahkan inputan ukuran garis pada saat tambah atau ubah data garis.
3. pada peta.js, function set_marker_garis(),
[code]
ganti nilai `weight` berdasarkan data kolom ukuran_garis.

[2021-12-13 12:35] ariandii opened #4590 "[Info Sistem] Tersedianya Informasi Disk Space pada Halaman Admin."
**Apa kekurangan yg ingin diatasi?**

Seperti yang terjadi di beberapa wilayah bahwa desa difasilitasi oleh penyedia setempat dan hanya diberi akses halaman login Admin OpenSID.

Saat ini, desa kesulitan mengetahui berapa _disk space_ yang tersisa untuk persiapan _upgrade_ ke hosting yang lebih tinggi.

**Jelaskan solusi yg diinginkan**

Adanya informasi _disk space_ berdasarkan root/directory/fol

[2021-12-13 12:39] ariandii opened #4591 "[Info Sistem] Tersedia Fitur Auto Delete File Logs"
**Apa kekurangan yg ingin diatasi?**

Menumpuknya file logs setiap hari membuat space berkurang. Perlu adanya jadwal rutin sebagai opsi menghapus file tersebut.

**Jelaskan solusi yg diinginkan**

Tersedia pengaturan untuk menghapus file logs setiap tanggal atau ahri tertentu, atau misal setiap H+3 atau H+5 dst dari tanggal logs tersebut tercipta.

[2021-12-13 20:35] eddieridwan commented on #4588
Mengapa diperlukan ini? Login di demo harus bisa konsisten, dengan username/password yg selalu sama.

[2021-12-13 21:45] andifahruddinakas commented on #4588
Kalau hanya sekedar meloloskan sudah sy terapkan di website berputar.opensid.or.id

[2021-12-14 00:53] andifahruddinakas commented on #4577
![pembangunan 1](https://user-images.githubusercontent.com/57283157/145912576-c0fda891-462a-4422-9b61-4178014f779a.png)
![pembangunan 2](https://user-images.githubusercontent.com/57283157/145912585-8cafdd05-7a99-480d-9d60-d7787aaa1fb0.png)
![pembangunan 3](https://user-images.githubusercontent.com/57283157/145912589-60ba6c8f-82ed-4d67-8118-7a075edd3bc3.png)

Saya coba tidak ada masalah, mungkin bi

[2021-12-14 01:11] #4380 closed

[2021-12-14 01:50] eddieridwan commented on #4521
@andifahruddinakas , apakah https://github.com/OpenSID/premium/pull/338#pullrequestreview-735639717 dan https://github.com/OpenSID/premium/pull/338#issuecomment-903379711 sudah diterapkan? Jika sudah, maka tulisan NIP tidak akan tampil jika tidak ada NIP/NIPD.

[2021-12-14 02:03] andifahruddinakas commented on #4521
Untuk PR https://github.com/OpenSID/premium/pull/338 dan mengenai NIP/NIPD pernah dibahas dan di close saat pertemuan, tp sy lupa alasannya apa. Mungkin mas @agungsugiarto masih ingat.

[2021-12-14 02:37] andifahruddinakas commented on #4562
Sudah sy cek, kayaknya ada perubahan dari aplikasi siskuedes sehingga converter tdk supoort. Yg support saat ini versi **V2.0 R2.0.0.**

[2021-12-14 02:40] andifahruddinakas commented on #4562
Yg bermasalah adalah file hasil konversi **Ta_Pemda.csv** yg datanya tdk jelas (hanya berisi karakter tdk tentu)

[2021-12-14 02:40] andifahruddinakas commented on #4562
[code]

[2021-12-14 03:03] andifahruddinakas commented on #4588
Tambahan :
1. Tambahkan domain pengecualian untuk demo, misalnya berputar.opensid.or.id dan demo.opensid.or.id

[2021-12-14 03:04] emanuel-simon commented on #4562
Berarti untuk sementara pakai input manual ya pak @andifahruddinakas

Semoga issue #4582 segara terealisasi

[2021-12-14 03:05] andifahruddinakas commented on #4562
Ya

[2021-12-14 03:21] andifahruddinakas opened #4592 "[Layanan Mandiri] Siderbar profil collapse"
**Apa kekurangan yg ingin diatasi?**

**Jelaskan solusi yg diinginkan**

**Apakah ada alternatif lain**

**Untuk versi OpenSID mana**

**Informasi tambahan**

[2021-12-14 04:27] FirlianiF commented on #3876
noted mas

[2021-12-14 04:30] FirlianiF commented on #4507
noted

[2021-12-14 04:36] andifahruddinakas commented on #4507
https://stackoverflow.com/questions/47229723/how-to-style-path-in-leaflet

[2021-12-14 04:43] andifahruddinakas opened #4593 "[Pengaturan Peta] Error saat menyimpan peta, dengan data yg tidak lengkap"
**Jelaskan error yg dialami**

Terjadi error saat menyimpan data baik itu menambah atau mengubah data Pengaturan Garis.

**Cara untuk mereplikasi errornya**

1. Buka pemetaan > pengaturan > garis
2. Tambah atau ubah data garis dan jangan dilengkapi (misalnya  kategori)
3. Simpan
4. Akan tampil error.

**Hasil yg diharapkan**

Adanya validasi inputan data.

**Tampakan layar dan log error**

![error

[2021-12-14 06:04] andifahruddinakas commented on #4562
Akan di sesuaiakan mengikuti issue https://github.com/OpenSID/OpenSID/issues/4582

[2021-12-14 06:04] #4562 closed, assigned to nobody

[2021-12-14 06:21] andifahruddinakas commented on #4569
Silahkan gunakan versi terbaru.

[2021-12-14 06:21] #4569 closed, assigned to nobody

[2021-12-14 06:21] andifahruddinakas commented on #4577
Silahkan di buka kembali jika masih bermasalah.

[2021-12-14 06:21] #4577 closed, assigned to andifahruddinakas

[2021-12-14 08:13] mukhlisvandjava commented on #4422
Tahapan awal adalah memperjelas hak cipta aplikasi posyandu dulu. Agar bisa di kembangkan oleh OpenSID. Dan menampilkan output aplikasi ke suplemen OpenSID. Semua butuh proses.. yang penting kita bisa maju selangkah demi selangkah untuk OpenSID terintegrasi👌

[2021-12-14 08:17] raamaj commented on #4411
Selamat sore, saya sedang belajar mengenai aplikasi OpenSID ini dan mencoba mengerjakan issue ini.

Solusi dari saya :
Menambahkan tombol lihat dokumen pada kolom aksi. Jika diklik akan muncul tab baru isi dari dokumen tersebut. Berikut tampilannya :
![image](https://user-images.githubusercontent.com/50396709/145958747-b2c28de7-459d-4ffe-a00f-b4d52535294c.png)

Setelah tab baru dibuka :
![image](h

[2021-12-14 08:23] andifahruddinakas commented on #4411
Silahkan di buat PRnya, gunakan branch dev-22.01

[2021-12-14 13:01] nursanamar opened #4595 "[Kependudukan] Ubah panjang value pada kolom tag_id_card"
**Jelaskan error yg dialami**

Jenis UID yang di gunakan pada E-KTP adalah jenis **_Single sized_** dan **_Double size_**, _Single sized_ sizenya adalah **4 bytes** dan yang _Double size_ ukurannya **7 bytes**. Alat reader yang biasa digunakan(yang mode HID) outputnya adalah representasi unsigned integer dari bytes UID, jadi range output Integer untuk _Single sized_ UID adalah **0-4294967295** dan

[2021-12-14 14:28] MUHAMMADRANGSEL commented on #4411
Mantap

Pada tanggal Sel, 14 Des 2021 16.23, Andi Fahruddin Akas <
***@***.***> menulis:

[2021-12-15 00:22] andifahruddinakas opened #4596 "[Suplemen] Tidak dapat impor data suplemen sasaran keluarga"
**Jelaskan error yg dialami**

Saat melakukan impor data suplemen dengan sasaran keluarga terjadi error, yakni data yg diimpor (no kk) selalu tdk ditemukan padahal no_kk tsb ada di database / modul keluarga.

**Cara untuk mereplikasi errornya**

Langkah :
1. Masuk ke menu kependudukan > suplemen
2. Buat suplemen dengan sasaran keluarga
3. Lakukan impor dengan contoh data (no kk) yg ada
4. Akan mun

[2021-12-15 00:24] andifahruddinakas opened #4597 "[Suplemen] Tidak ada tombol untuk memilih data yg dihapus"
**Apa kekurangan yg ingin diatasi?**

Saat ini belum ada tombol hapus data terpilih, sehingga jika ingin menghapus beberapa data harus dilakukan 1 per 1.

**Jelaskan solusi yg diinginkan**

Terdapat tombol hapus data terpilih seperti modul lainnya.

**Apakah ada alternatif lain**

**Untuk versi OpenSID mana**

OpenSID-premium-rev01

**Informasi tambahan**

[2021-12-15 21:51] andifahruddinakas commented on #4507
Sudah digabunkan ke FITUR PREMIUM melalui PR https://github.com/OpenSID/premium/pull/528

[2021-12-15 21:51] #4507 closed, assigned to FirlianiF

[2021-12-15 23:41] andifahruddinakas opened #4598 "[Impor] Error impor SIAK"
**Jelaskan error yg dialami**

Saat melakukan impor menggunakan format SIAK, terjadi error dimana kode pendidikan, kode golongan darah, dll tidak dikenali.

**Cara untuk mereplikasi errornya**

Masuk ke :
1. Pengaturan > Database > Impor BIP
2. Impor file menggunakan format SIAK
3. Terjadi error kode pendidikan tidak dikenali

**Hasil yg diharapkan**

Tidak terjadi error

**Tampakan layar dan log

[2021-12-16 01:45] agungsugiarto commented on #4585
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/519

[2021-12-16 01:45] #4585 closed, assigned to andifahruddinakas

[2021-12-16 02:12] balongbesuk opened #4599 "[Nama Modul] Tambahkan contoh data awal tanpa isi / kosongan"
**Apa kekurangan yg ingin diatasi?**

kapasitas contoh data awal semakin besar sehingga menyulitkan pengguna baru untuk install pertama kali

**Jelaskan solusi yg diinginkan**

mempersingkat waktu bagi pengguna baru yang tidak memerlukan contoh data pada awal penginstalan

**Apakah ada alternatif lain**

**Untuk versi OpenSID mana**

**Informasi tambahan**

[2021-12-16 02:49] balongbesuk opened #4600 "[Database] Import data penduduk"
**Jelaskan error yg dialami**

ketika pengguna mengimpor data penduduk dua kali atau lebih pada menu keluarga menjadi kosong dan Nomor kartu keluarga  dan alamat menjadi kosong

**Cara untuk mereplikasi errornya**

Pergi ke pengaturan > database > Impor BIP > impor data penduduk 2 kali atau lebih

**Hasil yg diharapkan**

ketika pengguna mengimpor data penduduk akan mengupdate data yang sudah ada

[2021-12-16 02:59] agungsugiarto commented on #4588
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/523

[2021-12-16 02:59] #4588 closed, assigned to andifahruddinakas

[2021-12-16 03:28] redafirnando opened #4601 "Kode Widget Peta Desa"
Kode widget peta desa yang ada diadministrator tidak sengaja saya ubah menjadi statis,sehingga kode widget dinamis otomatis terhapus, mohon yang ada kode widget peta desa boleh dibagikan kesaya, terimakasih

[2021-12-16 05:17] balongbesuk commented on #4601
desa mana

[2021-12-16 09:52] agungsugiarto commented on #4558
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/522

[2021-12-16 09:52] #4558 closed, assigned to scqolbu24

[2021-12-17 02:15] scqolbu24 commented on #4598
sudah diperbaiki pada PR https://github.com/OpenSID/premium/pull/530

[2021-12-17 02:15] #4598 closed, assigned to andifahruddinakas

[2021-12-17 03:07] scqolbu24 commented on #4542
sudah diperbaiki melalui PR Ubah alur pembuatan surat keterangan lahir
https://github.com/OpenSID/premium/pull/525

[2021-12-17 03:07] #4542 closed, assigned to andifahruddinakas

[2021-12-17 04:10] scqolbu24 commented on #3663
untuk issue ini sepertinya tidak bisa diimplementasi karena kondisinya email dan telegram belum diverifikasi.
untuk memverifikasi email dan telegram perlu login dulu ke layanan mandiri.

[2021-12-17 06:10] eddieridwan commented on #3663
@scqolbu24 , beberapa kasus PIN baru:

1. Pendaftaran layanan mandiri secara online (https://github.com/OpenSID/OpenSID/issues/1760). Proses pendaftaran termasuk verifikasi email/telegram. PIN baru akan tampil di layar, dan juga dikirim ke email/Telegram.
2. Pendaftar layanan mandiri yg sudah ada, dan telah melakukan verifikasi email/Telegram. Jika meminta PIN baru melalui Layanan Mandiri, PIN aka

[2021-12-17 06:39] scqolbu24 commented on #4576
sudah diperbaiki melalui PR Sesuaikan hak akses dan buat konsisten. #524
https://github.com/OpenSID/premium/pull/524

[2021-12-17 06:39] #4576 closed, assigned to andifahruddinakas

[2021-12-17 07:13] scqolbu24 commented on #4561
sudah diperbaiki melalui PR Pemberitahuan rilis baru premium #508
https://github.com/OpenSID/premium/pull/508

[2021-12-17 07:13] #4561 closed, assigned to andifahruddinakas

[2021-12-17 07:21] #3876 closed

[2021-12-17 07:32] FirlianiF commented on #2767
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/531

[2021-12-17 07:36] #2767 closed

[2021-12-17 07:41] scqolbu24 commented on #4584
sudah ditambahkan fitur pada PR Libreoffice dan Fuction Exec() #518
https://github.com/OpenSID/premium/pull/518

[2021-12-17 07:41] #4584 closed, assigned to andifahruddinakas

[2021-12-17 07:52] FirlianiF commented on #4583
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/521

[2021-12-17 07:53] #4583 closed, assigned to andifahruddinakas

[2021-12-17 08:03] FirlianiF commented on #4595
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/529

[2021-12-17 08:03] #4595 closed, assigned to andifahruddinakas

[2021-12-17 08:08] scqolbu24 commented on #4596
Sudah diperbaiki melalui PR Perbaiki impor data suplemen #527
https://github.com/OpenSID/premium/pull/527

[2021-12-17 08:08] #4596 closed, assigned to andifahruddinakas

[2021-12-17 08:37] FirlianiF commented on #4593
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/526

[2021-12-17 08:41] #4593 closed, assigned to andifahruddinakas

[2021-12-17 08:55] scqolbu24 commented on #4574
Sudah diperbaiki untuk Tampilkan data artikel sesuai dengan pengaturan Grup dan Pengguna.

PR #520 Group pengguna untuk modul artikel https://github.com/OpenSID/premium/pull/520

[2021-12-17 08:55] #4574 closed, assigned to andifahruddinakas

[2021-12-17 09:16] scqolbu24 commented on #3663
baik pak sudah paham, terimakasih.

[2021-12-17 09:52] ariandii opened #4602 "[Layanan Pelanggan] Tidak Tampil Status Desa Terdaftar"
**Jelaskan error yg dialami**

<img width="319" alt="screenshot_27" src="https://user-images.githubusercontent.com/46939846/146525464-31fd04b4-fad5-492b-971d-e2e729396fd9.png">

<img width="399" alt="screenshot_26" src="https://user-images.githubusercontent.com/46939846/146525482-0eb40047-ec30-444f-b1ab-0c3aa8837d93.png">

[2021-12-18 04:26] andifahruddinakas opened #4604 "[Gambar Panduan]"
![sqlmode](https://user-images.githubusercontent.com/57283157/146628834-f78c2efb-11e1-45f8-a864-b2a62e7b26a6.png)

[2021-12-18 04:28] andifahruddinakas commented on #4604
Peta > Garis :
![peta4](https://user-images.githubusercontent.com/57283157/146628927-2f86d4f6-923b-42ee-b42a-7521f20bd021.png)
![peta3](https://user-images.githubusercontent.com/57283157/146628930-cd3ee787-2320-4073-ba20-b9d5d1dd85a7.png)

Peta > Tipe Garis :
![peta2](https://user-images.githubusercontent.com/57283157/146628931-54524a02-d9c9-463c-8838-fdfa8dd788a3.png)
![peta1](https://user-images

[2021-12-18 04:34] andifahruddinakas commented on #4601
Pak @redafirnando, untuk kasus seperti iin bisa bertanya digroup FB atau Telegram.

[2021-12-18 04:34] #4601 closed, assigned to nobody

[2021-12-18 09:20] eddieridwan opened #4605 "[Layanan Mandiri] Fitur Lupa Pin di Layanan Mandiri"
**Apa kekurangan yg ingin diatasi?**

Bagi pendaftar layanan mandiri yg telah verifikasi email/Telegram, perlu bisa membuat PIN baru dari halaman login Layanan Mandiri.

**Jelaskan solusi yg diinginkan**

- [ ] Sediakan tautan `Lupa PIN` di halaman Login Layanan Mandiri
- [ ] Setelah diklik, tampilkan form isian NIK pendaftar Layanan Mandiri, dengan penjelasan fitur ini hanya tersedia bagi pendaft

[2021-12-18 09:32] eddieridwan commented on #4605
Duplikat https://github.com/OpenSID/OpenSID/issues/4557.
Tutup yg ini.

[2021-12-18 09:32] #4605 closed, assigned to andifahruddinakas

[2021-12-18 23:42] afri18 opened #4606 "[Suplemen] Buat penyesuaia kolom scr dinamis, misanya tambah jenis kelamin."
**Apa kekurangan yg ingin diatasi?**
Untuk memudahkan pemilihan data (filter) di data rincian suplemen

**Jelaskan solusi yg diinginkan**
Sediakan pemilihan jenis kelamin alamat (dusun>rw>rt)
![image](https://user-images.githubusercontent.com/6611881/146658434-98531eb3-3963-440f-a736-a001c02d4767.png)

**Apakah ada alternatif lain**

**Untuk versi OpenSID mana**

**Informasi tambahan**

[2021-12-18 23:53] afri18 opened #4607 "[Suplemen] Statistik Suplemen di halaman web"
**Apa kekurangan yg ingin diatasi?**
Tampilkan Statistik Suplemen data sesuai sasaran , laki-laki dan perempuan di halaman web
............/data-suplemen/(sasaran suplemen)

**Jelaskan solusi yg diinginkan**

**Apakah ada alternatif lain**

**Untuk versi OpenSID mana**

**Informasi tambahan**

[2021-12-19 03:16] andifahruddinakas commented on #4607
Berkaian dgn issue https://github.com/OpenSID/OpenSID/issues/4332

[2021-12-19 03:17] andifahruddinakas commented on #4606
Berkaitan dengan issue https://github.com/OpenSID/OpenSID/issues/4422

[2021-12-19 03:18] andifahruddinakas commented on #4524
Silahkan dilengkapi.

[2021-12-19 03:18] #4524 closed, assigned to nobody

[2021-12-19 03:20] andifahruddinakas commented on #4533
Issue ini seabaiknya di pisah2 dan dirincikan. Untuk absesnsi sudah ada di issue https://github.com/OpenSID/OpenSID/issues/4323

[2021-12-19 03:22] andifahruddinakas commented on #4575
Silahkan buat group pengguna scr mandiri, untuk kasus issue https://github.com/OpenSID/OpenSID/issues/4576 sudah diperbaiki yg berkaitan dgn issue ini.

[2021-12-19 03:22] #4575 closed, assigned to nobody

[2021-12-19 03:35] eddieridwan opened #4608 "[Penduduk] Unggah dokumen kependudukan menggunakan kamera"
**Apa kekurangan yg ingin diatasi?**

Saat ini berkas dokumen kependudukan hanya bisa diunggah dari file, baik di Admin maupun melalui Layanan Mandiri. Untuk memudahkan, sediakan fitur untuk bisa mengunggah langsung dengan mengambil foto menggunakan kamera HP.

**Jelaskan solusi yg diinginkan**

Di form Penduduk > Upload Dokumen Penduduk > Tambah Dokumen dan ditempat lain mengunggah dan mengubah d

[2021-12-19 14:23] imamsyafiihreal commented on #3055
Saya barusan cek login ternyata admin - sid304 sudah tidak bisa lagi digunakan

[2021-12-19 15:16] tobagus6911 opened #4609 "[Suplemen] Buat Filter Wilayah untuk Anggota Suplemen"
**Apa kekurangan yg ingin diatasi?**
ingin ada filter wilayah untuk anggota suplemen

**Jelaskan solusi yg diinginkan**
misalnya kita buat Suplemen "Anak Yatim". itu kan anggotanya sedesa. ingin ada filter untuk kebutuhan data perwilayah

**Apakah ada alternatif lain**

**Untuk versi OpenSID mana**

**Informasi tambahan**

[2021-12-19 16:47] cepiandiana commented on #4608
Sepertinya tidak ada alasan terkait keamanan kalau fitur ini diterapkan..

Dengan tersedianya fitur ini, mungkin layanan mandiri akan semakin banyak digunakan oleh warga, karena terasa lebih simpel kalo begini..

[2021-12-19 20:03] boedyklose commented on #4608
Betul mas cepi...sy kira ini akan mepermudah pelayanan dan lebih efisien. Tidaklah buruk banyak ada pilihan yg lebih mempermudah...

[2021-12-20 02:34] FirlianiF commented on #4600
Issue sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/537

[2021-12-20 02:34] #4600 closed, assigned to andifahruddinakas

[2021-12-20 03:44] scqolbu24 commented on #4602
sudah diperbaiki melalui PR #4535 Status pelanggan desa
https://github.com/OpenSID/premium/pull/535

[2021-12-20 03:44] #4602 closed, assigned to andifahruddinakas

[2021-12-20 12:58] redafirnando commented on #4601
Mohon izin minta link telegramnya dan facebook,

Pada tanggal Sab, 18 Des 2021 11.34, Andi Fahruddin Akas <
***@***.***> menulis:

[2021-12-20 13:35] andifahruddinakas commented on #4601
https://www.facebook.com/groups/opensid/

[2021-12-20 19:52] Zoel-WB opened #4610 "Permohonan Penambahan Fitur Pendataan Warga Penerima Vaksin (Agak Mendesak/Penting) [Nama Modul]"
**Apa kekurangan yg ingin diatasi?**
Penambahan Fitur pada OpenSID Premium untuk dapat Mendata atau meng-entry data penerima Vaksin Covid-19 bagi warga, hal ini dibutuhkan karena setiap saat selalu kami harus melaporkan laporan warga-warga yg telah di vaksin baik untuk Kecamatan maupun Kapolset selalu memonitor terhadap capaian vaksin setiap hari-nya, ada pun penambahan fitur dimaksud bila di mung

[2021-12-20 20:00] DesaSungaikuti commented on #4610
Saya akan setuju jika pada fitur tersebut ada penjelasan tentang yang sakit berapa orang, TKI Berapa Orang , Luar Daerah Berapa Orang dan yang di tunda berapa orang tidak valid kalau hanya pakai keterangan saja dan tanda centang saja

[2021-12-20 20:00] DesaSungaikuti commented on #4610
Yang sudah Vaksin Berapa Orang dan yang belum berapa orang biar lebih valid

[2021-12-20 20:02] Zoel-WB opened #4611 "Tampilan Nilai Satuan Hasil Analisis di Fitur Master Analisis Saat di Unduh berubah menjadi Nilai Jutaan [Nama Modul]"
**Jelaskan error yg dialami**

Data Analisis saat di unduh ke excel, nilai satuan berubah menjadi jutaan

Harap tidak melaporkan masalah instal OpenSID. Masalah pada waktu install harap ditanyakan di https://www.facebook.com/groups/OpenSID atau di https://t.me/joinchat/SI0GWHeqKT39Gxhh, karena terkait sistem masing2 pengguna.

Berikan keterangan yg jelas dan singkat mengenai error yg dialami.
Past

[2021-12-20 20:08] Zoel-WB commented on #4610
Bentuk Format Laporan Data Penerima Vaksin
[Bentuk Laporan VAKSIN.xlsx](https://github.com/OpenSID/OpenSID/files/7747722/Bentuk.Laporan.VAKSIN.xlsx)

[2021-12-20 20:19] Zoel-WB commented on #4610
Yang perlu di data, yg  sudah mendatangi puskesmas untuk menerima di vaksin, begitu juga dengan yg tidak dapat divaksin dengan alasan keterangan dokter, kalau tidak mau divaksin atau menolak vaksin ini tak perlu kita data secara khusus. Vaksin ini adalah kebijakan tegas dari pemerintah dengan sejumlah sanksi-sanksi bila menolak divaksin, ada pengecualiannya yg tidak dapat di vaksin dengan alasan t

[2021-12-20 21:14] indriyanto commented on #4610
Jika segera terealisasi, ini sangat membantu desa2 dalam hal pendataan warga tervaksin. Karena selama ini kami menggunakan modul bantuan.

[2021-12-21 00:10] noerdini commented on #4610
coba ada kolom jenis vaksin nya dan kategori remaja, masyarakat umum, lansia, pelayan publik, dan tenaga kesehatan

[2021-12-21 02:10] balongbesuk commented on #4610
dinas kesehatan bikin sistem vaksin tp gak bisa download laporan warga yang sudah vaksin akhirny desa yang kena imbas kerja dua kali,

[2021-12-21 04:29] HerryWanda commented on #4610
Tambahan : TABEL : JUMLAH PENDUDUK, SASARAN DAN CAPAIAN VAKSIN DESA/NAGARI (NAMA DESA)

![image](https://user-images.githubusercontent.com/32125282/146873758-3ea57131-954e-4f5c-bae3-07ca99a9b615.png)

Dari tabel laporan diatas :
1. Tabel " Jumlah Sasaran " = Berdasarkan rentang umur 12 tahun s/d seterusnya .
2. Tabel pesentase " % " =
    % V1 = jumlah vaksin 1 / jumlah sasaran vaksin x 100
    %

[2021-12-21 04:39] Zoel-WB commented on #4610
Tambahan informasi sesuai dengan harapan teman-teman untuk menambah satu kolom untuk indentifikasi warga belum vaksin, untuk kolom "UPLOAD DOKUMEN" tidak mesti wajib akan tetapi kolom ini tetap dibutuhkan.

![image](https://user-images.githubusercontent.com/64481641/146872013-715132f8-b807-487c-aa94-d1c8d5e6f6e5.png)
[Bentuk Laporan VAKSIN.xlsx](https://github.com/OpenSID/OpenSID/files/7749595/Ben

[2021-12-21 07:16] scqolbu24 opened #4612 "[Penduduk] Verifikasi akun Email"
**Apa kekurangan yg ingin diatasi?**
Akun Email penduduk perlu diverifikasi supaya dapat digunakan sebagai pengganti bukti identitas.

**Jelaskan solusi yg diinginkan**
Di Layanan Mandiri, setelah penduduk ybs login:

- [x]  Sediakan tombol untuk verifikasi akun Email. Sistem akan mengirim kode berbatas waktu ke akun Email tersebut
- [x] Tampilkan form untuk mengisi kode yg dikirim tersebut
- [x]

[2021-12-21 13:28] tobagus6911 opened #4613 "[Artikel] Mohon bisa menghilangkan Artikel Headline"
**Apa kekurangan yg ingin diatasi?**
tidak bisa menghilangkan headline berita / artikel

**Jelaskan solusi yg diinginkan**
Mohon bisa menghilangkan Artikel Headline

[2021-12-21 13:29] tobagus6911 commented on #4610
setuju... penting

[2021-12-21 13:41] afri18 commented on #4610
Cocok nya di data kesehatan bukan terpisah, tambah data imunitas termasuk imun balita, viramin a dll, jadi pasnya di biodata penduduk
Itu menurut saya
Sementara saya madukan di suplemen, sayangnya data suplemen nggak ada statistik sasaran
Kalau tidak vaksin sudah ada pilihan penyakit menahun/bawaan

[2021-12-22 02:24] andifahruddinakas commented on #4604
Layanan Mandiri > Lapak

![lapak](https://user-images.githubusercontent.com/57283157/147024774-051d9f96-2307-4194-9c26-8ca04606fe55.png)
![lapak 1](https://user-images.githubusercontent.com/57283157/147024391-4496274b-43fb-461a-bb1e-831b7dcb5eb3.png)
![lapak2](https://user-images.githubusercontent.com/57283157/147024396-be4bd93d-6cf1-422c-9c38-2e60e35f3b3f.png)
![lapak3](https://user-images.github

[2021-12-22 02:41] andifahruddinakas commented on #4604
Panduan :
- [x] 1. [#4556](https://github.com/OpenSID/OpenSID/issues/4556) Tambahkan akun Telegram ke data penduduk.
- [x] 2. [#4518](https://github.com/OpenSID/OpenSID/issues/4518) Tambahkan lampiran Surat Keterangan Pindah Datang Penduduk F-1.27, F-1.31, F-1.39.
- [x] 3. [#4226](https://github.com/OpenSID/OpenSID/issues/4226) Perbaharui Versi Terbaru Blanko Pindah Datang F.1.03.
- [x] 4. [#4553]

[2021-12-22 02:44] andifahruddinakas commented on #4604
Pengaturan Layanan Mandiri :
![pengaturan lm 1](https://user-images.githubusercontent.com/57283157/147026725-5974f275-ca67-4bc2-b643-5ef69a4c2b53.png)
![pengaturan lm 2](https://user-images.githubusercontent.com/57283157/147026512-637a3558-5964-48e9-91fe-3cb7e9bac27b.png)
![pengaturan lm 3](https://user-images.githubusercontent.com/57283157/147026513-07f09036-d11a-4edb-ac04-294f19188805.png)
![pen

[2021-12-22 02:48] eddieridwan opened #4614 "[Lapak] Tambahkan keterangan di judul lokasi lapak"
**Apa kekurangan yg ingin diatasi?**

Judul tampilan lokasi lapak tidak berisi keterangan apa2, sehingga tidak jelas yg ditampilkan itu lokasi untuk apa.

![image](https://user-images.githubusercontent.com/249563/147027079-dc81d25f-4d3d-46e7-b5a2-e616f590c5d5.png)

**Jelaskan solusi yg diinginkan**

Tambahkan keterangan lapak apa yg ditampilkan.

**Untuk versi OpenSID mana**

pasca v21.12-premium

[2021-12-22 03:00] agungsugiarto commented on #3663
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/538

[2021-12-22 03:00] #3663 closed

[2021-12-22 03:12] agungsugiarto commented on #1760
Pak @eddieridwan, bagaimana dengan pertimbangan dari mas @andifahruddinakas ini?
Sementara validasi dibawah ini rawan jika sebelumnya data sudah bocor?
- [ ] NIK
- [ ] KK
- [ ] Tanggal Lahir
- [ ] Nomor HP
- [ ] Email
- [ ] Telegram
- [ ] Scan KTP
- [ ] Scan KK
- [ ] Foto Selfie

[2021-12-22 03:12] andifahruddinakas commented on #4604
Demo Mode :
![demo 1](https://user-images.githubusercontent.com/57283157/147029126-4263b429-b524-4b63-8693-f689b4528e85.png)
![demo](https://user-images.githubusercontent.com/57283157/147029226-d3b088f2-23cf-4f35-83f8-38d84e398595.png)
![demo2](https://user-images.githubusercontent.com/57283157/147029231-988ec118-2193-4028-9f9f-78fc1b763b04.png)

[2021-12-22 03:28] eddieridwan commented on #1760
- [ ] Tambahkan pengaturan untuk me-aktif/nonaktifkan fitur pendaftaran Layanan Mandiri ini. Jadi desa bisa memilih untuk tidak menyediakan.

Dengan begitu banyaknya data identitas yg perlu disediakan, termasuk foto selfie, saya kira kecil sekali kemungkinan adanya orang yg secara sengaja mengambil data identitas orang lain hanya untuk mendapatkan akses ke Layanan Mandiri.

Sebagai langkah standar

[2021-12-22 03:43] scqolbu24 commented on #1760
baik pak, siap mengerjakan.

[2021-12-22 04:18] #4614 closed, assigned to andifahruddinakas

[2021-12-22 04:50] andifahruddinakas commented on #4613
baca panduan https://github.com/OpenSID/OpenSID/wiki/Artikel

![asdasdad](https://user-images.githubusercontent.com/57283157/147037437-1291da0b-82df-4b17-b380-88faac98180a.png)

[2021-12-22 04:50] #4613 closed, assigned to nobody

[2021-12-22 06:00] andifahruddinakas commented on #4411
Sudah di gabung ke FITUR PREMIUM melalui PR https://github.com/OpenSID/premium/pull/533

[2021-12-22 06:00] #4411 closed, assigned to nobody

[2021-12-22 06:01] eddieridwan commented on #4614
@andifahruddinakas , kalau sudah diterapkan, mohon perbaiki contoh tangkapan layar dan di panduan.

[2021-12-22 07:04] andifahruddinakas commented on #4604
![lapak 8](https://user-images.githubusercontent.com/57283157/147049938-b2f2cc95-cb92-413b-b9f6-1bb31e993b1e.png)

[2021-12-22 07:06] andifahruddinakas commented on #4611
Pak @Zoel-WB, sy cek tdk ada masalah. Bisa kirim contoh ke telegram sy, atau bisa di duplikasi ke website demo.

[2021-12-22 07:07] andifahruddinakas commented on #4611
![coba](https://user-images.githubusercontent.com/57283157/147050352-890717f5-1df3-4ab8-8814-4fea02843d93.png)

![coba2](https://user-images.githubusercontent.com/57283157/147050435-66020598-64f5-42b8-b284-781f50e1db0e.png)

[laporan_hasil_analisis_penduduk_22_12_2021 (2).xls](https://github.com/OpenSID/OpenSID/files/7760668/laporan_hasil_analisis_penduduk_22_12_2021.2.xls)

[2021-12-22 11:14] Zoel-WB commented on #4611
Baik saya coba masukkan ke demo, karena saya koq 40 juta utk satuan nilai 4

[2021-12-22 15:17] totoprayogo1916 opened #4617 "Migration"
Ini apakah emang diletakkan disini ya berkas migrasinya?
didalam Models
https://github.com/OpenSID/OpenSID/tree/umum/donjo-app/models

sedangkan di pengaturan tidak dalam direktori tsb
https://github.com/OpenSID/OpenSID/blob/b88ddde03fad48f9798a6289514e7faae38f2e79/donjo-app/config/migration.php#L84

[2021-12-23 01:58] andifahruddinakas commented on #4617
Migrasi yg digunakan di OpenSID bukan bawaan Codeigniter 3 melainkan modifikasi sendiri sesuai kebutuhan.

[2021-12-23 01:58] #4617 closed, assigned to nobody

[2021-12-23 14:03] noorrofiq opened #4619 "[Pertanahan] Unggah lembaran C Desa."
**c desa bisa upload lembaran c desa yg ada di desa?**

**bisa upload c desa, jadi sewaktu kita mencari arsip c desa lgs bisa di lihat dokumen aslinya**

**Apakah ada alternatif lain : tidak ada, ini sudah cukup**

**Untuk versi OpenSID mana : terserah**

**Informasi tambahan: tidak ada**

[2021-12-24 04:34] tobagus6911 opened #4620 "[Pengaturan Grup Pengguna] hasil edit/Perubahan Otoritas/fungsi di grup Pengguna tidak merubah User yang menggunakan grup pengguna tersebut"
**Jelaskan error yg dialami**
hasil edit/Perubahan Otoritas/fungsi  di grup Pengguna tidak merubah User yang menggunakan grup pengguna tersebut

**Cara untuk mereplikasi errornya**
- saya membuat grup pengguna baru namanya "Kependudukan"
- Lalu saya buat User baru dengan menggunakan grup pengguna tersebut / "Kependudukan"
- Lau saya edit fungsi/ otoritas grup pengguna tersebut ("Kependudukan")
- U

[2021-12-24 06:02] andifahruddinakas commented on #4620
Ya, krn di simpan di cache. Mungkin perlu hapus cache saat ubah pengaturan pengguna maupun group.

[2021-12-24 11:56] emanuel-simon commented on #4582
up dulu

[2021-12-24 14:31] muhtar-coder commented on #4610
usulan kawan2 di atas dah mantap dan tentunya bisa view di web dengan grafik dan percentase nya

[2021-12-24 16:04] Zoel-WB commented on #4610
Bila dimungkin ada laporan capaian seperti berikut, menggunakan tombol unduh excel barangkali  sudah mencukupi:
![image](https://user-images.githubusercontent.com/64481641/147363585-2615edb8-0c26-4397-8376-d34c48696610.png)

[2021-12-24 16:07] Zoel-WB commented on #4610
Ini sudah ada rupanya......

[2021-12-24 17:38] ariandii opened #4621 "[Login Admin] Tersedia Setting Waktu untuk Akhiri Sesi Login Halaman Admin"
**Apa kekurangan yg ingin diatasi?**

Terkadang Operator lupa logout Halaman admin, sehingga khawatir disalahgunakan pihak lain.

**Jelaskan solusi yg diinginkan**

Adanya pengaturan waktu logout otomatis dengan menuju ke tampilan layar sebagai contoh gambar berikut:.
![photo_2021-12-25_00-37-05](https://user-images.githubusercontent.com/46939846/147367276-4dccf0b4-5623-44c4-88de-10f20dbd20c8.jpg)

[2021-12-25 04:00] andifahruddinakas commented on #4620
Sudah diperbaiki di rilis premium

[2021-12-25 04:00] #4620 closed, assigned to andifahruddinakas

[2021-12-25 07:26] andifahruddinakas commented on #4611
Sudah digabung ke `FITUR PREMIUM` melalui commit https://github.com/OpenSID/premium/commit/5537d6fcef8097d729330f71ce8746fc52de1a6a

[2021-12-25 07:26] #4611 closed, assigned to andifahruddinakas

[2021-12-25 23:10] eddieridwan opened #4622 "[Impor Penduduk] Tidak boleh hapus data penduduk jika data penduduk sudah lengkap"
**Apa kekurangan yg ingin diatasi?**

Saat ini pilihan 'Hapus data penduduk sebelum impor' selalu tersedia meskipun data penduduk sudah dinyatakan lengkap. Sehingga pengguna menggunakan fitur impor data penduduk berulang-ulang meskipun seharusnya hanya dilakukan sekali pada waktu memuat data penduduk pertama kali saja.

**Jelaskan solusi yg diinginkan**

- [x] Cegah menghapus data penduduk pada wa

[2021-12-26 01:49] eddieridwan commented on #4622
Sdh dicommit ke `rilis-dev`.

[2021-12-26 01:49] #4622 closed, assigned to eddieridwan

[2021-12-26 23:42] FirlianiF opened #4623 "[BUG] Jumlah data suplemen yang tampil di user tidak valid"
**Jelaskan error yg dialami**

Saat ini data yang yang tampil di admin dengan yang tampil di user jumlah nya tidak sesuai,

contoh: di https://berputar.opensid.or.id/suplemen Data yg sdh di input ada 14 org, sedangkan di https://berputar.opensid.or.id/data-suplemen/data-vaksin-covid-19-warga-rt001001 yang tampil di user hanya 10 org.

**Cara untuk mereplikasi errornya**

**Hasil yg diharapkan**

S

[2021-12-27 01:28] andifahruddinakas commented on #4623
Sudah diperbaiki di` FITUR PREMIUM` melaui commit https://github.com/OpenSID/premium/commit/3d71044e1f5168494a7e817711c5e2b2fb7194fd

[2021-12-27 01:28] #4623 closed, assigned to andifahruddinakas

[2021-12-27 02:09] tobagus6911 opened #4624 "[Layanan Mandiri] Berhasil Ganti PIN tidak mesti login ulang."
**Jelaskan error yg dialami**
Tampilan Ganti PIN Tidak bisa hilang walau sudah ganti PIN Pada Login Perdana / Awal
penanganan sementara yang dilakukan adalah log out dulu lalu login lagi dengan PIN yang baru. walaupun belum yakin apakah PIN nya sudah sukses digannti. akan tetapi beberapa kali berhasil dengan cara tersebut

**Cara untuk mereplikasi errornya**

**Hasil yg diharapkan**
setalah berhas

[2021-12-27 11:01] tobagus6911 commented on #4624
setelah ganti PIN tidak langsung masuk juga ga apa. asalkan setelah sukses ganti pin langsung logout. jadi tidak membingungkan

[2021-12-27 11:28] andifahruddinakas commented on #4624
Setelah ganti PIN akan ada notifikasi untuk lakukan login ulang.

[2021-12-27 11:32] tobagus6911 commented on #4624
sip. mantap

[2021-12-28 08:07] scqolbu24 commented on #1760
Pak @eddieridwan, mau menanyakan ketika proses pendaftaran dan verifikasi diperlukan Nomor KK atau tidak?

[2021-12-28 14:26] totoprayogo1916 opened #4629 "Link sembarang bisa diinputkan di sosmed?"
**Jelaskan error yg dialami**
LINK sembarang bisa diinput ke sosmed manapun

![image](https://user-images.githubusercontent.com/2387514/147575910-8c050465-22d6-4558-95b4-9243f2f82cbd.png)

**Cara untuk mereplikasi errornya**
input saja di URL sosmed, misal link : http://localhost:1000/index.php/sosmed

**Hasil yg diharapkan**

Hanya link terkait yang bisa diinputkan
misal di tab facebook, maka han

[2021-12-28 14:27] totoprayogo1916 commented on #4629
baru ngetest setelah #4628

[2021-12-28 17:28] #512 closed

[2021-12-28 17:28] andifahruddinakas commented on #512
Sudah digabung ke `FITUR PREMIUM` melalui PR https://github.com/OpenSID/premium/pull/542

[2021-12-28 17:44] #4571 closed, assigned to andifahruddinakas

[2021-12-28 23:37] tobagus6911 opened #4630 "[Artikel] & [Galeri] selain Upload foto. mohon bisa juga Link/embed"
**Apa kekurangan yg ingin diatasi?**
selain Upload foto. mohon bisa juga Link/embed dari tempat lain (misalnya dari google foto)
hal ini dapat meringankan beban hosting / atau dalam backup folder desa

[2021-12-29 13:58] #4180 closed

[2021-12-29 15:04] #4610 closed, assigned to apidong

[2021-12-29 16:03] #4497 closed, assigned to FirlianiF

[2021-12-29 16:12] #4557 closed, assigned to andifahruddinakas

[2021-12-30 03:32] andifahruddinakas opened #4631 "[Keuangan] Impor Siskuedes kolom tdk ditemukan"
**Jelaskan error yg dialami**

**Cara untuk mereplikasi errornya**

**Hasil yg diharapkan**

**Tampakan layar dan log error**

**Versi OpenSID**

**Tema Yg Digunakan**

**Informasi tambahan**

[2021-12-30 03:33] andifahruddinakas opened #4632 "[Keuangan] Pengecekan versi sikuedes saat melakukan impor"
**Jelaskan error yg dialami**

**Cara untuk mereplikasi errornya**

**Hasil yg diharapkan**

**Tampakan layar dan log error**

**Versi OpenSID**

**Tema Yg Digunakan**

**Informasi tambahan**

[2021-12-30 03:54] andifahruddinakas opened #4633 "Testing"
Lakukan pengecekan ulang :

#### Penambahan Fitur
- [x] 1. [#4137](https://github.com/OpenSID/OpenSID/issues/4137) Sekarang Status IDM Desa bisa ditampilkan untuk tahun pilihan.
- [x] 2. [#4171](https://github.com/OpenSID/OpenSID/issues/4171) Di Pengaturan > QR Code scan tombol Kunjungi Website sekarang hanya tampil jika ada url valid di isi QR Code yg di-scan.
- [x] 3. [#4183](https://github.com/

[2021-12-30 04:26] #4633 closed, assigned to nobody

[2021-12-30 12:24] Zoel-WB opened #4635 "Permintaan Penyediaan Tombol Hapus Dan Tanda Conteng Pilihan Hapus Data Pada Fitur Suplemen [Nama Modul]"
**Apa kekurangan yg ingin diatasi?**
Permintaan Agar dapat menambah Tambah Tombol Hapus Dan tanda Conteng Pilihan pada Data yg perlu di hapus Pada Fitur Suplemen, hal ini di perlukan untuk dapat merubah atau mengganti data lama yang tidak lagi relevan, untuk saat ini hanya menghapus data satu-persatu, bila jumlah data yg ingin hipus banyak akan memakan waktu dan rumit.

Beri keterangan singkat dan

[2021-12-31 02:16] emanuel-simon opened #4636 "[Template Surat] Data Tidak Muncul Di Hasil Unduhan Surat Keterangan Nikah Untuk Warga Non Muslim (PDF & RTF)"
**Jelaskan error yg dialami**

Hasil unduhan baik .rtf maupun .pdf hanya berupa format kosong, data yang diinput di form seperti nama, NIK dan lainnya tidak muncul.

**Cara untuk mereplikasi errornya**

Dicoba di https://berputar.opensid.or.id/surat/form/surat_ket_nikah_non_muslim

**Hasil yg diharapkan**

Ada beberapa isian di form yang tidak sesuai dengan format F.2-12, mohon disesuaikan
**Tampa

[2021-12-31 05:34] andifahruddinakas commented on #4636
Silahkan di cek ulang

[2021-12-31 06:18] eddieridwan opened #4637 "[Arsip Desa] Tambah modul untuk memudahkan pencarian dokumen di arsip fisik desa"
**Apa kekurangan yg ingin diatasi?**

Di OpenSID belum ada fitur untuk menemukan lokasi dokumen di arsip fisik desa.

**Jelaskan solusi yg diinginkan**

Terapkan Arsip Desa sederhana.

1. mengumpulkan di satu modul semua dokumen yg diarsipkan
2. dokumen yg diarsipkan terdiri dari beberapa kategori. Untuk tahap awal terbatas pada kategori dokumen yg sudah tersimpan di OpenSID, termasuk Peraturan De

[2021-12-31 08:03] emanuel-simon commented on #4636
Pak @andifahruddinakas
Sediakan juga pilihan saksi dari warga desa atau dari luar desa
![suket nikah3](https://user-images.githubusercontent.com/48465803/147811052-ba12d968-361c-44d2-b1ed-fc17cc3fc317.png)

Barusan saya coba di [berputar](https://berputar.opensid.or.id/surat/form/surat_ket_nikah_non_muslim) hasil unduhan belum memunculkan data, masih berupa form kosong

[2021-12-31 08:21] scqolbu24 commented on #4610
Pada form pendataan Vaksin Covid 19 ada pilihan upload Dokumen/Sertifikat, namun belum ada tombol/menu untuk menampilkan dokumen/sertifikat yang sudah diupload tersebut

[2022-01-01 07:37] scqolbu24 opened #4641 "[Vaksin] Filter pada Input data dan Form cetak rekap laporan masih belum berfungsi"
### Jelaskan error yg dialami

Ada beberapa error yang dialami pada saat melakukan filter data dan unduh data vaksin serta pada cetak laporan pada pilihan dipilih atau tidak dipilih tidak berfungsi.

### Cara untuk mereplikasi errornya

Ada beberapa bug pada fitur vaksin covid :

- [x] Pada laporan cetak fitur vaksin—-> mengikuti batasan filter data pada form input data
- [x] Filter pada Input dat

[2022-01-01 08:53] scqolbu24 opened #4642 "[Kependudukan] Edit Data Penduduk terjadi Error"
### Jelaskan error yg dialami

Pada saat edit data penduduk terjadi error

### Cara untuk mereplikasi errornya

1. Menu Kependudukan
2. Klik Penduduk
3. Klik Tombol "Pilih Aksi"
4. Pilih Ubah Biodata Penduduk

### Hasil yg diharapkan

Dapat mengubah data penduduk

### Tangkapan layar dan log error

<img width="673" alt="1ubah data penduduk" src="https://user-images.githubusercontent.com/68048807/1

[2022-01-01 09:08] andifahruddinakas commented on #4610
Di buat issue terpisah krn sudah masuk rilis.

[2022-01-01 09:30] guwakidul2808 opened #4643 "Permintaan fitur: Penambahan menu import data penerima vaksin"
### Apa kekurangan yg ingin diatasi?

Vaksin sudah berjalan, sudah ribuan yg divaksin, kalau input data secara manual, ini akan sangat makan waktu dan melelahkan, jadi mohon ada menu import data seperti kita menginput data penduduk

### Jelaskan solusi yg diinginkan

Ada cara untuk input data penerima Vaksin dg cara import seperti import data penduduk

### Apakah ada alternatif lain

Ga ada

### U

[2022-01-01 11:38] Zoel-WB opened #4644 "Permintaan fitur : Tambahan Menu Pada Admin Web untuk dapat mempublikasikan Daftar Nama Warga yg telah di vaksin"
### Apa kekurangan yg ingin diatasi?

Permintaan untuk Menu publikasi pada admin web untuk dapat menampilkan Daftar Nama-Nama Warga yang telah divakasin di website desa secara publikasi.

Warga juga sangat menarik dengan adanya tampilan nama-nama mereka di web, selama ini data yg kita publikasi yg bersumber dari data Suplemen.

Adapun data yg perlu dipulikasikan hampir sama dengan publikasi data s

[2022-01-01 12:31] MUHAMMADRANGSEL commented on #4642
mudah2an segera di kerjakan karena ini sangat menggangu sekali

[2022-01-01 12:33] MUHAMMADRANGSEL commented on #4643
setuju

[2022-01-01 12:34] MUHAMMADRANGSEL commented on #4644
sangat setuju

[2022-01-01 12:39] MUHAMMADRANGSEL commented on #4641
Rentang umur juga saya rasa dibutuhkan di daftar penerima, mengingat sekarang ini data yang muncul di daftar penerima semua penduduk yang muncul

[2022-01-01 12:40] MUHAMMADRANGSEL commented on #4630
setuju

[2022-01-01 12:41] MUHAMMADRANGSEL commented on #4621
setuju

[2022-01-01 14:18] Zoel-WB commented on #4621
Mantap...

[2022-01-01 15:37] ai-skematik opened #4645 "Bug/error: Tampilkan pembangunan tahun terbaru pada bagian atas"
### Jelaskan error yg dialami

Tampilkan pembangunan tahun terbaru pada bagian atas

### Cara untuk mereplikasi errornya

tambahkan data pembangunan lebih dari 1 tahun, maka yang tampil pada web tahun yang paling lama

### Hasil yg diharapkan

tampilkan tahun terbaru pada bagian atas

### Tangkapan layar dan log error

![gambar](https://user-images.githubusercontent.com/48144047/147854180-f90130ce

[2022-01-01 15:48] ai-skematik opened #4646 "Bug/error: Duplikat data pendataan sebelumnya tidak berfungsi"
### Jelaskan error yg dialami

Duplikat data pendataan sebelumnya  pada modul analisis tidak berfungsi

### Cara untuk mereplikasi errornya

Buat periode analisis lalu isi datanya, kemudian buat periode baru dan pilih duplikat data pendataan sebelumnya. saat isi survei dengan periode baru data kosong dan data periode sebelumnya tidak terduplikat ke periode baru.

### Hasil yg diharapkan

Duplikat

[2022-01-02 01:13] scqolbu24 commented on #4610
untuk menampilkan dokumen/sertifikat dibuatkan issue pada link berikut : [[Vaksin] Filter pada Input data dan Form cetak rekap laporan masih belum berfungsi ](https://github.com/OpenSID/OpenSID/issues/4641)

[2022-01-02 06:03] andifahruddinakas commented on #4555
[form.zip](https://github.com/OpenSID/OpenSID/files/7798636/form.zip)

[Referensi_model.zip](https://github.com/OpenSID/OpenSID/files/7798655/Referensi_model.zip)

[2022-01-02 07:15] sulaimanlawidhub commented on #4642
Sangat diharapkan agar error atau bug ini dapat disegera datangkan solusi, karena sangat diperlu dan merupakan fitur yang digunakan setiap saat oleh desa dalam menyesuaikan perubahan data penduduk.

[2022-01-02 07:17] andifahruddinakas commented on #4642
Akan disediakan versi perbaikan (rev), namun jika belum ada bisa gunakan solusi sesuai panduan berikut : https://github.com/OpenSID/OpenSID/wiki/Tanya-Jawab-Migrasi

[2022-01-02 10:04] eddieridwan opened #4651 "Tambah tag_id_card bagi pamong yang bukan penduduk desa"
Untuk digunakan verifikasi di form absensi

[2022-01-02 10:04] eddieridwan opened #4652 "Kaitkan pamong dengan akun pengguna"
Setiap pamong yang bisa absensi perlu mempunyai akun pengguna.

Kaitkan akun pengguna dengan data pamong ybs.

Nama akun dan sandi pengguna digunakan untuk verifikasi perangkat di form absensi.

[2022-01-02 10:04] eddieridwan opened #4653 "Sediakan form khusus untuk Gawai Rekam Hadir"
Form ini untuk verifikasi bahwa gawai yang digunakan adalah yang tercatat sebagai Gawai Rekam Hadir.

Rancang layout untuk tablet. Gawai Rekam Hadir berupa tablet yg terpasang di dinding di tempat memasuki ruang kantor desa.

- [x] Sediakan pengaturan mencatat mac address dari Gawai Rekam Hadir
- [x] Saat form ditampilkan, minta isi mac address dari gawai yg digunakan.
- [x] Gagal jika isian bukan

[2022-01-02 10:04] eddieridwan opened #4654 "Sediakan form absensi"
Rancang form untuk tablet. Gawai Rekam Hadir berupa tablet yg terpasang di dinding di tempat memasuki ruang kantor desa.

Form ini hanya ditampilkan paling cepat dua jam sebelum jam kerja mulai pada hari kerja, dan paling lambat dua jam setelah jam kerja berakhir pada hari kerja.

Perangkat mencatat hadir atau keluar menggunakan:

1. scan eKTP, atau
2. NIK & sandi pengguna, atau
3. nama akun & san

[2022-01-02 10:45] eddieridwan opened #4655 "Sediakan fitur jam kerja"
Form untuk menentukan jam kerja standar setiap hari Senin-Minggu.

Juga tanggalan untuk menentukan hari libur.

Sediakan method untuk bisa periksa apakah tgl/jam tertentu adalah jam kerja atau tidak.

[2022-01-02 10:45] eddieridwan opened #4656 "Cron job untuk menyatakan semua perangkat keluar"
Pada dua jam setelah jam kerja berakhir pada hari kerja, jalankan cron job untuk menandai semua perangkat yang masih hadir sebagai sudah keluar, dengan status `lupa melapor keluar`.

[2022-01-02 10:49] apidong commented on #4641
untuk laporan rekap, perhitungan nya seperti apa yg benar?
untuk kolom vaksin 1,2,3, jumlah,   dan perhitungan presentasenya

[2022-01-02 10:58] eddieridwan opened #4657 "Tampilkan status hadir/keluar"
Status perangkat hadir atau keluar ditampilkan di:

- [x] widget Perangkat Desa

- [x] daftar perangkat di Admin

- [x] Layanan Mandiri

[2022-01-02 10:58] eddieridwan opened #4658 "Laporkan perangkat absen tanpa diketahui"
Di Layanan Mandiri, warga dapat melaporkan perangkat desa yg terlihat hadir tetapi ternyata diketahui tidak ada di kantor desa.

Yaitu di Layanan Mandiri perangkat ybs tampil sebagai hadir di kantor desa, tetapi pada waktu dihubungi ternyata tidak ada. Warga dihimbau untuk melaporkan perangkat desa tersebut, dengan menandai perangkat desa tersebut sebagai absen tanpa diketahui. Identitas warga yg

[2022-01-02 11:02] eddieridwan opened #4659 "Beri catatan pada laporan absen tanpa diketahui"
Laporan dari warga terkait kehadiran perangkat desa yg absen tanpa diketahui dapat diberi catatan oleh petugas pengawas kantor desa. Misalnya, petugas yg berwenang tersebut dapat memberi penjelasan terkait ketidak hadiran seorang perangkat desa.

[2022-01-02 11:04] eddieridwan opened #4660 "Sediakan laporan absensi"
- [x] Disediakan laporan absensi untuk rentang waktu tertentu. Pilihan rentang default: hari ini, minggu ini, bulan ini. Selain itu, juga dapat ditentukan rentang waktu secara bebas.
- [x] Laporan absensi berisi identitas perangkat desa, tanggal, berapa jam masuk pada tanggal, tanda tidak melapor keluar, tanda absen tidak diketahui
- [x] Laporan absensi bisa difilter untuk perangkat desa tertentu,

[2022-01-02 12:25] rudiansyahyunanda commented on #4658
Sediakan Barcode Scan Kehadiran Perangkat desa seperti check point **peduli lindungi** yang memiliki zona (radius) yang dapat melakukan cek kehadiran.

[2022-01-02 13:01] andifahruddinakas commented on #4641
@scqolbu24

[2022-01-03 00:07] eddieridwan commented on #4637
Catatan teknis:

1. Bisa gunakan query `union` untuk menggabungkan dokumen dari berbagai modul (dan tabel), untuk menampilkan di daftar semua dokumen yg dikenal OpenSID.

[2022-01-03 01:52] totoprayogo1916 opened #4661 "Bug/error: jQuery di panggil 2 kali"
### Jelaskan error yg dialami

berkas jQuery ataupun assets lainnya mestinya cukup dipanggil sekali saja.
ini duplikat pada
https://github.com/OpenSID/OpenSID/blob/51180672afb31cf6a1c021c281049c5b05a911c7/donjo-app/views/layanan_mandiri/template.php#L88-L89

https://github.com/OpenSID/OpenSID/blob/51180672afb31cf6a1c021c281049c5b05a911c7/donjo-app/views/layanan_mandiri/template.php#L278-L279

###

[2022-01-03 02:05] totoprayogo1916 opened #4662 "opsi pada `order_by()`"
silakan baca dokumentasi: https://codeigniter.com/userguide3/database/query_builder.html#ordering-results
opsi pada `order_by` berupa string dan bukan sebagai konstanta

https://github.com/OpenSID/OpenSID/blob/51180672afb31cf6a1c021c281049c5b05a911c7/donjo-app/models/Mandiri_model.php#L102-L126

[2022-01-03 02:49] agungsugiarto opened #4663 "[Kependudukan] Edit Data Penduduk terjadi Error telegram"

[2022-01-03 03:50] #4663 closed, assigned to scqolbu24

[2022-01-03 03:50] agungsugiarto commented on #4663
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/556

[2022-01-03 03:50] agungsugiarto commented on #4642
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/556

[2022-01-03 03:50] #4642 closed, assigned to scqolbu24

[2022-01-03 03:59] scqolbu24 opened #4664 "[Kependudukan] Wajib Identitas menyesuaikan umur dan status perkawinan"
### Jelaskan error yg dialami

Status Wajib identitas pada saat input umur yang lebih dari 16 tahun dan status perkawinan.

### Cara untuk mereplikasi errornya

1. Pada Halaman Admin Klik Kependudukan
2. Pilih Penduduk
3. Tambah Penduduk
4. Pada Status Kepemilikan Identitas Jika Umur Melebihi 16 tahun dan Status Perkawinan Selain Belum Kawin maka Wajib Identitas statusnya menjadi Wajib

### Versi

[2022-01-03 04:56] makhbub opened #4665 "Sediakan Filter Bantuan aktif dan tidak aktif Pada Statistik Bantuan Keluarga"
### Jelaskan error yg dialami

pada Statistik Kependudukan >Statistik Bantuan > Statistik Bantuan Keluarga seluruh rekap data bantuan baik yang aktif maupun tidak aktif masih muncul di statistik

seharusnya yang dimunculkan hanya yang aktif

### Cara untuk mereplikasi errornya

Statistik Kependudukan >Statistik Bantuan > Statistik Bantuan Keluarga

### Hasil yg diharapkan

menyikapi Perpres 104 ta

[2022-01-03 05:08] Zoel-WB commented on #4641
Untuk Rekap Jumlah Warga yang telah divaksin mengacu pada jumlah atau Rekap Laporan, diambil dari rekap vaksin satu saja.... yg perlu dijumlahkan rekap dusun yg rekap jumlah vaksin dosis 1 dusun yg bersangkutan, khusus untuk yh rekap jumlah totalnya saja kseluruhan, sedang kan untuk jumlah masing2 kolom dosis 1, dosis 2, dosis 3 sudah cocok bentuknya memang seperti itu.

![image](https://user-imag

[2022-01-03 05:12] andifahruddinakas commented on #4641
Mas @apidong, kalau masih kurang jelas bisa hubungi pak @Zoel-WB

[2022-01-03 05:17] Zoel-WB commented on #4641
![image](https://user-images.githubusercontent.com/64481641/147901242-fca9f3cb-86d6-479d-9d8d-a4b889258abe.png)

Bentuk Rekap-nya yang ada sekarang sudah sangat cocok sebenarnya seperti pada system sekarang :

![image](https://user-images.githubusercontent.com/64481641/147901322-3c226a2e-0f1b-490f-b2eb-61f8ae8d7e64.png)

[2022-01-03 05:25] Zoel-WB commented on #4641
cc : Pak @andifahruddinakas , Pak @apidong
1. Untuk Jumlah Persentasse yg belum di vaksin kalau manual sering kami buat Rumusnya = { (Jlh Sasaran Vaksin)-(Jlh yg vaksin dosis satu) } / (Jlh Sasaran Vaksin)

2. Untuk Jumlah Persentasse yg sudah di vaksin kalau manual sering kami buat Rumusnya = { (Jlh masing2 Vaksin ) / (Jlh Sasaran Vaksin) }

[2022-01-03 05:39] Zoel-WB commented on #4641
Agak penting sekali untuk di input cepat, saat ini untuk memasukkan data vaksin satu masih dapat kontrol, sedangkan saat memasukkan data vaksin dua dan tiga, agak sulit di kontrol, karena setelah data vaksin dosis dua dimasukkan, jumlah data pada vaksi dosis di terkurangi jumlah di kolom vaksin dosis satu.

1. Saat dimasukan Data Vaksin Dosis Satu
![image](https://user-images.githubusercontent.com

[2022-01-03 05:46] apidong commented on #4641
seharusnya gimana pak?
apakah ketika vaksin 2 di input, vaksin 1 tetap 80 dan vaksin 2 menjadi 1?

[2022-01-03 05:57] Zoel-WB commented on #4641
Iya benar Pak Vaksin Dosis Satu Jumlahnya tetap misal-nya seperti ilustrasi pada screensote walaupun telah di vaksin dosis dua data vaksin satu tidak terkurangi, ada jumlah tersendiri di masing-masing vaksin Pak.

[2022-01-03 06:48] andifahruddinakas commented on #4641
Mas @apidong Ambil dari branch https://github.com/OpenSID/premium/tree/perbaikan-vaksin

[2022-01-03 08:15] totoprayogo1916 opened #4667 "Lisensi & Copyright"
banyak dari file-file openSID yang mestinya sudah diperbarui (gak tau kalo versi premium)
dari contoh sederhana saja,
mestinya tiap file yang ada pada direktori `donjo-app` sudah update copyright nya
sedangkan ini sudah tahun 2022, tapi rilis terakhir ini masih menggunakan tahun sebelumnya (2020 dll)

awalnya, saya hendak merubah sedikit-demi-sedikit lewat #4615
tapi disarankan menggunakan php-cs-

[2022-01-03 08:46] scqolbu24 opened #4668 "[Layanan Mandiri] Erorr pada saat verifikasi telegram dengan akun yang sama (Duplicate entry)"
### Jelaskan error yg dialami

Pada saat verifikasi telegram jika akun yang digunakan sudah terdaftar akan terjadi error 500 : duplicate entry

### Cara untuk mereplikasi errornya

1. Login di Layanan Mandiri
2. Klik Tombol Verifikasi
3. Pada Langkah 2 Kirim user ID dengan akun telegram yang sudah terdaftar

### Hasil yg diharapkan

Muncul Pesan bahwa akun Telegram yang dimasukkan sudah terdaftar

[2022-01-03 10:49] eddieridwan opened #4669 "[User] Verifikasi akun email"
### Apa kekurangan yg ingin diatasi?

Akun Email pengguna admin perlu diverifikasi supaya dapat digunakan sebagai pengganti bukti identitas.

### Jelaskan solusi yg diinginkan

Setelah login admin, di form profil pengguna:

- [ ] Tampilkan email pengguna
- [ ] Jika email pengguna belum diverifikasi, sediakan tombol untuk verifikasi akun Email. Sistem akan mengirim kode berbatas waktu ke akun Email

[2022-01-03 11:11] eddieridwan opened #4670 "[User] Lupa/reset password"
### Apa kekurangan yg ingin diatasi?

Saat ini jika pengguna lupa password, perlu meminta diganti melalui administrator. Sebaiknya bisa mengubah sendiri.

### Jelaskan solusi yg diinginkan

Sediakan fitur `Lupa Password` di halaman login Admin.

- [ ] Sediakan tautan `Lupa Password` di halaman Login Admin
- [ ] Setelah diklik, tampilkan form isian email pengguna, dengan penjelasan fitur ini hanya

[2022-01-03 14:12] totoprayogo1916 opened #4672 "Permintaan fitur: Pencatatan IP pada komentar"
### Apa kekurangan yg ingin diatasi?

IP Address ketika ada komentar masuk, mestinya ada yang dicatat.

### Jelaskan solusi yg diinginkan

Fungsinya bisa untuk memblokir akses/komentar berdasarkan IP Address.

### Apakah ada alternatif lain

-

### Untuk versi OpenSID mana

-

### Informasi tambahan

_No response_

[2022-01-03 17:31] Zoel-WB commented on #4641
Upload Sertifikat Vaksin Dosis Dua Belum Berfungsi
cc: Pak @apidong

![image](https://user-images.githubusercontent.com/64481641/147961118-2984aff5-9aeb-4aa0-83d7-132d4ec314da.png)

[2022-01-03 17:35] apidong commented on #4641
mas @scqolbu24, untuk 2 item ini bisa diperjelas?

- Unduh data vaksin juga mengikuti filter data pada form input data
- Pada form cetak rekap laporan—>pilihan-nya dipilih atau tidak dipilih—>belum berfungsi

[2022-01-04 00:09] ahmadngudi opened #4673 "Bug/error: Masuk sebagai Operator hanya beberapa menu yang tampil di dasbord"
### Jelaskan error yg dialami

Jelaskan error yg dialami

### Cara untuk mereplikasi errornya

Cara untuk mereplikasi errornya

### Hasil yg diharapkan

Hasil yg diharapkan

### Tangkapan layar dan log error

![Screenshot_61](https://user-images.githubusercontent.com/57133748/147993546-66d4d8cb-808f-4619-8561-b4b23527e1df.png)
Tampilan Operator

![Screenshot_65](https://user-images.githubuserconte

[2022-01-04 02:15] eddieridwan opened #4674 "[Layanan Mandiri] Jangan tampilkan pesan NIK tidak ditemukan"
### Jelaskan error yg dialami

Saat ini pada fitur Lupa Pin, jika NIK tidak ditemukan ditampilkan pesan di bawah. Ini merupakan celah privasi data. Lihat penjelasan di issue https://github.com/OpenSID/OpenSID/issues/4557

![image](https://user-images.githubusercontent.com/249563/148000429-3204cb9b-58c2-4faa-9003-d5e8ff85bd5b.png)

### Cara untuk mereplikasi errornya

Lihat gambar di atas

### Hasi

[2022-01-04 03:22] apidong commented on #4641
sudah diperbaiki di https://github.com/OpenSID/premium/pull/554

[2022-01-04 03:34] agungsugiarto commented on #4673
Sudah diperbaiki melalui pr https://github.com/OpenSID/premium/pull/563

[2022-01-04 03:34] #4673 closed, assigned to andifahruddinakas

[2022-01-04 03:52] wahyabiantara opened #4675 "Bug/error: List Pamong Tidak Muncul Saat Cetak Laporan Hasil Klasifikasi Analisis"
### Jelaskan error yg dialami

Tidak bisa mencetak hasil analisis per penduduk/kepala keluarga pada menu **Laporan Hasil Klasifikasi** jika sebelumnya dilakukan pencarian data penduduk yang ingin dicetak karena data Pamong penandatangan tidak muncul

### Cara untuk mereplikasi errornya

1. Klik Menu Analisis > Master Analisis
2. Klik menu Laporan Hasil Klasifikasi
3. Search salah satu nama pendudu

[2022-01-04 04:14] wahyabiantara opened #4676 "Bug/error: Penduduk Mati Masih Muncul Pada data Rumah Tangga"
### Jelaskan error yg dialami

Jika status dasar penduduk diganti menjadi Mati, pada data Kepala Keluarga data penduduk tersebut sudah secara otomatis tidak muncul saat dilihat pada Kartu Keluarga. Namun, pada data Rumah Tangga, data penduduk tersebut masih muncul

### Cara untuk mereplikasi errornya

1. Klik menu Penduduk dan Ubah salah satu status dasar penduduk menjadi Mati
2. Klik menu Rumah T

[2022-01-04 05:37] sulaimanlawidhub commented on #4582
Sangat setuju sekali dengan tujuan dari issue ini. Semoga dapat segera direalisasikan, sebab ini merupakan bagian penting dalam kemanfaatan SID.

[2022-01-04 08:41] wahyabiantara opened #4677 "Bug/error: Pada Update Hubungan Rumah Tangga"
### Jelaskan error yg dialami

Saat melakukan update Hubungan Rumah Tangga dari Anggota menjadi Kepala Rumah Tangga, tabel `tweb_rtm` pada kolom `nik_kepala` tidak berubah, sehingga informasi Kepala Rumah Tangga yang muncul masih Kepala Rumah Tangga yang lama pada data Rumah Tangga.

Permasalahan menjadi sedikit kompleks ketika Kepala Rumah Tangga tersebut status dasar sudah Mati.

### Cara untuk

[2022-01-04 11:52] andifahruddinakas opened #4678 "Permintaan fitur: Halaman khusus untuk daftar artikel"
### Apa kekurangan yg ingin diatasi?

Ada beberapa tema yang menerapkan konserp portal, misalnya tema citraone. Krn halaman utama diambil oleh bagian portal tsb yg seharusnya menampilkan artikel. Sehingga tdk bisa melihat artikel terbaru.

### Jelaskan solusi yg diinginkan

Ada halaman khusus artikel jika menggunakan format portal.

### Apakah ada alternatif lain

Saat ini masih bisa ditangani den

[2022-01-04 15:15] scqolbu24 commented on #4641
Pak @Zoel-WB mohon dibantu dijelasakan perihal filter status vaksin yang betul seperti apa?

<img width="800" alt="Filter Status vaksin" src="https://user-images.githubusercontent.com/68048807/148130350-43757aea-51e2-4c8c-af61-78912a32a1a8.PNG">

<img width="800" alt="Filter Valksin k3" src="https://user-images.githubusercontent.com/68048807/148131470-00ee8a53-7942-4ff0-b638-9a5e866c8fd3.PNG">

[2022-01-04 15:34] dgyoganantha commented on #4582
Setuju

[2022-01-04 16:22] Zoel-WB commented on #4641
cc; Pak @apidong
Masalah Filter Data maksdudnya data yg tampil pada "Daftar Penerima" yang tertampil dalam list halaman 50 data saja
![image](https://user-images.githubusercontent.com/64481641/148089180-2d1ef619-fd94-498e-a242-8815db9ddd08.png)
![image](https://user-images.githubusercontent.com/64481641/148090370-395311b1-603e-4418-9e98-e9a9f6cd1fe9.png)

Saat memilih Fitur "Laporan Penduduk"
Memi

[2022-01-04 16:27] Zoel-WB commented on #4641
Toombol/Dropdown untuk Filter Data Per-Dusun pada fitur "Daftar Penerima Vaksin" Belum Berfungsi atau saat diplih untuk menampilkan data dusun yg di inginkan.
![image](https://user-images.githubusercontent.com/64481641/148091093-51c7c57d-78e0-4c9f-ad86-6190a60e9d88.png)

[2022-01-04 17:38] cepiandiana opened #4679 "Tambahkan Fitur Barcode Nomor Rumah Yang Datanya Bisa Dikonfirmasi."
### Apa kekurangan yg ingin diatasi?

Di Desa kami sedang dilakukan pendataan nomor rumah, dan dipasangi plat nomor rumah dilengkapi dengan barcode.
Nantinya pada saat di scan barcode, muncul nama pengisi rumah tersebut yang sebelumnya di regist di dashboard admin opensid.

Namun di opensid belum tersedia fitur itu, kami menggunakam aplikasi terpisah..

### Jelaskan solusi yg diinginkan

Adanya fi

[2022-01-04 18:53] Nurhidayat29 commented on #4675
apakah sudah coba di demo?
saya lihat tidak ditemukan error tersebut

[2022-01-04 22:02] scqolbu24 commented on #4641
Kalau Filter yang ini yang  betul bagaimana pak @Zoel-WB ? ketika milih filter vaksin dosis 2 maka yang terfilter hanya data yang sudah vaksin 2 atau bagaimana?

contoh : A sudah vaksin sampai dosis 3, apakah A ikut tampil juga di filter vaksin dosis 2? dengan keterangannya vaksin dosis ke-3 (seperti yang tertera di gambar.

[2022-01-05 00:50] FirlianiF commented on #4661
Sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/558

[2022-01-05 00:52] #4661 closed, assigned to totoprayogo1916

[2022-01-05 01:42] eddieridwan opened #4680 "Permintaan fitur: Integrasikan aplikasi stunting"
### Apa kekurangan yg ingin diatasi?

Anggota komunitas telah membuat aplikasi stunting yg dibagikan kepada pengguna lain. Aplikasi stunting ini berdiri sendiri dan belum terintegrasi dengan OpenSID.

### Jelaskan solusi yg diinginkan

Integrasikan aplikasi stunting karya anggota komunitas dengan OpenSID. Aplikasi itu ada di https://github.com/OpenSID/stunting.

Gabungkan aplikasi itu ke dalam Ope

[2022-01-05 02:27] #4662 closed, assigned to nobody

[2022-01-05 02:47] ai-skematik commented on #4631
perbaikan ini sangat dibutuhkan untuk laporan realisasi semester 2.

[2022-01-05 03:15] eddieridwan opened #4681 "Ubah daftar kontak dikhususkan kontak eksternal (tidak ada di daftar penduduk)"

[2022-01-05 03:19] eddieridwan commented on #4681
![image](https://user-images.githubusercontent.com/249563/148161450-99a86706-ed85-4fec-9d25-4afd84688ea5.png)

Cara hubung pilihan adalah salah satu dari: sms, email, akun Telegram. Default adalah Telegram. Pilihan SMS hanya berlaku jika pengaturan SMS aktif.

Sesuaikan tabel `kontak`.

![image](https://user-images.githubusercontent.com/249563/148161587-bfa05736-c5c4-4b3c-abe8-702aeda49bf7.png)

[2022-01-05 03:23] eddieridwan opened #4682 "Tambah anggota grup kontak bisa dari penduduk atau kontak eksternal"

[2022-01-05 03:26] eddieridwan commented on #4682
![image](https://user-images.githubusercontent.com/249563/148155827-2ec578f7-eac4-4bea-8a55-8489d2656b78.png)

![image](https://user-images.githubusercontent.com/249563/148156020-321009f0-5cf7-4474-a291-9510e7b595f9.png)

Jika dari penduduk, data kontak (email/hp/telegram) diambil dari tabel `tweb_penduduk`.

Jika dari kontak eksternal, data kontak (email/hp/telegram) diambil dari tabel `kontak`.

[2022-01-05 03:45] Zoel-WB commented on #4680
Pandangan saya lebih cocok diserap dalam OpenSID bisa melebih meringankan beban hosting disatu sisi, dan memudahkan admin utk mengontrol system.

Mungkin login akun saja yg dipisahkan khusus untuk posyandu dan stunting dibuat user tersendiri, fitur keduanya dapat disatukan dalam satu user, baik posyandu maupun stunting keduanya dibawah koordinasi satu KPM walaupun anggaran operasionalnya terpisah.

[2022-01-05 03:50] scqolbu24 commented on #4645
sudah diperbaiki melalui PR https://github.com/OpenSID/premium/pull/559

[2022-01-05 03:50] #4645 closed, assigned to agungsugiarto

[2022-01-05 04:11] eddieridwan opened #4684 "Tambah menu Hubung Warga > Kirim Pesan"

[2022-01-05 04:18] agungsugiarto opened #4685 "Permintaan fitur: Unit testing terintegrasi dengan github action"
### Apa kekurangan yg ingin diatasi?

Saat melakukan testing hanya dilakukan manual yang kadang luput setiap kali rilis baru dibagikan

### Jelaskan solusi yg diinginkan

Perlu dilakukan unit testing secara otomatis untuk menjalankan testing aplikasi, untuk saat ini mungkin pilih untuk modul baru, seperti Kehadiran Perangkat Desa. Bisa juga untuk issue2 terkait verifikasi email/Telegram atau reset

[2022-01-05 04:18] eddieridwan commented on #4684
![image](https://user-images.githubusercontent.com/249563/148160469-cf2be0e2-8710-40d1-9f05-0fcef7755589.png)

#### Tulis Pesan ke Grup

Kirim pesan ke grup. Pesan dikirim menggunakan cara hubung pilihan masing2 orang di dalam grup, default Telegram. Pilihan SMS hanya berlaku jika pengaturan SMS diaktifkan.

Jika cara hubung pilihan tidak valid (misalnya email kosong), kirim menggunakan Telegram.

[2022-01-05 04:47] eddieridwan opened #4686 "Di menu navigasi modul, ganti menu SMS menjadi Hubung Warga"

[2022-01-05 04:48] eddieridwan commented on #4686
![image](https://user-images.githubusercontent.com/249563/148162069-69ad703b-08e8-4485-b246-5f226be71af0.png)

[2022-01-05 04:50] eddieridwan opened #4687 "Tambah cara hubung pilihan di data penduduk"

[2022-01-05 04:55] eddieridwan commented on #4687
![image](https://user-images.githubusercontent.com/249563/148162462-3f99fd38-6f2b-49a2-b7d4-c566845d7fc3.png)

Salah satu dari: SMS, email, akun Telegram. Default Telegram. Pilihan SMS hanya berlaku jika pengaturan SMS diaktifkan.

[2022-01-05 05:03] eddieridwan opened #4688 "Sesuaikan pengiriman SMS dengan perubahan Hubung Warga"

[2022-01-05 05:04] eddieridwan commented on #4688
Sesuaikan modul pengiriman melalui SMS dengan perubahan tabel dan lainnya yang dilakukan untuk modul Hubung Warga.